
.article {
  background-color: #fff;
  width: 100%;
}

.article-header-top {
  display: flex;
  flex-direction: row; /* default value; can be omitted */
}

.article-header-top-left {
  width: 90%;
}

.article-header-top-right {
  width: 10%;
}

.article-body {
  display: block;
}

.two-pane {
  display: flex;
  background-color: #fff;
  flex-direction: row; /* default value; can be omitted */
}

.left-pane {
  background-color: #fff;
  width: 50%;
}

.right-pane {
  background-color: #fff;
  width: 50%;
}

h1 {
  color: #1B73EE
}

p.code {
  font-family: Consolas, monaco, monospace;
}

.code-box {
  overflow-y: scroll;  
  height: 400px;
  background-color: #DDE0E4;
  border-radius: 10px;
} 


.x-collapsible {
  background-color: #fff;
  color: Black;
  cursor: pointer;
  padding: 5px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-style: bold;
  overflow: hidden;
}

.active, .collapsible:hover {
  background-color: #555;
}

.x-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #fff;
}

details summary > * {
  display: inline;
}

