 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

pre.error {
  background-color: red;
  color: white;
}


/* Navigation  */

.collapsible {
  background-color: #fff;
  color: #88909A;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
}

.active, .collapsible:hover {
  background-color: #fff;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
}

a.nav-text {
  font-size: 14;
  color: #88909A;
  text-decoration: none;
}


.main_container{
  width: 100%;
  height: 100vh;
  background-color: #fff;
  }
  
  
  
  .header{
  width: 100%;
  height: 62px;
  background-color: #f7f7f7;
  }
  
  
  
  .content_container{
  display: flex; /* establish flex container */
  flex-direction: row; /* default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: #fff;
  }
  
  
  
  .left{
  width: 20%;
  height: 100vh;
  background-color: #fff;
  }
  
  
  
  .center{
  width: 60%;
  height: 100vh;
  background-color: #fff;
  }
  
  
  
  .topic_title{}
  
  
  
  .tiles{}
  
  
  
  .right{
  width: 20%;
  height: 100vh;
  background-color: #5f5f5f;
  }
  
  
  
  #explorer{}
  
  
  
  .p{
  
  }
