openapi: 3.0.1
info:
  title: Services.AutoTrading
  description: 'The AutoTrading service group provides endpoints for interacting with Saxo Bank''s SaxoSelect offering.Through these interfaces a client application can get Saxo Select trade leaders, portfolios and investments. Portfolio investments can be created and modifed.<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''><strong> Note:</strong> </br>This service is subject to special licensing agreements and not generally available to all OpenAPI applications.</div>'
  version: 2.4.138+710c760591
  x-framework-version: 38.0.2+439c5b0ec3
  x-machine: SIMOAWEB11-DK2
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  '/at/v3/investments/subscriptions/suggestions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Investments
      summary: Remove session wide suggestion subscription
      description: Removes the suggestion subscription identified by the specified reference id (and streaming context id).
      operationId: InvestmentsV3DeleteSuggestionSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: explorer_201704091208182471
        - name: ReferenceId
          in: path
          description: The reference id that identifies the subscription (within a streaming session).
          required: true
          schema:
            type: string
          example: '123'
      responses:
        '204':
          description: No Content
        '202':
          description: Accepted
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionNotFound
                    type: string
                    x-enum-descriptions:
                      SubscriptionNotFound: Subscription not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  '/at/v3/investments/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Investments
      summary: Remove session wide subscription
      description: Removes the subscription identified by the specified reference id (and streaming context id).
      operationId: InvestmentsV3DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: explorer_201704091208182471
        - name: ReferenceId
          in: path
          description: The reference id that identifies the subscription (within a streaming session).
          required: true
          schema:
            type: string
          example: '123'
      responses:
        '204':
          description: No Content
        '202':
          description: Accepted
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionNotFound
                    type: string
                    x-enum-descriptions:
                      SubscriptionNotFound: Subscription not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /at/v3/investments/subscriptions/suggestions:
    post:
      tags:
        - Investments
      summary: Create a session wide suggestion subscription
      description: "Sets up a new session wide suggestion subscription. The data stream will deliver updates from this point.\r\n            Provides updates on all investments that one could possibly participate in."
      operationId: InvestmentsV3AddSuggestionSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestmentsSubscriptionRequest'
            example:
              ContextId: explorer_201704091208182471
              ReferenceId: '123'
              RefreshRate: 1000
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentSuggestionContractInvestmentsSubscriptionResponse'
              example:
                ContextId: ContextId8d2541cd-f136-45d9-8492-f6fbcca724f3
                Format: Format87697a73-44b2-4885-89f7-8cd4d61d88b5
                InactivityTimeout: 224
                ReferenceId: ReferenceIdf5fda778-c237-4b00-9fda-7f869b359119
                RefreshRate: 78
                Snapshot:
                  - AutoTradingPartnerLeaderId: AutoTradingPartnerLeaderIda1f21a29-744a-4123-9c4c-da292f76c3c6
                    ClientId: 1227010735
                    Currency: Currency0c7a3ebd-626a-41e6-82f0-729c3f873434
                    IsAuthorizedToFollow: true
                    IsFollowAllowed: false
                    IsFollowing: false
                    IsOpenForFollowers: true
                    IsReadyForTrading: true
                    IsTradeFollowerReady: false
                    MinimumFunding: 0.95958769738655
                    StrategyName: StrategyName53af1bcf-46aa-4ce8-abd1-61accf9ef5bb
                    TradeLeaderId: TradeLeaderId54972f08-a548-445c-90b5-451868eb3326
                State: Active
                Tag: Tag0598245e-a908-4305-b672-81e2c21d67c5
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                      - NotConfiguredForService
                      - RefreshRateMustBePositive
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      NotConfiguredForService: You are not configured for this service. Please Contact Service Center for support.
                      RefreshRateMustBePositive: Refresh rate must be positive.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/InvestmentSuggestionContractIEnumerable'
  /at/v3/investments/subscriptions:
    post:
      tags:
        - Investments
      summary: Create a session wide subscription
      description: "Sets up a new session wide subscription. The data stream will deliver updates from this point.\r\n            Provides updates on the investments that one actively participating in."
      operationId: InvestmentsV3AddSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestmentsSubscriptionRequest'
            example:
              ContextId: explorer_201704091208182471
              ReferenceId: '123'
              RefreshRate: 1000
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentContractInvestmentsSubscriptionResponse'
              example:
                InactivityTimeout: 120
                RefreshRate: 1000
                Snapshot:
                  - AccountId: ALUSD*2147279411
                    AccountKey: y3OYuYog1dSJ2gLXrBLYejddPfnZpPFsfci84-E4|X0=
                    AutoTradingPartnerLeaderId: '11'
                    ClientId: 2147279411
                    Currency: USD
                    DisplayName: Investment Account 1
                    DisplayState: 7
                    EntryGateResult: NA
                    ErrorNumber: 0
                    InitialFunding: 63291
                    InvestmentId: '3353'
                    InvestmentProcessState: Stopping
                    InvestmentShieldAmount: 0
                    InvestmentStateId: 32
                    IsAuthorizedToFollow: true
                    IsFollowAllowed: true
                    IsFollowing: false
                    IsOpenForFollowers: false
                    IsReadyForTrading: false
                    IsTradeFollowerReady: true
                    IsWithdrawalInProgress: false
                    MinimumFunding: 20000
                    PendingFunding: 63291
                    ReservedAmount: 0
                    StateName: Ready
                    StrategyName: Discretionary Trading
                    TradeLeaderId: '1'
                  - AccountId: BRCHA*2147279411
                    AccountKey: PCXvSNri4gfq0HWg6D18Yp|EQN3qRivawC3ak9LvubA=
                    AutoTradingPartnerLeaderId: '110'
                    ClientId: 2147279411
                    Currency: CHF
                    DisplayName: Investment Account 2
                    DisplayState: 3
                    EntryGateResult: NA
                    ErrorNumber: 0
                    InitialFunding: 0
                    InvestmentId: '3356'
                    InvestmentProcessState: Retry
                    InvestmentShieldAmount: 0
                    InvestmentStateId: 7
                    IsAuthorizedToFollow: true
                    IsFollowAllowed: true
                    IsFollowing: true
                    IsOpenForFollowers: true
                    IsReadyForTrading: false
                    IsTradeFollowerReady: true
                    IsWithdrawalInProgress: false
                    MinimumFunding: 10000
                    PendingFunding: 10000
                    ReservedAmount: 0
                    StateName: Stopping
                    StrategyName: Aggressive Portfolio (CHF)
                    TradeLeaderId: '93'
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                      - NotConfiguredForService
                      - RefreshRateMustBePositive
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      NotConfiguredForService: You are not configured for this service. Please Contact Service Center for support.
                      RefreshRateMustBePositive: Refresh rate must be positive.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/InvestmentContractIEnumerable'
  /at/v3/investments/summaries:
    get:
      tags:
        - Investments
      description: "Gets the investment information for all clients under the given client combined with the investments of client itself and this information\r\n            is grouped according to the leaders."
      operationId: InvestmentsV3GetInvestmentsummariesAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeLeaderSummaryListResult'
              example:
                Data:
                  - CategoryName: Balanced Portfolios
                    Currency: GBP
                    Investments:
                      - AccountId: SAMGS*585220
                        ClientId: 2147279411
                        InitialFunding: 1000000
                        InvestmentStartDateTime: '2022-09-29T04:28:00.7609276Z'
                        IsActive: true
                        PendingFunding: 0
                        StateName: Ready
                        SuitabilityLevel: VeryHigh
                        TimeWhenStateModified: '2022-10-28T04:28:00.7609276Z'
                    MinimumFundingAmount: 10000
                    MostRecentStart:
                      AccountId: SAMGS*585220
                      ClientId: 2147279411
                      TimeWhenStateModified: '2022-10-28T04:28:00.7609276Z'
                    NumberOfFollowers: 1
                    Products: CFDs
                    ReturnPercentage: 0.95
                    StateOfLeader: Ready
                    StrategyName: Moderate Portfolio (GBP)
                    SuitabilityLevel: High
                    TradeLeaderId: '77'
                    TradeLeaderOptions: UsExchanges
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotConfiguredForService
                    type: string
                    x-enum-descriptions:
                      NotConfiguredForService: You are not configured for this service. Please Contact Service Center for support.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvestmentSummaryNotFound
                    type: string
                    x-enum-descriptions:
                      InvestmentSummaryNotFound: Investment not found under given WLC
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/at/v3/investments/{InvestmentId}/maxWithdrawalAmount':
    get:
      tags:
        - Investments
      description: Get max amount currently available for withdrawal from an investment.
      operationId: InvestmentsV3GetMaxWithdrawalAmountAsync
      parameters:
        - name: InvestmentId
          in: path
          description: Id of the investment portfolio.
          required: true
          schema:
            type: string
          example: '1505'
        - name: TargetAccountId
          in: query
          description: max withdrawal amount returned to this account id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalAmountContract'
              example:
                MaxWithdrawalAmount: 10000
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidInvestmentId
                      - NotConfiguredForService
                      - WithdrawalNotAllowed
                    type: string
                    x-enum-descriptions:
                      NotConfiguredForService: You are not configured for this service. Please Contact Service Center for support.
                      InvalidInvestmentId: Invalid investment Id.
                      WithdrawalNotAllowed: Withdrawal not allowed
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvestmentNotFound
                    type: string
                    x-enum-descriptions:
                      InvestmentNotFound: Investment not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/at/v3/investments/{InvestmentId}/withdraw':
    put:
      tags:
        - Investments
      description: Initiate partial or full amount withdrawal from an investment.
      operationId: InvestmentsV3PutInvestmentAsync
      parameters:
        - name: InvestmentId
          in: path
          description: Id of the investment portfolio to update
          required: true
          schema:
            type: integer
            format: int32
          example: 1505
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestmentWithdraw'
            example:
              Amount: 10000
              TargetAccountKey: nUAg42i1-LI7kgWmWfSoaw==
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidAmount
                      - InvalidInvestmentId
                      - InvalidTargetAccountKey
                      - NotConfiguredForService
                      - WithdrawalNotAllowed
                    type: string
                    x-enum-descriptions:
                      InvalidInvestmentId: Invalid investment Id.
                      NotConfiguredForService: You are not configured for this service. Please Contact Service Center for support.
                      InvalidAmount: Amount is not valid
                      InvalidTargetAccountKey: Target Account key is not valid
                      WithdrawalNotAllowed: Withdrawal not allowed
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountNotFound
                      - InvestmentNotFound
                    type: string
                    x-enum-descriptions:
                      InvestmentNotFound: Investment not found.
                      AccountNotFound: 'Account not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Write
  '/at/v3/investments/{InvestmentId}':
    patch:
      tags:
        - Investments
      description: Update an investment.
      operationId: InvestmentsV3PatchInvestmentAsync
      parameters:
        - name: InvestmentId
          in: path
          description: Id of the investment to update
          required: true
          schema:
            type: string
          example: '1505'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestmentEdit'
            example:
              DisplayName: Investment Account
              FundingAccountKey: nUAg42i1-LI7kgWmWfSoaw==
              InvestmentShieldAmount: 80000
              IsActive: true
              PendingFunding: 0
              PositionsCloseOnDeactivation: true
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidEditParameters
                      - InvalidFundingAccountKey
                      - InvalidInvestmentId
                      - InvestmentUpdateNotAllowed
                      - NotConfiguredForService
                      - SuitabilityExpired
                    type: string
                    x-enum-descriptions:
                      NotConfiguredForService: You are not configured for this service. Please Contact Service Center for support.
                      InvalidInvestmentId: Invalid investment Id.
                      InvalidEditParameters: One or more edit parameters are invalid.
                      InvestmentUpdateNotAllowed: Investment update not allowed
                      InvalidFundingAccountKey: Funding Account key is not valid.
                      SuitabilityExpired: Suitability has expired
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Write
  /at/v3/investments:
    get:
      tags:
        - Investments
      description: Retrieve potential investment details for a specific leader.
      operationId: InvestmentsV3GetInvestmentByLeader
      parameters:
        - name: TradeLeaderId
          in: query
          description: Id of leader to retrieve data for
          required: true
          schema:
            type: string
          example: '8'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentContract'
              example:
                AccountId: SAMGS*585220
                AccountKey: LLnUM8rL-9CVIKwZTZG96g==
                ClientId: 2147279411
                Currency: EUR
                DisplayName: Investment Account
                DisplayState: 6
                EntryGateResult: NA
                ErrorNumber: 0
                InitialFunding: 1000000
                InvestmentId: '1505'
                InvestmentProcessState: Starting
                InvestmentShieldAmount: 700000
                InvestmentStateId: 31
                IsAuthorizedToFollow: true
                IsFollowAllowed: true
                IsFollowing: true
                IsOpenForFollowers: false
                IsReadyForTrading: true
                IsTradeFollowerReady: true
                IsWithdrawalInProgress: false
                MinimumFunding: 20000
                PendingFunding: 0
                ReservedAmount: 0
                StrategyName: Global StockPicker
                TradeLeaderId: '8'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidTradeLeaderId
                      - NotConfiguredForService
                    type: string
                    x-enum-descriptions:
                      NotConfiguredForService: You are not configured for this service. Please Contact Service Center for support.
                      InvalidTradeLeaderId: Invalid trade leader Id.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvestmentNotFound
                    type: string
                    x-enum-descriptions:
                      InvestmentNotFound: Investment not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
    post:
      tags:
        - Investments
      description: Start an investment.
      operationId: InvestmentsV3PostInvestment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestmentCreate'
            example:
              DisplayName: Investment Account
              FundingAccountKey: nUAg42i1-LI7kgWmWfSoaw==
              InitialFunding: 0
              InvestmentShieldAmount: 700000
              IsDisclaimerAccepted: true
              TradeLeaderId: '8'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentCreateResponse'
              example:
                AccountId: AccountId8f46f535-21d1-4155-a53c-33a47277891c
                AccountKey: AccountKeyf94d4c93-2e22-49e1-8abb-27329b124ed7
                AutoTradingPartnerLeaderId: AutoTradingPartnerLeaderId437b8a5b-5cf8-4e15-b4d9-3da0c4a845b4
                ClientId: 1347546923
                Currency: Currency0b671c12-7803-4407-89be-a75f6d49b5c4
                DisplayName: DisplayName6b7bb7fe-f67c-4869-9e4e-cd308d352911
                DisplayState: 27
                EntryGateResult: Passed
                ErrorCode: JointInactive
                ErrorNumber: 158
                InitialFunding: 0.709488569623552
                InvestmentId: InvestmentId07cbba71-a915-4e82-84e8-d68d9ef290ad
                InvestmentShieldAmount: 0.766601990334039
                InvestmentStateId: 80
                IsAuthorizedToFollow: true
                IsFollowAllowed: false
                IsFollowing: false
                IsOpenForFollowers: true
                IsReadyForTrading: true
                IsTradeFollowerReady: false
                IsWithdrawalInProgress: true
                MinimumFunding: 0.302201525914577
                PendingFunding: 0.46164979807178
                ReservedAmount: 0.876714622544458
                ReturnPercentage: 0.715073600744397
                StateName: StateName73f11d49-acf6-4449-80c5-e1ac47b2614e
                StrategyName: StrategyName6a5eef43-e4c6-414a-be77-b1f318df1ce0
                TradeLeaderId: TradeLeaderIde5f498f6-3e5f-4333-a858-9f558a66fd4b
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidFundingAccountKey
                      - InvalidTradeLeaderId
                      - InvestmentRestrictionsNotPassed
                      - NotConfiguredForService
                    type: string
                    x-enum-descriptions:
                      NotConfiguredForService: You are not configured for this service. Please Contact Service Center for support.
                      InvalidTradeLeaderId: Invalid trade leader Id.
                      InvalidFundingAccountKey: Funding Account key is not valid.
                      InvestmentRestrictionsNotPassed: Investment restrictions not passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Write
  /at/v3/investments/me:
    get:
      tags:
        - Investments
      description: Retrieve all investments for the client.
      operationId: InvestmentsV3GetInvestments
      parameters:
        - name: TradeLeaderId
          in: query
          description: Id of trade leader
          schema:
            type: string
          example: '8'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentContractListResult'
              example:
                Data:
                  - AccountId: SAMGS*585220
                    AccountKey: LLnUM8rL-9CVIKwZTZG96g==
                    ClientId: 2147279411
                    Currency: EUR
                    DisplayName: Investment Account
                    DisplayState: 6
                    EntryGateResult: NA
                    ErrorNumber: 0
                    InitialFunding: 1000000
                    InvestmentId: '1505'
                    InvestmentProcessState: Starting
                    InvestmentShieldAmount: 700000
                    InvestmentStateId: 31
                    IsAuthorizedToFollow: true
                    IsFollowAllowed: true
                    IsFollowing: true
                    IsOpenForFollowers: false
                    IsReadyForTrading: true
                    IsTradeFollowerReady: true
                    IsWithdrawalInProgress: false
                    MinimumFunding: 20000
                    PendingFunding: 0
                    ReservedAmount: 0
                    StrategyName: Global StockPicker
                    TradeLeaderId: '8'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidTradeLeaderId
                      - NotConfiguredForService
                    type: string
                    x-enum-descriptions:
                      NotConfiguredForService: You are not configured for this service. Please Contact Service Center for support.
                      InvalidTradeLeaderId: Invalid trade leader Id.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/at/v3/tradeLeaders/public/customselection/{SelectionId}':
    get:
      tags:
        - Trade Leaders
      description: Retrieve all Trade Leaders mapped to custom portfolioID (public)
      operationId: TradeLeadersV3GetTradeLeadersCustomSelectionPublic
      parameters:
        - name: SelectionId
          in: path
          description: Id of custom portfolio selection
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
          example: 5C736EB0-D605-4D92-8DA9-67D37F1A4473
        - name: StandardPeriod
          in: query
          description: Period to fetch account performance data
          schema:
            $ref: '#/components/schemas/Public.StandardPeriodType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeLeaderContract'
              example:
                AccountPerformance:
                  AccountSummary:
                    AverageTradeDurationInMinutes: 34260
                    AverageTradesPerWeek: 48.2325728770595
                    NumberOfDaysTraded: 1589
                    NumberOfLongTrades: 5434
                    NumberOfShortTrades: 5263
                    TopTradedInstruments:
                      - DAX.I
                      - DJI.I
                      - EURUSD
                      - GBPUSD
                      - NAS100.I
                      - NOKSEK
                      - EURNOK
                      - SP500.I
                    TotalReturnFraction: -0.9999963956455
                    TradedInstruments:
                      - FxSpot
                      - Stock
                      - FxVanillaOption
                      - ContractFutures
                    TradesTotalCount: 10697
                    TradesWonCount: 6499
                    WinFraction: 0.61
                  Allocation:
                    TradesPerAssetType:
                      ClosedTradesAllocations:
                        - AssetClassType: Equity
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: 1
                          TradeCount: 168
                          TradePct: 38.009049773755656
                          TradePercent: 0.38009049773755654
                        - AssetClassType: Currency
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: 0.249937016456527
                          TradeCount: 112
                          TradePct: 25.339366515837103
                          TradePercent: 0.25339366515837103
                        - AssetClassType: Commodity
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: 0.5628789450009563
                          TradeCount: 105
                          TradePct: 23.755656108597282
                          TradePercent: 0.23755656108597284
                        - AssetClassType: Fixed Income
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: -0.013150856136249162
                          TradeCount: 57
                          TradePct: 12.895927601809955
                          TradePercent: 0.12895927601809956
                    TradesPerInstrument:
                      ClosedTradesAllocations:
                        - AssetType: ContractFutures
                          CalculationBasis: 0
                          CalculationDataType: 0
                          InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
                          InstrumentSymbol: ZBU6
                          InstrumentUic: 3626018
                          PortfolioAllocationType: 0
                          ReturnAttribution: -0.15987101005684304
                          TradeCount: 40
                          TradePct: 9.049773755656108
                          TradePercent: 0.09049773755656108
                        - AssetType: FxSpot
                          CalculationBasis: 0
                          CalculationDataType: 0
                          InstrumentDescription: British Pound/US Dollar
                          InstrumentSymbol: GBPUSD
                          InstrumentUic: 31
                          PortfolioAllocationType: 0
                          ReturnAttribution: 0.14685155225185834
                          TradeCount: 37
                          TradePct: 8.3710407239819
                          TradePercent: 0.083710407239819
                  BalancePerformance:
                    AccountBalanceTimeSeries:
                      - Date: '2016-03-28'
                        Value: 0
                      - Date: '2016-03-29'
                        Value: 0
                    AccountValueTimeSeries:
                      - Date: '2016-03-28'
                        Value: 0
                      - Date: '2016-03-29'
                        Value: 0
                    MonthlyProfitLossTimeSeries:
                      - Date: '2015-11-30'
                        Value: 0
                      - Date: '2015-12-31'
                        Value: 0
                    SecurityTransferTimeSeries:
                      - Date: '2016-03-28'
                        Value: 0
                      - Date: '2016-03-29'
                        Value: 0
                    YearlyProfitLossTimeSeries:
                      - Date: '2015-12-31'
                        Value: 0
                      - Date: '2016-12-31'
                        Value: 0
                      - Date: '2017-12-31'
                        Value: 0
                  BenchMark:
                    AssetType: CfdOnIndex
                    Description: Japan 225
                    DisplayHintType: None
                    Uic: 16351
                  BenchmarkPerformance:
                    - Date: '2018-05-31'
                      Value: 0
                    - Date: '2018-06-01'
                      Value: 0.0014689581211755269
                    - Date: '2018-06-04'
                      Value: 0.014297558645674684
                    - Date: '2018-06-05'
                      Value: 0.015536710435009869
                    - Date: '2018-06-06'
                      Value: 0.020349125384137055
                    - Date: '2018-06-07'
                      Value: 0.030226291646765137
                    - Date: '2018-06-08'
                      Value: 0.02173697538819246
                    - Date: '2018-06-11'
                      Value: 0.029834269080684553
                    - Date: '2018-06-12'
                      Value: 0.03227201860079486
                    - Date: '2018-06-13'
                      Value: 0.034308733541811236
                    - Date: '2018-06-14'
                      Value: 0.02529221452195777
                    - Date: '2018-06-15'
                      Value: 0.030685904310445825
                    - Date: '2018-06-18'
                      Value: 0.02224164811693988
                    - Date: '2018-06-19'
                      Value: 0.0028207600731775455
                    - Date: '2018-06-20'
                      Value: 0.014617485107648496
                    - Date: '2018-06-21'
                      Value: 0.020673557852617538
                    - Date: '2018-06-22'
                      Value: 0.01429305263916801
                    - Date: '2018-06-25'
                      Value: 0.00672746771446338
                    - Date: '2018-06-26'
                      Value: 0.007971125510305236
                    - Date: '2018-06-27'
                      Value: 0.003203770626244784
                    - Date: '2018-06-28'
                      Value: 0.0029739642944044413
                    - Date: '2018-06-29'
                      Value: 0.0028297720861908925
                    - Date: '2018-07-02'
                      Value: 0.002604471760857223
                  From: '2016-03-28'
                  InceptionDay: '2015-11-24'
                  LastTradeDay: '2017-03-27'
                  Thru: '2017-03-27'
                  TimeWeightedPerformance:
                    AccumulatedTimeWeightedTimeSeries:
                      - Date: '2016-03-25'
                        Value: 0
                    MonthlyReturnTimeSeries:
                      - Date: '2016-03-25'
                        Value: 0
                    PerformanceFraction: -1
                    PerformanceKeyFigures:
                      ClosedTradesCount: 0
                      DrawdownReport:
                        Drawdowns:
                          - DaysCount: 3
                            DepthInPercent: 1
                            FromDate: '2016-08-05'
                            ThruDate: '2016-08-08'
                        MaxDaysInDrawdownFromTop10Drawdowns: 3
                      LosingDaysFraction: 0.03
                      MaxDrawDownFraction: 1
                      ReturnFraction: -1
                      SampledStandardDeviation: 0.0618018874919214
                      SharpeRatio: -0.952069751000777
                      SortinoRatio: -0.0591710418985739
                    YearlyReturnTimeSeries:
                      - Date: '2016-03-25'
                        Value: 0
                  TotalCashBalance: 20226.02
                  TotalCashBalancePerCurrency:
                    - StringValue: CAD
                      Value: -491.707122366824
                  TotalOpenPositionsValue: 29571.057
                  TotalPositionsValuePerCurrency:
                    - StringValue: CAD
                      Value: -491.707122366824
                  TotalPositionsValuePerProductPerSecurity:
                    - Description: Abengoa SA - Warrants
                      ProductName: Shares
                      Symbol: LOCK - 1496:xxxx
                      Value: 0
                AllowMultipleInvestment: true
                AllowPartialWithdrawal: true
                Category: Balanced Portfolios
                Currency: GBP
                FollowerAmountRemaining: 1000
                IsInvestmentShieldSupported: true
                IsOpenForFollowers: false
                LeaderPartnerOptions: 'PositionsCloseOnDeactivation, FeesAreExclusiveOfVat'
                ManagementFee: 0.95
                MinimumFundingAmount: 10000
                PerformanceFee: 0
                Prospectus:
                  CSPXJ: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvii-ishares-core-msci-pacific-ex-japan-ucits-etf-usd-acc-gb-ie00b52mjy50-en.pdf
                  E20Y: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiv-ishares-govt-bond-20yr-target-duration-ucits-etf-eur-dist-gb-ie00bskrjx20-en.pdf
                  EMIM: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ish-ishares-core-msci-em-imi-ucits-etf-usd-acc-gb-ie00bkm4gz66-en.pdf
                  EMBE: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-jp-morgan-em-bond-eur-hedged-ucits-etf-dist-gb-ie00b9m6rs56-en.pdf
                  EIMI: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ish-ishares-core-msci-em-imi-ucits-etf-usd-acc-gb-ie00bkm4gz66-en.pdf
                  EXXY: https://www.blackrock.com/kiid/literature/kiid/kiid-munich-all-ishares-diversified-commodity-swap-ucits-etf-de-gb-de000a0h0728-en.pdf
                  IBCX: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ish-ishares-corp-bond-large-cap-ucits-etf-eur-dist-gb-ie0032523478-en.pdf
                  IEGA: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiii-ishares-core-govt-bond-ucits-etf-eur-dist-gb-ie00b4wxjj64-en.pdf
                  IEGE: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiii-ishares-govt-bond-0-1yr-ucits-etf-eur-dist-gb-ie00b3fh7618-en.pdf
                  IMEU: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-msci-europe-ucits-etf-eur-dist-gb-ie00b1yzsc51-en.pdf
                  INFR: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-global-infrastructure-ucits-etf-usd-dist-gb-ie00b1fzs467-en.pdf
                  IRCP: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishv-ishares-corp-bond-interest-rate-hedged-ucits-etf-eur-dist-gb-ie00b6x2vy59-en.pdf
                  IUSE: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishv-ishares-sp-500-eur-hedged-ucits-etf-acc-gb-ie00b3zw0k18-en.pdf
                  IWDP: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-developed-markets-property-yield-ucits-etf-usd-dist-gb-ie00b1fzs350-en.pdf
                  MVEU: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-edge-msci-europe-minimum-volatility-ucits-etf-eur-acc-gb-ie00b86mwn23-en.pdf
                  SHYU: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-high-yield-corp-bond-ucits-etf-usd-dist-gb-ie00b4py7y77-en.pdf
                  SJPA: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiii-ishares-core-msci-japan-imi-ucits-etf-usd-acc-gb-ie00b4l5yx21-en.pdf
                  CHDVD: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-swiss-dividend-ch-ch-ch0237935637-en.pdf
                  CHCORP: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-core-chf-corporate-bond-ch-ch-ch0226976816-en.pdf
                  CHSPI: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-core-spi-ch-ch-ch0237935652-en.pdf
                  CSBGC0: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-swiss-domestic-government-bond-7-15-ch-ch-ch0016999861-en.pdf
                  CSBGC3: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-swiss-domestic-government-bond-1-3-ch-ch-ch0102530786-en.pdf
                  CSBGC7: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-swiss-domestic-government-bond-3-7-ch-ch-ch0016999846-en.pdf
                  CSGLDC: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ishii-ishares-gold-chf-hedged-ch-ch-ch0104136285-en.pdf
                  CSSMIM: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-smim-ch-ch-ch0019852802-en.pdf
                  EMBC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-jp-morgan-em-bond-chf-hedged-ucits-etf-dist-ch-ie00b9m04v95-en.pdf
                  EMUC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvii-ishares-msci-emu-chf-hedged-ucits-etf-acc-ch-ie00bwk1sp74-en.pdf
                  GHYC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-global-high-yield-corp-bond-chf-hedged-ucits-etf-dist-ch-ie00b988c465-en.pdf
                  IEMB: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-jp-morgan-em-bond-ucits-etf-usd-dist-ch-ie00b2npkv68-en.pdf
                  IJPC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-msci-japan-chf-hedged-ucits-etf-acc-ch-ie00b8j37j31-en.pdf
                  IUSC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-sp-500-chf-hedged-ucits-etf-acc-ch-ie00b88dz566-en.pdf
                RiskLevel: Moderate
                StrategyLegalAssetTypes:
                  - Stock
                  - Bond
                  - Cash
                StrategyName: Moderate Portfolio (GBP)
                SuitabilityLevel: Medium
                TradeLeaderId: '77'
                TradeLeaderOptions: FixedInvestmentAmount
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/at/v3/tradeLeaders/public/{TradeLeaderId}':
    get:
      tags:
        - Trade Leaders
      description: Retrieve single trade leader (public).
      operationId: TradeLeadersV3GetTradeLeaderPublic
      parameters:
        - name: OwnerKey
          in: query
          description: Id of the owner Key of owner to that leaders are available to.
          schema:
            title: Id of the owner Key of owner to that leaders are available to.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 966bf8c8-7202-45c0-8b4f-0c4bf1a47c4d
        - name: StandardPeriod
          in: query
          description: Period to fetch account performance data.
          schema:
            title: Period to fetch account performance data.
            allOf:
              - $ref: '#/components/schemas/Public.StandardPeriodType'
          example: Quarter
        - name: TradeLeaderId
          in: path
          description: Id of the trade leader.
          required: true
          schema:
            title: Id of the trade leader.
            type: integer
            format: int32
          example: 91
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeLeaderContract'
              example:
                AccountPerformance:
                  AccountSummary:
                    AverageTradeDurationInMinutes: 34260
                    AverageTradesPerWeek: 48.2325728770595
                    NumberOfDaysTraded: 1589
                    NumberOfLongTrades: 5434
                    NumberOfShortTrades: 5263
                    TopTradedInstruments:
                      - DAX.I
                      - DJI.I
                      - EURUSD
                      - GBPUSD
                      - NAS100.I
                      - NOKSEK
                      - EURNOK
                      - SP500.I
                    TotalReturnFraction: -0.9999963956455
                    TradedInstruments:
                      - FxSpot
                      - Stock
                      - FxVanillaOption
                      - ContractFutures
                    TradesTotalCount: 10697
                    TradesWonCount: 6499
                    WinFraction: 0.61
                  Allocation:
                    TradesPerAssetType:
                      ClosedTradesAllocations:
                        - AssetClassType: Equity
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: 1
                          TradeCount: 168
                          TradePct: 38.009049773755656
                          TradePercent: 0.38009049773755654
                        - AssetClassType: Currency
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: 0.249937016456527
                          TradeCount: 112
                          TradePct: 25.339366515837103
                          TradePercent: 0.25339366515837103
                        - AssetClassType: Commodity
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: 0.5628789450009563
                          TradeCount: 105
                          TradePct: 23.755656108597282
                          TradePercent: 0.23755656108597284
                        - AssetClassType: Fixed Income
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: -0.013150856136249162
                          TradeCount: 57
                          TradePct: 12.895927601809955
                          TradePercent: 0.12895927601809956
                    TradesPerInstrument:
                      ClosedTradesAllocations:
                        - AssetType: ContractFutures
                          CalculationBasis: 0
                          CalculationDataType: 0
                          InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
                          InstrumentSymbol: ZBU6
                          InstrumentUic: 3626018
                          PortfolioAllocationType: 0
                          ReturnAttribution: -0.15987101005684304
                          TradeCount: 40
                          TradePct: 9.049773755656108
                          TradePercent: 0.09049773755656108
                        - AssetType: FxSpot
                          CalculationBasis: 0
                          CalculationDataType: 0
                          InstrumentDescription: British Pound/US Dollar
                          InstrumentSymbol: GBPUSD
                          InstrumentUic: 31
                          PortfolioAllocationType: 0
                          ReturnAttribution: 0.14685155225185834
                          TradeCount: 37
                          TradePct: 8.3710407239819
                          TradePercent: 0.083710407239819
                  BalancePerformance:
                    AccountBalanceTimeSeries:
                      - Date: '2016-03-28'
                        Value: 0
                      - Date: '2016-03-29'
                        Value: 0
                    AccountValueTimeSeries:
                      - Date: '2016-03-28'
                        Value: 0
                      - Date: '2016-03-29'
                        Value: 0
                    MonthlyProfitLossTimeSeries:
                      - Date: '2015-11-30'
                        Value: 0
                      - Date: '2015-12-31'
                        Value: 0
                    SecurityTransferTimeSeries:
                      - Date: '2016-03-28'
                        Value: 0
                      - Date: '2016-03-29'
                        Value: 0
                    YearlyProfitLossTimeSeries:
                      - Date: '2015-12-31'
                        Value: 0
                      - Date: '2016-12-31'
                        Value: 0
                      - Date: '2017-12-31'
                        Value: 0
                  BenchMark:
                    AssetType: CfdOnIndex
                    Description: Japan 225
                    DisplayHintType: None
                    Uic: 16351
                  BenchmarkPerformance:
                    - Date: '2018-05-31'
                      Value: 0
                    - Date: '2018-06-01'
                      Value: 0.0014689581211755269
                    - Date: '2018-06-04'
                      Value: 0.014297558645674684
                    - Date: '2018-06-05'
                      Value: 0.015536710435009869
                    - Date: '2018-06-06'
                      Value: 0.020349125384137055
                    - Date: '2018-06-07'
                      Value: 0.030226291646765137
                    - Date: '2018-06-08'
                      Value: 0.02173697538819246
                    - Date: '2018-06-11'
                      Value: 0.029834269080684553
                    - Date: '2018-06-12'
                      Value: 0.03227201860079486
                    - Date: '2018-06-13'
                      Value: 0.034308733541811236
                    - Date: '2018-06-14'
                      Value: 0.02529221452195777
                    - Date: '2018-06-15'
                      Value: 0.030685904310445825
                    - Date: '2018-06-18'
                      Value: 0.02224164811693988
                    - Date: '2018-06-19'
                      Value: 0.0028207600731775455
                    - Date: '2018-06-20'
                      Value: 0.014617485107648496
                    - Date: '2018-06-21'
                      Value: 0.020673557852617538
                    - Date: '2018-06-22'
                      Value: 0.01429305263916801
                    - Date: '2018-06-25'
                      Value: 0.00672746771446338
                    - Date: '2018-06-26'
                      Value: 0.007971125510305236
                    - Date: '2018-06-27'
                      Value: 0.003203770626244784
                    - Date: '2018-06-28'
                      Value: 0.0029739642944044413
                    - Date: '2018-06-29'
                      Value: 0.0028297720861908925
                    - Date: '2018-07-02'
                      Value: 0.002604471760857223
                  From: '2016-03-28'
                  InceptionDay: '2015-11-24'
                  LastTradeDay: '2017-03-27'
                  Thru: '2017-03-27'
                  TimeWeightedPerformance:
                    AccumulatedTimeWeightedTimeSeries:
                      - Date: '2016-03-25'
                        Value: 0
                    MonthlyReturnTimeSeries:
                      - Date: '2016-03-25'
                        Value: 0
                    PerformanceFraction: -1
                    PerformanceKeyFigures:
                      ClosedTradesCount: 0
                      DrawdownReport:
                        Drawdowns:
                          - DaysCount: 3
                            DepthInPercent: 1
                            FromDate: '2016-08-05'
                            ThruDate: '2016-08-08'
                        MaxDaysInDrawdownFromTop10Drawdowns: 3
                      LosingDaysFraction: 0.03
                      MaxDrawDownFraction: 1
                      ReturnFraction: -1
                      SampledStandardDeviation: 0.0618018874919214
                      SharpeRatio: -0.952069751000777
                      SortinoRatio: -0.0591710418985739
                    YearlyReturnTimeSeries:
                      - Date: '2016-03-25'
                        Value: 0
                  TotalCashBalance: 20226.02
                  TotalCashBalancePerCurrency:
                    - StringValue: CAD
                      Value: -491.707122366824
                  TotalOpenPositionsValue: 29571.057
                  TotalPositionsValuePerCurrency:
                    - StringValue: CAD
                      Value: -491.707122366824
                  TotalPositionsValuePerProductPerSecurity:
                    - Description: Abengoa SA - Warrants
                      ProductName: Shares
                      Symbol: LOCK - 1496:xxxx
                      Value: 0
                AllowMultipleInvestment: true
                AllowPartialWithdrawal: true
                Category: Balanced Portfolios
                Currency: GBP
                FollowerAmountRemaining: 1000
                IsInvestmentShieldSupported: true
                IsOpenForFollowers: false
                LeaderPartnerOptions: 'PositionsCloseOnDeactivation, FeesAreExclusiveOfVat'
                ManagementFee: 0.95
                MinimumFundingAmount: 10000
                PerformanceFee: 0
                Prospectus:
                  CSPXJ: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvii-ishares-core-msci-pacific-ex-japan-ucits-etf-usd-acc-gb-ie00b52mjy50-en.pdf
                  E20Y: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiv-ishares-govt-bond-20yr-target-duration-ucits-etf-eur-dist-gb-ie00bskrjx20-en.pdf
                  EMIM: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ish-ishares-core-msci-em-imi-ucits-etf-usd-acc-gb-ie00bkm4gz66-en.pdf
                  EMBE: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-jp-morgan-em-bond-eur-hedged-ucits-etf-dist-gb-ie00b9m6rs56-en.pdf
                  EIMI: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ish-ishares-core-msci-em-imi-ucits-etf-usd-acc-gb-ie00bkm4gz66-en.pdf
                  EXXY: https://www.blackrock.com/kiid/literature/kiid/kiid-munich-all-ishares-diversified-commodity-swap-ucits-etf-de-gb-de000a0h0728-en.pdf
                  IBCX: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ish-ishares-corp-bond-large-cap-ucits-etf-eur-dist-gb-ie0032523478-en.pdf
                  IEGA: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiii-ishares-core-govt-bond-ucits-etf-eur-dist-gb-ie00b4wxjj64-en.pdf
                  IEGE: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiii-ishares-govt-bond-0-1yr-ucits-etf-eur-dist-gb-ie00b3fh7618-en.pdf
                  IMEU: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-msci-europe-ucits-etf-eur-dist-gb-ie00b1yzsc51-en.pdf
                  INFR: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-global-infrastructure-ucits-etf-usd-dist-gb-ie00b1fzs467-en.pdf
                  IRCP: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishv-ishares-corp-bond-interest-rate-hedged-ucits-etf-eur-dist-gb-ie00b6x2vy59-en.pdf
                  IUSE: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishv-ishares-sp-500-eur-hedged-ucits-etf-acc-gb-ie00b3zw0k18-en.pdf
                  IWDP: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-developed-markets-property-yield-ucits-etf-usd-dist-gb-ie00b1fzs350-en.pdf
                  MVEU: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-edge-msci-europe-minimum-volatility-ucits-etf-eur-acc-gb-ie00b86mwn23-en.pdf
                  SHYU: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-high-yield-corp-bond-ucits-etf-usd-dist-gb-ie00b4py7y77-en.pdf
                  SJPA: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiii-ishares-core-msci-japan-imi-ucits-etf-usd-acc-gb-ie00b4l5yx21-en.pdf
                  CHDVD: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-swiss-dividend-ch-ch-ch0237935637-en.pdf
                  CHCORP: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-core-chf-corporate-bond-ch-ch-ch0226976816-en.pdf
                  CHSPI: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-core-spi-ch-ch-ch0237935652-en.pdf
                  CSBGC0: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-swiss-domestic-government-bond-7-15-ch-ch-ch0016999861-en.pdf
                  CSBGC3: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-swiss-domestic-government-bond-1-3-ch-ch-ch0102530786-en.pdf
                  CSBGC7: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-swiss-domestic-government-bond-3-7-ch-ch-ch0016999846-en.pdf
                  CSGLDC: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ishii-ishares-gold-chf-hedged-ch-ch-ch0104136285-en.pdf
                  CSSMIM: https://www.blackrock.com/kiid/literature/kiid/kiid-ch-ish-ishares-smim-ch-ch-ch0019852802-en.pdf
                  EMBC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-jp-morgan-em-bond-chf-hedged-ucits-etf-dist-ch-ie00b9m04v95-en.pdf
                  EMUC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvii-ishares-msci-emu-chf-hedged-ucits-etf-acc-ch-ie00bwk1sp74-en.pdf
                  GHYC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-global-high-yield-corp-bond-chf-hedged-ucits-etf-dist-ch-ie00b988c465-en.pdf
                  IEMB: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-jp-morgan-em-bond-ucits-etf-usd-dist-ch-ie00b2npkv68-en.pdf
                  IJPC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-msci-japan-chf-hedged-ucits-etf-acc-ch-ie00b8j37j31-en.pdf
                  IUSC: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-sp-500-chf-hedged-ucits-etf-acc-ch-ie00b88dz566-en.pdf
                RiskLevel: Moderate
                StrategyLegalAssetTypes:
                  - Stock
                  - Bond
                  - Cash
                StrategyName: Moderate Portfolio (GBP)
                SuitabilityLevel: Medium
                TradeLeaderId: '77'
                TradeLeaderOptions: FixedInvestmentAmount
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  /at/v3/tradeLeaders/public:
    get:
      tags:
        - Trade Leaders
      description: Retrieve all trade leaders (internal).
      operationId: TradeLeadersV3GetAllTradeLeadersPublic
      parameters:
        - name: OwnerKey
          in: query
          description: Id of the owner Key of owner to that leaders are available to.
          schema:
            title: Id of the owner Key of owner to that leaders are available to.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 966bf8c8-7202-45c0-8b4f-0c4bf1a47c4d
        - name: StandardPeriod
          in: query
          description: Period to fetch account performance data.
          schema:
            title: Period to fetch account performance data.
            allOf:
              - $ref: '#/components/schemas/Public.StandardPeriodType'
          example: Quarter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeLeaderContractListResult'
              example:
                Data:
                  - AccountPerformance:
                      Allocation:
                        TradesPerAssetType:
                          ClosedTradesAllocations:
                            - AssetClassType: Equity
                              CalculationBasis: 0
                              CalculationDataType: 0
                              PortfolioAllocationType: 0
                              ReturnAttribution: 1
                              TradeCount: 168
                              TradePct: 38.009049773755656
                              TradePercent: 0.38009049773755654
                            - AssetClassType: Currency
                              CalculationBasis: 0
                              CalculationDataType: 0
                              PortfolioAllocationType: 0
                              ReturnAttribution: 0.249937016456527
                              TradeCount: 112
                              TradePct: 25.339366515837103
                              TradePercent: 0.25339366515837103
                            - AssetClassType: Commodity
                              CalculationBasis: 0
                              CalculationDataType: 0
                              PortfolioAllocationType: 0
                              ReturnAttribution: 0.5628789450009563
                              TradeCount: 105
                              TradePct: 23.755656108597282
                              TradePercent: 0.23755656108597284
                            - AssetClassType: Fixed Income
                              CalculationBasis: 0
                              CalculationDataType: 0
                              PortfolioAllocationType: 0
                              ReturnAttribution: -0.013150856136249162
                              TradeCount: 57
                              TradePct: 12.895927601809955
                              TradePercent: 0.12895927601809956
                        TradesPerInstrument:
                          ClosedTradesAllocations:
                            - AssetType: ContractFutures
                              CalculationBasis: 0
                              CalculationDataType: 0
                              InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
                              InstrumentSymbol: ZBU6
                              InstrumentUic: 3626018
                              PortfolioAllocationType: 0
                              ReturnAttribution: -0.15987101005684304
                              TradeCount: 40
                              TradePct: 9.049773755656108
                              TradePercent: 0.09049773755656108
                            - AssetType: FxSpot
                              CalculationBasis: 0
                              CalculationDataType: 0
                              InstrumentDescription: British Pound/US Dollar
                              InstrumentSymbol: GBPUSD
                              InstrumentUic: 31
                              PortfolioAllocationType: 0
                              ReturnAttribution: 0.14685155225185834
                              TradeCount: 37
                              TradePct: 8.3710407239819
                              TradePercent: 0.083710407239819
                      From: '2016-03-28'
                      InceptionDay: '2011-01-03'
                      LastTradeDay: '2017-03-27'
                      Thru: '2017-03-27'
                      TimeWeightedPerformance:
                        PerformanceFraction: -1
                        PerformanceKeyFigures:
                          ClosedTradesCount: 442
                          MaxDrawDownFraction: 1
                          SampledStandardDeviation: 0.0631775477103272
                      TotalCashBalance: 0
                      TotalOpenPositionsValue: 0
                      TotalPositionsValuePerProductPerSecurity: [ ]
                    AllowMultipleInvestment: true
                    AllowPartialWithdrawal: true
                    Category: Equity Portfolios
                    Currency: USD
                    Description: 'A fully discretionary investment theme exploiting short-term price movements across asset-classes.</p><p>Discretionary Trading exploits short-term price movements and is fully discretionary (i.e. trading is not automated), generating absolute returns without reference to a benchmark.'
                    FollowerAmountRemaining: 999997938427.28
                    IsInvestmentShieldSupported: true
                    IsOpenForFollowers: true
                    LeaderPartnerOptions: PositionsCloseOnDeactivation
                    LogoUrl: https://red.openapi.sys.dom/openapi/at/v3/tradeLeaders/1/logo
                    ManagementFee: 1.43
                    MinimumFundingAmount: 20000
                    PerformanceFee: 0
                    RiskLevel: Alpha
                    StrategyLegalAssetTypes:
                      - FxSpot
                      - ContractFutures
                      - CfdOnStock
                      - Cash
                      - CfdOnFutures
                    StrategyName: Discretionary Trading
                    SuitabilityLevel: High
                    TradeLeaderId: '1'
                    TradeLeaderOptions: JointExecutionModel
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/at/v3/tradeLeaders/logo/{LogoKey}':
    get:
      tags:
        - Trade Leaders
      description: "Get logo image in png format for specified logo key.\r\n             No specific accept headers need to be specified."
      operationId: TradeLeadersV3GetTradeLeaderLogoByLogoKey
      parameters:
        - name: LogoKey
          in: path
          description: logoKey of Trade leader's logo
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidTradeLeaderId
                    type: string
                    x-enum-descriptions:
                      InvalidTradeLeaderId: Invalid trade leader Id.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - LogoNotFound
                    type: string
                    x-enum-descriptions:
                      LogoNotFound: Logo not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/at/v3/tradeLeaders/{TradeLeaderId}/logo':
    get:
      tags:
        - Trade Leaders
      description: "Get logo image in png format for specified trade leader id.\r\n            No specific accept headers need to be specified."
      operationId: TradeLeadersV3GetTradeLeaderLogo
      parameters:
        - name: TradeLeaderId
          in: path
          description: Id of trade leader
          required: true
          schema:
            type: string
          example: '77'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResult'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidTradeLeaderId
                    type: string
                    x-enum-descriptions:
                      InvalidTradeLeaderId: Invalid trade leader Id.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - LogoNotFound
                    type: string
                    x-enum-descriptions:
                      LogoNotFound: Logo not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/at/v3/tradeLeaders/{TradeLeaderId}':
    get:
      tags:
        - Trade Leaders
      description: Retrieve single trade leader by Id.
      operationId: TradeLeadersV3GetTradeLeader
      parameters:
        - name: StandardPeriod
          in: query
          description: Period to fetch account performance data. Default value is Year.
          schema:
            $ref: '#/components/schemas/StandardPeriodType'
          example: Year
        - name: TradeLeaderId
          in: path
          description: Id of trade leader
          required: true
          schema:
            type: string
          example: '77'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeLeaderContract'
              example:
                AccountPerformance:
                  AccountSummary:
                    AverageTradeDurationInMinutes: 34260
                    AverageTradesPerWeek: 48.2325728770595
                    NumberOfDaysTraded: 1589
                    NumberOfLongTrades: 5434
                    NumberOfShortTrades: 5263
                    TopTradedInstruments:
                      - DAX.I
                      - DJI.I
                      - EURUSD
                      - GBPUSD
                      - NAS100.I
                      - NOKSEK
                      - EURNOK
                      - SP500.I
                    TotalReturnFraction: -0.9999963956455
                    TradedInstruments:
                      - FxSpot
                      - Stock
                      - FxVanillaOption
                      - ContractFutures
                    TradesTotalCount: 10697
                    TradesWonCount: 6499
                    WinFraction: 0.61
                  Allocation:
                    TradesPerAssetType:
                      ClosedTradesAllocations:
                        - AssetClassType: Equity
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: 1
                          TradeCount: 168
                          TradePct: 38.009049773755656
                          TradePercent: 0.38009049773755654
                        - AssetClassType: Currency
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: 0.249937016456527
                          TradeCount: 112
                          TradePct: 25.339366515837103
                          TradePercent: 0.25339366515837103
                        - AssetClassType: Commodity
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: 0.5628789450009563
                          TradeCount: 105
                          TradePct: 23.755656108597282
                          TradePercent: 0.23755656108597284
                        - AssetClassType: Fixed Income
                          CalculationBasis: 0
                          CalculationDataType: 0
                          PortfolioAllocationType: 0
                          ReturnAttribution: -0.013150856136249162
                          TradeCount: 57
                          TradePct: 12.895927601809955
                          TradePercent: 0.12895927601809956
                    TradesPerInstrument:
                      ClosedTradesAllocations:
                        - AssetType: ContractFutures
                          CalculationBasis: 0
                          CalculationDataType: 0
                          InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
                          InstrumentSymbol: ZBU6
                          InstrumentUic: 3626018
                          PortfolioAllocationType: 0
                          ReturnAttribution: -0.15987101005684304
                          TradeCount: 40
                          TradePct: 9.049773755656108
                          TradePercent: 0.09049773755656108
                        - AssetType: FxSpot
                          CalculationBasis: 0
                          CalculationDataType: 0
                          InstrumentDescription: British Pound/US Dollar
                          InstrumentSymbol: GBPUSD
                          InstrumentUic: 31
                          PortfolioAllocationType: 0
                          ReturnAttribution: 0.14685155225185834
                          TradeCount: 37
                          TradePct: 8.3710407239819
                          TradePercent: 0.083710407239819
                  BalancePerformance:
                    AccountBalanceTimeSeries:
                      - Date: '2016-03-28'
                        Value: 0
                      - Date: '2016-03-29'
                        Value: 0
                    AccountValueTimeSeries:
                      - Date: '2016-03-28'
                        Value: 0
                      - Date: '2016-03-29'
                        Value: 0
                    MonthlyProfitLossTimeSeries:
                      - Date: '2015-11-30'
                        Value: 0
                      - Date: '2015-12-31'
                        Value: 0
                    SecurityTransferTimeSeries:
                      - Date: '2016-03-28'
                        Value: 0
                      - Date: '2016-03-29'
                        Value: 0
                    YearlyProfitLossTimeSeries:
                      - Date: '2015-12-31'
                        Value: 0
                      - Date: '2016-12-31'
                        Value: 0
                      - Date: '2017-12-31'
                        Value: 0
                  BenchMark:
                    AssetType: CfdOnIndex
                    Description: Japan 225
                    DisplayHintType: None
                    Uic: 16351
                  BenchmarkPerformance:
                    - Date: '2018-05-31'
                      Value: 0
                    - Date: '2018-06-01'
                      Value: 0.0014689581211755269
                    - Date: '2018-06-04'
                      Value: 0.014297558645674684
                    - Date: '2018-06-05'
                      Value: 0.015536710435009869
                    - Date: '2018-06-06'
                      Value: 0.020349125384137055
                    - Date: '2018-06-07'
                      Value: 0.030226291646765137
                    - Date: '2018-06-08'
                      Value: 0.02173697538819246
                    - Date: '2018-06-11'
                      Value: 0.029834269080684553
                    - Date: '2018-06-12'
                      Value: 0.03227201860079486
                    - Date: '2018-06-13'
                      Value: 0.034308733541811236
                    - Date: '2018-06-14'
                      Value: 0.02529221452195777
                    - Date: '2018-06-15'
                      Value: 0.030685904310445825
                    - Date: '2018-06-18'
                      Value: 0.02224164811693988
                    - Date: '2018-06-19'
                      Value: 0.0028207600731775455
                    - Date: '2018-06-20'
                      Value: 0.014617485107648496
                    - Date: '2018-06-21'
                      Value: 0.020673557852617538
                    - Date: '2018-06-22'
                      Value: 0.01429305263916801
                    - Date: '2018-06-25'
                      Value: 0.00672746771446338
                    - Date: '2018-06-26'
                      Value: 0.007971125510305236
                    - Date: '2018-06-27'
                      Value: 0.003203770626244784
                    - Date: '2018-06-28'
                      Value: 0.0029739642944044413
                    - Date: '2018-06-29'
                      Value: 0.0028297720861908925
                    - Date: '2018-07-02'
                      Value: 0.002604471760857223
                  From: '2016-03-28'
                  InceptionDay: '2015-11-24'
                  LastTradeDay: '2017-03-27'
                  Thru: '2017-03-27'
                  TimeWeightedPerformance:
                    AccumulatedTimeWeightedTimeSeries:
                      - Date: '2016-03-25'
                        Value: 0
                    MonthlyReturnTimeSeries:
                      - Date: '2016-03-25'
                        Value: 0
                    PerformanceFraction: -1
                    PerformanceKeyFigures:
                      ClosedTradesCount: 0
                      DrawdownReport:
                        Drawdowns:
                          - DaysCount: 3
                            DepthInPercent: 1
                            FromDate: '2016-08-05'
                            ThruDate: '2016-08-08'
                        MaxDaysInDrawdownFromTop10Drawdowns: 3
                      LosingDaysFraction: 0.03
                      MaxDrawDownFraction: 1
                      ReturnFraction: -1
                      SampledStandardDeviation: 0.0618018874919214
                      SharpeRatio: -0.952069751000777
                      SortinoRatio: -0.0591710418985739
                    YearlyReturnTimeSeries:
                      - Date: '2016-03-25'
                        Value: 0
                  TotalCashBalance: 20226.02
                  TotalCashBalancePerCurrency:
                    - StringValue: CAD
                      Value: -491.707122366824
                  TotalOpenPositionsValue: 29571.057
                  TotalPositionsValuePerCurrency:
                    - StringValue: CAD
                      Value: -491.707122366824
                  TotalPositionsValuePerProductPerSecurity:
                    - Description: Abengoa SA - Warrants
                      ProductName: Shares
                      Symbol: LOCK - 1496:xxxx
                      Value: 0
                AllowMultipleInvestment: true
                AllowPartialWithdrawal: true
                Category: Balanced Portfolios
                Currency: GBP
                FollowerAmountRemaining: 1000
                IsInvestmentShieldSupported: true
                IsOpenForFollowers: false
                LeaderPartnerOptions: 'PositionsCloseOnDeactivation, FeesAreExclusiveOfVat'
                ManagementFee: 0.95
                MinimumFundingAmount: 10000
                PerformanceFee: 0
                Prospectus:
                  CSPXJ: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvii-ishares-core-msci-pacific-ex-japan-ucits-etf-usd-acc-gb-ie00b52mjy50-en.pdf
                  E20Y: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiv-ishares-govt-bond-20yr-target-duration-ucits-etf-eur-dist-gb-ie00bskrjx20-en.pdf
                  EMIM: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ish-ishares-core-msci-em-imi-ucits-etf-usd-acc-gb-ie00bkm4gz66-en.pdf
                  EMBE: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-jp-morgan-em-bond-eur-hedged-ucits-etf-dist-gb-ie00b9m6rs56-en.pdf
                  EIMI: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ish-ishares-core-msci-em-imi-ucits-etf-usd-acc-gb-ie00bkm4gz66-en.pdf
                  EXXY: https://www.blackrock.com/kiid/literature/kiid/kiid-munich-all-ishares-diversified-commodity-swap-ucits-etf-de-gb-de000a0h0728-en.pdf
                  IBCX: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ish-ishares-corp-bond-large-cap-ucits-etf-eur-dist-gb-ie0032523478-en.pdf
                  IEGA: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiii-ishares-core-govt-bond-ucits-etf-eur-dist-gb-ie00b4wxjj64-en.pdf
                  IEGE: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishiii-ishares-govt-bond-0-1yr-ucits-etf-eur-dist-gb-ie00b3fh7618-en.pdf
                  IMEU: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-msci-europe-ucits-etf-eur-dist-gb-ie00b1yzsc51-en.pdf
                  INFR: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-global-infrastructure-ucits-etf-usd-dist-gb-ie00b1fzs467-en.pdf
                  IRCP: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishv-ishares-corp-bond-interest-rate-hedged-ucits-etf-eur-dist-gb-ie00b6x2vy59-en.pdf
                  IUSE: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishv-ishares-sp-500-eur-hedged-ucits-etf-acc-gb-ie00b3zw0k18-en.pdf
                  IWDP: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-developed-markets-property-yield-ucits-etf-usd-dist-gb-ie00b1fzs350-en.pdf
                  MVEU: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishvi-ishares-edge-msci-europe-minimum-volatility-ucits-etf-eur-acc-gb-ie00b86mwn23-en.pdf
                  SHYU: https://www.blackrock.com/kiid/literature/kiid/kiid-ir-ishii-ishares-high-yield-corp-bond-ucits-etf-usd-dist-gb-ie00b4py7y77-en.pdf
[...]
