openapi: 3.0.1
info:
  title: Services.AssetTransfers
  description: 'AssetTransfers provide endpoints for asset transfer<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''> <strong>NOTE: </strong> This is a BETA version. It is currently only made available to select partners.</div>'
  version: 1.0.158+26ad4ac04f
  x-framework-version: 41.0.16+ebca281e1f
  x-machine: SIMOAWEB9-DK2
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  /atr/v1/partner/prebookedfunds:
    post:
      tags:
        - Partner - Prefunding
      description: Credit client account based on pre-advice
      operationId: PartnerPrebookFundPrebookFundDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerPrebookFundDepositRequest'
            example:
              AccountKey: sUyiJbnf57ayjlcoNp1RkA==
              Amount: 100
              BIC: DEUTGB2LXXXX1
              ClientKey: W-CgwnsUEpETkiR8MPJalA==
              ClientName: Client Name
              Currency: Eur
              ExpectedValueDate: '2020-01-01'
              ExternalReference: 530120200122018890999000000307
              Iban: DK123456789123456
              RemitterAccount: '53540000318383'
      responses:
        '201':
          description: Created
        '200':
          description: Indicates that the request was performed correctly
        '400':
          description: Indicates that the request parameters was invalid
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Indicates that resource was not found
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  /atr/v1/cashmanagement/withdrawals:
    post:
      tags:
        - CashManagement - Cash Withdrawal
      summary: Submit Cash Withdrawal Request
      description: "Allow client to do cash transfers by giving account key, amount, beneficiary instruction Id, currency and optionally sending “message to beneficiary” with a character limit of 140.\n             \nNote:\n\nIf withdrawal request is created, service will return \"201 Created\" with cut exchange rate &amp; withdrawal request Id in response.\n\nIf withdrawal request is rejected, the service will return bad request with reason for failure of transaction."
      operationId: CashWithdrawalWithdrawl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalRequest'
            example: 
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalResponse'
              example:
                CutExchangeRate: 1
                WithdrawalRequestId: '2425'
        '503':
          description: Service Unavailable
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountAccessDenied
                      - AccountNotFound
                      - AccountNotValid
                      - CashAccessDenied
                      - CashBelowLimit
                      - CashLargeExposure
                      - CashNotAllowedOnTrialAccounts
                      - CashWithdrawlRequestRejected
                      - ClientAccessDenied
                      - IncorrectAccountDetails
                      - IncorrectAmount
                      - IncorrectReferenceNumber
                      - InstructedClientNameNotSpecified
                      - InsufficientCashOnAccount
                      - InvalidRequestParameter
                      - MissingOrWrongValueDate
                      - Other
                      - SendOTPFailed
                      - TwoFactorAuthenticationRequestedButNotEnabledforClient
                      - WouldExceedCreditLine
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientAccessDenied: User is not authorized to access requested Client
                      AccountAccessDenied: User is not authorized to access Account
                      CashWithdrawlRequestRejected: Cash Withdrawal Request rejected for not meeting required conditions
                      SendOTPFailed: Request parameters for sending verification code are invalid
                      TwoFactorAuthenticationRequestedButNotEnabledforClient: Two factor auth is not enabled while skip two factor authentication flag set to false in request
                      AccountNotFound: One or more of the provided parameters are invalid.
                      AccountNotValid: One or more of the provided parameters are invalid.
                      CashAccessDenied: One or more of the provided parameters are invalid.
                      CashBelowLimit: One or more of the provided parameters are invalid.
                      CashLargeExposure: One or more of the provided parameters are invalid.
                      CashNotAllowedOnTrialAccounts: One or more of the provided parameters are invalid.
                      InsufficientCashOnAccount: One or more of the provided parameters are invalid.
                      WouldExceedCreditLine: One or more of the provided parameters are invalid.
                      InvalidRequestParameter: One or more of the provided parameters are invalid.
                      IncorrectAccountDetails: One or more of the provided parameters are invalid.
                      IncorrectAmount: One or more of the provided parameters are invalid.
                      InstructedClientNameNotSpecified: One or more of the provided parameters are invalid.
                      MissingOrWrongValueDate: One or more of the provided parameters are invalid.
                      Other: One or more of the provided parameters are invalid.
                      IncorrectReferenceNumber: One or more of the provided parameters are invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - TrialClientNotSupported
                    type: string
                    example: None
                    x-enum-descriptions:
                      TrialClientNotSupported: Trial clients are not supported
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  /atr/v1/cashmanagement/beneficiaryinstructions:
    get:
      tags:
        - Cash Management - Beneficiary Instructions
      summary: Get Beneficiary Instructions
      description: Fetch list of active beneficiary instructions for a client and filters based on currency.
      operationId: BeneficiaryInstructionsGetBeneficiaryInstructionsAsync
      parameters:
        - name: ClientKey
          in: query
          description: Client Key
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 11eaXGFNBcXM4ZDelb0R1Q==
        - name: Currency
          in: query
          description: Currency code
          schema:
            pattern: '^[A-Z]{3}$'
            type: string
            x-type-name: CurrencyCode
          example: USD
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryInstructionListResult'
              example:
                __count: 2
                Data:
                  - BeneficiaryDetails:
                      AccountNumber: SSI#97935
                      Bic: DBSSSGSGXXX
                      ClearingCode: AU016338
                      CountryCode: DKK
                    BeneficiaryInstructionId: '97935'
                    ClientId: '9319113'
                    Currency: DKK
                    IntermediaryBank:
                      AccountNumber: S672538819
                      Bic: CITIUS33
                    MessageType: MT202
                    Name: SSI#97935
                    RegulatedBroker:
                      AccountNumber: ZYA6312001
                      Name: EXT LTD CLIENTS ACCOUNT
                  - BeneficiaryDetails:
                      AccountNumber: SSI#97935
                      Bic: DBSSSGSGXXX
                      ClearingCode: AU016338
                      CountryCode: DKK
                    BeneficiaryInstructionId: '97935'
                    ClientId: '9319113'
                    Currency: DKK
                    IntermediaryBank:
                      AccountNumber: S672538819
                      Bic: CITIUS33
                    MessageType: MT202
                    Name: SSI#97935
                    RegulatedBroker:
                      AccountNumber: ZYA6312001
                      Name: EXT LTD CLIENTS ACCOUNT
        '503':
          description: Service Unavailable
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  '/atr/v1/partner/cashtransferlimits/{AccountKey}':
    get:
      tags:
        - Partner - Cash Transfer Limits
      description: Get available amount for transfer.
      operationId: PartnerCashTransferLimitGetCashTransfersLimitsAsync
      parameters:
        - name: AccountKey
          in: path
          description: Account Key
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: ellzACrscBL2WPH6H6xADg==
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAccountCashTransferLimit'
              example:
                AccountKey: sUyiJbnf57ayjlcoNp1RkA==
                CashTransferLimit: 100
                Currency: USD
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotNormalAccount
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotNormalAccount: Account should be normal trading account.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - CashTransferLimitsNotFound
                      - ClientIsSameAsCallingClient
                      - ClientNotSameAsAccount
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientNotSameAsAccount: ClientKey and AccountKey both should have same client.
                      ClientIsSameAsCallingClient: Client in the request should not be same as calling client.
                      CashTransferLimitsNotFound: Cash transfer limits not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '503':
          description: Service Unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  /atr/v1/partner/cashtransferlimits:
    get:
      tags:
        - Partner - Cash Transfer Limits
      description: Obsolete Get available amount for transfer.
      operationId: PartnerCashTransferLimitGetCashTransfersLimits
      parameters:
        - name: AccountKey
          in: query
          description: AccountKey
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: ClientKey
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerCashTransferLimitListResult'
              example:
                Data:
                  - AccountKey: sUyiJbnf57ayjlcoNp1RkA==
                    ClientKey: W-CgwnsUEpETkiR8MPJalA==
                    MaxAllowedWithdrawalAmount: 100
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotNormalAccount
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotNormalAccount: Account should be normal trading account.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - CashTransferLimitsNotFound
                      - ClientIsSameAsCallingClient
                      - ClientNotSameAsAccount
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientNotSameAsAccount: ClientKey and AccountKey both should have same client.
                      ClientIsSameAsCallingClient: Client in the request should not be same as calling client.
                      CashTransferLimitsNotFound: Cash transfer limits not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '503':
          description: Service Unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-deprecated-date: '2023-01-01'
      x-required-permissions:
        confidential: Read
  /atr/v1/securitiestransfers/brokers:
    get:
      tags:
        - Securities Transfers
      description: Get list of brokers for the given ISO Country Code
      operationId: SecuritiesTransferGetBrokers
      parameters:
        - name: CountryCode
          in: query
          description: ISO Country Code
          required: true
          schema:
            pattern: '^[A-Z]{2}$'
            type: string
            x-type-name: CountryCode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokerListResult'
              example:
                Data:
                  - Contact: Broker Contact 1
                    CountryCode: DK
                    Email: BrokerEmail1@email.com
                    Name: ABC Investment Bank
                    Phone: +45 12345678
                  - Contact: Broker Contact 2
                    CountryCode: DK
                    Email: BrokerEmail2@email.com
                    Name: Alps Investment Bank
                    Phone: 555 212-639-9675
        '503':
          description: Service Unavailable
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidCountry
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidCountry: 'Requested Country '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  /atr/v1/securitiestransfers/transfers:
    get:
      tags:
        - Securities Transfers
      description: Get list of Security Transfers executed by client based on list of comma separated transfer ids.
      operationId: SecuritiesTransferGetTransferDetails
      parameters:
        - name: ClientKey
          in: query
          description: The client identifier in key format
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: TransferIds
          in: query
          description: Comma separate list of Transfer IDs
          required: true
          schema:
            type: array
            items:
              type: string
              example: stringValue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferListResult'
              example:
                __count: 1
                Data:
                  - AccountId: '3495867632'
                    AccountManager: ABC Investment Bank
                    AssetType: Stock
                    Broker:
                      Contact: Broker Contact 1
                      CountryCode: DK
                      Email: BrokerEmail1@email.com
                      Name: ABC Investment Bank
                      Phone: +45 12345678
                    ClientAccountAtBroker: '0539633313'
                    Securities:
                      - Currency: EUR
                        Description: Apple Inc.
                        Exchange: NASDAQ
                        InstrumentSymbolCode: AAPL:xnas
                        IsinCode: US0378331005
                        Price: 194.82
                        PurchaseDate: '2020-06-20'
                        Quantity: 24
                        Uic: 211
                      - Currency: GBP
                        Description: ABB Ltd
                        Exchange: SSE
                        InstrumentSymbolCode: ABB:xome
                        IsinCode: CH0012221716
                        Price: 32.82
                        PurchaseDate: '2020-09-10'
                        Quantity: 7
                        Uic: 101
                    TradeDate: '2022-10-30'
                    TransferDirection: TransferIn
                    TransferId: '414'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidTransferId
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidTransferId: Requested Transfer Ids are not valid
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '503':
          description: Service Unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
    post:
      tags:
        - Securities Transfers
      summary: Submit Securities Transfer Request
      description: "Submit the list of securities, which the client wants transferred in or out of Saxo Bank.\n             \nIf list of securities in the transfer are accepted the service will return \"201 Created\" and the response will contain the actual transfer result for the transaction\n\nIf one or more securities in the list are not accepted, the service will return bad request and fail complete transaction"
      operationId: SecuritiesTransferTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
            example:
              AccountKey: dIm75edbgnW6aBK3CIc-sw==
              AssetType: Stock
              Broker:
                Contact: Broker Contact 1
                CountryCode: DK
                Email: BrokerEmail1@email.com
                Name: ABC Investment Bank
                Phone: +45 12345678
              ClientAccountAtBroker: '0539633313'
              ClientKey: zpSlGZ4F0cPIx59wR3HP1g==
              Securities:
                - Currency: EUR
                  Description: Apple Inc.
                  Exchange: NASDAQ
                  InstrumentSymbolCode: AAPL:xnas
                  IsinCode: US0378331005
                  Price: 194.82
                  PurchaseDate: '2020-06-20'
                  Quantity: 24
                  Uic: 211
                - Currency: GBP
                  Description: ABB Ltd
                  Exchange: SSE
                  InstrumentSymbolCode: ABB:xome
                  IsinCode: CH0012221716
                  Price: 32.82
                  PurchaseDate: '2020-09-10'
                  Quantity: 7
                  Uic: 101
              SettlementInstruction:
                AccountAtClearingAgent: '0539633313'
                AgentLocalAccount: '6300772196'
                BuyerSellerCode: B
                BuyerSellerCodeType: Bic
                ClearingAgentCode: '9200'
                ClearingAgentCodeType: Bic
                FreeText: NOTLXNO
                SettlementAgentAccount: 1011248400G
              TradeDate: '2022-10-30'
              TransferDirection: TransferIn
      responses:
        '201':
          description: Resource was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResponse'
              example:
                TransferId: 63HGCDS3E89DS
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountValidationFail
                      - AssetTypeNotSupported
                      - BadRequest
                      - UicNotValidAssetType
                      - ValidationFail
                    type: string
                    example: None
                    x-enum-descriptions:
                      BadRequest: Bad Request
                      UicNotValidAssetType: The UIC does not match a transferable asset type
                      AssetTypeNotSupported: Requested Asset Type is not supported
                      AccountValidationFail: Account Validation Failed
                      ValidationFail: General Validation Failed
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SecurityValidationFail
                    type: string
                    example: None
                    x-enum-descriptions:
                      SecurityValidationFail: Security Validation Failed
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '503':
          description: Service Unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  '/atr/v1/partner/cashtransfers/{TransactionId}':
    get:
      tags:
        - Partner - Cash Transfer
      description: Fetches the latest status of fund transfers.
      operationId: PartnerCashTransferCashTransfersById
      parameters:
        - name: TransactionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResult'
              example:
                Amount: 10000
                Comment: Transferring from funding account 33000/FEUR
                Currency: EUR
                ExternalReference: '789456'
                FromAccount: '-gh-xomNFSNUYdRL0KrPpg=='
                FromAccountPositionId: '1267'
                FundingCheck: Enforce
                ToAccount: y3kFQWkqJYMgOgaxcoqshA==
                ToAccountPositionId: '1268'
                TransactionId: '1269'
                TransferRequestedOn: '2022-10-30T06:28:04.816053Z'
                TransferStatus: Successful
                ValueDate: '0001-01-01T00:00:00Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - TransactionNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      TransactionNotFound: Transaction not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: One or more of the provided parameters are invalid.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  /atr/v1/partner/cashtransfers:
    get:
      tags:
        - Partner - Cash Transfer
      description: Fetches a summary of transfers.
      operationId: PartnerCashTransferCashTransfersBySearchParameters
      parameters:
        - name: AccountKey
          in: query
          description: 'If specified, will only return entries pertaining to the specified account.'
          schema:
            title: 'If specified, will only return entries pertaining to the specified account.'
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: dIm75edbgnW6aBK3CIc-sw==
        - name: ClientKey
          in: query
          description: 'If specified, will only return entries pertaining to the specified client.'
          schema:
            title: 'If specified, will only return entries pertaining to the specified client.'
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: zpSlGZ4F0cPIx59wR3HP1g==
        - name: ExternalReference
          in: query
          description: Include entries with the specified ExternalReference.
          schema:
            title: Include entries with the specified ExternalReference.
            type: string
          example: stringValue
        - name: FromDateTime
          in: query
          description: Only include entries with a TransferRequestedOn value greater than or equal to FromDateTime.
          schema:
            title: Only include entries with a TransferRequestedOn value greater than or equal to FromDateTime.
            type: string
          example: '2022-03-06T04:23:44.5328096'
        - name: SkipToken
          in: query
          description: Id token of entity to start taking elements from.
          schema:
            title: Id token of entity to start taking elements from.
            type: string
          example: stringValue
        - name: ToDateTime
          in: query
          description: Only include entries with a TransferRequestedOn value lower than or equal to ToDateTime.
          schema:
            title: Only include entries with a TransferRequestedOn value lower than or equal to ToDateTime.
            type: string
          example: '2022-03-06T04:23:44.5328096'
        - name: Top
          in: query
          description: 'Number of elements to retrieve. (Default is 50, Max is 1000.)'
          schema:
            title: 'Number of elements to retrieve. (Default is 50, Max is 1000.)'
            type: integer
            format: int32
          example: 99
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResultListResult'
              example:
                Data:
                  - Amount: 10000
                    Comment: Transferring from funding account 33000/FEUR
                    Currency: EUR
                    ExternalReference: '789456'
                    FromAccount: '-gh-xomNFSNUYdRL0KrPpg=='
                    FromAccountPositionId: '1267'
                    FundingCheck: Enforce
                    ToAccount: y3kFQWkqJYMgOgaxcoqshA==
                    ToAccountPositionId: '1268'
                    TransactionId: '1269'
                    TransferRequestedOn: '2022-10-30T06:28:04.817054Z'
                    TransferStatus: Successful
                    ValueDate: '0001-01-01T00:00:00Z'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - TransactionNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      TransactionNotFound: Transaction not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: One or more of the provided parameters are invalid.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
    post:
      tags:
        - Partner - Cash Transfer
      description: Cash transfer initiated by partner.
      operationId: PartnerCashTransferCashTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerCashTransferRequest'
            example:
              Amount: 10000
              Comment: Transferring from funding account 33000/FEUR
              Currency: EUR
              ExternalReference: '789456'
              FromAccountKey: '-gh-xomNFSNUYdRL0KrPpg=='
              FundingCheck: Enforce
              ToAccountKey: y3kFQWkqJYMgOgaxcoqshA==
              ValueDate: '2022-10-30T06:28:04.794036Z'
      responses:
        '201':
          description: Resource was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerCashTransferResponse'
              example:
                FromAccountPositionId: '1267'
                ToAccountPositionId: '1268'
                TransactionId: '1269'
        '404':
          description: ''
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountsNotFoundForTransferDoneByIb
                      - AccountsNotFoundForTransferDoneByWlp
                      - CurrencyShouldBeSameAsAccount
                    type: string
                    example: None
                    x-enum-descriptions:
                      AccountsNotFoundForTransferDoneByIb: To/from account not found.
                      AccountsNotFoundForTransferDoneByWlp: To/from account not found.
                      CurrencyShouldBeSameAsAccount: Currency should be same as source account and destination account.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountNotValid
                      - CurrencyMustBeSameAsAtLeastOneOfTheAccounts
                      - FundingAccountsNotFound
                      - FundingShouldUnderSameHierarchy
                      - IgnoreFundingCheckNotApplicableWhileFunding
                      - InputDataInvalid
                      - InsufficientCash
                      - MarginBorderLine
                      - OneAccountShouldBeFundingAccount
                      - OneAccountShouldBeNormalTradingAccount
                      - OneClientShouldBeIB
                      - OnlyOneAccountShouldBeFundingAccount
                      - OverFundingNotAllowed
                      - RequestedVariationMarginAmountBelowMinimumLimit
                      - TransferDoneForAccountsOfSameClient
                      - TrialClientsNotSupported
                      - WouldExceedMargin
                    type: string
                    example: None
                    x-enum-descriptions:
                      IgnoreFundingCheckNotApplicableWhileFunding: Ignore funding check not applicable while funding.
                      FundingShouldUnderSameHierarchy: Funding should be under same hierarchy.
                      TransferDoneForAccountsOfSameClient: Transfer can't be done between account of same client.
                      OneAccountShouldBeFundingAccount: At least one account should be funding account.
                      OnlyOneAccountShouldBeFundingAccount: Only one account should be funding account.
                      OneAccountShouldBeNormalTradingAccount: At least  one account should be normal trading account.
                      TrialClientsNotSupported: Trial clients are not supported.
                      OneClientShouldBeIB: At least one client should be an IB.
                      OverFundingNotAllowed: Cash OverFunding is not Allowed into Aktiesparekonto account
                      AccountNotValid: One of the two accounts is not valid.
                      CurrencyMustBeSameAsAtLeastOneOfTheAccounts: Transfer needs to be in the same currency as at least one of the two accounts basecurrencies.
                      InsufficientCash: The from account has insufficient cash for this transfer.
                      MarginBorderLine: The from account borderlines margin.
                      WouldExceedMargin: The from account would exceed margin.
                      InputDataInvalid: Invalid input data.
                      RequestedVariationMarginAmountBelowMinimumLimit: Cash withdrawl/transfer amount is below the required minimum limit.
                      FundingAccountsNotFound: Funding accounts not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  '/atr/v1/cashmanagement/withdrawallimits/{AccountKey}':
    get:
      tags:
        - CashManagement - Cash Withdrawal Limits
      description: Get available amount for withdrawal.
      operationId: CashWithdrawalLimitGetCashWithdrawalLimitsAsync
      parameters:
        - name: AccountKey
          in: path
          description: AccountKey
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: OV6ZL2-AYB0VvW2FzEqz7A==
      responses:
        '200':
          description: Action was executed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashAccountWithdrawalLimit'
              example:
                AccountKey: sUyiJbnf57ayjlcoNp1RkA==
                Currency: USD
                MaxAllowedWithdrawalAmount: 100
        '400':
          description: One or more of the provided parameters are invalid.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotNormalAccount
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotNormalAccount: Account should be normal trading account
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - CashWithdrawalLimitsNotFound
                      - ClientNotSameAsAccount
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientNotSameAsAccount: ClientKey and AccountKey both should have same client
                      CashWithdrawalLimitsNotFound: Cash Withdrawal limits not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '503':
          description: Service Unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  /atr/v1/cashmanagement/withdrawallimits:
    get:
      tags:
        - CashManagement - Cash Withdrawal Limits
      description: Obsolete Get available amount for withdrawal.
      operationId: CashWithdrawalLimitGetCashWithdrawalLimits
      parameters:
        - name: AccountKey
          in: query
          description: AccountKey
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: ClientKey
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
      responses:
        '200':
          description: Action was executed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashWithdrawalLimitListResult'
              example:
                Data:
                  - AccountKey: sUyiJbnf57ayjlcoNp1RkA==
                    ClientKey: W-CgwnsUEpETkiR8MPJalA==
                    MaxAllowedWithdrawalAmount: 100
        '400':
          description: One or more of the provided parameters are invalid.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountAccessDenied
                      - ClientAccessDenied
                      - ClientOrAccountNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientAccessDenied: User is not authorized to access requested Client
                      AccountAccessDenied: User is not authorized to access Account
                      ClientOrAccountNotFound: Client or Account not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - CashWithdrawalLimitsNotFound
                      - TrialClientNotSupported
                    type: string
                    example: None
                    x-enum-descriptions:
                      CashWithdrawalLimitsNotFound: Cash Withdrawal limits not found
                      TrialClientNotSupported: Trial clients are not supported
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '503':
          description: Service Unavailable
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-deprecated-date: '2023-01-01'
      x-required-permissions:
        confidential: Read
components:
  schemas:
    AccountWithInstitutionDetails:
      title: Account Wih Institution Details. This is the bank where the beneficiary holds the account.
      type: object
      properties:
        AccountNumber:
          title: Account number
          type: string
          example: stringValue
        Bic:
          title: Beneficiary Bank BIC (Swift Code)
          type: string
          example: stringValue
        ClearingCode:
          title: Beneficiary Bank local Clearing Code
          type: string
          example: stringValue
        Iban:
          title: Beneficiary International Bank Account Number
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountNumber: stringValue
        Bic: stringValue
        ClearingCode: stringValue
        Iban: stringValue
    BeneficiaryDetails:
      title: BeneficiaryDetails
      type: object
      properties:
        AccountNumber:
          title: Beneficiary local Bank Account Number
          type: string
          example: stringValue
        BankAddress:
          title: Beneficiary Bank address
          type: string
          example: stringValue
        BankName:
          title: Beneficiary Bank Name
          type: string
          example: stringValue
        Bic:
          title: Beneficiary Bank BIC (Swift Code)
          type: string
          example: stringValue
        ClearingCode:
          title: Beneficiary Bank local Clearing Code
          type: string
          example: stringValue
        CountryCode:
          title: Beneficiary Bank Country Code
          type: string
          example: stringValue
        Iban:
          title: Beneficiary International Bank Account Number
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountNumber: SSI#97935
        BankAddress: HOLMENS KANAL 2-12
        BankName: DANSKE BANK A/S
        Bic: DABADKKKXXX
        ClearingCode: AU016338
        CountryCode: DKK
        Iban: SSI#97935
    BeneficiaryInstruction:
      title: BeneficiaryInstructionsResponse
      type: object
      properties:
        AccountWithInstitutionDetails:
          title: Account with institution info
          allOf:
            - $ref: '#/components/schemas/AccountWithInstitutionDetails'
        BeneficiaryDetails:
          title: Beneficiary detail
          allOf:
            - $ref: '#/components/schemas/BeneficiaryDetails'
        BeneficiaryInstructionId:
          title: Beneficiary InstructionId Id
          type: string
          example: stringValue
        ClientId:
          title: Client Id
          type: string
          example: stringValue
        Currency:
          title: Transaction currency
          type: string
          example: stringValue
        IntermediaryBank:
          title: Intermediary detail
          allOf:
            - $ref: '#/components/schemas/IntermediaryBank'
        MessageType:
          title: Swift message type of the beneficiary
          allOf:
            - $ref: '#/components/schemas/MessageType'
        Name:
          title: Instruction name
          type: string
          example: stringValue
        RegulatedBroker:
          title: RegulatedBroker details
          allOf:
            - $ref: '#/components/schemas/RegulatedBroker'
      additionalProperties: false
      example:
        AccountWithInstitutionDetails:
          AccountNumber: stringValue
          Bic: stringValue
          ClearingCode: stringValue
          Iban: stringValue
        BeneficiaryDetails:
          AccountNumber: SSI#97935
          BankAddress: HOLMENS KANAL 2-12
          BankName: DANSKE BANK A/S
          Bic: DABADKKKXXX
          ClearingCode: AU016338
          CountryCode: DKK
          Iban: SSI#97935
        BeneficiaryInstructionId: stringValue
        ClientId: stringValue
        Currency: stringValue
        IntermediaryBank:
          AccountNumber: S672538819
          Bic: CITIUS33
        MessageType: MT202
        Name: stringValue
        RegulatedBroker:
          AccountNumber: ZYA6312001
          Name: EXT LTD CLIENTS ACCOUNT
    BeneficiaryInstructionListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/BeneficiaryInstruction'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        __count: 2
        Data:
          - BeneficiaryDetails:
              AccountNumber: SSI#97935
              Bic: DBSSSGSGXXX
              ClearingCode: AU016338
              CountryCode: DKK
            BeneficiaryInstructionId: '97935'
            ClientId: '9319113'
            Currency: DKK
            IntermediaryBank:
              AccountNumber: S672538819
              Bic: CITIUS33
            MessageType: MT202
            Name: SSI#97935
            RegulatedBroker:
              AccountNumber: ZYA6312001
              Name: EXT LTD CLIENTS ACCOUNT
          - BeneficiaryDetails:
              AccountNumber: SSI#97935
              Bic: DBSSSGSGXXX
              ClearingCode: AU016338
              CountryCode: DKK
            BeneficiaryInstructionId: '97935'
            ClientId: '9319113'
            Currency: DKK
            IntermediaryBank:
              AccountNumber: S672538819
              Bic: CITIUS33
            MessageType: MT202
            Name: SSI#97935
            RegulatedBroker:
              AccountNumber: ZYA6312001
              Name: EXT LTD CLIENTS ACCOUNT
    Broker:
      title: Broker Information
      required:
        - CountryCode
        - Name
        - Contact
        - Phone
        - Email
      type: object
      properties:
        Contact:
          title: Broker Contact
          type: string
          example: stringValue
        CountryCode:
          title: Broker's Country Id
          pattern: '^[A-Z]{2}$'
          type: string
          x-type-name: CountryCode
        Email:
          title: Broker Email
          type: string
          example: stringValue
        Name:
          title: Broker Name
          type: string
          example: stringValue
        Phone:
          title: Broker Phone Number
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Contact: Broker Contact 1
        CountryCode: DK
        Email: BrokerEmail1@email.com
        Name: ABC Investment Bank
        Phone: +45 12345678
    BrokerListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/Broker'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        Data:
          - Contact: Broker Contact 1
            CountryCode: DK
            Email: BrokerEmail1@email.com
            Name: ABC Investment Bank
            Phone: +45 12345678
          - Contact: Broker Contact 2
            CountryCode: DK
            Email: BrokerEmail2@email.com
            Name: Alps Investment Bank
            Phone: 555 212-639-9675
    BuyerSellerCodeType:
      title: The possible BuyerSellerCodeTypes.
      enum:
        - Bic
        - Cdident
        - Local
        - None
        - Text
      type: string
      example: None
      x-enum-descriptions:
        None: None
        Bic: Bic
        Local: Local
        Text: Text
        Cdident: Cdident
    CashAccountWithdrawalLimit:
      title: Cash Account Withdrawal Limit
      type: object
      properties:
        AccountKey:
          title: AccountKey
          minLength: 1
          type: string
          x-type-name: AccountKey
        Currency:
          title: Currency
          pattern: '^[A-Z]{3}$'
          type: string
          x-type-name: CurrencyCode
        MaxAllowedWithdrawalAmount:
          title: Max allowed withdrawal amount
          type: number
          example: 10
      additionalProperties: false
      example:
        AccountKey: sUyiJbnf57ayjlcoNp1RkA==
        Currency: USD
        MaxAllowedWithdrawalAmount: 100
    CashWithdrawalLimit:
      title: CashWithdrawalLimit
      type: object
      properties:
        AccountKey:
          title: AccountKey
          minLength: 1
          type: string
          x-type-name: AccountKey
        ClientKey:
          title: ClientKey
          minLength: 1
          type: string
          x-type-name: ClientKey
        MaxAllowedWithdrawalAmount:
          title: Max allowed withdrawal amount
          type: number
          example: 2.55
      additionalProperties: false
      example:
        AccountKey: dIm75edbgnW6aBK3CIc-sw==
        ClientKey: zpSlGZ4F0cPIx59wR3HP1g==
        MaxAllowedWithdrawalAmount: 2.55
    CashWithdrawalLimitListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/CashWithdrawalLimit'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        Data:
          - AccountKey: sUyiJbnf57ayjlcoNp1RkA==
            ClientKey: W-CgwnsUEpETkiR8MPJalA==
            MaxAllowedWithdrawalAmount: 100
    ClearingAgentCodeType:
      title: The possible ClearingAgentCodeTypes.
      enum:
        - Bic
        - Local
        - None
      type: string
      example: None
      x-enum-descriptions:
        None: None
        Bic: Bic
        Local: Local
    FundingCheck:
      title: Specifies if funding rules should be checked or not.
      enum:
        - Enforce
        - Ignore
      type: string
      example: Enforce
      x-enum-descriptions:
        Enforce: Enforce funding checks
        Ignore: Ignore funding checks
    IntermediaryBank:
      title: IntermediaryBank
      type: object
      properties:
        AccountNumber:
          title: Financial institution through which the transaction must pass to reach the account with institution.
          type: string
          example: stringValue
        Bic:
          title: Financial institution through which the transaction must pass to reach the account with institution.
          type: string
          example: stringValue
        ClearingCode:
          title: Financial institution through which the transaction must pass to reach the account with institution.
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountNumber: S672538819
        Bic: CITIUS33
    MessageType:
      title: Message Type
      enum:
        - MT103
        - MT202
      type: string
      example: MT103
      x-enum-descriptions:
        MT202: MT202
        MT103: MT103
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    PartnerAccountCashTransferLimit:
      title: Cash transfer limit
      type: object
      properties:
        AccountKey:
          title: AccountKey
          minLength: 1
          type: string
          x-type-name: AccountKey
        CashTransferLimit:
          title: Maximal amount which can be transferred out.
          type: number
          example: 10
        Currency:
          title: Currency
          pattern: '^[A-Z]{3}$'
          type: string
          x-type-name: CurrencyCode
      additionalProperties: false
      example:
        AccountKey: sUyiJbnf57ayjlcoNp1RkA==
        CashTransferLimit: 100
        Currency: USD
    PartnerCashTransferLimit:
      title: CashWithdrawalLimit
      type: object
      properties:
        AccountKey:
          title: AccountKey
          minLength: 1
          type: string
          x-type-name: AccountKey
        ClientKey:
          title: ClientKey
          minLength: 1
          type: string
          x-type-name: ClientKey
        MaxAllowedWithdrawalAmount:
          title: Max allowed withdrawal amount
          type: number
          example: 2.55
      additionalProperties: false
      example:
        AccountKey: dIm75edbgnW6aBK3CIc-sw==
        ClientKey: zpSlGZ4F0cPIx59wR3HP1g==
        MaxAllowedWithdrawalAmount: 2.55
    PartnerCashTransferLimitListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/PartnerCashTransferLimit'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        Data:
          - AccountKey: sUyiJbnf57ayjlcoNp1RkA==
            ClientKey: W-CgwnsUEpETkiR8MPJalA==
            MaxAllowedWithdrawalAmount: 100
    PartnerCashTransferRequest:
      title: Transfer details needed for the partner cash transfer
      required:
        - FromAccountKey
        - ToAccountKey
        - Amount
        - Currency
      type: object
      properties:
        Amount:
          title: The value that will be transacted.
          type: number
          example: 10
        Comment:
          title: Comment to the transaction. The comment will be seen in the EOD files.
          type: string
          example: stringValue
        Currency:
          title: "Currency in which the cash movement will be held in.\n            \n            This is essentially just an extra check! The currency entered here must be the same as that of the funding account and the clients trading account."
          type: string
          example: stringValue
        ExternalReference:
          title: Caller may add this to identify the request.
          type: string
          example: stringValue
        FromAccountKey:
          title: "Account from where the cash is moved from. For funding transactions, this field will hold the AccountKey of the funding account. For withdrawal transactions this field will hold the AccountKey of the clients trading account.\n            \n            Remember that the currency of the funding account and the clients trading account must be the same."
          minLength: 1
          type: string
          x-type-name: AccountKey
        FundingCheck:
          title: "Specify this to specify if funding rules be checked and enforced.\n            \n            Default is \"Enforce\".\n            \n            Enforce: All margin and funding checks will be performed and enforced.The transaction will fail if margin and funding checks are not passed.\n            \n            Ignore: No margin or funding checks are performed.The operation will move the specified monies from the client account and you can ultimately place the clients accounts into negative.\n            \n            You can only specify FundingCheck:Ignore for a cash withdrawal from a clients trading account back to the WLC's funding account.\n            \n            If you specify FundingCheck:Ignore for a funding from the WLC's funding account to the clients trading account, the call will fail."
          allOf:
            - $ref: '#/components/schemas/FundingCheck'
        ToAccountKey:
          title: "Account where the cash is moved to. For funding transactions, this field will hold the AccountKey of the clients trading account. For withdrawal transactions this field will hold the AccountKey of the WLCs funding account.\n            \n            Remember that the currency of the funding account and the clients trading account must be the same."
          minLength: 1
          type: string
          x-type-name: AccountKey
        ValueDate:
          title: 'Value Date of settlement of cash transfer. Must be within the range [-90;90] days of current date.'
          type: string
          format: date-time
          x-type-name: UtcDateTime
      additionalProperties: false
      example:
        Amount: 10000
        Comment: Transferring from funding account 33000/FEUR
        Currency: EUR
        ExternalReference: '789456'
        FromAccountKey: '-gh-xomNFSNUYdRL0KrPpg=='
        FundingCheck: Enforce
        ToAccountKey: y3kFQWkqJYMgOgaxcoqshA==
        ValueDate: '2022-10-30T06:28:04.7940360+00:00'
    PartnerCashTransferResponse:
      title: Result of partner's initiated cash transfer.
      type: object
      properties:
        FromAccountPositionId:
          title: The id of the cash position created on the "from" account.
          type: string
          example: stringValue
        ToAccountPositionId:
          title: The id of the cash position created on the "to" account.
          type: string
          example: stringValue
        TransactionId:
          title: Id of the transaction done.
          type: string
          example: stringValue
      additionalProperties: false
      example:
        FromAccountPositionId: '1267'
        ToAccountPositionId: '1268'
        TransactionId: '1269'
    PartnerPrebookFundDepositRequest:
      title: Prebooked deposit details for the client account
      required:
        - ClientKey
        - AccountKey
        - ClientName
        - Iban
        - BIC
        - Amount
        - Currency
        - RemitterAccount
        - ExpectedValueDate
        - ExternalReference
      type: object
      properties:
        AccountKey:
          title: Client account key in which fund will be deposited
          minLength: 1
          type: string
          x-type-name: AccountKey
        Amount:
          title: Funding Amount
          type: number
          example: 10
        BIC:
          title: BIC (Swift Code) code of sender bank
          type: string
          example: stringValue
        ClientKey:
          title: ClientKey for which system will execute deposit
          minLength: 1
          type: string
          x-type-name: ClientKey
        ClientName:
          title: Client Name for which system will execute deposit
          type: string
          example: stringValue
        Currency:
          title: Funding currency
          type: string
          example: stringValue
        ExpectedValueDate:
          title: Expected value date
          type: string
          format: date
          x-type-name: Date
        ExternalReference:
          title: 'Reference number, if any'
          type: string
          example: stringValue
        Iban:
          title: Client International Bank Account Number
          type: string
          example: stringValue
        RemitterAccount:
          title: Remitter Account
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountKey: sUyiJbnf57ayjlcoNp1RkA==
        Amount: 100
        BIC: DEUTGB2LXXXX1
        ClientKey: W-CgwnsUEpETkiR8MPJalA==
        ClientName: Client Name
        Currency: Eur
        ExpectedValueDate: '2020-01-01'
        ExternalReference: 530120200122018890999000000307
        Iban: DK123456789123456
        RemitterAccount: '53540000318383'
    RegulatedBroker:
      title: Regulated Broker
      type: object
      properties:
        AccountNumber:
          title: Regulated broker account.
          type: string
          example: stringValue
        Name:
          title: Regulated broker name
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountNumber: ZYA6312001
        Name: EXT LTD CLIENTS ACCOUNT
    Security:
      title: Details for one security to get transferred.
      required:
        - Price
        - Quantity
        - Uic
      type: object
      properties:
        Currency:
          title: The Currency of the security to be transferred.
          type: string
          example: stringValue
        Description:
          title: The Description of the security
          type: string
          example: stringValue
        Exchange:
          title: The Exchange where the security gets transferred.
          type: string
          example: stringValue
        ExchangeText:
          title: ExchangeText of the security.
          type: string
          example: stringValue
        InstrumentSymbolCode:
          title: The InstrumentSymbolCode of the security.
          type: string
          example: stringValue
        IsinCode:
          title: IsinCode of the security.
          type: string
          example: stringValue
        Price:
          title: The price per security
          type: number
          example: 10
        PurchaseDate:
          title: Purchase date of instrument
          type: string
          format: date
          x-type-name: Date
        Quantity:
          title: Quantity of security to transfer
          type: number
          example: 10
        Uic:
          title: Uic of the security
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        Currency: EUR
        Description: Apple Inc.
        Exchange: NASDAQ
        InstrumentSymbolCode: AAPL:xnas
        IsinCode: US0378331005
        Price: 194.82
        PurchaseDate: '2020-06-20'
        Quantity: 24
        Uic: 211
    SettlementInstruction:
      title: Security Transfer Settlement Instructions
      type: object
      properties:
        AccountAtClearingAgent:
          title: The safekeeping / Security account at the custody of the client
          type: string
          example: stringValue
        AgentLocalAccount:
          title: The agent local account
          type: string
          example: stringValue
        BuyerSellerCode:
          title: The buyer seller code
          type: string
          example: stringValue
        BuyerSellerCodeType:
          title: The BIC Code / Local Code of the custody of the client with their counterpart
          allOf:
            - $ref: '#/components/schemas/BuyerSellerCodeType'
        ClearingAgentCode:
          title: The clearing agent code
          type: string
          example: stringValue
        ClearingAgentCodeType:
          title: The BIC / Local Code of the Exchange of the instrument. For example if client is trading in UK Share then the Clearing Agent would be the BIC / Local Code from UK
          allOf:
            - $ref: '#/components/schemas/ClearingAgentCodeType'
        FreeText:
          title: The information / remarks
          type: string
          example: stringValue
        SettlementAgentAccount:
          title: The settlement agent account
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountAtClearingAgent: '0539633313'
        AgentLocalAccount: '6300772196'
        BuyerSellerCode: B
        BuyerSellerCodeType: Bic
        ClearingAgentCode: '9200'
        ClearingAgentCodeType: Bic
        FreeText: NOTLXNO
        SettlementAgentAccount: 1011248400G
    Transfer:
      required:
        - Securities
        - ClientAccountAtBroker
        - Broker
        - TransferDirection
        - AssetType
      type: object
      properties:
        AccountId:
          title: Account Id
          type: string
          example: stringValue
        AccountManager:
          title: Account Manager
          type: string
          example: stringValue
        AssetType:
          title: The asset type to be transferred
          allOf:
            - $ref: '#/components/schemas/TransferableAssetType'
        Broker:
          title: The client's broker details
          allOf:
            - $ref: '#/components/schemas/Broker'
        ClientAccountAtBroker:
          title: Identifier of the client's account at the broker
          type: string
          example: stringValue
        Securities:
          title: The securities details
          type: array
          items:
            $ref: '#/components/schemas/Security'
          example:
            - Currency: EUR
              Description: Apple Inc.
              Exchange: NASDAQ
              InstrumentSymbolCode: AAPL:xnas
              IsinCode: US0378331005
              Price: 194.82
              PurchaseDate: '2020-06-20'
              Quantity: 24
              Uic: 211
            - Currency: GBP
              Description: ABB Ltd
              Exchange: SSE
              InstrumentSymbolCode: ABB:xome
              IsinCode: CH0012221716
              Price: 32.82
              PurchaseDate: '2020-09-10'
              Quantity: 7
              Uic: 101
        SettlementDate:
          title: The settlement date
          type: string
          format: date
          x-type-name: Date
        TradeDate:
          title: The agreed trade date
          type: string
          format: date
          x-type-name: Date
        TransferDirection:
          title: 'Transfer type, in or out of Bank'
          allOf:
            - $ref: '#/components/schemas/TransferDirection'
        TransferId:
          title: Transfer Id
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountId: '3495867632'
        AccountManager: ABC Investment Bank
        AssetType: Stock
        Broker:
          Contact: Broker Contact 1
          CountryCode: DK
          Email: BrokerEmail1@email.com
          Name: ABC Investment Bank
          Phone: +45 12345678
        ClientAccountAtBroker: '0539633313'
        Securities:
          - Currency: EUR
            Description: Apple Inc.
            Exchange: NASDAQ
            InstrumentSymbolCode: AAPL:xnas
            IsinCode: US0378331005
            Price: 194.82
            PurchaseDate: '2020-06-20'
            Quantity: 24
            Uic: 211
          - Currency: GBP
            Description: ABB Ltd
            Exchange: SSE
            InstrumentSymbolCode: ABB:xome
            IsinCode: CH0012221716
            Price: 32.82
            PurchaseDate: '2020-09-10'
            Quantity: 7
            Uic: 101
        TradeDate: '2022-10-30'
        TransferDirection: TransferIn
        TransferId: '414'
    TransferDirection:
      title: Which direction should the securites be transferred.
      enum:
        - TransferIn
        - TransferOut
      type: string
      example: TransferIn
      x-enum-descriptions:
        TransferIn: Transfer securities from external broker to Saxo Bank
        TransferOut: Transfer securities Saxo Bank to external broker
    TransferListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/Transfer'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        __count: 1
        Data:
          - AccountId: '3495867632'
            AccountManager: ABC Investment Bank
            AssetType: Stock
            Broker:
              Contact: Broker Contact 1
              CountryCode: DK
              Email: BrokerEmail1@email.com
              Name: ABC Investment Bank
              Phone: +45 12345678
            ClientAccountAtBroker: '0539633313'
            Securities:
              - Currency: EUR
                Description: Apple Inc.
                Exchange: NASDAQ
                InstrumentSymbolCode: AAPL:xnas
                IsinCode: US0378331005
                Price: 194.82
                PurchaseDate: '2020-06-20'
                Quantity: 24
                Uic: 211
              - Currency: GBP
                Description: ABB Ltd
                Exchange: SSE
                InstrumentSymbolCode: ABB:xome
                IsinCode: CH0012221716
                Price: 32.82
                PurchaseDate: '2020-09-10'
                Quantity: 7
                Uic: 101
            TradeDate: '2022-10-30'
            TransferDirection: TransferIn
            TransferId: '414'
    TransferRequest:
      required:
        - ClientKey
        - AccountKey
        - Securities
        - ClientAccountAtBroker
        - Broker
        - TransferDirection
        - AssetType
      type: object
      properties:
        AccountKey:
          title: The account identifier in key format from which securities transfer is executed
          minLength: 1
          type: string
          x-type-name: AccountKey
        AssetType:
          title: The asset type to be transferred
          allOf:
            - $ref: '#/components/schemas/TransferableAssetType'
        Broker:
          title: The client's broker details
          allOf:
            - $ref: '#/components/schemas/Broker'
        ClientAccountAtBroker:
          title: Identifier of the client's account at the broker
          type: string
          example: stringValue
        ClientKey:
          title: The client identifier in key format for which system will execute securities transfer
          minLength: 1
          type: string
          x-type-name: ClientKey
        Securities:
          title: The securities details
          type: array
          items:
            $ref: '#/components/schemas/Security'
          example:
            - Currency: EUR
              Description: Apple Inc.
              Exchange: NASDAQ
              InstrumentSymbolCode: AAPL:xnas
              IsinCode: US0378331005
              Price: 194.82
              PurchaseDate: '2020-06-20'
              Quantity: 24
              Uic: 211
            - Currency: GBP
              Description: ABB Ltd
              Exchange: SSE
              InstrumentSymbolCode: ABB:xome
              IsinCode: CH0012221716
              Price: 32.82
              PurchaseDate: '2020-09-10'
              Quantity: 7
              Uic: 101
        SettlementDate:
          title: The settlement date
          type: string
          format: date
          x-type-name: Date
        SettlementInstruction:
          title: Settlement Instruction
          allOf:
            - $ref: '#/components/schemas/SettlementInstruction'
        TradeDate:
          title: The agreed trade date
          type: string
          format: date
          x-type-name: Date
        TransferDirection:
          title: 'Transfer type, in or out of Bank'
          allOf:
            - $ref: '#/components/schemas/TransferDirection'
      additionalProperties: false
      example:
        AccountKey: dIm75edbgnW6aBK3CIc-sw==
        AssetType: Stock
        Broker:
          Contact: Broker Contact 1
          CountryCode: DK
          Email: BrokerEmail1@email.com
          Name: ABC Investment Bank
          Phone: +45 12345678
        ClientAccountAtBroker: '0539633313'
        ClientKey: zpSlGZ4F0cPIx59wR3HP1g==
        Securities:
          - Currency: EUR
            Description: Apple Inc.
            Exchange: NASDAQ
            InstrumentSymbolCode: AAPL:xnas
            IsinCode: US0378331005
            Price: 194.82
            PurchaseDate: '2020-06-20'
            Quantity: 24
            Uic: 211
          - Currency: GBP
            Description: ABB Ltd
            Exchange: SSE
            InstrumentSymbolCode: ABB:xome
            IsinCode: CH0012221716
            Price: 32.82
            PurchaseDate: '2020-09-10'
            Quantity: 7
            Uic: 101
        SettlementInstruction:
          AccountAtClearingAgent: '0539633313'
          AgentLocalAccount: '6300772196'
          BuyerSellerCode: B
          BuyerSellerCodeType: Bic
          ClearingAgentCode: '9200'
          ClearingAgentCodeType: Bic
          FreeText: NOTLXNO
          SettlementAgentAccount: 1011248400G
        TradeDate: '2022-10-30'
        TransferDirection: TransferIn
    TransferResponse:
      title: Response for security transfer
      type: object
      properties:
        TransferId:
          title: Unique transaction id for the transfer
          type: string
          example: stringValue
      additionalProperties: false
      example:
        TransferId: 63HGCDS3E89DS
    TransferResult:
      type: object
      properties:
        Amount:
          title: Amount to be moved
          type: number
          example: 10
        Comment:
          title: Comment specified in the request
          type: string
          example: stringValue
        Currency:
          title: Currency specified in the request
          type: string
          example: stringValue
        ExternalReference:
          title: External reference specified in the request
          type: string
          example: stringValue
        FromAccount:
          title: Account where the cash is moved from.
          minLength: 1
          type: string
          x-type-name: AccountKey
        FromAccountPositionId:
          title: The id of the cash position created on the "from" account.
          type: string
          example: stringValue
        FundingCheck:
          title: Funding check action.
          allOf:
            - $ref: '#/components/schemas/FundingCheck'
        ToAccount:
          title: Account where the cash is moved to.
          minLength: 1
          type: string
          x-type-name: AccountKey
        ToAccountPositionId:
          title: The id of the cash position created on the "to" account.
          type: string
          example: stringValue
        TransactionId:
          title: Unique id for the cash transfer transaction.
          type: string
          example: stringValue
        TransferRequestedOn:
          title: Time of the transaction was requested.
          type: string
          format: date-time
          x-type-name: UtcDateTime
        TransferStatus:
          title: Status of the transaction.
          allOf:
            - $ref: '#/components/schemas/TransferStatus'
        ValueDate:
          title: Value Date of settlement of cash transfer.
          type: string
          format: date-time
          x-type-name: UtcDateTime
      additionalProperties: false
      example:
        Amount: 10000
        Comment: Transferring from funding account 33000/FEUR
        Currency: EUR
        ExternalReference: '789456'
        FromAccount: '-gh-xomNFSNUYdRL0KrPpg=='
        FromAccountPositionId: '1267'
        FundingCheck: Enforce
        ToAccount: y3kFQWkqJYMgOgaxcoqshA==
        ToAccountPositionId: '1268'
        TransactionId: '1269'
        TransferRequestedOn: '2022-10-30T06:28:04.8160530+00:00'
        TransferStatus: Successful
        ValueDate: '0001-01-01T00:00:00.0000000+00:00'
    TransferResultListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/TransferResult'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        Data:
          - Amount: 10000
            Comment: Transferring from funding account 33000/FEUR
            Currency: EUR
            ExternalReference: '789456'
            FromAccount: '-gh-xomNFSNUYdRL0KrPpg=='
            FromAccountPositionId: '1267'
            FundingCheck: Enforce
            ToAccount: y3kFQWkqJYMgOgaxcoqshA==
            ToAccountPositionId: '1268'
            TransactionId: '1269'
            TransferRequestedOn: '2022-10-30T06:28:04.817054Z'
            TransferStatus: Successful
            ValueDate: '0001-01-01T00:00:00Z'
    TransferStatus:
      enum:
        - Failed
        - Pending
        - Successful
      type: string
      example: Failed
    TransferableAssetType:
      title: The possible AssetTypes for which you can transfer in or out.
      enum:
        - Bond
        - CertificateBonus
        - CertificateCappedBonus
        - CertificateCappedCapitalProtected
        - CertificateCappedOutperformance
        - CertificateConstantLeverage
        - CertificateDiscount
        - CertificateExpress
        - CertificateTracker
        - CertificateUncappedCapitalProtection
        - CertificateUncappedOutperformance
        - MiniFuture
        - Stock
        - Warrant
        - WarrantDoubleKnockOut
        - WarrantKnockOut
        - WarrantOpenEndKnockOut
        - WarrantSpread
      type: string
      example: Fund
      x-enum-descriptions:
        Stock: Stock
        Bond: Bond
        Warrant: Warrant
        MiniFuture: MiniFuture
        WarrantKnockOut: WarrantKnockOut
        WarrantOpenEndKnockOut: WarrantOpenEndKnockOut
        CertificateUncappedCapitalProtection: CertificateUncappedCapitalProtection
        CertificateCappedCapitalProtected: CertificateCappedCapitalProtected
        CertificateDiscount: CertificateDiscount
        CertificateCappedOutperformance: CertificateCappedOutperformance
        CertificateCappedBonus: CertificateCappedBonus
        CertificateExpress: CertificateExpress
        CertificateTracker: CertificateTracker
        CertificateUncappedOutperformance: CertificateUncappedOutperformance
        CertificateBonus: CertificateBonus
        CertificateConstantLeverage: CertificateConstantLeverage
    WithdrawalRequest:
      title: Cash Withdrawal Request
      required:
        - AccountKey
        - BeneficiaryInstructionId
        - Amount
        - Currency
      type: object
      properties:
        AccountKey:
          title: The account identifier in key format from which to transfer money.
          minLength: 1
          type: string
          x-type-name: AccountKey
        Amount:
          title: The amount to be withdrawn.
          type: number
          example: 10
        BeneficiaryInstructionId:
          title: Id of the beneficiary instruction to be used for the withdrawal
          type: string
          example: stringValue
        Currency:
          title: The currency the amount is in.
          pattern: '^[A-Z]{3}$'
          type: string
          x-type-name: CurrencyCode
        MessageToBeneficiary:
          title: "For MT103 type messages this is a free text field and for MT202 messages it is used to specify additional \n            information to one of the parties involved in the transaction in a structured format.\n            See the Cash Withdrawal learn page for more information about the format for MT202 messages.Maximum length is 140 ASCII characters."
          maxLength: 140
          minLength: 0
          type: string
          example: stringValue
      additionalProperties: false
      example: 
    WithdrawalResponse:
      title: Response to withdrawal request
      type: object
      properties:
        CutExchangeRate:
          title: Cut exchange rate.
          type: number
          example: 10
        WithdrawalRequestId:
          title: Outgoing request Id created.
          type: string
          example: stringValue
      additionalProperties: false
      example:
        CutExchangeRate: 1
        WithdrawalRequestId: '2425'
  responses:
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
              - ErrorCode
              - Message
            type: object
            properties:
              ErrorCode:
                enum:
                  - InvalidRequest
                type: string
                example: None
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
    ServiceUnavailable:
      description: Service Unavailable.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: { }
tags:
  - name: Cash Management - Beneficiary Instructions
    description: This endpoint provides the functionality to manage beneficiary instructions
  - name: CashManagement - Cash Withdrawal
    description: This endpoint provides the functionality necessary to allow a client to withdraw money from his account
  - name: CashManagement - Cash Withdrawal Limits
    description: Provides endpoints for cash available for withdrawal.
  - name: Partner - Cash Transfer
    description: Provides AssetTransfers related endpoints.
  - name: Partner - Cash Transfer Limits
    description: Provides endpoints for cash available for transfer.
  - name: Partner - Prefunding
    description: IB can credit their client account on pre-advice
  - name: Securities Transfers
    description: Allows a user to provide a list of securities to be transfereed into or out of Saxo Bank