openapi: 3.0.1
info:
  title: Services.CorporateActions
  description: 'The Corporate Actions service group provides end points for getting voluntary/mandatory events, electing on events, & setting standing instructions for future events.<div class=well style=''border: 1px solid rgb(204, 82, 0); border-image: none; background-color: rgb(255, 209, 179);padding:1px;''><strong> Note:</strong> </br>This service is subject to special licensing agreements and not generally available to all OpenAPI applications.</div>'
  version: 2.2.18+afabea7a32
  x-framework-version: 40.0.6+1b67a0140e
  x-machine: SIMOAWEB10-DK2
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  /ca/v2/holdings:
    get:
      tags:
        - Holdings
      summary: Get client holdings
      description: Get client holdings based on client/account/event
      operationId: HoldingsGetHoldingsAsync
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: AccountGroupKey
          in: query
          description: Account group identifier
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: BxS0VWLta8lJ3SBpjGBQjw==
        - name: AccountKey
          in: query
          description: Account identifier
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 2y0tX0m9ZH7MH8HK38qM9g==
        - name: ClientKey
          in: query
          description: Client identifier
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 7m4I|vtYLUnEGg77o9uQhw==
        - name: EventId
          in: query
          description: Event id
          schema:
            type: string
          example: '987468'
        - name: IncludeSubAccounts
          in: query
          description: Indicate whether to include events from sub-clients.
          schema:
            type: boolean
          example: false
        - name: ManagementTypes
          in: query
          description: SaxoInternal - Management type filter for holdings.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ManagementType'
          example: 'Client,TradeAdvisory'
        - name: ModelIds
          in: query
          description: SaxoInternal - Model filter for holdings. Accepts comma separated model ids for filtering.
          schema:
            type: array
            items:
              type: string
          example: '1226'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingListResult'
              example:
                __count: 1
                Data:
                  - AccountId: 123INET
                    Amount: 100
                    CashReserved:
                      Currency: USD
                      Value: 2583.62
                    ClientId: '906869'
                    ClientName: John
                    ElectedAmount: 20
                    EventId: '9652429'
                    Options:
                      - ElectedAmount: 20
                        ElectionType: Manual
                        Instruction:
                          Status: Accepted
                        OptionId: '1'
                        Remarks: Remarks by client...
                    OwnerId: '532'
        '404':
          description: Requested resource not found.
        '400':
          description: Request contains invalid parameters.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidPagingParameters
                    type: string
                    x-enum-descriptions:
                      InvalidPagingParameters: Invalid paging parameters
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  '/ca/v2/events/{EventId}':
    get:
      tags:
        - Events
      summary: Get corporate action event
      description: 'Get specified event, if event is not cancelled, where client holds position on corresponding instrument.'
      operationId: EventsGetEventAsync
      parameters:
        - name: ClientKey
          in: query
          description: Client identifier
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: EventId
          in: path
          description: Corporate action identifier
          required: true
          schema:
            type: string
          example: '875684'
        - name: IncludeSubAccounts
          in: query
          description: Indicate whether to include events from sub-clients.
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
              example:
                AssetType: Stock
                BidIntervalRate:
                  Currency: EUR
                  Value: 1
                ClaimPeriod:
                  End:
                    Status: Ongoing
                  Start:
                    Status: Ongoing
                CorporateActionType: Voluntary
                DisplayAndFormat:
                  Description: Chargeurs SA
                  IsinCode: FR0000130692
                  Symbol: CRI:xpar
                Effective:
                  Date: '2021-02-12'
                Electable: Electable
                ElectionStatus: PartialElected
                EventId: '9652429'
                EventIndicators:
                  - Indicator: AdditionalBusinessProcess
                    Values:
                      - Code: NPLE
                        Description: The issuer only allows a single option to be selected per designated holding.
                        Name: No Split Election
                  - Indicator: Change
                    Values:
                      - Code: BERE
                        Description: Change from bearer into registered form.
                        Name: Bearer to Registered
                  - Indicator: Consent
                    Values:
                      - Code: CTRM
                        Description: This is a change in the terms and conditions of the bond.
                        Name: Change in Terms
                  - Indicator: Dividend
                    Values:
                      - Code: FINL
                        Description: 'Payment of a dividend, less the amounts already paid through interim dividends.'
                        Name: Final
                EventState: Preliminary
                EventStatus: Past
                EventType:
                  Code: DVCA
                  Description: 'Distribution of cash to shareholders, in proportion to their equity holding. Ordinary dividends are recurring and regular. Shareholder must take cash and may be offered a choice of currency.'
                  Name: Cash Dividend
                Ex:
                  Date: '2021-02-12'
                Holdings:
                  - AccountId: 123INET
                    Amount: 100
                    CashReserved:
                      Currency: USD
                      Value: 2583.62
                    ClientId: '906869'
                    ClientName: John
                    ElectedAmount: 20
                    EventId: '9652429'
                    Options:
                      - ElectedAmount: 20
                        ElectionType: Manual
                        Instruction:
                          Status: Accepted
                        OptionId: '1'
                        Remarks: Remarks by client...
                    OwnerId: '532'
                InformationToComply: RestrictionsMayApply
                InterestPeriod:
                  End:
                    Status: Ongoing
                  Start:
                    Status: Ongoing
                MaxPrice:
                  Currency: EUR
                  Type: Actual
                  Value: 60
                MaxQuantitySought: 1000
                MinPrice:
                  Currency: EUR
                  Type: Actual
                  Value: 5
                MinQuantitySought: 4
                Narrative: '<b>ADTX</b><p>Rights issue trading period of rights: ______________   terms: you may apply for _____ new share for every ______ rights held at _________ per share.<br/>Client must ensure that they instruct in the multiple/s advised in the notification.<br/>Failure to comply will result in the rejection of instruction/s and client/s will not be notified of the rejection.<br/>Option 1: exercise (receive shares) option 2: oversubscribe (please state the number of additional shares you wish to oversubscribe for).<br/>Option 3: lapse (default) should the client wish to oversubscribe, kindly ensure to exercise full quantity of rights.<br/>Oversubscription may be subject to scaleback based at the account level.<br/>For clients who elect to exercise and oversubscribe, please ensure your account is funded on the same day of instructions submission; failure to do so will result in your instruction being rejected.<br/>Total subscription cost/s including oversubscription will be debited on the next business day after the instruction deadline date.<br/>A potential future resultant entitlement will be booked to a dummy security and may be subject to a proration factor being applied where oversubscription has been elected.<br/>Note that any reduction or change in this position may be a result of this factor.<br/>The final resultant entitlement will be booked on the market identifier upon receipt from agent.<br/>In the case where scaleback of subscription/oversubscription occurs, cost will be refunded without interest as soon as practical upon receipt from the agent.<br/>We will attempt to sell any tradeable rights position left uninstructed or instructed to lapse on the last rights trading date if the value of the client position is worth more than eur 30 or equivalent to the currency of the security.<br/>For non tradeable rights, rights not exercised will be lapsed worthless.<br/>We hereby informs the client that, according to the laws of the country of its incorporation or the laws of the country of residence of its customers and the laws applicable to an issuer of securities which are subject to corporate actions, the client, will decide to participate or not to such corporate actions upon its sole and exclusive discretion and judgment.<br/>The client will bear any detrimental consequence arising out of or connected to such instruction.<br/>For the avoidance of doubt, any information in relation to the corporate actions sent to the client may have been obtained from sources which are not under the bank''s control and accordingly, the bank shall not be held responsible for the truth and the accuracy of this information.<br/>Please refer to the prospectus of the event for any further details.<br/><br/></p><b>ADTX</b><p>Rights issue trading period of rights: ______________   terms: you may apply for _____ new share for every ______ rights held at _________ per share.<br/>Client must ensure that they instruct in the multiple/s advised in the notification.<br/>Failure to comply will result in the rejection of instruction/s and client/s will not be notified of the rejection.<br/>Option 1: exercise (receive shares) option 2: oversubscribe (please state the number of additional shares you wish to oversubscribe for).<br/>Option 3: lapse (default) should the client wish to oversubscribe, kindly ensure to exercise full quantity of rights.<br/>Oversubscription may be subject to scaleback based at the account level.<br/>For clients who elect to exercise and oversubscribe, please ensure your account is funded on the same day of instructions submission; failure to do so will result in your instruction being rejected.<br/>Total subscription cost/s including oversubscription will be debited on the next business day after the instruction deadline date.<br/>A potential future resultant entitlement will be booked to a dummy security and may be subject to a proration factor being applied where oversubscription has been elected.<br/>Note that any reduction or change in this position may be a result of this factor.<br/>The final resultant entitlement will be booked on the market identifier upon receipt from agent.<br/>In the case where scaleback of subscription/oversubscription occurs, cost will be refunded without interest as soon as practical upon receipt from the agent.<br/>We will attempt to sell any tradeable rights position left uninstructed or instructed to lapse on the last rights trading date if the value of the client position is worth more than eur 30 or equivalent to the currency of the security.<br/>For non tradeable rights, rights not exercised will be lapsed worthless.<br/>We hereby informs the client that, according to the laws of the country of its incorporation or the laws of the country of residence of its customers and the laws applicable to an issuer of securities which are subject to corporate actions, the client, will decide to participate or not to such corporate actions upon its sole and exclusive discretion and judgment.<br/>The client will bear any detrimental consequence arising out of or connected to such instruction.<br/>For the avoidance of doubt, any information in relation to the corporate actions sent to the client may have been obtained from sources which are not under the bank''s control and accordingly, the bank shall not be held responsible for the truth and the accuracy of this information.<br/>Please refer to the prospectus of the event for any further details.<br/><br/></p>'
                NewBoardLotQuantity: 20
                NewDenominationQuantity: 100
                NumberofDaysAccrued: 23
                Options:
                  - BidIntervalRate:
                      Currency: EUR
                      Value: 1
                    CashMovements:
                      - CashMovementType: Credit
                        Currency: USD
                        PriceType: Actual
                        SubscriptionPrice: 11.9623
                    CashRequired: false
                    Deadline:
                      Date: '2021-02-23T08:30:00Z'
                    IsDefault: false
                    IsGross: false
                    IsTaxable: true
                    MaxPrice:
                      Currency: EUR
                      Type: Actual
                      Value: 60
                    MinPrice:
                      Currency: EUR
                      Type: Actual
                      Value: 5
                    OptionId: '1'
                    OptionIndicators:
                      - Indicator: BidRange
                        Values:
                          - Code: DIVI
                            Description: All values (including minimum and maximum prices) are divisible by the bid interval.
                            Name: Divisible
                    OptionType:
                      Code: CASH
                      Name: Cash
                    Payment:
                      Date: '2021-02-12'
                    PayoutBreakdown:
                      - Amount: 5.9623
                        Component:
                          Code: INTRT
                          Description: Interest
                          Name: Interest
                        Currency: USD
                      - Amount: 6
                        Component:
                          Code: LTCG
                          Description: Long term capital gain
                          Name: Long term capital gain
                        Currency: USD
                  - CashRequired: false
                    Deadline:
                      Date: '2021-02-23T08:30:00Z'
                    IsDefault: true
                    IsGross: false
                    IsTaxable: true
                    NetRate: 0.08
                    OptionId: '2'
                    OptionIndicators:
                      - Indicator: CertificationBreakdown
                        Values:
                          - Code: DOMI
                            Description: The holder of the security has to certify his domicile.
                            Name: Country of Domicile
                    OptionType:
                      Code: SECU
                      Description: Securities Option
                    Payment:
                      Date: '2021-02-12'
                    SecurityMovements:
                      - Currency: AUD
                        DisplayAndFormat:
                          Description: Telstra Corp. Ltd
                          IsinCode: AU000000TLS2
                          Symbol: TLS:xasx
                        SecurityMovementType: Credit
                        Uic: 5081
                Record:
                  Status: Ongoing
                StrikePrice:
                  Currency: EUR
                  Type: Actual
                  Value: 25
                TradingSuspended:
                  Status: Ongoing
                Uic: 13126
        '404':
          description: Requested resource not found.
        '400':
          description: Request contains invalid parameters.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  /ca/v2/events:
    get:
      tags:
        - Events
      summary: Get corporate action events
      description: 'Get list of Mandatory and Voluntary events, excluding cancelled events, if specified client holds position on corresponding instrument.'
      operationId: EventsGetEventsAsync
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 100
          example: 1
        - name: AccountGroupKey
          in: query
          description: Account group to get the events for.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: BxS0VWLta8lJ3SBpjGBQjw==
        - name: AccountKey
          in: query
          description: Account to get the events for.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 2y0tX0m9ZH7MH8HK38qM9g==
        - name: AssetTypes
          in: query
          description: Asset type filter for events.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AssetType'
          example: 'Stock,Bond'
        - name: ClientKey
          in: query
          description: Client to get the events for.
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 7m4I|vtYLUnEGg77o9uQhw==
        - name: CorporateActionTypes
          in: query
          description: Corporate action type filter for events.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Model.CorporateActionType'
          example: 'Mandatory,Voluntary'
        - name: ElectionStatuses
          in: query
          description: Election status filter for events.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ElectionStatus'
          example: 'Elected,PartialElected'
        - name: EventStatus
          in: query
          description: Event status filter.
          schema:
            $ref: '#/components/schemas/EventStatus'
          example: Active
        - name: EventTypes
          in: query
          description: Event type filter. Use event type codes to filter.
          schema:
            type: array
            items:
              type: string
          example: 'DVCA,DVOP'
        - name: FromDeadlineDate
          in: query
          description: Events on or after specified deadline date.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2020-06-16'
        - name: FromExDate
          in: query
          description: Events on or after specified ex date.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2020-06-16'
        - name: FromPayDate
          in: query
          description: Events on or after specified pay date.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2020-06-16'
        - name: FromRecordDate
          in: query
          description: Events on or after specified record date.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2020-06-16'
        - name: IncludeSubAccounts
          in: query
          description: Indicate whether to include events from sub-clients.
          schema:
            type: boolean
          example: false
        - name: Keywords
          in: query
          description: 'Looks for keywords in instrument description, ISIN code, and instrument symbol.'
          schema:
            type: string
          example: Appl
        - name: SortColumn
          in: query
          description: Specify a column to sort on. Default sort will be provided on Date.
          schema:
            $ref: '#/components/schemas/Model.SortColumn'
          example: Date
        - name: SortType
          in: query
          description: Specify ascending or descending sort. Default sort type will be Descending.
          schema:
            $ref: '#/components/schemas/SortType'
          example: Desc
        - name: ToDeadlineDate
          in: query
          description: Events on or before specified deadline date.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2020-10-15'
        - name: ToExDate
          in: query
          description: Events on or before specified ex date.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2020-10-15'
        - name: ToPayDate
          in: query
          description: Events on or before specified pay date.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2020-10-15'
        - name: ToRecordDate
          in: query
          description: Events on or before specified record date.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2020-10-15'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResult'
              example:
                __count: 1
                Data:
                  - AssetType: Stock
                    BidIntervalRate:
                      Currency: EUR
                      Value: 1
                    ClaimPeriod:
                      End:
                        Status: Ongoing
                      Start:
                        Status: Ongoing
                    CorporateActionType: Voluntary
                    DisplayAndFormat:
                      Description: Chargeurs SA
                      IsinCode: FR0000130692
                      Symbol: CRI:xpar
                    Effective:
                      Date: '2021-02-12'
                    Electable: Electable
                    ElectionStatus: PartialElected
                    EventId: '9652429'
                    EventIndicators:
                      - Indicator: AdditionalBusinessProcess
                        Values:
                          - Code: NPLE
                            Description: The issuer only allows a single option to be selected per designated holding.
                            Name: No Split Election
                      - Indicator: Change
                        Values:
                          - Code: BERE
                            Description: Change from bearer into registered form.
                            Name: Bearer to Registered
                      - Indicator: Consent
                        Values:
                          - Code: CTRM
                            Description: This is a change in the terms and conditions of the bond.
                            Name: Change in Terms
                      - Indicator: Dividend
                        Values:
                          - Code: FINL
                            Description: 'Payment of a dividend, less the amounts already paid through interim dividends.'
                            Name: Final
                    EventState: Preliminary
                    EventStatus: Past
                    EventType:
                      Code: DVCA
                      Description: 'Distribution of cash to shareholders, in proportion to their equity holding. Ordinary dividends are recurring and regular. Shareholder must take cash and may be offered a choice of currency.'
                      Name: Cash Dividend
                    Ex:
                      Date: '2021-02-12'
                    Holdings:
                      - AccountId: 123INET
                        Amount: 100
                        CashReserved:
                          Currency: USD
                          Value: 2583.62
                        ClientId: '906869'
                        ClientName: John
                        ElectedAmount: 20
                        EventId: '9652429'
                        Options:
                          - ElectedAmount: 20
                            ElectionType: Manual
                            Instruction:
                              Status: Accepted
                            OptionId: '1'
                            Remarks: Remarks by client...
                        OwnerId: '532'
                    InformationToComply: RestrictionsMayApply
                    InterestPeriod:
                      End:
                        Status: Ongoing
                      Start:
                        Status: Ongoing
                    MaxPrice:
                      Currency: EUR
                      Type: Actual
                      Value: 60
                    MaxQuantitySought: 1000
                    MinPrice:
                      Currency: EUR
                      Type: Actual
                      Value: 5
                    MinQuantitySought: 4
                    Narrative: '<b>ADTX</b><p>Rights issue trading period of rights: ______________   terms: you may apply for _____ new share for every ______ rights held at _________ per share.<br/>Client must ensure that they instruct in the multiple/s advised in the notification.<br/>Failure to comply will result in the rejection of instruction/s and client/s will not be notified of the rejection.<br/>Option 1: exercise (receive shares) option 2: oversubscribe (please state the number of additional shares you wish to oversubscribe for).<br/>Option 3: lapse (default) should the client wish to oversubscribe, kindly ensure to exercise full quantity of rights.<br/>Oversubscription may be subject to scaleback based at the account level.<br/>For clients who elect to exercise and oversubscribe, please ensure your account is funded on the same day of instructions submission; failure to do so will result in your instruction being rejected.<br/>Total subscription cost/s including oversubscription will be debited on the next business day after the instruction deadline date.<br/>A potential future resultant entitlement will be booked to a dummy security and may be subject to a proration factor being applied where oversubscription has been elected.<br/>Note that any reduction or change in this position may be a result of this factor.<br/>The final resultant entitlement will be booked on the market identifier upon receipt from agent.<br/>In the case where scaleback of subscription/oversubscription occurs, cost will be refunded without interest as soon as practical upon receipt from the agent.<br/>We will attempt to sell any tradeable rights position left uninstructed or instructed to lapse on the last rights trading date if the value of the client position is worth more than eur 30 or equivalent to the currency of the security.<br/>For non tradeable rights, rights not exercised will be lapsed worthless.<br/>We hereby informs the client that, according to the laws of the country of its incorporation or the laws of the country of residence of its customers and the laws applicable to an issuer of securities which are subject to corporate actions, the client, will decide to participate or not to such corporate actions upon its sole and exclusive discretion and judgment.<br/>The client will bear any detrimental consequence arising out of or connected to such instruction.<br/>For the avoidance of doubt, any information in relation to the corporate actions sent to the client may have been obtained from sources which are not under the bank''s control and accordingly, the bank shall not be held responsible for the truth and the accuracy of this information.<br/>Please refer to the prospectus of the event for any further details.<br/><br/></p><b>ADTX</b><p>Rights issue trading period of rights: ______________   terms: you may apply for _____ new share for every ______ rights held at _________ per share.<br/>Client must ensure that they instruct in the multiple/s advised in the notification.<br/>Failure to comply will result in the rejection of instruction/s and client/s will not be notified of the rejection.<br/>Option 1: exercise (receive shares) option 2: oversubscribe (please state the number of additional shares you wish to oversubscribe for).<br/>Option 3: lapse (default) should the client wish to oversubscribe, kindly ensure to exercise full quantity of rights.<br/>Oversubscription may be subject to scaleback based at the account level.<br/>For clients who elect to exercise and oversubscribe, please ensure your account is funded on the same day of instructions submission; failure to do so will result in your instruction being rejected.<br/>Total subscription cost/s including oversubscription will be debited on the next business day after the instruction deadline date.<br/>A potential future resultant entitlement will be booked to a dummy security and may be subject to a proration factor being applied where oversubscription has been elected.<br/>Note that any reduction or change in this position may be a result of this factor.<br/>The final resultant entitlement will be booked on the market identifier upon receipt from agent.<br/>In the case where scaleback of subscription/oversubscription occurs, cost will be refunded without interest as soon as practical upon receipt from the agent.<br/>We will attempt to sell any tradeable rights position left uninstructed or instructed to lapse on the last rights trading date if the value of the client position is worth more than eur 30 or equivalent to the currency of the security.<br/>For non tradeable rights, rights not exercised will be lapsed worthless.<br/>We hereby informs the client that, according to the laws of the country of its incorporation or the laws of the country of residence of its customers and the laws applicable to an issuer of securities which are subject to corporate actions, the client, will decide to participate or not to such corporate actions upon its sole and exclusive discretion and judgment.<br/>The client will bear any detrimental consequence arising out of or connected to such instruction.<br/>For the avoidance of doubt, any information in relation to the corporate actions sent to the client may have been obtained from sources which are not under the bank''s control and accordingly, the bank shall not be held responsible for the truth and the accuracy of this information.<br/>Please refer to the prospectus of the event for any further details.<br/><br/></p>'
                    NewBoardLotQuantity: 20
                    NewDenominationQuantity: 100
                    NumberofDaysAccrued: 23
                    Options:
                      - BidIntervalRate:
                          Currency: EUR
                          Value: 1
                        CashMovements:
                          - CashMovementType: Credit
                            Currency: USD
                            PriceType: Actual
                            SubscriptionPrice: 11.9623
                        CashRequired: false
                        Deadline:
                          Date: '2021-02-23T08:30:00Z'
                        IsDefault: false
                        IsGross: false
                        IsTaxable: true
                        MaxPrice:
                          Currency: EUR
                          Type: Actual
                          Value: 60
                        MinPrice:
                          Currency: EUR
                          Type: Actual
                          Value: 5
                        OptionId: '1'
                        OptionIndicators:
                          - Indicator: BidRange
                            Values:
                              - Code: DIVI
                                Description: All values (including minimum and maximum prices) are divisible by the bid interval.
                                Name: Divisible
                        OptionType:
                          Code: CASH
                          Name: Cash
                        Payment:
                          Date: '2021-02-12'
                        PayoutBreakdown:
                          - Amount: 5.9623
                            Component:
                              Code: INTRT
                              Description: Interest
                              Name: Interest
                            Currency: USD
                          - Amount: 6
                            Component:
                              Code: LTCG
                              Description: Long term capital gain
                              Name: Long term capital gain
                            Currency: USD
                      - CashRequired: false
                        Deadline:
                          Date: '2021-02-23T08:30:00Z'
                        IsDefault: true
                        IsGross: false
                        IsTaxable: true
                        NetRate: 0.08
                        OptionId: '2'
                        OptionIndicators:
                          - Indicator: CertificationBreakdown
                            Values:
                              - Code: DOMI
                                Description: The holder of the security has to certify his domicile.
                                Name: Country of Domicile
                        OptionType:
                          Code: SECU
                          Description: Securities Option
                        Payment:
                          Date: '2021-02-12'
                        SecurityMovements:
                          - Currency: AUD
                            DisplayAndFormat:
                              Description: Telstra Corp. Ltd
                              IsinCode: AU000000TLS2
                              Symbol: TLS:xasx
                            SecurityMovementType: Credit
                            Uic: 5081
                    Record:
                      Status: Ongoing
                    StrikePrice:
                      Currency: EUR
                      Type: Actual
                      Value: 25
                    TradingSuspended:
                      Status: Ongoing
                    Uic: 13126
        '404':
          description: Requested resource not found.
        '400':
          description: Request contains invalid parameters.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  /ca/v2/events/lookupdata:
    get:
      tags:
        - Events
      summary: Lookup for filters
      description: Serves as a lookup for available filters
      operationId: EventsGetLookupDataAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: Account group to get the events for.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: BxS0VWLta8lJ3SBpjGBQjw==
        - name: AccountKey
          in: query
          description: Account to get the events for.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 2y0tX0m9ZH7MH8HK38qM9g==
        - name: ClientKey
          in: query
          description: Client to get the events for.
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 7m4I|vtYLUnEGg77o9uQhw==
        - name: FieldGroups
          in: query
          description: Specify lookup fields required in response.
          schema:
            $ref: '#/components/schemas/LookupFieldGroups'
          example: All
        - name: IncludeSubAccounts
          in: query
          description: Indicate whether to include events from sub-clients.
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Lookup data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupListResult'
              example:
                Data:
                  - FieldGroup: EventTypes
                    Values:
                      - Code: DVCA
                        Name: Cash Dividend
                  - FieldGroup: AssetTypes
                    Values:
                      - Code: Stock
                        Name: Stock
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  /ca/v1/proxyvoting/events:
    get:
      tags:
        - Proxy Voting
      description: Get proxy voting events for client. Requires separate license.
      operationId: ProxyVotingGetProxyVotingEventsAsync
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 50
          example: 1
        - name: ClientKey
          in: query
          description: Client identifier to get events for
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: W-CgwnsUEpETkiR8MPJalA==
        - name: SortColumn
          in: query
          description: Specify a column to sort on. Default sorting on records is descending by ReceivedDate and ascending by IssuerName.
          schema:
            $ref: '#/components/schemas/SortColumn'
        - name: SortType
          in: query
          description: Specify ascending or descending sort. Default sort type will be Ascending.
          schema:
            $ref: '#/components/schemas/SortType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyVotingEventListResult'
              example:
                __count: 1
                Data:
                  - AccountId: '384930295'
                    ActionUrl: http://....
                    Cins: A08010AA5
                    Cusip: '123456789'
                    CutoffDate: '2020-06-30'
                    DeliveryType:
                      Code: ED
                      Description: Sent via email
                    IsinCode: US0978731104
                    IssuerName: 'American International Group, Inc.'
                    JobNumber: S75596
                    Materials:
                      - MaterialType:
                          Code: 10K
                          Description: 10-K Report
                        Url: http://....
                    ReceivedDate: '2020-06-15'
                    Status:
                      Code: VW
                      Description: Viewed
                    StatusDate: '2020-06-30'
                    Subtype:
                      Code: S
                      Description: Special meeting
                    Type:
                      Code: PX
                      Description: Proxy
        '403':
          description: User is not authorized to access the requested data.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  /ca/v2/standinginstructions:
    get:
      tags:
        - Standing Instructions
      summary: Get standing instructions.
      description: Fetches a list of standing instructions configured by client or partner.
      operationId: StandingInstructionGet
      parameters:
        - name: ClientKey
          in: query
          description: Client Key to fetch standing instructions for.
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 7m4I|vtYLUnEGg77o9uQhw==
        - name: IncludeSubAccounts
          in: query
          description: Indicates whether to include standing instructions from sub-clients.
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Indicates that instructions were retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingInstructionListResult'
              example:
                Data:
                  - AccountDisplayName: Derivatives
                    AccountId: '12642445'
                    AssetType: Stock
                    ClientId: '9971842'
                    CreatedDate: '0001-01-01'
                    DisplayAndFormat:
                      Description: ABB Ltd
                      IsinCode: CH0012221716
                      Symbol: ABB:xome
                    OptionType: SECU
                    StandingInstructionId: '31272'
                    Uic: 101
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
    post:
      tags:
        - Standing Instructions
      summary: Create new standing instruction.
      description: "Creates new standing instructions - configured for given account and instrument. \r\n            Standing instructions will be used to perform auto elections by the Election Robot."
      operationId: StandingInstructionPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandingInstructionRequest'
            example:
              ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
              StandingInstructions:
                - AccountKey: dIm75edbgnW6aBK3CIc-sw==
                  AssetType: Stock
                  OptionType: SECU
                  Uic: 101
      responses:
        '201':
          description: Indicates that the election was performed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingInstructionResponseListResult'
              example:
                __count: 2
                Data:
                  - AccountId: '12642445'
                    AssetType: Stock
                    CreatedDate: '0001-01-01'
                    OptionType: SECU
                    StandingInstructionId: '31272'
                    Uic: 101
                  - AccountId: '12642445'
                    AssetType: Stock
                    CreatedDate: '0001-01-01'
                    ErrorCode: InvalidInstrumentDetail
                    OptionType: CASH
                    StandingInstructionId: '21272'
                    Uic: 2103
        '403':
          description: Logged in client doesn't have necessary permissions to create standing instruction.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - TradeFollowersCannotElectStandingInstructions
                    type: string
                    x-enum-descriptions:
                      TradeFollowersCannotElectStandingInstructions: TradeFollowers are not allowed to Elect Standing Instructions.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
    delete:
      tags:
        - Standing Instructions
      summary: Delete standing instructions
      description: 'Removes standing instructions, which disables configured auto election.'
      operationId: StandingInstructionDelete
      parameters:
        - name: ClientKey
          in: query
          description: Client Identifier Key
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: W-CgwnsUEpETkiR8MPJalA==
        - name: StandingInstructionIds
          in: query
          description: Standing instruction ids to delete.
          required: true
          schema:
            type: array
            items:
              type: string
          example: '111112'
      responses:
        '204':
          description: No Content
        '200':
          description: Standing Instructions successfully deleted.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstructionIdNotFound
                    type: string
                    x-enum-descriptions:
                      InstructionIdNotFound: Instruction Id's not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Logged in client doesn't have necessary permissions to delete standing instruction.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - TradeFollowersCannotElectStandingInstructions
                    type: string
                    x-enum-descriptions:
                      TradeFollowersCannotElectStandingInstructions: TradeFollowers are not allowed to Elect Standing Instructions.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstructionIdNotSpecified
                    type: string
                    x-enum-descriptions:
                      InstructionIdNotSpecified: Instruction Id's not specified by user.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  /ca/v2/elections/bulk:
    put:
      tags:
        - Elections
      summary: Send bulk election instructions
      description: "Sends instructions about elections to make for given accounts and event.\r\n            When posting these instructions to elect, all previous elections for the specified accounts/event are overwritten."
      operationId: ElectionBulkElectAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkElectionRequest'
            example:
              Accounts:
                - AccountKey: 2y0tX0m9ZH7MH8HK38qM9g==
              EventId: '9652429'
              Options:
                - AmountPct: 75
                  OptionId: '1'
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkElectionResponseListResult'
              example:
                Data:
                  - AccountId: '845935'
                    Status: Accepted
        '202':
          description: Election instructions have been accepted.
        '403':
          description: Logged in client doesn't have necessary accesses to make election.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BulkBuyUpNotAllowed
                      - BulkOverSubscriptionNotAllowed
                      - DeadlineDatePassed
                      - EventNotElectable
                      - InvalidBulkElectionAmount
                      - InvalidEvent
                      - InvalidEventStatusToElectOn
                      - InvalidEventTypeForElection
                      - InvalidOptionInElectionInstruction
                      - InvalidTotalBulkElectionAmount
                      - NoSubAccountHasHoldingOnEvent
                      - OptionNotAvailableForElection
                      - SplitElectionsNotAllowedOnEvent
                      - TotalElectionAmountShouldNotBeZero
                    type: string
                    x-enum-descriptions:
                      NoSubAccountHasHoldingOnEvent: No sub-account in the request has holding for event in the request.
                      InvalidEventStatusToElectOn: Invalid election instruction if status of elected event is other than Approved.
                      InvalidOptionInElectionInstruction: Invalid election instruction if election is made on the option which is not available in event.
                      InvalidBulkElectionAmount: Invalid bulk election instruction if election percentage is less than 0 or greater than 100.
                      InvalidTotalBulkElectionAmount: Total percentage across options cannot exceed 100%.
                      OptionNotAvailableForElection: Invalid election instruction if election is made on Inactive or Cancelled option.
                      SplitElectionsNotAllowedOnEvent: Invalid election instruction if election are made on more than one option for events where it is specified that split elections can't be done.
                      BulkOverSubscriptionNotAllowed: Over subscription is not allowed in bulk elections.
                      BulkBuyUpNotAllowed: BuyUp is not allowed in bulk elections.
                      InvalidEvent: Invalid election instruction if elected event doesn't exist.
                      InvalidEventTypeForElection: Invalid event type for election.
                      EventNotElectable: Event is not electable.
                      DeadlineDatePassed: Deadline date for option has passed.
                      TotalElectionAmountShouldNotBeZero: 'Total election amount, across options, should be greater than zero.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  /ca/v2/elections:
    put:
      tags:
        - Elections
      summary: Send election instruction
      description: "Sends an instruction about elections to make for a given account and event.\r\n            When posting an instruction to elect, all previous elections for the specified account/event are overwritten."
      operationId: ElectionElectAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElectionRequest'
            example:
              AccountKey: 2y0tX0m9ZH7MH8HK38qM9g==
              EventId: '9652429'
              Options:
                - Amount: 100
                  OptionId: '1'
                  Remarks: Electing on 100 holdings for option 1.
      responses:
        '204':
          description: No Content
        '202':
          description: Election instructions have been accepted.
        '403':
          description: Logged in client doesn't have necessary accesses to make election.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountNotActive
                      - BlocksExistForOwnedContracts
                      - ClientFxDslLimitation
                      - ClientFxNopLimitation
                      - ClientNotActive
                      - ClientSingleCurrencyExposureLimitation
                      - ContactExposureLimitation
                      - CurrencyConversionRateOutOfToleranceRange
                      - DeadlineDatePassed
                      - ElectionAmountExceedsEligibleHolding
                      - ElectionAmountGreaterThanMaxExercisableQuantity
                      - ElectionAmountLessThanMinExercisableQuantity
                      - ElectionAmountNotMultipleOfMinExercisableMultipleQuantity
                      - EventNotElectable
                      - ForcedExposureReductionViolation
                      - HasSystemOrders
                      - IllegalInstrumentTypeForAccount
                      - InstrumentForcedExposureReductionViolation
                      - InsufficientCash
                      - InvalidElectionAmount
                      - InvalidEvent
                      - InvalidEventForHolding
                      - InvalidEventStatusToElectOn
                      - InvalidEventTypeForElection
                      - InvalidOptionInElectionInstruction
                      - InvestmentValueLessThanMinimumLimit
                      - MarginBorderLine
                      - OnlySidedReductionAllowed
                      - OptionNotAvailableForElection
                      - OrderPlacementWouldExceedMargin
                      - OrdersAlreadyExistForOwnedContracts
                      - OverSubscriptionNotAllowed
                      - OwnerRejection
                      - PostingModeViolation
                      - RelatedPositionAlreadyClosed
                      - RelatedPositionLockedUntilSettlement
                      - SaxoExposureError
                      - SaxoMarginRequirementError
                      - SaxoSymbolError
                      - SellExceedsSettledExposure
                      - SplitElectionsNotAllowedOnEvent
                      - TotalElectionAmountShouldNotBeZero
                      - TradeCannotCloseRelatedPosition
                      - TradeFollowerCannotElect
                      - TradeLeaderCanElectOnlyOneOption
                      - TradingDisabled
                      - TradingProfileViolation
                      - UnknownPosition
                      - WouldComeTooCloseToAccountValueProtectionLimit
                      - WouldExceedAccountValueProtectionLimit
                      - WouldExceedCreditLine
                      - WouldExceedEquityConcentrationLimit
                      - WouldExceedMargin
                      - WouldExceedMarginCeiling
                      - WouldExceedMaxCreditLine
                      - WouldExceedMaxCreditLineLimit
                      - WouldExceedPrecheckMarginUtilizationLimit
                      - WouldExceedSettlementLine
                      - WouldExceedTradingLine
                    type: string
                    x-enum-descriptions:
                      ElectionAmountLessThanMinExercisableQuantity: Invalid election instruction if elected amount in option is more than minimum exercisable quantity as specified in corresponding option.
                      ElectionAmountGreaterThanMaxExercisableQuantity: Invalid election instruction if elected amount in option is more than maximum exercisable quantity as specified in corresponding option.
                      ElectionAmountNotMultipleOfMinExercisableMultipleQuantity: Invalid election instruction if elected amount in option is not in multiple as specified in corresponding option.
                      InvalidEventForHolding: Invalid election instruction if event is not applicable for client's holding account.
                      ElectionAmountExceedsEligibleHolding: 'Invalid election instruction if total election amount is more than eligible holding, excluding over subscription.'
                      InvalidOptionInElectionInstruction: Invalid election instruction if election is made on the option which is not available in event.
                      InvalidEvent: Invalid election instruction if elected event doesn't exist.
                      InvalidElectionAmount: Invalid election instruction if election amount is less than 0.
                      InvalidEventStatusToElectOn: Invalid election instruction if status of elected event is other than Approved.
                      OptionNotAvailableForElection: Invalid election instruction if election is made on Inactive or Cancelled option.
                      OverSubscriptionNotAllowed: Invalid election instruction if instruction contains over subscribed without fully electing holdings under exercise.
                      SplitElectionsNotAllowedOnEvent: Invalid election instruction if election are made on more than one option for events where it is specified that split elections can't be done.
                      TradeLeaderCanElectOnlyOneOption: Trade leader can elect only one option.
                      TradeFollowerCannotElect: Trade follower is not allowed to elect.
                      InvalidEventTypeForElection: Invalid event type for election.
                      EventNotElectable: Event is not electable.
                      DeadlineDatePassed: Deadline date for option has passed.
                      TotalElectionAmountShouldNotBeZero: 'Total election amount, across options, should be greater than zero.'
                      OwnerRejection: The owner of the client rejected the clients pre check.
                      WouldExceedMaxCreditLine: 'Client tries to buy stocks, while he doesn’t have enough collateral available.'
                      WouldExceedMaxCreditLineLimit: 'Client tries to buy stocks, and as a result of the trade, he will breach his loan limit.'
                      ContactExposureLimitation: Client is part of a contact. The aggregated exposure of the contact is not within the bounderies set for any of the clients which are a member of the contact.
                      InsufficientCash: Client does not have sufficient cash.
                      MarginBorderLine: Client is on borderline margin.
                      OrdersAlreadyExistForOwnedContracts: There are already orders for all owned contracts.
                      SaxoExposureError: Exposure would be exceeded.
                      SaxoMarginRequirementError: Client does not have enough margin.
                      SaxoSymbolError: System couldn't find the security for which election was made.
                      WouldExceedMargin: Continuing the trade would seriously exceed margin.
                      AccountNotActive: The account is not active.
                      ClientNotActive: The client is not active.
                      UnknownPosition: Related position not found.
                      IllegalInstrumentTypeForAccount: Illegal instrument type for account.
                      ForcedExposureReductionViolation: Only exposure reduction is allowed for the traded instrument.
                      PostingModeViolation: Either insufficient position to close or opening in wrong direction.
                      TradingProfileViolation: Trade would violate conditions set by client trading profile.
                      OrderPlacementWouldExceedMargin: Placing the order would exceed margin.
                      WouldExceedMarginCeiling: Would exceed margin ceiling.
                      OnlySidedReductionAllowed: Only exposure reduction is allowed for the traded instrument.
                      WouldExceedEquityConcentrationLimit: Execution of an operation would exceed equity concentration limit.
                      WouldExceedTradingLine: Continuing the action would exceed trading line utilization.
                      WouldExceedCreditLine: Continuing the action would exceed credit line utilization.
                      RelatedPositionAlreadyClosed: The position that this trade was intended to close is already closed.
                      TradeCannotCloseRelatedPosition: Trade cannot close related position as they do not match.
                      WouldExceedSettlementLine: Continuing the action would exceed settlement line utilization.
                      WouldExceedAccountValueProtectionLimit: The equity value would go below the configured limit on the account.
                      InstrumentForcedExposureReductionViolation: Only exposure reduction is allowed for the traded instrument.
                      ClientFxNopLimitation: Order causes client to exceed FX NOP limit.
                      ClientSingleCurrencyExposureLimitation: Order causes client to exceed.
                      WouldExceedPrecheckMarginUtilizationLimit: Would exceed the clients own risk aversion limit.
                      TradingDisabled: Trading is disabled for the client. Any and all prechecks will be rejected for the client.
                      RelatedPositionLockedUntilSettlement: Trade cannot close related position as related position is locked until settlement.
                      SellExceedsSettledExposure: Instructions cannot be placed for quantity more than held.
                      InvestmentValueLessThanMinimumLimit: Order/trade value is less than the minimum allowed.
                      WouldComeTooCloseToAccountValueProtectionLimit: The equity value would get too close to the configured limit on the account. But still above.
                      CurrencyConversionRateOutOfToleranceRange: Election would result in breach of currency conversion tolerance range.
                      BlocksExistForOwnedContracts: Block already exists for the security election made for.
                      ClientFxDslLimitation: Order causes client to exceed FX DSL Limit.
                      HasSystemOrders: Pre check condition does not support client having any system orders.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
components:
  schemas:
    Account:
      title: Account key wrapper
      required:
        - AccountKey
      type: object
      properties:
        AccountKey:
          title: Account key
          minLength: 1
          type: string
          x-type-name: AccountKey
      additionalProperties: false
    AssetType:
      title: Allowed asset types for corporate actions.
      enum:
        - Bond
        - CertificateBonus
        - CertificateCappedBonus
        - CertificateCappedCapitalProtected
        - CertificateCappedOutperformance
        - CertificateConstantLeverage
        - CertificateDiscount
        - CertificateExpress
        - CertificateTracker
        - CertificateUncappedCapitalProtection
        - CertificateUncappedOutperformance
        - CompanyWarrant
        - MiniFuture
        - MutualFund
        - Stock
        - Warrant
        - WarrantDoubleKnockOut
        - WarrantKnockOut
        - WarrantOpenEndKnockOut
        - WarrantSpread
      type: string
      x-enum-descriptions:
        Stock: Stock.
        Bond: Bond.
        MutualFund: Mutual Fund.
        Warrant: Warrant
        MiniFuture: MiniFuture.
        WarrantSpread: Warrant with built-in spread.
        WarrantKnockOut: Warrant with a knock-out barrier.
        WarrantOpenEndKnockOut: Knock-out Warrant with no expiry.
        WarrantDoubleKnockOut: Warrant with two knock-out barriers.
        CertificateUncappedCapitalProtection: "Guarantees a percentage increase of the underlying asset's value above the issue\r\n            price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection\r\n            percentage."
        CertificateCappedCapitalProtected: "Guarantees a capped percentage increase of the underlying asset's value above\r\n            the issue price at expiry/maturity. Max loss is the amount invested multiplied\r\n            by the CapitalProtection percentage."
        CertificateDiscount: "Yields a capped return if the underlying asset's value is above the specified\r\n            cap level at expiry. If the underlying's value is below the strike at expiry,\r\n            the investor received the underlying or equivalent value. Offers direct exposure\r\n            in underlying at a lower price (discount) with a capped potential profit and\r\n            limited loss."
        CertificateCappedOutperformance: Capped Outperformance Certificate.
        CertificateCappedBonus: Certificate Capped Bonus.
        CertificateExpress: Certificate Express kick out.
        CertificateTracker: "A certificate that mirrors the price movement of the underlying instrument. Often\r\n            used to trade movements in indicies. Movements can be a fixed ratio of the underlying\r\n            and can be inverted for bearish/short speculation. Risk is equivalent to owning\r\n            the underlying."
        CertificateUncappedOutperformance: "Provides leveraged returns when the underlying price exceeds the threshold strike\r\n            price. The amount leverage is defined by the Participation %. When the underlying\r\n            is below the strike price, the certificate mirrors the underlying price 1:1."
        CertificateBonus: "Mirrors the price movement of the underlying only if and when the underlying\r\n            price exceeds the defined barrier. If the certificate expires below the barrier,\r\n            it offers partial protection/return of investment."
        CertificateConstantLeverage: Certificate Constant Leverage.
        CompanyWarrant: 'Unlisted warrant issued by a corporation, often physically settled.'
    BulkElectionRequest:
      title: Bulk election instruction
      required:
        - Accounts
        - EventId
        - Options
      type: object
      properties:
        Accounts:
          title: Accounts on which elections are to be made
          type: array
          items:
            $ref: '#/components/schemas/Account'
        EventId:
          title: Event on which election is to be made
          pattern: ^\d*$
          type: string
        Options:
          title: Instruction per option for bulk election
          type: array
          items:
            $ref: '#/components/schemas/BulkOptionInstruction'
      additionalProperties: false
    BulkElectionResponse:
      title: Bulk election response
      type: object
      properties:
        AccountId:
          title: Account id
          type: string
        Message:
          title: Message
          type: string
        Status:
          title: Status
          allOf:
            - $ref: '#/components/schemas/StatusCode'
      additionalProperties: false
    BulkElectionResponseListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/BulkElectionResponse'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
    BulkOptionInstruction:
      title: Election instruction on option for bulk election
      required:
        - OptionId
        - AmountPct
      type: object
      properties:
        AmountPct:
          title: 'Quantity to be elected, in percentage'
          type: number
        OptionId:
          title: Option on which election is to be made
          pattern: ^\d*$
          type: string
      additionalProperties: false
    CashMovement:
      title: Cash movement
      type: object
      properties:
        Amount:
          title: Amount
          type: number
        CashMovementType:
          title: Cash movement type
          allOf:
            - $ref: '#/components/schemas/MovementType'
        Currency:
          title: Currency
          type: string
        DeemedRate:
          title: Deemed rate
          type: number
        GrossDividend:
          title: Gross dividend
          type: number
        InterestRate:
          title: Interest rate
          type: number
        NetDividend:
          title: Net dividend
          type: number
        OfferPrice:
          title: Offer price
          type: number
        PriceType:
          title: Price type
          allOf:
            - $ref: '#/components/schemas/ValueType'
        Quantity:
          title: Quantity
          type: number
        SubscriptionPrice:
          title: Subscription price
          type: number
      additionalProperties: false
    CodeDescription:
      title: Code/Description
      type: object
      properties:
        Code:
          title: Code
          type: string
        Description:
          title: Description
          type: string
        Name:
          title: Name
          type: string
      additionalProperties: false
    DateAndStatus:
      title: Date or date status
      type: object
      properties:
        Date:
          title: Date value
          type: string
          format: date
          x-type-name: Date
        Status:
          title: Date status
          allOf:
            - $ref: '#/components/schemas/DateStatus'
      additionalProperties: false
    DatePeriod:
      title: Time period
      type: object
      properties:
        End:
          title: End date/time
          allOf:
            - $ref: '#/components/schemas/DateAndStatus'
        Start:
          title: Start date/time
          allOf:
            - $ref: '#/components/schemas/DateAndStatus'
      additionalProperties: false
    DateStatus:
      title: Date status
      enum:
        - Ongoing
        - Unknown
      type: string
      x-enum-descriptions:
        Unknown: Unknown
        Ongoing: Ongoing
    DateTimeAndStatus:
      title: Date or date status
      type: object
      properties:
        Date:
          title: Date value
          type: string
          format: date-time
          x-type-name: UtcDateTime
        Status:
          title: Date status
          allOf:
            - $ref: '#/components/schemas/DateStatus'
      additionalProperties: false
    Electable:
      title: Indicates if event is electable
      enum:
        - Electable
        - NotElectable
      type: string
      x-enum-descriptions:
        Electable: Election is applicable on event
        NotElectable: Election is not applicable on event
    ElectionRequest:
      title: Election instruction
      required:
        - AccountKey
        - EventId
        - Options
      type: object
      properties:
        AccountKey:
          title: Account on which elections are to be made
          minLength: 1
          type: string
          x-type-name: AccountKey
        EventId:
          title: Event on which election is to be made
          pattern: ^\d*$
          type: string
        Options:
          title: Instruction per option
          type: array
          items:
            $ref: '#/components/schemas/OptionInstruction'
      additionalProperties: false
    ElectionStatus:
      title: Election status
      enum:
        - Elected
        - NotElected
        - PartialElected
      type: string
      x-enum-descriptions:
        Elected: Elected
        PartialElected: Partially elected
        NotElected: Not elected
    ElectionType:
      title: Election type
      enum:
        - Auto
        - Manual
      type: string
      x-enum-descriptions:
        Auto: Auto elections made through standing instructions
        Manual: Manual elections
    Event:
      title: Event details
      type: object
      properties:
        AffectedAccounts:
          title: "Number of accounts on which correspondng event is applicable.\r\n            Available when IncludeSubAccounts is set to true in the request."
          type: integer
          format: int32
        AssetType:
          title: Asset type
          allOf:
            - $ref: '#/components/schemas/AssetType'
        BidIntervalRate:
          title: Acceptable price increment used for submitting a bid
          allOf:
            - $ref: '#/components/schemas/PriceAndRate'
        ClaimPeriod:
          title: Claim period
          allOf:
            - $ref: '#/components/schemas/DatePeriod'
        CorporateActionType:
          title: Corporate action type
          allOf:
            - $ref: '#/components/schemas/Model.CorporateActionType'
        DisplayAndFormat:
          title: Instrument additional properties
          allOf:
            - $ref: '#/components/schemas/InstrumentDisplayAndFormat'
        Effective:
          title: Date at which an event is officially effective from the issuer's perspective
          allOf:
            - $ref: '#/components/schemas/DateAndStatus'
        Electable:
          title: Indicates whether this event is electable
          allOf:
            - $ref: '#/components/schemas/Electable'
        ElectionStatus:
          title: Election status
          allOf:
            - $ref: '#/components/schemas/ElectionStatus'
        EligibleHoldings:
          title: "Total holding amount, across accounts, eligible for corresponding event.\r\n            Available when IncludeSubAccounts is set to true in the request."
          type: number
        EventId:
          title: Corporate action event Id
          type: string
        EventIndicators:
          title: Event indicators
          type: array
          items:
            $ref: '#/components/schemas/IndicatorDetail'
        EventState:
          title: Current state of the event
          allOf:
            - $ref: '#/components/schemas/EventState'
        EventStatus:
          title: Event status
          allOf:
            - $ref: '#/components/schemas/EventStatus'
        EventType:
          title: Type of event
          allOf:
            - $ref: '#/components/schemas/CodeDescription'
        Ex:
          title: Execution date of event
          allOf:
            - $ref: '#/components/schemas/DateAndStatus'
        Holdings:
          title: "Client holdings on an event\r\n            Available when IncludeSubAccounts is set to false in the request."
          type: array
          items:
            $ref: '#/components/schemas/Holding'
        InformationToComply:
          title: Indicates whether restrictions apply to the event
          allOf:
            - $ref: '#/components/schemas/InformationToComply'
        InterestPeriod:
          title: Period during which the interest rate has been applied
          allOf:
            - $ref: '#/components/schemas/DatePeriod'
        MaxPrice:
          title: 'Maximum or cap price at which a holder can bid, for example on a Dutch auction offer'
          allOf:
            - $ref: '#/components/schemas/PriceAndRate'
        MaxQuantitySought:
          title: Maximum quantity sought
          type: number
        MinPrice:
          title: 'Minimum or floor price at which a holder can bid, for example on a Dutch auction offer'
          allOf:
            - $ref: '#/components/schemas/PriceAndRate'
        MinQuantitySought:
          title: Minimum quantity sought
          type: number
        Narrative:
          title: Event narrative
          type: string
        NewBoardLotQuantity:
          title: Quantity of equity that makes up the new board lot
          type: number
        NewDenominationQuantity:
          title: 'New Denomination of the equity following, for example, an increase or decrease in nominal value'
          type: number
        NumberofDaysAccrued:
          title: Number of days used for calculating the accrued interest amount
          type: integer
          format: int32
        Options:
          title: Event options
          type: array
          items:
            $ref: '#/components/schemas/EventOption'
        Record:
          title: Record date of event
          allOf:
            - $ref: '#/components/schemas/DateAndStatus'
        StrikePrice:
          title: Strike price
          allOf:
            - $ref: '#/components/schemas/PriceAndRate'
        TradingSuspended:
          title: Date at which trading of a security is suspended as the result of an event
          allOf:
            - $ref: '#/components/schemas/DateAndStatus'
        Uic:
          title: Instrument uic
          type: integer
          format: int32
      additionalProperties: false
    Event.Instruction:
      title: Instruction
      type: object
      properties:
        Reason:
          title: "Election instruction status's reason\r\n            A detailed reason code for any errors related to the election.\r\n            For more details see: http://www.iso15022.org/UHB/uhb2006/mt567-13-field-24b.htm"
          type: string
        Status:
          title: "Election instruction status\r\n            For more details see: http://www.iso15022.org/UHB/uhb2006/mt567-13-field-24b.htm"
          allOf:
            - $ref: '#/components/schemas/InstructionStatus'
      additionalProperties: false
    EventListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/Event'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
    EventOption:
      title: Event Options
      type: object
      properties:
        BidIntervalRate:
          title: Acceptable price increment used for submitting a bid
          allOf:
            - $ref: '#/components/schemas/PriceAndRate'
        CashMovements:
          title: Cash movement credits and debits
          type: array
          items:
            $ref: '#/components/schemas/CashMovement'
        CashRequired:
          title: Denotes that client is required to have sufficient cash in order to elect the option
          type: boolean
        Deadline:
          title: Client deadline date at option level
          allOf:
            - $ref: '#/components/schemas/DateTimeAndStatus'
        GrossRate:
          title: Gross rate
          type: number
        IsDefault:
          title: 'Indicates if this is the default option. This option is where all positions will be allocated, that have not been otherwise elected on.'
          type: boolean
        IsGross:
          title: Is gross
          type: boolean
        IsTaxable:
          title: Is taxable
          type: boolean
        MaxExercisableQuantity:
          title: Maximum Exercisable quantity
          type: number
        MaxPrice:
          title: Maximum or cap price at which a holder can bid
          allOf:
            - $ref: '#/components/schemas/PriceAndRate'
        MinExercisableMultipleQuantity:
          title: Minimum exercisable multiple quantity
          type: number
        MinExercisableQuantity:
          title: Minimum exercisable quantity
          type: number
        MinPrice:
          title: Minimum or floor price at which a holder can bid
          allOf:
            - $ref: '#/components/schemas/PriceAndRate'
        Narrative:
          title: Option narrative
          type: string
        NetRate:
          title: Net rate
          type: number
        NewBoardLotQuantity:
          title: Quantity of equity that makes up the new board lot
          type: number
        NewDenominationQuantity:
          title: 'New Denomination of the equity following, for example, an increase or decrease in nominal value'
          type: number
        OptionId:
          title: The Option number for the Corporate Action Event
          type: string
        OptionIndicators:
          title: Option indicators
          type: array
          items:
            $ref: '#/components/schemas/IndicatorDetail'
        OptionStatus:
          title: Option status Inactive/Cancel
          allOf:
            - $ref: '#/components/schemas/OptionStatus'
        OptionType:
          title: Option type code and description
          allOf:
            - $ref: '#/components/schemas/CodeDescription'
        Payment:
          title: The date where the resulting allocations are paid
          allOf:
            - $ref: '#/components/schemas/DateAndStatus'
        PayoutBreakdown:
          title: "Lists all the components in payout breakdown. \r\n            This field is only available for Australian market."
          type: array
          items:
            $ref: '#/components/schemas/PayoutBreakdownComponent'
        SecurityMovements:
          title: Security movement credits and debits
          type: array
          items:
            $ref: '#/components/schemas/SecurityMovement'
        TradingPeriod:
          title: Trading period
          allOf:
            - $ref: '#/components/schemas/DatePeriod'
      additionalProperties: false
    EventState:
      title: State of the event
      enum:
        - Approved
        - Confirmed
        - Preliminary
        - Withdrawn
      type: string
      x-enum-descriptions:
        Approved: Event in approved state
        Confirmed: Event in confirmed state
        Preliminary: Event in preliminary state
        Withdrawn: Event in withdrawn state
    EventStatus:
      title: Event status
      enum:
        - Active
        - Past
        - Upcoming
      type: string
      x-enum-descriptions:
        Active: Active events
        Past: Past events
        Upcoming: Upcoming events
    Holding:
      title: Event Holding
      type: object
      properties:
        AccountDisplayName:
          title: Account display name
          type: string
        AccountId:
          title: Account id
          type: string
        AccountKey:
          title: Account key
          type: string
        Amount:
          title: Eligible holding
          type: number
        CashReserved:
          title: Cash reserved after electing on corresponding option
          allOf:
            - $ref: '#/components/schemas/PriceAndRate'
        ClientId:
          title: Client Id
          type: string
        ClientKey:
          title: Client key
          type: string
        ClientName:
          title: Client name
          type: string
        ElectedAmount:
          title: The amount of positions that have already been elected on
          type: number
        ElectionStatus:
          title: Election status
          allOf:
            - $ref: '#/components/schemas/ElectionStatus'
        EventId:
          title: Corporate action event Id
          type: string
        Options:
          title: List of previously instructed options and their status
          type: array
          items:
            $ref: '#/components/schemas/HoldingOption'
        OwnerId:
          title: Owner Id
          type: string
        StandingInstructionStatus:
          title: Indicates if there is a standing instruction created for this holding
          allOf:
            - $ref: '#/components/schemas/StandingInstructionStatus'
      additionalProperties: false
    HoldingListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/Holding'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
    HoldingOption:
      title: Indicates previous elections made on a corporate action event for positions in an account
      type: object
      properties:
        ElectedAmount:
          title: The amount elected
          type: number
        ElectionType:
          title: Indicates if election was auto or manual
          allOf:
            - $ref: '#/components/schemas/ElectionType'
        Instruction:
          title: Instruction status
          allOf:
            - $ref: '#/components/schemas/Event.Instruction'
        OptionId:
          title: The event option id instructed on
          type: string
        Remarks:
          title: Remarks by client
          type: string
      additionalProperties: false
    Indicator:
      title: Indicators
      enum:
        - AdditionalBusinessProcess
        - BidRange
        - CertificationBreakdown
        - Change
        - Consent
        - Dividend
        - Offer
        - RenounceableStatusofEntitlement
        - Sequence
      type: string
      x-enum-descriptions:
        Dividend: 'Payment of a dividend, less the amounts already paid through interim dividends'
        Sequence: "FINAL: This is the final event in a series of successive events.\r\n            INTERIM: This is an interim event in a series of successive events"
        Offer: "Dissenter's Rights: Securities' holder has the right to disagree with a mandatory event. This right is not inherent in all offers and therefore must be noted in announcements only when applicable.\r\n            Restriction Exchange: Exchange of Restricted to Unrestricted(or vice versa).\r\n            First Come First Served: Securities will be accepted in the order they have been submitted until the target number of quantity sought is reached.\r\n            Final Offer: Final or last offer to holders subject to offer conditions being reached, for example, 50% accepted on a tender.\r\n            Partial Offer: Partial offer .\r\n            Squeeze Out Bid: Offer launched by a company, in possession of a large number of the shares (90% - 95%) of a company(generally as a result of a tender offer), in order to acquire the remaining shares of that company"
        RenounceableStatusofEntitlement: "Non Renounceable: Intermediate securities cannot be sold.\r\n            Renounceable: Intermediate securities can be sold"
        AdditionalBusinessProcess: The issuer only allows a single option to be selected per designated holding
        Change: "Bearer to Registered: Change from bearer into registered form.\r\n            Certificates: Change of all instruments into certificates.\r\n            Decimalisation: Process of changing the accounting method of a security, for example, mutual fund, from units to a quantity with decimals.\r\n            Dematerialised to Physical: Change from dematerialised into physical form.\r\n            Global Permanent to Physical: Change from global permanent to physical form.\r\n            Global Temporary to Global Permanent: Change from global temporary to global permanent form.\r\n            Global Temporary to Physical: Change from global temporary to physical form.\r\n            NAME: Change of the issuing company's name. Event shows the change from old name to new name and may involve surrendering physical shares with the old name to the registrar.\r\n            Physical to Dematerialised: Change from physical into dematerialised form.\r\n            Registered to Bearer: Change from registered into bearer form.\r\n            Terms: Change in the terms of the security"
        Consent: "Change in Terms: This is a change in the terms and conditions of the bond.\r\n            Due and Payable: This is a change in the due and payable conditions"
        CertificationBreakdown: Certification breakdown type indicator
        BidRange: Specifies the type of acceptable bid range values.
    IndicatorDetail:
      title: Indicator with its values
      type: object
      properties:
        Indicator:
          title: Indicator
          allOf:
            - $ref: '#/components/schemas/Indicator'
        Values:
          title: Indicator values
          type: array
          items:
            $ref: '#/components/schemas/CodeDescription'
      additionalProperties: false
    InformationToComply:
      title: Information to comply with
      enum:
        - RestrictionsMayApply
      type: string
      x-enum-descriptions:
        RestrictionsMayApply: Restriction may apply
    Instruction:
      title: "A Standing instruction is a rule that defines how an election should be automatically performed.\r\n            Standing instruction only apply to Corporate action event of type DRIP or DVOP.\r\n            A standing instruction can specify that for positions in an account on a specific instrument, whenever a voluntary event occurs of type DRIP or DVOP, an election should automatically be made for either Cash or Securities."
      required:
        - OptionType
      type: object
      properties:
        AccountKey:
          title: Account Identifier
          minLength: 1
          type: string
          x-type-name: AccountKey
        AssetType:
          title: Asset Type
[...]
