openapi: 3.0.1
info:
  title: Services.ClientManagement
  description: The Client Management service group provides services to signup and manage leads and clients.
  version: 1.1.680+525085ced8
  x-framework-version: 43.0.5+65c0bdc8ab
  x-machine: SIMOAWEB11-DK2
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  '/cm/v2/signups/verification/initiate/{ClientKey}':
    post:
      tags:
        - Signups
      summary: Initiate verification process from external vendor
      description: 'Initiates the verification process for a client by returning a URL that will redirect the client to an external vendor. If successful, the onboarding status will be approved.'
      operationId: SignUpV2InitiateVerification
      parameters:
        - name: ClientKey
          in: path
          description: The client key
          required: true
          style: simple
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateVerification.InitiateVerificationRequest'
            example:
              SecureMeRequest:
                CountryCode: UK
                ErrorRedirectUrl: https://openapi.validate.com
                ServiceLanguageCode: FR
                SuccessRedirectUrl: https://openapi.validate.com
                UploadOptions:
                  Back: File
                  Front: File
                  Selfie: Camera
              VerificationProviderType: SecureMe
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateVerification.InitiateVerificationResponse'
              example:
                IdentificationUrl: https://secure-me.au10tixservicesstaging.com?token=oBVmsTzsSMGvYES0y9jj&api=aHR0cHM6Ly93ZXUtYXBpLmF1MTB0aXhzZXJ2aWNlc3N0YWdpbmcuY29tL3NlY3VyZS1tZS92MQ%3D%3D&locale=en-us
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                      - ValidationFailed
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                      ValidationFailed: One or more of your field values are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                      - SignupNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      SignupNotFound: The given signup could not be found
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  /cm/v2/signups/options:
    get:
      tags:
        - Signups
      summary: Get all signup options
      description: Return translated data set containing possible field values for each user selections.
      operationId: SignUpV2GetSignupOptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Models.SignUpOptionListResult'
              example:
                Data:
                  - PropertyName: ServiceLanguageCode
                    ValuePairs:
                      - Key: AR
                        Value: Arabic
                      - Key: BU
                        Value: Bulgarian
                      - Key: CH
                        Value: Chinese
                      - Key: CHT
                        Value: Chinese Traditional
                      - Key: DA
                        Value: Danish
                      - Key: EN
                        Value: English
                      - Key: FA
                        Value: Farsi
                      - Key: DE
                        Value: German
                  - PropertyName: CountryOfResidenceCode
                    ValuePairs:
                      - Key: AF
                        Value: Afghanistan
                      - Key: AX
                        Value: Åland Islands
                      - Key: CN
                        Value: China
                      - Key: CX
                        Value: Christmas Island
                      - Key: DK
                        Value: Denmark
                      - Key: GB
                        Value: United Kingdom
                      - Key: IQ
                        Value: Iraq
                      - Key: DE
                        Value: Germany
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  '/cm/v2/signups/attachments/{SignUpId}':
    post:
      tags:
        - Signups
      description: Add multiple files to a sign up case
      operationId: SignUpV2AttachFile
      parameters:
        - name: SignUpId
          in: path
          description: Signup ID
          required: true
          style: simple
          schema:
            type: string
          example: 5b68ce05-24f7-491c-a3aa-6a43f7923cee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupDocuments'
            example:
              Documents:
                - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
                  DocumentType: ProofOfIdentity
                  FileName: ProofOfIdentity.pdf
                  RenewalDate: '2025-10-29T04:28:02.224997Z'
                  Title: ProofOfIdentity
                - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
                  DocumentType: ProofOfResidency
                  FileName: ProofOfResidency.doc
                  RenewalDate: '2024-10-29T04:28:02.224997Z'
                  Title: ProofOfResidency
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  '/cm/v1/signups/onboardingpdf/{ClientKey}':
    get:
      tags:
        - Signups
      description: Generate PDF document of DocumentType provided in request for client provided
      operationId: SignUpV1GenerateTypedOnboardingPDF
      parameters:
        - name: ClientKey
          in: path
          description: The client key
          required: true
          style: simple
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
        - name: DocumentType
          in: query
          description: The onboarding document type
          required: true
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/OnboardingDocumentType'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                      - RequestNotAllowed
                      - ValidationFailed
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                      RequestNotAllowed: Request not allowed!
                      ValidationFailed: One or more of your field values are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  '/cm/v1/signups/verification/initiate/{ClientKey}':
    post:
      tags:
        - Signups
      summary: Initiate verification process from external vendor
      description: 'Initiates the verification process for a client by returning a URL that will redirect the client to an external vendor. If successful, the onboarding status will be approved.'
      operationId: SignUpV1InitiateVerification
      parameters:
        - name: ClientKey
          in: path
          description: The client key
          required: true
          style: simple
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateVerificationRequest'
            example:
              RedirectUrl: http://openapi.validate.com
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateVerificationResponse'
              example:
                IdentificationUrl: https://test.signicat.com/target=http%3A%2F%2Fopenapi.validate.com%2Fopenapi%2Fv1%2Fverify%2F3c3685cf-85e3-4c11-8as7-c4f2dcc78hea
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                      - ValidationFailed
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                      ValidationFailed: One or more of your field values are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                      - SignupNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      SignupNotFound: The given signup could not be found
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  '/cm/v1/signups/completeapplication/{SignUpId}':
    put:
      tags:
        - Signups
      summary: Completes the onboarding application
      description: Completes the onboarding application without any delay. Call this endpoint after 'create signup' and 'upload documents'.
      operationId: SignUpV1CompleteApplication
      parameters:
        - name: AwaitAccountCreation
          in: query
          description: Flag to mention if you want to wait for account creation. Set it to true to wait for account details or false if you don't want the account details immediately.
          style: form
          explode: false
          schema:
            type: boolean
          example: true
        - name: SignUpId
          in: path
          description: Signup ID
          required: true
          style: simple
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
          example: 5b68ce05-24f7-491c-a3aa-6a43f7923cee
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteApplicationResponse'
              example:
                AccountDetails:
                  - AccountType: Normal
                    CurrencyIsoCode: USD
                    Iban: DK43754335838392
                ApplicationStatus: Ok
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                      - SignupNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      SignupNotFound: The given signup could not be found
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  '/cm/v1/signups/status/{ClientKey}':
    get:
      tags:
        - Signups
      summary: Get the onboarding status of a client
      description: Returns the onboarding status of a client. The onboarding flow is as follows
      operationId: SignUpV1GetSignUpStatus
      parameters:
        - name: ClientKey
          in: path
          description: The client key
          required: true
          style: simple
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpStatusResponse'
              example:
                ClientId: '7856478'
                ClientKey: d2-PzdC5wIPy1284wD-rRA==
                Message: Onboarding request complete. Account and client keys have been created
                OnboardingState: ClientOnboarded
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                      - SignupNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      SignupNotFound: The given signup could not be found
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  /cm/v1/signups:
    post:
      tags:
        - Signups
      summary: Create client
      description: 'Initiates the creation of a new client under the specified owner. The country specific properties for Finland, Italy, Singapore and Switzerland cannot be combined. If successful, the endpoint returns the new ClientId, its corresponding ClientKey and the SignupId. The latter is used to upload additional files and to complete the application.'
      operationId: SignUpV1SignUp
      parameters:
        - name: OwnerKey
          in: query
          description: 'Client key of owner, under which this signup will be created. If not provided, signup will be created under the LoggedIn client'
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
            example:
              AccountInformation:
                AdditionalChoiceOfAccounts:
                  - '5'
                ClientCategoryId: '1'
                CurrencyCode: USD
                DefaultChoiceOfAccount: '38'
                IntendedCommissionGroupId: '1234'
                IntendedTemplateId: '567'
                OtherInstructions: Instruction1
              BankInformation:
                BeneficiaryBankName: BankName
                ReceivingCountryIsoCode: DK
              FinlandData:
                EuroclearJudicialForm: '21'
                EuroclearSectorCode: '10010'
              GlobalFinancialInformation:
                AnnualIncomeAfterTax:
                  Amount: 100020
                  AmountDescription: Exact
                  CurrencyCode: DKK
                IntendToInvest:
                  Amount: 1000000
                  AmountDescription: AboveThisAmount
                  CurrencyCode: DKK
                InvestableAsset:
                  Amount: 1000000
                  AmountDescription: Rounded
                  CurrencyCode: DKK
              ItalyData:
                EmploymentInformation:
                  CountryConcernedCode: IT
                  DetailedBusinessActivity: '005'
                  EmploymentName: Employer
                  OtherEmployment: Other employer description
                  PrevalentCorporateObject: Corporate object
                  ProvinceConcerned: Livorno
                  StatusOfEmployment: '125'
                MailContactPreference: true
                ProfileInformation:
                  AnnualIncomeInformation:
                    AnnualIncomeSource:
                      - '2'
                    TotalAnnualIncome: '1'
                  InvestableAssets:
                    IntendToInvest: '2'
                    NatureAndPurposeOfTheRelationship: '1'
                    SourceOfWealth:
                      - '3'
                    ValueOfTotalWealth: '4'
              OnboardingInformation:
                ElectronicVerification:
                  Done: '2018-04-05T00:00:00Z'
                  ExternalId: ExternalId
                  Result: Passed
                  Score: '50'
              PensionData:
                AdditionalPensionData: Additional pension data
                EmployerReference: 4582HGF39
                PensionProductTypes:
                  - EmployerPaidAlderssum
              PersonalInformation:
                AdditionalTaxableCountries:
                  - CountryCode: DK
                    TaxId: '12334567'
                    TinNotAvailable: false
                  - CountryCode: CN
                    TinMissingReason: '100000001'
                    TinNotAvailable: true
                    TinOtherMissingReason: It is under progress
                AdditionalTaxCountryCode: DK
                CityOfBirth: NewYork
                ConsentSource: 1
                ContactInformation:
                  EmailAddress: abc@test.com
                  PrimaryPhoneNumber:
                    CountryCode: US
                    Number: '1234567890'
                  SecondaryPhoneNumber:
                    CountryCode: IN
                    Number: '2134567890'
                CorrespondenceAddress:
                  BuildingName: Building Penhurst Park
                  BuildingNumber: Build# 34
                  City: Buffalo
                  CountryOfResidenceCode: US
                  PostalCode: '14202'
                  State: New York
                  StreetName: Niagara Square
                CountryOfBirth: US
                DateOfBirth: '1980-01-01'
                Debt:
                  Currency: '2'
                  Value: 100000
                DeclaredBankrupt: false
                EmploymentInformation:
                  AdditionalEmploymentRelations:
                    CompanyNameInsider: CompanyNameInsider
                    CompanyNameMajorityInterest: CompanyNameMajorityInterest
                    ManagedOrManagingAssets: false
                  EmployerName: EmpName
                  FinancialSectorEmployee: false
                  NatureOfBusiness: '1'
                  OccupationTypes:
                    - '1'
                    - '2'
                  Position: Position
                FirstName: John
                Gender: '2'
                LastName: Doe
                LiquidNetWorth:
                  Currency: '2'
                  Value: 100000
                MarketingConsent: true
                NationalId: NationalId
                NationalityCode: US
                NonDisclosureClient: false
                OriginalScriptFirstName: 比
                OriginalScriptLastName: 伊
                PersonalId: '986283618'
                PersonalIdExpirationDate: '2019-04-05'
                PersonalIdPlaceOfRelease: Milan
                PersonalIdReleaseDate: '2016-12-08'
                PersonalIdReleasedBy: John doe
                PersonalIdType: '1'
                PersonalTradingProfile:
                  KnowledgeOfFinancialInstruments: '2'
                  ProductTradingExperience:
                    - '3'
                    - '4'
                    - '5'
                  TradesPerMonth: '3'
                PoliticallyExposedPerson: false
                ResidentialAddress:
                  BuildingName: Building Penhurst Park
                  BuildingNumber: Build# 34
                  City: Buffalo
                  CountryOfResidenceCode: US
                  PostalCode: '14202'
                  State: New York
                  StreetName: Niagara Square
                SalaryBeforeTax:
                  Currency: '2'
                  Value: 100000
                ServiceLanguageCode: EN
                TaxId: '288392738'
                TinNotAvailable: false
              ProfileInformation:
                AnnualIncomeInformation:
                  AnnualSalaryAfterTax: '1'
                  SecondaryIncomeOther: Other sources of secondary income
                  SecondarySourcesOfIncome:
                    - '2'
                  SecondarySourcesOfIncomeTotal: '8'
                InvestableAssets:
                  IntendToInvest: '5'
                  PrimarySourcesOfWealth:
                    - '1'
                    - '3'
                  SourceOfWealthOther: OtherWealthSource
                  ValueOfCashAndSecurities: '8'
                InvestmentPurpose:
                  PurposeAndScope: '2'
                TradingProfile:
                  SoleBoOfAssets: true
              RegulatoryInformation:
                FatcaDeclaration:
                  UnitedStatesCitizen: true
                  UnitedStatesProducts: true
                  UnitedStatesTaxId: '23456'
                  UnitedStatesTaxLiable: true
              SingaporeData:
                AnnualIncomeSgd: '3'
                BrokersDeclinedBy: BrokersName
                ClassificationRequired: true
                DiplomaOrHigherQualification: '2'
                EducationalQualificationSatisfied: true
                ELearningAbsSasCfds: '3'
                ELearningAbsSasFx: '2'
                ELearningPassed: '4'
                ELearningSgx: false
                ELearningSgxScore: '20'
                FinanceWorkExperience: '5'
                InvestorProfile: '2'
                ListedSips: true
                NetWorthSgd: '5'
                PermanentResident: true
                ProfessionalFinanceQualification: '5'
                SgxStocks: '2'
                UnlistedSipsCfds: false
                UnlistedSipsFx: false
              SwitzerlandData:
                AnnualIncomeChf: '4'
                NetWorthChf: '2'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpResponse'
              example:
                ClientId: '2147279170'
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                SignUpId: 446d5238-dc6b-4c04-9b0e-7c061f93734e
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientMatch
                      - InvalidModelState
                      - PreClientMatch
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                      PreClientMatch: User is already a pre-client!
                      ClientMatch: User is already a client!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  /cm/v1/signups/options:
    get:
      tags:
        - Signups
      summary: Get all signup options
      description: Return data set containing possible field values for each user selections.
      operationId: SignUpV1GetSignupOptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpOptionListResult'
              example:
                Data:
                  - PropertyName: ServiceLanguageCode
                    ValuePairs:
                      - Key: Arabic
                        Value: AR
                      - Key: Bulgarian
                        Value: BU
                      - Key: Chinese
                        Value: CH
                      - Key: Chinese Traditional
                        Value: CHT
                      - Key: Danish
                        Value: DA
                      - Key: English
                        Value: EN
                      - Key: Farsi
                        Value: FA
                      - Key: German
                        Value: DE
                  - PropertyName: CountryOfResidenceCode
                    ValuePairs:
                      - Key: Afghanistan
                        Value: AF
                      - Key: Åland Islands
                        Value: AX
                      - Key: China
                        Value: CN
                      - Key: Christmas Island
                        Value: CX
                      - Key: Denmark
                        Value: DK
                      - Key: United Kingdom
                        Value: GB
                      - Key: Iraq
                        Value: IQ
                      - Key: Germany
                        Value: DE
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/cm/v1/signups/attachments/{SignUpId}':
    post:
      tags:
        - Signups
      summary: Adds a file to a sign up case
      description: Adds attachment to a sign up case.
      operationId: SignUpV1AttachFile
      parameters:
        - name: DocumentType
          in: query
          description: Type of document
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/SignupFlowDocumentType'
          example: ProofOfIdentity
        - name: RenewalDate
          in: query
          description: Expiration date of document
          style: form
          explode: false
          schema:
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: '2019-07-15T00:00:00.0000000+00:00'
        - name: SignUpId
          in: path
          description: Signup ID
          required: true
          style: simple
          schema:
            type: string
          example: 5b68ce05-24f7-491c-a3aa-6a43f7923cee
        - name: Title
          in: query
          description: Title of the document file
          style: form
          explode: false
          schema:
            type: string
          example: client_POI
      responses:
        '201':
          description: Created
        '200':
          description: Action was executed successfully.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  /cm/v1/clientrenewals/pending:
    get:
      tags:
        - Client Renewals
      summary: 'Gets renewal status for clients, under logged user or the passed owner'
      description: 'Gets renewal status for clients, under logged user or the passed owner'
      operationId: ClientRenewalGetRenewalStatuses
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 1000
          example: 1
        - name: MustRenewBy
          in: query
          description: 'Optional, Date till which the pending renewals should be returned, default value is 30 days from today'
          style: form
          explode: false
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2020-12-31'
        - name: OwnerKey
          in: query
          description: 'Optional, ClientKey of the owner, whose subclient''s renewal status is needed'
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewalStatusDataListResult'
              example:
                __count: 2
                Data:
                  - ClientId: '2147279170'
                    ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                    RenewalBy: '2022-11-18'
                    RenewalStatus: Waiting
                  - ClientId: '2147279171'
                    ClientKey: 27KN2aJ-338aeKnLTNOyCw==
                    RenewalBy: '2022-11-28'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalStatusNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientRenewalStatusNotFound: Renewal statuses not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  '/cm/v1/clientrenewals/{RenewalEntityId}':
    patch:
      tags:
        - Client Renewals
      summary: Update Renewal Data/Documents for the given renewal entity
      description: Update Renewal Data/Documents for the given renewal entity
      operationId: ClientRenewalUpdateClientRenewalData
      parameters:
        - name: RenewalEntityId
          in: path
          description: Renewal entity identifier
          required: true
          style: simple
          schema:
            type: string
          example: '7526324'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewalRequest'
            example:
              Documents:
                - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
                  MimeType: application/pdf
                  Name: ProofOfIdentity.pdf
                  Type: ProofOfIdentity
                - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
                  MimeType: application/msword
                  Name: ProofOfResidency.doc
                  Type: ProofOfResidency
              RenewalData:
                AustraliaData:
                  AnnualIncome: '3'
                  NetWorth: '5'
                FinlandData:
                  EuroClearSectorCode: '144200'
                GlobalFinancialInformation:
                  AnnualIncomeAfterTax:
                    Amount: 100020
                    AmountDescription: Exact
                    CurrencyCode: DKK
                  IntendToInvest:
                    Amount: 1000000
                    AmountDescription: AboveThisAmount
                    CurrencyCode: DKK
                  InvestableAsset:
                    Amount: 1000000
                    AmountDescription: Rounded
                    CurrencyCode: DKK
                HongkongData:
                  NetWorthInUsd: '2'
                  TotalEstimatedAnnualIncomeInUsd: '4'
                JapanData:
                  AnnualIncomeJpy: '3'
                  NetWorthJpy: '5'
                  TickerCodes:
                    - '6234'
                    - '0392'
                    - '1025'
                PersonalInformation:
                  AdditionalNationalities:
                    - CountryCode: UK
                      NationalId: '38992710'
                      NationalIdType: 4
                  AdditionalTaxableCountries:
                    - CountryCode: SG
                      TaxId: '1231314'
                      TinNotAvailable: false
                  AliasFirstName: Alice
                  AliasLastName: Joe
                  CityOfBirth: Test Birth City
                  ContactInformation:
                    EmailAddress: email1_9534299@email.com
                    MobileNumber:
                      CountryCode: DK
                      Number: '5236254126'
                    PrimaryPhoneNumber:
                      CountryCode: DK
                      Number: '355354654'
                    SecondaryPhoneNumber:
                      CountryCode: DK
                      Number: '989899797'
                  CountryOfBirth: DK
                  DateOfBirth: '1992-10-29'
                  EmploymentInformation:
                    EmployerName: Test Employer
                    NatureOfBusiness: '10'
                    OccupationTypes:
                      - '1'
                      - '2'
                      - '3'
                    Position: Test Position
                  FirstName: First9534299
                  LastName: Last9534299
                  MinorInformation:
                    MinorLegalGuardianship: Sharedwithanotherlegalguardian
                    OtherReason: None
                    SharedResponsibilityWithLegalGuardian: 2451ac4b-e2d3-47d9-9d88-db00a056d365
                    SharedResponsibilityWithLegalGuardianLoginUserId: '6372920'
                    SharedResponsibilityWithLegalGuardianName: Guardian
                  NationalityCode: DK
                  OriginalScriptFirstName: 比
                  OriginalScriptLastName: 伊
                  OtherAddress:
                    BuildingName: Test Building
                    BuildingNumber: '420'
                    City: Test Address City
                    CoName: CO Test
                    CountryOfResidenceCode: IN
                    Floor: '5'
                    LocalArea: Local Test Area
                    PostalCode: '123466'
                    PostBoxOffice: '212313'
                    SideDoor: Test SideDoor
                    State: Test State
                    StreetName: Test Street
                    Unit: Unit 10
                  PersonalId: '4499647'
                  PersonalIdExpirationDate: '2025-07-25'
                  PersonalIdPlaceOfRelease: Milan
                  PersonalIdReleaseDate: '2016-12-08'
                  PersonalIdReleasedBy: John doe
                  PersonalIdType: '1'
                  PoliticallyExposedInformation:
                    PepRelatedPersonName: Fred XXX
                    PepRelatedPersonPosition: Director
                    PepType: '2'
                    RelationToPep: '5'
                  PoliticallyExposedPerson: true
                  ResidentialAddress:
                    BuildingName: Test Building
                    BuildingNumber: '420'
                    City: Test Address City
                    CoName: CO Test
                    CountryOfResidenceCode: IN
                    Floor: '5'
                    LocalArea: Local Test Area
                    PostalCode: '123466'
                    PostBoxOffice: '212313'
                    SideDoor: Test SideDoor
                    State: Test State
                    StreetName: Test Street
                    Unit: Unit 10
                  TaxId: '5454898'
                  TinMissingReason: '100000003'
                  TinNotAvailable: true
                ProfileInformation:
                  AnnualIncomeInformation:
                    AnnualSalaryAfterTax: '11'
                    SecondaryIncomeOther: '1'
                    SecondarySourcesOfIncome:
                      - '3'
                    SecondarySourcesOfIncomeTotal: '9'
                  InvestableAssets:
                    IntendToInvest: '13'
                    PrimarySourcesOfWealth:
                      - '2'
                      - '3'
                    SourceOfWealthOther: Other Wealth
                    ValueOfCashAndSecurities: '11'
                  TradingProfile:
                    SoleBoOfAssets: false
                RegulatoryInformation:
                  FatcaDeclaration:
                    UnitedStatesCitizen: true
                    UnitedStatesTaxId: '456123'
                    UnitedStatesTaxLiable: true
                SingaporeData:
                  AnnualIncomeSgd: '3'
                  NetWorthSgd: '5'
                SwitzerlandData:
                  AnnualIncomeChf: '3'
                  NetWorthChf: '5'
                UkData:
                  EstimatedSavingAndInvestmentGbp: '14500'
                  MonthlyIncomeAfterTaxGbp: '42000'
      responses:
        '204':
          description: Indicates that the request was performed correctly.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalInvalidDataFormat
                      - ClientRenewalInvalidInstanceId
                      - ClientRenewalInvalidRenewalEntityId
                      - ClientRenewalInvalidUpdate
                      - InvalidModelState
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientRenewalInvalidDataFormat: Invalid base64 data for document.
                      ClientRenewalInvalidUpdate: Invalid renewal update request.
                      ClientRenewalInvalidInstanceId: InstanceId is not a valid Guid.
                      ClientRenewalInvalidRenewalEntityId: Renewal entity id must be a valid integer
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  /cm/v1/clientrenewals:
    get:
      tags:
        - Client Renewals
      summary: Get Renewal Data for the passed Client/User or logged in user. Priority is given to userKey over clientKey.
      description: Get Renewal Data for the passed Client/User or logged in user
      operationId: ClientRenewalGetClientRenewalData
      parameters:
        - name: ClientKey
          in: query
          description: ClientKey of the primary user for which renewal is requested
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
        - name: UserKey
          in: query
          description: UserKey of the user for which renewal is requested
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: UserKey
          example: d2-PzdC5wIPy1284wD-rRA==
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientRenewal'
              example:
                RenewalBy: '2022-11-18'
                RenewalData:
                  AustraliaData:
                    AnnualIncome: '3'
                    NetWorth: '5'
                  FinlandData:
                    EuroClearSectorCode: '144200'
                  GlobalFinancialInformation:
                    AnnualIncomeAfterTax:
                      Amount: 100020
                      AmountDescription: Exact
                      CurrencyCode: DKK
                    IntendToInvest:
                      Amount: 1000000
                      AmountDescription: AboveThisAmount
                      CurrencyCode: DKK
                    InvestableAsset:
                      Amount: 1000000
                      AmountDescription: Rounded
                      CurrencyCode: DKK
                  HongkongData:
                    NetWorthInUsd: '2'
                    TotalEstimatedAnnualIncomeInUsd: '4'
                  JapanData:
                    AnnualIncomeJpy: '3'
                    NetWorthJpy: '5'
                    TickerCodes:
                      - '6234'
                      - '0392'
                      - '1025'
                  PersonalInformation:
                    AdditionalNationalities:
                      - CountryCode: UK
                        NationalId: '38992710'
                        NationalIdType: 4
                    AdditionalTaxableCountries:
                      - CountryCode: SG
                        TaxId: '1231314'
                        TinNotAvailable: false
                    AliasFirstName: Alice
                    AliasLastName: Joe
                    CityOfBirth: Test Birth City
                    ContactInformation:
                      EmailAddress: email1_9534299@email.com
                      MobileNumber:
                        CountryCode: DK
                        Number: '5236254126'
                      PrimaryPhoneNumber:
                        CountryCode: DK
                        Number: '355354654'
                      SecondaryPhoneNumber:
                        CountryCode: DK
                        Number: '989899797'
                    CountryOfBirth: DK
                    DateOfBirth: '1992-10-29'
                    EmploymentInformation:
                      EmployerName: Test Employer
                      NatureOfBusiness: '10'
                      OccupationTypes:
                        - '1'
                        - '2'
                        - '3'
                      Position: Test Position
                    FirstName: First9534299
                    LastName: Last9534299
                    MinorInformation:
                      MinorLegalGuardianship: Sharedwithanotherlegalguardian
                      OtherReason: None
                      SharedResponsibilityWithLegalGuardian: 2451ac4b-e2d3-47d9-9d88-db00a056d365
                      SharedResponsibilityWithLegalGuardianLoginUserId: '6372920'
                      SharedResponsibilityWithLegalGuardianName: Guardian
                    NationalityCode: DK
                    OriginalScriptFirstName: 比
                    OriginalScriptLastName: 伊
                    OtherAddress:
                      BuildingName: Test Building
                      BuildingNumber: '420'
                      City: Test Address City
                      CoName: CO Test
                      CountryOfResidenceCode: IN
                      Floor: '5'
                      LocalArea: Local Test Area
                      PostalCode: '123466'
                      PostBoxOffice: '212313'
                      SideDoor: Test SideDoor
                      State: Test State
                      StreetName: Test Street
                      Unit: Unit 10
                    PersonalId: '4499647'
                    PersonalIdExpirationDate: '2025-07-25'
                    PersonalIdPlaceOfRelease: Milan
                    PersonalIdReleaseDate: '2016-12-08'
                    PersonalIdReleasedBy: John doe
                    PersonalIdType: '1'
                    PoliticallyExposedInformation:
                      PepRelatedPersonName: Fred XXX
                      PepRelatedPersonPosition: Director
                      PepType: '2'
                      RelationToPep: '5'
                    PoliticallyExposedPerson: true
                    ResidentialAddress:
                      BuildingName: Test Building
                      BuildingNumber: '420'
                      City: Test Address City
                      CoName: CO Test
                      CountryOfResidenceCode: IN
                      Floor: '5'
                      LocalArea: Local Test Area
                      PostalCode: '123466'
                      PostBoxOffice: '212313'
                      SideDoor: Test SideDoor
                      State: Test State
                      StreetName: Test Street
                      Unit: Unit 10
                    TaxId: '5454898'
                    TinMissingReason: '100000003'
                    TinNotAvailable: true
                  ProfileInformation:
                    AnnualIncomeInformation:
                      AnnualSalaryAfterTax: '11'
                      SecondaryIncomeOther: '1'
                      SecondarySourcesOfIncome:
                        - '3'
                      SecondarySourcesOfIncomeTotal: '9'
                    InvestableAssets:
                      IntendToInvest: '13'
                      PrimarySourcesOfWealth:
                        - '2'
                        - '3'
                      SourceOfWealthOther: Other Wealth
                      ValueOfCashAndSecurities: '11'
                    TradingProfile:
                      SoleBoOfAssets: false
                  RegulatoryInformation:
                    FatcaDeclaration:
                      UnitedStatesCitizen: true
                      UnitedStatesTaxId: '456123'
                      UnitedStatesTaxLiable: true
                  SingaporeData:
                    AnnualIncomeSgd: '3'
                    NetWorthSgd: '5'
                  SwitzerlandData:
                    AnnualIncomeChf: '3'
                    NetWorthChf: '5'
                  UkData:
                    EstimatedSavingAndInvestmentGbp: '14500'
                    MonthlyIncomeAfterTaxGbp: '42000'
                RenewalEntityId: '9534299'
                RenewalStatus: Waiting
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalDataNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      ClientRenewalDataNotFound: PII data not found in CRM.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Read
  /cm/v1/documents:
    post:
      tags:
        - Documents
      summary: Upload documents
      description: Upload documents for an existing client
      operationId: DocumentsUploadDocuments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveDocumentRequest'
            example:
              ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
              Documents:
                - Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
                  DocumentType: TaxSavingAccount
                  FileName: TaxSavingAccount.pdf
      responses:
        '201':
          description: Indicates that the request was performed correctly.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidDataFormat
                      - InvalidDocumentName
                      - NoDocumentProvided
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoDocumentProvided: At least one document must be passed.
                      InvalidDocumentName: Document name should have extension.
                      InvalidDataFormat: Document data should be Base64 string.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Write
  /cm/v2/accounts:
    post:
      tags:
        - Accounts
      summary: Create account
      description: Create an additional account for an existing client
      operationId: AccountsV2CreateAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Models.CreateAccount'
            example:
              ChoiceOfAccount: '65'
              ClientKey: BxS0VWLta8lJ3SBpjGBQjw==
      responses:
        '201':
          description: Account successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Models.AccountDetails'
              example:
                AccountId: '2147279960'
                AccountKey: BxS0VWLta8lJ3SBpjGBQjw==
        '500':
          description: Internal Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - DocumentVerificationError
                    type: string
                    example: None
                    x-enum-descriptions:
                      DocumentVerificationError: Document verification error
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountTemplateNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      AccountTemplateNotFound: Account template not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
  /cm/deephealthcheck/isalive:
    get:
      operationId: DeepHealthCheckGet
      parameters:
        - name: Service
          in: query
          required: true
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/Service'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cm/v1/users/resetpasswordrequest:
    post:
      tags:
        - Users
      summary: Request a password reset
      description: Requests a password reset for a user
      operationId: UsersResetPasswordResetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IBPasswordResetRequest'
            example:
              Email: user@domain.com
              Language: zh-cn
              UserId: 8235162
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - EmailAddressInvalid
                    type: string
                    example: None
                    x-enum-descriptions:
                      EmailAddressInvalid: E-mail address is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFound: ''
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        confidential: Write
components:
  schemas:
    AccountInformation:
      title: Account information
      type: object
      properties:
        AdditionalChoiceOfAccounts:
          title: Additional choice of accounts
          type: array
          items:
            type: string
            example: stringValue
          example:
            - stringValue
        ClientCategoryId:
          title: 'Guides the configuration of the client. Only set this field, if one of more values has been provided to you by Saxo Bank.'
          type: string
          example: stringValue
        CurrencyCode:
          title: Currency code (from Options)
          type: string
          example: stringValue
        DefaultChoiceOfAccount:
          title: Default choice of account (from Options - ChoiceOfAccountDefault)
          type: string
          example: stringValue
        IntendedCommissionGroupId:
          title: Intended commission group ID
          type: string
          example: stringValue
        IntendedTemplateId:
          title: Intended template ID
          type: string
          example: stringValue
        ModelId:
          title: 'Guides the configuration of the client. Only set this field, if one of more values has been provided to you by Saxo Bank.'
          type: string
          example: stringValue
        OtherInstructions:
          title: Other instructions
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AdditionalChoiceOfAccounts:
          - '5'
        ClientCategoryId: '1'
        CurrencyCode: USD
        DefaultChoiceOfAccount: '38'
        IntendedCommissionGroupId: '1234'
        IntendedTemplateId: '567'
        OtherInstructions: Instruction1
    AdditionalNationality:
      title: Additional nationality
      type: object
      properties:
        CountryCode:
          title: Additional country (from Options)
          type: string
          example: stringValue
        NationalId:
          title: Additional national id
          type: string
          example: stringValue
        NationalIdType:
          title: Additional national id type
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        CountryCode: UK
        NationalId: '38992710'
        NationalIdType: 4
    AmountDescriptionType:
      title: Enum for AmountDescriptionType
      enum:
        - AboveThisAmount
        - Exact
        - Rounded
      type: string
      example: Exact
      x-enum-descriptions:
        Exact: Exact value provided.
        Rounded: Nearby value provided.
        AboveThisAmount: Value is above this amount.
    AnnualIncomeInformation:
      title: Annual income information
      type: object
      properties:
        AnnualSalaryAfterTax:
          title: Annual Salary After Tax (from Options)
          type: string
          example: stringValue
        SecondaryIncomeOther:
          title: Other source of secondary income
          maxLength: 50
          type: string
          example: stringValue
        SecondarySourcesOfIncome:
          title: 'Secondary sources of income (from Options, can select multiple)'
          type: array
          items:
            type: string
            example: stringValue
          example:
            - stringValue
        SecondarySourcesOfIncomeTotal:
          title: Total income from Secondary sources (from Options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AnnualSalaryAfterTax: '11'
        SecondaryIncomeOther: '1'
        SecondarySourcesOfIncome:
          - '3'
        SecondarySourcesOfIncomeTotal: '9'
    ApplicationStatus:
      title: Compleet application status
      enum:
        - Failed
        - InProgress
        - Ok
      type: string
      example: InProgress
      x-enum-descriptions:
        InProgress: The process of complete application is in progress.
        Ok: Application has been completed successfully.
        Failed: Failed to complete application. Please reach out to Saxo Bank for further details.
    AssetDetails:
      title: Asset Details class
      required:
        - CurrencyCode
        - Amount
        - AmountDescription
      type: object
      properties:
        Amount:
          title: Amount value
          type: integer
          format: int32
          example: 99
        AmountDescription:
          title: Amount Description
          allOf:
            - $ref: '#/components/schemas/AmountDescriptionType'
        CurrencyCode:
          title: Currency code (from Options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Amount: 100020
        AmountDescription: Exact
        CurrencyCode: DKK
    AustraliaData:
      title: Australia Data
      type: object
      properties:
        AnnualIncome:
          title: Annual Income in AUD
          type: string
          example: stringValue
        NetWorth:
          title: Net Worth in AUD
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AnnualIncome: '3'
        NetWorth: '5'
    ClientRenewal:
      title: Client renewal data
      type: object
      properties:
        RenewalBy:
          title: Date when this renewal should be completed
          type: string
          format: date
          x-type-name: Date
        RenewalData:
          title: Existing renewal data
          allOf:
            - $ref: '#/components/schemas/RenewalData'
        RenewalEntityId:
          title: Identifier for the renewal
          type: string
          example: stringValue
        RenewalStatus:
          title: Current status of this renewal
          allOf:
            - $ref: '#/components/schemas/RenewalStatus'
      additionalProperties: false
      example:
        RenewalBy: '2022-11-18'
        RenewalData:
          AustraliaData:
            AnnualIncome: '3'
            NetWorth: '5'
          FinlandData:
            EuroClearSectorCode: '144200'
          GlobalFinancialInformation:
            AnnualIncomeAfterTax:
              Amount: 100020
              AmountDescription: Exact
              CurrencyCode: DKK
            IntendToInvest:
              Amount: 1000000
              AmountDescription: AboveThisAmount
              CurrencyCode: DKK
            InvestableAsset:
              Amount: 1000000
              AmountDescription: Rounded
              CurrencyCode: DKK
          HongkongData:
            NetWorthInUsd: '2'
            TotalEstimatedAnnualIncomeInUsd: '4'
          JapanData:
            AnnualIncomeJpy: '3'
            NetWorthJpy: '5'
            TickerCodes:
              - '6234'
              - '0392'
              - '1025'
          PersonalInformation:
            AdditionalNationalities:
              - CountryCode: UK
                NationalId: '38992710'
                NationalIdType: 4
            AdditionalTaxableCountries:
              - CountryCode: SG
                TaxId: '1231314'
                TinNotAvailable: false
            AliasFirstName: Alice
            AliasLastName: Joe
            CityOfBirth: Test Birth City
            ContactInformation:
              EmailAddress: email1_9534299@email.com
              MobileNumber:
                CountryCode: DK
                Number: '5236254126'
              PrimaryPhoneNumber:
                CountryCode: DK
                Number: '355354654'
              SecondaryPhoneNumber:
                CountryCode: DK
                Number: '989899797'
            CountryOfBirth: DK
            DateOfBirth: '1992-10-29'
            EmploymentInformation:
              EmployerName: Test Employer
              NatureOfBusiness: '10'
              OccupationTypes:
                - '1'
                - '2'
                - '3'
              Position: Test Position
            FirstName: First9534299
            LastName: Last9534299
            MinorInformation:
              MinorLegalGuardianship: Sharedwithanotherlegalguardian
              OtherReason: None
              SharedResponsibilityWithLegalGuardian: 2451ac4b-e2d3-47d9-9d88-db00a056d365
              SharedResponsibilityWithLegalGuardianLoginUserId: '6372920'
              SharedResponsibilityWithLegalGuardianName: Guardian
            NationalityCode: DK
            OriginalScriptFirstName: 比
            OriginalScriptLastName: 伊
            OtherAddress:
              BuildingName: Test Building
              BuildingNumber: '420'
              City: Test Address City
              CoName: CO Test
              CountryOfResidenceCode: IN
              Floor: '5'
              LocalArea: Local Test Area
              PostalCode: '123466'
              PostBoxOffice: '212313'
              SideDoor: Test SideDoor
              State: Test State
              StreetName: Test Street
              Unit: Unit 10
            PersonalId: '4499647'
            PersonalIdExpirationDate: '2025-07-25'
            PersonalIdPlaceOfRelease: Milan
            PersonalIdReleaseDate: '2016-12-08'
            PersonalIdReleasedBy: John doe
            PersonalIdType: '1'
            PoliticallyExposedInformation:
              PepRelatedPersonName: Fred XXX
              PepRelatedPersonPosition: Director
              PepType: '2'
              RelationToPep: '5'
            PoliticallyExposedPerson: true
            ResidentialAddress:
              BuildingName: Test Building
              BuildingNumber: '420'
              City: Test Address City
              CoName: CO Test
              CountryOfResidenceCode: IN
              Floor: '5'
              LocalArea: Local Test Area
              PostalCode: '123466'
              PostBoxOffice: '212313'
              SideDoor: Test SideDoor
              State: Test State
              StreetName: Test Street
              Unit: Unit 10
            TaxId: '5454898'
            TinMissingReason: '100000003'
            TinNotAvailable: true
          ProfileInformation:
            AnnualIncomeInformation:
              AnnualSalaryAfterTax: '11'
              SecondaryIncomeOther: '1'
              SecondarySourcesOfIncome:
                - '3'
              SecondarySourcesOfIncomeTotal: '9'
            InvestableAssets:
              IntendToInvest: '13'
              PrimarySourcesOfWealth:
                - '2'
                - '3'
              SourceOfWealthOther: Other Wealth
              ValueOfCashAndSecurities: '11'
            TradingProfile:
              SoleBoOfAssets: false
          RegulatoryInformation:
            FatcaDeclaration:
              UnitedStatesCitizen: true
              UnitedStatesTaxId: '456123'
              UnitedStatesTaxLiable: true
          SingaporeData:
            AnnualIncomeSgd: '3'
            NetWorthSgd: '5'
          SwitzerlandData:
            AnnualIncomeChf: '3'
            NetWorthChf: '5'
          UkData:
            EstimatedSavingAndInvestmentGbp: '14500'
            MonthlyIncomeAfterTaxGbp: '42000'
        RenewalEntityId: '9534299'
        RenewalStatus: Waiting
    CompleteApplication.AccountDetails:
      title: Account details of client
      type: object
      properties:
        AccountType:
          title: Type of account
          type: string
          example: stringValue
        CurrencyIsoCode:
          title: Currency ISO code of account
          type: string
          example: stringValue
        Iban:
          title: Iban of account
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountType: Normal
        CurrencyIsoCode: USD
        Iban: DK43754335838392
    CompleteApplicationResponse:
      type: object
      properties:
        AccountDetails:
          title: List of accounts if application status is 'Ok'
          type: array
          items:
            $ref: '#/components/schemas/CompleteApplication.AccountDetails'
          example:
            - AccountType: Normal
              CurrencyIsoCode: USD
              Iban: DK43754335838392
        ApplicationStatus:
          title: Complete application status
          allOf:
            - $ref: '#/components/schemas/ApplicationStatus'
        ErrorMessage:
          title: Error message if application status is 'Failed'
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AccountDetails:
          - AccountType: Normal
            CurrencyIsoCode: USD
            Iban: DK43754335838392
        ApplicationStatus: Ok
    ContactInformation:
      title: Contact information
      type: object
      properties:
        EmailAddress:
          title: Email Address
          maxLength: 100
          type: string
          example: stringValue
        MobileNumber:
          title: Mobile Number
          allOf:
            - $ref: '#/components/schemas/Models.PhoneNumber'
        PrimaryPhoneNumber:
          title: Primary PhoneNumber
          allOf:
            - $ref: '#/components/schemas/Models.PhoneNumber'
        SecondaryPhoneNumber:
          title: Secondary PhoneNumber
          allOf:
            - $ref: '#/components/schemas/Models.PhoneNumber'
      additionalProperties: false
      example:
        EmailAddress: email1_9534299@email.com
        MobileNumber:
          CountryCode: DK
          Number: '5236254126'
        PrimaryPhoneNumber:
          CountryCode: DK
          Number: '355354654'
        SecondaryPhoneNumber:
          CountryCode: DK
          Number: '989899797'
    Document:
      title: Document details to be saved
      required:
        - DocumentType
        - FileName
        - Data
      type: object
      properties:
        Data:
          title: Document data in Base64 encoded string
          type: string
          example: stringValue
        DocumentType:
          title: Document type
          allOf:
            - $ref: '#/components/schemas/DocumentType'
        FileName:
          title: Document name with extension
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Data: iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
        DocumentType: TaxSavingAccount
        FileName: TaxSavingAccount.pdf
    DocumentType:
      title: Document types available
      enum:
        - PensionTransferRequest
        - TaxSavingAccount
        - TaxSavingAccountWithTransfer
      type: string
      example: PensionTransferRequest
      x-enum-descriptions:
        PensionTransferRequest: Document detailing Pension Transfer Request
        TaxSavingAccount: Document detailing Tax Saving Account
        TaxSavingAccountWithTransfer: Tax saving account with transfer
    ElectronicVerification:
      title: Electronic Verification Information
      type: object
      properties:
        Done:
          title: When was the electronic verification done?
          type: string
          format: date-time
          x-type-name: UtcDateTime
        ExternalId:
          title: External ID
          type: string
          example: stringValue
        Result:
          title: Result of electronic verification
          allOf:
            - $ref: '#/components/schemas/Models.ElectronicVerificationResult'
        Score:
          title: Score of electronic verification
          type: string
          example: stringValue
      additionalProperties: false
      example:
        Done: '2018-04-05T00:00:00.0000000+00:00'
        ExternalId: ExternalId
        Result: Passed
        Score: '50'
    EmploymentInformation:
      title: Employment information
      type: object
      properties:
        EmployerName:
          title: Employer Name
          maxLength: 250
          type: string
          example: stringValue
        NatureOfBusiness:
          title: Nature Of Business
          type: string
          example: stringValue
        NatureOfBusinessOther:
          title: Nature of Business other
          type: string
          example: stringValue
        OccupationTypes:
          title: 'Occupation types (from Options, can select multiple)'
          type: array
          items:
            type: string
            example: stringValue
          example:
            - stringValue
        Position:
          title: Position/Designation/Level
          maxLength: 250
          type: string
          example: stringValue
      additionalProperties: false
      example:
        EmployerName: Test Employer
        NatureOfBusiness: '10'
        OccupationTypes:
          - '1'
          - '2'
          - '3'
        Position: Test Position
    FatcaDeclaration:
      title: Fatca declaration
      type: object
      properties:
        UnitedStatesCitizen:
          title: United States Citizen
          type: boolean
          example: false
        UnitedStatesTaxId:
          title: United States TaxId
          maxLength: 20
          type: string
          example: stringValue
        UnitedStatesTaxLiable:
          title: United States Tax Liable
          type: boolean
          example: false
      additionalProperties: false
      example:
        UnitedStatesCitizen: true
        UnitedStatesTaxId: '456123'
        UnitedStatesTaxLiable: true
    FinlandData:
      title: Finland data
      type: object
      properties:
        EuroClearSectorCode:
          title: Sector code for Euroclear
          type: string
          example: stringValue
      additionalProperties: false
      example:
        EuroClearSectorCode: '144200'
    GlobalFinancialInformation:
      title: Global financial information
      type: object
      properties:
        AnnualIncomeAfterTax:
          title: Annual Income After Tax
          allOf:
            - $ref: '#/components/schemas/AssetDetails'
        IntendToInvest:
          title: Intend To Invest
          allOf:
            - $ref: '#/components/schemas/AssetDetails'
        InvestableAsset:
          title: Investable Asset
          allOf:
            - $ref: '#/components/schemas/AssetDetails'
      additionalProperties: false
      example:
        AnnualIncomeAfterTax:
          Amount: 100020
          AmountDescription: Exact
          CurrencyCode: DKK
        IntendToInvest:
          Amount: 1000000
          AmountDescription: AboveThisAmount
          CurrencyCode: DKK
        InvestableAsset:
          Amount: 1000000
          AmountDescription: Rounded
          CurrencyCode: DKK
    HongkongData:
      title: Hongkong data
      type: object
      properties:
        NetWorthInUsd:
          title: Net worth in USD
          type: string
          example: stringValue
        TotalEstimatedAnnualIncomeInUsd:
          title: Estimated annual income in USD
          type: string
          example: stringValue
      additionalProperties: false
      example:
        NetWorthInUsd: '2'
        TotalEstimatedAnnualIncomeInUsd: '4'
    IBPasswordResetRequest:
      title: Properties for requesting a password reset token.
      required:
        - Email
        - UserId
      type: object
      properties:
        Email:
          title: E-mail address of the user
          type: string
          example: stringValue
        Language:
          title: Service language code - Default is English
          type: string
          example: stringValue
        UserId:
          title: User's client ID
          allOf:
            - $ref: '#/components/schemas/UserId'
      additionalProperties: false
      example:
        Email: user@domain.com
        Language: zh-cn
        UserId: 8235162
    InitiateVerification.InitiateVerificationRequest:
      title: Initiate verification request
      required:
        - VerificationProviderType
      type: object
      properties:
        MyInfoRequest:
          title: MyInfo Request
          allOf:
            - $ref: '#/components/schemas/MyInfoRequest'
        SecureMeRequest:
          title: Secure Me Request
          allOf:
            - $ref: '#/components/schemas/SecureMeRequest'
        VerificationProviderType:
          title: Type of verification provider requested
          allOf:
            - $ref: '#/components/schemas/VerificationProvider'
      additionalProperties: false
      example:
        SecureMeRequest:
          CountryCode: UK
          ErrorRedirectUrl: https://openapi.validate.com
          ServiceLanguageCode: FR
          SuccessRedirectUrl: https://openapi.validate.com
          UploadOptions:
            Back: File
            Front: File
            Selfie: Camera
        VerificationProviderType: SecureMe
    InitiateVerification.InitiateVerificationResponse:
      title: Initaite verification response
      type: object
      properties:
        IdentificationUrl:
          title: The url that will redirect the client to the vendors site for verification
          type: string
          example: stringValue
      additionalProperties: false
      example:
        IdentificationUrl: https://secure-me.au10tixservicesstaging.com?token=oBVmsTzsSMGvYES0y9jj&api=aHR0cHM6Ly93ZXUtYXBpLmF1MTB0aXhzZXJ2aWNlc3N0YWdpbmcuY29tL3NlY3VyZS1tZS92MQ%3D%3D&locale=en-us
    InitiateVerificationRequest:
      title: Initiate verification request
      required:
        - RedirectUrl
      type: object
      properties:
        RedirectUrl:
          title: The url that the client wants to redirect back to after the process is over
          type: string
          example: stringValue
      additionalProperties: false
      example:
        RedirectUrl: http://openapi.validate.com
    InitiateVerificationResponse:
      title: Initaite verification response
      type: object
      properties:
        IdentificationUrl:
          title: The url that will redirect the client to the vendors site for verification
          type: string
          example: stringValue
      additionalProperties: false
      example:
        IdentificationUrl: https://test.signicat.com/target=http%3A%2F%2Fopenapi.validate.com%2Fopenapi%2Fv1%2Fverify%2F3c3685cf-85e3-4c11-8as7-c4f2dcc78hea
    InvestableAssets:
      title: Investable assets
      type: object
      properties:
        IntendToInvest:
          title: Intend To Invest (from Options)
          type: string
          example: stringValue
        PrimarySourcesOfWealth:
          title: 'Primary sources of wealth (from Options, can select multiple)'
          type: array
          items:
            type: string
            example: stringValue
          example:
            - stringValue
        SourceOfWealthOther:
          title: Other source of wealth
          maxLength: 50
          type: string
          example: stringValue
        ValueOfCashAndSecurities:
          title: Value Of Cash And Securities (from Options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        IntendToInvest: '13'
        PrimarySourcesOfWealth:
          - '2'
          - '3'
        SourceOfWealthOther: Other Wealth
        ValueOfCashAndSecurities: '11'
    InvestmentPurpose:
      title: Client Investment Purpose
      type: object
      properties:
        PurposeAndScope:
          title: Purpose and scope (from Options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        PurposeAndScope: '2'
    ItalianData.AnnualIncomeInformation:
      title: Annual income information for Italy
      type: object
      properties:
        AnnualIncomeSource:
          title: 'Annual income source - (from options, can select multiple)'
          type: array
          items:
            type: string
            example: stringValue
          example:
            - stringValue
        TotalAnnualIncome:
          title: Total annual income - (from options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        AnnualIncomeSource:
          - '2'
        TotalAnnualIncome: '1'
    ItalianData.EmploymentInformation:
      title: Employment information for Italy
      type: object
      properties:
        CountryConcernedCode:
          title: Concerned country code
          type: string
          example: stringValue
        DetailedBusinessActivity:
          title: Business activityin detail
          type: string
          example: stringValue
        EmploymentName:
          title: Name of the employment
          type: string
          example: stringValue
        OtherEmployment:
          title: Name of the other employment
          type: string
          example: stringValue
        PrevalentCorporateObject:
          title: Prevalent corporate object
          type: string
          example: stringValue
        ProvinceConcerned:
          title: Concerned province
          type: string
          example: stringValue
        StatusOfEmployment:
          title: Status of employment
          type: string
          example: stringValue
      additionalProperties: false
      example:
        CountryConcernedCode: IT
        DetailedBusinessActivity: '005'
        EmploymentName: Employer
        OtherEmployment: Other employer description
        PrevalentCorporateObject: Corporate object
        ProvinceConcerned: Livorno
        StatusOfEmployment: '125'
    ItalianData.InvestableAssets:
      title: Investable assets for Italy
      type: object
      properties:
        IntendToInvest:
          title: Intend to invest - (from options)
          type: string
          example: stringValue
        NatureAndPurposeOfTheRelationship:
          title: Nature and purpose of relationship - (from options)
          type: string
          example: stringValue
        SourceOfWealth:
          title: 'Sources of wealth - (from options, can select multiple)'
          type: array
          items:
            type: string
            example: stringValue
          example:
            - stringValue
        ValueOfTotalWealth:
          title: Value of total wealth - (from options)
          type: string
          example: stringValue
      additionalProperties: false
      example:
        IntendToInvest: '2'
        NatureAndPurposeOfTheRelationship: '1'
        SourceOfWealth:
          - '3'
        ValueOfTotalWealth: '4'
    ItalianData.ItalyData:
      title: Client information for Italy onboarding
      type: object
      properties:
        EmploymentInformation:
[...]
