openapi: 3.0.1
info:
  title: Services.ClientManagement
  description: The Client Management service group provides services to signup and manage leads and clients.
  version: 1.1.561+60a2d2f806
  x-framework-version: 23.0.7+00747832fc
  x-machine: DEVOAWEB11-DK1
servers:
  - url: https://blue.openapi.sys.dom/openapi
paths:
  '/cm/diagnostics/users}':
    get:
      operationId: cm_users
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-network-visibility: internal
  '/cm/diagnostics/subscriptions}':
    get:
      operationId: cm_subscriptions
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
        - name: ApplicationId
          in: query
          schema:
            allOf:
              - minimum: 1
                type: integer
                format: int32
                x-type-name: ApplicationId
          example: "193"
        - name: ContextId
          in: query
          schema:
            type: string
          example: "3879ab7f-b82b-4d5b-8056-4f3f96e21b09"
        - name: Publisher
          in: query
          schema:
            type: string
          example: "3879ab7f-b82b-4d5b-8056-4f3f96e21b09"
        - name: SessionId
          in: query
          schema:
            allOf:
              - pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
                x-type-name: SessionId
          example: "2c0cfcaa-1e34-4e64-a9a4-09c2a64e1c0d"
        - name: UserId
          in: query
          schema:
            allOf:
              - $ref: '#/components/schemas/UserIdNullable'
          example: 1209828118
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-network-visibility: internal
  '/cm/diagnostics/publishers}':
    get:
      operationId: cm_publishers
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-network-visibility: internal
  '/cm/v1/clientrenewals/feedback}':
    get:
      tags:
        - Client Renewals
      summary: Get renewal feedback details for the passed Client/User or logged in user
      description: Get renewal feedback details for the passed Client/User or logged in user
      operationId: ClientRenewalGetRenewalFeedbackData
      parameters:
        - name: ClientKey
          in: query
          description: ClientKey of the user for which renewal feedback is requested
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
        - name: UserKey
          in: query
          description: UserKey of the user for which renewal feedback is requested
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: UserKey
          example: d2-PzdC5wIPy1284wD-rRA==
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewalFeedbackData'
              example: {
  "PendingReasons": [
    {
      "Message": "Photo is not clear. Please provide clear scan copy.",
      "PendingField": "PoiStatus",
      "Reasons": [
        "NameMismatch",
        "CertificationNotvalid",
        "OtherClientContactNeeded",
        "NotReadable"
      ]
    },
    {
      "Message": "There is an address mismatch as per Client Application Form and National IC. So, kindly confirm on which address you are residing for more than 6 months.",
      "PendingField": "PorStatus",
      "Reasons": [
        "CertificationNotvalid",
        "OtherClientContactNeeded",
        "NotReadable"
      ]
    }
  ],
  "RenewalStatus": "Pending"
}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalFeedbackDataNotFound
                    type: string
                    x-enum-descriptions:
                      ClientRenewalFeedbackDataNotFound: Renewal feedback data not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalFeedbackDataNotFound
                      - ClientRenewalFeedbackInvalidParameters
                    type: string
                    x-enum-descriptions:
                      ClientRenewalFeedbackInvalidParameters: Invalid parameters passed for renewal feedback update.
                      ClientRenewalFeedbackDataNotFound: Renewal feedback data not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
    post:
      tags:
        - Client Renewals
      summary: Submit renewal feedback data
      description: Submit renewal feedback data
      operationId: ClientRenewalSubmitRenewalFeedbakData
      parameters:
        - name: ClientKey
          in: query
          description: ClientKey of the user for which renewal feedback is to be submitted
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
        - name: UserKey
          in: query
          description: UserKey of the user for which renewal feedback is to be submitted
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: UserKey
          example: d2-PzdC5wIPy1284wD-rRA==
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewalFeedbackRequest'
            example: {
  "Documents": [
    {
      "Data": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4",
      "MimeType": "application/pdf",
      "Name": "abc.pdf",
      "Type": "ProofOfIdentity"
    }
  ],
  "FeedbackComment": "Test feedback comment"
}
      responses:
        '201':
          description: Created
        '204':
          description: Indicates that the request was performed correctly.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalFeedbackInvalidFileExtension
                      - ClientRenewalFeedbackInvalidParameters
                      - ClientRenewalInvalidDataFormat
                    type: string
                    x-enum-descriptions:
                      ClientRenewalFeedbackInvalidParameters: Invalid parameters passed for renewal feedback update.
                      ClientRenewalInvalidDataFormat: Invalid base64 data for document.
                      ClientRenewalFeedbackInvalidFileExtension: Renewal feedback invalid file extension.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/clientrenewals/instance}':
    get:
      tags:
        - Client Renewals
      summary: Get renewal instance id
      description: Get renewal instance id for the logged in user
      operationId: ClientRenewalGetRenewalInstanceId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewalInstance'
              example: {
  "InstanceId": "B80F32BA-4FDA-49B7-9B53-637F84932672"
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/clientrenewals/pending}':
    get:
      tags:
        - Client Renewals
      summary: 'Gets renewal status for clients, under logged user or the passed owner'
      description: 'Gets renewal status for clients, under logged user or the passed owner'
      operationId: ClientRenewalGetRenewalStatuses
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 1000
        - name: MustRenewBy
          in: query
          description: 'Optional, Date till which the pending renewals should be returned, default value is 30 days from today'
          schema:
            allOf:
              - type: string
                format: date
                x-type-name: Date
          example: '2020-12-31T00:00:00.0000000+00:00'
        - name: OwnerKey
          in: query
          description: 'Optional, ClientKey of the owner, whose subclient''s renewal status is needed'
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewalStatusDataListResult'
              example: {
  "__count": 2,
  "Data": [
    {
      "ClientId": "2147279170",
      "ClientKey": "7m4I|vtYLUnEGg77o9uQhw==",
      "RenewalBy": "2022-04-27",
      "RenewalStatus": "Waiting"
    },
    {
      "ClientId": "2147279171",
      "ClientKey": "27KN2aJ-338aeKnLTNOyCw==",
      "RenewalBy": "2022-05-07"
    }
  ]
}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalStatusNotFound
                    type: string
                    x-enum-descriptions:
                      ClientRenewalStatusNotFound: Renewal statuses not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/cm/v1/clientrenewals/{RenewalEntityId}':
    post:
      tags:
        - Client Renewals
      summary: 'Submit renewal for processing, no further updates could be made post this call'
      description: 'Submit renewal for processing, no further updates could be made post this call'
      operationId: ClientRenewalSubmitClientRenewal
      parameters:
        - name: RenewalEntityId
          in: path
          description: Renewal entity identifier
          required: true
          schema:
            type: string
          example: 7526324
      responses:
        '201':
          description: Created
        '204':
          description: Indicates that the request was performed correctly.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalInvalidRenewalEntityId
                      - ClientRenewalInvalidSubmit
                      - ClientRenewalInvalidUpdate
                      - ClientRenewalNotFound
                    type: string
                    x-enum-descriptions:
                      ClientRenewalInvalidSubmit: Renewal already submitted.
                      ClientRenewalNotFound: Renewal not found.
                      ClientRenewalInvalidUpdate: Invalid renewal update request.
                      ClientRenewalInvalidRenewalEntityId: Renewal entity id must be a valid integer
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
    patch:
      tags:
        - Client Renewals
      summary: Update Renewal Data/Documents for the given renewal entity
      description: Update Renewal Data/Documents for the given renewal entity
      operationId: ClientRenewalUpdateClientRenewalData
      parameters:
        - name: RenewalEntityId
          in: path
          description: Renewal entity identifier
          required: true
          schema:
            type: string
          example: 7526324
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewalRequest'
            example: {
  "Documents": [
    {
      "Data": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4",
      "MimeType": "application/pdf",
      "Name": "ProofOfIdentity.pdf",
      "Type": "ProofOfIdentity"
    },
    {
      "Data": "iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4",
      "MimeType": "application/msword",
      "Name": "ProofOfResidency.doc",
      "Type": "ProofOfResidency"
    }
  ],
  "RenewalData": {
    "AustraliaData": {
      "AnnualIncome": "3",
      "NetWorth": "5"
    },
    "FinlandData": {
      "EuroClearSectorCode": "144200"
    },
    "GlobalFinancialInformation": {
      "AnnualIncomeAfterTax": {
        "Amount": 100020,
        "AmountDescription": "Exact",
        "CurrencyCode": "DKK"
      },
      "IntendToInvest": {
        "Amount": 1000000,
        "AmountDescription": "AboveThisAmount",
        "CurrencyCode": "DKK"
      },
      "InvestableAsset": {
        "Amount": 1000000,
        "AmountDescription": "Rounded",
        "CurrencyCode": "DKK"
      }
    },
    "HongkongData": {
      "NetWorthInUsd": "2",
      "TotalEstimatedAnnualIncomeInUsd": "4"
    },
    "JapanData": {
      "AnnualIncomeJpy": "3",
      "NetWorthJpy": "5",
      "TickerCodes": [
        "6234",
        "0392",
        "1025"
      ]
    },
    "PersonalInformation": {
      "AdditionalNationalities": [
        {
          "CountryCode": "UK",
          "NationalId": "38992710",
          "NationalIdType": 4
        }
      ],
      "AdditionalTaxableCountries": [
        {
          "CountryCode": "SG",
          "TaxId": "1231314",
          "TinNotAvailable": false
        }
      ],
      "AliasFirstName": "Alice",
      "AliasLastName": "Joe",
      "CityOfBirth": "Test Birth City",
      "ContactInformation": {
        "EmailAddress": "email1_9534299@email.com",
        "MobileNumber": {
          "CountryCode": "DK",
          "Number": "5236254126"
        },
        "PrimaryPhoneNumber": {
          "CountryCode": "DK",
          "Number": "355354654"
        },
        "SecondaryPhoneNumber": {
          "CountryCode": "DK",
          "Number": "989899797"
        }
      },
      "CountryOfBirth": "DK",
      "DateOfBirth": "1992-04-07",
      "EmploymentInformation": {
        "EmployerName": "Test Employer",
        "NatureOfBusiness": "10",
        "OccupationTypes": [
          "1",
          "2",
          "3"
        ],
        "Position": "Test Position"
      },
      "FirstName": "First9534299",
      "LastName": "Last9534299",
      "NationalityCode": "DK",
      "OriginalScriptFirstName": "比",
      "OriginalScriptLastName": "伊",
      "OtherAddress": {
        "BuildingName": "Test Building",
        "BuildingNumber": "420",
        "City": "Test Address City",
        "CoName": "CO Test",
        "CountryOfResidenceCode": "IN",
        "Floor": "5",
        "LocalArea": "Local Test Area",
        "PostalCode": "123466",
        "PostBoxOffice": "212313",
        "SideDoor": "Test SideDoor",
        "State": "Test State",
        "StreetName": "Test Street",
        "Unit": "Unit 10"
      },
      "PersonalId": "4499647",
      "PersonalIdExpirationDate": "2025-01-01",
      "PersonalIdType": "1",
      "PoliticallyExposedInformation": {
        "PepRelatedPersonName": "Fred XXX",
        "PepRelatedPersonPosition": "Director",
        "PepType": "2",
        "RelationToPep": "5"
      },
      "PoliticallyExposedPerson": true,
      "ResidentialAddress": {
        "BuildingName": "Test Building",
        "BuildingNumber": "420",
        "City": "Test Address City",
        "CoName": "CO Test",
        "CountryOfResidenceCode": "IN",
        "Floor": "5",
        "LocalArea": "Local Test Area",
        "PostalCode": "123466",
        "PostBoxOffice": "212313",
        "SideDoor": "Test SideDoor",
        "State": "Test State",
        "StreetName": "Test Street",
        "Unit": "Unit 10"
      },
      "TaxId": "5454898",
      "TinMissingReason": "100000003",
      "TinNotAvailable": true
    },
    "ProfileInformation": {
      "AnnualIncomeInformation": {
        "AnnualSalaryAfterTax": "11",
        "SecondaryIncomeOther": "1",
        "SecondarySourcesOfIncome": [
          "3"
        ],
        "SecondarySourcesOfIncomeTotal": "9"
      },
      "InvestableAssets": {
        "IntendToInvest": "13",
        "PrimarySourcesOfWealth": [
          "2",
          "3"
        ],
        "SourceOfWealthOther": "Other Wealth",
        "ValueOfCashAndSecurities": "11"
      },
      "TradingProfile": {
        "SoleBoOfAssets": false
      }
    },
    "RegulatoryInformation": {
      "FatcaDeclaration": {
        "UnitedStatesCitizen": true,
        "UnitedStatesTaxId": "456123",
        "UnitedStatesTaxLiable": true
      }
    },
    "SingaporeData": {
      "AnnualIncomeSgd": "3",
      "NetWorthSgd": "5"
    },
    "SwitzerlandData": {
      "AnnualIncomeChf": "3",
      "NetWorthChf": "5"
    },
    "UkData": {
      "EstimatedSavingAndInvestmentGbp": "14500",
      "MonthlyIncomeAfterTaxGbp": "42000"
    }
  }
}
      responses:
        '204':
          description: Indicates that the request was performed correctly.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalInvalidDataFormat
                      - ClientRenewalInvalidInstanceId
                      - ClientRenewalInvalidRenewalEntityId
                      - ClientRenewalInvalidUpdate
                      - InvalidModelState
                    type: string
                    x-enum-descriptions:
                      ClientRenewalInvalidDataFormat: Invalid base64 data for document.
                      ClientRenewalInvalidUpdate: Invalid renewal update request.
                      ClientRenewalInvalidInstanceId: InstanceId is not a valid Guid.
                      ClientRenewalInvalidRenewalEntityId: Renewal entity id must be a valid integer
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/cm/v1/clientrenewals}':
    get:
      tags:
        - Client Renewals
      summary: Get Renewal Data for the passed Client/User or logged in user. Priority is given to userKey over clientKey.
      description: Get Renewal Data for the passed Client/User or logged in user
      operationId: ClientRenewalGetClientRenewalData
      parameters:
        - name: ClientKey
          in: query
          description: ClientKey of the primary user for which renewal is requested
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: ClientKey
          example: d2-PzdC5wIPy1284wD-rRA==
        - name: UserKey
          in: query
          description: UserKey of the user for which renewal is requested
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: UserKey
          example: d2-PzdC5wIPy1284wD-rRA==
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientRenewal'
              example: {
  "AssetTypeSolution": "ISA",
  "CustomerType": "Primary",
  "RenewalBy": "2022-04-27",
  "RenewalData": {
    "AustraliaData": {
      "AnnualIncome": "3",
      "NetWorth": "5"
    },
    "FinlandData": {
      "EuroClearSectorCode": "144200"
    },
    "GlobalFinancialInformation": {
      "AnnualIncomeAfterTax": {
        "Amount": 100020,
        "AmountDescription": "Exact",
        "CurrencyCode": "DKK"
      },
      "IntendToInvest": {
        "Amount": 1000000,
        "AmountDescription": "AboveThisAmount",
        "CurrencyCode": "DKK"
      },
      "InvestableAsset": {
        "Amount": 1000000,
        "AmountDescription": "Rounded",
        "CurrencyCode": "DKK"
      }
    },
    "HongkongData": {
      "NetWorthInUsd": "2",
      "TotalEstimatedAnnualIncomeInUsd": "4"
    },
    "JapanData": {
      "AnnualIncomeJpy": "3",
      "NetWorthJpy": "5",
      "TickerCodes": [
        "6234",
        "0392",
        "1025"
      ]
    },
    "PersonalInformation": {
      "AdditionalNationalities": [
        {
          "CountryCode": "UK",
          "NationalId": "38992710",
          "NationalIdType": 4
        }
      ],
      "AdditionalTaxableCountries": [
        {
          "CountryCode": "SG",
          "TaxId": "1231314",
          "TinNotAvailable": false
        }
      ],
      "AliasFirstName": "Alice",
      "AliasLastName": "Joe",
      "CityOfBirth": "Test Birth City",
      "ContactInformation": {
        "EmailAddress": "email1_9534299@email.com",
        "MobileNumber": {
          "CountryCode": "DK",
          "Number": "5236254126"
        },
        "PrimaryPhoneNumber": {
          "CountryCode": "DK",
          "Number": "355354654"
        },
        "SecondaryPhoneNumber": {
          "CountryCode": "DK",
          "Number": "989899797"
        }
      },
      "CountryOfBirth": "DK",
      "DateOfBirth": "1992-04-07",
      "EmploymentInformation": {
        "EmployerName": "Test Employer",
        "NatureOfBusiness": "10",
        "OccupationTypes": [
          "1",
          "2",
          "3"
        ],
        "Position": "Test Position"
      },
      "FirstName": "First9534299",
      "LastName": "Last9534299",
      "NationalityCode": "DK",
      "OriginalScriptFirstName": "比",
      "OriginalScriptLastName": "伊",
      "OtherAddress": {
        "BuildingName": "Test Building",
        "BuildingNumber": "420",
        "City": "Test Address City",
        "CoName": "CO Test",
        "CountryOfResidenceCode": "IN",
        "Floor": "5",
        "LocalArea": "Local Test Area",
        "PostalCode": "123466",
        "PostBoxOffice": "212313",
        "SideDoor": "Test SideDoor",
        "State": "Test State",
        "StreetName": "Test Street",
        "Unit": "Unit 10"
      },
      "PersonalId": "4499647",
      "PersonalIdExpirationDate": "2025-01-01",
      "PersonalIdType": "1",
      "PoliticallyExposedInformation": {
        "PepRelatedPersonName": "Fred XXX",
        "PepRelatedPersonPosition": "Director",
        "PepType": "2",
        "RelationToPep": "5"
      },
      "PoliticallyExposedPerson": true,
      "ResidentialAddress": {
        "BuildingName": "Test Building",
        "BuildingNumber": "420",
        "City": "Test Address City",
        "CoName": "CO Test",
        "CountryOfResidenceCode": "IN",
        "Floor": "5",
        "LocalArea": "Local Test Area",
        "PostalCode": "123466",
        "PostBoxOffice": "212313",
        "SideDoor": "Test SideDoor",
        "State": "Test State",
        "StreetName": "Test Street",
        "Unit": "Unit 10"
      },
      "TaxId": "5454898",
      "TinMissingReason": "100000003",
      "TinNotAvailable": true
    },
    "ProfileInformation": {
      "AnnualIncomeInformation": {
        "AnnualSalaryAfterTax": "11",
        "SecondaryIncomeOther": "1",
        "SecondarySourcesOfIncome": [
          "3"
        ],
        "SecondarySourcesOfIncomeTotal": "9"
      },
      "InvestableAssets": {
        "IntendToInvest": "13",
        "PrimarySourcesOfWealth": [
          "2",
          "3"
        ],
        "SourceOfWealthOther": "Other Wealth",
        "ValueOfCashAndSecurities": "11"
      },
      "TradingProfile": {
        "SoleBoOfAssets": false
      }
    },
    "RegulatoryInformation": {
      "FatcaDeclaration": {
        "UnitedStatesCitizen": true,
        "UnitedStatesTaxId": "456123",
        "UnitedStatesTaxLiable": true
      }
    },
    "SingaporeData": {
      "AnnualIncomeSgd": "3",
      "NetWorthSgd": "5"
    },
    "SwitzerlandData": {
      "AnnualIncomeChf": "3",
      "NetWorthChf": "5"
    },
    "UkData": {
      "EstimatedSavingAndInvestmentGbp": "14500",
      "MonthlyIncomeAfterTaxGbp": "42000"
    }
  },
  "RenewalEntityId": "9534299",
  "RenewalStatus": "Waiting",
  "RenewalStatusByUsers": [
    {
      "CustomerRenewalStatus": "New",
      "FullName": "First9534299 Last9534299",
      "RelationshipRole": "Owner",
      "UserId": 9534299,
      "UserKey": "d2-PzdC5wIPy1284wD-rRA=="
    }
  ]
}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClientRenewalDataNotFound
                    type: string
                    x-enum-descriptions:
                      ClientRenewalDataNotFound: PII data not found in CRM.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/cm/v1/leadsignups/activities/tasks}':
    post:
      tags:
        - Lead Signups
      summary: Create a follow up task
      description: Creates a follow up task regarding an applicant. The applicant must already exist as a client in the system.
      operationId: LeadSignupV1CreateTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientManagementTask'
            example: {
  "AssignTo": {
    "Name": "XYZ",
    "Type": "User"
  },
  "Duration": "10.00:00:00",
  "RegardingClientId": "123456",
  "ScheduledStart": "2022-04-07T11:05:38.307088Z",
  "Subject": "My Task Subject 2022-04-07 11:05:38"
}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientManagementTaskResponse'
              example: {
  "ClientManagementTaskId": "c8570881-030c-45ee-bf17-56de4c7752b6"
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/registrations}':
    get:
      tags:
        - Lead Signups
      summary: Get registrations
      description: Gets all registrations for a specific e-mail address.
      operationId: LeadSignupV1GetRegistrations
      parameters:
        - name: Email
          in: query
          description: The e-mail address used to match registrations
          required: true
          schema:
            type: string
          example: someone@example.org
        - name: OwnerId
          in: query
          description: The owner ID the existence should be checked against.
          required: true
          schema:
            type: string
          example: 23
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResponseListResult'
              example: {
  "Data": [
    {
      "ClientId": "238482",
      "ClientKey": "5DG7K1P5cqYBZ77tl7Af4w=="
    }
  ],
  "MaxRows": 214
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/simpleregistrations}':
    post:
      tags:
        - Lead Signups
      summary: Create a simple registration
      description: A simple registration consists of a notification of interest in a particular subject and basic contact details.
      operationId: LeadSignupV1CreateSimpleRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimpleRegistration'
            example: {
  "CountryOfResidenceCode": "DK",
  "Email": "john.doe_229259138@example.org",
  "LanguageCode": "da",
  "Name": "John Doe",
  "OwnerId": "123456",
  "Phone": {
    "CountryCode": "DK",
    "Number": "32323232"
  }
}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleRegistrationResponse'
              example: {
  "ClientId": "ClientId43f14653-24d1-4469-bf60-0ac9ba11366c",
  "ClientKey": "da814ec9-cf73-4617-8459-a8fb62bc83e6",
  "ContactId": "ContactId248b170f-cfb5-490d-881c-9383e89c620e"
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/questionaire/{QuestionaireId/answers}':
    put:
      tags:
        - Lead Signups
      summary: Submit a set of answers for a questionaire
      description: Saves a set of answers to questions in a questionaire for a specific onboarding application.
      operationId: LeadSignupV1SaveQuestionaireAnswers
      parameters:
        - name: Culture
          in: query
          description: ISO 639-1 culture of the questionaire (defaults to english 'en').
          schema:
            type: string
          example: en
        - name: QuestionaireId
          in: path
          description: 'Unique ID of the questionaire, which the answers are for.'
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
        - name: SignupId
          in: path
          description: 'ID of onboarding application, to save answers for.'
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerSet'
            example: {
  "Choices": [
    {
      "QuestionId": "c0a9fe0b-a122-e211-a766-00155d01b869",
      "QuestionOptionId": "c3a9fe0b-a122-e211-a766-00155d01b869"
    }
  ]
}
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/questionaire}':
    get:
      tags:
        - Lead Signups
      summary: Get questionaire for a signup
      description: "Gets a set of questions, divided into sections with potential options, for a questionaire.\r\n            Only available in areas where compliance laws requires the client to answer questions."
      operationId: LeadSignupV1GetQuestionaire
      parameters:
        - name: Culture
          in: query
          description: Optional ISO 639-1 culture code to retrieve questions in - defaults to english ('en').
          schema:
            type: string
          example: de
        - name: SignupId
          in: path
          description: 'ID of onboarding application, to get questionaire for.'
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionSet'
              example: {
  "Culture": "en",
  "Description": "",
  "FooterText": "",
  "Id": "bea9fe0b-a122-e211-a766-00155d01b869",
  "Sections": [
    {
      "Description": "Description of first section.",
      "Questions": [
        {
          "Alignment": "BelowQuestionSingleLine",
          "DisplayAs": "DropDown",
          "Name": "Amount of Experience",
          "QuestionId": "c0a9fe0b-a122-e211-a766-00155d01b869",
          "QuestionOptions": [
            {
              "IsSelected": false,
              "OptionId": "c2a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "Less than 1 year"
            },
            {
              "IsSelected": false,
              "OptionId": "c3a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "1 to 5 years"
            },
            {
              "IsSelected": false,
              "OptionId": "c4a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "More than 5 years"
            }
          ],
          "QuestionText": "How long have you continuosly traded financial products on an execution-only basis?"
        },
        {
          "Alignment": "BelowQuestionSingleLine",
          "DisplayAs": "RadioButtons",
          "Name": "Qualification",
          "QuestionId": "c5a9fe0b-a122-e211-a766-00155d01b869",
          "QuestionOptions": [
            {
              "IsSelected": false,
              "OptionId": "c7a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "Yes"
            },
            {
              "IsSelected": false,
              "OptionId": "c8a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "No"
            }
          ],
          "QuestionText": "Do you have an industry recognized qualification for the type of trading that you intend to carry out with us?"
        },
        {
          "Alignment": "BelowQuestionSingleLine",
          "DisplayAs": "RadioButtons",
          "Name": "Work in financial sector",
          "QuestionId": "c9a9fe0b-a122-e211-a766-00155d01b869",
          "QuestionOptions": [
            {
              "IsSelected": false,
              "OptionId": "cba9fe0b-a122-e211-a766-00155d01b869",
              "Text": "Yes"
            },
            {
              "IsSelected": false,
              "OptionId": "cca9fe0b-a122-e211-a766-00155d01b869",
              "Text": "No"
            }
          ],
          "QuestionText": "Do you work, or have you worked in the financial services sector for at least one year in a professional position that requires knowledge of the nature of risk involved in the type of trading that you intend to carry out with us?"
        }
      ],
      "SectionId": "bfa9fe0b-a122-e211-a766-00155d01b869",
      "Title": "First Section"
    },
    {
      "Description": "",
      "Questions": [
        {
          "Alignment": "BesideQuestion",
          "DisplayAs": "DropDown",
          "Name": "FX Rolling Spot",
          "QuestionId": "cea9fe0b-a122-e211-a766-00155d01b869",
          "QuestionOptions": [
            {
              "IsSelected": false,
              "OptionId": "d0a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "0"
            },
            {
              "IsSelected": false,
              "OptionId": "d1a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "1-36"
            },
            {
              "IsSelected": false,
              "OptionId": "d2a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "More than 36"
            }
          ],
          "QuestionText": "FX Rolling Spot"
        },
        {
          "Alignment": "BesideQuestion",
          "DisplayAs": "DropDown",
          "Name": "Options & Futures",
          "QuestionId": "d3a9fe0b-a122-e211-a766-00155d01b869",
          "QuestionOptions": [
            {
              "IsSelected": false,
              "OptionId": "d5a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "0"
            },
            {
              "IsSelected": false,
              "OptionId": "d6a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "1-36"
            },
            {
              "IsSelected": false,
              "OptionId": "d7a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "More than 36"
            }
          ],
          "QuestionText": "Options & Futures"
        },
        {
          "Alignment": "BesideQuestion",
          "DisplayAs": "DropDown",
          "Name": "Contracts for Difference",
          "QuestionId": "d8a9fe0b-a122-e211-a766-00155d01b869",
          "QuestionOptions": [
            {
              "IsSelected": false,
              "OptionId": "daa9fe0b-a122-e211-a766-00155d01b869",
              "Text": "0"
            },
            {
              "IsSelected": false,
              "OptionId": "dba9fe0b-a122-e211-a766-00155d01b869",
              "Text": "1-36"
            },
            {
              "IsSelected": false,
              "OptionId": "dca9fe0b-a122-e211-a766-00155d01b869",
              "Text": "More than 36"
            }
          ],
          "QuestionText": "Contracts for Difference"
        },
        {
          "Alignment": "BesideQuestion",
          "DisplayAs": "DropDown",
          "Name": "Financial Spread Bets",
          "QuestionId": "dda9fe0b-a122-e211-a766-00155d01b869",
          "QuestionOptions": [
            {
              "IsSelected": false,
              "OptionId": "dfa9fe0b-a122-e211-a766-00155d01b869",
              "Text": "0"
            },
            {
              "IsSelected": false,
              "OptionId": "e0a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "1-36"
            },
            {
              "IsSelected": false,
              "OptionId": "e1a9fe0b-a122-e211-a766-00155d01b869",
              "Text": "More than 36"
            }
          ],
          "QuestionText": "Financial Spread Bets"
        }
      ],
      "SectionId": "cda9fe0b-a122-e211-a766-00155d01b869",
      "Title": "How many times have you traded the following products on an execution only basis over the last 12 months?"
    }
  ]
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/createdemoaccount/{SignupId/{SkipMailSending}':
    post:
      tags:
        - Lead Signups
      summary: Create a demo account
      description: Creates a demo account account from a signup.
      operationId: LeadSignupV1CreateDemoAccount
      parameters:
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application to accept.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
        - name: SkipMailSending
          in: path
          description: Specifies whether a welcome email should be sent to the client or not
          required: true
          schema:
            type: boolean
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemoResult'
              example: {
  "CreationResult": "Ok"
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/saveassessmentresult}':
    put:
      tags:
        - Lead Signups
      description: Save Assessment Results to CRM
      operationId: LeadSignupV1SaveAssessmentResult
      parameters:
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application to accept.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveAssessmentResultRequest'
            example: {
  "AssessmentResult": 198,
  "Comment": "Comment619d8f5a-c708-4443-b2bb-76360927d29f",
  "Documents": [
    {
      "DocumentType": "IdPassport",
      "FileData": "PEJhc2U2NCBlbmNvZGVkIGRhdGEgZm9yIGEgcGFzc3BvcnQgSlBFRyBpbWFnZT4=",
      "FileName": "Passport.jpg"
    }
  ]
}
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptTermsAndConditionsCodeResult'
              example: {
  "Message": "Messagee05fc0fa-e4e9-4ff1-be66-f0f03fa2fb7d",
  "Status": "Ok"
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/accepttermsandconditions/{AcceptanceMethod}':
    put:
      tags:
        - Lead Signups
      description: Automatically accepts the terms and conditions
      operationId: LeadSignupV1AcceptTermsAndConditions
      parameters:
        - name: AcceptanceMethod
          in: path
          description: 'The method used to accept the T and C (either in-flow, signicat/NemId or signicat/BankID)'
          required: true
          schema:
            type: string
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application to accept.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupDocumentation'
            example: {
  "Documents": [
    {
      "DocumentType": "IdPassport",
      "FileData": "PEJhc2U2NCBlbmNvZGVkIGRhdGEgZm9yIGEgcGFzc3BvcnQgSlBFRyBpbWFnZT4=",
      "FileName": "Passport.jpg"
    },
    {
      "DocumentType": "ProofOfResidency",
      "FileData": "PEJhc2U2NCBlbmNvZGVkIGRhdGEgb2ZyIGEgYmFuayBzdGF0ZW1lbnQgUERGIGZpbGU+",
      "FileName": "Bank Statement.pdf"
    }
  ],
  "NotUserDocuments": false,
  "SendUploadConfirmationToCustomer": true
}
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptTermsAndConditionsCodeResult'
              example: {
  "Message": "Messagee05fc0fa-e4e9-4ff1-be66-f0f03fa2fb7d",
  "Status": "Ok"
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/duediligence}':
    put:
      tags:
        - Lead Signups
      summary: Create or partly approve Due Diligence
      description: Creates or approves due diligence for a lead/client in CRM.
      operationId: PUT_LeadSignupV1AutoApproveDueDiligence
      parameters:
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application to accept.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDueDiligenceInfoRequest'
            example: {
  "AutoCompleteSettings": {
    "AutoApproveDueDiligence": false
  },
  "CreateSettings": {
    "CreateDueDiligence": true
  },
  "PartialDueDiligenceSettings": {
    "ContactDueDiligenceOptions": {
      "AmlApproved": "Approved",
      "ContactDueDiligenceApprovalComment": "ContactDueDiligenceApprovalCommentc6ddd651-884d-4994-b65f-25ecef0b40e0",
      "ContactDueDiligenceApproved": "Approved",
      "ContactRisk": "NotEvaluated",
      "PassportIdApproved": "Pending",
      "PorApproved": "NotRequired"
    },
    "DueDiligenceOptions": {
      "AmlApproved": "Approved",
      "ApprovedThirdPartyAuthorization": "FP2",
      "CafStatusApproved": "Approved",
      "ComplianceApproved": "Pending",
      "ContractRisk": "High",
      "CreditCardFirstFundingApproved": "Pending",
      "DueDiligenceApprovalComment": "DueDiligenceApprovalComment0293c766-d3f1-40df-881d-be1a8f20b198",
      "DueDiligenceApproved": "Pending",
      "IsExternalProviderPending": false,
      "PiiApproved": "Pending",
      "TermsUploadedApproved": "Approved"
    },
    "SetPartialDueDiligenceInfo": true
  },
  "SignupId": "3b6f83ed-3746-40c1-8758-787c3caef31c"
}
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DueDiligenceResult'
              example: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/duediligence/{DdMethod}':
    put:
      tags:
        - Lead Signups
      summary: Auto Approve Due Diligence
      description: Automatically approves due diligence for a lead/client in CRM.
      operationId: LeadSignupV1AutoApproveDueDiligence
      parameters:
        - name: DdMethod
          in: path
          description: Create DD (0) or Approve DD(1)?
          required: true
          schema:
            maximum: 255
            minimum: 0
            type: integer
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application to accept.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DueDiligenceResult'
              example: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/converttoclient/{SkipSendTcMail/{SkipSendFundingMail/{AutoApproveDueDiligence/{FirstFundingWithCreditCardAllowed/{AwaitAccountCreation}':
    put:
      tags:
        - Lead Signups
      summary: Convert lead to client
      description: Automatically converts a lead to a client in CRM.
      operationId: LeadSignupV1AutoConvertToClient
      parameters:
        - name: AutoApproveDueDiligence
          in: path
          description: Approve the DD?
          required: true
          schema:
            type: boolean
        - name: AwaitAccountCreation
          in: path
          description: Run async or not
          required: true
          schema:
            type: boolean
        - name: FirstFundingWithCreditCardAllowed
          in: path
          description: Allowed to fund with credit card?
          required: true
          schema:
            type: boolean
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application to accept.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
        - name: SkipSendFundingMail
          in: path
          description: Don't send funding instructions mail?
          required: true
          schema:
            type: boolean
        - name: SkipSendTcMail
          in: path
          description: Don't send terms and conditions mail?
          required: true
          schema:
            type: boolean
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoConversionResult'
              example: {
  "AccountDetails": {
    "BackOfficeAccountType": "BackOfficeAccountTypef1ea2918-16cb-4175-b78e-5fbf89f7ea3c",
    "CurrencyIsoCode": "CurrencyIsoCodeac3456a2-e42d-4685-8478-d90571946d0c",
    "Iban": "Iban32f6a326-b95b-4843-8f74-65349cb1c949",
    "VirtualAccountNumber": "VirtualAccountNumberbfe8f264-6dbc-4161-abb6-c836ab006d97"
  },
  "Accounts": [
    {
      "BackOfficeAccountType": "BackOfficeAccountTypebfceedd8-3d8c-4bcd-aa42-8e58965737ab",
      "CurrencyIsoCode": "CurrencyIsoCode7dda3c0e-52ac-475b-8a0b-ee0af7f805f6",
      "Iban": "Iban13135ec7-bad9-4f41-977d-f9b50bd9faad",
      "VirtualAccountNumber": "VirtualAccountNumbercd3c2548-65ca-4358-92a4-647d64ddebc0"
    }
  ],
  "AutoConvertToClientStatus": "InProgress"
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/accept}':
    put:
      tags:
        - Lead Signups
      summary: Accept onboarding application
      description: Accepts an existing onboarding application.
      operationId: LeadSignupV1AcceptSignup
      parameters:
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application to accept.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/cancel}':
    delete:
      tags:
        - Lead Signups
      summary: Cancel onboarding application
      description: Cancels an existing onboarding application.
      operationId: LeadSignupV1CancelSignup
      parameters:
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application to cancel.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/submitted/{SignupId}':
    put:
      tags:
        - Lead Signups
      summary: Submit onboarding application
      description: Submits an application as the final step of the onboarding process.
      operationId: LeadSignupV1SubmitSignup
      parameters:
        - name: ClientIp
          in: query
          description: Query parameter containing the IP address of the requesting client.
          required: true
          schema:
            type: string
          example: 193.130.234.23
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitSignupCommand'
            example: {
  "BusinessContext": {
    "AccountType": "Trading",
    "BusinessLine": "SaxoTrading",
    "FlowType": "OpenAccount2X",
    "OwnerId": 1
  },
  "EmailAddress": "EmailAddresse20c6350-2b7b-455f-b09c-52209bdef282",
  "Password": "Passworddce81e32-8d5b-4a0e-89df-8dda854707f7",
  "SignupData": {
    "AdditionalInformation": {
      "EmploymentDetails": {
        "EmploymentInformation": {
          "EmployerAddress": "Denmark",
          "EmployerName": "Great Products Inc.",
          "JobTitle": "Sales Manager",
          "NatureOfBusiness": "Merchandise",
          "TenureStartYear": 1982
        },
        "EmploymentStatus": "Employment"
      },
      "FinancialDetails": {
        "AnnualSalaryAfterTaxId": 2,
        "EstimatedSavingsAndInvestments": 25000.0,
        "InvestableAssetsId": 2,
        "MonthlyIncomeAfterTax": 7500.0,
        "MonthlyOutgoings": 5500.0,
        "PrimarySourcesOfWealthIds": [
          1
        ],
        "SecondarySourcesOfIncomeIds": [
          1,
          3
        ],
        "TotalAmountOfSecondarySourcesOfIncomeId": 2
      },
      "SkipMailSending": false,
      "SourceOfFunds": {
        "Employment": true,
        "Inheritance": false,
        "Other": true,
        "OtherInformation": "Gifts",
        "Pension": false,
        "SavingsAndInvestment": true,
        "SelfEmployed": false
      }
    },
    "Address": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "BankInformation": {
      "BeneficiaryAccountNumber": "BeneficiaryAccountNumber851589ba-0d28-445e-a4a2-63265a41bec9",
      "BeneficiaryAccountTypeCode": "BeneficiaryAccountTypeCode7fd5b39f-8155-4a07-b370-b677c091ad6b",
      "BeneficiaryBankName": "BeneficiaryBankNameba4d9592-c8cf-4469-9216-32c018bda8fa",
      "BeneficiaryBic": "BeneficiaryBic4b9f27d8-06df-482b-8c75-50313fe4a480",
      "BeneficiaryBranchCode": "BeneficiaryBranchCode6ac5721e-8fa0-4cf5-a287-346d5dee7ffb",
      "BeneficiaryClearingCode": "BeneficiaryClearingCoded6e5c412-009d-43cd-8156-008b7a42d10d",
      "BeneficiaryIban": "BeneficiaryIbane9e3027a-da04-449d-8df3-24614395f15e",
      "BeneficiaryName": "BeneficiaryName0fabe253-7d32-40f5-a795-c956af589705",
      "ReceivingCountryIsoCode": "ReceivingCountryIsoCode4c3736e3-69ed-4276-aebb-1fbce0b68da8"
    },
    "Communications": [],
    "Contact": {
      "AdditionalNationalityCodes": [
        "DNK"
      ],
      "CountryOfBirthCode": "AU",
      "CountryOfResidenceCode": "AU",
      "CountyOfBirth": "Wimmera",
      "DateOfBirth": "1965-10-04T00:00:00",
      "DeclaredBankrupt": "NotSet",
      "FirstName": "Peter",
      "Gender": "Male",
      "LastName": "Habel",
      "MaritalStateId": 2,
      "MarriedName": "Bush",
      "NameOfRelatedEmployee": "Jon",
      "NationalityCode": "AU",
      "NativeLanguageCode": "en",
      "PersonalId": "1234567890",
      "PersonalIdExpirationDate": "1965-10-04T00:00:00",
      "PersonalIdPlaceOfRelease": "test",
      "PersonalIdReleaseDate": "1965-10-04T00:00:00",
      "PersonalIdType": "PassportNumber",
      "RelatedToSaxoEmployee": "NotSet",
      "RelationToSaxoEmployee": "Friend",
      "TinNotAvailable": "NotSet",
      "TitleId": 1,
      "W8BenDiscrepancy": "NotSet"
    },
    "CorrespondenceAddressInfo": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "Declaration": {
      "ConsentSource": "True",
      "ExemptionFromObligationInterestTaxId": 1,
      "ExemptionFromStockDividendTaxId": 1,
      "FrenchTaxableResident": "False",
      "MarketingConsent": "True",
      "NotPoliticallyExposedPerson": "True",
      "RiskDisclosure": "False",
      "SaxoBankGroupConsent": "True",
      "TaxDeductionOption": "False",
      "TradeWithOwnFunds": "True"
    },
    "FatcaDeclaration": {
      "IsUsCitizen": "False",
      "IsUsTaxLiable": "False",
      "UsProducts": "False"
    },
    "GlobalFinancialInformation": {
      "AnnualIncomeAfterTax": {
        "Amount": 78,
        "AmountDescription": "Exact",
        "CurrencyCode": "CurrencyCodee65acd9b-61a2-48d0-afed-fc808fd61705"
      },
      "IntendToInvest": {
        "Amount": 45,
        "AmountDescription": "Rounded",
        "CurrencyCode": "CurrencyCode58b0fe8d-5736-4293-93db-d200dc517efa"
      },
      "InvestableAsset": {
        "Amount": 73,
        "AmountDescription": "AboveThisAmount",
        "CurrencyCode": "CurrencyCode158d95d8-866c-486b-ba7b-c64a4aa32d15"
      }
    },
    "KnowledgeOfFinancialInstruments": "UnderstandBasicsOfFinancialInstruments",
    "NordNetFirstFunding": "NotAllowed",
    "PreviousAddress": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "ProductTradingExperience": [
      "TurbosAndWarrants"
    ],
    "SignupFlowData": {
      "AssessmentResult": "Unknown",
      "AutoDueDiligenceResult": "Unknown",
      "CcFirstFundingAllowed": false,
      "ChoiceOfAccountId": 0,
      "DemoAccountAllowed": false,
      "DemoAccountRequested": false,
      "EmailAddressVerified": false,
      "FallbackFlow": false,
      "FundingAsVerification": "NotSet",
      "LeadOrigin": "Unknown",
      "ReadyForFunding": false,
      "SkipEmailVerification": false
    },
    "TradingProfile": {
      "AnnualIncomeId": 1,
      "FinancialSectorEmployee": "NotSet",
      "FirstFundingAmount": 0.0,
      "IntendToInvest2Id": 0,
      "IntendToInvestId": 0,
      "InvestableAssetsId": 0,
      "OccupationId": 0,
      "PartnerInterestedInId": 0,
      "PurposeAndScopeId": 0,
      "TradesPerMonthId": 0,
      "TradesPerYearId": 0,
      "TradingExperienceId": 0
    }
  }
}
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResult'
              example: {
  "BusinessContext": {
    "AccountType": "Trading",
    "BusinessLine": "SaxoTrading",
    "FlowType": "OpenAccount2X",
    "OwnerId": 1
  },
  "ClientId": "3094385",
  "EmailAddress": "someone@iitest.dk",
  "EmailVerificationToken": "37c46c30-c59b-413d-99a0-c30d9b45641e",
  "FlowState": "VerificationPending",
  "SignupData": {
    "AdditionalInformation": {
      "EmploymentDetails": {
        "EmploymentInformation": {
          "EmployerAddress": "Denmark",
          "EmployerName": "Great Products Inc.",
          "JobTitle": "Sales Manager",
          "NatureOfBusiness": "Merchandise",
          "TenureStartYear": 1982
        },
        "EmploymentStatus": "Employment"
      },
      "FinancialDetails": {
        "AnnualSalaryAfterTaxId": 2,
        "EstimatedSavingsAndInvestments": 25000.0,
        "InvestableAssetsId": 2,
        "MonthlyIncomeAfterTax": 7500.0,
        "MonthlyOutgoings": 5500.0,
        "PrimarySourcesOfWealthIds": [
          1
        ],
        "SecondarySourcesOfIncomeIds": [
          1,
          3
        ],
        "TotalAmountOfSecondarySourcesOfIncomeId": 2
      },
      "SkipMailSending": false,
      "SourceOfFunds": {
        "Employment": true,
        "Inheritance": false,
        "Other": true,
        "OtherInformation": "Gifts",
        "Pension": false,
        "SavingsAndInvestment": true,
        "SelfEmployed": false
      }
    },
    "Address": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "Communications": [],
    "Contact": {
      "AdditionalNationalityCodes": [
        "DNK"
      ],
      "CountryOfBirthCode": "AU",
      "CountryOfResidenceCode": "AU",
      "CountyOfBirth": "Wimmera",
      "DateOfBirth": "1965-10-04T00:00:00",
      "DeclaredBankrupt": "NotSet",
      "FirstName": "Peter",
      "Gender": "Male",
      "LastName": "Habel",
      "MaritalStateId": 2,
      "MarriedName": "Bush",
      "NameOfRelatedEmployee": "Jon",
      "NationalityCode": "AU",
      "NativeLanguageCode": "en",
      "PersonalId": "1234567890",
      "PersonalIdExpirationDate": "1965-10-04T00:00:00",
      "PersonalIdPlaceOfRelease": "test",
      "PersonalIdReleaseDate": "1965-10-04T00:00:00",
      "PersonalIdType": "PassportNumber",
      "RelatedToSaxoEmployee": "NotSet",
      "RelationToSaxoEmployee": "Friend",
      "TinNotAvailable": "NotSet",
      "TitleId": 1,
      "W8BenDiscrepancy": "NotSet"
    },
    "Declaration": {
      "ConsentSource": "True",
      "ExemptionFromObligationInterestTaxId": 1,
      "ExemptionFromStockDividendTaxId": 1,
      "FrenchTaxableResident": "False",
      "MarketingConsent": "True",
      "NotPoliticallyExposedPerson": "True",
      "RiskDisclosure": "False",
      "SaxoBankGroupConsent": "True",
      "TaxDeductionOption": "False",
      "TradeWithOwnFunds": "True"
    },
    "FatcaDeclaration": {
      "IsUsCitizen": "False",
      "IsUsTaxLiable": "False",
      "UsProducts": "False"
    },
    "SignupFlowData": {
      "AssessmentResult": "Unknown",
      "AutoDueDiligenceResult": "Unknown",
      "CcFirstFundingAllowed": false,
      "ChoiceOfAccountId": 0,
      "DemoAccountAllowed": false,
      "DemoAccountRequested": false,
      "EmailAddressVerified": false,
      "FallbackFlow": false,
      "FundingAsVerification": "NotSet",
      "LeadOrigin": "Unknown",
      "ReadyForFunding": false,
      "SkipEmailVerification": false
    },
    "TradingProfile": {
      "AnnualIncomeId": 1,
      "FinancialSectorEmployee": "NotSet",
      "FirstFundingAmount": 0.0,
      "IntendToInvest2Id": 0,
      "IntendToInvestId": 0,
      "InvestableAssetsId": 0,
      "OccupationId": 0,
      "PartnerInterestedInId": 0,
      "PurposeAndScopeId": 0,
      "TradesPerMonthId": 0,
      "TradesPerYearId": 0,
      "TradingExperienceId": 0
    }
  },
  "SignupId": "7075f471-b9d2-4d94-b5e2-43f1362274b2"
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidOrMissingIpAddress
                    type: string
                    x-enum-descriptions:
                      InvalidOrMissingIpAddress: Client IP address is missing from the query-string or is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IdentityNotFound
                    type: string
                    x-enum-descriptions:
                      IdentityNotFound: The identity of signup could not be found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/compliancescreeningofclient/{ClientId}':
    get:
      tags:
        - Lead Signups
      description: Performs a compliance screening on the signup/customer identified by the client id.
      operationId: LeadSignupV1ComplianceScreeningOfClient
      parameters:
        - name: ClientId
          in: path
          description: Client Id in MS CRM
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceScreeningResult'
              example: {
  "FoundMatches": true,
  "Message": "Messagef6e1a887-81ab-41ea-8c26-c6a0890b69df",
  "ScreeningResult": false
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/riskassessment/{ClientId}':
    get:
      tags:
        - Lead Signups
      description: Performs a risk assessment on the signup/customer identified by the client id.
      operationId: LeadSignupV1RiskAssessment
      parameters:
        - name: ClientId
          in: path
          description: Client Id in MS CRM
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessmentResult'
              example: {
  "AllowAsClient": false,
  "IsStpAllowed": true,
  "PreValidationPassed": true,
  "RiskAssessmentCompleted": false
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/sendonboardingemail/{ClientId/{TemplateId/{SignupId}':
    put:
      tags:
        - Lead Signups
      description: Sends email from CRM.
      operationId: LeadSignupV1SendOnboardingEmail
      parameters:
        - name: ClientId
          in: path
          required: true
          schema:
            type: string
        - name: SignupId
          in: path
          required: true
          schema:
            allOf:
              - pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
        - name: TemplateId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResult'
              example: {
  "MailSent": true,
  "StatusMessage": "StatusMessage02e1c737-7445-4119-833a-8debb7d28400"
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/getemailtemplates}':
    get:
      tags:
        - Lead Signups
      description: Gets email templates from CRM.
      operationId: LeadSignupV1GetEmailTemplates
      parameters:
        - name: AccountType
          in: query
          schema:
            type: string
        - name: BusinessLine
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateResult'
              example: {
  "Result": false,
  "Templates": [
    {
      "Id": 175,
      "Name": "Named4d098d0-431c-453c-b2bf-b57a5887d037"
    }
  ]
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/compliancescreening/{Name/{Gender/{Country/{DateOfBirth}':
    get:
      tags:
        - Lead Signups
      description: Performs a compliance screening for user data (collected data).
      operationId: LeadSignupV1ComplianceScreening
      parameters:
        - name: Country
          in: path
          description: User's country of residence
          required: true
          schema:
            type: string
        - name: DateOfBirth
          in: path
          description: User's date of birth
          required: true
          schema:
            type: string
        - name: Gender
          in: path
          description: The user's gender
          required: true
          schema:
            $ref: '#/components/schemas/Gender'
        - name: Name
          in: path
          description: User's name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceScreeningResult'
              example: {
  "FoundMatches": true,
  "Message": "Messagef6e1a887-81ab-41ea-8c26-c6a0890b69df",
  "ScreeningResult": false
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/{ClientId/identitycheck}':
    put:
      tags:
        - Lead Signups
      description: 'Performs an identity check for the signup, create a URU authentication report and saves this to CFS.'
      operationId: LeadSignupV1IdentityCheck
      parameters:
        - name: AuthID
          in: query
          description: AuthenticationID to call Incremental Verification
          schema:
            allOf:
              - pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
        - name: ClientId
          in: path
          description: Unique ID for the client.
          required: true
          schema:
            type: string
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
        - name: UruProfileId
          in: query
          description: Profile id against identity check should be done.
          schema:
            allOf:
              - pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ID3CheckSubmitSignupCommand'
            example: {
  "BankingDetails": {
    "AccountNumber": "AccountNumber08fe7209-c893-476e-9baa-53943d6cf880",
    "SortCode": "SortCode2909f6f5-426d-4b9b-b330-e386386e95bc"
  },
  "BusinessContext": {
    "AccountType": "Trading",
    "BusinessLine": "SaxoTrading",
    "FlowType": "OpenAccount2X",
    "OwnerId": 1
  },
  "EmailAddress": "EmailAddress070d357f-40f4-4ea1-9597-6a7dd483ee2a",
  "Password": "Passwordc4e41d39-17e8-461d-8f6c-341a50ae84e1",
  "SignupData": {
    "AdditionalInformation": {
      "EmploymentDetails": {
        "EmploymentInformation": {
          "EmployerAddress": "Denmark",
          "EmployerName": "Great Products Inc.",
          "JobTitle": "Sales Manager",
          "NatureOfBusiness": "Merchandise",
          "TenureStartYear": 1982
        },
        "EmploymentStatus": "Employment"
      },
      "FinancialDetails": {
        "AnnualSalaryAfterTaxId": 2,
        "EstimatedSavingsAndInvestments": 25000.0,
        "InvestableAssetsId": 2,
        "MonthlyIncomeAfterTax": 7500.0,
        "MonthlyOutgoings": 5500.0,
        "PrimarySourcesOfWealthIds": [
          1
        ],
        "SecondarySourcesOfIncomeIds": [
          1,
          3
        ],
        "TotalAmountOfSecondarySourcesOfIncomeId": 2
      },
      "SkipMailSending": false,
      "SourceOfFunds": {
        "Employment": true,
        "Inheritance": false,
        "Other": true,
        "OtherInformation": "Gifts",
        "Pension": false,
        "SavingsAndInvestment": true,
        "SelfEmployed": false
      }
    },
    "Address": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "BankInformation": {
      "BeneficiaryAccountNumber": "BeneficiaryAccountNumber5778f690-70f0-47c1-9812-97d3d2735292",
      "BeneficiaryAccountTypeCode": "BeneficiaryAccountTypeCodeb7ebd55d-a3d3-4c66-b098-f87d59317e38",
      "BeneficiaryBankName": "BeneficiaryBankName556ae089-4193-488a-8ee7-92f5860f843d",
      "BeneficiaryBic": "BeneficiaryBic62ab9a56-cb9b-4e53-8066-6973d8387237",
      "BeneficiaryBranchCode": "BeneficiaryBranchCodef7723f9c-18f5-498b-b953-e24dacd037c4",
      "BeneficiaryClearingCode": "BeneficiaryClearingCode5e8b275a-d4ec-4826-b883-b07a0b8157b3",
      "BeneficiaryIban": "BeneficiaryIban3dd10fc6-c2c7-4c4d-8f0b-de5d970a0ae7",
      "BeneficiaryName": "BeneficiaryName16bc16c6-bbfc-4ade-a6a0-0b3ccfaad3ee",
      "ReceivingCountryIsoCode": "ReceivingCountryIsoCode9d8cda1e-ace5-4fd9-9740-9b8d17f0a33a"
    },
    "Communications": [],
    "Contact": {
      "AdditionalNationalityCodes": [
        "DNK"
      ],
      "CountryOfBirthCode": "AU",
      "CountryOfResidenceCode": "AU",
      "CountyOfBirth": "Wimmera",
      "DateOfBirth": "1965-10-04T00:00:00",
      "DeclaredBankrupt": "NotSet",
      "FirstName": "Peter",
      "Gender": "Male",
      "LastName": "Habel",
      "MaritalStateId": 2,
      "MarriedName": "Bush",
      "NameOfRelatedEmployee": "Jon",
      "NationalityCode": "AU",
      "NativeLanguageCode": "en",
      "PersonalId": "1234567890",
      "PersonalIdExpirationDate": "1965-10-04T00:00:00",
      "PersonalIdPlaceOfRelease": "test",
      "PersonalIdReleaseDate": "1965-10-04T00:00:00",
      "PersonalIdType": "PassportNumber",
      "RelatedToSaxoEmployee": "NotSet",
      "RelationToSaxoEmployee": "Friend",
      "TinNotAvailable": "NotSet",
      "TitleId": 1,
      "W8BenDiscrepancy": "NotSet"
    },
    "CorrespondenceAddressInfo": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "Declaration": {
      "ConsentSource": "True",
      "ExemptionFromObligationInterestTaxId": 1,
      "ExemptionFromStockDividendTaxId": 1,
      "FrenchTaxableResident": "False",
      "MarketingConsent": "True",
      "NotPoliticallyExposedPerson": "True",
      "RiskDisclosure": "False",
      "SaxoBankGroupConsent": "True",
      "TaxDeductionOption": "False",
      "TradeWithOwnFunds": "True"
    },
    "FatcaDeclaration": {
      "IsUsCitizen": "False",
      "IsUsTaxLiable": "False",
      "UsProducts": "False"
    },
    "GlobalFinancialInformation": {
      "AnnualIncomeAfterTax": {
        "Amount": 176,
        "AmountDescription": "Exact",
        "CurrencyCode": "CurrencyCodea4e36510-73af-473e-98f5-b274678fec5d"
      },
      "IntendToInvest": {
        "Amount": 5,
        "AmountDescription": "Rounded",
        "CurrencyCode": "CurrencyCodedc22b7fd-7ba4-488c-80e0-b25439ca3a0f"
      },
      "InvestableAsset": {
        "Amount": 11,
        "AmountDescription": "AboveThisAmount",
        "CurrencyCode": "CurrencyCoded236460c-34f8-45b4-a40e-7384c5bcdcf1"
      }
    },
    "KnowledgeOfFinancialInstruments": "VeryLimitedKnowledgeOfFinancialInstruments",
    "NordNetFirstFunding": "Allowed",
    "PreviousAddress": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "ProductTradingExperience": [
      "CFD"
    ],
    "SignupFlowData": {
      "AssessmentResult": "Unknown",
      "AutoDueDiligenceResult": "Unknown",
      "CcFirstFundingAllowed": false,
      "ChoiceOfAccountId": 0,
      "DemoAccountAllowed": false,
      "DemoAccountRequested": false,
      "EmailAddressVerified": false,
      "FallbackFlow": false,
      "FundingAsVerification": "NotSet",
      "LeadOrigin": "Unknown",
      "ReadyForFunding": false,
      "SkipEmailVerification": false
    },
    "TradingProfile": {
      "AnnualIncomeId": 1,
      "FinancialSectorEmployee": "NotSet",
      "FirstFundingAmount": 0.0,
      "IntendToInvest2Id": 0,
      "IntendToInvestId": 0,
      "InvestableAssetsId": 0,
      "OccupationId": 0,
      "PartnerInterestedInId": 0,
      "PurposeAndScopeId": 0,
      "TradesPerMonthId": 0,
      "TradesPerYearId": 0,
      "TradingExperienceId": 0
    }
  }
}
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityCheckResultCodeResult'
              example: {
  "AuthID": "21b63b63-8f8e-45d8-bd53-2ea4e2daf07a",
  "Code": "Referred",
  "Score": 91
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/{ClientId/identitycheck/idmatrix}':
    put:
      tags:
        - Lead Signups
      description: 'Performs an identity check for the signup using IDMatrix services, create a verification report and saves this to CFS.'
      operationId: LeadSignupV1IdMatrixIdentityCheck
      parameters:
        - name: ClientId
          in: path
          description: Unique ID for the client.
          required: true
          schema:
            type: string
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application.
          required: true
          schema:
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSignupCommand'
            example: {
  "BusinessContext": {
    "AccountType": "Trading",
    "BusinessLine": "SaxoTrading",
    "FlowType": "OpenAccount2X",
    "OwnerId": 1
  },
  "EmailAddress": "EmailAddresse1cb42d9-ee00-49e7-b9f0-73beffc71555",
  "Password": "Password6792f436-b1cc-4b81-b62f-700560d66bca",
  "SignupData": {
    "AdditionalInformation": {
      "EmploymentDetails": {
        "EmploymentInformation": {
          "EmployerAddress": "Denmark",
          "EmployerName": "Great Products Inc.",
          "JobTitle": "Sales Manager",
          "NatureOfBusiness": "Merchandise",
          "TenureStartYear": 1982
        },
        "EmploymentStatus": "Employment"
      },
      "FinancialDetails": {
        "AnnualSalaryAfterTaxId": 2,
        "EstimatedSavingsAndInvestments": 25000.0,
        "InvestableAssetsId": 2,
        "MonthlyIncomeAfterTax": 7500.0,
        "MonthlyOutgoings": 5500.0,
        "PrimarySourcesOfWealthIds": [
          1
        ],
        "SecondarySourcesOfIncomeIds": [
          1,
          3
        ],
        "TotalAmountOfSecondarySourcesOfIncomeId": 2
      },
      "SkipMailSending": false,
      "SourceOfFunds": {
        "Employment": true,
        "Inheritance": false,
        "Other": true,
        "OtherInformation": "Gifts",
        "Pension": false,
        "SavingsAndInvestment": true,
        "SelfEmployed": false
      }
    },
    "Address": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "BankInformation": {
      "BeneficiaryAccountNumber": "BeneficiaryAccountNumber939cd073-7451-4ddd-8338-e9c128cd556a",
      "BeneficiaryAccountTypeCode": "BeneficiaryAccountTypeCodef6d99463-e61c-4af1-b531-72320d498f40",
      "BeneficiaryBankName": "BeneficiaryBankName9a59c4d6-c87d-4762-beed-ac1b351d497a",
      "BeneficiaryBic": "BeneficiaryBic29895943-4d8a-4f93-8f49-62b28bcbc1d0",
      "BeneficiaryBranchCode": "BeneficiaryBranchCode46feb3ec-8903-48b5-9732-9328d5330a53",
      "BeneficiaryClearingCode": "BeneficiaryClearingCode2bb2cd4e-9464-49d1-aa5a-01445f2544e2",
      "BeneficiaryIban": "BeneficiaryIban308f11ef-e492-4b10-a234-688744410cf9",
      "BeneficiaryName": "BeneficiaryName57507a04-6674-4c04-a97b-b6f1a3859d3a",
      "ReceivingCountryIsoCode": "ReceivingCountryIsoCodedf719d5f-7292-4994-917e-2ea9a375e01d"
    },
    "Communications": [],
    "Contact": {
      "AdditionalNationalityCodes": [
        "DNK"
      ],
      "CountryOfBirthCode": "AU",
      "CountryOfResidenceCode": "AU",
      "CountyOfBirth": "Wimmera",
      "DateOfBirth": "1965-10-04T00:00:00",
      "DeclaredBankrupt": "NotSet",
      "FirstName": "Peter",
      "Gender": "Male",
      "LastName": "Habel",
      "MaritalStateId": 2,
      "MarriedName": "Bush",
      "NameOfRelatedEmployee": "Jon",
      "NationalityCode": "AU",
      "NativeLanguageCode": "en",
      "PersonalId": "1234567890",
      "PersonalIdExpirationDate": "1965-10-04T00:00:00",
      "PersonalIdPlaceOfRelease": "test",
      "PersonalIdReleaseDate": "1965-10-04T00:00:00",
      "PersonalIdType": "PassportNumber",
      "RelatedToSaxoEmployee": "NotSet",
      "RelationToSaxoEmployee": "Friend",
      "TinNotAvailable": "NotSet",
      "TitleId": 1,
      "W8BenDiscrepancy": "NotSet"
    },
    "CorrespondenceAddressInfo": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "Declaration": {
      "ConsentSource": "True",
      "ExemptionFromObligationInterestTaxId": 1,
      "ExemptionFromStockDividendTaxId": 1,
      "FrenchTaxableResident": "False",
      "MarketingConsent": "True",
      "NotPoliticallyExposedPerson": "True",
      "RiskDisclosure": "False",
      "SaxoBankGroupConsent": "True",
      "TaxDeductionOption": "False",
      "TradeWithOwnFunds": "True"
    },
    "FatcaDeclaration": {
      "IsUsCitizen": "False",
      "IsUsTaxLiable": "False",
      "UsProducts": "False"
    },
    "GlobalFinancialInformation": {
      "AnnualIncomeAfterTax": {
        "Amount": 14,
        "AmountDescription": "Exact",
        "CurrencyCode": "CurrencyCodea531862d-9734-4fae-85be-8edf7e723225"
      },
      "IntendToInvest": {
        "Amount": 36,
        "AmountDescription": "Rounded",
        "CurrencyCode": "CurrencyCode56993214-dfe6-46c7-9464-06cd2991a858"
      },
      "InvestableAsset": {
        "Amount": 4,
        "AmountDescription": "AboveThisAmount",
        "CurrencyCode": "CurrencyCode0da7051f-f3bf-4833-b5ac-501074cffc84"
      }
    },
    "KnowledgeOfFinancialInstruments": "UnderstandBasicsOfFinancialInstruments",
    "NordNetFirstFunding": "Allowed",
    "PreviousAddress": {
      "BuildingNo": "25",
      "City": "Horsham",
      "CountryCode": "AU",
      "County": "Wimmera",
      "Floor": "2",
      "PostalCode": "3400",
      "State": "VIC",
      "Street": "Francis Rd",
      "Unit": "405"
    },
    "ProductTradingExperience": [
      "FuturesAndOptions"
    ],
    "SignupFlowData": {
      "AssessmentResult": "Unknown",
      "AutoDueDiligenceResult": "Unknown",
      "CcFirstFundingAllowed": false,
      "ChoiceOfAccountId": 0,
      "DemoAccountAllowed": false,
      "DemoAccountRequested": false,
      "EmailAddressVerified": false,
      "FallbackFlow": false,
      "FundingAsVerification": "NotSet",
      "LeadOrigin": "Unknown",
      "ReadyForFunding": false,
      "SkipEmailVerification": false
    },
    "TradingProfile": {
      "AnnualIncomeId": 1,
      "FinancialSectorEmployee": "NotSet",
      "FirstFundingAmount": 0.0,
      "IntendToInvest2Id": 0,
      "IntendToInvestId": 0,
      "InvestableAssetsId": 0,
      "OccupationId": 0,
      "PartnerInterestedInId": 0,
      "PurposeAndScopeId": 0,
      "TradesPerMonthId": 0,
      "TradesPerYearId": 0,
      "TradingExperienceId": 0
    }
  }
}
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityCheckResultCodeResult'
              example: {
  "AuthID": "21b63b63-8f8e-45d8-bd53-2ea4e2daf07a",
  "Code": "Referred",
  "Score": 91
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: One or more properties of the request are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cm/v1/leadsignups/{SignupId/documentation}':
    put:
      tags:
        - Lead Signups
      summary: Attach documentation to an onboarding application
      description: Attach one or more base64 encoded documents to an onboarding application.
      operationId: LeadSignupV1AttachSignupDocumentation
      parameters:
        - name: SignupId
          in: path
          description: Unique ID of the onboarding application to attach documentation to.
          required: true
          schema:
[...]
