openapi: 3.0.1
info:
  title: Services.ClientReporting
  description: The Client Reporting service group provides endpoints to retrieve various reports in .pdf/.xls format.
  version: 1.1.569+f90df94324
  x-framework-version: 40.0.1+2386a0aaff
  x-machine: SIMOAWEB9-DK1
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  '/cr/v1/reports/TradesExecuted/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Trades Executed
      summary: Get Trades Executed report for the accounts of a specified client
      description: "Get Trades Executed report for the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n*   Excel\r\n\r\nTo request a specific format, please set the 'Accept' header on your request to one of the following:\r\n\r\n\r\n*   For PDF : application/pdf\r\n*   For Excel : application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      operationId: TradesExecutedGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include TradesExecuted from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10'
        - name: ToDate
          in: query
          description: Include TradesExecuted till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/cr/v1/reports/TradeDetails/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Trade Details
      summary: Get Trade Details report for the accounts of a specified client
      description: "Get Trade Details report for the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: TradeDetailsGetAsync
      parameters:
        - name: AccountKey
          in: query
          description: The account key.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FilterType
          in: query
          description: Values which gets included in the request
          required: true
          schema:
            $ref: '#/components/schemas/BookingRequestType'
        - name: FilterValue
          in: query
          description: Id for the specified filter type.
          required: true
          schema:
            type: string
        - name: TradeId
          in: query
          description: Trade id
          required: true
          schema:
            type: string
          example: '293832'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/cr/v1/reports/Portfolio/me/{FromDate}/{ToDate}':
    get:
      tags:
        - Historical Report Data - Portfolio Management
      summary: Get Portfolio report for the logged in user
      description: "Get Portfolio report for the logged in user.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: PortfolioGetMeAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: FromDate
          in: path
          description: From date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10'
        - name: IncludeYTDInformation
          in: query
          description: Include additional information about performance Year To Date.
          schema:
            type: boolean
          example: true
        - name: OptionalReportSections
          in: query
          description: Parameter specifing if any optional section is needed in the report
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OptionalReportSection'
          example: Trasactions
        - name: ToDate
          in: path
          description: To date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/cr/v1/reports/Portfolio/{ClientKey}/{FromDate}/{ToDate}':
    get:
      tags:
        - Historical Report Data - Portfolio Management
      summary: Get Portfolio report for the accounts of a specified client
      description: "Get Portfolio report for the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: PortfolioGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: path
          description: From date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10'
        - name: IncludeYTDInformation
          in: query
          description: Include additional information about performance Year To Date.
          schema:
            type: boolean
          example: true
        - name: OptionalReportSections
          in: query
          description: Whether any optional section is needed in the report
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OptionalReportSection'
          example: Trasactions
        - name: ToDate
          in: path
          description: To date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/cr/v1/reports/AccountStatement/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Account Statement
      summary: Get Account statement report for the accounts of a Specified client
      description: "Get an account statement report for the accounts of a Specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n*   Excel\r\n\r\nTo request a specific format, please set the 'Accept' header on your request to one of the following:\r\n\r\n\r\n*   For PDF : application/pdf\r\n*   For Excel : application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      operationId: AccountStatementGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include Account statement from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10'
        - name: ToDate
          in: query
          description: Include Account statement till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
components:
  schemas:
    BookingRequestType:
      title: 'Request type, basis on which bookings are reterived'
      enum:
        - BkAmountId
        - CaMasterRecordId
        - RelatedTradeId
      type: string
      x-enum-descriptions:
        BkAmountId: Booking amount Id
        CaMasterRecordId: Corporate action Id
        RelatedTradeId: Related trade Id
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    OptionalReportSection:
      title: Optional section to be added in report.
      enum:
        - Transactions
      type: string
      x-enum-descriptions:
        Transactions: Add transaction section
  responses:
    ServiceUnavailable:
      description: Service Unavailable.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sim.logonvalidation.net/authorize
          tokenUrl: https://sim.logonvalidation.net/token
          scopes: { }
tags:
  - name: Historical Report Data - Account Statement
    description: Account Statement Report.
  - name: Historical Report Data - Portfolio Management
    description: Portfolio Report
  - name: Historical Report Data - Trade Details
    description: Trade Details Report.
  - name: Historical Report Data - Trades Executed
    description: Trades Executed Report.