openapi: 3.0.1
info:
  title: Services.ClientReporting
  description: The Client Reporting service group provides endpoints to retrieve various reports in .pdf/.xls format.
  version: 1.1.462+7db82139b4
  x-framework-version: 24.0.21+826409a78a
  x-machine: DEVOAWEB10-DK1
servers:
  - url: https://blue.openapi.sys.dom/openapi
paths:
  /cr/apistatus:
    get:
      description: Returns default server status information
      operationId: cr_apistatus
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerStatus'
              example: {
  "Created": "0001-01-01T00:00:00Z",
  "LeasePeriod": 0,
  "LogicalProcessors": 0,
  "MachineUptime": 0,
  "SystemUptime": 0,
  "TimeSpentMs": 170.24,
  "ToolId": 0
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-network-visibility: internal
  /cr/v1/reports/accountvaluations:
    get:
      tags:
        - Historical Report Data - Account Valuations
      summary: Get Account valuations report for the account
      description: "Get Account valuations report for the account.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: AccountValuationsGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountSubType
          in: query
          description: Account sub type
          required: true
          schema:
            $ref: '#/components/schemas/AccountSubType'
          example: '2021-07-10T00:00:00.0000000+00:00'
        - name: ClientKey
          in: query
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: Year
          in: query
          description: Year
          required: true
          schema:
            type: string
          example: 2021
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/securitieslendingdetails/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Securities Lending Details
      summary: Get Securities Lending Details report of a specified client
      description: "Get Securities Lending Details report of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n*   Excel\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf\r\n*   For Excel : application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      operationId: SecuritiesLendingDetailsGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: Group key of the accounts for which report is to be generated.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: Account key of the account for which report is to be generated.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include Securities Lending Details from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          description: Include Securities Lending Details till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/holdings/{ClientKey}/{FromDate}/{ToDate}':
    get:
      tags:
        - Historical Report Data - Holdings
      summary: Get Holding details report for the accounts of a specified client
      description: "Get Holding details report for the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: HoldingsGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: path
          description: From date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2021-07-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: path
          description: To date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2021-07-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/investmentplan/{ClientKey}':
    get:
      tags:
        - InvestmentPlan
      summary: Get Investment Plan report for a specified client
      description: "Get Investment Plan report for a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n*   Excel\r\n\r\nTo request a specific format, please set the 'Accept' header on your request to one of the following:\r\n\r\n\r\n*   For PDF : application/pdf\r\n*   For Excel : application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      operationId: InvestmentPlanGetResponseAsync
      parameters:
        - name: AccountKey
          in: query
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cr/api/oas3:
    get:
      summary: Get Open API Specification 3.0 documentation for the service group.
      description: Returns the OAS 3 document for the service group.
      operationId: OasGetOas3
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-network-visibility: internal
  '/cr/v1/reports/accountsummaries/pensions/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Pension account summary
      summary: Pension account summary
      description: "Get pension account summary report for the accounts of a Specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a specific format, please set the 'Accept' header on your request to one of the following:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: AccountSummaryGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: Account group key
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: QEPWm2RyUefWuaKFjRaJag==
        - name: AccountKey
          in: query
          description: Account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/ShareDividends/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Share Dividends
      summary: Get Share Dividends report for the accounts of a specified client
      description: "Get Share Dividends report for the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: ShareDividendsGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include ShareDividends from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          description: Include ShareDividends till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cr/v1/reports/clientInfo/PersonalData:
    get:
      tags:
        - Client Personal Details
      summary: Get Client Personal Details report for the accounts of a Specified client
      description: "Get Client Personal Details report for the accounts of a Specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a specific format, please set the 'Accept' header on your request to one of the following:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: PiiClientDetailsGetAsync
      parameters:
        - name: ClientKey
          in: query
          description: Unique id of the client.
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/TradesExecuted/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Trades Executed
      summary: Get Trades Executed report for the accounts of a specified client
      description: "Get Trades Executed report for the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n*   Excel\r\n\r\nTo request a specific format, please set the 'Accept' header on your request to one of the following:\r\n\r\n\r\n*   For PDF : application/pdf\r\n*   For Excel : application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      operationId: TradesExecutedGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include TradesExecuted from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          description: Include TradesExecuted till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/cr/v1/convertedData/{FileName}':
    post:
      tags:
        - ConvertedData
      summary: Export to CSV or Excel data
      description: Takes input JSON and returns converted CSV or Excel file
      operationId: ConvertedDataPost
      parameters:
        - name: FileName
          in: path
          description: The File Name of the output csv or excel file. It is optional string parameter with default of "CSVDataExport.csv" or "ExcelDataExport.xlsx" as per accept header media type
          required: true
          schema:
            type: string
          example: CSVDataExport.csv/ExcelDataExport.xlsx
      requestBody:
        content:
          application/json:
            schema:
              type: array
            example: []
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InputNotInCorrectFormat
                      - InputTooComplex
                    type: string
                    x-enum-descriptions:
                      InputNotInCorrectFormat: Input not in correct format.
                      InputTooComplex: Input too complex.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-application-visibility: saxo-only
  '/cr/v1/reports/ClosedPositions/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Closed Positions
      summary: Get Closed Positions report for the accounts of a Specified client
      description: "Get Closed Positions report for the accounts of a Specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n*   Excel\r\n\r\nTo request a specific format, please set the 'Accept' header on your request to one of the following:\r\n\r\n\r\n*   For PDF : application/pdf\r\n*   For Excel : application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      operationId: ClosedPositionsGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include Closed Positions from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          description: Include Closed Positions till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/Transactions/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Transactions
      summary: Get transactions report for all the accounts of a specified client and account
      description: "Get transactions report for all the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n*   Excel\r\n\r\nTo request a specific format, please set the 'Accept' header on your request to one of the following:\r\n\r\n\r\n*   For PDF : application/pdf\r\n*   For Excel : application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      operationId: TransactionsGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/CarryingCostDetails/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Carrying Cost Details
      summary: Get Carrying Cost Details report for the accounts of a Specified client
      description: "Get Carrying Cost Details report for the accounts of a Specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: CarryingCostDetailsGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include Carrying Cost Details from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          description: Include Carrying Cost Details till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/events/{EventId}/narratives':
    get:
      tags:
        - Corporate Action - Narratives
      summary: Get narratives for specified corporate action event
      description: "Get narratives for specified corporate action event.\r\n            \r\nNarratives are available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header in your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: NarrativeGetAsync
      parameters:
        - name: ClientKey
          in: query
          description: Client identifier
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: EventId
          in: path
          description: Corporate action identifier
          required: true
          schema:
            type: string
          example: 875684
        - name: IncludeSubAccounts
          in: query
          description: Indicate whether to include events from sub-clients.
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cr/v1/reports/orderactivities:
    get:
      tags:
        - Historical Report Data - Order Activities
      summary: Order activities history report
      description: Get Order activities history report
      operationId: OrderActivitiesGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: 'Account Group key: If specified will only return entries pertaining to specified Account Group'
          schema:
            title: 'Account Group key: If specified will only return entries pertaining to specified Account Group'
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: "value3ee4796f-9bd9-4862-9bc9-ebc74685bb36"
        - name: AccountKey
          in: query
          description: 'Account key: If specified will only return entries pertaining to specified Account'
          schema:
            title: 'Account key: If specified will only return entries pertaining to specified Account'
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: "7f24e87d-3f45-4dbc-a983-ee904216908b"
        - name: ClientKey
          in: query
          description: 'Client key: If specified will only return entries pertaining to specified client and its sub clients depending upon includeSubAccounts.'
          required: true
          schema:
            title: 'Client key: If specified will only return entries pertaining to specified client and its sub clients depending upon includeSubAccounts.'
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: "517c2910-d988-4b31-9865-878135eaed39"
        - name: Duration
          in: query
          description: 'Duration: If specified will only return entries with the specified duration type.'
          schema:
            $ref: '#/components/schemas/OpenOrderDurationNullable'
          example: GoodTillDate
        - name: EntryType
          in: query
          description: 'EntryType: optional. Defaults to ''All'': Return all entries pertaining to any order. ''Last'': Only return the latest state of an order ignoring ToDateTime (if any).'
          schema:
            $ref: '#/components/schemas/OrderEntryTypeNullable'
          example: All
        - name: ExpirationDateTime
          in: query
          description: 'ExpirationDateTime: If specified will only return entries with the specified expiry date. The expiration date, should only be set if the duration type is GoodTillDate. If the field contains the time, it must always be expressed in the exchange local time and Time zone indication must never be added. The time part should be in the following format: HH:mm, where HH is 24 hour clock. Seconds and milliseconds are not allowed. The expiration date is applicable only with Duration ''GoodTillDate'''
          schema:
            title: 'ExpirationDateTime: If specified will only return entries with the specified expiry date. The expiration date, should only be set if the duration type is GoodTillDate. If the field contains the time, it must always be expressed in the exchange local time and Time zone indication must never be added. The time part should be in the following format: HH:mm, where HH is 24 hour clock. Seconds and milliseconds are not allowed. The expiration date is applicable only with Duration ''GoodTillDate'''
            type: string
          example: "2023-01-29T03:13:56.3024004"
        - name: FromDate
          in: query
          description: 'Only include entries, with a ActivityDateTime greater than or equal to FromDateTime. FromDateTime can go back to maximum 3-years and It should be UTC Date Time. FromDateTime is required if ToDateTime is specified. If OrderId, FromDateTime and ToDateTime are not specified then response include entries with ActivityDateTime greater than past 3 month'
          schema:
            title: 'Only include entries, with a ActivityDateTime greater than or equal to FromDateTime. FromDateTime can go back to maximum 3-years and It should be UTC Date Time. FromDateTime is required if ToDateTime is specified. If OrderId, FromDateTime and ToDateTime are not specified then response include entries with ActivityDateTime greater than past 3 month'
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: "2023-08-24T09:05:03.504484Z"
        - name: OrderId
          in: query
          description: 'OrderId: Will only return entries pertaining to specified OrderId.'
          schema:
            title: 'OrderId: Will only return entries pertaining to specified OrderId.'
            type: string
          example: "e89651af-80ab-4713-86fc-f016dbc9abd1"
        - name: OrderStates
          in: query
          description: 'saxoInternal- OrderStates: If specified will only return entries with the specified Order State. By default all options will return'
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OrderState'
        - name: OrderStatuses
          in: query
          description: 'OrderStatuses: If specified will only return entries with the specified OrderStatus'
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OrderStatus'
          example: Placed
        - name: OrderTypes
          in: query
          description: 'OrderTypes: If specified will only return entries with the specified order type.'
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PlaceableOrderType'
          example: 'Market,Limit'
        - name: ToDate
          in: query
          description: 'Only include entries, with a ActivityDateTime less than or equal to ToDateTime. Cannot be used with EntryType="Last". Maximum 3-months date range can be accepted from FromDateTime. ToDateTime is required if FromDateTime is specified'
          schema:
            title: 'Only include entries, with a ActivityDateTime less than or equal to ToDateTime. Cannot be used with EntryType="Last". Maximum 3-months date range can be accepted from FromDateTime. ToDateTime is required if FromDateTime is specified'
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: "2023-08-24T09:05:03.504484Z"
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/srdcashadjustment/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Srd Cash Adjustments
      summary: Get Srd Cash Adjustments report for the accounts of a Specified client
      description: "Get Srd Cash Adjustments report for the accounts of a Specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: SrdCashAdjustmentsGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include Srd Cash Adjustments from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          description: Include Srd Cash Adjustments till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/Portfolio/me/{FromDate}/{ToDate}':
    get:
      tags:
        - Historical Report Data - Portfolio Management
      summary: Get Portfolio report for the logged in user
      description: "Get Portfolio report for the logged in user.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: PortfolioGetMeAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: FromDate
          in: path
          description: From date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: IncludeYTDInformation
          in: query
          description: Include additional information about performance Year To Date.
          schema:
            type: boolean
          example: true
        - name: OptionalReportSections
          in: query
          description: Parameter specifing if any optional section is needed in the report
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OptionalReportSection'
          example: Trasactions
        - name: ToDate
          in: path
          description: To date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/cr/v1/reports/Portfolio/{ClientKey}/{FromDate}/{ToDate}':
    get:
      tags:
        - Historical Report Data - Portfolio Management
      summary: Get Portfolio report for the accounts of a specified client
      description: "Get Portfolio report for the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: PortfolioGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: path
          description: From date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: IncludeYTDInformation
          in: query
          description: Include additional information about performance Year To Date.
          schema:
            type: boolean
          example: true
        - name: OptionalReportSections
          in: query
          description: Whether any optional section is needed in the report
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OptionalReportSection'
          example: Trasactions
        - name: ToDate
          in: path
          description: To date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/cr/v1/reports/ForexCommissions/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Forex Commissions
      summary: Get Forex Commissions report of a Specified client
      description: "Get Forex Commissions report of a Specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: ForexCommissionsGetAsync
      parameters:
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include Forex Commissions from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          description: Include Forex Commissions till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/AuditRequest/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Audit Request
      summary: Get Audit Request report for the accounts of a specified client
      description: "Get Audit Request report for the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: AuditRequestGetAsync
      parameters:
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: ReportDate
          in: query
          description: Include Audit Request from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/quarterlyportfolio/me/{Fromdate}/{Todate}':
    get:
      tags:
        - Historical Report Data - quarterly Portfolio Management
      summary: Get Quarterly Portfolio report for the logged in user
      description: "Get Quarterly Portfolio report for the logged in user.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: QuarterlyPortfolioGetMeAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: Fromdate
          in: path
          description: From date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: Todate
          in: path
          description: To date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/quarterlyportfolio/{ClientKey}/{Fromdate}/{Todate}':
    get:
      tags:
        - Historical Report Data - quarterly Portfolio Management
      summary: Get  Quarterly Portfolio report for the accounts of a specified client
      description: "Get Quarterly Portfolio report for the accounts of a specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: QuarterlyPortfolioGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: Fromdate
          in: path
          description: From date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: Todate
          in: path
          description: To date in UTC
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/TransactionBalance/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Transaction Balance
      summary: Get Transaction Balance report for the accounts of a Specified client
      description: "Get Transaction Balance report for the accounts of a Specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n*   Excel\r\n\r\nTo request a specific format, please set the 'Accept' header on your request to one of the following:\r\n\r\n\r\n*   For PDF : application/pdf\r\n*   For Excel : application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      operationId: TransactionBalanceGetAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group id.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include TransactionBalance from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          description: Include TransactionBalance till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestedFormatNotSupported
                    type: string
                    x-enum-descriptions:
                      RequestedFormatNotSupported: Request format not supported.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cr/v1/reports/CfdFinanceDetails/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Cfd Finance Details
      summary: Get Cfd Finance Details report of a Specified client
      description: "Get Cfd Finance Details report of a Specified client.\r\n            \r\nThis report is available in the following formats:\r\n\r\n\r\n*   PDF\r\n\r\nTo request a PDF format, please set the 'Accept' header on your request as follows:\r\n\r\n\r\n*   For PDF : application/pdf"
      operationId: CfdFinanceDetailsGetAsync
      parameters:
        - name: ClientKey
          in: path
          description: Unique id of the client.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 5DG7K1P5cqYBZ77tl7Af4w==
        - name: FromDate
          in: query
          description: Include Cfd Finance Details from this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: ToDate
          in: query
          description: Include Cfd Finance Details till this date. By default returns the previous date report.
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
[...]
