openapi: 3.0.1
info:
  title: Services.ClientServices
  description: 'The Client Services service group provides end points for getting reports, managing subscriptions, Mifid and transferring funds.'
  version: 2.1.996+1d7a9aed11
  x-framework-version: 41.0.17+46f32c3eb1
  x-machine: SIMOAWEB9-DK1
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  '/cs/v1/tradingconditions/ContractOptionSpaces/{AccountKey}/{OptionRootId}':
    get:
      tags:
        - Trading Conditions - Contract Option
      summary: Get trading conditions for a contract option.
      description: "Trading conditions for all exchange traded options and synthetic options(OTC). \n             Trading conditions details default behavior for the option (can it be traded and how), \n             margin requirements for opening and holding a position in an option (how much cash is needed on the account) \n             as well as the cost structure of opening, closing and holding a position."
      operationId: ContractOptionGetForContractOption
      parameters:
        - name: AccountKey
          in: path
          description: The account key to lookup the conditions for
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 7m4I|vtYLUnEGg77o9uQhw==
        - name: FieldGroups
          in: query
          description: Specify which field groups to return
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ScheduledTradingConditionsFieldGroup'
        - name: OptionRootId
          in: path
          description: The optionRootId for the option to lookup
          required: true
          schema:
            type: integer
            format: int32
          example: 232
        - name: Uic
          in: query
          description: The uic for the instrument to lookup
          schema:
            type: integer
            format: int32
          example: 30256728
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOptionTradingConditionsResponse'
              example:
                AccountCurrency: GBP
                AssetType: FxSpot
                CarryingCost:
                  FixedRate: 1
                  InterbankRate:
                    AskRate: 2
                    BidRate: 1
                    TradeDate: '2022-10-31'
                  MarkUpRate: 1.5
                CommissionLimits:
                  - Currency: USD
                    OrderAction: ExecuteOrder
                    PerUnitRate: 6
                ExerciseCutOffTime: '16:30:00'
                ExpirationTime: '14:30:00'
                ExposureLimits:
                  - Identifier: CL
                    Level: BaseContractNet
                    RuleType: Amount
                    Value: 200
                FinanceInterestMarkUp: 9.99
                HoldingFee:
                  FromPeriodInDays: 120
                  Value: 1.6
                InstrumentCurrency: USD
                IsTradable: true
                MarginRequirement:
                  MinimumUnderlyingValue: 0.5
                  Premium: 1
                  TradingProfile: Basic
                  UnderlyingValueOvernightExposure: 1
                PortfolioBasedMargin:
                  ExtremeStressFactor: 15.6
                  Initial: 185.5
                  IntraWeek: 8.7
                  LiquidityThresholdAmount: 569987
                  LiquidityThresholdCurrency: USD
                  VolatilityAddOn: 1000.68
                  VolatilityStress: 100
                Rating: 5
                SettlementStyle: PhysicalDelivery
                SwapInterestMarkUp: 1.11
                Taxes:
                  - BuySell: Buy
                    CalculationTriggerType: Normal
                    CalculationType: ValueFraction
                    Description: UK Stamp Duty
                    Value: 0.5
                Uic: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  /cs/v2/cashmanagement/interaccounttransfers:
    post:
      tags:
        - CashManagement - Inter Account Transfer
      description: Interaccount transfer
      operationId: InterAccountTransferTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
            example:
              Amount: 1000
              Currency: JPY
              FromAccountKey: '-gh-xomNFSNUYdRL0KrPpg=='
              ToAccountKey: y3kFQWkqJYMgOgaxcoqshA==
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResult'
              example:
                Commission: 0
                FromAccountAmount: 9.0776625
                FromAccountCurrency: USD
                ToAccountAmount: 1000
                ToAccountCurrency: JPY
        '200':
          description: Indicates that the transfer was performed correctly.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Write
  '/cs/v1/reports/trades/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Trades
      description: Gets all trades for dates or tradeId.
      operationId: TradesGetDetailsAsync
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $skiptoken
          in: query
          description: Specifies an entity id to start retrieving entries from. This is normally only used in generated nextlinks.
          schema:
            type: string
          example: B17D8890-3C7A-4A47-A9AA-01B022ED03A5
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the resource belongs.
          schema:
            title: The key of the account group to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the resource belongs.
          schema:
            title: The key of the account to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: path
          description: The key of the client to which the resource belongs.
          required: true
          schema:
            title: The key of the client to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: FromDate
          in: query
          description: 'from date in UTC, ignored when tradeId is given'
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10'
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
        - name: ToDate
          in: query
          description: 'to date in UTC, ignored when tradeId is given'
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10'
        - name: TradeId
          in: query
          description: 'trade id, accountkey is mandatory with tradeId'
          schema:
            type: string
          example: '293832'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                  - AccountCurrency: AUD
                    AccountCurrencyDecimals: 0
                    AccountId: 148455INET
                    AdjustedTradeDate: '2010-10-10'
                    Amount: -100000
                    AssetType: FxSpot
                    ClientCurrency: AUD
                    Direction: None
                    ExchangeDescription: Inter Bank
                    InitialMargin: 0
                    InstrumentCurrencyDecimal: 2
                    InstrumentDescription: Australian Dollar/US Dollar
                    InstrumentSectorName: Major
                    InstrumentSectorTypeId: 2
                    InstrumentSymbol: AUDUSD
                    MaintenanceMargin: 0
                    OrderId: '735126300'
                    Price: 0.73356
                    RootInstrumentSectorName: FX
                    RootInstrumentSectorTypeId: 1
                    Strike: 0
                    ToOpenOrClose: ToClose
                    TradeBarrierEventStatus: false
                    TradeDate: '2015-10-12'
                    TradedValue: 73356
                    TradeEventType: Sold
                    TradeExecutionTime: '2015-10-12T04:26:47Z'
                    TradeId: '861198960'
                    TradeType: Market
                    Uic: 4
                    UnderlyingInstrumentDescription: Australian Dollar/US Dollar
                    UnderlyingInstrumentSymbol: AUDUSD
                    ValueDate: '2015-10-14'
                    Venue: OTC
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    example: None
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/cs/v1/reports/bookings/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Bookings
      description: Get all bookings for ClientKey between two dates or by specifying a combination of FilterType and FilterValue.
      operationId: BookingGet
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $skiptoken
          in: query
          description: Specifies an entity id to start retrieving entries from. This is normally only used in generated nextlinks.
          schema:
            type: string
          example: B17D8890-3C7A-4A47-A9AA-01B022ED03A5
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the resource belongs.
          schema:
            title: The key of the account group to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the resource belongs.
          schema:
            title: The key of the account to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: path
          description: The key of the client to which the resource belongs.
          required: true
          schema:
            title: The key of the client to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: FilterType
          in: query
          description: 'Type, basis on which bookings are reterived. If specified you must also specify a FilterValue'
          schema:
            $ref: '#/components/schemas/BookingRequestType'
        - name: FilterValue
          in: query
          description: Id for the specified filter type.
          schema:
            type: string
        - name: FromDate
          in: query
          description: 'From date, ignored when filterType and filterValue are not null'
          schema:
            type: string
            format: date
            x-type-name: Date
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
        - name: ToDate
          in: query
          description: 'To date, ignored when filterType and filterValue are not null'
          schema:
            type: string
            format: date
            x-type-name: Date
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -1.03999996185303
                    AmountAccountCurrency: 6.62
                    AmountClass: NotAssigned
                    AmountClientCurrency: 6.62
                    AmountSubClass: NotAssigned
                    AmountUSD: 1.03602616670318
                    AssetType: StockIndexOption
                    BkAmountId: '3042746175'
                    BkAmountType: Exchange Fee
                    BkAmountTypeId: '30'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-01-15'
                    InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F15C15:xcbf
                    RelatedPositionId: '773603907'
                    RelatedTradeId: '773603907'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1012706
                    UnderlyingInstrumentDescription: CBOE Vloatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-01-15'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: 1260
                    AmountAccountCurrency: 8010.89
                    AmountClass: NotAssigned
                    AmountClientCurrency: 8010.89
                    AmountSubClass: NotAssigned
                    AmountUSD: 1253.69964631131
                    AssetType: StockIndexOption
                    BkAmountId: '3042746174'
                    BkAmountType: Premium
                    BkAmountTypeId: '12'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-01-15'
                    InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F15C15:xcbf
                    RelatedPositionId: '773603907'
                    RelatedTradeId: '773603907'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1012706
                    UnderlyingInstrumentDescription: CBOE Vloatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-01-15'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -6
                    AmountAccountCurrency: -38.15
                    AmountClass: NotAssigned
                    AmountClientCurrency: -38.15
                    AmountSubClass: NotAssigned
                    AmountUSD: 5.97045290932424
                    AssetType: StockIndexOption
                    BkAmountId: '3042742814'
                    BkAmountType: Commission
                    BkAmountTypeId: '4'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-01-15'
                    InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F15C15:xcbf
                    RelatedPositionId: '773603907'
                    RelatedTradeId: '773603907'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1012706
                    UnderlyingInstrumentDescription: CBOE Vloatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-01-15'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -1186.5
                    AmountAccountCurrency: -7654.42
                    AmountClass: NotAssigned
                    AmountClientCurrency: -7654.42
                    AmountSubClass: NotAssigned
                    AmountUSD: -1189.20237392412
                    AssetType: Stock
                    BkAmountId: '3052212830'
                    BkAmountType: Share Amount
                    BkAmountTypeId: '2'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-01-20'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT:xnas
                    RelatedPositionId: '775130723'
                    RelatedTradeId: '775130723'
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSectorName: Telecommunications Equipment
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT:xnas
                    UnderlyingInstrumentUic: 85485
                    ValueDate: '2015-01-23'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -12
                    AmountAccountCurrency: -77.42
                    AmountClass: NotAssigned
                    AmountClientCurrency: -77.42
                    AmountSubClass: NotAssigned
                    AmountUSD: -12.0280893639499
                    AssetType: Stock
                    BkAmountId: '3051745520'
                    BkAmountType: Commisison
                    BkAmountTypeId: '4'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-01-20'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT:xnas
                    RelatedPositionId: '775130723'
                    RelatedTradeId: '775130723'
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSectorName: Telecommunications Equipment
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT:xnas
                    UnderlyingInstrumentUic: 85485
                    ValueDate: '2015-01-23'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -10
                    AmountAccountCurrency: -66.79
                    AmountClass: NotAssigned
                    AmountClientCurrency: -66.79
                    AmountSubClass: NotAssigned
                    AmountUSD: -10.0261198510868
                    AssetType: CfdOnStock
                    BkAmountId: '3126672978'
                    BkAmountType: Commisison
                    BkAmountTypeId: '4'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-03-02'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT:xnas
                    RelatedPositionId: '787515963'
                    RelatedTradeId: '787515963'
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: CfdOnStock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSectorName: Telecommunications Equipment
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT:xnas
                    UnderlyingInstrumentUic: 85485
                    ValueDate: '2015-03-02'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -10
                    AmountAccountCurrency: -66.79
                    AmountClass: NotAssigned
                    AmountClientCurrency: -66.79
                    AmountSubClass: NotAssigned
                    AmountUSD: -10.0261198510868
                    AssetType: CfdOnStock
                    BkAmountId: '3126672978'
                    BkAmountType: Commisison
                    BkAmountTypeId: '4'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-03-02'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT:xnas
                    RelatedPositionId: '787515963'
                    RelatedTradeId: '787515963'
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: CfdOnStock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSectorName: Telecommunications Equipment
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT:xnas
                    UnderlyingInstrumentUic: 85485
                    ValueDate: '2015-03-02'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -2.96
                    AmountAccountCurrency: -20.61
                    AmountClass: NotAssigned
                    AmountClientCurrency: -20.61
                    AmountSubClass: NotAssigned
                    AmountUSD: -2.96031369845305
                    AssetType: CfdOnStock
                    BkAmountId: '3185111269'
                    BkAmountType: CFD Finance
                    BkAmountTypeId: '10'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-03-31'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT:xnas
                    RelatedPositionId: '0'
                    RelatedTradeId: '0'
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: CfdOnStock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSectorName: Telecommunications Equipment
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT:xnas
                    UnderlyingInstrumentUic: 85485
                    ValueDate: '2015-04-01'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -0.3
                    AmountAccountCurrency: -2.24
                    AmountClass: NotAssigned
                    AmountClientCurrency: -2.24
                    AmountSubClass: NotAssigned
                    AmountUSD: -0.334595535240827
                    AssetType: CfdOnStock
                    BkAmountId: '3360198216'
                    BkAmountType: CFD Finance
                    BkAmountTypeId: '10'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: EUR
                    Date: '2015-06-30'
                    InstrumentDescription: National Bank of Greece SA
                    InstrumentSectorName: Banks
                    InstrumentSectorTypeId: 656
                    InstrumentSubType: None
                    InstrumentSymbol: ETE=xath
                    RelatedPositionId: '0'
                    RelatedTradeId: '0'
                    RootInstrumentSectorName: Financials
                    RootInstrumentSectorTypeId: 509
                    Uic: 20690
                    UnderlyingInstrumentAssetType: CfdOnStock
                    UnderlyingInstrumentDescription: National Bank of Greece SA
                    UnderlyingInstrumentSectorName: Banks
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: ETE=xath
                    UnderlyingInstrumentUic: 20690
                    ValueDate: '2015-07-01'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -6.41
                    AmountAccountCurrency: -6.41
                    AmountClass: NotAssigned
                    AmountClientCurrency: -6.41
                    AmountSubClass: NotAssigned
                    AmountUSD: -0.949643698425162
                    BkAmountId: '3360618999'
                    BkAmountType: Interest
                    BkAmountTypeId: '45'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: DKK
                    Date: '2015-07-01'
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    RelatedPositionId: '0'
                    RelatedTradeId: '0'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 0
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentUic: 0
                    ValueDate: '2015-07-01'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -3.06
                    AmountAccountCurrency: -20.79
                    AmountClass: NotAssigned
                    AmountClientCurrency: -20.79
                    AmountSubClass: NotAssigned
                    AmountUSD: -3.06030073085104
                    AssetType: CfdOnStock
                    BkAmountId: '3420534529'
                    BkAmountType: CFD Finance
                    BkAmountTypeId: '10'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-07-31'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RelatedPositionId: '0'
                    RelatedTradeId: '0'
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: CfdOnStock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSectorName: Telecommunications Equipment
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                    ValueDate: '2015-08-03'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -0.31
                    AmountAccountCurrency: -2.31
                    AmountClass: NotAssigned
                    AmountClientCurrency: -2.31
                    AmountSubClass: NotAssigned
                    AmountUSD: -0.340033414539004
                    AssetType: CfdOnStock
                    BkAmountId: '3420454836'
                    BkAmountType: CFD Finance
                    BkAmountTypeId: '10'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: EUR
                    Date: '2015-07-31'
                    InstrumentDescription: National Bank of Greece SA
                    InstrumentSectorName: Banks
                    InstrumentSectorTypeId: 656
                    InstrumentSubType: None
                    InstrumentSymbol: ETE=xath
                    RelatedPositionId: '0'
                    RelatedTradeId: '0'
                    RootInstrumentSectorName: Financials
                    RootInstrumentSectorTypeId: 509
                    Uic: 20690
                    UnderlyingInstrumentAssetType: CfdOnStock
                    UnderlyingInstrumentDescription: National Bank of Greece SA
                    UnderlyingInstrumentSectorName: Banks
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: ETE=xath
                    UnderlyingInstrumentUic: 20690
                    ValueDate: '2015-08-03'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -4.6
                    AmountAccountCurrency: -4.6
                    AmountClass: NotAssigned
                    AmountClientCurrency: -4.6
                    AmountSubClass: NotAssigned
                    AmountUSD: -0.675050995700219
                    BkAmountId: '3420990244'
                    BkAmountType: Interest
                    BkAmountTypeId: '45'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: DKK
                    Date: '2015-08-03'
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    RelatedPositionId: '0'
                    RelatedTradeId: '0'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 0
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentUic: 0
                    ValueDate: '2015-08-03'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -325
                    AmountAccountCurrency: -2182.26
                    AmountClass: NotAssigned
                    AmountClientCurrency: -2182.26
                    AmountSubClass: NotAssigned
                    AmountUSD: -326.285099129811
                    AssetType: StockIndexOption
                    BkAmountId: '3440442853'
                    BkAmountType: Premium
                    BkAmountTypeId: '12'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-08-12'
                    InstrumentDescription: Volatility Index (VIX) Aug2015 15 C
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/Q15C15=xcbf
                    RelatedPositionId: '840409122'
                    RelatedTradeId: '840409122'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1561206
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-08-12'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -1.03999996185303
                    AmountAccountCurrency: -6.96
                    AmountClass: NotAssigned
                    AmountClientCurrency: -6.96
                    AmountSubClass: NotAssigned
                    AmountUSD: -1.04063873687988
                    AssetType: StockIndexOption
                    BkAmountId: '3440445011'
                    BkAmountType: Exchange Fee
                    BkAmountTypeId: '30'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-08-12'
                    InstrumentDescription: Volatility Index (VIX) Aug2015 16 P
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/Q15P16=xcbf
                    RelatedPositionId: '840305316'
                    RelatedTradeId: '840305316'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1561245
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-08-12'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -1.03999996185303
                    AmountAccountCurrency: -6.91
                    AmountClass: NotAssigned
                    AmountClientCurrency: -6.91
                    AmountSubClass: NotAssigned
                    AmountUSD: -1.03316288388505
                    AssetType: StockIndexOption
                    BkAmountId: '3440445585'
                    BkAmountType: Exchange Fee
                    BkAmountTypeId: '30'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-08-12'
                    InstrumentDescription: Volatility Index (VIX) Aug2015 16 P
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/Q15P16=xcbf
                    RelatedPositionId: '840407407'
                    RelatedTradeId: '840407407'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1561245
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-08-12'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -260
                    AmountAccountCurrency: -1741.21
                    AmountClass: NotAssigned
                    AmountClientCurrency: -1741.21
                    AmountSubClass: NotAssigned
                    AmountUSD: -260.340599862444
                    AssetType: StockIndexOption
                    BkAmountId: '3440441397'
                    BkAmountType: Premium
                    BkAmountTypeId: '12'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-08-12'
                    InstrumentDescription: Volatility Index (VIX) Aug2015 16 P
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/Q15P16=xcbf
                    RelatedPositionId: '840305316'
                    RelatedTradeId: '840305316'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1561245
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-08-12'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -19
                    AmountAccountCurrency: -19
                    AmountClass: NotAssigned
                    AmountClientCurrency: -19
                    AmountSubClass: NotAssigned
                    AmountUSD: -2.85383841266503
                    AssetType: Stock
                    BkAmountId: '3479817118'
                    BkAmountType: Commission
                    BkAmountTypeId: '4'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: DKK
                    Date: '2015-08-31'
                    InstrumentDescription: Wealth Invest Sirius Balance
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 400
                    InstrumentSubType: Etf
                    InstrumentSymbol: WEISIB=xcse
                    RelatedPositionId: '847585758'
                    RelatedTradeId: '847585758'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 400
                    Uic: 343053
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Wealth Invest Sirius Balance
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: Etf
                    UnderlyingInstrumentSymbol: WEISIB=xcse
                    UnderlyingInstrumentUic: 343053
                    ValueDate: '2015-09-02'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -1072.8
                    AmountAccountCurrency: -1072.8
                    AmountClass: NotAssigned
                    AmountClientCurrency: -1072.8
                    AmountSubClass: NotAssigned
                    AmountUSD: -161.136728900371
                    AssetType: Stock
                    BkAmountId: '3480224792'
                    BkAmountType: Share Amount
                    BkAmountTypeId: '2'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: DKK
                    Date: '2015-08-31'
                    InstrumentDescription: Wealth Invest Sirius Balance
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 400
                    InstrumentSubType: Etf
                    InstrumentSymbol: WEISIB=xcse
                    RelatedPositionId: '847585758'
                    RelatedTradeId: '847585758'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 400
                    Uic: 343053
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Wealth Invest Sirius Balance
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: Etf
                    UnderlyingInstrumentSymbol: WEISIB=xcse
                    UnderlyingInstrumentUic: 343053
                    ValueDate: '2015-09-02'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -1103
                    AmountAccountCurrency: -1103
                    AmountClass: NotAssigned
                    AmountClientCurrency: -1103
                    AmountSubClass: NotAssigned
                    AmountUSD: -165.672829956291
                    AssetType: Stock
                    BkAmountId: '3480224810'
                    BkAmountType: Share Amount
                    BkAmountTypeId: '2'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: DKK
                    Date: '2015-08-31'
                    InstrumentDescription: Wealth Invest - Saxo Global Equities
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 400
                    InstrumentSubType: None
                    InstrumentSymbol: WEISGE=xcse
                    RelatedPositionId: '847585836'
                    RelatedTradeId: '847585836'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 400
                    Uic: 1307373
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Wealth Invest - Saxo Global Equities
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: WEISGE=xcse
                    UnderlyingInstrumentUic: 1307373
                    ValueDate: '2015-09-02'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -19
                    AmountAccountCurrency: -19
                    AmountClass: NotAssigned
                    AmountClientCurrency: -19
                    AmountSubClass: NotAssigned
                    AmountUSD: -2.85383841266503
                    AssetType: Stock
                    BkAmountId: '3479817136'
                    BkAmountType: Commission
                    BkAmountTypeId: '4'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: DKK
                    Date: '2015-08-31'
                    InstrumentDescription: Wealth Invest - Saxo Global Equities
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 400
                    InstrumentSubType: None
                    InstrumentSymbol: WEISGE=xcse
                    RelatedPositionId: '847585836'
                    RelatedTradeId: '847585836'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 400
                    Uic: 1307373
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Wealth Invest - Saxo Global Equities
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: WEISGE=xcse
                    UnderlyingInstrumentUic: 1307373
                    ValueDate: '2015-09-02'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -1.03999996185303
                    AmountAccountCurrency: -7.12
                    AmountClass: NotAssigned
                    AmountClientCurrency: -7.12
                    AmountSubClass: NotAssigned
                    AmountUSD: -1.04404184965504
                    AssetType: StockIndexOption
                    BkAmountId: '3679054443'
                    BkAmountType: Exchange Fee
                    BkAmountTypeId: '30'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-12-10'
                    InstrumentDescription: Volatility Index (VIX) Jan2016 20 P
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F16P20=xcbf
                    RelatedPositionId: '883010450'
                    RelatedTradeId: '883010450'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 2206610
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-12-10'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -680
                    AmountAccountCurrency: -4653.05
                    AmountClass: NotAssigned
                    AmountClientCurrency: -4653.05
                    AmountSubClass: NotAssigned
                    AmountUSD: -682.300411311431
                    AssetType: StockIndexOption
                    BkAmountId: '3679054441'
                    BkAmountType: Premium
                    BkAmountTypeId: '12'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-12-10'
                    InstrumentDescription: Volatility Index (VIX) Jan2016 20 P
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F16P20=xcbf
                    RelatedPositionId: '883010450'
                    RelatedTradeId: '883010450'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 2206610
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-12-10'
                  - AccountCurrency: DKK
                    AccountId: 179643INET
                    Amount: -12
                    AmountAccountCurrency: -82.11
                    AmountClass: NotAssigned
                    AmountClientCurrency: -82.11
                    AmountSubClass: NotAssigned
                    AmountUSD: -12.040207342019
                    AssetType: StockIndexOption
                    BkAmountId: '3679054442'
                    BkAmountType: Commission
                    BkAmountTypeId: '4'
                    CaMasterRecordId: '0'
                    ClientCurrency: DKK
                    ConversionRate: 0
                    ConversionRateAccountCurrency: 0
                    ConversionRateClientCurrency: 0
                    ConversionRateUSD: 0
                    CostClass: NotAssigned
                    CostSubClass: NotAssigned
                    Currency: USD
                    Date: '2015-12-10'
                    InstrumentDescription: Volatility Index (VIX) Jan2016 20 P
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F16P20=xcbf
                    RelatedPositionId: '883010450'
                    RelatedTradeId: '883010450'
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 2206610
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSectorName: <Unknown>
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                    ValueDate: '2015-12-10'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    example: None
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  /cs/v1/audit/orderactivities:
    get:
      tags:
        - Audit - OrderActivities
      summary: Query Order activities history
      description: "Query Order activities history\n\n\nThe __nextPoll link is present when relevant and MUST be used for continuously polling\n\n\nOur preferred option for continuously fetching order activities is to stream it out of ENS"
      operationId: OrderActivitiesGetOrderStatesAsync
      parameters:
        - name: $skiptoken
          in: query
          description: Specifies an entity id to start retrieving entries from. This is normally only used in generated nextlinks.
          schema:
            type: string
          example: B17D8890-3C7A-4A47-A9AA-01B022ED03A5
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: AccountKey
          in: query
          description: 'Account key: If specified will only return entries pertaining to specified Account.'
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: uLDoIiVA30y8uj4kFKp7Og ==
        - name: ClientKey
          in: query
          description: 'Client key: If specified will only return entries pertaining to specified client and its sub clients depending upon includeSubAccounts.'
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 2y0tX0m9ZH7MH8HK38qM9g==
        - name: CorrelationKey
          in: query
          description: 'CorrelationKey: If specified, will only return entries with the specified CorrelationKey'
          schema:
            type: string
          example: bb6bfb96-606d-45d6-95f5-efa443192f5c
        - name: EntryType
          in: query
          description: 'EntryType: optional. Defaults to ''All'': Return all entries pertaining to any order. ''Last'': Only return the latest state of an order ignoring ToDateTime (if any).'
          schema:
            $ref: '#/components/schemas/Models.OrderEntryType'
          example: All
        - name: FieldGroups
          in: query
          description: 'FieldGroups: DisplayAndFormat'
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Models.OrderActivityFieldGroup'
          example: DisplayAndFormat
        - name: FromDateTime
          in: query
          description: 'Only include entries, with a ActivityDateTime greater than or equal to FromDateTime'
          schema:
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: '2017-12-01T00:00:00.0000000+00:00'
        - name: IncludeSubAccounts
          in: query
          description: 'IncludeSubAccounts: If specified true will return entries for all clients under specified ClientId in a hierarchy.'
          schema:
            type: boolean
          example: false
        - name: OrderId
          in: query
          description: 'OrderId: Will only return entries pertaining to specified OrderId'
          schema:
            type: string
          example: '234728341'
        - name: Status
          in: query
          description: 'Status: If specified will only return entries with the specified OrderStatus'
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OrderLogStatus'
          example: Placed
        - name: ToDateTime
          in: query
          description: 'Only include entries, with a ActivityDateTime less than or equal to ToDateTime. Cannot be used with EntryType="Last"'
          schema:
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: '2017-12-31T00:00:00.0000000+00:00'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Models.OrderActivitiesResponseListResult'
              example:
                __next: /openapi/....../?$top=1&$skiptoken=1
                Data:
                  - AccountId: 120602INET
                    ActivityTime: '2017-12-28T08:20:19Z'
                    Amount: 300
                    AssetType: CfdOnStock
                    BuySell: Buy
                    ClientId: '3031269'
                    CorrelationKey: bb6bfb96-606d-45d6-95f5-efa443192f5c
                    DisplayAndFormat:
                      BarrierFormat: Normal
                      Currency: DKK
                      Decimals: 3
                      Description: Genmab A/S
                      Format: Normal
                      OrderDecimals: 2
                      StrikeFormat: Normal
                      Symbol: GEN:xcse
                    Duration:
                      DurationType: DayOrder
                    HandledBy: '3031269'
                    LogId: '260971'
                    OrderId: '234728341'
                    OrderRelation: StandAlone
                    OrderType: Market
                    Price: 1048.2
                    SleepingOrderCondition:
                      BreakoutTriggerDownPrice: 150.1
                      BreakoutTriggerUpPrice: 160.6
                      BuySell: Buy
                      ConditionId: '114485191'
                      Duration:
                        DurationType: DayOrder
                      OrderType: LimitTrigger
                      Price: 16000.01
                      Status: Placed
                      SubStatus: Confirmed
                      Symbol: NAS100.I
                      TrailingStopDistanceToMarket: 10.1
                      TriggerPriceType: Ask
                      Uic: 1909050
                    Status: Placed
                    SubStatus: Requested
                    Uic: 2090
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    example: None
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    example: None
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/cs/v1/reports/aggregatedAmounts/{ClientKey}/{FromDate}/{ToDate}':
    get:
      tags:
        - Historical Report Data - Aggregated amounts
      description: Get all aggregated amounts between two dates
      operationId: AggregatedAmountGet
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $skiptoken
          in: query
          description: Specifies an entity id to start retrieving entries from. This is normally only used in generated nextlinks.
          schema:
            type: string
          example: B17D8890-3C7A-4A47-A9AA-01B022ED03A5
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the resource belongs.
          schema:
            title: The key of the account group to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the resource belongs.
          schema:
            title: The key of the account to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: path
          description: The key of the client to which the resource belongs.
          required: true
          schema:
            title: The key of the client to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: FromDate
          in: path
          description: From date
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10'
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
        - name: ToDate
          in: path
          description: To date
          required: true
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedAmountListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 255.71
                    AmountAccountCurrency: 255.71
                    AmountClass: NotAssigned
                    AmountClientCurrency: 255.71
                    AmountSubClass: NotAssigned
                    AmountTypeId: -3
                    AmountTypeName: Cash Balances
                    AmountUSD: 41.2259276277075
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-02'
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 0
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentUic: 0
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 660
                    AmountAccountCurrency: 4073.280255
                    AmountClass: NotAssigned
                    AmountClientCurrency: 4073.280255
                    AmountSubClass: NotAssigned
                    AmountTypeId: -6
                    AmountTypeName: Exposure
                    AmountUSD: 660
                    AssetType: StockIndexOption
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-02'
                    InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F15C15=xcbf
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1012706
                    UnderlyingInstrumentAssetType: StockIndex
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: -60
                    AmountAccountCurrency: -338.39
                    AmountClass: NotAssigned
                    AmountClientCurrency: -338.39
                    AmountSubClass: NotAssigned
                    AmountTypeId: -5
                    AmountTypeName: PnL
                    AmountUSD: -59.9998387785868
                    AssetType: StockIndexOption
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-02'
                    InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F15C15=xcbf
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1012706
                    UnderlyingInstrumentAssetType: StockIndex
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 660
                    AmountAccountCurrency: 4093.75
                    AmountClass: NotAssigned
                    AmountClientCurrency: 4093.75
                    AmountSubClass: NotAssigned
                    AmountTypeId: -4
                    AmountTypeName: Position Values
                    AmountUSD: 660.000161221413
                    AssetType: StockIndexOption
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-02'
                    InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F15C15=xcbf
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1012706
                    UnderlyingInstrumentAssetType: StockIndex
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 920
                    AmountAccountCurrency: 5708.84633
                    AmountClass: NotAssigned
                    AmountClientCurrency: 5708.84633
                    AmountSubClass: NotAssigned
                    AmountTypeId: -6
                    AmountTypeName: Exposure
                    AmountUSD: 920
                    AssetType: StockIndexOption
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-05'
                    InstrumentDescription: Volatility Index (VIX) Jan2015 15.000 C
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    InstrumentSymbol: VIX/F15C15=xcbf
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 1012706
                    UnderlyingInstrumentAssetType: StockIndex
                    UnderlyingInstrumentDescription: CBOE Volatility Index
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: VIX.I
                    UnderlyingInstrumentUic: 10606
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 8221.83
                    AmountAccountCurrency: 8221.83
                    AmountClass: NotAssigned
                    AmountClientCurrency: 8221.83
                    AmountSubClass: NotAssigned
                    AmountTypeId: -3
                    AmountTypeName: Cash Balances
                    AmountUSD: 1279.23418622562
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-16'
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 0
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentUic: 0
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 8221.83
                    AmountAccountCurrency: 8221.83
                    AmountClass: NotAssigned
                    AmountClientCurrency: 8221.83
                    AmountSubClass: NotAssigned
                    AmountTypeId: -3
                    AmountTypeName: Cash Balances
                    AmountUSD: 1283.89862269278
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-19'
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 0
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentUic: 0
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 489.99
                    AmountAccountCurrency: 489.99
                    AmountClass: NotAssigned
                    AmountClientCurrency: 489.99
                    AmountSubClass: NotAssigned
                    AmountTypeId: -3
                    AmountTypeName: Cash Balances
                    AmountUSD: 76.125594257838
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-20'
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 0
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentUic: 0
                  - AccountCurrency: DKK
                    AffectsBalance: true
                    Amount: -1186.5
                    AmountAccountCurrency: -7654.42
                    AmountClass: NotAssigned
                    AmountClientCurrency: -7654.42
                    AmountSubClass: NotAssigned
                    AmountTypeId: 2
                    AmountTypeName: Share Amount
                    AmountUSD: -1189.20237392412
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-20'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: true
                    Amount: -12
                    AmountAccountCurrency: -77.42
                    AmountClass: NotAssigned
                    AmountClientCurrency: -77.42
                    AmountSubClass: NotAssigned
                    AmountTypeId: 4
                    AmountTypeName: Commission
                    AmountUSD: -12.0280893639499
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-20'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 1220.1
                    AmountAccountCurrency: 7814.0291817
                    AmountClass: NotAssigned
                    AmountClientCurrency: 7814.0291817
                    AmountSubClass: NotAssigned
                    AmountTypeId: -6
                    AmountTypeName: Exposure
                    AmountUSD: 1220.1
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-20'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 21.5999999999999
                    AmountAccountCurrency: 121.46
                    AmountClass: NotAssigned
                    AmountClientCurrency: 121.46
                    AmountSubClass: NotAssigned
                    AmountTypeId: -5
                    AmountTypeName: PnL
                    AmountUSD: 18.8702109809528
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-20'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 1220.1
                    AmountAccountCurrency: 7853.3
                    AmountClass: NotAssigned
                    AmountClientCurrency: 7853.3
                    AmountSubClass: NotAssigned
                    AmountTypeId: -4
                    AmountTypeName: Position Values
                    AmountUSD: 1220.10067426902
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-20'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 489.99
                    AmountAccountCurrency: 489.99
                    AmountClass: NotAssigned
                    AmountClientCurrency: 489.99
                    AmountSubClass: NotAssigned
                    AmountTypeId: -3
                    AmountTypeName: Cash Balances
                    AmountUSD: 76.5131168019987
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-21'
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 0
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentUic: 0
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 1216.32
                    AmountAccountCurrency: 7750.3667136
                    AmountClass: NotAssigned
                    AmountClientCurrency: 7750.3667136
                    AmountSubClass: NotAssigned
                    AmountTypeId: -6
                    AmountTypeName: Exposure
                    AmountUSD: 1216.32
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-01-21'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: -13.4400000000001
                    AmountAccountCurrency: 2.65999999999985
                    AmountClass: NotAssigned
                    AmountClientCurrency: 2.65999999999985
                    AmountSubClass: NotAssigned
                    AmountTypeId: -5
                    AmountTypeName: PnL
                    AmountUSD: -13.4403072658449
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-02-04'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 1147.02
                    AmountAccountCurrency: 7527.49
                    AmountClass: NotAssigned
                    AmountClientCurrency: 7527.49
                    AmountSubClass: NotAssigned
                    AmountTypeId: -4
                    AmountTypeName: Position Values
                    AmountUSD: 1147.01987764089
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-02-04'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 489.99
                    AmountAccountCurrency: 489.99
                    AmountClass: NotAssigned
                    AmountClientCurrency: 489.99
                    AmountSubClass: NotAssigned
                    AmountTypeId: -3
                    AmountTypeName: Cash Balances
                    AmountUSD: 75.5504502281978
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-02-05'
                    InstrumentSectorName: <Unknown>
                    InstrumentSectorTypeId: 0
                    InstrumentSubType: None
                    RootInstrumentSectorName: <Unknown>
                    RootInstrumentSectorTypeId: 0
                    Uic: 0
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentUic: 0
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 1101.66
                    AmountAccountCurrency: 7109.20146552
                    AmountClass: NotAssigned
                    AmountClientCurrency: 7109.20146552
                    AmountSubClass: NotAssigned
                    AmountTypeId: -6
                    AmountTypeName: Exposure
                    AmountUSD: 1101.66
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-02-05'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: -45.3599999999999
                    AmountAccountCurrency: -382.56
                    AmountClass: NotAssigned
                    AmountClientCurrency: -382.56
                    AmountSubClass: NotAssigned
                    AmountTypeId: -5
                    AmountTypeName: PnL
                    AmountUSD: -45.3592756919588
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-02-05'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 1101.66
                    AmountAccountCurrency: 7144.93
                    AmountClass: NotAssigned
                    AmountClientCurrency: 7144.93
                    AmountSubClass: NotAssigned
                    AmountTypeId: -4
                    AmountTypeName: Position Values
                    AmountUSD: 1101.66060194893
                    AssetType: Stock
                    BookingAccountId: 179643INET
                    ClientCurrency: DKK
                    Date: '2015-02-05'
                    InstrumentDescription: Ubiquiti Networks Inc.
                    InstrumentSectorName: Telecommunications Equipment
                    InstrumentSectorTypeId: 684
                    InstrumentSubType: None
                    InstrumentSymbol: UBNT=xnas
                    RootInstrumentSectorName: Technology
                    RootInstrumentSectorTypeId: 510
                    Uic: 85485
                    UnderlyingInstrumentAssetType: Stock
                    UnderlyingInstrumentDescription: Ubiquiti Networks Inc.
                    UnderlyingInstrumentSubType: None
                    UnderlyingInstrumentSymbol: UBNT=xnas
                    UnderlyingInstrumentUic: 85485
                  - AccountCurrency: DKK
                    AffectsBalance: false
                    Amount: 489.99
                    AmountAccountCurrency: 489.99
                    AmountClass: NotAssigned
                    AmountClientCurrency: 489.99
                    AmountSubClass: NotAssigned
                    AmountTypeId: -3
                    AmountTypeName: Cash Balances
                    AmountUSD: 74.5129944190149
[...]
