openapi: 3.0.1
info:
  title: Services.ClientServices
  description: 'The Client Services service group provides end points for getting reports, managing subscriptions, Mifid and transferring funds.'
  version: 2.1.844+5ac80b7cee
  x-framework-version: 24.0.3+a37f5f8d74
  x-machine: DEVOAWEB11-DK1
servers:
  - url: https://blue.openapi.sys.dom/openapi
paths:
  /cs/v1/questionnaires/questionsettypes:
    get:
      tags:
        - Questionnaires - QuestionSetTypes
      description: Gets all the question set types
      operationId: QuestionSetTypesGetAsync
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionSetTypePagedResult'
              example: {
  "Data": [
    {
      "QuestionSetTypeId": "QuestionSetTypeIdd75b5ea5-ecc2-423d-944a-66b9f5b4af00",
      "QuestionSetTypeName": "QuestionSetTypeNamecd0f1f6a-2e14-48cb-9403-2bdb2da75ef5"
    }
  ],
  "NextId": "NextId0152e1aa-9a3a-4630-97d5-140b9534e334",
  "TotalCount": 801
}
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/targetmarkets/riskrewardprofiles:
    get:
      tags:
        - Target market assessment
      summary: Get risk reward profiles
      description: Gets all available risk reward profiles
      operationId: TargetMarketGetRiskRewardProfilesAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TMRiskElement'
              example: [
  {
    "Description": "Description774ad896-06ff-4922-ba8f-956f93f14aec",
    "Id": "Idc02c8915-f6f6-46fb-ba03-509137a6ab0c",
    "Name": "Name0a27750b-816c-4eef-b700-2c7a5da7c6b5",
    "Range": [
      15652
    ]
  }
]
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cs/v1/targetmarkets/{Uic}/{AssetType}':
    get:
      tags:
        - Target market assessment
      summary: Get target market assessment
      description: Endpoint to fetch target market assessment
      operationId: TargetMarketGetTargetMarketAssessmentAsync
      parameters:
        - name: AssetType
          in: path
          description: Asset Type
          required: true
          schema:
            $ref: '#/components/schemas/AssetType'
          example: Stock
        - name: Uic
          in: path
          description: Instrument uic
          required: true
          schema:
            type: integer
            format: int32
          example: 124578
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TMAssessment'
              example: {
  "AbilityToBearLosses": [
    {
      "Description": "Partial loss of capital possible, protection between 0% and 100%",
      "Id": "2",
      "Name": "Partially protected capital",
      "Rating": "Positive"
    }
  ],
  "ClientType": [
    {
      "Description": "Instrument suitable for professional clients only",
      "Id": "2",
      "Name": "Professional",
      "Rating": "Positive"
    }
  ],
  "EfficiencyProfile": [
    {
      "Description": "Can be sold online or without advisory",
      "Id": "1",
      "Name": "Execution only",
      "Rating": "Positive"
    },
    {
      "Description": "Can be sold with investment advisory only",
      "Id": "2",
      "Name": "Advised",
      "Rating": "Positive"
    }
  ],
  "InvestmentHorizon": [
    {
      "Description": "Investment shall provide current or future retirement income",
      "Id": "2",
      "Name": "Retirement provision",
      "Rating": "Positive"
    }
  ],
  "KnowledgeAndExperiences": [
    {
      "Description": "Instrument requires basic knowledge and experience",
      "Id": "1",
      "Name": "Basic",
      "Rating": "Positive"
    },
    {
      "Description": "Instrument requires intermediate knowledge and experience",
      "Id": "2",
      "Name": "Intermediate",
      "Rating": "Positive"
    }
  ],
  "Risk": {
    "Description": "Profile with higher risk and corresponding expected return",
    "Id": "1",
    "Name": "Speculative",
    "Rating": 6
  }
}
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/online:
    post:
      description: Attempts to take the application online
      operationId: cs_online
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-application-visibility: saxo-only
      x-network-visibility: internal
  '/cs/v1/accounttransfer/{ClientKey}':
    get:
      tags:
        - Whole Account Transfer
      description: Get Whole Account transfer details.
      operationId: WholeAccountTransferGetTransferDetails
      parameters:
        - name: ClientKey
          in: path
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: TransferIDs
          in: query
          description: Comma separate list of Transfer IDs
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        '200':
          description: Indicates that the request was performed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WholeAccountTransferReportData'
              example: {
  "AccountIDInSaxo": "AccountIDInSaxo827aa850-e289-4366-8d3c-09ac626c0f10",
  "ClientId": "ClientId002c7264-6a74-46b5-940d-122c32049b64",
  "ClientName": "ClientName44acbe94-49c6-4d35-a9ba-2d201d4a6352",
  "ExternalAccountId": "ExternalAccountId226c7504-7c4e-4cf1-9c16-a5533e78f1c7",
  "InstrumentDetails": [
    {
      "Currency": "Currency4c3d3b90-c5cc-4389-8edf-633d675af208",
      "Description": "Description9075051c-1f7f-49e7-b591-b345e669ac1a",
      "Exchange": "Exchangedb1c8543-1aca-4901-b3b0-81affa11cdca",
      "ExchangeText": "ExchangeTexteb7234f2-ad1f-45bc-8277-c7895d090484",
      "InstrumentSymbolCode": "InstrumentSymbolCode1936f5ea-9e2e-4712-a32e-0856cc224bde",
      "IsinCode": "IsinCode68c933bd-8409-4a06-bf70-fa5343cebd2b",
      "Price": -449268022316543.81,
      "PurchaseDate": "2021-12-08",
      "Quantity": -2895949707370661.0,
      "Uic": "Uic4300b07d-4a03-4def-b4ff-a7b763f1ee1d"
    }
  ],
  "SettlementMarketId": "SettlementMarketId7cf6941b-0bc6-40db-a346-718ce9157452",
  "SubmissionDate": "2020-05-16",
  "TransferType": "TransferOut"
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/accounttransfer/settlementmarkets:
    get:
      tags:
        - Whole Account Transfer
      summary: Retrieve settlement markets used for whole account transfer
      description: Retrieves settlement markets used for whole account transfer
      operationId: WholeAccountTransferGetSettlementMarkets
      responses:
        '200':
          description: Indicates that the request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SettlementMarket'
              example: [
  {
    "Description": "Australia",
    "SettlementMarketId": "1"
  },
  {
    "Description": "Austria",
    "SettlementMarketId": "2"
  },
  {
    "Description": "Belgium",
    "SettlementMarketId": "3"
  },
  {
    "Description": "Canada",
    "SettlementMarketId": "4"
  },
  {
    "Description": "Finland",
    "SettlementMarketId": "5"
  },
  {
    "Description": "France",
    "SettlementMarketId": "6"
  },
  {
    "Description": "Germany",
    "SettlementMarketId": "7"
  }
]
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/accounttransfer:
    post:
      tags:
        - Whole Account Transfer
      summary: Request whole account transfer
      description: Request whole account transfer
      operationId: WholeAccountTransferTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Models.TransferDetails'
            example: {
  "ClientDetails": {
    "AccountKey": "zsnh|NO42RmzjC4oPovKGA==",
    "ExternalAccountId": "APKE000000000000000",
    "SettlementMarketId": "2"
  },
  "InstrumentDetails": [
    {
      "AssetType": "Stock",
      "Price": 194.82,
      "PurchaseDate": "2019-03-02",
      "Quantity": 1.0,
      "Uic": 899
    }
  ],
  "TransferType": "TransferIn"
}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WholeAccountTransferResponse'
              example: {
  "TransferReferenceId": "63HGCDS3E89DS"
}
        '202':
          description: Indicates that the request was accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/isalive:
    get:
      description: Determines whether this service-group instance is alive.
      operationId: cs_isalive
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
              example: "32fa06b8-4044-4b5f-82c1-9ac38b2206f1"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cs/v1/mifid/productareas:
    get:
      tags:
        - MiFID - Product Areas
      summary: Get product areas
      operationId: ProductAreaGetProductAreas
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductAreaResponse'
              example: [
  {
    "ProductAreaId": 0,
    "ProductAreaName": "All"
  },
  {
    "ProductAreaId": 1,
    "ProductAreaName": "Forex Spot"
  },
  {
    "ProductAreaId": 2,
    "ProductAreaName": "Forex Forwards"
  },
  {
    "ProductAreaId": 3,
    "ProductAreaName": "Forex Options"
  },
  {
    "ProductAreaId": 4,
    "ProductAreaName": "Futures"
  }
]
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/cashmanagement/creditcard/Logos:
    get:
      tags:
        - Cash Management – CreditCard
      description: Get logos by definitionId or payment provider type.
      operationId: CreditCardGetLogosForPaymentProvider
      parameters:
        - name: DefinitionIds
          in: query
          description: Creditcard definitionId ID
          schema:
            type: array
            items:
              type: integer
              format: int32
          example: 23
        - name: PaymentProvider
          in: query
          description: payment provider
          schema:
            $ref: '#/components/schemas/PaymentProviderNullable'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardLogoResponse'
              example: {
  "CreditCardLogos": [
    {
      "ContentType": "gif",
      "Data": "R0lGODlhMAAeAHAAACwAAAAAMAAeAIf3//8ICGPevd73rQAhIWv3787W1uYpa1rvEN7vEFqtEN6tEFopShnvEJzvEBmtEJytEBmU76XvpVKtpVKUtRkIa1rOEN7OEFqMEN6MEFoIShnOEJzOEBmMEJyMEBmUzqXOpVKMpVKUlBlKSpz3pSlra5ytpbXW5pwpGTopGRCU7+bv5lKt5lKU5inmnLW1pZQIGToIGRCUzubO5lKM5lKU5gjmnJTWpSmUlObWnOYpKZyMnLW1zt6Mc5wpQlpKa5xrjJwIIWMpSpxKSlpr797vc95ra97vc1pra1pr71rvMd7vMVopa94p794p71qtMd6tMVprKd4pKd6tc95rrd5rKVqtc1prrVoprd4prVopaxnvMZzvMRmtMZytMRmtc5y176VrrZxraxkpa5xr75zvc5zvcxlr7xkp75wp7xlrKZxrKRmtcxlrrRkprZwprRnvpXOtpXO1tRkIKZxKrZxKa1oIa5xK797Oc95Ka97Oc1pK71oIa94I794I71pKKd4IKd6Mc95Krd5KKVqMc1pKrVoIrd4IrVpKaxlK75zOc5zOcxlK7xkI75wI7xlKKZxKKRmMcxlKrRkIrZwIrRlrSpwpCJyMUpwIQlprzt7vUt5rSt7vUlprSlprzlrOMd7OMVopSt4pzt4pzlqMMd6MMVprCN4pCN6tUt5rjN5rCFqtUlprjFopjN4pjFoIaxnOMZzOMRmMMZyMMRmtUpy1zqVrShlrzpzvUpzvUhlrzhkpzpwpzhlrCJxrCBmtUhlrjBkpjJwpjBnOpXOMpXO1lBkICJxKjJwISpxKzt7OUt5KSt7OUlpKzloISt4Izt4IzlpKCN4ICN6MUt5KjN5KCFqMUlpKjFoIjN4IjFpKShlKzpzOUpzOUhlKzhkIzpwIzhlKCJxKCBmMUhlKjBkIjJwIjBne7++1td7W5s7mzinv5nPm7ym17+at5nO15inmvbWMpZTmzgjO5nPm7wiM5nO15gjmvZS1lOb35pyUrd73nOYpCGPWpQj35u/3/+8I/wABGBhIsKDBgwgTKjQgkIDDhxAjSpxIsWIAdAYIBNioUWOAjhw/hvQIUiRJkSZDmjAQ5CNIhyZfyoxJs+PMiwYGCSGgg6ePnjp0/OQpFGhRokODJiWws2dTpgTQCTRwjurAqlWtZsV61arWrlu9ZjXwD4DZs2jTql3Ltm1bA/7i+it7Vu4/uWf/DUznL21cum7P7hhB4GeJuiN8jAAAhMAIAQDSVdKoYxBDAP5K7NwRWC06j30BmNi4QwCBICMK7Nho8vJqfgEWd05bYqNUACM2DtRY4p+OjyZ4mNjR11+ljUH4AZ4NAF0AGJz9bVy8OgBnjmrTBUCt8TLzhgEqAf8oAePi+NOQPQYoERr3x4zmv2POPcJ37ALnchNgmBHmCIb+tFTCObzJZ9YOQRCwg0ZAYKaRbAJVtx4A1cFF33KzjcaTQ32h0xJxaHkYwA8ADPJRT6cR0B5zBJ42IYUbmUDhSgJU14OHOrTEET+3yfeISJcdF8BAsMG00Tm1EVCCCfo0Zp2BFPrg2FlSEiAQYQkS8IMBpimJGAE9QOmPADzMZRZBZvnDgwAYleUPmmfBCWVnJqSDTnsYYjhnW5mhswM6K5kgQAnoAMpmaXsGZsAOBphQwg476HPODiYwOVylKyaqlgkYnWOCPyacU6honXqH1j//FKDqqqy26moBd6l26g+ss8Jqa6y22gpAASSoI4E6JKxAQrC9/kqssML6Ciywyfbq7LLPOtsrrANUa+212Gar7bbaylNtPgVU66241o677bjmokvuAN6aay24wK7LbrnzqjvvuuqIS4K8A+Q7bj67qprqwAK7mmquB+eq8MEJF/xPQAA7",
      "DefinitionId": 1,
      "Height": 30.0,
      "Width": 48.0
    }
  ]
}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cs/v1/cashmanagement/creditcard/Logo/{DefinitionId}':
    get:
      tags:
        - Cash Management – CreditCard
      description: Gets logo by definitionId
      operationId: CreditCardGetLogo
      parameters:
        - name: DefinitionId
          in: path
          description: CreditCard definition ID
          required: true
          schema:
            type: integer
            format: int32
          example: 2
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/cashmanagement/creditcard/Confirm:
    get:
      tags:
        - Cash Management – CreditCard
      description: Returns the result of a transaction
      operationId: CreditCardConfirmTransaction
      parameters:
        - name: MerchantData
          in: query
          description: Merchant data sent by card issuer bank.
          schema:
            title: Merchant data sent by card issuer bank.
            type: string
          example: "32fa06b8-4044-4b5f-82c1-9ac38b2206f1"
        - name: PageResponse
          in: query
          description: Token as a page response sent by card issuer bank.
          schema:
            title: Token as a page response sent by card issuer bank.
            type: string
          example: "32fa06b8-4044-4b5f-82c1-9ac38b2206f1"
        - name: PaymentProvider
          in: query
          description: Payment provider to use for payment service
          schema:
            title: Payment provider to use for payment service
            allOf:
              - $ref: '#/components/schemas/PaymentProviderNullable'
          example: "Trustly"
        - name: RedirectUrl
          in: query
          description: "Redirect Url when user will be redirected from payment \r\n            service provider to Saxo environment."
          required: true
          schema:
            title: "Redirect Url when user will be redirected from payment \r\n            service provider to Saxo environment."
            type: string
          example: "32fa06b8-4044-4b5f-82c1-9ac38b2206f1"
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatusResponse'
              example: {
  "Account": "Accountb1532ec2-f66d-4704-a2a1-2a91639836e3",
  "AccountAmount": 1345552598964751.5,
  "Amount": 5.44241128412655E+27,
  "AmountToTransfer": -4818.2214979935161,
  "CardDescription": "CardDescription9adb49d1-49c3-450f-8bc8-37a8ee3cdcc7",
  "ExchangeRate": -20102129272.902042,
  "Fee": 2888486743017.8916,
  "FromCurrency": "FromCurrencya4dec58b-9f68-48f8-8ff2-c8edb0f8d346",
  "PaymentId": "PaymentId18a7bdfa-449e-4dc7-9554-d8bd10a69624",
  "ToCurrency": "ToCurrency55ded54d-6dd6-49d2-a665-acd1fa80995c",
  "TransactionResult": "TransactionDeclined"
}
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/cashmanagement/creditcard/ConfirmTransaction:
    post:
      tags:
        - Cash Management – CreditCard
      summary: Returns status of credit card transaction
      description: Returns the status of a transaction.
      operationId: CreditCardConfirm2Transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorldPayTransactionInformations'
            example: {
  "error": "Error4a2f64aa-3c9d-4d38-8c84-da16fa4c3c7b",
  "gateway": {
    "mac": "Macc5caad8a-c773-4047-90e8-c7ded6d4ce15",
    "orderKey": "OrderKey52808173-1c59-4de1-ac20-7656849a90a1",
    "paymentAmount": "PaymentAmount38fe6d14-807e-485c-8a9a-b18ee87358e4",
    "paymentCurrency": "PaymentCurrencyc6577316-c7c0-4e48-a7b3-1eb1b9925fa4",
    "paymentStatus": "PaymentStatus61ea940f-7720-4ea4-8c95-02cf126bdc70"
  },
  "order": {
    "orderKey": "OrderKey741b9f7f-9da0-47d7-afae-ed1a7b22c2c2",
    "status": "Cancelled_By_Shopper"
  }
}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatusResponse'
              example: {
  "Account": "Accountb1532ec2-f66d-4704-a2a1-2a91639836e3",
  "AccountAmount": 1345552598964751.5,
  "Amount": 5.44241128412655E+27,
  "AmountToTransfer": -4818.2214979935161,
  "CardDescription": "CardDescription9adb49d1-49c3-450f-8bc8-37a8ee3cdcc7",
  "ExchangeRate": -20102129272.902042,
  "Fee": 2888486743017.8916,
  "FromCurrency": "FromCurrencya4dec58b-9f68-48f8-8ff2-c8edb0f8d346",
  "PaymentId": "PaymentId18a7bdfa-449e-4dc7-9554-d8bd10a69624",
  "ToCurrency": "ToCurrency55ded54d-6dd6-49d2-a665-acd1fa80995c",
  "TransactionResult": "TransactionDeclined"
}
        '200':
          description: Indicates that the request was performed correctly.
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/cashmanagement/creditcard/TransactionStatuses:
    post:
      tags:
        - Cash Management – CreditCard
      summary: Returns status of credit card transaction
      description: Returns the status of a transaction.
      operationId: CreditCardTransactionStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionStatusRequest'
            example: {
  "MerchantData": "MerchantData7867e49c-3e0e-4b5f-b484-827314e42839",
  "PageResponse": "PageResponsea39a8724-00db-4226-84c0-75d24111d93d",
  "PaymentProvider": "Paytrail",
  "RedirectUrl": "RedirectUrlf6b330b0-36f3-4048-b9c5-f24e946c9f3b"
}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatusResponse'
              example: {
  "Account": "Accountb1532ec2-f66d-4704-a2a1-2a91639836e3",
  "AccountAmount": 1345552598964751.5,
  "Amount": 5.44241128412655E+27,
  "AmountToTransfer": -4818.2214979935161,
  "CardDescription": "CardDescription9adb49d1-49c3-450f-8bc8-37a8ee3cdcc7",
  "ExchangeRate": -20102129272.902042,
  "Fee": 2888486743017.8916,
  "FromCurrency": "FromCurrencya4dec58b-9f68-48f8-8ff2-c8edb0f8d346",
  "PaymentId": "PaymentId18a7bdfa-449e-4dc7-9554-d8bd10a69624",
  "ToCurrency": "ToCurrency55ded54d-6dd6-49d2-a665-acd1fa80995c",
  "TransactionResult": "TransactionDeclined"
}
        '200':
          description: Indicates that the request was performed correctly.
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/cashmanagement/creditcard/TransactionRequests:
    post:
      tags:
        - Cash Management – CreditCard
      summary: Initiate credit card transaction
      description: 'Initiate a credit card transaction request. If initial parameter validation succeeds the endpoint will return a url, which the client application must use to proceed with the payment.'
      operationId: POST_CreditCardRequestTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'
            example: {
  "FailureUrl": "FailureUrlfcca2d74-0f7f-4c45-b5b6-a0d56ca56a02",
  "InstallationId": "InstallationId0dd6b5b6-830b-4ece-a35c-33c447528401",
  "IsRecurringPayment": false,
  "IssuerCountryCode": "IssuerCountryCode5cdfaeb8-420f-48da-857a-b097e0860299",
  "PaymentId": "PaymentId8cb03e29-c626-46ca-b901-bd9147f52708",
  "SuccessUrl": "SuccessUrlf980da35-62a6-41f6-b3fd-289b3fa5ada8"
}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
              example: {
  "CupPostData": {
    "key8583d279-4eef-49af-ad62-9067b67ac182": "value4a9406cc-2676-4e56-95f5-de222e66b61c"
  },
  "Is3DSecureScheme": true,
  "Method": "Methodc4a039fc-37f0-40ea-8342-75a5d664e26f",
  "RedirectUrl": "RedirectUrl845fbdf5-89bb-4821-af99-c218d53d0187",
  "Secure3DPostData": {
    "key7e310285-5736-45b6-8c93-35a77e9f652f": "valueec16d327-10a9-4ac0-8140-3df90cb103ab"
  }
}
        '200':
          description: Indicates that the request was performed correctly.
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/cashmanagement/creditcard/Transaction:
    post:
      tags:
        - Cash Management – CreditCard
      summary: Initiate credit card transaction
      description: 'Initiate a credit card transaction request. If initial parameter validation succeeds the endpoint will return a url, which the client application must use to proceed with the payment.'
      operationId: CreditCardRequestTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorldPayTransactionRequest'
            example: {
  "InstallationId": "InstallationId9bfab45e-4e73-438b-9f22-c68d937f0745",
  "IsRecurringPayment": false,
  "IssuerCountryCode": "IssuerCountryCode3a598b8a-f13c-4cea-8fe2-16a627911dfa",
  "PaymentId": "PaymentId336af75b-ebb1-4583-8027-b6547e0a86d7",
  "RegisteredCardId": "RegisteredCardId5e7922df-fb48-4b1f-b75e-69fb9fd0c49e"
}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldPayTransactionResponse'
              example: {
  "Country": "Countryda6ca6a1-cf34-4db3-ba79-8c4b17bab1a0",
  "CupPostData": {
    "key2bb81904-e89c-4d55-825b-cddf7ce29a38": "valuec8b66c22-a0ab-4e16-af90-bc9b497b105b"
  },
  "Is3DSecureScheme": true,
  "Language": "Language64db7d66-3332-4601-9475-a01e8783260e",
  "Method": "Methoddd973eae-c2c1-48e4-9ca2-c6962c2966b7",
  "PreferedPaymentMethod": "PreferedPaymentMethod3b2b72dd-96f1-464b-a84e-d0e938b145a1",
  "Secure3DPostData": {
    "key996ef295-f047-42b2-8c73-fd68ebbb4278": "value1d2ef76b-5803-4487-9bea-5716f564b04e"
  },
  "Url": "Urlc6b40fc2-3669-48fb-8c58-af0052be5b6e"
}
        '200':
          description: Indicates that the request was performed correctly.
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/cashmanagement/creditcard/Preview:
    get:
      tags:
        - Cash Management – CreditCard
      summary: Return preview of transaction
      description: Returns a preview of what charges and deposits will take place if the client goes ahead with the transaction
      operationId: CreditCardGetPreview
      parameters:
        - name: AccountKey
          in: query
          description: The account to transfer to.
          required: true
          schema:
            title: The account to transfer to.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: "3e76e8c3-bb23-4912-86e0-7a387d5c7a2d"
        - name: Amount
          in: query
          description: The ammount to transfer
          required: true
          schema:
            title: The ammount to transfer
            type: number
          example: -6.7149380605825666
        - name: CardDefinitionId
          in: query
          description: The card definition id
          required: true
          schema:
            title: The card definition id
            type: string
          example: "32fa06b8-4044-4b5f-82c1-9ac38b2206f1"
        - name: Currency
          in: query
          description: The currency to transfer the amount in.
          required: true
          schema:
            title: The currency to transfer the amount in.
            type: string
          example: "32fa06b8-4044-4b5f-82c1-9ac38b2206f1"
        - name: IsAutoTrading
          in: query
          description: 'If the account is an AutoTrading account, this has to be set as true'
          schema:
            title: 'If the account is an AutoTrading account, this has to be set as true'
            type: boolean
          example: false
        - name: IssuerCountryCode
          in: query
          description: The creditcard issuer country
          required: true
          schema:
            title: The creditcard issuer country
            type: string
          example: "32fa06b8-4044-4b5f-82c1-9ac38b2206f1"
        - name: PaymentId
          in: query
          description: The payment id to use.
          required: true
          schema:
            title: The payment id to use.
            type: string
          example: "32fa06b8-4044-4b5f-82c1-9ac38b2206f1"
        - name: RegisteredCardId
          in: query
          description: 'If using a existing card, this should be set.'
          schema:
            title: 'If using a existing card, this should be set.'
            type: string
          example: "32fa06b8-4044-4b5f-82c1-9ac38b2206f1"
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewResponse'
              example: {
  "Amount": 7.0758292192546848E+28,
  "AmountToCharge": 3.8544093947744126E+28,
  "AmountToDeposit": -4488756.4582446963,
  "DisplayFeeDisclaimer": true,
  "ExchangeRate": 124068425.62394036,
  "FromCurrency": "FromCurrencyd4edf7f2-357e-47c5-a862-e9317298f03c",
  "ToCurrency": "ToCurrency1bfdef82-d60f-4448-a45e-b88dd4846383",
  "TransactionFee": -5.1425872495147233,
  "TransferredFromCardAmount": 5893.2300000000005,
  "TransferredFromCardCurrency": "TransferredFromCardCurrency40720c01-15bc-4a07-aedf-d71e84abcbd0"
}
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /cs/v1/cashmanagement/creditcard/TransactionOptions:
    get:
      tags:
        - Cash Management – CreditCard
      description: Gets all available transaction options for credit card
      operationId: CreditCardGetTransactionOptions
      parameters:
        - name: PaymentProvider
          in: query
          schema:
            $ref: '#/components/schemas/PaymentProviderNullable'
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionOptions'
              example: {
  "CardDefinitions": [
    {
      "BrandId": "BrandIda0a0d550-ee78-47b6-8d61-e6d804d3bd40",
      "CardDefinitionId": "CardDefinitionId1ea72f10-92df-4de7-bc30-a94c14ed4162",
      "LockedCountry": "LockedCountry77b1fefd-0769-43d2-a644-fa91394e781e",
      "LockedCurrency": "LockedCurrency19884bd6-c18f-443a-b3bc-60f4bc69ae73",
      "Name": "Name536431f3-3623-4feb-8cb5-bf9429255c20",
      "ProviderId": "ProviderId04de98c1-0e22-4089-aab8-247d1efa32d9"
    }
  ],
  "Countries": [
    {
      "CountryCode": "CountryCode1279e54f-4b0f-4938-88c5-54b11aa21e8e",
      "CountryName": "CountryName8055a0b2-15fa-4f6e-9b21-f359fe522102"
    }
  ],
  "Currencies": [
    "c8547b5b-bada-4c0f-81a5-125e0ff18e41"
  ],
  "IsAddNewCardAllowed": true,
  "MaximumAllowedStoredCards": 32659,
  "PaymentId": "PaymentId5ef0106a-55db-4a1e-a843-a8d7004e1063",
  "RestrictedCardDefinitions": [
    {
      "BrandId": "BrandId32f8d2e2-a291-445d-9441-de55d6959b88",
      "CardDefinitionId": "CardDefinitionId1db30b53-123f-4dc9-98bc-529385f688fb",
      "LockedCountry": "LockedCountrydc765e44-393a-4a6b-9537-8d55a3d484f7",
      "LockedCurrency": "LockedCurrencyc99c45f0-10c4-401f-a670-d2c009180f8f",
      "Name": "Namee834bdf5-201c-40d5-951c-c3be0fae59ed",
      "ProviderId": "ProviderId8fb49cce-c528-48b2-bf56-0e386d0eafc3"
    }
  ],
  "StoredCards": [
    {
      "CardDefinitionId": "CardDefinitionIda5767c29-f27e-4a5c-a035-3014d8ac91db",
      "CardNumber": "CardNumber50c61931-b74e-4d3b-b66c-a89b525d2a70",
      "IssuerCountry": "IssuerCountrydbaf8584-85e4-4538-96d8-dbf371f26f5a",
      "RegisteredCardId": "RegisteredCardId23849a9b-488d-46a0-8d7f-e833daa9c828"
    }
  ],
  "SubsidiaryAddress": "SubsidiaryAddressba6825b8-a634-49f8-a60f-89d801238d4a"
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cs/v1/tradingconditions/ContractOptionSpaces/{AccountKey}/{OptionRootId}':
    get:
      tags:
        - Trading Conditions - Contract Option
      summary: Get trading conditions for a contract option.
      description: "Trading conditions for all exchange traded options and synthetic options(OTC). \r\n             Trading conditions details default behavior for the option (can it be traded and how), \r\n             margin requirements for opening and holding a position in an option (how much cash is needed on the account) \r\n             as well as the cost structure of opening, closing and holding a position."
      operationId: ContractOptionGetForContractOption
      parameters:
        - name: AccountKey
          in: path
          description: The account key to lookup the conditions for
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 7m4I|vtYLUnEGg77o9uQhw==
        - name: FieldGroups
          in: query
          description: Specify which field groups to return
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ScheduledTradingConditionsFieldGroup'
        - name: OptionRootId
          in: path
          description: The optionRootId for the option to lookup
          required: true
          schema:
            type: integer
            format: int32
          example: 32
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOptionTradingConditionsResponse'
              example: {
  "AccountCurrency": "GBP",
  "AssetType": "FxSpot",
  "CarryingCost": {
    "FixedRate": 1.0,
    "InterbankRate": {
      "AskRate": 2.0,
      "BidRate": 1.0,
      "TradeDate": "2022-04-05"
    },
    "MarkUpRate": 1.5
  },
  "CommissionLimits": [
    {
      "Currency": "USD",
      "OrderAction": "ExecuteOrder",
      "PerUnitRate": 6.0
    }
  ],
  "CurrencyCutSpreadRate": 0.5,
  "ExerciseCutoffTime": "2022-04-10T06:05:13.828277Z",
  "ExerciseCutOffTime": "16:30:00",
  "ExpirationTime": "14:30:00",
  "ExpiryTime": "2022-04-11T06:05:13.828277Z",
  "ExposureLimits": [
    {
      "Identifier": "CL",
      "Level": "BaseContractNet",
      "RuleType": "Amount",
      "Value": 200.0
    }
  ],
  "FinanceInterestMarkUp": 9.99,
  "HoldingFee": {
    "FromPeriodInDays": 120,
    "Value": 1.6
  },
  "InstrumentCurrency": "USD",
  "IsTradable": true,
  "MarginRequirement": {
    "MinimumUnderlyingValue": 0.5,
    "Premium": 1.0,
    "TradingProfile": "Basic",
    "UnderlyingValueOvernightExposure": 1.0
  },
  "PortfolioBasedMargin": {
    "ExtremeStressFactor": 15.6,
    "Initial": 185.5,
    "IntraWeek": 8.7,
    "LiquidityThresholdAmount": 569987.0,
    "LiquidityThresholdCurrency": "USD",
    "VolatilityAddOn": 1000.68,
    "VolatilityStress": 100.0
  },
  "Rating": 5.0,
  "SettlementStyle": "PhysicalDelivery",
  "SwapInterestMarkUp": 1.11,
  "Uic": 0
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotFoundError
                    type: string
                    x-enum-descriptions:
                      NotFoundError: Not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /cs/v2/cashmanagement/interaccounttransfers:
    post:
      tags:
        - CashManagement - Inter Account Transfer
      description: Interaccount transfer
      operationId: InterAccountTransferTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
            example: {
  "Amount": 1000.0,
  "Currency": "JPY",
  "FromAccountKey": "-gh-xomNFSNUYdRL0KrPpg==",
  "IsAutoTrading": false,
  "ToAccountKey": "y3kFQWkqJYMgOgaxcoqshA=="
}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResult'
              example: {
  "Commission": 0.0,
  "FromAccountAmount": 9.0776625,
  "FromAccountCurrency": "USD",
  "ToAccountAmount": 1000.0,
  "ToAccountCurrency": "JPY"
}
        '200':
          description: Indicates that the transfer was performed correctly.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/cs/v1/reports/trades/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Trades
      description: Gets all trades for dates or tradeId.
      operationId: TradesGetDetailsAsync
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $skiptoken
          in: query
          schema:
            type: string
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the resource belongs.
          schema:
            title: The key of the account group to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: "valuee2441c25-4e71-4162-8f02-f3faeebdf0fc"
        - name: AccountKey
          in: query
          description: The key of the account to which the resource belongs.
          schema:
            title: The key of the account to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: "3e76e8c3-bb23-4912-86e0-7a387d5c7a2d"
        - name: ClientKey
          in: path
          description: The key of the client to which the resource belongs.
          required: true
          schema:
            title: The key of the client to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: "7309a5ef-be28-4aef-885e-f5c1aa6e05e8"
        - name: FromDate
          in: query
          description: 'from date in UTC, ignored when tradeId is given'
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2016-10-10T00:00:00.0000000+00:00'
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
        - name: ToDate
          in: query
          description: 'to date in UTC, ignored when tradeId is given'
          schema:
            type: string
            format: date
            x-type-name: Date
          example: '2017-10-10T00:00:00.0000000+00:00'
        - name: TradeId
          in: query
          description: 'trade id, accountkey is mandatory with tradeId'
          schema:
            type: string
          example: 293832
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeListResult'
              example: {
  "__next": "/openapi/....../?$top=1&$skip=1",
  "Data": [
    {
      "AccountCurrency": "AUD",
      "AccountCurrencyDecimals": 0,
      "AccountId": "148455INET",
      "AdjustedTradeDate": "2010-10-10",
      "Amount": -100000.0,
      "AssetType": "FxSpot",
      "ClientCurrency": "AUD",
      "Direction": "None",
      "ExchangeDescription": "Inter Bank",
      "InitialMargin": 0.0,
      "InstrumentCurrencyDecimal": 2,
      "InstrumentDescription": "Australian Dollar/US Dollar",
      "InstrumentSectorName": "Major",
      "InstrumentSectorTypeId": 2,
      "InstrumentSymbol": "AUDUSD",
      "MaintenanceMargin": 0.0,
      "OrderId": "735126300",
      "Price": 0.73356,
      "RootInstrumentSectorName": "FX",
      "RootInstrumentSectorTypeId": 1,
      "Strike": 0.0,
      "ToOpenOrClose": "ToClose",
      "TradeBarrierEventStatus": false,
      "TradeDate": "2015-10-12",
      "TradedValue": 73356.0,
      "TradeEventType": "Sold",
      "TradeExecutionTime": "2015-10-12T04:26:47Z",
      "TradeId": "861198960",
      "TradeType": "Market",
      "Uic": 4,
      "UnderlyingInstrumentDescription": "Australian Dollar/US Dollar",
      "UnderlyingInstrumentSymbol": "AUDUSD",
      "ValueDate": "2015-10-14",
      "Venue": "OTC"
    }
  ]
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/cs/v1/reports/bookings/{ClientKey}':
    get:
      tags:
        - Historical Report Data - Bookings
      description: Get all bookings for ClientKey between two dates or by specifying a combination of FilterType and FilterValue.
      operationId: BookingGet
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $skiptoken
          in: query
          schema:
            type: string
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the resource belongs.
          schema:
            title: The key of the account group to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: "valuee2441c25-4e71-4162-8f02-f3faeebdf0fc"
        - name: AccountKey
          in: query
          description: The key of the account to which the resource belongs.
          schema:
            title: The key of the account to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: "3e76e8c3-bb23-4912-86e0-7a387d5c7a2d"
        - name: ClientKey
          in: path
          description: The key of the client to which the resource belongs.
          required: true
          schema:
            title: The key of the client to which the resource belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: "7309a5ef-be28-4aef-885e-f5c1aa6e05e8"
        - name: FilterType
          in: query
          description: 'Type, basis on which bookings are reterived. If specified you must also specify a FilterValue'
          schema:
            $ref: '#/components/schemas/BookingRequestTypeNullable'
        - name: FilterValue
          in: query
          description: Id for the specified filter type.
          schema:
            type: string
        - name: FromDate
          in: query
          description: 'From date, ignored when filterType and filterValue are not null'
          schema:
            type: string
            format: date
            x-type-name: Date
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
        - name: ToDate
          in: query
          description: 'To date, ignored when filterType and filterValue are not null'
          schema:
            type: string
            format: date
            x-type-name: Date
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingListResult'
              example: {
  "__next": "/openapi/....../?$top=1&$skip=1",
  "Data": [
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -1.03999996185303,
      "AmountAccountCurrency": 6.62,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": 6.62,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": 1.03602616670318,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3042746175",
      "BkAmountType": "Exchange Fee",
      "BkAmountTypeId": "30",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-01-15",
      "InstrumentDescription": "Volatility Index (VIX) Jan2015 15.000 C",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/F15C15:xcbf",
      "RelatedPositionId": "773603907",
      "RelatedTradeId": "773603907",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 1012706,
      "UnderlyingInstrumentDescription": "CBOE Vloatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-01-15"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": 1260.0,
      "AmountAccountCurrency": 8010.89,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": 8010.89,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": 1253.69964631131,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3042746174",
      "BkAmountType": "Premium",
      "BkAmountTypeId": "12",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-01-15",
      "InstrumentDescription": "Volatility Index (VIX) Jan2015 15.000 C",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/F15C15:xcbf",
      "RelatedPositionId": "773603907",
      "RelatedTradeId": "773603907",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 1012706,
      "UnderlyingInstrumentDescription": "CBOE Vloatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-01-15"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -6.0,
      "AmountAccountCurrency": -38.15,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -38.15,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": 5.97045290932424,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3042742814",
      "BkAmountType": "Commission",
      "BkAmountTypeId": "4",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-01-15",
      "InstrumentDescription": "Volatility Index (VIX) Jan2015 15.000 C",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/F15C15:xcbf",
      "RelatedPositionId": "773603907",
      "RelatedTradeId": "773603907",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 1012706,
      "UnderlyingInstrumentDescription": "CBOE Vloatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-01-15"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -1186.5,
      "AmountAccountCurrency": -7654.42,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -7654.42,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -1189.20237392412,
      "AssetType": "Stock",
      "BkAmountId": "3052212830",
      "BkAmountType": "Share Amount",
      "BkAmountTypeId": "2",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-01-20",
      "InstrumentDescription": "Ubiquiti Networks Inc.",
      "InstrumentSectorName": "Telecommunications Equipment",
      "InstrumentSectorTypeId": 684,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "UBNT:xnas",
      "RelatedPositionId": "775130723",
      "RelatedTradeId": "775130723",
      "RootInstrumentSectorName": "Technology",
      "RootInstrumentSectorTypeId": 510,
      "Uic": 85485,
      "UnderlyingInstrumentAssetType": "Stock",
      "UnderlyingInstrumentDescription": "Ubiquiti Networks Inc.",
      "UnderlyingInstrumentSectorName": "Telecommunications Equipment",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "UBNT:xnas",
      "UnderlyingInstrumentUic": 85485,
      "ValueDate": "2015-01-23"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -12.0,
      "AmountAccountCurrency": -77.42,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -77.42,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -12.0280893639499,
      "AssetType": "Stock",
      "BkAmountId": "3051745520",
      "BkAmountType": "Commisison",
      "BkAmountTypeId": "4",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-01-20",
      "InstrumentDescription": "Ubiquiti Networks Inc.",
      "InstrumentSectorName": "Telecommunications Equipment",
      "InstrumentSectorTypeId": 684,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "UBNT:xnas",
      "RelatedPositionId": "775130723",
      "RelatedTradeId": "775130723",
      "RootInstrumentSectorName": "Technology",
      "RootInstrumentSectorTypeId": 510,
      "Uic": 85485,
      "UnderlyingInstrumentAssetType": "Stock",
      "UnderlyingInstrumentDescription": "Ubiquiti Networks Inc.",
      "UnderlyingInstrumentSectorName": "Telecommunications Equipment",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "UBNT:xnas",
      "UnderlyingInstrumentUic": 85485,
      "ValueDate": "2015-01-23"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -10.0,
      "AmountAccountCurrency": -66.79,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -66.79,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -10.0261198510868,
      "AssetType": "CfdOnStock",
      "BkAmountId": "3126672978",
      "BkAmountType": "Commisison",
      "BkAmountTypeId": "4",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-03-02",
      "InstrumentDescription": "Ubiquiti Networks Inc.",
      "InstrumentSectorName": "Telecommunications Equipment",
      "InstrumentSectorTypeId": 684,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "UBNT:xnas",
      "RelatedPositionId": "787515963",
      "RelatedTradeId": "787515963",
      "RootInstrumentSectorName": "Technology",
      "RootInstrumentSectorTypeId": 510,
      "Uic": 85485,
      "UnderlyingInstrumentAssetType": "CfdOnStock",
      "UnderlyingInstrumentDescription": "Ubiquiti Networks Inc.",
      "UnderlyingInstrumentSectorName": "Telecommunications Equipment",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "UBNT:xnas",
      "UnderlyingInstrumentUic": 85485,
      "ValueDate": "2015-03-02"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -10.0,
      "AmountAccountCurrency": -66.79,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -66.79,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -10.0261198510868,
      "AssetType": "CfdOnStock",
      "BkAmountId": "3126672978",
      "BkAmountType": "Commisison",
      "BkAmountTypeId": "4",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-03-02",
      "InstrumentDescription": "Ubiquiti Networks Inc.",
      "InstrumentSectorName": "Telecommunications Equipment",
      "InstrumentSectorTypeId": 684,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "UBNT:xnas",
      "RelatedPositionId": "787515963",
      "RelatedTradeId": "787515963",
      "RootInstrumentSectorName": "Technology",
      "RootInstrumentSectorTypeId": 510,
      "Uic": 85485,
      "UnderlyingInstrumentAssetType": "CfdOnStock",
      "UnderlyingInstrumentDescription": "Ubiquiti Networks Inc.",
      "UnderlyingInstrumentSectorName": "Telecommunications Equipment",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "UBNT:xnas",
      "UnderlyingInstrumentUic": 85485,
      "ValueDate": "2015-03-02"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -2.96,
      "AmountAccountCurrency": -20.61,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -20.61,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -2.96031369845305,
      "AssetType": "CfdOnStock",
      "BkAmountId": "3185111269",
      "BkAmountType": "CFD Finance",
      "BkAmountTypeId": "10",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-03-31",
      "InstrumentDescription": "Ubiquiti Networks Inc.",
      "InstrumentSectorName": "Telecommunications Equipment",
      "InstrumentSectorTypeId": 684,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "UBNT:xnas",
      "RelatedPositionId": "0",
      "RelatedTradeId": "0",
      "RootInstrumentSectorName": "Technology",
      "RootInstrumentSectorTypeId": 510,
      "Uic": 85485,
      "UnderlyingInstrumentAssetType": "CfdOnStock",
      "UnderlyingInstrumentDescription": "Ubiquiti Networks Inc.",
      "UnderlyingInstrumentSectorName": "Telecommunications Equipment",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "UBNT:xnas",
      "UnderlyingInstrumentUic": 85485,
      "ValueDate": "2015-04-01"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -0.3,
      "AmountAccountCurrency": -2.24,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -2.24,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -0.334595535240827,
      "AssetType": "CfdOnStock",
      "BkAmountId": "3360198216",
      "BkAmountType": "CFD Finance",
      "BkAmountTypeId": "10",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "EUR",
      "Date": "2015-06-30",
      "InstrumentDescription": "National Bank of Greece SA",
      "InstrumentSectorName": "Banks",
      "InstrumentSectorTypeId": 656,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "ETE=xath",
      "RelatedPositionId": "0",
      "RelatedTradeId": "0",
      "RootInstrumentSectorName": "Financials",
      "RootInstrumentSectorTypeId": 509,
      "Uic": 20690,
      "UnderlyingInstrumentAssetType": "CfdOnStock",
      "UnderlyingInstrumentDescription": "National Bank of Greece SA",
      "UnderlyingInstrumentSectorName": "Banks",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "ETE=xath",
      "UnderlyingInstrumentUic": 20690,
      "ValueDate": "2015-07-01"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -6.41,
      "AmountAccountCurrency": -6.41,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -6.41,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -0.949643698425162,
      "BkAmountId": "3360618999",
      "BkAmountType": "Interest",
      "BkAmountTypeId": "45",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "DKK",
      "Date": "2015-07-01",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "RelatedPositionId": "0",
      "RelatedTradeId": "0",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 0,
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentUic": 0,
      "ValueDate": "2015-07-01"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -3.06,
      "AmountAccountCurrency": -20.79,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -20.79,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -3.06030073085104,
      "AssetType": "CfdOnStock",
      "BkAmountId": "3420534529",
      "BkAmountType": "CFD Finance",
      "BkAmountTypeId": "10",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-07-31",
      "InstrumentDescription": "Ubiquiti Networks Inc.",
      "InstrumentSectorName": "Telecommunications Equipment",
      "InstrumentSectorTypeId": 684,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "UBNT=xnas",
      "RelatedPositionId": "0",
      "RelatedTradeId": "0",
      "RootInstrumentSectorName": "Technology",
      "RootInstrumentSectorTypeId": 510,
      "Uic": 85485,
      "UnderlyingInstrumentAssetType": "CfdOnStock",
      "UnderlyingInstrumentDescription": "Ubiquiti Networks Inc.",
      "UnderlyingInstrumentSectorName": "Telecommunications Equipment",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "UBNT=xnas",
      "UnderlyingInstrumentUic": 85485,
      "ValueDate": "2015-08-03"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -0.31,
      "AmountAccountCurrency": -2.31,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -2.31,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -0.340033414539004,
      "AssetType": "CfdOnStock",
      "BkAmountId": "3420454836",
      "BkAmountType": "CFD Finance",
      "BkAmountTypeId": "10",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "EUR",
      "Date": "2015-07-31",
      "InstrumentDescription": "National Bank of Greece SA",
      "InstrumentSectorName": "Banks",
      "InstrumentSectorTypeId": 656,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "ETE=xath",
      "RelatedPositionId": "0",
      "RelatedTradeId": "0",
      "RootInstrumentSectorName": "Financials",
      "RootInstrumentSectorTypeId": 509,
      "Uic": 20690,
      "UnderlyingInstrumentAssetType": "CfdOnStock",
      "UnderlyingInstrumentDescription": "National Bank of Greece SA",
      "UnderlyingInstrumentSectorName": "Banks",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "ETE=xath",
      "UnderlyingInstrumentUic": 20690,
      "ValueDate": "2015-08-03"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -4.6,
      "AmountAccountCurrency": -4.6,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -4.6,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -0.675050995700219,
      "BkAmountId": "3420990244",
      "BkAmountType": "Interest",
      "BkAmountTypeId": "45",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "DKK",
      "Date": "2015-08-03",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "RelatedPositionId": "0",
      "RelatedTradeId": "0",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 0,
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentUic": 0,
      "ValueDate": "2015-08-03"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -325.0,
      "AmountAccountCurrency": -2182.26,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -2182.26,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -326.285099129811,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3440442853",
      "BkAmountType": "Premium",
      "BkAmountTypeId": "12",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-08-12",
      "InstrumentDescription": "Volatility Index (VIX) Aug2015 15 C",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/Q15C15=xcbf",
      "RelatedPositionId": "840409122",
      "RelatedTradeId": "840409122",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 1561206,
      "UnderlyingInstrumentDescription": "CBOE Volatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-08-12"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -1.03999996185303,
      "AmountAccountCurrency": -6.96,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -6.96,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -1.04063873687988,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3440445011",
      "BkAmountType": "Exchange Fee",
      "BkAmountTypeId": "30",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-08-12",
      "InstrumentDescription": "Volatility Index (VIX) Aug2015 16 P",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/Q15P16=xcbf",
      "RelatedPositionId": "840305316",
      "RelatedTradeId": "840305316",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 1561245,
      "UnderlyingInstrumentDescription": "CBOE Volatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-08-12"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -1.03999996185303,
      "AmountAccountCurrency": -6.91,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -6.91,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -1.03316288388505,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3440445585",
      "BkAmountType": "Exchange Fee",
      "BkAmountTypeId": "30",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-08-12",
      "InstrumentDescription": "Volatility Index (VIX) Aug2015 16 P",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/Q15P16=xcbf",
      "RelatedPositionId": "840407407",
      "RelatedTradeId": "840407407",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 1561245,
      "UnderlyingInstrumentDescription": "CBOE Volatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-08-12"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -260.0,
      "AmountAccountCurrency": -1741.21,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -1741.21,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -260.340599862444,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3440441397",
      "BkAmountType": "Premium",
      "BkAmountTypeId": "12",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-08-12",
      "InstrumentDescription": "Volatility Index (VIX) Aug2015 16 P",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/Q15P16=xcbf",
      "RelatedPositionId": "840305316",
      "RelatedTradeId": "840305316",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 1561245,
      "UnderlyingInstrumentDescription": "CBOE Volatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-08-12"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -19.0,
      "AmountAccountCurrency": -19.0,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -19.0,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -2.85383841266503,
      "AssetType": "Stock",
      "BkAmountId": "3479817118",
      "BkAmountType": "Commission",
      "BkAmountTypeId": "4",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "DKK",
      "Date": "2015-08-31",
      "InstrumentDescription": "Wealth Invest Sirius Balance",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 400,
      "InstrumentSubType": "Etf",
      "InstrumentSymbol": "WEISIB=xcse",
      "RelatedPositionId": "847585758",
      "RelatedTradeId": "847585758",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 400,
      "Uic": 343053,
      "UnderlyingInstrumentAssetType": "Stock",
      "UnderlyingInstrumentDescription": "Wealth Invest Sirius Balance",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "Etf",
      "UnderlyingInstrumentSymbol": "WEISIB=xcse",
      "UnderlyingInstrumentUic": 343053,
      "ValueDate": "2015-09-02"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -1072.8,
      "AmountAccountCurrency": -1072.8,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -1072.8,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -161.136728900371,
      "AssetType": "Stock",
      "BkAmountId": "3480224792",
      "BkAmountType": "Share Amount",
      "BkAmountTypeId": "2",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "DKK",
      "Date": "2015-08-31",
      "InstrumentDescription": "Wealth Invest Sirius Balance",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 400,
      "InstrumentSubType": "Etf",
      "InstrumentSymbol": "WEISIB=xcse",
      "RelatedPositionId": "847585758",
      "RelatedTradeId": "847585758",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 400,
      "Uic": 343053,
      "UnderlyingInstrumentAssetType": "Stock",
      "UnderlyingInstrumentDescription": "Wealth Invest Sirius Balance",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "Etf",
      "UnderlyingInstrumentSymbol": "WEISIB=xcse",
      "UnderlyingInstrumentUic": 343053,
      "ValueDate": "2015-09-02"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -1103.0,
      "AmountAccountCurrency": -1103.0,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -1103.0,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -165.672829956291,
      "AssetType": "Stock",
      "BkAmountId": "3480224810",
      "BkAmountType": "Share Amount",
      "BkAmountTypeId": "2",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "DKK",
      "Date": "2015-08-31",
      "InstrumentDescription": "Wealth Invest - Saxo Global Equities",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 400,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "WEISGE=xcse",
      "RelatedPositionId": "847585836",
      "RelatedTradeId": "847585836",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 400,
      "Uic": 1307373,
      "UnderlyingInstrumentAssetType": "Stock",
      "UnderlyingInstrumentDescription": "Wealth Invest - Saxo Global Equities",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "WEISGE=xcse",
      "UnderlyingInstrumentUic": 1307373,
      "ValueDate": "2015-09-02"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -19.0,
      "AmountAccountCurrency": -19.0,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -19.0,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -2.85383841266503,
      "AssetType": "Stock",
      "BkAmountId": "3479817136",
      "BkAmountType": "Commission",
      "BkAmountTypeId": "4",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "DKK",
      "Date": "2015-08-31",
      "InstrumentDescription": "Wealth Invest - Saxo Global Equities",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 400,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "WEISGE=xcse",
      "RelatedPositionId": "847585836",
      "RelatedTradeId": "847585836",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 400,
      "Uic": 1307373,
      "UnderlyingInstrumentAssetType": "Stock",
      "UnderlyingInstrumentDescription": "Wealth Invest - Saxo Global Equities",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "WEISGE=xcse",
      "UnderlyingInstrumentUic": 1307373,
      "ValueDate": "2015-09-02"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -1.03999996185303,
      "AmountAccountCurrency": -7.12,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -7.12,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -1.04404184965504,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3679054443",
      "BkAmountType": "Exchange Fee",
      "BkAmountTypeId": "30",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-12-10",
      "InstrumentDescription": "Volatility Index (VIX) Jan2016 20 P",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/F16P20=xcbf",
      "RelatedPositionId": "883010450",
      "RelatedTradeId": "883010450",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 2206610,
      "UnderlyingInstrumentDescription": "CBOE Volatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-12-10"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -680.0,
      "AmountAccountCurrency": -4653.05,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -4653.05,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -682.300411311431,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3679054441",
      "BkAmountType": "Premium",
      "BkAmountTypeId": "12",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-12-10",
      "InstrumentDescription": "Volatility Index (VIX) Jan2016 20 P",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/F16P20=xcbf",
      "RelatedPositionId": "883010450",
      "RelatedTradeId": "883010450",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 2206610,
      "UnderlyingInstrumentDescription": "CBOE Volatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-12-10"
    },
    {
      "AccountCurrency": "DKK",
      "AccountId": "179643INET",
      "Amount": -12.0,
      "AmountAccountCurrency": -82.11,
      "AmountClass": "NotAssigned",
      "AmountClientCurrency": -82.11,
      "AmountSubClass": "NotAssigned",
      "AmountUSD": -12.040207342019,
      "AssetType": "StockIndexOption",
      "BkAmountId": "3679054442",
      "BkAmountType": "Commission",
      "BkAmountTypeId": "4",
      "CaMasterRecordId": "0",
      "ClientCurrency": "DKK",
      "ConversionRate": 0.0,
      "ConversionRateAccountCurrency": 0.0,
      "ConversionRateClientCurrency": 0.0,
      "ConversionRateUSD": 0.0,
      "CostClass": "NotAssigned",
      "CostSubClass": "NotAssigned",
      "Currency": "USD",
      "Date": "2015-12-10",
      "InstrumentDescription": "Volatility Index (VIX) Jan2016 20 P",
      "InstrumentSectorName": "<Unknown>",
      "InstrumentSectorTypeId": 0,
      "InstrumentSubType": "None",
      "InstrumentSymbol": "VIX/F16P20=xcbf",
      "RelatedPositionId": "883010450",
      "RelatedTradeId": "883010450",
      "RootInstrumentSectorName": "<Unknown>",
      "RootInstrumentSectorTypeId": 0,
      "Uic": 2206610,
      "UnderlyingInstrumentDescription": "CBOE Volatility Index",
      "UnderlyingInstrumentSectorName": "<Unknown>",
      "UnderlyingInstrumentSubType": "None",
      "UnderlyingInstrumentSymbol": "VIX.I",
      "UnderlyingInstrumentUic": 10606,
      "ValueDate": "2015-12-10"
    }
  ]
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - BadRequestError
                    type: string
                    x-enum-descriptions:
                      BadRequestError: Bad request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /cs/v1/mifid/appropriatenesstests:
    get:
      tags:
        - MiFID - AppropriatenessTest
      summary: Get appropriateness test
      description: 'Get the most recent appropriateness test including structure, questions and answers for the currently logged in user.'
      operationId: AppropriatenessTestsGetAsync
      responses:
        '200':
          description: Indicates that the request was performed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppropriatenessTest'
              example: {
  "AppropriatenessTestId": "44299041-87a2-48d7-a5fb-6600e18e7a70",
  "Description": "As an EU regulated Bank, Saxo Bank is required to consider whether its products are appropriate for retail clients. Saxo Bank therefore encourages you to answer the below questions in order for Saxo Bank to be able to determine which products may be appropriate for you. \n\nYou will receive these questions every time you log on until you have completed the test",
  "Name": "Appropriateness Version 24",
  "PublishedDate": "2014-12-14",
  "QuestionSections": [
    {
      "Name": "Educational background",
      "Questions": [
        {
          "QuestionId": "9949d4c0-0660-4869-8c05-040745b275bb",
          "QuestionOptions": [
            {
              "QuestionOptionId": "89c31333-ff3d-4218-a7bc-5857527e1967",
              "Selected": true,
              "Text": "Primary school"
            }
          ],
          "QuestionText": "What is your educational background?"
        }
      ],
      "Title": "Educational background"
    }
  ],
  "Title": "Appropriateness test"
}
        '500':
          description: Internal Server Error
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
    put:
      tags:
        - MiFID - AppropriatenessTest
      summary: Update appropriateness test with answers
      description: Updates the appropriateness test for the currently logged in user.
      operationId: AppropriatenessTestsUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppropriatenessTest'
            example: {
  "AppropriatenessTestId": "44299041-87a2-48d7-a5fb-6600e18e7a70",
  "Description": "As an EU regulated Bank, Saxo Bank is required to consider whether its products are appropriate for retail clients. Saxo Bank therefore encourages you to answer the below questions in order for Saxo Bank to be able to determine which products may be appropriate for you. \n\nYou will receive these questions every time you log on until you have completed the test",
  "Name": "Appropriateness Version 24",
  "PublishedDate": "2014-12-14",
  "QuestionSections": [
    {
      "Name": "Educational background",
      "Questions": [
        {
          "QuestionId": "9949d4c0-0660-4869-8c05-040745b275bb",
          "QuestionOptions": [
            {
              "QuestionOptionId": "89c31333-ff3d-4218-a7bc-5857527e1967",
              "Selected": true,
              "Text": "Primary school"
            }
          ],
          "QuestionText": "What is your educational background?"
        }
      ],
      "Title": "Educational background"
    }
  ],
  "Title": "Appropriateness test"
}
      responses:
        '204':
          description: No Content
        '200':
          description: Indicates that the updated was performed correctly.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AutoMapperError
                    type: string
                    x-enum-descriptions:
                      AutoMapperError: AutoMapper failed type casting.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '500':
          description: Internal Server Error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cs/v1/support/cases/{CaseId}/attachments/{FileId}':
    get:
      tags:
        - Support - Cases
      summary: Retrieves a specified file attached to a specific case
      description: Adds file to a case.
      operationId: SupportCasesGetFile
      parameters:
        - name: CaseId
          in: path
          description: The case id
          required: true
          schema:
            type: string
          example: c9bd4b27-2ab7-46aa-932e-7f5258093928
        - name: FileId
          in: path
          description: The file id.
          required: true
          schema:
            type: string
          example: sdbd4b27-2ab7-46aa-932e-7f5258093928
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResponseMessage'
              example: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidQueryParameters
                    type: string
                    x-enum-descriptions:
                      InvalidQueryParameters: One or more of the query parameters are invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cs/v1/support/cases/{CaseId}/attachments':
    post:
      tags:
        - Support - Cases
      summary: Add file to a case
      description: Adds file to a case.
      operationId: SupportCasesAttachFile
      parameters:
        - name: CaseId
          in: path
          description: The case id
          required: true
          schema:
            type: string
          example: c9bd4b27-2ab7-46aa-932e-7f5258093928
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cs/v1/support/cases/{CaseId}/notes':
    post:
      tags:
        - Support - Cases
      summary: Add note to an case
      description: Adds note to an existing case
      operationId: SupportCasesCreateNote
      parameters:
        - name: CaseId
          in: path
          description: The case id
          required: true
          schema:
            type: string
          example: c9bd4b27-2ab7-46aa-932e-7f5258093928
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteCommand'
            example: {
  "CaseId": "CaseId58e022b5-766f-48ff-b568-295e967cf48f",
  "ClientId": "ClientIda4103bcf-aab8-41cf-a4c7-b34ca54de5b0",
  "CreatedDate": "2023-03-26T05:19:23.9189711",
  "Note": "Notefadc599b-0e3b-4d34-9d0b-298b7a0eee91",
  "Title": "Title95a5e20b-d036-4ba9-aa73-ef1b4697473c"
}
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cs/v1/support/cases/{CaseId}/casereopenrequests':
    post:
      tags:
        - Support - Cases
      description: Reopen case requests.
      operationId: SupportCasesAcceptReopenCaseRequest
      parameters:
        - name: CaseId
          in: path
          description: The case ID
          required: true
          schema:
            type: string
          example: c9bd4b27-2ab7-46aa-932e-7f5258093928
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/cs/v1/support/cases/{CaseId}/casecloserequests':
    post:
      tags:
        - Support - Cases
      description: Close case requests
      operationId: SupportCasesAcceptCloseCaseRequest
      parameters:
        - name: CaseId
          in: path
          description: The case Id
          required: true
          schema:
            type: string
          example: c9bd4b27-2ab7-46aa-932e-7f5258093928
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseCaseCommand'
            example: {
  "CaseId": "CaseIdc232bd83-f95f-4986-9340-7b0f7e68d742",
  "ClientId": "ClientIdafb605b5-a3e2-479c-ad2f-c72cfc304829",
  "CloseNote": "CloseNote2206e1a2-f534-489f-a740-100e54c9ff91"
}
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
[...]
