openapi: 3.0.1
info:
  title: Services.AccountHistory
  description: Account history services providing historical and performance data about clients and accounts.
  version: 2.3.184+98a8bd2994
  x-framework-version: 22.0.28+8a9c9a332b
  x-machine: SATOAWEB22-DK2
servers:
  - url: https://gateway.saxobank.com/openapi
paths:
  '/hist/v3/perf/{ClientKey}':
    get:
      tags:
        - Performance
      summary: Get account performance.
      description: "Returns a collection of performance metrics for a specific account. The account performance returns \r\n            confidencial information that is only allowed to be viewed by the account owner / owners.\r\n            The required fields are ClientKey and either StandardPeriod or FromDate/ToDate."
      operationId: PerformanceV3GetPerformance
      parameters:
        - name: AccountGroupKey
          in: query
          description: Id of the account containing the historical positions.
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: Id of the account containing the historical positions.
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountKey
        - name: ClientKey
          in: path
          description: Id of the client owning the account
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FieldGroups
          in: query
          description: Specifies which data to return. Default is
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AccountPerformanceFieldGroup'
        - name: FromDate
          in: query
          description: From date from which the historical positions are requested.
          schema:
            allOf:
              - type: string
                format: date
                x-type-name: Date
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
        - name: StandardPeriod
          in: query
          description: Standard period for account performance.
          schema:
            $ref: '#/components/schemas/AccountPerformanceStandardPeriodNullable'
        - name: ToDate
          in: query
          description: To date till which the historical positions are requested.
          schema:
            allOf:
              - type: string
                format: date
                x-type-name: Date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPerformance'
              example:
                AccountSummary:
                  AverageTradeDurationInMinutes: 34260
                  AverageTradesPerWeek: 48.2325728770595
                  NumberOfDaysTraded: 1589
                  NumberOfLongTrades: 5434
                  NumberOfShortTrades: 5263
                  TopTradedInstruments:
                    - DAX.I
                    - DJI.I
                    - EURUSD
                    - GBPUSD
                    - NAS100.I
                    - NOKSEK
                    - EURNOK
                    - SP500.I
                  TotalReturnFraction: -0.9999963956455
                  TradedInstruments:
                    - FxSpot
                    - Stock
                    - FxVanillaOption
                    - ContractFutures
                  TradesTotalCount: 10697
                  TradesWonCount: 6499
                  WinFraction: 0.61
                Allocation:
                  TradesPerAssetType:
                    ClosedTradesAllocations:
                      - AssetClassType: Equity
                        ReturnAttribution: 1
                        TradeCount: 168
                        TradePercent: 0.38009049773755654
                      - AssetClassType: Currency
                        ReturnAttribution: 0.249937016456527
                        TradeCount: 112
                        TradePercent: 0.25339366515837103
                      - AssetClassType: Commodity
                        ReturnAttribution: 0.5628789450009563
                        TradeCount: 105
                        TradePercent: 0.23755656108597284
                      - AssetClassType: Fixed Income
                        ReturnAttribution: -0.013150856136249162
                        TradeCount: 57
                        TradePercent: 0.12895927601809956
                  TradesPerInstrument:
                    ClosedTradesAllocations:
                      - AssetType: ContractFutures
                        InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
                        InstrumentSymbol: ZBU6
                        InstrumentUic: 3626018
                        ReturnAttribution: -0.15987101005684304
                        TradeCount: 40
                        TradePercent: 0.09049773755656108
                      - AssetType: FxSpot
                        InstrumentDescription: British Pound/US Dollar
                        InstrumentSymbol: GBPUSD
                        InstrumentUic: 31
                        ReturnAttribution: 0.14685155225185834
                        TradeCount: 37
                        TradePercent: 0.083710407239819
                BalancePerformance:
                  AccountBalanceTimeSeries:
                    - Date: '2016-03-28T00:00:00.0000000+00:00'
                      Value: 0
                    - Date: '2016-03-29T00:00:00.0000000+00:00'
                      Value: 0
                  AccountValueTimeSeries:
                    - Date: '2016-03-28T00:00:00.0000000+00:00'
                      Value: 0
                    - Date: '2016-03-29T00:00:00.0000000+00:00'
                      Value: 0
                  MonthlyProfitLossTimeSeries:
                    - Date: '2015-11-30T00:00:00.0000000+00:00'
                      Value: 0
                    - Date: '2015-12-31T00:00:00.0000000+00:00'
                      Value: 0
                  SecurityTransferTimeSeries:
                    - Date: '2016-03-28T00:00:00.0000000+00:00'
                      Value: 0
                    - Date: '2016-03-29T00:00:00.0000000+00:00'
                      Value: 0
                  YearlyProfitLossTimeSeries:
                    - Date: '2015-12-31T00:00:00.0000000+00:00'
                      Value: 0
                    - Date: '2016-12-31T00:00:00.0000000+00:00'
                      Value: 0
                    - Date: '2017-12-31T00:00:00.0000000+00:00'
                      Value: 0
                From: '2016-03-28T00:00:00.0000000+00:00'
                InceptionDay: '2015-11-24T00:00:00.0000000+00:00'
                LastTradeDay: '2017-03-27T00:00:00.0000000+00:00'
                Thru: '2017-03-27T00:00:00.0000000+00:00'
                TimeWeightedPerformance:
                  AccumulatedTimeWeightedTimeSeries:
                    - Date: '2016-03-25T00:00:00.0000000+00:00'
                      Value: 0
                  MonthlyReturnTimeSeries:
                    - Date: '2016-03-25T00:00:00.0000000+00:00'
                      Value: 0
                  PerformanceFraction: -1
                  PerformanceKeyFigures:
                    ClosedTradesCount: 0
                    DrawdownReport:
                      Drawdowns:
                        - DaysCount: 3
                          DepthInPercent: 1
                          FromDate: '2016-08-05T00:00:00.0000000+00:00'
                          ThruDate: '2016-08-08T00:00:00.0000000+00:00'
                      MaxDaysInDrawdownFromTop10Drawdowns: 3
                    LosingDaysFraction: 0.03
                    MaxDrawDownFraction: 1
                    ReturnFraction: -1
                    SampledStandardDeviation: 0.0618018874919214
                    SharpeRatio: -0.952069751000777
                    SortinoRatio: -0.0591710418985739
                  YearlyReturnTimeSeries:
                    - Date: '2016-03-25T00:00:00.0000000+00:00'
                      Value: 0
                TotalCashBalance: 20226.02
                TotalCashBalancePerCurrency:
                  - StringValue: CAD
                    Value: -491.707122366824
                TotalOpenPositionsValue: 29571.057
                TotalPositionsValuePerCurrency:
                  - StringValue: CAD
                    Value: -491.707122366824
                TotalPositionsValuePerProductPerSecurity:
                  - Description: Abengoa SA - Warrants
                    ProductName: Shares
                    Symbol: LOCK - 1496:xxxx
                    Value: 0
        '404':
          description: Performance not found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /hist/v4/performance/timeseries:
    get:
      tags:
        - Performance
      summary: Get account performance.
      description: "Returns a collection of performance metrics for a specific account. The account performance returns \r\n            confidencial information that is only allowed to be viewed by the account owner / owners.\r\n            The required fields are ClientKey and either StandardPeriod or FromDate/ToDate."
      operationId: PerformanceV4GetAccountPerformance
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group key.
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The client key.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FieldGroups
          in: query
          description: The field groups.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContractsV4.AccountPerformanceFieldGroup'
        - name: FromDate
          in: query
          description: From date.
          schema:
            allOf:
              - type: string
                format: date
                x-type-name: Date
        - name: MockDataId
          in: query
          description: The mock data identifier.
          schema:
            type: string
        - name: StandardPeriod
          in: query
          description: The standard period.
          schema:
            $ref: '#/components/schemas/System.AccountPerformanceStandardPeriodNullable'
        - name: ToDate
          in: query
          description: To date.
          schema:
            allOf:
              - type: string
                format: date
                x-type-name: Date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contracts.AccountPerformance'
              example:
                Balance:
                  AccountBalance:
                    - Date: '2021-03-16T00:00:00.0000000+00:00'
                      Value: 2713951
                    - Date: '2021-03-17T00:00:00.0000000+00:00'
                      Value: 2697389
                    - Date: '2021-03-18T00:00:00.0000000+00:00'
                      Value: 2697389
                    - Date: '2021-03-19T00:00:00.0000000+00:00'
                      Value: 2697389
                    - Date: '2021-03-22T00:00:00.0000000+00:00'
                      Value: 2697389
                  AccountValue:
                    - Date: '2021-03-16T00:00:00.0000000+00:00'
                      Value: 2713951
                    - Date: '2021-03-17T00:00:00.0000000+00:00'
                      Value: 2697389
                    - Date: '2021-03-18T00:00:00.0000000+00:00'
                      Value: 2697389
                    - Date: '2021-03-19T00:00:00.0000000+00:00'
                      Value: 2697389
                    - Date: '2021-03-22T00:00:00.0000000+00:00'
                      Value: 2697389
                  CashTransfer:
                    - Date: '2021-03-16T00:00:00.0000000+00:00'
                      Value: 700000
                    - Date: '2021-03-17T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-18T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-19T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-22T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-23T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-24T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-25T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-26T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-30T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-31T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-01T00:00:00.0000000+00:00'
                      Value: 693217
                    - Date: '2021-03-02T00:00:00.0000000+00:00'
                      Value: 693217
                  MonthlyProfitLoss:
                    - Date: '2021-03-31T00:00:00.0000000+00:00'
                      Value: 476960.78492
                    - Date: '2021-04-30T00:00:00.0000000+00:00'
                      Value: 0.00151689069285646
                  SecurityTransfer:
                    - Date: '2016-03-28T00:00:00.0000000+00:00'
                      Value: 0
                    - Date: '2016-03-29T00:00:00.0000000+00:00'
                      Value: 0
                  YearlyProfitLoss:
                    - Date: '2021-12-31T00:00:00.0000000+00:00'
                      Value: 473580.71199
                Benchmark:
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                    Date: '2021-05-11T00:00:00.0000000+00:00'
                    Value: 0.02
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-12T00:00:00.0000000+00:00'
                    Value: 0.03
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-13T00:00:00.0000000+00:00'
                    Value: 0.04
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-14T00:00:00.0000000+00:00'
                    Value: 0.065
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                    Date: '2021-05-15T00:00:00.0000000+00:00'
                    Value: -0.01
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-16T00:00:00.0000000+00:00'
                    Value: 0.03
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-17T00:00:00.0000000+00:00'
                    Value: 0.025
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                    Date: '2021-05-18T00:00:00.0000000+00:00'
                    Value: 0.03
                KeyFigures:
                  ClosedTradesCount: 0
                  DrawdownReport:
                    Drawdowns:
                      - DaysCount: 3
                        DepthInPercent: 1
                        FromDate: '2016-08-05T00:00:00.0000000+00:00'
                        RecoveryDaysCount: 1
                        ThruDate: '2016-08-08T00:00:00.0000000+00:00'
                    MaxDaysInDrawdownFromTop10Drawdowns: 3
                  LosingDaysFraction: 0.03
                  MaxDrawDownFraction: 1
                  PerformanceFraction: 0
                  ReturnFraction: -1
                  SampledStandardDeviation: 0.0618018874919214
                  SharpeRatio: -0.952069751000777
                  SortinoRatio: -0.0591710418985739
                TimeWeighted:
                  Accumulated:
                    - Date: '2021-03-16T00:00:00.0000000+00:00'
                      Value: 0.000707311584857981
                    - Date: '2021-03-17T00:00:00.0000000+00:00'
                      Value: 0.00289876077113995
                    - Date: '2021-03-18T00:00:00.0000000+00:00'
                      Value: 0.0030873830953917
                    - Date: '2021-03-19T00:00:00.0000000+00:00'
                      Value: 0.000729201756574284
                    - Date: '2021-03-22T00:00:00.0000000+00:00'
                      Value: 0.0016413754184318
                    - Date: '2021-03-23T00:00:00.0000000+00:00'
                      Value: 0.00615470900076945
                    - Date: '2021-03-24T00:00:00.0000000+00:00'
                      Value: 0.0145762714416127
                    - Date: '2021-03-25T00:00:00.0000000+00:00'
                      Value: 0.0130120799919019
                    - Date: '2021-03-26T00:00:00.0000000+00:00'
                      Value: 0.0109777093144279
                    - Date: '2021-03-29T00:00:00.0000000+00:00'
                      Value: 0.109105521823687
                    - Date: '2021-03-30T00:00:00.0000000+00:00'
                      Value: 0.109105521823687
                    - Date: '2021-03-31T00:00:00.0000000+00:00'
                      Value: 0.174356723940404
                    - Date: '2021-03-01T00:00:00.0000000+00:00'
                      Value: 0.176303239558097
                    - Date: '2021-03-02T00:00:00.0000000+00:00'
                      Value: 0.175826866623672
                  MonthlyReturn:
                    - Date: '2021-03-31T00:00:00.0000000+00:00'
                      Value: 0.176303239558097
                    - Date: '2021-04-30T00:00:00.0000000+00:00'
                      Value: 0.00151689069285646
                  YearlyReturn:
                    - Date: '2021-03-31T00:00:00.0000000+00:00'
                      Value: 0.175053781608446
        '404':
          description: Performance not found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /hist/v4/performance/summary:
    get:
      tags:
        - Performance
      summary: Get account summary.
      description: "Returns a collection of summary metrics for a specific account. The account summary returns \r\n            confidencial information that is only allowed to be viewed by the account owner / owners.\r\n            The required fields are ClientKey and either StandardPeriod or FromDate/ToDate."
      operationId: PerformanceV4GetAccountSummary
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group key.
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The client key.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FieldGroups
          in: query
          description: The field groups.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AccountSummaryFieldGroup'
        - name: FromDate
          in: query
          description: From date.
          schema:
            allOf:
              - type: string
                format: date
                x-type-name: Date
        - name: MockDataId
          in: query
          description: The mock data identifier.
          schema:
            type: string
        - name: StandardPeriod
          in: query
          description: The standard period.
          schema:
            $ref: '#/components/schemas/System.AccountPerformanceStandardPeriodNullable'
        - name: ToDate
          in: query
          description: To date.
          schema:
            allOf:
              - type: string
                format: date
                x-type-name: Date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contracts.AccountSummary'
              example:
                AccumulatedProfitLoss: 100
                BenchMarks:
                  - Allocations:
                      - AllocationPCT: 100
                        AssetType: Cash
                        Description: ''
                        DisplayHintType: None
                        Uic: 211
                    CurrencyCode: USD
                    Description: Description1
                    Name: Bench Mark Name 1
                  - Allocations:
                      - AllocationPCT: 100
                        AssetType: Bond
                        Description: ''
                        DisplayHintType: None
                        Uic: 210
                      - AllocationPCT: 100
                        AssetType: CertificateBonus
                        Description: ''
                        DisplayHintType: None
                        Uic: 211
                    CurrencyCode: EUR
                    Description: Description2
                    Name: Bench Mark Name 2
                From: '2022-03-09T00:00:00.0000000+00:00'
                InceptionDay: '2022-03-09T00:00:00.0000000+00:00'
                LastTradeDay: '2022-03-09T00:00:00.0000000+00:00'
                Thru: '2022-03-09T00:00:00.0000000+00:00'
                TotalCashBalance: 5000
                TotalCashBalancePerCurrency:
                  - StringValue: CAD
                    Value: -491.707122366824
                TotalOpenPositionsValue: 6000
                TotalPositionsValuePerCurrency:
                  - StringValue: CAD
                    Value: -491.707122366824
                TotalPositionsValuePerProductPerSecurity:
                  - Description: Position On Security And Product
                    ProductName: Product Name
                    Symbol: Symbol
                    Value: 200
                TradeSummary:
                  Allocation:
                    TradesPerAssetType:
                      ClosedTradesAllocations:
                        - AssetClassType: Equity
                          ReturnAttribution: 1
                          TradeCount: 168
                          TradePercent: 0.38009049773755654
                        - AssetClassType: Commodity
                          ReturnAttribution: 0.5628789450009563
                          TradeCount: 105
                          TradePercent: 0.23755656108597284
                        - AssetClassType: Currency
                          ReturnAttribution: 0.249937016456527
                          TradeCount: 112
                          TradePercent: 0.25339366515837103
                        - AssetClassType: Fixed Income
                          ReturnAttribution: -0.013150856136249162
                          TradeCount: 57
                          TradePercent: 0.12895927601809956
                    TradesPerInstrument:
                      ClosedTradesAllocations:
                        - AssetType: ContractFutures
                          InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
                          InstrumentSymbol: ZBU6
                          InstrumentUic: 3626018
                          ReturnAttribution: -0.15987101005684304
                          TradeCount: 40
                          TradePercent: 0.09049773755656108
                        - AssetType: FxSpot
                          InstrumentDescription: British Pound/US Dollar
                          InstrumentSymbol: GBPUSD
                          InstrumentUic: 31
                          ReturnAttribution: 0.14685155225185834
                          TradeCount: 37
                          TradePercent: 0.083710407239819
                  AverageTradeDurationInMinutes: 34260
                  AverageTradesPerWeek: 48.2325728770595
                  NumberOfDaysTraded: 1589
                  NumberOfLongTrades: 5434
                  NumberOfShortTrades: 5263
                  TopTradedInstruments:
                    - DAX.I
                    - DJI.I
                    - EURUSD
                    - GBPUSD
                    - NAS100.I
                    - NOKSEK
                    - EURNOK
                    - SP500.I
                  TradeActivity:
                    TradesPerDay:
                      - Date: '2022-03-09T00:00:00.0000000+00:00'
                        TradeCount: 100
                  TradedInstruments:
                    - FxSpot
                    - Stock
                    - FxVanillaOption
                    - ContractFutures
                  TradesTotalCount: 10697
                  TradesWonCount: 6499
                WinFraction: 5
        '404':
          description: Summary not found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/hist/v3/positions/{ClientKey}':
    get:
      tags:
        - HistoricalPositions
      summary: 'Get historical positions of an account of a client, that were closed within the specified period'
      description: "Returns a list of historical positions for a specific account owned by a client.\r\n             The required fields are ClientKey and either StandardPeriod or FromDate/ToDate."
      operationId: HistoricalPositionsV3GetHistoricalPositions
      parameters:
        - name: $inlinecount
          in: query
          schema:
            enum:
              - AllPages
              - None
            type: string
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $skiptoken
          in: query
          schema:
            type: string
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: AccountGroupKey
          in: query
          description: Id of the account containing the historical positions.
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: Id of the account containing the historical positions.
          schema:
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountKey
        - name: AssetType
          in: query
          description: Filtering on asset type. If value not supplied all will be returned
          schema:
            $ref: '#/components/schemas/AssetTypeNullable'
        - name: ClientKey
          in: path
          description: Id of the client owning the account
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FromDate
          in: query
          description: From date from which the historical positions are requested.
          schema:
            allOf:
              - type: string
                format: date
                x-type-name: Date
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
        - name: StandardPeriod
          in: query
          description: Standard period for account performance.
          schema:
            $ref: '#/components/schemas/System.Nullable`1[[Iit.OpenApi.Services.HistoricalPositions.v3.Application.AccountPerformanceStandardPeriod, Iit.OpenApi.Services.HistoricalPositions.v3, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]'
        - name: Symbol
          in: query
          description: The Instrument Symbol Code
          required: true
          schema:
            type: array
            items:
              type: string
        - name: ToDate
          in: query
          description: To date till which the historical positions are requested.
          schema:
            allOf:
              - type: string
                format: date
                x-type-name: Date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IHistoricalPositionViewListResult'
              example:
                Data:
                  - AccountId: 112209INET
                    AccountValueEndOfDay:
                      AccountBalance: 7526.17183
                      CashTransfers: 0
                      Date: '2016-07-19T00:00:00.0000000+00:00'
                      PositionsValue: -978.29753
                      SecurityTransfers: 0
                      TotalValue: 6547.8743
                    Amount: -1
                    AmountAccountValueCloseRatio: '2022-03-10T02:01:00.0000000+00:00'
                    AmountAccountValueOpenRatio: '2022-03-10T02:01:00.0000000+00:00'
                    ClosingAssetType: CfdOnIndex
                    ClosingTradeDate: '2016-07-19T00:00:00.0000000+00:00'
                    ClosingValueDate: '2016-07-19T00:00:00.0000000+00:00'
                    CopiedFrom: '1'
                    CorrelationType: None
                    Decimals: 2
                    ExecutionTimeClose: '2016-07-19T07:25:37.0000000+00:00'
                    ExecutionTimeOpen: '2016-07-18T10:38:06.0000000+00:00'
                    FigureValue: 1
                    InstrumentCcyToAccountCcyRateClose: 1.1020982542939
                    InstrumentCcyToAccountCcyRateOpen: 1.11308229426434
                    InstrumentSymbol: GER30.I
                    LongShort:
                      PresentationValue: Short
                      Value: Short
                    OpeningAssetType: CfdOnIndex
                    OpeningTradeDate: '2016-07-18T00:00:00.0000000+00:00'
                    OpeningValueDate: '2016-07-18T00:00:00.0000000+00:00'
                    PriceClose: 9998
                    PriceGain: 0.004778021102926538
                    PriceOpen: 10046
                    PricePct: -0.4778021102926538
                    ProfitLoss: 52.87
                    ProfitLossAccountValueFraction: 0.00807437613761156
                    Uic: '1373'
                    ValueInAccountCurrencyClose: -11018.778346430412
                    ValueInAccountCurrencyOpen: -11182.02472817956
        '404':
          description: Positions not found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/hist/v3/accountvalues/{ClientKey}':
    get:
      tags:
        - Account Values
      summary: 'Get account summary values, on each individual account and rolled up.'
      description: Returns the rolled up performance for the accounts of specified client. All rolled up account values are converted to the client base currency.
      operationId: AccountValueV3GetStandardPeriodAccountValues
      parameters:
        - name: ClientKey
          in: path
          description: The client key
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 6Fs62FqtJTLHcQbq4koW2Q==
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPeriodsAccountValuesListResult'
              example:
                Data:
                  - AccountValue: 5028322.26953125
                    AccountValueMonth: 1510.67004394531
                    AccountValueYear: 0
                    Key: WMhrJRysCuCFlMbcGFvPVA==
                    KeyType: Account
                  - AccountValue: 1000
                    AccountValueMonth: 0
                    AccountValueYear: 0
                    Key: 076n7v5YfRys3|tNojPVcA==
                    KeyType: Account
                  - AccountValue: 5028469.04129028
                    AccountValueMonth: 1510.670043945311
                    AccountValueYear: 0
                    Key: xwhUCDYh8X|pIwV|og2Qag==
                    KeyType: Client
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
components:
  schemas:
    AccountPerformance:
      title: Account performance data model.
      type: object
      properties:
        AccountSummary:
          title: "The account summary consists performance metrics which is based on closed positions\r\n            for an account over the entire lifespan of the account."
          allOf:
            - $ref: '#/components/schemas/AccountSummary'
        Allocation:
          title: The trades allocation.
          allOf:
            - $ref: '#/components/schemas/Allocation'
        AvailableBenchmarks:
          title: The list of available benchmarks.
          type: array
          items:
            $ref: '#/components/schemas/BenchMark'
        BalancePerformance:
          title: Balance AccountPerformance metrics.
          allOf:
            - $ref: '#/components/schemas/BalancePerformance'
        BenchMark:
          title: The bench mark.
          allOf:
            - $ref: '#/components/schemas/BenchMark'
        BenchmarkPerformance:
          title: The benchmark performance.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
        Currency:
          title: The currency in which the data is calculated on.
          type: string
        From:
          title: "The start date is the offset date for all performance metrics that is a part\r\n                of the 'AccountPerformance'."
          allOf:
            - type: string
              format: date
              x-type-name: Date
        InceptionDay:
          title: The date where the first account deposit have been registred.
          allOf:
            - type: string
              format: date
              x-type-name: Date
        LastTradeDay:
          title: "Performance data that is returned is limited to the be data that lies between\r\n            the first trade day and the last trade day for the account. The last trade day\r\n            is the last day that one or more trades have been registred."
          allOf:
            - type: string
              format: date
              x-type-name: Date
        Thru:
          title: "The end date is the ending date for all returned performance metrics that is\r\n                a part of the 'AccountPerformance'. The 'ActualThruDate' date is included."
          allOf:
            - type: string
              format: date
              x-type-name: Date
        TimeWeightedPerformance:
          title: Time weighted performance metrics.
          allOf:
            - $ref: '#/components/schemas/TimeWeightedPerformance'
        TotalCashBalance:
          title: The total cash balance
          type: number
        TotalCashBalancePerCurrency:
          title: The total cash balance grouped by currency.
          type: array
          items:
            $ref: '#/components/schemas/StringValuePair'
        TotalOpenPositionsValue:
          title: The total value of client's open positions
          type: number
        TotalPositionsValuePerCurrency:
          title: The total position value grouped by currency.
          type: array
          items:
            $ref: '#/components/schemas/StringValuePair'
        TotalPositionsValuePerProductPerSecurity:
          title: The total position value grouped by product.
          type: array
          items:
            $ref: '#/components/schemas/PositionOnSecurityAndProduct'
        TradeActivity:
          title: The trade activity.
          allOf:
            - $ref: '#/components/schemas/TradeActivity'
    AccountPerformanceFieldGroup:
      enum:
        - AccountSummary
        - All
        - Allocation
        - AvailableBenchmarks
        - BalancePerformance
        - BalancePerformance_AccountValueTimeSeries
        - BenchMark
        - BenchmarkPerformance
        - TimeWeightedPerformance
        - TimeWeightedPerformance_AccumulatedTimeWeightedTimeSeries
        - TotalCashBalancePerCurrency
        - TotalPositionsValuePerCurrency
        - TotalPositionsValuePerProductPerSecurity
        - TradeActivity
      type: string
      x-type-warning: FlaggableEnum
    AccountPerformanceStandardPeriod:
      title: Defines standard periods for account performance.
      enum:
        - AllTime
        - Month
        - Quarter
        - Year
      type: string
      x-enum-descriptions:
        AllTime: All time account performance.
        Year: The year standard account performance.
        Quarter: The quarter standard account performance.
        Month: The month standard account performance.
    AccountPerformanceStandardPeriodNullable:
      allOf:
        - $ref: '#/components/schemas/AccountPerformanceStandardPeriod'
    AccountSummary:
      title: "OpenApi account summary performance metrics. The summary is the performance metrics\r\n              that is related to closed positions over the entire lifespan of an account."
      type: object
      properties:
        AverageTradeDurationInMinutes:
          title: Average trade duration in minutes.
          allOf:
            - type: number
        AverageTradesPerWeek:
          title: The average trades per week.
          allOf:
            - type: number
        NumberOfDaysTraded:
          title: Number of days traded.
          allOf:
            - type: number
        NumberOfLongTrades:
          title: The number of long trades.
          allOf:
            - type: number
        NumberOfShortTrades:
          title: The number of short trades.
          allOf:
            - type: number
        TopTradedInstruments:
          title: "A list of the most traded instrument in an ordered list where the single most\r\n                traded instruments is located at index 0."
          type: array
          items:
            type: string
        TotalReturnFraction:
          title: The total return fraction.
          allOf:
            - type: number
        TradedInstruments:
          title: A list of instruments traded with this account.
          type: array
          items:
            $ref: '#/components/schemas/AssetTypeNullable'
        TradesTotalCount:
          title: Total trades.
          allOf:
            - type: number
        TradesWonCount:
          title: The total count of winning trades.
          allOf:
            - type: number
        WinFraction:
          title: The fraction of trades with positive profit/loss.
          allOf:
            - type: number
    AccountSummaryFieldGroup:
      enum:
        - All
        - Allocation
        - BenchMark
        - TotalCashBalancePerCurrency
        - TotalPositionsValuePerCurrency
        - TotalPositionsValuePerProductPerSecurity
        - TradeActivity
        - TradeSummary
      type: string
      x-type-warning: FlaggableEnum
    Allocation:
      title: Provides an overview of how performance is allocated across asset types and instruments.
      type: object
      properties:
        TradesPerAssetType:
          title: The allocation of trades grouped by trade asset type.
          allOf:
            - $ref: '#/components/schemas/TradesPerAssetType'
        TradesPerInstrument:
          title: The allocation trades grouped by instrument id.
          allOf:
            - $ref: '#/components/schemas/TradesPerInstrument'
    AllocationItem:
      title: Defindes a model for an allocation item.
      type: object
      properties:
        AssetClassType:
          title: The type of the asset class.
          type: string
        AssetType:
          title: The asset type.
          allOf:
            - $ref: '#/components/schemas/AssetTypeNullable'
        InstrumentDescription:
          title: The instrument description.
          type: string
        InstrumentSymbol:
          title: The instrument symbol.
          type: string
        InstrumentUic:
          title: The instrument UIC which is the unique instrument identifier.
          allOf:
            - type: integer
              format: int32
        ReturnAttribution:
          title: "The return attribution for a collection allocation items.\r\n            Remarks:\r\n                The return attribution is a number in the range [-1 ; 1]. The return attribution\r\n                is a measure of return relative to the allocation item in the collection with\r\n                the numerical largest value"
          allOf:
            - type: number
        TradeCount:
          title: The count of trades for the instrument asset type.
          type: integer
          format: int32
        TradePercent:
          title: The percent for trades for the instrument asset type.
          type: number
    Application.AccountPerformanceStandardPeriod:
      title: Defines standard periods for account performance.
      enum:
        - AllTime
        - Month
        - Quarter
        - Year
      type: string
      x-enum-descriptions:
        AllTime: All time account performance.
        Year: The year standard account performance.
        Quarter: The quarter standard account performance.
        Month: The month standard account performance.
    Application.v3.AccountPerformanceStandardPeriod:
      title: Defines standard periods for account performance.
      enum:
        - AllTime
        - Month
        - Quarter
        - Year
      type: string
      x-enum-descriptions:
        AllTime: All time account performance.
        Year: The year standard account performance.
        Quarter: The quarter standard account performance.
        Month: The month standard account performance.
    AssetType:
      title: The possible AssetTypes for which you can get a quote or place an order or a trade.
      enum:
        - Bond
        - Cash
        - CertificateBonus
        - CertificateCappedBonus
        - CertificateCappedCapitalProtected
        - CertificateCappedOutperformance
        - CertificateConstantLeverage
        - CertificateDiscount
        - CertificateExpress
        - CertificateTracker
        - CertificateUncappedCapitalProtection
        - CertificateUncappedOutperformance
        - CfdIndexOption
        - CfdOnCompanyWarrant
        - CfdOnEtc
        - CfdOnEtf
        - CfdOnEtn
        - CfdOnFund
        - CfdOnFutures
        - CfdOnIndex
        - CfdOnRights
        - CfdOnStock
        - CompanyWarrant
        - ContractFutures
        - Etc
        - Etf
        - Etn
        - Fund
        - FuturesOption
        - FuturesStrategy
        - FxBinaryOption
        - FxForwards
        - FxKnockInOption
        - FxKnockOutOption
        - FxNoTouchOption
        - FxOneTouchOption
        - FxSpot
        - FxVanillaOption
        - GuaranteeNote
        - IpoOnStock
        - ManagedFund
        - MiniFuture
        - MutualFund
        - PortfolioNote
        - Rights
        - SrdOnEtf
        - SrdOnStock
        - Stock
        - StockIndex
        - StockIndexOption
        - StockOption
        - Warrant
        - WarrantDoubleKnockOut
        - WarrantKnockOut
        - WarrantOpenEndKnockOut
        - WarrantSpread
      type: string
      x-enum-descriptions:
        FxSpot: Forex Spot.
        FxForwards: Forex Forward.
        FxVanillaOption: Forex Vanilla Option.
        FxKnockInOption: Forex Knock In Option.
        FxKnockOutOption: Forex Knock Out Option.
        FxBinaryOption: Forex Binary Option.
        FxOneTouchOption: Forex One Touch Option.
        FxNoTouchOption: Forex No Touch Option.
        ContractFutures: Contract Futures.
        FuturesStrategy: Futures Strategy.
        Stock: Stock.
        StockOption: Stock Option.
        Bond: Bond.
        FuturesOption: Futures Option.
        StockIndexOption: Stock Index Option.
        ManagedFund: 'Obsolete: Managed Fund.'
        Cash: Cash. Not tradeable!
        CfdOnStock: Cfd on Stock.
        CfdOnIndex: Cfd on Stock Index.
        CfdOnFutures: Cfd on Futures.
        StockIndex: Stock Index.
        MutualFund: Mutual Fund.
        CfdIndexOption: Cfd Index Option.
        CfdOnEtf: Cfd on Etf
        CfdOnEtc: Cfd on Etc
        CfdOnEtn: Cfd on Etn
        CfdOnFund: Cfd on Fund
        CfdOnRights: Cfd on Rights
        CfdOnCompanyWarrant: Cfd on unlisted warrant issued by a corporation.
        Etf: Exchange traded fund.
        Etc: Etc
        Etn: Etn
        Fund: Fund
        Rights: Rights
        Warrant: Warrant
        MiniFuture: MiniFuture.
        WarrantSpread: Warrant with built-in spread.
        WarrantKnockOut: Warrant with a knock-out barrier.
        WarrantOpenEndKnockOut: Knock-out Warrant with no expiry.
        WarrantDoubleKnockOut: Warrant with two knock-out barriers.
        CertificateUncappedCapitalProtection: Guarantees a percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateCappedCapitalProtected: Guarantees a capped percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateDiscount: 'Yields a capped return if the underlying asset''s value is above the specified cap level at expiry. If the underlying''s value is below the strike at expiry, the investor received the underlying or equivalent value. Offers direct exposure in underlying at a lower price (discount) with a capped potential profit and limited loss.'
        CertificateCappedOutperformance: Capped Outperformance Certificate.
        CertificateCappedBonus: Certificate Capped Bonus.
        CertificateExpress: Certificate Express kick out.
        CertificateTracker: A certificate that mirrors the price movement of the underlying instrument. Often used to trade movements in indicies. Movements can be a fixed ratio of the underlying and can be inverted for bearish/short speculation. Risk is equivalent to owning the underlying.
        CertificateUncappedOutperformance: 'Provides leveraged returns when the underlying price exceeds the threshold strike price. The amount leverage is defined by the Participation %. When the underlying is below the strike price, the certificate mirrors the underlying price 1:1.'
        CertificateBonus: 'Mirrors the price movement of the underlying only if and when the underlying price exceeds the defined barrier. If the certificate expires below the barrier, it offers partial protection/return of investment.'
        CertificateConstantLeverage: Certificate Constant Leverage.
        SrdOnStock: SRD. (Service de Règlement Différé) on Stock.
        SrdOnEtf: SRD. (Service de Règlement Différé) on Etf.
        IpoOnStock: IPO on Stock
        CompanyWarrant: 'Unlisted warrant issued by a corporation, often physically settled.'
        PortfolioNote: Danish pooled investment scheme (“Pulje”). Not online tradeable.
        GuaranteeNote: Danish investment scheme (“Grantbevis”). Not online tradeable.
    AssetTypeNullable:
      allOf:
        - $ref: '#/components/schemas/AssetType'
    BalancePerformance:
      title: OpenApi balance performance data contract.
      type: object
      properties:
        AccountBalanceTimeSeries:
          title: The account balance time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
        AccountValueTimeSeries:
          title: The account value time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
        AccumulatedProfitLoss:
          title: The accumulated Profit / Loss for the account over the period as a value.
          allOf:
            - type: number
        CashTransferTimeSeries:
          title: The cash transfer time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
        MonthlyProfitLossTimeSeries:
          title: The monthly profit / loss time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
        SecurityTransferTimeSeries:
          title: The security transfer time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
        YearlyProfitLossTimeSeries:
          title: The yearly profit / loss time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
    BenchMark:
      title: Class BenchMark.
      type: object
      properties:
        AssetType:
          title: The type of the asset.
          allOf:
            - $ref: '#/components/schemas/AssetType'
        Description:
          title: Description of instrument.
          type: string
        DisplayHintType:
          title: Display hint type of instrument
          allOf:
            - $ref: '#/components/schemas/DisplayHintType'
        Uic:
          title: The uic.
          type: integer
          format: int32
    BenchMarkPerformance:
      title: Performance figures for a day for benchmarks applicable on a day.
      type: object
      properties:
        Allocations:
          title: List of Benchmark Compositions.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.BenchMark'
        Date:
          title: Date and time of the occurrence.
          type: string
          format: date
          x-type-name: Date
        Value:
          title: The value at the given date and time
          type: number
    Contracts.AccountPerformance:
      type: object
      properties:
        Balance:
          title: Balance AccountPerformance metrics.
          allOf:
            - $ref: '#/components/schemas/Contracts.BalancePerformance'
        Benchmark:
          title: The benchmark performance.
          type: array
          items:
            $ref: '#/components/schemas/BenchMarkPerformance'
        KeyFigures:
          title: Key performance figures for the account.
          allOf:
            - $ref: '#/components/schemas/Contracts.PerformanceKeyFigures'
        TimeWeighted:
          title: Time weighted performance metrics.
          allOf:
            - $ref: '#/components/schemas/Contracts.TimeWeightedPerformance'
    Contracts.AccountSummary:
      title: "OpenApi account summary performance metrics. The summary is the performance metrics\r\n              that is related to closed positions over the entire lifespan of an account."
      type: object
      properties:
        AccumulatedProfitLoss:
          title: The accumulated Profit / Loss for the account over the period as a value.
          allOf:
            - type: number
        BenchMarks:
          title: The bench mark.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.BenchMark'
        From:
          title: "The start date is the offset date for all performance metrics that is a part\r\n                of the 'AccountPerformance'."
          allOf:
            - type: string
              format: date
              x-type-name: Date
        InceptionDay:
          title: The date where the first account deposit have been registred.
          allOf:
            - type: string
              format: date
              x-type-name: Date
        LastTradeDay:
          title: "Performance data that is returned is limited to the be data that lies between\r\n            the first trade day and the last trade day for the account. The last trade day\r\n            is the last day that one or more trades have been registred."
          allOf:
            - type: string
              format: date
              x-type-name: Date
        Thru:
          title: "The end date is the ending date for all returned performance metrics that is\r\n                a part of the 'AccountPerformance'. The 'ActualThruDate' date is included."
          allOf:
            - type: string
              format: date
              x-type-name: Date
        TotalCashBalance:
          title: The total cash balance
          type: number
        TotalCashBalancePerCurrency:
          title: The total cash balance grouped by currency.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.StringValuePair'
        TotalOpenPositionsValue:
          title: The total value of client's open positions
          type: number
        TotalPositionsValuePerCurrency:
          title: The total position value grouped by currency.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.StringValuePair'
        TotalPositionsValuePerProductPerSecurity:
          title: The total position value grouped by product.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.PositionOnSecurityAndProduct'
        TradeSummary:
          title: Summary of all trade activity between start and end date.
          allOf:
            - $ref: '#/components/schemas/TradeSummary'
        WinFraction:
          title: The fraction of trades with positive profit/loss.
          allOf:
            - type: number
    Contracts.Allocation:
      title: Provides an overview of how performance is allocated across asset types and instruments.
      type: object
      properties:
        TradesPerAssetType:
          title: The allocation of trades grouped by trade asset type.
          allOf:
            - $ref: '#/components/schemas/Contracts.TradesPerAssetType'
        TradesPerInstrument:
          title: The allocation trades grouped by instrument id.
          allOf:
            - $ref: '#/components/schemas/Contracts.TradesPerInstrument'
    Contracts.AllocationItem:
      title: Defindes a model for an allocation item.
      type: object
      properties:
        AssetClassType:
          title: The type of the asset class.
          type: string
        AssetType:
          title: The asset type.
          allOf:
            - $ref: '#/components/schemas/AssetTypeNullable'
        InstrumentDescription:
          title: The instrument description.
          type: string
        InstrumentSymbol:
          title: The instrument symbol.
          type: string
        InstrumentUic:
          title: The instrument UIC which is the unique instrument identifier.
          allOf:
            - type: integer
              format: int32
        ReturnAttribution:
          title: "The return attribution for a collection allocation items.\r\n            Remarks:\r\n                The return attribution is a number in the range [-1 ; 1]. The return attribution\r\n                is a measure of return relative to the allocation item in the collection with\r\n                the numerical largest value"
          allOf:
            - type: number
        TradeCount:
          title: The count of trades for the instrument asset type.
          type: integer
          format: int32
        TradePercent:
          title: The percent for trades for the instrument asset type.
          type: number
    Contracts.BalancePerformance:
      title: OpenApi balance performance data contract.
      type: object
      properties:
        AccountBalance:
          title: The account balance time series.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TimeValuePair'
        AccountValue:
          title: The account value time series.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TimeValuePair'
        CashTransfer:
          title: The cash transfer time series.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TimeValuePair'
        MonthlyProfitLoss:
          title: The monthly profit / loss time series.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TimeValuePair'
        SecurityTransfer:
          title: The security transfer time series.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TimeValuePair'
        YearlyProfitLoss:
          title: The yearly profit / loss time series.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TimeValuePair'
    Contracts.BenchMark:
      title: Benchmark and all
      type: object
      properties:
        Allocations:
          title: List of Benchmark Compositions.
          type: array
          items:
            $ref: '#/components/schemas/InstrumentAllocation'
        CurrencyCode:
          title: Benchmark currency.
          type: string
        Description:
          title: Benchmark description.
          type: string
        Name:
          title: Benchmark name.
          type: string
    Contracts.Drawdown:
      title: Drawdown
      type: object
      properties:
        DaysCount:
          title: Days Count
          allOf:
            - type: integer
              format: int32
        DepthInPercent:
          title: Depth in Percnt
          allOf:
            - type: number
        FromDate:
          title: From Date
          allOf:
            - type: string
        RecoveryDaysCount:
          title: Recovery Days Count
          allOf:
            - type: integer
              format: int32
        ThruDate:
          title: Thru Date
          allOf:
            - type: string
    Contracts.DrawdownReport:
      title: Drawdown report
      type: object
      properties:
        CurrentDrawdownDepthInPercent:
          title: CurrentDrawdownDepthInPercent
          allOf:
            - type: number
        Drawdowns:
          title: Drawdowns
          type: array
          items:
            $ref: '#/components/schemas/Contracts.Drawdown'
        MaxDaysInDrawdownFromTop10Drawdowns:
          title: MaxDaysInDrawdownFromTop10Drawdowns
          allOf:
            - type: integer
              format: int32
    Contracts.PerformanceKeyFigures:
      title: OpenApi time weighted data contract
      type: object
      properties:
        ClosedTradesCount:
          title: The number of closed trades for the period.
          allOf:
            - type: integer
              format: int32
        DrawdownReport:
          title: The drawdown report for a time weighted time series.
          allOf:
            - $ref: '#/components/schemas/Contracts.DrawdownReport'
        LosingDaysFraction:
          title: "The losing days fraction is the fraction of days with negative returns where\r\n              both realized and unrealized profits are taken into account."
          allOf:
            - type: number
        MaxDrawDownFraction:
          title: "The maximum draw down as fraction is the largest drop in the time series as a\r\n                fraction."
          allOf:
            - type: number
        PerformanceFraction:
          title: The accumulated performance fraction that is associated with the time series.
          type: number
        ReturnFraction:
          title: The return fraction.
          allOf:
            - type: number
        SampledStandardDeviation:
          title: "The unbiased sampled standard deviation which means that the standard deviation\r\n                estimator has been corrected by applying the Bessel's correction."
          allOf:
            - type: number
        SharpeRatio:
          title: The sharpe ratio.
          allOf:
            - type: number
        SortinoRatio:
          title: The sortino ratio.
          allOf:
            - type: number
        WinningFraction:
          title: The fraction of closed positions that has been won.
          allOf:
            - type: number
    Contracts.PositionOnSecurityAndProduct:
      title: Details of Position on Securuty and Product
      type: object
      properties:
        Description:
          title: The product description.
          type: string
        ProductName:
          title: The product name.
          type: string
        Symbol:
          title: The symbol value.
          type: string
        Value:
          title: Value
          type: number
    Contracts.StringValuePair:
      title: Dto used for storing string/decimal value pairs
      type: object
      properties:
        StringValue:
          title: The string value.
          type: string
        Value:
          title: The decimal value
          type: number
    Contracts.TimeValuePair:
      title: Implementation of a time and value pair.
      type: object
      properties:
        Date:
          title: Date and time of the occurrence.
          type: string
          format: date
          x-type-name: Date
        Value:
          title: The value at the given date and time
          type: number
    Contracts.TimeWeightedPerformance:
      title: OpenApi time weighted data contract
      type: object
      properties:
        Accumulated:
          title: The accumulated time weighted time series.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TimeValuePair'
        MonthlyReturn:
          title: The monthly return time series.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TimeValuePair'
        YearlyReturn:
          title: The yearly time weighted return time series.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TimeValuePair'
    Contracts.TradeActivity:
      title: Defines a data contract for closed trades activity.
      type: object
      properties:
        TradesPerDay:
          title: The trades per day.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.TradesPerDayItem'
    Contracts.TradesPerAssetType:
      title: "Defines a data contract for trades allocation where the trades are grouped by\r\n                the asset type of positions."
      type: object
      properties:
        ClosedTradesAllocations:
          title: The closed trades allocations
          type: array
          items:
            $ref: '#/components/schemas/Contracts.AllocationItem'
    Contracts.TradesPerDayItem:
      title: Defines a data contract for closed trades count on a single day.
      type: object
      properties:
        Date:
          title: The date.
          type: string
          format: date
          x-type-name: Date
        TradeCount:
          title: The trade count.
          allOf:
            - type: integer
              format: int32
    Contracts.TradesPerInstrument:
      title: "Defines a data contract for trades allocation where the trades are grouped by\r\n               the instrument."
      type: object
      properties:
        ClosedTradesAllocations:
          title: The closed trades allocations
          type: array
          items:
            $ref: '#/components/schemas/Contracts.AllocationItem'
    ContractsV4.AccountPerformanceFieldGroup:
      enum:
        - All
        - Balance
        - Balance_AccountBalance
        - Balance_AccountValue
        - Balance_CashTransfer
        - Balance_MonthlyProfitLoss
        - Balance_SecurityTransfer
        - Balance_YearlyProfitLoss
        - Benchmark
        - KeyFigures
        - TimeWeighted
        - TimeWeighted_Accumulated
        - TimeWeighted_MonthlyReturn
        - TimeWeighted_YearlyReturn
      type: string
      x-type-warning: FlaggableEnum
    CorrelationType:
      title: Correlation Type
      enum:
        - Allocation
        - Assignment
        - AutoAbandonment
        - AutoAssignment
        - AutoExercise
        - AutoHedge
        - AutoTrade
        - BatchFollowerOrders
        - BlockClosingTrade
        - ClientDefault
        - ClosingTrade
        - CopyTrade
        - Exercise
        - Facilitation
        - FxDmaTrade
        - Hedge
        - InternallyFilledFractionalTrade
        - ManualHedge
        - None
        - OnBehalfOf
        - PartiallyFilledAndExploded
        - PartnerHedge
        - Rebooking
        - SaxoPrimeTrade
        - Split
        - Strategy
        - Synthetic
        - TradingFloor
        - TraianaDropCopyTrade
        - WithAdvice
        - WithDealCapture
      type: string
      x-enum-descriptions:
        None: None
        Allocation: Allocation
        Synthetic: Synthetic - Indicates that the correlation involves the construction of a synthetic trade.
        Hedge: Hedge - Indicates that the correlation involves a hedge
        PartnerHedge: PartnerHedge - Indicates that correlation involves a partner hedge.
        AutoHedge: AutoHedge - Indicates that correlation involves an auto hedge.
        ManualHedge: ManualHedge - Indicates that correlation involves a manual hedge.
        Exercise: Contract option exercise
        Assignment: Contract option assignment
        AutoExercise: Automated contract option exercise (at expiry)
        AutoAssignment: Automated contract option assignment (at expiry)
        AutoAbandonment: Automated Abandonment
        Split: Position involved in split
        Rebooking: Position involved in rebooking
        CopyTrade: Position/Order copied from other
        Strategy: For Strategy type future
        AutoTrade: Position/Order auto-copied from other
        SaxoPrimeTrade: Saxo Prime position
        TradingFloor: Order/Position originated from TradingFloor
        TraianaDropCopyTrade: Position originated from Traiana Drop Copy Service.
        ClientDefault: Client Default
        ClosingTrade: Trade to close another trade
        FxDmaTrade: Fx Dma Trade
        PartiallyFilledAndExploded: Indicates that this order is partially filled and then ungrouped/exploded from a group stop order
        BlockClosingTrade: Indicates that this trade is a closing trade of the block trade
        Facilitation: Indicates that this order or trade is Facilitation flow
        OnBehalfOf: Indicates that this trade is On Behalf Of booking
        InternallyFilledFractionalTrade: The trade is created internally to fill Fractional part ( No broker leg)
        BatchFollowerOrders: 'Saxo Select, fractional ETFs: Delayed order execution when follower starts or funds'
        WithDealCapture: Deal Capture Type
        WithAdvice: "With Advice Note, there will be an extra cost for the advice\r\n            Even if the AdviserClientNote is absent in OpenOrderData"
      x-type-warning: FlaggableEnum
    DisplayHintType:
      title: Display Hint Type.
      enum:
        - Continuous
        - CryptoCurrencies
        - Etc
        - Etf
        - Etn
        - Forex
        - Fund
        - Interests
        - None
        - PreciousMetal
        - Rights
        - StockIndices
        - Warrant
      type: string
      x-enum-descriptions:
        None: Indicates not special display hint is required.
        PreciousMetal: Metals like XAUUSD.
        Continuous: Used for the parent ContractFutures.
        Etf: Exchange Traded Funds.
        Etn: Exchange Traded Notes.
        Etc: Exchange Traded Certificates/Currencies.
        Rights: Rights.
        Warrant: Warrants.
        Forex: Forex. Intended to be used for Cfds on Futures on Forex.
        Interests: Interest rates. Intended to be used for Cfds on Futures on bonds.
        StockIndices: Stock indices. Intended to be used for Cfds on Futures on stock indices.
        Fund: Fund.
        CryptoCurrencies: Crypto currencies.
    DisplayHintTypeNullable:
      allOf:
        - $ref: '#/components/schemas/DisplayHintType'
    Drawdown:
      title: Drawdown
      type: object
      properties:
        DaysCount:
          title: Days Count
          allOf:
            - type: integer
              format: int32
        DepthInPercent:
          title: Depth in Percnt
          allOf:
            - type: number
        FromDate:
          title: From Date
          allOf:
            - type: string
              format: date
              x-type-name: Date
        RecoveryDaysCount:
          title: Recovery Days Count
          allOf:
            - type: integer
              format: int32
        ThruDate:
          title: Thru Date
          allOf:
            - type: string
              format: date
              x-type-name: Date
    DrawdownReport:
      title: Drawdown report
      type: object
      properties:
        CurrentDrawdownDepthInPercent:
          title: CurrentDrawdownDepthInPercent
          allOf:
            - type: number
        Drawdowns:
          title: Drawdowns
          type: array
          items:
            $ref: '#/components/schemas/Drawdown'
        MaxDaysInDrawdownFromTop10Drawdowns:
          title: MaxDaysInDrawdownFromTop10Drawdowns
          allOf:
            - type: integer
              format: int32
    IHistoricalPositionView:
      title: Interface for defining the properties common to private and public views of historical positions.
      type: object
      properties:
        AccountId:
          title: ID/Name of the account on which the position was traded.
          maxLength: 16
          minLength: 1
          type: string
          x-type-name: AccountId
        Amount:
          title: The amount held by the position.
          type: number
        AmountAccountValueCloseRatio:
          title: The relative value of the Closed Position compared to the account at the time of the position closing.
          type: string
        AmountAccountValueOpenRatio:
          title: The relative value of the Closed Position compared to the account at the time of the position creation.
          type: string
        ClosingAssetType:
          title: of instrument of closing trade.
          allOf:
            - $ref: '#/components/schemas/AssetType'
        ClosingDisplayHint:
          title: Provides  to UI for closing trade.
          allOf:
            - $ref: '#/components/schemas/DisplayHintTypeNullable'
        ClosingTradeDate:
          title: The date the clsing trade was executed.
          type: string
          format: date
          x-type-name: Date
        ClosingValueDate:
          title: The value date of the opening trade.
          type: string
          format: date
          x-type-name: Date
        CopiedFrom:
          title: The position id of the position that has been copied.
          type: string
        CorrelationType:
          title: The correlation type of the historical position.
          allOf:
            - $ref: '#/components/schemas/CorrelationType'
        Decimals:
          title: Number of Decimals.
          type: integer
          format: int32
        ExecutionTimeClose:
          title: UTC date and time of when the position was closed.
          type: string
          format: date-time
          x-type-name: UtcDateTime
        ExecutionTimeOpen:
          title: UTC date and time of when the position was opened.
          type: string
          format: date-time
          x-type-name: UtcDateTime
        ExpiryDate:
          title: The date the option expires.
          allOf:
            - type: string
              format: date
              x-type-name: Date
        InstrumentSymbol:
          title: The Instrument symbol.
          type: string
        LongShort:
          title: Indicates whether it is a long or a short position.
          allOf:
            - $ref: '#/components/schemas/LongOrShort'
        LowerBarrier:
          title: Lower barrier for options.
          allOf:
            - type: number
        OpeningAssetType:
          title: of instrument of opening trade.
          allOf:
            - $ref: '#/components/schemas/AssetType'
        OpeningDisplayHint:
          title: Provides  to UI for opening trade.
          allOf:
            - $ref: '#/components/schemas/DisplayHintTypeNullable'
        OpeningTradeDate:
          title: The date the opening trade was executed.
          type: string
          format: date
          x-type-name: Date
        OpeningValueDate:
          title: The value date of the opening trade.
          type: string
          format: date
          x-type-name: Date
        PipsGainPerInstrumentUnit:
          title: "The pips or decipips\r\n            Only applicable for FX"
          allOf:
            - type: number
        PriceClose:
          title: At what price was the posision closed (in instrument base currency).
          type: number
        PriceGain:
          title: The difference between opening and closing price in percent.
          type: number
        PriceOpen:
          title: At what price was the position opened (in instrument base currency).
          type: number
        PricePct:
          title: "Percentage gain between the opening price and the closing price.\r\n            The percentage gained is taking the 'short' / 'long' information into account.\r\n            A price drops for a 'short' positions yields a positive price gain \r\n            where as a price drop for a 'long' position yields a negative price gain.\r\n            The reverse is true a price increase is registred. \r\n            Return Percentage value from decimal fraction, e.g. 100% for 1, 50% for 0.50"
          type: number
        ProfitLoss:
          title: The P/L of the position in absolute amount.
          type: number
        ProfitLossAccountValueFraction:
          title: The P/L over account value EOD previous day.
          allOf:
            - type: number
        PutCall:
          title: Option type.
          allOf:
            - $ref: '#/components/schemas/PutCallNullable'
        StrikePrice:
          title: The strike price of the option.
          allOf:
            - type: number
        Uic:
          title: Unique instrument code.
          minimum: 1
          type: integer
          format: int32
          x-type-name: Uic
        UpperBarrier:
          title: Upper barrier for options.
          allOf:
            - type: number
    IHistoricalPositionViewListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/IHistoricalPositionView'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
    InstrumentAllocation:
      title: Composition of benchmark per asset type.
      type: object
      properties:
        AllocationPCT:
          title: Allocation of instrument in benchmark.
          type: number
        AssetType:
          title: The type of the asset.
          allOf:
            - $ref: '#/components/schemas/AssetType'
        Description:
          title: Instrument description.
          type: string
        DisplayHintType:
          title: Display hint type of instrument
          allOf:
            - $ref: '#/components/schemas/DisplayHintType'
        Uic:
          title: The uic.
          type: integer
          format: int32
    KeyType:
      title: Defines the different kinds of account value summary types
      enum:
        - Account
        - AccountGroup
        - Client
      type: string
      x-enum-descriptions:
        Client: Client.
        AccountGroup: AccountGroup.
        Account: Account.
    Link:
      title: Represents a link to some web resource.
      type: object
      properties:
        Relation:
          title: The type of link. This adds semantic meaning to the link.
          type: string
        Type:
          title: Corresponds to media type for HTTP.
          type: string
        Uri:
          title: The URI to the resource.
          type: string
    LongOrShort:
      type: object
      properties:
        PresentationValue:
          type: string
        Value:
          allOf:
            - $ref: '#/components/schemas/LongOrShortValue'
    LongOrShortValue:
      enum:
        - Long
        - Short
      type: string
    ModelStateDictionary:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    PerformanceKeyFigures:
      title: OpenApi time weighted data contract
      type: object
      properties:
        ClosedTradesCount:
          title: The number of closed trades for the period.
          allOf:
            - type: integer
              format: int32
        DrawdownReport:
          title: The drawdown report for a time weighted time series.
          allOf:
            - $ref: '#/components/schemas/DrawdownReport'
        LosingDaysFraction:
          title: "The losing days fraction is the fraction of days with negative returns where\r\n              both realized and unrealized profits are taken into account."
          allOf:
            - type: number
        MaxDrawDownFraction:
          title: "The maximum draw down as fraction is the largest drop in the time series as a\r\n                fraction."
          allOf:
            - type: number
        ReturnFraction:
          title: The return fraction.
          allOf:
            - type: number
        SampledStandardDeviation:
          title: "The unbiased sampled standard deviation which means that the standard deviation\r\n                estimator has been corrected by applying the Bessel's correction."
          allOf:
            - type: number
        SharpeRatio:
          title: The sharpe ratio.
          allOf:
            - type: number
        SortinoRatio:
          title: The sortino ratio.
          allOf:
            - type: number
        WinningFraction:
          title: The fraction of closed positions that has been won.
          allOf:
            - type: number
    PositionOnSecurityAndProduct:
      title: Details of Position on Securuty and Product
      type: object
      properties:
        Description:
          title: The product description.
          type: string
        ProductName:
          title: The product name.
          type: string
        Symbol:
          title: The symbol value.
          type: string
        Value:
          title: Value
          type: number
    PutCall:
      title: "Specifies type of option. \r\n             Note: The Put/Call numerical values are not the same as defined in the enum _ClmFeedPutCallTypes\r\n                   enum _ClmFeedPutCallTypes { ClmFeedCall = 1, ClmFeedPut = 2 } \r\n            \r\n             (This enum defines a none (unspecified) value that is not defined in _PutCallTypes)"
      enum:
        - Call
        - None
        - Put
      type: string
      x-enum-descriptions:
        None: Not specified.
        Put: Put.
        Call: Call.
    PutCallNullable:
      allOf:
        - $ref: '#/components/schemas/PutCall'
    StandardPeriodsAccountValues:
      title: OpenApi data contract used to get the account values for standard periods.
      type: object
      properties:
        AccountValue:
          title: The account value on last reported trade date.
          type: number
        AccountValueMonth:
          title: The account value a calendar month ago.
          type: number
        AccountValueYear:
          title: The account value a calendar year ago.
          type: number
        Key:
          title: The key associated with these values (encrypted).
          type: string
        KeyType:
          title: 'The type of summary key (Client, Group or Account level).'
          allOf:
            - $ref: '#/components/schemas/KeyType'
    StandardPeriodsAccountValuesListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/StandardPeriodsAccountValues'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
    StringValuePair:
      title: Dto used for storing string/decimal value pairs
      type: object
      properties:
        StringValue:
          title: The string value.
          type: string
        Value:
          title: The decimal value
          type: number
    System.AccountPerformanceStandardPeriodNullable:
      allOf:
        - $ref: '#/components/schemas/Application.AccountPerformanceStandardPeriod'
    'System.Nullable`1[[Iit.OpenApi.Services.HistoricalPositions.v3.Application.AccountPerformanceStandardPeriod, Iit.OpenApi.Services.HistoricalPositions.v3, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]':
      allOf:
        - $ref: '#/components/schemas/Application.v3.AccountPerformanceStandardPeriod'
    TimeValuePair:
      title: Implementation of a time and value pair.
      type: object
      properties:
        Date:
          title: Date and time of the occurrence.
          type: string
          format: date
          x-type-name: Date
        Value:
          title: The value at the given date and time
          type: number
    TimeWeightedPerformance:
      title: OpenApi time weighted data contract
      type: object
      properties:
        AccumulatedPerformanceSparklineImageLinks:
          title: A collection of links to sparkline images for this performance calculatin.
          type: array
          items:
            $ref: '#/components/schemas/Link'
        AccumulatedTimeWeightedTimeSeries:
          title: The accumulated time weighted time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
        MonthlyReturnTimeSeries:
          title: The monthly return time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
        PerformanceFraction:
          title: The accumulated performance fraction that is associated with the time series.
          type: number
        PerformanceKeyFigures:
          title: Key performance figures for the account.
          allOf:
            - $ref: '#/components/schemas/PerformanceKeyFigures'
        YearlyReturnTimeSeries:
          title: The yearly time weighted return time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
    TradeActivity:
      title: Defines a data contract for closed trades activity.
      type: object
      properties:
        TradesPerDay:
          title: The trades per day.
          type: array
          items:
            $ref: '#/components/schemas/TradesPerDayItem'
    TradeSummary:
      type: object
      properties:
        Allocation:
          title: The trades allocation.
          allOf:
            - $ref: '#/components/schemas/Contracts.Allocation'
        AverageTradeDurationInMinutes:
          title: Average trade duration in minutes.
          allOf:
            - type: number
        AverageTradesPerWeek:
          title: The average trades per week.
          allOf:
            - type: number
        NumberOfDaysTraded:
          title: Number of days traded.
          allOf:
            - type: number
        NumberOfLongTrades:
          title: The number of long trades.
          allOf:
            - type: number
        NumberOfShortTrades:
          title: The number of short trades.
          allOf:
            - type: number
        TopTradedInstruments:
          title: "A list of the most traded instrument in an ordered list where the single most\r\n                traded instruments is located at index 0."
          type: array
          items:
            type: string
        TradeActivity:
          title: The trade activity.
          allOf:
            - $ref: '#/components/schemas/Contracts.TradeActivity'
        TradedInstruments:
          title: A list of instruments traded with this account.
          type: array
          items:
            $ref: '#/components/schemas/AssetTypeNullable'
        TradesTotalCount:
          title: Total trades.
          allOf:
            - type: number
        TradesWonCount:
          title: The total count of winning trades.
          allOf:
            - type: number
    TradesPerAssetType:
      title: "Defines a data contract for trades allocation where the trades are grouped by\r\n                the asset type of positions."
      type: object
      properties:
        ClosedTradesAllocations:
          title: The closed trades allocations
          type: array
          items:
            $ref: '#/components/schemas/AllocationItem'
    TradesPerDayItem:
      title: Defines a data contract for closed trades count on a single day.
      type: object
      properties:
        Date:
          title: The date.
          type: string
          format: date
          x-type-name: Date
        TradeCount:
          title: The trade count.
          allOf:
            - type: integer
              format: int32
    TradesPerInstrument:
      title: "Defines a data contract for trades allocation where the trades are grouped by\r\n               the instrument."
      type: object
      properties:
        ClosedTradesAllocations:
          title: The closed trades allocations
          type: array
          items:
            $ref: '#/components/schemas/AllocationItem'
  responses:
    BadRequest:
      description: One or more of the provided parameters are invalid.
      content:
        application/json:
          schema:
            required:
              - ErrorCode
              - Message
            type: object
            properties:
              ErrorCode:
                enum:
                  - InvalidRequest
                type: string
                x-enum-descriptions:
                  InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
              Message:
                type: string
              ModelState:
                $ref: '#/components/schemas/ModelStateDictionary'
    ServiceUnavailable:
      description: Service Unavailable.
    TooManyRequests:
      description: The request was rejected due to rate limit being exceeded.
    Unauthorized:
      description: Indicates that the request was rejected because the 'Authorization' header was missing in the request or contained an invalid security token.
  securitySchemes:
    OpenApiJWTSecurityScheme:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OpenApiOAuthSecurityScheme:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://live.logonvalidation.net/authorize
          tokenUrl: https://live.logonvalidation.net/token
          scopes: { }
tags:
  - name: Account Summaries
    description: Get account summary data for accounts
  - name: Account Values
    description: 'Provides account summary values, on each individual account and rolled up..'
  - name: Client Offers
    description: Lists all Offers and Events detail for specified client
  - name: Historical Report Data - Account Balances
    description: Get Account Balance Report Data
  - name: Historical Report Data - Account Statements
    description: Get Account Statement Report Data
  - name: Historical Report Data - Account Valuations
    description: Get Account Valuations Data
  - name: Historical Report Data - Amount Groups
    description: Represent classification of amount types into various amount groups.
  - name: Historical Report Data - Audit Report Data
    description: Get Audit Report Data.
  - name: Historical Report Data - Balance and Equity
    description: Get balance and equity report data.
  - name: Historical Report Data - Bond Coupon Payments
    description: Bond coupons payments Report Data.
  - name: Historical Report Data - Bonds
    description: Get bond related report data.
  - name: Historical Report Data - CFD Cash Adjustments
    description: CFD cash adjustment Report Data.
  - name: Historical Report Data - CFD Finance Details
    description: CFD finance detail Report Data
  - name: Historical Report Data - CFD Resets
    description: CFD reset Report data.
  - name: Historical Report Data - Carrying Cost Details Data
    description: Get Carrying Cost Details Data.
  - name: Historical Report Data - Client Activity
    description: Get client activity report data.
  - name: Historical Report Data - Commission Credit
    description: Get commission credit report data
  - name: Historical Report Data - Earnings Breakdown
    description: Lists all Earnings Breakdown for specified client or account
  - name: Historical Report Data - Financial statement
    description: Financial statementreport data.
  - name: Historical Report Data - Forex Commission
    description: Forex commission Report Data.
  - name: Historical Report Data - Forex Options
    description: Forex option Report Data.
  - name: Historical Report Data - Forex Rollovers
    description: Forex rollover Report Data.
  - name: Historical Report Data - Holding Fee Details Data
    description: Holding Fee Details Data.
  - name: Historical Report Data - Interest Details
    description: Interest detail Report Data.
  - name: Historical Report Data - Ipo Finance Details
    description: Ipo finance details
  - name: Historical Report Data - Last Processed Date
    description: Last latest milestone instance
  - name: Historical Report Data - Margin Products
    description: Get margin product report data.
  - name: Historical Report Data - Marging Lending Interest
    description: Get Margin Lending Interest report data.
  - name: Historical Report Data - Net Open Positions
    description: Net open position Report Data.
  - name: Historical Report Data - Open Positions
    description: Open Positions report data.
  - name: Historical Report Data - Pending Unrealized Amounts
    description: Get Pending Unrealized Amounts data.
  - name: Historical Report Data - Portfolio Summary
    description: Lists all Portfolio Summary for specified client or account
  - name: Historical Report Data - Product distributions
    description: Product distribution Report Data.
  - name: Historical Report Data - Profit Loss Distributions
    description: Profit and Loss Report Data.
  - name: Historical Report Data - SRD Cash Adjustments
    description: SRD cash adjustment
  - name: Historical Report Data - SRD Finance Details
    description: SRD finance details
  - name: Historical Report Data - SRD Historical Instructions
    description: SRD historical instructions
  - name: Historical Report Data - Securities Lending
    description: Get Securities Lending report data.
  - name: Historical Report Data - Spread Cost
    description: Spread cost Report Data.
  - name: Historical Report Data - Stock Dividends
    description: Get equity related report data.
  - name: Historical Report Data - Stocks
    description: Get equity related report data.
  - name: Historical Report Data - Taxes
    description: Get tax report data.
  - name: Historical Report Data - Trade Corrections
    description: Trade correction Report Data.
  - name: Historical Report Data - Trades Executed
    description: Trades Report Data.
  - name: Historical Report Data - Transaction Balance
    description: Get Transaction Balance report data.
  - name: Historical Report Data - Transactions
    description: Lists all transactions for specified client or account
[...]
