openapi: 3.0.1
info:
  title: Services.AccountHistory
  description: Account history services providing historical and performance data about clients and accounts.
  version: 2.3.256+e322f9db50
  x-framework-version: 41.0.17+46f32c3eb1
  x-machine: SIMOAWEB9-DK2
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  /hist/v4/performance/summary:
    get:
      tags:
        - Performance
      summary: Performance Summary
      description: "Returns a summary containing aggregated trade results and related performance metrics of the requesting entity, within the specified period.\n            ClientKey and either StandardPeriod or FromDate/ToDate are required fields, and we encourage the use of FieldGroups to return only the required metrics."
      operationId: PerformanceV4GetAccountSummary
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The client key.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FieldGroups
          in: query
          description: The field groups.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AccountSummaryFieldGroup'
        - name: FromDate
          in: query
          description: From date.
          schema:
            type: string
            format: date
            x-type-name: Date
        - name: MockDataId
          in: query
          description: The mock data identifier.
          schema:
            type: string
        - name: StandardPeriod
          in: query
          description: The standard period.
          schema:
            $ref: '#/components/schemas/Application.v4.AccountPerformanceStandardPeriod'
        - name: ToDate
          in: query
          description: To date.
          schema:
            type: string
            format: date
            x-type-name: Date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contracts.AccountSummary'
              example:
                AccumulatedProfitLoss: 100
                BenchMarks:
                  - Allocations:
                      - AllocationPCT: 100
                        AssetType: Cash
                        Description: ''
                        DisplayHintType: None
                        Uic: 211
                    CurrencyCode: USD
                    Description: Description1
                    Name: Bench Mark Name 1
                  - Allocations:
                      - AllocationPCT: 100
                        AssetType: Bond
                        Description: ''
                        DisplayHintType: None
                        Uic: 210
                      - AllocationPCT: 100
                        AssetType: CertificateBonus
                        Description: ''
                        DisplayHintType: None
                        Uic: 211
                    CurrencyCode: EUR
                    Description: Description2
                    Name: Bench Mark Name 2
                From: '2022-10-30'
                InceptionDay: '2022-10-30'
                LastTradeDay: '2022-10-30'
                Thru: '2022-10-30'
                TotalCashBalance: 5000
                TotalCashBalancePerCurrency:
                  - StringValue: CAD
                    Value: -491.707122366824
                TotalOpenPositionsValue: 6000
                TotalPositionsValuePerCurrency:
                  - StringValue: CAD
                    Value: -491.707122366824
                TotalPositionsValuePerProductPerSecurity:
                  - Description: Position On Security And Product
                    ProductName: Product Name
                    Symbol: Symbol
                    Value: 200
                TradeSummary:
                  Allocation:
                    TradesPerAssetType:
                      ClosedTradesAllocations:
                        - AssetClassType: Equity
                          ReturnAttribution: 1
                          TradeCount: 168
                          TradePercent: 0.38009049773755654
                        - AssetClassType: Commodity
                          ReturnAttribution: 0.5628789450009563
                          TradeCount: 105
                          TradePercent: 0.23755656108597284
                        - AssetClassType: Currency
                          ReturnAttribution: 0.249937016456527
                          TradeCount: 112
                          TradePercent: 0.25339366515837103
                        - AssetClassType: Fixed Income
                          ReturnAttribution: -0.013150856136249162
                          TradeCount: 57
                          TradePercent: 0.12895927601809956
                    TradesPerInstrument:
                      ClosedTradesAllocations:
                        - AssetType: ContractFutures
                          InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
                          InstrumentSymbol: ZBU6
                          InstrumentUic: 3626018
                          ReturnAttribution: -0.15987101005684304
                          TradeCount: 40
                          TradePercent: 0.09049773755656108
                        - AssetType: FxSpot
                          InstrumentDescription: British Pound/US Dollar
                          InstrumentSymbol: GBPUSD
                          InstrumentUic: 31
                          ReturnAttribution: 0.14685155225185834
                          TradeCount: 37
                          TradePercent: 0.083710407239819
                  AverageTradeDurationInMinutes: 34260
                  AverageTradesPerWeek: 48.2325728770595
                  NumberOfDaysTraded: 1589
                  NumberOfLongTrades: 5434
                  NumberOfShortTrades: 5263
                  TopTradedInstruments:
                    - DAX.I
                    - DJI.I
                    - EURUSD
                    - GBPUSD
                    - NAS100.I
                    - NOKSEK
                    - EURNOK
                    - SP500.I
                  TradeActivity:
                    TradesPerDay:
                      - Date: '2022-10-30'
                        TradeCount: 100
                  TradedInstruments:
                    - FxSpot
                    - Stock
                    - FxVanillaOption
                    - ContractFutures
                  TradesTotalCount: 10697
                  TradesWonCount: 6499
                WinFraction: 5
        '404':
          description: Summary not found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  /hist/v4/performance/timeseries:
    get:
      tags:
        - Performance
      summary: Performance Timeseries
      description: "Returns timeseries containing performance metrics for the requesting entity, within the specified period.\n            ClientKey and either StandardPeriod or FromDate/ToDate are required fields, and we encourage the use of FieldGroups to return only the required metrics."
      operationId: PerformanceV4GetAccountPerformance
      parameters:
        - name: AccountGroupKey
          in: query
          description: The account group key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The account key.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The client key.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FieldGroups
          in: query
          description: The field groups.
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ContractsV4.AccountPerformanceFieldGroup'
        - name: FromDate
          in: query
          description: From date.
          schema:
            type: string
            format: date
            x-type-name: Date
        - name: MockDataId
          in: query
          description: The mock data identifier.
          schema:
            type: string
        - name: StandardPeriod
          in: query
          description: The standard period.
          schema:
            $ref: '#/components/schemas/Application.v4.AccountPerformanceStandardPeriod'
        - name: ToDate
          in: query
          description: To date.
          schema:
            type: string
            format: date
            x-type-name: Date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contracts.AccountPerformance'
              example:
                Balance:
                  AccountBalance:
                    - Date: '2021-03-16'
                      Value: 2713951
                    - Date: '2021-03-17'
                      Value: 2697389
                    - Date: '2021-03-18'
                      Value: 2697389
                    - Date: '2021-03-19'
                      Value: 2697389
                    - Date: '2021-03-22'
                      Value: 2697389
                  AccountValue:
                    - Date: '2021-03-16'
                      Value: 2713951
                    - Date: '2021-03-17'
                      Value: 2697389
                    - Date: '2021-03-18'
                      Value: 2697389
                    - Date: '2021-03-19'
                      Value: 2697389
                    - Date: '2021-03-22'
                      Value: 2697389
                  CashTransfer:
                    - Date: '2021-03-16'
                      Value: 700000
                    - Date: '2021-03-17'
                      Value: 693217
                    - Date: '2021-03-18'
                      Value: 693217
                    - Date: '2021-03-19'
                      Value: 693217
                    - Date: '2021-03-22'
                      Value: 693217
                    - Date: '2021-03-23'
                      Value: 693217
                    - Date: '2021-03-24'
                      Value: 693217
                    - Date: '2021-03-25'
                      Value: 693217
                    - Date: '2021-03-26'
                      Value: 693217
                    - Date: '2021-03-30'
                      Value: 693217
                    - Date: '2021-03-31'
                      Value: 693217
                    - Date: '2021-03-01'
                      Value: 693217
                    - Date: '2021-03-02'
                      Value: 693217
                  MonthlyProfitLoss:
                    - Date: '2021-03-31'
                      Value: 476960.78492
                    - Date: '2021-04-30'
                      Value: 0.00151689069285646
                  SecurityTransfer:
                    - Date: '2016-03-28'
                      Value: 0
                    - Date: '2016-03-29'
                      Value: 0
                  YearlyProfitLoss:
                    - Date: '2021-12-31'
                      Value: 473580.71199
                Benchmark:
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                    Date: '2021-05-11'
                    Value: 0.02
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-12'
                    Value: 0.03
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-13'
                    Value: 0.04
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-14'
                    Value: 0.065
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                    Date: '2021-05-15'
                    Value: -0.01
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-16'
                    Value: 0.03
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Bond
                            Description: ''
                            DisplayHintType: None
                            Uic: 210
                          - AllocationPCT: 100
                            AssetType: CertificateBonus
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: EUR
                        Description: Description2
                        Name: Bench Mark Name 2
                    Date: '2021-05-17'
                    Value: 0.025
                  - Allocations:
                      - Allocations:
                          - AllocationPCT: 100
                            AssetType: Cash
                            Description: ''
                            DisplayHintType: None
                            Uic: 211
                        CurrencyCode: USD
                        Description: Description1
                        Name: Bench Mark Name 1
                    Date: '2021-05-18'
                    Value: 0.03
                KeyFigures:
                  ClosedTradesCount: 0
                  DrawdownReport:
                    Drawdowns:
                      - DaysCount: 3
                        DepthInPercent: 1
                        FromDate: '2016-08-05T00:00:00'
                        RecoveryDaysCount: 1
                        ThruDate: '2016-08-08T00:00:00'
                    MaxDaysInDrawdownFromTop10Drawdowns: 3
                  LosingDaysFraction: 0.03
                  MaxDrawDownFraction: 1
                  PerformanceFraction: 0
                  ReturnFraction: -1
                  SampledStandardDeviation: 0.0618018874919214
                  SharpeRatio: -0.952069751000777
                  SortinoRatio: -0.0591710418985739
                TimeWeighted:
                  Accumulated:
                    - Date: '2021-03-16'
                      Value: 0.000707311584857981
                    - Date: '2021-03-17'
                      Value: 0.00289876077113995
                    - Date: '2021-03-18'
                      Value: 0.0030873830953917
                    - Date: '2021-03-19'
                      Value: 0.000729201756574284
                    - Date: '2021-03-22'
                      Value: 0.0016413754184318
                    - Date: '2021-03-23'
                      Value: 0.00615470900076945
                    - Date: '2021-03-24'
                      Value: 0.0145762714416127
                    - Date: '2021-03-25'
                      Value: 0.0130120799919019
                    - Date: '2021-03-26'
                      Value: 0.0109777093144279
                    - Date: '2021-03-29'
                      Value: 0.109105521823687
                    - Date: '2021-03-30'
                      Value: 0.109105521823687
                    - Date: '2021-03-31'
                      Value: 0.174356723940404
                    - Date: '2021-03-01'
                      Value: 0.176303239558097
                    - Date: '2021-03-02'
                      Value: 0.175826866623672
                  MonthlyReturn:
                    - Date: '2021-03-31'
                      Value: 0.176303239558097
                    - Date: '2021-04-30'
                      Value: 0.00151689069285646
                  YearlyReturn:
                    - Date: '2021-03-31'
                      Value: 0.175053781608446
        '404':
          description: Performance not found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/hist/v3/perf/{ClientKey}':
    get:
      tags:
        - Performance
      summary: Get account performance.
      description: "Returns a collection of performance metrics for a specific account. The account performance returns \n            confidencial information that is only allowed to be viewed by the account owner / owners.\n            The required fields are ClientKey and either StandardPeriod or FromDate/ToDate."
      operationId: PerformanceV3GetPerformance
      parameters:
        - name: AccountGroupKey
          in: query
          description: Id of the account containing the historical positions.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: Id of the account containing the historical positions.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: path
          description: Id of the client owning the account
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FieldGroups
          in: query
          description: Specifies which data to return. Default is
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AccountPerformanceFieldGroup'
        - name: FromDate
          in: query
          description: From date from which the historical positions are requested.
          schema:
            type: string
            format: date
            x-type-name: Date
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
        - name: StandardPeriod
          in: query
          description: Standard period for account performance.
          schema:
            $ref: '#/components/schemas/Application.AccountPerformanceStandardPeriod'
        - name: ToDate
          in: query
          description: To date till which the historical positions are requested.
          schema:
            type: string
            format: date
            x-type-name: Date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPerformance'
              example:
                AccountSummary:
                  AverageTradeDurationInMinutes: 34260
                  AverageTradesPerWeek: 48.2325728770595
                  NumberOfDaysTraded: 1589
                  NumberOfLongTrades: 5434
                  NumberOfShortTrades: 5263
                  TopTradedInstruments:
                    - DAX.I
                    - DJI.I
                    - EURUSD
                    - GBPUSD
                    - NAS100.I
                    - NOKSEK
                    - EURNOK
                    - SP500.I
                  TotalReturnFraction: -0.9999963956455
                  TradedInstruments:
                    - FxSpot
                    - Stock
                    - FxVanillaOption
                    - ContractFutures
                  TradesTotalCount: 10697
                  TradesWonCount: 6499
                  WinFraction: 0.61
                Allocation:
                  TradesPerAssetType:
                    ClosedTradesAllocations:
                      - AssetClassType: Equity
                        ReturnAttribution: 1
                        TradeCount: 168
                        TradePercent: 0.38009049773755654
                      - AssetClassType: Currency
                        ReturnAttribution: 0.249937016456527
                        TradeCount: 112
                        TradePercent: 0.25339366515837103
                      - AssetClassType: Commodity
                        ReturnAttribution: 0.5628789450009563
                        TradeCount: 105
                        TradePercent: 0.23755656108597284
                      - AssetClassType: Fixed Income
                        ReturnAttribution: -0.013150856136249162
                        TradeCount: 57
                        TradePercent: 0.12895927601809956
                  TradesPerInstrument:
                    ClosedTradesAllocations:
                      - AssetType: ContractFutures
                        InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
                        InstrumentSymbol: ZBU6
                        InstrumentUic: 3626018
                        ReturnAttribution: -0.15987101005684304
                        TradeCount: 40
                        TradePercent: 0.09049773755656108
                      - AssetType: FxSpot
                        InstrumentDescription: British Pound/US Dollar
                        InstrumentSymbol: GBPUSD
                        InstrumentUic: 31
                        ReturnAttribution: 0.14685155225185834
                        TradeCount: 37
                        TradePercent: 0.083710407239819
                BalancePerformance:
                  AccountBalanceTimeSeries:
                    - Date: '2016-03-28'
                      Value: 0
                    - Date: '2016-03-29'
                      Value: 0
                  AccountValueTimeSeries:
                    - Date: '2016-03-28'
                      Value: 0
                    - Date: '2016-03-29'
                      Value: 0
                  MonthlyProfitLossTimeSeries:
                    - Date: '2015-11-30'
                      Value: 0
                    - Date: '2015-12-31'
                      Value: 0
                  SecurityTransferTimeSeries:
                    - Date: '2016-03-28'
                      Value: 0
                    - Date: '2016-03-29'
                      Value: 0
                  YearlyProfitLossTimeSeries:
                    - Date: '2015-12-31'
                      Value: 0
                    - Date: '2016-12-31'
                      Value: 0
                    - Date: '2017-12-31'
                      Value: 0
                From: '2016-03-28'
                InceptionDay: '2015-11-24'
                LastTradeDay: '2017-03-27'
                Thru: '2017-03-27'
                TimeWeightedPerformance:
                  AccumulatedTimeWeightedTimeSeries:
                    - Date: '2016-03-25'
                      Value: 0
                  MonthlyReturnTimeSeries:
                    - Date: '2016-03-25'
                      Value: 0
                  PerformanceFraction: -1
                  PerformanceKeyFigures:
                    ClosedTradesCount: 0
                    DrawdownReport:
                      Drawdowns:
                        - DaysCount: 3
                          DepthInPercent: 1
                          FromDate: '2016-08-05'
                          ThruDate: '2016-08-08'
                      MaxDaysInDrawdownFromTop10Drawdowns: 3
                    LosingDaysFraction: 0.03
                    MaxDrawDownFraction: 1
                    ReturnFraction: -1
                    SampledStandardDeviation: 0.0618018874919214
                    SharpeRatio: -0.952069751000777
                    SortinoRatio: -0.0591710418985739
                  YearlyReturnTimeSeries:
                    - Date: '2016-03-25'
                      Value: 0
                TotalCashBalance: 20226.02
                TotalCashBalancePerCurrency:
                  - StringValue: CAD
                    Value: -491.707122366824
                TotalOpenPositionsValue: 29571.057
                TotalPositionsValuePerCurrency:
                  - StringValue: CAD
                    Value: -491.707122366824
                TotalPositionsValuePerProductPerSecurity:
                  - Description: Abengoa SA - Warrants
                    ProductName: Shares
                    Symbol: LOCK - 1496:xxxx
                    Value: 0
        '404':
          description: Performance not found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/hist/v3/positions/{ClientKey}':
    get:
      tags:
        - HistoricalPositions
      summary: 'Get historical positions of an account of a client, that were closed within the specified period'
      description: "Returns a list of historical positions for a specific account owned by a client.\n             The required fields are ClientKey and either StandardPeriod or FromDate/ToDate."
      operationId: HistoricalPositionsV3GetHistoricalPositions
      parameters:
        - name: $inlinecount
          in: query
          description: Specifies that the response to the request should include a count of the number of entries in the collection
          schema:
            enum:
              - AllPages
              - None
            type: string
            x-enum-descriptions:
              None: The result will not contain an inline count
              AllPages: The result will contain a total count of items in the queried collection
          example: AllPages
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $skiptoken
          in: query
          description: Specifies an entity id to start retrieving entries from. This is normally only used in generated nextlinks.
          schema:
            type: string
          example: B17D8890-3C7A-4A47-A9AA-01B022ED03A5
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: AccountGroupKey
          in: query
          description: Id of the account containing the historical positions.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: Id of the account containing the historical positions.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: AssetType
          in: query
          description: Filtering on asset type. If value not supplied all will be returned
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: ClientKey
          in: path
          description: Id of the client owning the account
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FromDate
          in: query
          description: From date from which the historical positions are requested.
          schema:
            type: string
            format: date
            x-type-name: Date
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
        - name: StandardPeriod
          in: query
          description: Standard period for account performance.
          schema:
            $ref: '#/components/schemas/AccountPerformanceStandardPeriod'
        - name: Symbol
          in: query
          description: The Instrument Symbol Code
          required: true
          schema:
            type: array
            items:
              type: string
              example: stringValue
        - name: ToDate
          in: query
          description: To date till which the historical positions are requested.
          schema:
            type: string
            format: date
            x-type-name: Date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IHistoricalPositionViewListResult'
              example:
                Data:
                  - AccountId: 112209INET
                    Amount: -1
                    AmountAccountValueCloseRatio: '2:1'
                    AmountAccountValueOpenRatio: '2:1'
                    ClosingAssetType: CfdOnIndex
                    ClosingTradeDate: '2016-07-19'
                    ClosingValueDate: '2016-07-19'
                    CopiedFrom: '1'
                    CorrelationType: None
                    Decimals: 2
                    ExecutionTimeClose: '2016-07-19T07:25:37Z'
                    ExecutionTimeOpen: '2016-07-18T10:38:06Z'
                    InstrumentSymbol: GER30.I
                    LongShort:
                      PresentationValue: Short
                      Value: Short
                    OpeningAssetType: CfdOnIndex
                    OpeningTradeDate: '2016-07-18'
                    OpeningValueDate: '2016-07-18'
                    PriceClose: 9998
                    PriceGain: 0.004778021102926538
                    PriceOpen: 10046
                    PricePct: -0.4778021102926538
                    ProfitLoss: 52.87
                    ProfitLossAccountValueFraction: 0.00807437613761156
                    Uic: '1373'
        '404':
          description: Positions not found.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/hist/v1/unsettledamounts/exchanges/{ExchangeId}':
    get:
      tags:
        - Unsettled Amounts
      summary: 'Exchange Breakdown: Owed by Currency and Amount Type'
      description: 'For a specific Exchange Identifier, gets unsettled amounts for each currency and each underlying amount type.'
      operationId: UnsettledAmountsGetValueDatedAmountsForSingleExchangeAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the resource belongs.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: QEPWm2RyUefWudKFjRaJag==
        - name: AccountKey
          in: query
          description: The keys of the accounts to which the resource belongs.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 7wfA7-TCgQ0ygd||aOXY0w==
        - name: AmountTypeSource
          in: query
          description: 'Specifies the response data granularity, providing access to source of AmountType.'
          schema:
            $ref: '#/components/schemas/AmountTypeSource'
        - name: ClientKey
          in: query
          description: The key of the client to which the resource belongs.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: AbSTLYSoo499JZpp|ckGFw==
        - name: ExchangeId
          in: path
          description: 'The exchange identifier for which value dated amounts is requested. If no exchange is associated to those amounts, use "NoExchange" as the value.'
          required: true
          schema:
            type: string
          example: NYSE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeBreakdown'
              example:
                CashFlows:
                  - Amount: -0.57
                    ValueDate: '2022-11-04'
                Currencies:
                  - CashFlows:
                      - Amount: -0.57
                        ValueDate: '2022-11-04'
                    Currency: DKK
                    Total: -0.57
                Currency: DKK
                ExchangeId: NYSE
                Total: -0.57
        '404':
          description: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  /hist/v1/unsettledamounts/exchanges:
    get:
      tags:
        - Unsettled Amounts
      summary: 'Exchange Breakdown: Owed by Exchange and Currency'
      description: 'Gets unsettled amounts grouped by exchange, for each currency owed by (or to) the requester.'
      operationId: UnsettledAmountsGetValueDatedAmountsByExchangeAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the resource belongs.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: QEPWm2RyUefWudKFjRaJag==
        - name: AccountKey
          in: query
          description: The keys of the accounts to which the resource belongs.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 7wfA7-TCgQ0ygd||aOXY0w==
        - name: AmountTypeSource
          in: query
          description: 'Specifies the response data granularity, providing access to source of AmountType.'
          schema:
            $ref: '#/components/schemas/AmountTypeSource'
        - name: ClientKey
          in: query
          description: The key of the client to which the resource belongs.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: AbSTLYSoo499JZpp|ckGFw==
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRoot'
              example:
                CashFlows:
                  - Amount: -0.57
                    ValueDate: '2022-11-04'
                  - Amount: -15.40352205
                    ValueDate: '2022-11-14'
                Currency: DKK
                Exchanges:
                  - CashFlows:
                      - Amount: -0.57
                        ValueDate: '2022-11-04'
                    Currencies:
                      - CashFlows:
                          - Amount: -0.57
                            ValueDate: '2022-11-04'
                        Currency: DKK
                        Total: -0.57
                    Currency: DKK
                    ExchangeId: NYSE
                    Total: -0.57
                  - CashFlows:
                      - Amount: -15.40352205
                        ValueDate: '2022-11-14'
                    Currencies:
                      - CashFlows:
                          - Amount: -15.40352205
                            ValueDate: '2022-11-14'
                        Currency: EUR
                        Total: -2.07
                    Currency: EUR
                    ExchangeId: NoExchange
                    Total: -15.40352205
                Total: -15.97352205
        '404':
          description: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  /hist/v1/unsettledamounts/instruments:
    get:
      tags:
        - Unsettled Amounts
      summary: 'Currency Breakdown: Owed by Instrument'
      description: 'For a specific Currency and AmountTypeId, gets unsettled amounts owed by (or to) the requester, for the underlying instruments.'
      operationId: UnsettledAmountsGetInstrumentsAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the resource belongs.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: QEPWm2RyUefWudKFjRaJag==
        - name: AccountKey
          in: query
          description: The keys of the accounts to which the resource belongs.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 7wfA7-TCgQ0ygd||aOXY0w==
        - name: AmountTypeId
          in: query
          description: 'Amount Type Id of the owed amount, for which you want instruments returned.'
          required: true
          schema:
            type: string
        - name: ClientKey
          in: query
          description: The key of the client to which the resource belongs.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: AbSTLYSoo499JZpp|ckGFw==
        - name: Currency
          in: query
          description: 'Currency code of the owed amount, for which you want instruments returned.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentBreakdownListResult'
              example:
                Data:
                  - AssetType: FxSpot
                    CashFlows:
                      - Amount: 274
                        ValueDate: '2022-11-01'
                    InstrumentDescription: Phillip Inc.
                    InstrumentSymbol: PI:xnys
                    Total: 320.45
                    Uic: 32154
        '404':
          description: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  /hist/v1/unsettledamounts:
    get:
      tags:
        - Unsettled Amounts
      summary: 'Currency Breakdown: Owed by Currency and Amount Type'
      description: Gets unsettled amounts for each currency owed by (or to) the requester. Scope can be extended in the request to include each currency's underlying amount types.
      operationId: UnsettledAmountsGetUnsettledAmountsAsync
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the resource belongs.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: QEPWm2RyUefWudKFjRaJag==
        - name: AccountKey
          in: query
          description: The keys of the accounts to which the resource belongs.
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 7wfA7-TCgQ0ygd||aOXY0w==
        - name: AmountTypeSource
          in: query
          description: 'Specifies the response data granularity, providing access to source of AmountType.'
          schema:
            $ref: '#/components/schemas/AmountTypeSource'
        - name: ClientKey
          in: query
          description: The key of the client to which the resource belongs.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: AbSTLYSoo499JZpp|ckGFw==
        - name: Scope
          in: query
          description: 'Specifies the response data granularity, providing access to either Currencies(default) or AmountTypes.'
          schema:
            $ref: '#/components/schemas/UnsettledAmountRequestType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyRoot'
              example:
                CashFlows:
                  - Amount: -0.57
                    ValueDate: '2022-11-04'
                  - Amount: -15.40352205
                    ValueDate: '2022-11-14'
                Currencies:
                  - AmountTypes:
                      - AmountType: Unrealized CFD Finance
                        AmountTypeId: '65'
                        AmountTypeSource: Financing
                        CashFlows:
                          - Amount: -0.57
                            ValueDate: '2022-11-04'
                        Total: -0.57
                    CashFlows:
                      - Amount: -0.57
                        ValueDate: '2022-11-04'
                    Currency: DKK
                    Total: -0.57
                  - AmountTypes:
                      - AmountType: Unr. Interest
                        AmountTypeId: '42'
                        AmountTypeSource: Financing
                        CashFlows:
                          - Amount: -15.40352205
                            ValueDate: '2022-11-14'
                        Total: -2.07
                    CashFlows:
                      - Amount: -15.40352205
                        ValueDate: '2022-11-14'
                    Currency: EUR
                    Total: -2.07
                Currency: EUR
                Total: -15.97352205
        '404':
          description: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/hist/v3/accountvalues/{ClientKey}':
    get:
      tags:
        - Account Values
      summary: 'Get account summary values, on each individual account and rolled up.'
      description: Returns the rolled up performance for the accounts of specified client. All rolled up account values are converted to the client base currency.
      operationId: AccountValueV3GetStandardPeriodAccountValues
      parameters:
        - name: ClientKey
          in: path
          description: The client key
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 6Fs62FqtJTLHcQbq4koW2Q==
        - name: MockDataId
          in: query
          description: Optional Mock Data Parameter
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardPeriodsAccountValuesListResult'
              example:
                Data:
                  - AccountValue: 5028322.26953125
                    AccountValueMonth: 1510.67004394531
                    AccountValueYear: 0
                    Key: WMhrJRysCuCFlMbcGFvPVA==
                    KeyType: Account
                  - AccountValue: 1000
                    AccountValueMonth: 0
                    AccountValueYear: 0
                    Key: 076n7v5YfRys3|tNojPVcA==
                    KeyType: Account
                  - AccountValue: 5028469.04129028
                    AccountValueMonth: 1510.670043945311
                    AccountValueYear: 0
                    Key: xwhUCDYh8X|pIwV|og2Qag==
                    KeyType: Client
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
components:
  schemas:
    AccountPerformance:
      title: Account performance data model.
      type: object
      properties:
        AccountSummary:
          title: "The account summary consists performance metrics which is based on closed positions\n            for an account over the entire lifespan of the account."
          allOf:
            - $ref: '#/components/schemas/Performance.AccountSummary'
        Allocation:
          title: The trades allocation.
          allOf:
            - $ref: '#/components/schemas/Allocation'
        AvailableBenchmarks:
          title: The list of available benchmarks.
          type: array
          items:
            $ref: '#/components/schemas/BenchMark'
          example:
            - AssetType: CertificateTracker
              Description: stringValue
              DisplayHintType: Continuous
              Uic: 99
        BalancePerformance:
          title: Balance AccountPerformance metrics.
          allOf:
            - $ref: '#/components/schemas/BalancePerformance'
        BenchMark:
          title: The bench mark.
          allOf:
            - $ref: '#/components/schemas/BenchMark'
        BenchmarkPerformance:
          title: The benchmark performance.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
          example:
            - Date: '2016-03-25'
              Value: 0
        Currency:
          title: The currency in which the data is calculated on.
          type: string
          example: stringValue
        From:
          title: "The start date is the offset date for all performance metrics that is a part\n                of the 'AccountPerformance'."
          type: string
          format: date
          x-type-name: Date
        InceptionDay:
          title: The date where the first account deposit have been registred.
          type: string
          format: date
          x-type-name: Date
        LastTradeDay:
          title: "Performance data that is returned is limited to the be data that lies between\n            the first trade day and the last trade day for the account. The last trade day\n            is the last day that one or more trades have been registred."
          type: string
          format: date
          x-type-name: Date
        Thru:
          title: "The end date is the ending date for all returned performance metrics that is\n                a part of the 'AccountPerformance'. The 'ActualThruDate' date is included."
          type: string
          format: date
          x-type-name: Date
        TimeWeightedPerformance:
          title: Time weighted performance metrics.
          allOf:
            - $ref: '#/components/schemas/TimeWeightedPerformance'
        TotalCashBalance:
          title: The total cash balance
          type: number
          example: 10
        TotalCashBalancePerCurrency:
          title: The total cash balance grouped by currency.
          type: array
          items:
            $ref: '#/components/schemas/StringValuePair'
          example:
            - StringValue: CAD
              Value: -491.707122366824
        TotalOpenPositionsValue:
          title: The total value of client's open positions
          type: number
          example: 10
        TotalPositionsValuePerCurrency:
          title: The total position value grouped by currency.
          type: array
          items:
            $ref: '#/components/schemas/StringValuePair'
          example:
            - StringValue: CAD
              Value: -491.707122366824
        TotalPositionsValuePerProductPerSecurity:
          title: The total position value grouped by product.
          type: array
          items:
            $ref: '#/components/schemas/PositionOnSecurityAndProduct'
          example:
            - Description: Abengoa SA - Warrants
              ProductName: Shares
              Symbol: LOCK - 1496:xxxx
              Value: 0
        TradeActivity:
          title: The trade activity.
          allOf:
            - $ref: '#/components/schemas/TradeActivity'
      additionalProperties: false
      example:
        AccountSummary:
          AverageTradeDurationInMinutes: 34260
          AverageTradesPerWeek: 48.2325728770595
          NumberOfDaysTraded: 1589
          NumberOfLongTrades: 5434
          NumberOfShortTrades: 5263
          TopTradedInstruments:
            - DAX.I
            - DJI.I
            - EURUSD
            - GBPUSD
            - NAS100.I
            - NOKSEK
            - EURNOK
            - SP500.I
          TotalReturnFraction: -0.9999963956455
          TradedInstruments:
            - FxSpot
            - Stock
            - FxVanillaOption
            - ContractFutures
          TradesTotalCount: 10697
          TradesWonCount: 6499
          WinFraction: 0.61
        Allocation:
          TradesPerAssetType:
            ClosedTradesAllocations:
              - AssetClassType: Equity
                ReturnAttribution: 1
                TradeCount: 168
                TradePercent: 0.38009049773755654
              - AssetClassType: Currency
                ReturnAttribution: 0.249937016456527
                TradeCount: 112
                TradePercent: 0.25339366515837103
              - AssetClassType: Commodity
                ReturnAttribution: 0.5628789450009563
                TradeCount: 105
                TradePercent: 0.23755656108597284
              - AssetClassType: Fixed Income
                ReturnAttribution: -0.013150856136249162
                TradeCount: 57
                TradePercent: 0.12895927601809956
          TradesPerInstrument:
            ClosedTradesAllocations:
              - AssetType: ContractFutures
                InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
                InstrumentSymbol: ZBU6
                InstrumentUic: 3626018
                ReturnAttribution: -0.15987101005684304
                TradeCount: 40
                TradePercent: 0.09049773755656108
              - AssetType: FxSpot
                InstrumentDescription: British Pound/US Dollar
                InstrumentSymbol: GBPUSD
                InstrumentUic: 31
                ReturnAttribution: 0.14685155225185834
                TradeCount: 37
                TradePercent: 0.083710407239819
        BalancePerformance:
          AccountBalanceTimeSeries:
            - Date: '2016-03-28'
              Value: 0
            - Date: '2016-03-29'
              Value: 0
          AccountValueTimeSeries:
            - Date: '2016-03-28'
              Value: 0
            - Date: '2016-03-29'
              Value: 0
          MonthlyProfitLossTimeSeries:
            - Date: '2015-11-30'
              Value: 0
            - Date: '2015-12-31'
              Value: 0
          SecurityTransferTimeSeries:
            - Date: '2016-03-28'
              Value: 0
            - Date: '2016-03-29'
              Value: 0
          YearlyProfitLossTimeSeries:
            - Date: '2015-12-31'
              Value: 0
            - Date: '2016-12-31'
              Value: 0
            - Date: '2017-12-31'
              Value: 0
        From: '2016-03-28'
        InceptionDay: '2015-11-24'
        LastTradeDay: '2017-03-27'
        Thru: '2017-03-27'
        TimeWeightedPerformance:
          AccumulatedTimeWeightedTimeSeries:
            - Date: '2016-03-25'
              Value: 0
          MonthlyReturnTimeSeries:
            - Date: '2016-03-25'
              Value: 0
          PerformanceFraction: -1
          PerformanceKeyFigures:
            ClosedTradesCount: 0
            DrawdownReport:
              Drawdowns:
                - DaysCount: 3
                  DepthInPercent: 1
                  FromDate: '2016-08-05'
                  ThruDate: '2016-08-08'
              MaxDaysInDrawdownFromTop10Drawdowns: 3
            LosingDaysFraction: 0.03
            MaxDrawDownFraction: 1
            ReturnFraction: -1
            SampledStandardDeviation: 0.0618018874919214
            SharpeRatio: -0.952069751000777
            SortinoRatio: -0.0591710418985739
          YearlyReturnTimeSeries:
            - Date: '2016-03-25'
              Value: 0
        TotalCashBalance: 20226.02
        TotalCashBalancePerCurrency:
          - StringValue: CAD
            Value: -491.707122366824
        TotalOpenPositionsValue: 29571.057
        TotalPositionsValuePerCurrency:
          - StringValue: CAD
            Value: -491.707122366824
        TotalPositionsValuePerProductPerSecurity:
          - Description: Abengoa SA - Warrants
            ProductName: Shares
            Symbol: LOCK - 1496:xxxx
            Value: 0
    AccountPerformanceFieldGroup:
      enum:
        - AccountSummary
        - All
        - Allocation
        - AvailableBenchmarks
        - BalancePerformance
        - BalancePerformance_AccountValueTimeSeries
        - BenchMark
        - BenchmarkPerformance
        - TimeWeightedPerformance
        - TimeWeightedPerformance_AccumulatedTimeWeightedTimeSeries
        - TotalCashBalancePerCurrency
        - TotalPositionsValuePerCurrency
        - TotalPositionsValuePerProductPerSecurity
        - TradeActivity
      type: string
      example: AccountSummary
      x-type-warning: FlaggableEnum
    AccountPerformanceStandardPeriod:
      title: Defines standard periods for account performance.
      enum:
        - AllTime
        - Month
        - Quarter
        - Year
      type: string
      example: AllTime
      x-enum-descriptions:
        AllTime: All time account performance.
        Year: The year standard account performance.
        Quarter: The quarter standard account performance.
        Month: The month standard account performance.
    AccountSummaryFieldGroup:
      enum:
        - All
        - Allocation
        - BenchMark
        - TotalCashBalancePerCurrency
        - TotalPositionsValuePerCurrency
        - TotalPositionsValuePerProductPerSecurity
        - TradeActivity
        - TradeSummary
      type: string
      example: TradeSummary
      x-type-warning: FlaggableEnum
    Allocation:
      title: Provides an overview of how performance is allocated across asset types and instruments.
      type: object
      properties:
        TradesPerAssetType:
          title: The allocation of trades grouped by trade asset type.
          allOf:
            - $ref: '#/components/schemas/TradesPerAssetType'
        TradesPerInstrument:
          title: The allocation trades grouped by instrument id.
          allOf:
            - $ref: '#/components/schemas/TradesPerInstrument'
      additionalProperties: false
      example:
        TradesPerAssetType:
          ClosedTradesAllocations:
            - AssetClassType: Equity
              ReturnAttribution: 1
              TradeCount: 168
              TradePercent: 0.38009049773755654
            - AssetClassType: Currency
              ReturnAttribution: 0.249937016456527
              TradeCount: 112
              TradePercent: 0.25339366515837103
            - AssetClassType: Commodity
              ReturnAttribution: 0.5628789450009563
              TradeCount: 105
              TradePercent: 0.23755656108597284
            - AssetClassType: Fixed Income
              ReturnAttribution: -0.013150856136249162
              TradeCount: 57
              TradePercent: 0.12895927601809956
        TradesPerInstrument:
          ClosedTradesAllocations:
            - AssetType: ContractFutures
              InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
              InstrumentSymbol: ZBU6
              InstrumentUic: 3626018
              ReturnAttribution: -0.15987101005684304
              TradeCount: 40
              TradePercent: 0.09049773755656108
            - AssetType: FxSpot
              InstrumentDescription: British Pound/US Dollar
              InstrumentSymbol: GBPUSD
              InstrumentUic: 31
              ReturnAttribution: 0.14685155225185834
              TradeCount: 37
              TradePercent: 0.083710407239819
    AllocationItem:
      title: Defindes a model for an allocation item.
      type: object
      properties:
        AssetClassType:
          title: The type of the asset class.
          type: string
          example: stringValue
        AssetType:
          title: The asset type.
          allOf:
            - $ref: '#/components/schemas/AssetType'
        InstrumentDescription:
          title: The instrument description.
          type: string
          example: stringValue
        InstrumentSymbol:
          title: The instrument symbol.
          type: string
          example: stringValue
        InstrumentUic:
          title: The instrument UIC which is the unique instrument identifier.
          type: integer
          format: int32
          example: 99
        ReturnAttribution:
          title: "The return attribution for a collection allocation items.\n            Remarks:\n                The return attribution is a number in the range [-1 ; 1]. The return attribution\n                is a measure of return relative to the allocation item in the collection with\n                the numerical largest value"
          type: number
          example: 10
        TradeCount:
          title: The count of trades for the instrument asset type.
          type: integer
          format: int32
          example: 99
        TradePercent:
          title: The percent for trades for the instrument asset type.
          type: number
          example: 10
      additionalProperties: false
      example:
        AssetType: ContractFutures
        InstrumentDescription: 30-Year U.S. Treasury Bond - Sep 2016
        InstrumentSymbol: ZBU6
        InstrumentUic: 3626018
        ReturnAttribution: -0.15987101005684304
        TradeCount: 40
        TradePercent: 0.09049773755656108
    AmountTypeBreakdown:
      title: Contains value dated cash flows for a specific Amount Type and associated information.
      type: object
      properties:
        AmountType:
          title: 'Amount Type Name, which the associated amounts correspond to.'
          type: string
          example: stringValue
        AmountTypeId:
          title: Amount Type Identifier
          type: string
          example: stringValue
        AmountTypeSource:
          title: Source of where the Amount Type originates from.
          type: string
          example: stringValue
        CashFlows:
          title: Array containing value dated amounts in the owed currency
          type: array
          items:
            $ref: '#/components/schemas/CashFlow'
          example:
            - Amount: 10
              ValueDate: '0001-01-01'
        Total:
          title: Total value of the provided value dated amounts from the cash flows.
          type: number
          example: 10
      additionalProperties: false
      example:
        AmountType: stringValue
        AmountTypeId: stringValue
        AmountTypeSource: stringValue
        CashFlows:
          - Amount: 10
            ValueDate: '0001-01-01'
        Total: 10
    AmountTypeSource:
      title: Defines the source of the unsettled amounts.
      enum:
        - CorporateAction
        - Financing
        - TransactionsNotBooked
      type: string
      example: TransactionsNotBooked
      x-enum-descriptions:
        TransactionsNotBooked: Intraday transactions that have not been booked
        Financing: Accruals derived from financing and fee bookings
        CorporateAction: Accruals derived from corporate action bookings
    Application.AccountPerformanceStandardPeriod:
      title: Defines standard periods for account performance.
      enum:
        - AllTime
        - Month
        - Quarter
        - Year
      type: string
      example: AllTime
      x-enum-descriptions:
        AllTime: All time account performance.
        Year: The year standard account performance.
        Quarter: The quarter standard account performance.
        Month: The month standard account performance.
    Application.v4.AccountPerformanceStandardPeriod:
      title: Defines standard periods for account performance.
      enum:
        - AllTime
        - Month
        - Quarter
        - Year
      type: string
      example: AllTime
      x-enum-descriptions:
        AllTime: All time account performance.
        Year: The year standard account performance.
        Quarter: The quarter standard account performance.
        Month: The month standard account performance.
    AssetType:
      title: The possible AssetTypes for which you can get a quote or place an order or a trade.
      enum:
        - Bond
        - Cash
        - CertificateBonus
        - CertificateCappedBonus
        - CertificateCappedCapitalProtected
        - CertificateCappedOutperformance
        - CertificateConstantLeverage
        - CertificateDiscount
        - CertificateExpress
        - CertificateTracker
        - CertificateUncappedCapitalProtection
        - CertificateUncappedOutperformance
        - CfdIndexOption
        - CfdOnCompanyWarrant
        - CfdOnEtc
        - CfdOnEtf
        - CfdOnEtn
        - CfdOnFund
        - CfdOnFutures
        - CfdOnIndex
        - CfdOnRights
        - CfdOnStock
        - CompanyWarrant
        - ContractFutures
        - Etc
        - Etf
        - Etn
        - Fund
        - FuturesOption
        - FuturesStrategy
        - FxBinaryOption
        - FxForwards
        - FxKnockInOption
        - FxKnockOutOption
        - FxNoTouchOption
        - FxOneTouchOption
        - FxSpot
        - FxVanillaOption
        - GuaranteeNote
        - IpoOnStock
        - ManagedFund
        - MiniFuture
        - MutualFund
        - PortfolioNote
        - Rights
        - SrdOnEtf
        - SrdOnStock
        - Stock
        - StockIndex
        - StockIndexOption
        - StockOption
        - Warrant
        - WarrantDoubleKnockOut
        - WarrantKnockOut
        - WarrantOpenEndKnockOut
        - WarrantSpread
      type: string
      example: FxSpot
      x-enum-descriptions:
        FxSpot: Forex Spot.
        FxForwards: Forex Forward.
        FxVanillaOption: Forex Vanilla Option.
        FxKnockInOption: Forex Knock In Option.
        FxKnockOutOption: Forex Knock Out Option.
        FxBinaryOption: Forex Binary Option.
        FxOneTouchOption: Forex One Touch Option.
        FxNoTouchOption: Forex No Touch Option.
        ContractFutures: Contract Futures.
        FuturesStrategy: Futures Strategy.
        Stock: Stock.
        StockOption: Stock Option.
        Bond: Bond.
        FuturesOption: Futures Option.
        StockIndexOption: Stock Index Option.
        ManagedFund: 'Obsolete: Managed Fund.'
        Cash: Cash. Not tradeable!
        CfdOnStock: Cfd on Stock.
        CfdOnIndex: Cfd on Stock Index.
        CfdOnFutures: Cfd on Futures.
        StockIndex: Stock Index.
        MutualFund: Mutual Fund.
        CfdIndexOption: Cfd Index Option.
        CfdOnEtf: Cfd on Etf
        CfdOnEtc: Cfd on Etc
        CfdOnEtn: Cfd on Etn
        CfdOnFund: Cfd on Fund
        CfdOnRights: Cfd on Rights
        CfdOnCompanyWarrant: Cfd on unlisted warrant issued by a corporation.
        Etf: Exchange traded fund.
        Etc: Etc
        Etn: Etn
        Fund: Fund
        Rights: Rights
        Warrant: Warrant
        MiniFuture: MiniFuture.
        WarrantSpread: Warrant with built-in spread.
        WarrantKnockOut: Warrant with a knock-out barrier.
        WarrantOpenEndKnockOut: Knock-out Warrant with no expiry.
        WarrantDoubleKnockOut: Warrant with two knock-out barriers.
        CertificateUncappedCapitalProtection: Guarantees a percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateCappedCapitalProtected: Guarantees a capped percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateDiscount: 'Yields a capped return if the underlying asset''s value is above the specified cap level at expiry. If the underlying''s value is below the strike at expiry, the investor received the underlying or equivalent value. Offers direct exposure in underlying at a lower price (discount) with a capped potential profit and limited loss.'
        CertificateCappedOutperformance: Capped Outperformance Certificate.
        CertificateCappedBonus: Certificate Capped Bonus.
        CertificateExpress: Certificate Express kick out.
        CertificateTracker: A certificate that mirrors the price movement of the underlying instrument. Often used to trade movements in indicies. Movements can be a fixed ratio of the underlying and can be inverted for bearish/short speculation. Risk is equivalent to owning the underlying.
        CertificateUncappedOutperformance: 'Provides leveraged returns when the underlying price exceeds the threshold strike price. The amount leverage is defined by the Participation %. When the underlying is below the strike price, the certificate mirrors the underlying price 1:1.'
        CertificateBonus: 'Mirrors the price movement of the underlying only if and when the underlying price exceeds the defined barrier. If the certificate expires below the barrier, it offers partial protection/return of investment.'
        CertificateConstantLeverage: Certificate Constant Leverage.
        SrdOnStock: SRD. (Service de Règlement Différé) on Stock.
        SrdOnEtf: SRD. (Service de Règlement Différé) on Etf.
        IpoOnStock: IPO on Stock
        CompanyWarrant: 'Unlisted warrant issued by a corporation, often physically settled.'
        PortfolioNote: Danish pooled investment scheme (“Pulje”). Not online tradeable.
        GuaranteeNote: Danish investment scheme (“Grantbevis”). Not online tradeable.
    BalancePerformance:
      title: OpenApi balance performance data contract.
      type: object
      properties:
        AccountBalanceTimeSeries:
          title: The account balance time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
          example:
            - Date: '2016-03-25'
              Value: 0
        AccountValueTimeSeries:
          title: The account value time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
          example:
            - Date: '2016-03-25'
              Value: 0
        AccumulatedProfitLoss:
          title: The accumulated Profit / Loss for the account over the period as a value.
          type: number
          example: 10
        CashTransferTimeSeries:
          title: The cash transfer time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
          example:
            - Date: '2016-03-25'
              Value: 0
        MonthlyProfitLossTimeSeries:
          title: The monthly profit / loss time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
          example:
            - Date: '2016-03-25'
              Value: 0
        SecurityTransferTimeSeries:
          title: The security transfer time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
          example:
            - Date: '2016-03-25'
              Value: 0
        YearlyProfitLossTimeSeries:
          title: The yearly profit / loss time series.
          type: array
          items:
            $ref: '#/components/schemas/TimeValuePair'
          example:
            - Date: '2016-03-25'
              Value: 0
      additionalProperties: false
      example:
        AccountBalanceTimeSeries:
          - Date: '2016-03-28'
            Value: 0
          - Date: '2016-03-29'
            Value: 0
        AccountValueTimeSeries:
          - Date: '2016-03-28'
            Value: 0
          - Date: '2016-03-29'
            Value: 0
        MonthlyProfitLossTimeSeries:
          - Date: '2015-11-30'
            Value: 0
          - Date: '2015-12-31'
            Value: 0
        SecurityTransferTimeSeries:
          - Date: '2016-03-28'
            Value: 0
          - Date: '2016-03-29'
            Value: 0
        YearlyProfitLossTimeSeries:
          - Date: '2015-12-31'
            Value: 0
          - Date: '2016-12-31'
            Value: 0
          - Date: '2017-12-31'
            Value: 0
    BenchMark:
      title: Class BenchMark.
      type: object
      properties:
        AssetType:
          title: The type of the asset.
          allOf:
            - $ref: '#/components/schemas/AssetType'
        Description:
          title: Description of instrument.
          type: string
          example: stringValue
        DisplayHintType:
          title: Display hint type of instrument
          allOf:
            - $ref: '#/components/schemas/DisplayHintType'
        Uic:
          title: The uic.
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        AssetType: CertificateExpress
        Description: stringValue
        DisplayHintType: PreciousMetal
        Uic: 99
    BenchMarkPerformance:
      title: Performance figures for a day for benchmarks applicable on a day.
      type: object
      properties:
        Allocations:
          title: List of Benchmark Compositions.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.BenchMark'
          example:
            - Allocations:
                - AllocationPCT: 10
                  AssetType: SrdOnEtf
                  Description: stringValue
                  DisplayHintType: Warrant
                  Uic: 99
              CurrencyCode: stringValue
              Description: stringValue
              Name: stringValue
        Date:
          title: Date and time of the occurrence.
          type: string
          format: date
          x-type-name: Date
        Value:
          title: The value at the given date and time
          type: number
          example: 10
      additionalProperties: false
      example:
        Allocations:
          - Allocations:
              - AllocationPCT: 10
                AssetType: CertificateUncappedOutperformance
                Description: stringValue
                DisplayHintType: Etf
                Uic: 99
            CurrencyCode: stringValue
            Description: stringValue
            Name: stringValue
        Date: '0001-01-01'
        Value: 10
    CashFlow:
      title: Cash flow for value date
      type: object
      properties:
        Amount:
          title: Amount owed on the specified value date
          type: number
          example: 10
        ValueDate:
          title: Value date which the amount is owed.
          type: string
          format: date
          x-type-name: Date
      additionalProperties: false
      example:
        Amount: 10
        ValueDate: '0001-01-01'
    Contracts.AccountPerformance:
      type: object
      properties:
        Balance:
          title: Balance AccountPerformance metrics.
          allOf:
            - $ref: '#/components/schemas/Contracts.BalancePerformance'
        Benchmark:
          title: The benchmark performance.
          type: array
          items:
            $ref: '#/components/schemas/BenchMarkPerformance'
          example:
            - Allocations:
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Cash
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: USD
                  Description: Description1
                  Name: Bench Mark Name 1
              Date: '2021-05-11'
              Value: 0.02
            - Allocations:
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Cash
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: USD
                  Description: Description1
                  Name: Bench Mark Name 1
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Bond
                      Description: ''
                      DisplayHintType: None
                      Uic: 210
                    - AllocationPCT: 100
                      AssetType: CertificateBonus
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: EUR
                  Description: Description2
                  Name: Bench Mark Name 2
              Date: '2021-05-12'
              Value: 0.03
            - Allocations:
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Bond
                      Description: ''
                      DisplayHintType: None
                      Uic: 210
                    - AllocationPCT: 100
                      AssetType: CertificateBonus
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: EUR
                  Description: Description2
                  Name: Bench Mark Name 2
              Date: '2021-05-13'
              Value: 0.04
            - Allocations:
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Cash
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: USD
                  Description: Description1
                  Name: Bench Mark Name 1
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Bond
                      Description: ''
                      DisplayHintType: None
                      Uic: 210
                    - AllocationPCT: 100
                      AssetType: CertificateBonus
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: EUR
                  Description: Description2
                  Name: Bench Mark Name 2
              Date: '2021-05-14'
              Value: 0.065
            - Allocations:
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Cash
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: USD
                  Description: Description1
                  Name: Bench Mark Name 1
              Date: '2021-05-15'
              Value: -0.01
            - Allocations:
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Bond
                      Description: ''
                      DisplayHintType: None
                      Uic: 210
                    - AllocationPCT: 100
                      AssetType: CertificateBonus
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: EUR
                  Description: Description2
                  Name: Bench Mark Name 2
              Date: '2021-05-16'
              Value: 0.03
            - Allocations:
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Cash
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: USD
                  Description: Description1
                  Name: Bench Mark Name 1
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Bond
                      Description: ''
                      DisplayHintType: None
                      Uic: 210
                    - AllocationPCT: 100
                      AssetType: CertificateBonus
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: EUR
                  Description: Description2
                  Name: Bench Mark Name 2
              Date: '2021-05-17'
              Value: 0.025
            - Allocations:
                - Allocations:
                    - AllocationPCT: 100
                      AssetType: Cash
                      Description: ''
                      DisplayHintType: None
                      Uic: 211
                  CurrencyCode: USD
                  Description: Description1
                  Name: Bench Mark Name 1
              Date: '2021-05-18'
              Value: 0.03
        KeyFigures:
          title: Key performance figures for the account.
          allOf:
            - $ref: '#/components/schemas/Contracts.PerformanceKeyFigures'
        TimeWeighted:
          title: Time weighted performance metrics.
          allOf:
            - $ref: '#/components/schemas/Contracts.TimeWeightedPerformance'
      additionalProperties: false
      example:
        Balance:
          AccountBalance:
            - Date: '2021-03-16'
              Value: 2713951
            - Date: '2021-03-17'
              Value: 2697389
            - Date: '2021-03-18'
              Value: 2697389
            - Date: '2021-03-19'
              Value: 2697389
            - Date: '2021-03-22'
              Value: 2697389
          AccountValue:
            - Date: '2021-03-16'
              Value: 2713951
            - Date: '2021-03-17'
              Value: 2697389
            - Date: '2021-03-18'
              Value: 2697389
            - Date: '2021-03-19'
              Value: 2697389
            - Date: '2021-03-22'
              Value: 2697389
          CashTransfer:
            - Date: '2021-03-16'
              Value: 700000
            - Date: '2021-03-17'
              Value: 693217
            - Date: '2021-03-18'
              Value: 693217
            - Date: '2021-03-19'
              Value: 693217
            - Date: '2021-03-22'
              Value: 693217
            - Date: '2021-03-23'
              Value: 693217
            - Date: '2021-03-24'
              Value: 693217
            - Date: '2021-03-25'
              Value: 693217
            - Date: '2021-03-26'
              Value: 693217
            - Date: '2021-03-30'
              Value: 693217
            - Date: '2021-03-31'
              Value: 693217
            - Date: '2021-03-01'
              Value: 693217
            - Date: '2021-03-02'
              Value: 693217
          MonthlyProfitLoss:
            - Date: '2021-03-31'
              Value: 476960.78492
            - Date: '2021-04-30'
              Value: 0.00151689069285646
          SecurityTransfer:
            - Date: '2016-03-28'
              Value: 0
            - Date: '2016-03-29'
              Value: 0
          YearlyProfitLoss:
            - Date: '2021-12-31'
              Value: 473580.71199
        Benchmark:
          - Allocations:
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Cash
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: USD
                Description: Description1
                Name: Bench Mark Name 1
            Date: '2021-05-11'
            Value: 0.02
          - Allocations:
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Cash
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: USD
                Description: Description1
                Name: Bench Mark Name 1
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Bond
                    Description: ''
                    DisplayHintType: None
                    Uic: 210
                  - AllocationPCT: 100
                    AssetType: CertificateBonus
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: EUR
                Description: Description2
                Name: Bench Mark Name 2
            Date: '2021-05-12'
            Value: 0.03
          - Allocations:
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Bond
                    Description: ''
                    DisplayHintType: None
                    Uic: 210
                  - AllocationPCT: 100
                    AssetType: CertificateBonus
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: EUR
                Description: Description2
                Name: Bench Mark Name 2
            Date: '2021-05-13'
            Value: 0.04
          - Allocations:
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Cash
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: USD
                Description: Description1
                Name: Bench Mark Name 1
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Bond
                    Description: ''
                    DisplayHintType: None
                    Uic: 210
                  - AllocationPCT: 100
                    AssetType: CertificateBonus
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: EUR
                Description: Description2
                Name: Bench Mark Name 2
            Date: '2021-05-14'
            Value: 0.065
          - Allocations:
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Cash
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: USD
                Description: Description1
                Name: Bench Mark Name 1
            Date: '2021-05-15'
            Value: -0.01
          - Allocations:
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Bond
                    Description: ''
                    DisplayHintType: None
                    Uic: 210
                  - AllocationPCT: 100
                    AssetType: CertificateBonus
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: EUR
                Description: Description2
                Name: Bench Mark Name 2
            Date: '2021-05-16'
            Value: 0.03
          - Allocations:
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Cash
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: USD
                Description: Description1
                Name: Bench Mark Name 1
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Bond
                    Description: ''
                    DisplayHintType: None
                    Uic: 210
                  - AllocationPCT: 100
                    AssetType: CertificateBonus
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: EUR
                Description: Description2
                Name: Bench Mark Name 2
            Date: '2021-05-17'
            Value: 0.025
          - Allocations:
              - Allocations:
                  - AllocationPCT: 100
                    AssetType: Cash
                    Description: ''
                    DisplayHintType: None
                    Uic: 211
                CurrencyCode: USD
                Description: Description1
                Name: Bench Mark Name 1
            Date: '2021-05-18'
            Value: 0.03
        KeyFigures:
          ClosedTradesCount: 0
          DrawdownReport:
            Drawdowns:
              - DaysCount: 3
                DepthInPercent: 1
                FromDate: '2016-08-05T00:00:00'
                RecoveryDaysCount: 1
                ThruDate: '2016-08-08T00:00:00'
            MaxDaysInDrawdownFromTop10Drawdowns: 3
          LosingDaysFraction: 0.03
          MaxDrawDownFraction: 1
          PerformanceFraction: 0
          ReturnFraction: -1
          SampledStandardDeviation: 0.0618018874919214
          SharpeRatio: -0.952069751000777
          SortinoRatio: -0.0591710418985739
        TimeWeighted:
          Accumulated:
            - Date: '2021-03-16'
              Value: 0.000707311584857981
            - Date: '2021-03-17'
              Value: 0.00289876077113995
            - Date: '2021-03-18'
              Value: 0.0030873830953917
            - Date: '2021-03-19'
              Value: 0.000729201756574284
            - Date: '2021-03-22'
              Value: 0.0016413754184318
            - Date: '2021-03-23'
              Value: 0.00615470900076945
            - Date: '2021-03-24'
              Value: 0.0145762714416127
            - Date: '2021-03-25'
              Value: 0.0130120799919019
            - Date: '2021-03-26'
              Value: 0.0109777093144279
            - Date: '2021-03-29'
              Value: 0.109105521823687
            - Date: '2021-03-30'
              Value: 0.109105521823687
            - Date: '2021-03-31'
              Value: 0.174356723940404
            - Date: '2021-03-01'
              Value: 0.176303239558097
            - Date: '2021-03-02'
              Value: 0.175826866623672
          MonthlyReturn:
            - Date: '2021-03-31'
              Value: 0.176303239558097
            - Date: '2021-04-30'
              Value: 0.00151689069285646
          YearlyReturn:
            - Date: '2021-03-31'
              Value: 0.175053781608446
    Contracts.AccountSummary:
      title: "OpenApi account summary performance metrics. The summary is the performance metrics\n              that is related to closed positions over the entire lifespan of an account."
      type: object
      properties:
        AccumulatedProfitLoss:
          title: The accumulated Profit / Loss for the account over the period as a value.
          type: number
          example: 10
        BenchMarks:
          title: The bench mark.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.BenchMark'
          example:
            - Allocations:
                - AllocationPCT: 10
                  AssetType: FxNoTouchOption
                  Description: stringValue
                  DisplayHintType: Forex
                  Uic: 99
              CurrencyCode: stringValue
              Description: stringValue
              Name: stringValue
        From:
          title: "The start date is the offset date for all performance metrics that is a part\n                of the 'AccountPerformance'."
          type: string
          format: date
          x-type-name: Date
        InceptionDay:
          title: The date where the first account deposit have been registred.
          type: string
          format: date
          x-type-name: Date
        LastTradeDay:
          title: "Performance data that is returned is limited to the be data that lies between\n            the first trade day and the last trade day for the account. The last trade day\n            is the last day that one or more trades have been registred."
          type: string
          format: date
          x-type-name: Date
        Thru:
          title: "The end date is the ending date for all returned performance metrics that is\n                a part of the 'AccountPerformance'. The 'ActualThruDate' date is included."
          type: string
          format: date
          x-type-name: Date
        TotalCashBalance:
          title: The total cash balance
          type: number
          example: 10
        TotalCashBalancePerCurrency:
          title: The total cash balance grouped by currency.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.StringValuePair'
          example:
            - StringValue: stringValue
              Value: 10
        TotalOpenPositionsValue:
          title: The total value of client's open positions
          type: number
          example: 10
        TotalPositionsValuePerCurrency:
          title: The total position value grouped by currency.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.StringValuePair'
          example:
            - StringValue: stringValue
              Value: 10
        TotalPositionsValuePerProductPerSecurity:
          title: The total position value grouped by product.
          type: array
          items:
            $ref: '#/components/schemas/Contracts.PositionOnSecurityAndProduct'
          example:
            - Description: stringValue
              ProductName: stringValue
              Symbol: stringValue
              Value: 10
        TradeSummary:
          title: Summary of all trade activity between start and end date.
          allOf:
            - $ref: '#/components/schemas/TradeSummary'
        WinFraction:
          title: The fraction of trades with positive profit/loss.
          type: number
          example: 10
      additionalProperties: false
      example:
        AccumulatedProfitLoss: 100
        BenchMarks:
          - Allocations:
              - AllocationPCT: 100
                AssetType: Cash
                Description: ''
                DisplayHintType: None
                Uic: 211
            CurrencyCode: USD
            Description: Description1
            Name: Bench Mark Name 1
          - Allocations:
              - AllocationPCT: 100
[...]
