openapi: 3.0.1
info:
  title: Services.MarketOverview
  description: The MarketOverview service group provides end points for getting and subscribing to market movers such as winners and losers on an exchange.
  version: 1.2.201+4f801675c5
  x-framework-version: 24.0.21+826409a78a
  x-machine: DEVOAWEB10-DK1
servers:
  - url: https://blue.openapi.sys.dom/openapi
paths:
  /mkt/diagnostics/users:
    get:
      description: Get information about unique users served by the publishers and other performance related information.
      operationId: mkt_users
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-network-visibility: internal
  /mkt/diagnostics/subscriptions:
    get:
      description: "Gets information about subscriptions in the publishers.\r\n\r\nIf no filter is specified all subscriptions from all publishers are returned."
      operationId: mkt_subscriptions
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
        - name: ApplicationId
          in: query
          description: Restricts the subscriptions to an application if specified.
          schema:
            title: Restricts the subscriptions to an application if specified.
            minimum: 1
            type: integer
            format: int32
            x-type-name: ApplicationId
          example: "8637"
        - name: ContextId
          in: query
          description: Restricts the subscriptions to a streaming session if specified along with a session id.
          schema:
            title: Restricts the subscriptions to a streaming session if specified along with a session id.
            type: string
          example: "2c49a334-a95b-443f-a0be-8e0d17499fa4"
        - name: Publisher
          in: query
          description: Restricts the subscriptions to a publisher if specified.
          schema:
            title: Restricts the subscriptions to a publisher if specified.
            type: string
          example: "2c49a334-a95b-443f-a0be-8e0d17499fa4"
        - name: SessionId
          in: query
          description: Restricts the subscriptions to a session if specified.
          schema:
            title: Restricts the subscriptions to a session if specified.
            pattern: '^[0-9a-fA-F]{32}$|^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
            type: string
            x-type-name: SessionId
          example: "d4c53a63-5ed3-4961-af2b-d906b3195f2c"
        - name: UserId
          in: query
          description: Restricts the subscriptions to a MITS user if specified.
          schema:
            title: Restricts the subscriptions to a MITS user if specified.
            allOf:
              - $ref: '#/components/schemas/UserIdNullable'
          example: 733765616
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-network-visibility: internal
  /mkt/diagnostics/publishers:
    get:
      description: Returns the list of publisher names.
      operationId: mkt_publishers
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-network-visibility: internal
  /mkt/v2/MarketData/Analyst:
    get:
      tags:
        - MarketData
      summary: Gets Analyst Grid
      description: Returns Analyst Grid.
      operationId: MarketDataV2GetAnalystGridAsync
      parameters:
        - name: $skiptoken
          in: query
          schema:
            type: string
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: InstrumentFilters
          in: query
          description: InstrumentFilters
          schema:
            title: InstrumentFilters
            type: array
            items:
              $ref: '#/components/schemas/AssetTypeFilter'
          example: [
  {
    "AssetType": "FxSpot",
    "Uic": 22181
  }
]
        - name: Instruments
          in: query
          description: "Instrument Filter. This needs to be there for the model binding to allow the query notation and model\r\n                binding/parsing."
          schema:
            title: "Instrument Filter. This needs to be there for the model binding to allow the query notation and model\r\n                binding/parsing."
            type: string
          example: "2c49a334-a95b-443f-a0be-8e0d17499fa4"
        - name: KeywordFilters
          in: query
          description: Keyword filters
          schema:
            title: Keyword filters
            type: array
            items:
              $ref: '#/components/schemas/KeywordFilter'
          example: [
  {
    "Keyword": "Keyworda7339f25-35e4-4b41-8e2c-96c0d56cc834",
    "Values": [
      "4ea206ee-e6a3-4368-a7c7-db9a5db498a6"
    ]
  }
]
        - name: Size
          in: query
          description: Gets or sets the size of the search result.
          schema:
            title: Gets or sets the size of the search result.
            type: integer
            format: int32
          example: 858
        - name: Uics
          in: query
          description: Uics
          schema:
            title: Uics
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalystGrid'
              example: {
  "AnalystAction": {
    "Key": "maintained",
    "Value": "maintained"
  },
  "AnalystInfo": {
    "FirmName": "Shawn Harrison",
    "GoodRecommendations": 20,
    "Id": "c6def9d68558a7b14e09de7c8c5086db9a216eae",
    "Name": "Chad Bennett",
    "NumberOfStars": 4.5,
    "OverallAverageReturn": 15.3,
    "OverallSuccessRate": 0.606,
    "PictureUrl": "2208_JGCECGHDDB_tsqr.jpg",
    "Rank": 1575,
    "TotalNumberOfRankedAnalysts": 5144,
    "TotalRecommendations": 33
  },
  "AverageReturn": 17.0,
  "Consensus": {
    "Key": "Buy",
    "Value": "Buy"
  },
  "GoodRecommendations": 18,
  "Id": 1,
  "InstrumentInfo": {
    "AssetType": "CfdOnStock",
    "CountryCode": "US",
    "Description": "Apple Inc.",
    "ExchangeId": "NASDAQ",
    "Format": {
      "Decimals": 2
    },
    "Instrument": "AAPL:xnas",
    "Uic": 211
  },
  "RecommendationArticleTitle": "Apple (AAPL) March quarter guidance expected to be soft, says Canaccord",
  "RecommendationDate": "2022-04-07",
  "RecommendationSite": "TheFly",
  "RecommendationUrl": "http://www.streetinsider.com/analyst+eps+view/apple+%28aapl%29+neutral+rating+maintained+at+longbow+research%2c+despite+forecast+of+10-15%25+decline+in+fy19+iphone+production/15019714.html?si_client=tipranks-15019714-27df0bbf37",
  "SuccessRate": 0.783,
  "TargetPrice": 43.0,
  "TotalRecommendations": 35
}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AnalystGridNotFound
                      - AnalystGridNotServedForInstrumentType
                      - NoAccessToMarketDataSecurityGroup
                    type: string
                    x-enum-descriptions:
                      AnalystGridNotFound: Analyst Grid Not Found
                      AnalystGridNotServedForInstrumentType: Analyst Grid data is served only for Stocks
                      NoAccessToMarketDataSecurityGroup: User has no access to market data security group
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AnalystGridTooManyEntriesRequested
                      - InvalidRequest
                      - NoSearchCriteriaProvided
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      AnalystGridTooManyEntriesRequested: Too many entries requested in Top argument. Max allowed is 100.
                      NoSearchCriteriaProvided: No Search Criteria Provided
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v3/MarketData/{AssetType}/{Uic}':
    get:
      tags:
        - MarketData
      summary: Get market data information about an instrument
      description: Returns market data information for an instrument.
      operationId: MarketDataV3GetInstrumentMarketData
      parameters:
        - name: AssetType
          in: path
          description: Asset Type
          required: true
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: FieldSets
          in: query
          description: Details about which field sets are requested
          schema:
            title: Details about which field sets are requested
            type: array
            items:
              $ref: '#/components/schemas/MarketDataFieldSet'
          example: [
  "FinancialsSemiAnnually"
]
        - name: Uic
          in: path
          description: Uic for a given instrument
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketDataResponse'
              example: {
  "AnalystConsensus": {
    "Buy": 4181,
    "Consensus": {
      "Key": "4",
      "Value": "FactSheet"
    },
    "Hold": 21453,
    "ImpliedReturn": 46100.771730056156,
    "ImpliedReturnPct": -5774.2641276170734,
    "Overweight": 17150,
    "Rating": 1032270572.2530335,
    "Sell": 3177,
    "TargetPrice": -28526.642293072691,
    "Underweight": 32304
  },
  "AssetType": "CompanyWarrant",
  "CountryCode": "CountryCode3e321637-e40f-42c2-91b5-8d5682164c15",
  "CurrencyCode": "CurrencyCode8121543c-90e6-4d5f-b09b-f99b8eee023c",
  "Description": "Description5f20338a-bbb1-490c-b9b9-863642178b8e",
  "ExchangeId": "ExchangeId8410a39a-b761-4109-8c12-34d1ab1a906a",
  "Financials": [
    {
      "BalanceSheets": [
        {
          "Key": "Earnings Per Share",
          "Value": 6.45
        }
      ],
      "Incomes": [
        {
          "Key": "Earnings Per Share",
          "Value": 6.45
        }
      ],
      "IsEstimates": false,
      "KeyNumbers": [
        {
          "Key": "Earnings Per Share",
          "Value": 6.45
        }
      ],
      "ReportingPeriod": "2023-04-18",
      "StatementType": "StatementType0cbe4bb6-1bc6-43e2-9f70-b0d2a77fb5f3"
    }
  ],
  "Format": {
    "Decimals": 7689
  },
  "GeneralInformation": {
    "StockInformation": {
      "AboutCompany": "AboutCompanyc8e10003-32bf-4c29-8034-8e12f233d4ce",
      "Industry": {
        "Key": "4",
        "Value": "FactSheet"
      },
      "MarketCap": 2.7852688753227552E+17,
      "MarketCapCurrencyCode": "MarketCapCurrencyCode139f13be-b1ac-4bb4-bf57-772b15808753",
      "OneYearReturnPct": 1515.37816927206,
      "Sector": {
        "Key": "4",
        "Value": "FactSheet"
      },
      "ThreeYearsReturnPct": 5208262.0908634691,
      "YtdReturnPct": 5.1876246765270126
    }
  },
  "Instrument": "Instrumentde814590-6813-4233-92a3-5dfb7f3eaf09",
  "KeyStats": [
    {
      "Key": "Keye91c42a5-3fff-4cd3-99a8-f413e8348aa9",
      "Value": 59653495.910120137
    }
  ],
  "ListedCurrency": "ListedCurrencya364b4af-37e1-46a5-b06e-d3af1cfd7858",
  "TargetPriceCurrency": "TargetPriceCurrency3f529845-3a45-4de7-9b9a-cdf4e6a668ef",
  "Uic": 32465
}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - MarketDataNotFound
                      - MarketDataNotServedForInstrumentType
                      - NoAccessToMarketDataSecurityGroup
                    type: string
                    x-enum-descriptions:
                      MarketDataNotServedForInstrumentType: 'Market data are served only for Stocks, Bonds and all Mutual Funds'
                      MarketDataNotFound: Market data  not found
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToMarketDataSecurityGroup: User has no access to market data security group
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - MarketDataError
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      MarketDataError: Error occured in processing market data
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/kfs/{Uic}/MutualFund':
    get:
      tags:
        - KeyInfoDocument
      summary: Get KFS document for mutual funds
      description: To get KFS in pdf format for given uic (applicable only for Mutual Funds)
      operationId: KeyInfoDocV1GetKfsDocument
      parameters:
        - name: FileName
          in: query
          schema:
            type: string
        - name: Uic
          in: path
          required: true
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotSupportedAcceptHeader
                    type: string
                    x-enum-descriptions:
                      NotSupportedAcceptHeader: The end point only supports 'application/pdf' format.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - MutualFundDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      MutualFundDocumentNotFound: 'MutualFund document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/phs/{Uic}/MutualFund':
    get:
      tags:
        - KeyInfoDocument
      summary: Get PHS document for mutual funds
      description: To get PHS in pdf format for given uic (applicable only for Mutual Funds)
      operationId: KeyInfoDocV1GetPhsDocument
      parameters:
        - name: FileName
          in: query
          schema:
            type: string
        - name: Uic
          in: path
          required: true
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotSupportedAcceptHeader
                    type: string
                    x-enum-descriptions:
                      NotSupportedAcceptHeader: The end point only supports 'application/pdf' format.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - MutualFundDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      MutualFundDocumentNotFound: 'MutualFund document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/prospectus/{Uic}/MutualFund':
    get:
      tags:
        - KeyInfoDocument
      summary: Get Prospectus document for mutual funds
      description: To get Prospectus in pdf format for given uic (applicable only for Mutual Funds)
      operationId: KeyInfoDocV1GetProspectus
      parameters:
        - name: FileName
          in: query
          schema:
            type: string
        - name: Uic
          in: path
          required: true
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotSupportedAcceptHeader
                    type: string
                    x-enum-descriptions:
                      NotSupportedAcceptHeader: The end point only supports 'application/pdf' format.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - MutualFundDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      MutualFundDocumentNotFound: 'MutualFund document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/FactSheet/{Uic}/MutualFund':
    get:
      tags:
        - KeyInfoDocument
      description: To get FactSheet in pdf format for given uic (applicable only for Managed/Mutual Funds)
      operationId: KeyInfoDocV1GetFactSheet
      parameters:
        - name: FileName
          in: query
          schema:
            type: string
        - name: Uic
          in: path
          required: true
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotSupportedAcceptHeader
                    type: string
                    x-enum-descriptions:
                      NotSupportedAcceptHeader: The end point only supports 'application/pdf' format.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - MutualFundDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      MutualFundDocumentNotFound: 'MutualFund document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/commercialmemorandum/{Uic}/MutualFund':
    get:
      tags:
        - KeyInfoDocument
      description: To get Commercial Memorandum in pdf format for given uic (applicable only for Managed/Mutual Funds)
      operationId: KeyInfoDocV1GetCommercialMemorandum
      parameters:
        - name: FileName
          in: query
          schema:
            type: string
        - name: Uic
          in: path
          required: true
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotSupportedAcceptHeader
                    type: string
                    x-enum-descriptions:
                      NotSupportedAcceptHeader: The end point only supports 'application/pdf' format.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - MutualFundDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      MutualFundDocumentNotFound: 'MutualFund document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/financialstatement/{Uic}/MutualFund':
    get:
      tags:
        - KeyInfoDocument
      summary: Get Financial Statement for mutual funds
      description: To get Financial Statement in pdf format for given uic (applicable only for Mutual Funds)
      operationId: KeyInfoDocV1GetFinancialStatement
      parameters:
        - name: FileName
          in: query
          description: Filename
          schema:
            type: string
        - name: FinancialReportType
          in: query
          description: Financial report type
          schema:
            $ref: '#/components/schemas/FinancialReportTypeNullable'
        - name: Uic
          in: path
          description: Uic
          required: true
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotSupportedAcceptHeader
                    type: string
                    x-enum-descriptions:
                      NotSupportedAcceptHeader: The end point only supports 'application/pdf' format.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - MutualFundDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      MutualFundDocumentNotFound: 'MutualFund document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/keyinformationdocument/{Uic}/{AssetType}':
    get:
      tags:
        - KeyInfoDocument
      summary: Get key Information Document
      description: To get key Information Document in pdf format for given uic
      operationId: KeyInfoDocV1GetKeyInformationDocument
      parameters:
        - name: AssetType
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: FileName
          in: query
          schema:
            type: string
        - name: Uic
          in: path
          required: true
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
      responses:
        '200':
          description: OK
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NotSupportedAcceptHeader
                    type: string
                    x-enum-descriptions:
                      NotSupportedAcceptHeader: The end point only supports 'application/pdf' format.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - KeyInfoDocNotServedForInstrumentType
                      - KeyInformationDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      KeyInfoDocNotServedForInstrumentType: Key Information Documents are served only for a select few stocks and all Mutual Funds
                      KeyInformationDocumentNotFound: 'Key Information Document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v4/MarketData/{AssetType}/{Uic}/allocations':
    get:
      tags:
        - MarketData
      summary: Get market allocation data information about an instrument
      description: Returns market allocation data information for an instrument.
      operationId: MarketDataV4GetInstrumentMarketAllocationData
      parameters:
        - name: AssetType
          in: path
          description: Asset Type
          required: true
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: Date
          in: query
          description: Date for which data to be returned
          schema:
            type: string
            format: date
            x-type-name: Date
        - name: FieldGroups
          in: query
          description: Details about which field groups is requested
          schema:
            title: Details about which field groups is requested
            type: array
            items:
              $ref: '#/components/schemas/MarketDataFieldGroup'
          example: [
  "GeneralInfo"
]
        - name: Uic
          in: path
          description: Uic for a given instrument
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationDataResponse'
              example: {
  "AssetAllocations": [
    {
      "Key": {
        "Key": "4",
        "Value": "FactSheet"
      },
      "Pct": -395678617.1801123
    }
  ],
  "AssetType": "CertificateTracker",
  "CountryWeightAllocations": [
    {
      "Country": {
        "Key": "4",
        "Value": "FactSheet"
      },
      "Pct": 38.995424526913943
    }
  ],
  "DisplayHint": "Etf",
  "SectorAllocations": [
    {
      "Key": {
        "Key": "SectorKey",
        "Value": "SectorKey"
      },
      "Pct": 7.0
    }
  ],
  "Uic": 31012
}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - MarketAllocationDataNotFound
                      - NoAccessToMarketDataSecurityGroup
                    type: string
                    x-enum-descriptions:
                      MarketAllocationDataNotFound: Market allocation data  not found
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToMarketDataSecurityGroup: User has no access to market data security group
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /mkt/online:
    post:
      description: Attempts to take the application online
      operationId: mkt_online
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-application-visibility: saxo-only
      x-network-visibility: internal
  /mkt/offline:
    post:
      description: Attempts to take the application offline
      operationId: mkt_offline
      parameters:
        - $ref: '#/components/parameters/XInternalIP'
      requestBody:
        content:
          application/json:
            schema:
              type: string
            example: "00:00:00.0026866"
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-application-visibility: saxo-only
      x-network-visibility: internal
  /mkt/v2/instruments/documents:
    get:
      tags:
        - Instrument Document
      summary: Filters data related to instrument documents
      description: This endpoint is used to filter instrument documents based on the search parameters provided.
      operationId: InstrumentDocumentV2GetDocumentsForAllInstruments
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            maximum: 100
            minimum: 0
            type: integer
            format: int32
            default: 50
        - name: AssetTypes
          in: query
          description: Limits the return information for the mentioned asset types
          schema:
            title: Limits the return information for the mentioned asset types
            type: array
            items:
              $ref: '#/components/schemas/AssetType'
          example: [
  "Etf"
]
        - name: BaseContractIds
          in: query
          description: Limits the return information for the mentioned base contract ids
          schema:
            title: Limits the return information for the mentioned base contract ids
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: DocumentRelationIds
          in: query
          description: Limits the return information for the mentioned document relation ids
          schema:
            title: Limits the return information for the mentioned document relation ids
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: DocumentTypes
          in: query
          description: Limits the return information for the mentioned document types
          schema:
            title: Limits the return information for the mentioned document types
            type: array
            items:
              $ref: '#/components/schemas/DocumentType'
          example: [
  "SimplifiedProspectus"
]
        - name: ExchangeCodes
          in: query
          description: Limits the return information for the mentioned exchange codes
          schema:
            title: Limits the return information for the mentioned exchange codes
            type: array
            items:
              type: string
          example: [
  "00530d08-a1eb-4104-b478-f4a0fc532e6b"
]
        - name: FieldGroups
          in: query
          description: Includes the additional information required like display and format.
          schema:
            $ref: '#/components/schemas/FieldGroupsNullable'
        - name: FromDateTime
          in: query
          description: Limits the return information before the mentioned datetime
          schema:
            title: Limits the return information before the mentioned datetime
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: "2024-03-07T10:45:59.34858Z"
        - name: LanguageCodes
          in: query
          description: Limits the return information for the mentioned language codes
          schema:
            title: Limits the return information for the mentioned language codes
            type: array
            items:
              type: string
          example: [
  "00530d08-a1eb-4104-b478-f4a0fc532e6b"
]
        - name: Markets
          in: query
          description: Limits the return information for the mentioned makkets
          schema:
            title: Limits the return information for the mentioned makkets
            type: array
            items:
              type: string
          example: [
  "00530d08-a1eb-4104-b478-f4a0fc532e6b"
]
        - name: OptionRootIds
          in: query
          description: Limits the return information for the mentioned option root ids
          schema:
            title: Limits the return information for the mentioned option root ids
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: OwnerIds
          in: query
          description: Limits the return information for the mentioned owner ids
          schema:
            title: Limits the return information for the mentioned owner ids
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: Providers
          in: query
          description: Limits the return information for the mentioned providers
          schema:
            title: Limits the return information for the mentioned providers
            type: array
            items:
              $ref: '#/components/schemas/Provider'
          example: [
  "AllFunds"
]
        - name: ToDateTime
          in: query
          description: Limits the return information after the mentioned datetime
          schema:
            title: Limits the return information after the mentioned datetime
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: "2024-03-07T10:45:59.34858Z"
        - name: Uics
          in: query
          description: Limits the return information for the mentioned uics
          schema:
            title: Limits the return information for the mentioned uics
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentDocumentResponseListResult'
              example: {
  "__next": "/openapi/....../?$top=1&$skip=1",
  "Data": [
    {
      "AssetType": "FxSpot",
      "BaseContractId": 4095508,
      "DocumentRelationId": 19585,
      "DocumentType": "KIIDs",
      "ExchangeCode": "EUREX",
      "LanguageCode": "en",
      "LastUpdated": "2020-04-20T00:00:00Z",
      "Market": "DK",
      "OptionRootId": 13512200,
      "OwnerId": 565,
      "OwnerName": "TestOwner",
      "Provider": "MorningStar",
      "Uic": 21
    },
    {
      "AssetType": "FxSpot",
      "BaseContractId": 4095508,
      "DocumentRelationId": 19586,
      "DocumentType": "PHS",
      "ExchangeCode": "NYSE",
      "LanguageCode": "fr",
      "LastUpdated": "2020-04-25T00:00:00Z",
      "Market": "0",
      "OptionRootId": 13512200,
      "OwnerId": 4215,
      "OwnerName": "TestOwner1",
      "Provider": "Saxo",
      "Uic": 9104
    }
  ]
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                      - TooManyRecordsRequested
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                      TooManyRecordsRequested: Your filter criteria results exceed upper limit of 20000. Refine your search to perform export operation.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - DocumentsForAllInstrumentsNotFound
                      - InstrumentDocumentCsvNotFound
                    type: string
                    x-enum-descriptions:
                      DocumentsForAllInstrumentsNotFound: Documents related to instruments not found
                      InstrumentDocumentCsvNotFound: Instrument document csv not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
    post:
      tags:
        - Instrument Document
      summary: Posts a new instrument document
      description: This endpoint is used to upload a new instrument document.
      operationId: InstrumentDocumentV2PostInstrumentDocument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostInstrumentDocumentRequest'
            example: {
  "AssetType": "FxSpot",
  "BaseContractId": 4095508,
  "Document": "sgdcgdchgdhdfvfh",
  "DocumentName": "abc.pdf",
  "DocumentType": "KIIDs",
  "Exchange": "EUREX",
  "LanguageCode": "en",
  "Market": "DK",
  "OptionRootId": 13512200,
  "OwnerId": 566,
  "Provider": "Saxo",
  "Uic": 21
}
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentRuleAlreadyExist
                    type: string
                    x-enum-descriptions:
                      InstrumentDocumentRuleAlreadyExist: Instrument document rule already exist.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v2/instruments/{Uic}/{AssetType}/documents/pdf':
    get:
      tags:
        - Instrument Document
      summary: Gets document related to instrument.
      description: 'This endpoint is used to fetch pdf document for the specified AssetType, Uic, DocumentType and LanguageCode.'
      operationId: InstrumentDocumentV2GetDocumentByDocumentTypeAndLanguageCode
      parameters:
        - name: AssetType
          in: path
          description: AssetType of the instrument.
          required: true
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: DocumentType
          in: query
          description: DocumentType for which to request information.
          required: true
          schema:
            $ref: '#/components/schemas/DocumentType'
        - name: LanguageCode
          in: query
          description: LanguageCode for which to request information.
          required: true
          schema:
            type: string
        - name: Uic
          in: path
          description: Uic of the instrument.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentNotFound
                      - InstrumentInformationDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      InstrumentInformationDocumentNotFound: 'Instrument Document not found '
                      InstrumentDocumentNotFound: 'Instrument Document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentDetailsNotFound
                      - InstrumentNotFound
                      - InvalidRequest
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                      InstrumentDocumentDetailsNotFound: Instrument Document details not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/mkt/v2/instruments/{Uic}/{AssetType}/documents':
    get:
      tags:
        - Instrument Document
      summary: Get list of preferred instrument document information.
      description: 'This endpoint is used to fetch a list of instrument document information for the specified AssetType,Uic,DocumentTypes and LanguageCodes.'
      operationId: InstrumentDocumentV2GetInstrumentDocumentInformationByLanguage
      parameters:
        - name: AssetType
          in: path
          description: AssetType of the instrument.
          required: true
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: DocumentTypes
          in: query
          description: The list of document types for which to request information
          required: true
          schema:
            title: The list of document types for which to request information
            type: array
            items:
              $ref: '#/components/schemas/DocumentType'
          example: [
  "SimplifiedProspectus"
]
        - name: LanguageCodes
          in: query
          description: The list of language codes for which to request information.
          required: true
          schema:
            type: string
        - name: Uic
          in: path
          description: Uic of the instrument.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentDocumentDetailsListResult'
              example: {
  "Data": [
    {
      "DocumentDateTime": "2020-04-20T00:00:00Z",
      "DocumentRelationId": 1289,
      "DocumentType": "KIIDs",
      "LanguageCode": "en"
    },
    {
      "DocumentDateTime": "2019-09-20T00:00:00Z",
      "DocumentRelationId": 4028,
      "DocumentType": "PRIIPKIDs",
      "LanguageCode": "da"
    }
  ]
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v2/instruments/{Uic}/{AssetType}/documents/recommended':
    get:
      tags:
        - Instrument Document
      summary: Gets list of recommended instrument document information.
      description: This endpoint is used to fetch a list of instrument document information for the specified input parameters.
      operationId: InstrumentDocumentV2GetRecommendedInstrumentDocumentInformation
      parameters:
        - name: AssetType
          in: path
          description: AssetType of the instrument.
          required: true
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: ClientKey
          in: query
          description: Client Key for which information is requested.
          schema:
            title: Client Key for which information is requested.
            minLength: 1
            type: string
            x-network-visibility: internal
            x-type-name: ClientKey
          example: "d4ba721a-644f-4726-8e14-8eb6b115a8a5"
          x-network-visibility: internal
        - name: DocumentTypes
          in: query
          description: The list of document types for which to request information
          required: true
          schema:
            title: The list of document types for which to request information
            type: array
            items:
              $ref: '#/components/schemas/DocumentType'
          example: [
  "SimplifiedProspectus"
]
        - name: Uic
          in: path
          description: Uic of the instrument.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentDocumentDetailsListResult'
              example: {
  "Data": [
    {
      "DocumentDateTime": "2020-04-20T00:00:00Z",
      "DocumentRelationId": 1289,
      "DocumentType": "KIIDs",
      "LanguageCode": "en"
    },
    {
      "DocumentDateTime": "2019-09-20T00:00:00Z",
      "DocumentRelationId": 4028,
      "DocumentType": "PRIIPKIDs",
      "LanguageCode": "da"
    }
  ]
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotFound
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /mkt/v1/instruments/documents/copy:
    post:
      tags:
        - Instrument Document
      summary: Copy instrument document for BaseContract/OptionRoot
      description: This endpoint will copy all documents for source basecontractid/optionrootid to target basecontractid/optionrootid for a particular asset(eg. Contractfutures) and documentType(eg. PriipKids)
      operationId: InstrumentDocumentV1CopyInstrumentDocument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyInstrumentDocumentRequest'
            example: {
  "AssetType": "Etn",
  "DocumentType": "KFS",
  "Exchange": "Exchange71a25aaa-4f74-47b3-a3ad-7548da94c73a",
  "FromBaseContractId": 10533,
  "FromOptionRootId": 1615,
  "ToBaseContractIds": [
    21235
  ],
  "ToOptionRootIds": [
    1863
  ]
}
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentRuleAlreadyExist
                      - InstrumentDocumentRuleNotExist
                    type: string
                    x-enum-descriptions:
                      InstrumentDocumentRuleNotExist: Instrument document does not exist.
                      InstrumentDocumentRuleAlreadyExist: Instrument document rule already exist.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /mkt/v1/instruments/documents/lookupdata:
    get:
      tags:
        - Instrument Document
      summary: List of lookup data for documentTypes and providers
      description: "Returns a list of lookup data that can be used while fetching data for instruments document. \r\n            The resource serves as the starting point for an application/user who wants to know the different documentTypes and providers."
      operationId: InstrumentDocumentV1GetInstrumentDocumentLookupData
      parameters:
        - name: FieldGroups
          in: query
          description: Includes the information to search like Providers or DocumentTypes.
          schema:
            $ref: '#/components/schemas/SearchOptionType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentLookupDataListResult'
              example: {
  "Data": [
    {
      "OptionType": "DocumentTypes",
      "Values": [
        {
          "Key": "1",
          "Value": "KIIDs"
        },
        {
          "Key": "2",
          "Value": "PRIIP KIDs"
        },
        {
          "Key": "4",
          "Value": "FactSheet"
        },
        {
          "Key": "8",
          "Value": "FinancialStatement"
        },
        {
          "Key": "16",
          "Value": "CommercialMemorandum"
        },
        {
          "Key": "32",
          "Value": "Prospectus"
        },
        {
          "Key": "64",
          "Value": "PHS"
        },
        {
          "Key": "128",
          "Value": "KFS"
        },
        {
          "Key": "256",
          "Value": "FinancialStatementES"
        },
        {
          "Key": "512",
          "Value": "FinancialStatementNonES"
        }
      ]
    },
    {
      "OptionType": "Providers",
      "Values": [
        {
          "Key": "1",
          "Value": "Saxo"
        },
        {
          "Key": "2",
          "Value": "Exchange"
        },
        {
          "Key": "3",
          "Value": "MorningStar"
        },
        {
          "Key": "4",
          "Value": "AllFunds"
        }
      ]
    }
  ]
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/instruments/documents/{DocumentRelationId}':
    put:
      tags:
        - Instrument Document
      summary: Update instrument document
      description: This endpoint is used to update an exisiting document and its name. It adds a new version of document in place of existing document in document repository.
      operationId: InstrumentDocumentV1UpdateInstrumentDocument
      parameters:
        - name: DocumentRelationId
          in: path
          description: Document relation id.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInstrumentDocumentRequest'
            example: {
  "Document": "sgdcgdchgdhdfvfh",
  "DocumentName": "abc.pdf"
}
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentDetailsNotFound
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                      InstrumentDocumentDetailsNotFound: Instrument Document details not found
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
    delete:
      tags:
        - Instrument Document
      summary: Delete document related to instrument based on document relation id.
      description: 'This endpoint will delete document related to instrument based on document relation id. Only documents having provider as Saxo , SaxoInternal or Exchange can be deleted.'
      operationId: InstrumentDocumentV1DeleteDocumentByDocumentRelationId
      parameters:
        - name: DocumentRelationId
          in: path
          description: Id of the document to be deleted.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentInformationDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      InstrumentInformationDocumentNotFound: 'Instrument Document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/instruments/documents/pdf/{DocumentRelationId}':
    get:
      tags:
        - Instrument Document
      description: Gets document related to instrument.
      operationId: InstrumentDocumentV1GetDocumentByDocumentRelationId
      parameters:
        - name: DocumentRelationId
          in: path
          description: Document relation id.
          required: true
          schema:
            type: integer
            format: int32
        - name: UtcDateTime
          in: query
          description: 'UTCDateTime, If timestamp is empty latest document will be returned.'
          schema:
            type: string
            format: date-time
            x-type-name: UtcDateTime
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      InstrumentDocumentNotFound: 'Instrument Document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentDetailsNotFound
                      - InstrumentNotFound
                      - InvalidRequest
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InstrumentDocumentDetailsNotFound: Instrument Document details not found
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  /mkt/v1/instruments/documents:
    get:
      tags:
        - Instrument Document
      summary: Filters data related to instrument documents
      description: This endpoint is used to filter instrument documents based on the search parameters provided.
      operationId: InstrumentDocumentV1GetDocumentsForAllInstruments
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            maximum: 100
            minimum: 0
            type: integer
            format: int32
            default: 50
        - name: AssetTypes
          in: query
          description: Limits the return information for the mentioned asset types
          schema:
            title: Limits the return information for the mentioned asset types
            type: array
            items:
              $ref: '#/components/schemas/AssetType'
          example: [
  "Etf"
]
        - name: BaseContractIds
          in: query
          description: Limits the return information for the mentioned base contract ids
          schema:
            title: Limits the return information for the mentioned base contract ids
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: DocumentRelationIds
          in: query
          description: Limits the return information for the mentioned document relation ids
          schema:
            title: Limits the return information for the mentioned document relation ids
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: DocumentTypes
          in: query
          description: Limits the return information for the mentioned document types
          schema:
            title: Limits the return information for the mentioned document types
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: ExchangeCodes
          in: query
          description: Limits the return information for the mentioned exchange codes
          schema:
            title: Limits the return information for the mentioned exchange codes
            type: array
            items:
              type: string
          example: [
  "00530d08-a1eb-4104-b478-f4a0fc532e6b"
]
        - name: FieldGroups
          in: query
          description: Includes the additional information required like display and format.
          schema:
            $ref: '#/components/schemas/FieldGroupsNullable'
        - name: FromDateTime
          in: query
          description: Limits the return information before the mentioned datetime
          schema:
            title: Limits the return information before the mentioned datetime
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: "2024-03-07T10:45:59.34858Z"
        - name: LanguageCodes
          in: query
          description: Limits the return information for the mentioned language codes
          schema:
            title: Limits the return information for the mentioned language codes
            type: array
            items:
              type: string
          example: [
  "00530d08-a1eb-4104-b478-f4a0fc532e6b"
]
        - name: Markets
          in: query
          description: Limits the return information for the mentioned makkets
          schema:
            title: Limits the return information for the mentioned makkets
            type: array
            items:
              type: string
          example: [
  "00530d08-a1eb-4104-b478-f4a0fc532e6b"
]
        - name: OptionRootIds
          in: query
          description: Limits the return information for the mentioned option root ids
          schema:
            title: Limits the return information for the mentioned option root ids
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: OwnerIds
          in: query
          description: Limits the return information for the mentioned owner ids
          schema:
            title: Limits the return information for the mentioned owner ids
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: Providers
          in: query
          description: Limits the return information for the mentioned providers
          schema:
            title: Limits the return information for the mentioned providers
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
        - name: ToDateTime
          in: query
          description: Limits the return information after the mentioned datetime
          schema:
            title: Limits the return information after the mentioned datetime
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: "2024-03-07T10:45:59.34858Z"
        - name: Uics
          in: query
          description: Limits the return information for the mentioned uics
          schema:
            title: Limits the return information for the mentioned uics
            type: array
            items:
              type: integer
              format: int32
          example: [
  224
]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentDocumentSearchResponseListResult'
              example: {
  "__next": "/openapi/....../?$top=1&$skip=1",
  "Data": [
    {
      "AssetType": "FxSpot",
      "BaseContractId": 4095508,
      "DocumentRelationId": 19585,
      "DocumentType": {
        "Key": "1",
        "Value": "PRIIP KIDs"
      },
      "ExchangeCode": "EUREX",
      "LanguageCode": "en",
      "LastUpdated": "2020-04-20T00:00:00Z",
      "Market": "DK",
      "OptionRootId": 13512200,
      "OwnerId": 565,
      "OwnerName": "TestOwner",
      "Provider": {
        "Key": "3",
        "Value": "MorningStar"
      },
      "Uic": 21
    },
    {
      "AssetType": "FxSpot",
      "BaseContractId": 4095508,
      "DocumentRelationId": 19586,
      "DocumentType": {
        "Key": "64",
        "Value": "PHS"
      },
      "ExchangeCode": "NYSE",
      "LanguageCode": "fr",
      "LastUpdated": "2020-04-25T00:00:00Z",
      "Market": "0",
      "OptionRootId": 13512200,
      "OwnerId": 4215,
      "OwnerName": "TestOwner1",
      "Provider": {
        "Key": "1",
        "Value": "Saxo"
      },
      "Uic": 9104
    }
  ]
}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                      - TooManyRecordsRequested
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                      TooManyRecordsRequested: Your filter criteria results exceed upper limit of 20000. Refine your search to perform export operation.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - DocumentsForAllInstrumentsNotFound
                      - InstrumentDocumentCsvNotFound
                    type: string
                    x-enum-descriptions:
                      DocumentsForAllInstrumentsNotFound: Documents related to instruments not found
                      InstrumentDocumentCsvNotFound: Instrument document csv not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
    post:
      tags:
        - Instrument Document
      summary: Posts a new instrument document
      description: This endpoint is used to upload a new instrument document.
      operationId: InstrumentDocumentV1PostInstrumentDocument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertInstrumentDocumentRequest'
            example: {
  "AssetType": "FxSpot",
  "BaseContractId": 4095508,
  "Document": "sgdcgdchgdhdfvfh",
  "DocumentName": "abc.pdf",
  "DocumentType": "2",
  "Exchange": "EUREX",
  "LanguageCode": "en",
  "Market": "DK",
  "OptionRootId": 13512200,
  "OwnerId": 566,
  "Provider": "3",
  "Uic": 21
}
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - Forbidden
                    type: string
                    x-enum-descriptions:
                      Forbidden: The user does not have necessary permissions for the resource
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentRuleAlreadyExist
                    type: string
                    x-enum-descriptions:
                      InstrumentDocumentRuleAlreadyExist: Instrument document rule already exist.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-application-visibility: saxo-only
  '/mkt/v1/instruments/{Uic}/{AssetType}/documents/pdf':
    get:
      tags:
        - Instrument Document
      summary: Gets document related to instrument.
      description: 'This endpoint is used to fetch pdf document for the specified AssetType, Uic, DocumentType and LanguageCode.'
      operationId: InstrumentDocumentV1GetDocumentByDocumentTypeAndLanguageCode
      parameters:
        - name: AssetType
          in: path
          description: AssetType of the instrument.
          required: true
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: DocumentType
          in: query
          description: DocumentType for which to request information.
          required: true
          schema:
            $ref: '#/components/schemas/DocumentType'
        - name: LanguageCode
          in: query
          description: LanguageCode for which to request information.
          required: true
          schema:
            type: string
        - name: Uic
          in: path
          description: Uic of the instrument.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentNotFound
                      - InstrumentInformationDocumentNotFound
                    type: string
                    x-enum-descriptions:
                      InstrumentInformationDocumentNotFound: 'Instrument Document not found '
                      InstrumentDocumentNotFound: 'Instrument Document not found '
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentDocumentDetailsNotFound
                      - InstrumentNotFound
                      - InvalidRequest
                      - NoAccessToInstrument
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InstrumentNotFound: Instrument not found or user is missing access to the instrument.
                      NoAccessToInstrument: User has no trade access to the instrument.
                      InstrumentDocumentDetailsNotFound: Instrument Document details not found
                  Message:
[...]
