openapi: 3.0.1
info:
  contact:
    email: openapisupport@saxobank.com
  title: Services.Portfolio
  description: 'The Portfolio service group provides services and end points that serves information about the clients current portfolio, such as account balance, open positions etc.'
  version: 2.2.428+3ac1850b34
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  '/port/v1/closedpositions/subscriptions/{ContextId}':
    delete:
      tags:
        - ClosedPositions
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: ClosedPositionsV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/closedpositions/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - ClosedPositions
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ClosedPositionsV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique id of the subscription
          required: true
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
    patch:
      tags:
        - ClosedPositions
      summary: Change the closed positions subscription page size
      description: 'Extends or reduces the page size, number of positions shown, on a running closed positions subscription. When expanding the page size, the subsequent closed positions are streamed so to avoid race conditions.'
      operationId: ClosedPositionsV1UpdateClosedPositionSubscriptionPagesize
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique ID of the subscription
          required: true
          schema:
            type: string
          example: P54123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PositionPagingSubscriptionUpdateRequest'
            example:
              NewPageSize: 184
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription change will be processed and respose will be streamed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/closedpositions/subscriptions:
    post:
      tags:
        - ClosedPositions
      summary: Create a subscription on a list of closed positions and make it active
      description: Sets up a subscription and returns an initial snapshot of list of closed positions specified by the parameters in the request.
      operationId: ClosedPositionsV1AddActiveSubscription
      parameters:
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosedPositionsSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                ClosedPositionId: 139597294-139694249
                FieldGroups:
                  - ClosedPosition
              ContextId: '20220202113634717'
              Format: application/json
              ReferenceId: CP06538
              RefreshRate: 1000
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionsSubscriptionResponse'
              example:
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: CP66082
                RefreshRate: 1000
                Snapshot:
                  Data:
                    - ClosedPosition:
                        AccountId: 192134INET
                        Amount: 300000
                        AssetType: FxSpot
                        BuyOrSell: Buy
                        ClientId: '654321'
                        ClosedProfitLoss: 9597
                        ClosedProfitLossInBaseCurrency: 9597
                        ClosingMarketValue: 0
                        ClosingMarketValueInBaseCurrency: 0
                        ClosingMethod: Explicit
                        ClosingPositionId: '139694249'
                        ClosingPrice: 1.09139
                        ConversionRateInstrumentToBaseSettledClosing: false
                        ConversionRateInstrumentToBaseSettledOpening: true
                        ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                        ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                        OpeningPositionId: '139597294'
                        OpenPrice: 1.0594
                        Uic: 21
                      ClosedPositionUniqueId: 139597294-139694249
                      NetPositionId: EURUSD_FxSpot
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - SubscriptionExceedesPositionsLimit
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                      SubscriptionExceedesPositionsLimit: Too many positions requested. Streaming updates are only allowed on a limited number of positions.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: 
        $ref: '#/components/schemas/ClosedPositionResponseArray'
  '/port/v1/closedpositions/{ClosedPositionId}/details':
    get:
      tags:
        - ClosedPositions
      summary: Get detailed information for a single position
      description: Gets detailed information about a single position as specified by the query parameters.
      operationId: ClosedPositionsV1GetPositionDetails
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the closed positions belongs.
          schema:
            title: The key of the account group to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account to which the closed positions belongs.
          schema:
            title: The key of the account to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The key of the client to which the closesd positions belongs.
          required: true
          schema:
            title: The key of the client to which the closesd positions belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: ClosedPositionId
          in: path
          description: Unique id of the position.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionDetailedResponse'
              example:
                ClosedPosition:
                  AccountId: 192134INET
                  Amount: 300000
                  AssetType: FxSpot
                  BuyOrSell: Buy
                  ClientId: '654321'
                  ClosedProfitLoss: 9597
                  ClosedProfitLossInBaseCurrency: 9597
                  ClosingMarketValue: 0
                  ClosingMarketValueInBaseCurrency: 0
                  ClosingMethod: Explicit
                  ClosingPositionId: '139694249'
                  ClosingPrice: 1.09139
                  ConversionRateInstrumentToBaseSettledClosing: false
                  ConversionRateInstrumentToBaseSettledOpening: true
                  ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                  ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                  OpeningPositionId: '139597294'
                  OpenPrice: 1.0594
                  Uic: 21
                ClosedPositionDetails:
                  CurrencyConversionRateInstrumentToBaseClosing: 1
                  CurrencyConversionRateInstrumentToBaseOpening: 1
                  ValueDateClose: '2017-05-04T00:00:00.0000000+00:00'
                  ValueDateOpen: '2017-05-04T00:00:00.0000000+00:00'
                ClosedPositionUniqueId: 139597294-139694249
                DisplayAndFormat:
                  Currency: USD
                  Decimals: 4
                  Description: Euro/US Dollar
                  Format: AllowDecimalPips
                  Symbol: EURUSD
                Exchange:
                  Description: Inter Bank
                  ExchangeId: SBFX
                  IsOpen: true
                NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - PositionIdNotSpecified
                    type: string
                    x-enum-descriptions:
                      PositionIdNotSpecified: Position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/closedpositions/{ClosedPositionId}':
    get:
      tags:
        - ClosedPositions
      summary: Get a single position
      description: Get a single position.
      operationId: ClosedPositionsV1GetClosedPosition
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the closed positions belongs.
          schema:
            title: The key of the account group to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account to which the closed positions belongs.
          schema:
            title: The key of the account to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The key of the client to which the closesd positions belongs.
          required: true
          schema:
            title: The key of the client to which the closesd positions belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: ClosedPositionId
          in: path
          description: Unique id of the position.
          required: true
          schema:
            type: string
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [ClosedPosition]'
          schema:
            title: 'Specifies which data to return. Default is [ClosedPosition]'
            type: array
            items:
              $ref: '#/components/schemas/ClosedPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponse'
              example:
                ClosedPosition:
                  AccountId: 192134INET
                  Amount: 300000
                  AssetType: FxSpot
                  BuyOrSell: Buy
                  ClientId: '654321'
                  ClosedProfitLoss: 9597
                  ClosedProfitLossInBaseCurrency: 9597
                  ClosingMarketValue: 0
                  ClosingMarketValueInBaseCurrency: 0
                  ClosingMethod: Explicit
                  ClosingPositionId: '139694249'
                  ClosingPrice: 1.09139
                  ConversionRateInstrumentToBaseSettledClosing: false
                  ConversionRateInstrumentToBaseSettledOpening: true
                  ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                  ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                  OpeningPositionId: '139597294'
                  OpenPrice: 1.0594
                  Uic: 21
                ClosedPositionUniqueId: 139597294-139694249
                NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - PositionIdNotSpecified
                    type: string
                    x-enum-descriptions:
                      PositionIdNotSpecified: Position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/closedpositions/me:
    get:
      tags:
        - ClosedPositions
      summary: 'Get closed positions for a client, to which the logged in user belongs'
      description: Returns a list of closed positions fulfilling the criteria specified by the query string parameters.
      operationId: GET_ClosedPositionsV1GetClosedPositions
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [ClosedPosition].'
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ClosedPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - ClosedPosition:
                      AccountId: 192134INET
                      Amount: 300000
                      AssetType: FxSpot
                      BuyOrSell: Buy
                      ClientId: '654321'
                      ClosedProfitLoss: 9597
                      ClosedProfitLossInBaseCurrency: 9597
                      ClosingMarketValue: 0
                      ClosingMarketValueInBaseCurrency: 0
                      ClosingMethod: Explicit
                      ClosingPositionId: '139694249'
                      ClosingPrice: 1.09139
                      ConversionRateInstrumentToBaseSettledClosing: false
                      ConversionRateInstrumentToBaseSettledOpening: true
                      ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                      ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                      OpeningPositionId: '139597294'
                      OpenPrice: 1.0594
                      Uic: 21
                    ClosedPositionUniqueId: 139597294-139694249
                    NetPositionId: EURUSD_FxSpot
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/closedpositions:
    get:
      tags:
        - ClosedPositions
      summary: 'Get closed positions for a client, accountGroup or account'
      description: Returns a list of closed positions fulfilling the criteria specified by the query string parameters.
      operationId: ClosedPositionsV1GetClosedPositions
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the closed positions belongs.
          schema:
            title: The key of the account group to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account to which the closed positions belongs.
          schema:
            title: The key of the account to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The key of the client to which the closesd positions belongs.
          required: true
          schema:
            title: The key of the client to which the closesd positions belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: ClosedPositionId
          in: query
          description: The id of the closed position to which the closedposition belongs
          schema:
            title: The id of the closed position to which the closedposition belongs
            type: string
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [ClosedPosition]'
          schema:
            title: 'Specifies which data to return. Default is [ClosedPosition]'
            type: array
            items:
              $ref: '#/components/schemas/ClosedPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - ClosedPosition:
                      AccountId: 192134INET
                      Amount: 300000
                      AssetType: FxSpot
                      BuyOrSell: Buy
                      ClientId: '654321'
                      ClosedProfitLoss: 9597
                      ClosedProfitLossInBaseCurrency: 9597
                      ClosingMarketValue: 0
                      ClosingMarketValueInBaseCurrency: 0
                      ClosingMethod: Explicit
                      ClosingPositionId: '139694249'
                      ClosingPrice: 1.09139
                      ConversionRateInstrumentToBaseSettledClosing: false
                      ConversionRateInstrumentToBaseSettledOpening: true
                      ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                      ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                      OpeningPositionId: '139597294'
                      OpenPrice: 1.0594
                      Uic: 21
                    ClosedPositionUniqueId: 139597294-139694249
                    NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClosedPositionNotAccessibleInEndOfDayNettingMode
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                      ClosedPositionNotAccessibleInEndOfDayNettingMode: ClosedPosition is not accessible in EndOfDay netting mode of the client
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/netpositions/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - NetPositions
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id.
      operationId: NetPositionsV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique ID of the subscription
          required: true
          schema:
            type: string
          example: NP6783
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/netpositions/subscriptions/{ContextId}':
    delete:
      tags:
        - NetPositions
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: NetPositionsV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: PAGE2
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/netpositions/subscriptions:
    post:
      tags:
        - NetPositions
      summary: Create a subscription on a list of net positions and make it active
      description: Sets up a subscription and returns an initial snapshot of list of net positions specified by the parameters in the request.
      operationId: NetPositionsV1AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetPositionsSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                FieldGroups:
                  - NetPositionView
                  - NetPositionBase
                NetPositionId: EURUSD 41761NY 1.3765 C
              ContextId: '20220202113632803'
              Format: application/json
              ReferenceId: NP27328
              RefreshRate: 1000
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionsSubscriptionResponse'
              example:
                ContextId: ContextId3dd54517-437a-4247-9117-66a3640d6788
                Format: Format402efaf7-56b0-4610-bf75-bf2120434f01
                InactivityTimeout: 18435
                ReferenceId: ReferenceId30408eec-7d84-4b24-84aa-e1d249bc600e
                RefreshRate: 17705
                Snapshot:
                  __next: /openapi/port/....../?$top=1&$skip=1
                  Data:
                    - NetPositionBase:
                        AccountId: 192134INET
                        Amount: 100000
                        AssetType: FxSpot
                        CanBeClosed: true
                        ClientId: '654321'
                        HasForceOpenPositions: false
                        IsMarketOpen: false
                        NonTradableReason: None
                        NumberOfRelatedOrders: 0
                        OpenIpoOrdersCount: 0
                        OpenOrdersCount: 0
                        OpenTriggerOrdersCount: 0
                        PositionsAccount: 192134INET
                        SinglePositionStatus: Open
                        Uic: 31
                        ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                      NetPositionId: GPBUSD_FXSpot
                      NetPositionView:
                        AverageOpenPrice: 1.32167
                        CalculationReliability: Ok
                        CurrentPrice: 1.29188
                        CurrentPriceDelayMinutes: 15
                        CurrentPriceType: Mid
                        Exposure: 100000
                        ExposureInBaseCurrency: 129205
                        InstrumentPriceDayPercentChange: 0.27
                        PositionCount: 1
                        PositionsNotClosedCount: 0
                        ProfitLossOnTrade: -2979
                        Status: Open
                        TradeCostsTotal: 0
                        TradeCostsTotalInBaseCurrency: 0
                State: Active
                Tag: Tag33b26f7e-c634-4595-b774-ba59cfc3848e
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: 
        $ref: '#/components/schemas/NetPositionResponseArray'
  /port/v1/netpositions:
    get:
      tags:
        - NetPositions
      summary: 'Get net positions for a client, account group or account'
      description: "Returns a list of net positions fulfilling the criteria specified by the query string parameters.\r\n            Each net position may include all related sub positions if fieldGroups includes SubPositions."
      operationId: GET_NetPositionsV1GetNetPositions
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: AssetType
          in: query
          description: Optional. The AssetType.
          schema:
            title: Optional. The AssetType.
            allOf:
              - $ref: '#/components/schemas/AssetTypeNullable'
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: ExpiryDate
          in: query
          description: Optional. The expiry date. Only used to distinguish FxOptions.
          schema:
            title: Optional. The expiry date. Only used to distinguish FxOptions.
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
          schema:
            title: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
            type: array
            items:
              $ref: '#/components/schemas/NetPositionFieldGroup'
        - name: LowerBarrier
          in: query
          description: Optional. The Lower Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: Optional. The Lower Barrier. Only used to distinguish Fx Barrier Options.
            allOf:
              - type: number
        - name: NetPositionId
          in: query
          description: Optional. The id of the netposition
          schema:
            title: Optional. The id of the netposition
            type: string
        - name: PutCall
          in: query
          description: Optional. Put or Call. Only used to distinguish FxOptions.
          schema:
            title: Optional. Put or Call. Only used to distinguish FxOptions.
            allOf:
              - $ref: '#/components/schemas/PutCallNullable'
        - name: Strike
          in: query
          description: Optional. The strike price of the option. Only used to distinguish FxOptions.
          schema:
            title: Optional. The strike price of the option. Only used to distinguish FxOptions.
            allOf:
              - type: number
        - name: Uic
          in: query
          description: Optional. Unique id of the instrument.
          schema:
            title: Optional. Unique id of the instrument.
            allOf:
              - type: integer
                format: int32
        - name: UpperBarrier
          in: query
          description: Optional. The Upper Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: Optional. The Upper Barrier. Only used to distinguish Fx Barrier Options.
            allOf:
              - type: number
        - name: ValueDate
          in: query
          description: Optional. The value date. Only used to distinguish FxForwards.
          schema:
            title: Optional. The value date. Only used to distinguish FxForwards.
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: WatchlistId
          in: query
          description: Optional. Watchlist Id.Filter on watchlist instruments
          schema:
            title: Optional. Watchlist Id.Filter on watchlist instruments
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - NetPositionBase:
                      AccountId: 192134INET
                      Amount: 100000
                      AssetType: FxSpot
                      CanBeClosed: true
                      ClientId: '654321'
                      HasForceOpenPositions: false
                      IsMarketOpen: false
                      NonTradableReason: None
                      NumberOfRelatedOrders: 0
                      OpenIpoOrdersCount: 0
                      OpenOrdersCount: 0
                      OpenTriggerOrdersCount: 0
                      PositionsAccount: 192134INET
                      SinglePositionStatus: Open
                      Uic: 31
                      ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                    NetPositionId: GPBUSD_FXSpot
                    NetPositionView:
                      AverageOpenPrice: 1.32167
                      CalculationReliability: Ok
                      CurrentPrice: 1.29188
                      CurrentPriceDelayMinutes: 15
                      CurrentPriceType: Mid
                      Exposure: 100000
                      ExposureInBaseCurrency: 129205
                      InstrumentPriceDayPercentChange: 0.27
                      PositionCount: 1
                      PositionsNotClosedCount: 0
                      ProfitLossOnTrade: -2979
                      Status: Open
                      TradeCostsTotal: 0
                      TradeCostsTotalInBaseCurrency: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NetPositionIdNotSpecified
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      NetPositionIdNotSpecified: Net position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/netpositions/me:
    get:
      tags:
        - NetPositions
      summary: Get net positions for the current user's client
      description: "Returns a list of net positions fulfilling the criteria specified by the query string parameters.\r\n            Each net position may include all related sub positions if fieldGroups includes SubPositions."
      operationId: NetPositionsV1GetNetPositions
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [NetPositionBase, NetPositionView].'
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NetPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - NetPositionBase:
                      AccountId: 192134INET
                      Amount: 100000
                      AssetType: FxSpot
                      CanBeClosed: true
                      ClientId: '654321'
                      HasForceOpenPositions: false
                      IsMarketOpen: false
                      NonTradableReason: None
                      NumberOfRelatedOrders: 0
                      OpenIpoOrdersCount: 0
                      OpenOrdersCount: 0
                      OpenTriggerOrdersCount: 0
                      PositionsAccount: 192134INET
                      SinglePositionStatus: Open
                      Uic: 31
                      ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                    NetPositionId: GPBUSD_FXSpot
                    NetPositionView:
                      AverageOpenPrice: 1.32167
                      CalculationReliability: Ok
                      CurrentPrice: 1.29188
                      CurrentPriceDelayMinutes: 15
                      CurrentPriceType: Mid
                      Exposure: 100000
                      ExposureInBaseCurrency: 129205
                      InstrumentPriceDayPercentChange: 0.27
                      PositionCount: 1
                      PositionsNotClosedCount: 0
                      ProfitLossOnTrade: -2979
                      Status: Open
                      TradeCostsTotal: 0
                      TradeCostsTotalInBaseCurrency: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/netpositions/{NetPositionId}/details':
    get:
      tags:
        - NetPositions
      summary: Get detailed information for a single net position
      description: "Gets detailed information about a single net position as specified by the query parameters.\r\n            Note: the net position is fully identified by the supplied netPositionId, but accountId and clientId may be specified\r\n            to determine whether the netposition values should be calculated at client or account level."
      operationId: NetPositionsV1GetNetPositionDetails
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: NetPositionId
          in: path
          description: Unique id of the net position.
          required: true
          schema:
            type: string
          example: EURUSD_41761NY_1.3765 C
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionDetailedResponse'
              example:
                NetPositionBase:
                  AccountId: 192134INET
                  Amount: 100000
                  AssetType: FxSpot
                  CanBeClosed: true
                  ClientId: '654321'
                  HasForceOpenPositions: false
                  IsMarketOpen: false
                  NonTradableReason: None
                  NumberOfRelatedOrders: 0
                  OpenIpoOrdersCount: 0
                  OpenOrdersCount: 0
                  OpenTriggerOrdersCount: 0
                  PositionsAccount: 192134INET
                  SinglePositionStatus: Open
                  Uic: 31
                  ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                NetPositionDetails:
                  MarketValue: -2958
                  MarketValueInBaseCurrency: -2958
                  NonTradableReason: None
                NetPositionId: GPBUSD_FXSpot
                NetPositionView:
                  AverageOpenPrice: 1.32167
                  CalculationReliability: Ok
                  CurrentPrice: 1.29188
                  CurrentPriceDelayMinutes: 15
                  CurrentPriceType: Mid
                  Exposure: 100000
                  ExposureInBaseCurrency: 129205
                  InstrumentPriceDayPercentChange: 0.27
                  PositionCount: 1
                  PositionsNotClosedCount: 0
                  ProfitLossOnTrade: -2979
                  SettlementInstruction:
                    ActualRolloverAmount: 0
                    ActualSettlementAmount: 10
                    Amount: 10
                    IsSettlementInstructionsAllowed: false
                    Month: 7
                    SettlementType: FullSettlement
                    Year: 2020
                  Status: Open
                  TradeCostsTotal: 0
                  TradeCostsTotalInBaseCurrency: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - NetPositionIdNotSpecified
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      NetPositionIdNotSpecified: Net position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/netpositions/{NetPositionId}':
    get:
      tags:
        - NetPositions
      summary: Get a single net position
      description: "Gets a single net position calculated as specified by the query parameters. \r\n            The net position may include all related sub positions if fieldGroups includes SubPositions.\r\n            Note: the net position is fully identified by the supplied netPositionId, but accountId and clientId may be specified\r\n            to determine whether the netposition values should be calculated at client or account level."
      operationId: NetPositionsV1GetNetPosition
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
          schema:
            title: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
            type: array
            items:
              $ref: '#/components/schemas/NetPositionFieldGroup'
        - name: NetPositionId
          in: path
          description: Unique id of the net position.
          required: true
          schema:
            type: string
          example: EURUSD 41761NY 1.3765 C
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionResponse'
              example:
                NetPositionBase:
                  AccountId: 192134INET
                  Amount: 100000
                  AssetType: FxSpot
                  CanBeClosed: true
                  ClientId: '654321'
                  HasForceOpenPositions: false
                  IsMarketOpen: false
                  NonTradableReason: None
                  NumberOfRelatedOrders: 0
                  OpenIpoOrdersCount: 0
                  OpenOrdersCount: 0
                  OpenTriggerOrdersCount: 0
                  PositionsAccount: 192134INET
                  SinglePositionStatus: Open
                  Uic: 31
                  ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                NetPositionId: GPBUSD_FXSpot
                NetPositionView:
                  AverageOpenPrice: 1.32167
                  CalculationReliability: Ok
                  CurrentPrice: 1.29188
                  CurrentPriceDelayMinutes: 15
                  CurrentPriceType: Mid
                  Exposure: 100000
                  ExposureInBaseCurrency: 129205
                  InstrumentPriceDayPercentChange: 0.27
                  PositionCount: 1
                  PositionsNotClosedCount: 0
                  ProfitLossOnTrade: -2979
                  Status: Open
                  TradeCostsTotal: 0
                  TradeCostsTotalInBaseCurrency: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - NetPositionIdNotSpecified
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      NetPositionIdNotSpecified: Net position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v2/exposure/currency/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Exposure
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ExposureV2DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique id of the subscription
          required: true
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v2/exposure/currency/subscriptions/{ContextId}':
    delete:
      tags:
        - Exposure
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: ExposureV2DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v2/exposure/currency/subscriptions:
    post:
      tags:
        - Exposure
      summary: Create a subscription on a list of instrument exposure and make it active
      description: Sets up a subscription and returns an initial snapshot of list of instrument exposure specified by the parameters in the request.
      operationId: ExposureV2AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyExposureSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: valueac2aa696-9a2c-460e-aad1-e42c8f63c507
                AccountKey: 32cc2949-d8a2-46f3-8fb4-563736d52075
                ClientKey: 71b5957b-d04c-4af7-8011-972c17cce761
                CurrencyCode: CurrencyCode1a009c1f-9919-40fe-bbbe-5b9e62ca35ee
              ContextId: '-'
              Format: Format31dfb566-f200-4ab9-abd1-5b419638bfaf
              ReferenceId: '-'
              RefreshRate: 70
              ReplaceReferenceId: '-'
              Tag: Tag673dfc28-c57c-43be-8398-a105a730a2f8
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposureSubscriptionResponse'
              example:
                ContextId: ContextId120e4080-a09c-4fff-94ae-d199b264d372
                Format: Format5b1fc5c8-e484-4fdb-84bb-9b47cbab3d55
                InactivityTimeout: 23605
                ReferenceId: ReferenceId5499692f-9073-45ba-bb97-a36e7bc48d6d
                RefreshRate: 8772
                Snapshot:
                  CurrencyExposures:
                    - AmountsInCurrency:
                        Cash: 209938336203.19418
                        Fx: 8.624771320602681E+23
                        ProfitLoss: 4.044077188395138E+17
                        Total: -2.2755823726337505E+21
                      AmountsInEntityCurrency:
                        Cash: -77001813006.95482
                        Fx: 441879933897.208
                        ProfitLoss: 381723.1329415108
                        Total: 69327533944667.57
                      AmountsInRequestCurrency:
                        Cash: -6.5329622406612795E+19
                        Fx: 140307.42139737104
                        ProfitLoss: -28946609.451435022
                        Total: 6.134431289170141E+17
                      Currency: Currency5015c369-441b-456a-974f-28b9ab1e67e1
                      ExposureCurrencyCode: ExposureCurrencyCoded720134e-61b0-463b-89ed-b1184112a84f
                      ExposureLimit: 399039327264.8525
                      ExposureUtilization: 2781846883658571.5
                      ValueDateCurrencyExposures:
                        Amounts:
                          - Exposures:
                              Cash: 3.5787546608317113E+24
                              Fx: -4323248.834256452
                              ProfitLoss: 5009.045103740485
                              Total: -1000173.495287416
                            ValueDate: '2021-12-08T20:09:33.2545440+00:00'
                            ValueDateKey: ValueDateKeyd0405d2e-91ae-4ecb-88c4-3dca9b352d43
                        NonDatedExposure:
                          Cash: 6.772332808625872E+22
                          Fx: 3.939215738252004E+26
                          ProfitLoss: -35307112.49523425
                          Total: -69399839400529040
                        Total:
                          Cash: -8.122896725104065E+21
                          Fx: 4.8273431203649346E+27
                          ProfitLoss: -5.510723679253255
                          Total: 29677778313793640
                  NetOpenPositionValue:
                    AmountInEntityCurrency: -5.063468211154389E+27
                    AmountInRequestCurrency: -4100665886744.4863
                    ExposureCurrencyCode: ExposureCurrencyCodee515ee3a-25f9-4451-94fe-00a95f417eea
                    ExposureLimit: 1098788.0635033508
                    ExposureUtilization: 76293231276505.1
                State: Active
                Tag: Tag6e29db04-6478-4aec-beb1-9e1d52447245
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: 
        $ref: '#/components/schemas/CurrencyExposureResponse'
  /port/v1/exposure/fxspot:
    get:
      tags:
        - Exposure
      summary: 'Get net FxSpot exposures list for a client, accountGroup or account'
      description: 'Returns a list of currency exposures from FxSpot positions for a requested client, account group or account.'
      operationId: ExposureV1GetFxSpotNetExposuresForLoggedInUser
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: -2.5690961603343267E+23
                    AmountInCalculationEntityCurrency: -3.346050610607516E+18
                    Currency: Currencyccffefd9-3aed-4a6c-974a-902a42746903
                MaxRows: 26154
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/exposure/fxspot/me:
    get:
      tags:
        - Exposure
      summary: 'Get net FxSpot exposures for a client, to which the logged in user belongs'
      description: 'Returns a list of currency exposures from FxSpot positions for the client, to which the logged in user belongs.'
      operationId: ExposureV1GetFxSpotNetExposures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: -2.5690961603343267E+23
                    AmountInCalculationEntityCurrency: -3.346050610607516E+18
                    Currency: Currencyccffefd9-3aed-4a6c-974a-902a42746903
                MaxRows: 26154
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/exposure/currency:
    get:
      tags:
        - Exposure
      summary: 'Get a currency exposures list for a client, accountGroup or account'
      description: Returns a list of currencies in which there is an exposure.
      operationId: ExposureV1GetCurrencyExposuresForLoggedInUser
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: -2.5690961603343267E+23
                    AmountInCalculationEntityCurrency: -3.346050610607516E+18
                    Currency: Currencyccffefd9-3aed-4a6c-974a-902a42746903
                MaxRows: 26154
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/exposure/currency/me:
    get:
      tags:
        - Exposure
      summary: 'Get currency exposures for a client, to which the logged in user belongs'
      description: Returns a list of currencies and net exposures.
      operationId: ExposureV1GetCurrencyExposures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: -2.5690961603343267E+23
                    AmountInCalculationEntityCurrency: -3.346050610607516E+18
                    Currency: Currencyccffefd9-3aed-4a6c-974a-902a42746903
                MaxRows: 26154
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/exposure/instruments/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Exposure
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ExposureV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique id of the subscription
          required: true
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/exposure/instruments/subscriptions/{ContextId}':
    delete:
      tags:
        - Exposure
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: ExposureV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/exposure/instruments/subscriptions:
    post:
      tags:
        - Exposure
      summary: Create a subscription on a list of instrument exposure and make it active
      description: Sets up a subscription and returns an initial snapshot of list of instrument exposure specified by the parameters in the request.
      operationId: ExposureV1AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentExposureSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                AssetType: FxSpot
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                Uic: 21
              ContextId: '-'
              Format: Formata9f9918d-2ac8-4a6d-a171-02f95eaa0b28
              ReferenceId: '-'
              RefreshRate: 68
              ReplaceReferenceId: '-'
              Tag: Tag17fa6826-12a3-41d4-9ad3-f349ac2a2754
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentExposureSubscriptionResponse'
              example:
                ContextId: '20220202113634357'
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: E78959
                RefreshRate: 1000
                Snapshot:
                  Data:
                    - Amount: 200000
                      AssetType: FxSpot
                      AverageOpenPrice: 1.08414
                      CalculationReliability: Ok
                      CanBeClosed: false
                      DisplayAndFormat:
                        Currency: USD
                        Decimals: 4
                        Description: Euro/US Dollar
                        Format: AllowDecimalPips
                        Symbol: EURUSD
                      NetPositionId: EURUSD_FxSpot
                      Uic: 21
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: 
        $ref: '#/components/schemas/InstrumentExposureResponseArray'
  /port/v1/exposure/instruments:
    get:
      tags:
        - Exposure
      summary: 'Get instrument net exposure list for a client, accountGroup or account'
      description: Returns a list of instruments in which there is an exposure fulfilling the criteria specified by the query string parameters.
      operationId: ExposureV1GetInstrumentsExposuresForLoggedInUser
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: AssetType
          in: query
          description: The AssetType.
          schema:
            title: The AssetType.
            allOf:
              - $ref: '#/components/schemas/AssetTypeNullable'
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: ExpiryDate
          in: query
          description: The expiry date. Only used to distinguish FxOptions.
          schema:
            title: The expiry date. Only used to distinguish FxOptions.
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: LowerBarrier
          in: query
          description: The Lower Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: The Lower Barrier. Only used to distinguish Fx Barrier Options.
            allOf:
              - type: number
        - name: PutCall
          in: query
          description: Put or Call. Only used to distinguish FxOptions.
          schema:
            title: Put or Call. Only used to distinguish FxOptions.
            allOf:
              - $ref: '#/components/schemas/PutCallNullable'
        - name: Strike
          in: query
          description: The strike price of the option. Only used to distinguish FxOptions.
          schema:
            title: The strike price of the option. Only used to distinguish FxOptions.
            allOf:
              - type: number
        - name: Uic
          in: query
          description: Unique id of the instrument.
          schema:
            title: Unique id of the instrument.
            allOf:
              - type: integer
                format: int32
        - name: UpperBarrier
          in: query
          description: The Upper Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: The Upper Barrier. Only used to distinguish Fx Barrier Options.
            allOf:
              - type: number
        - name: ValueDate
          in: query
          description: The value date. Only used to distinguish FxForwards.
          schema:
            title: The value date. Only used to distinguish FxForwards.
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentExposureResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - Amount: 200000
                    AssetType: FxSpot
                    AverageOpenPrice: 1.08414
                    CalculationReliability: Ok
                    CanBeClosed: false
                    DisplayAndFormat:
                      Currency: USD
                      Decimals: 4
                      Description: Euro/US Dollar
                      Format: AllowDecimalPips
                      Symbol: EURUSD
                    NetPositionId: EURUSD_FxSpot
                    Uic: 21
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/exposure/instruments/me:
    get:
      tags:
        - Exposure
      summary: 'Get the net instrument exposure for a client, to which the logged in user belongs'
      description: Returns a list instruments and net exposures.
      operationId: ExposureV1GetInstrumentsExposures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentExposureResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - Amount: 200000
                    AssetType: FxSpot
                    AverageOpenPrice: 1.08414
                    CalculationReliability: Ok
                    CanBeClosed: false
                    DisplayAndFormat:
                      Currency: USD
                      Decimals: 4
                      Description: Euro/US Dollar
                      Format: AllowDecimalPips
                      Symbol: EURUSD
                    NetPositionId: EURUSD_FxSpot
                    Uic: 21
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/balances/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Balances
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id.
      operationId: BalancesV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique ID of the subscription
          required: true
          schema:
            type: string
          example: B345356
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/balances/subscriptions/{ContextId}':
    delete:
      tags:
        - Balances
      summary: Remove all subscriptions marked with a specific tag
      description: Removes multiple subscriptions for the current session on this resource and frees all resources on the server.
      operationId: BalancesV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Tag that subscriptions are marked with.
          schema:
            type: string
          example: PAGE1
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/balances/subscriptions:
    post:
      tags:
        - Balances
      summary: Create a subscription on a balance
      description: Sets up a subscription and returns an initial snapshot of a balance.
      operationId: BalancesV1AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: 5m4I|vtYLUnEGg77o9uQhw==
                AccountKey: 6m4I|vtYLUnEGg77o9uQhw==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
              ContextId: '20220202113634251'
              ReferenceId: B37511
              RefreshRate: 500
              Tag: MyBalancesRelatedSubscriptions
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceSubscriptionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: 
        $ref: '#/components/schemas/BalanceResponse'
  /port/v1/balances/marginoverview:
    get:
      tags:
        - Balances
      summary: Get margin overview
      description: 'Get margin overview for a client, account group or an account'
      operationId: BalancesV1GetMarginOverview
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group for which the margin overview is returned
          schema:
            title: The key of the account group for which the margin overview is returned
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account for which the margin overview is returned
          schema:
            title: The key of the account for which the margin overview is returned
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          description: The key of the client for which the margin overview is returned
          required: true
          schema:
            title: The key of the client for which the margin overview is returned
            minLength: 1
            type: string
            x-type-name: ClientKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarginOverviewByGroup'
              example:
                Groups:
                  - Contributors:
                      - AssetTypes:
                          - FxSpot
                        InstrumentDescription: EURUSD description
                        InstrumentSpecifier: EURUSD
                        Margin: 1235
                        Uic: 21
                      - AssetTypes:
                          - FxSpot
                        InstrumentDescription: GBPUSD description
                        InstrumentSpecifier: GBPUSD
                        Margin: 789
                        Uic: 22
                    GroupType: FX
                    TotalMargin: 100000
                  - Contributors:
                      - AssetTypes:
                          - CfdOnIndex
                        InstrumentDescription: SP500 description
                        InstrumentSpecifier: SP500.I
                        Margin: 4321
                        Uic: 4910
                      - AssetTypes:
                          - CfdOnIndex
                        InstrumentDescription: CSE20 description
                        InstrumentSpecifier: CSE20.I
                        Margin: 975
                        Uic: 5768
                      - AssetTypes:
                          - CfdOnIndex
                        InstrumentDescription: DAX description
                        InstrumentSpecifier: DAX.I
                        Margin: 864
                        Uic: 27098
                    GroupType: CFDs
                    TotalMargin: 200000
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/balances:
    get:
      tags:
        - Balances
      summary: Get balance
      description: 'Get balance data for a client, account group or an account'
      operationId: GET_BalancesV1GetBalance
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group for which the balance data is returned
          schema:
            title: The key of the account group for which the balance data is returned
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: AccountKey
          in: query
          description: The key of the account for which the balance data is returned
          schema:
            title: The key of the account for which the balance data is returned
            minLength: 1
[...]
