openapi: 3.0.1
info:
  title: Services.Portfolio
  description: 'The Portfolio service group provides services and end points that serves information about the clients current portfolio, such as account balance, open positions etc.'
  version: 2.4.82+77577352f2
  x-framework-version: 41.0.17+46f32c3eb1
  x-machine: SIMOAWEB8-DK1
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  '/port/v1/closedpositions/subscriptions/{ContextId}':
    delete:
      tags:
        - ClosedPositions
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: ClosedPositionsV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  '/port/v1/closedpositions/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - ClosedPositions
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ClosedPositionsV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique id of the subscription
          required: true
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
    patch:
      tags:
        - ClosedPositions
      summary: Change the closed positions subscription page size
      description: 'Extends or reduces the page size, number of positions shown, on a running closed positions subscription. When expanding the page size, the subsequent closed positions are streamed so to avoid race conditions.'
      operationId: ClosedPositionsV1UpdateClosedPositionSubscriptionPagesize
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique ID of the subscription
          required: true
          schema:
            type: string
          example: P54123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PositionPagingSubscriptionUpdateRequest'
            example:
              NewPageSize: 99
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription change will be processed and respose will be streamed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /port/v1/closedpositions/subscriptions:
    post:
      tags:
        - ClosedPositions
      summary: Create a subscription on a list of closed positions and make it active
      description: Sets up a subscription and returns an initial snapshot of list of closed positions specified by the parameters in the request.
      operationId: ClosedPositionsV1AddActiveSubscription
      parameters:
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosedPositionsSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                ClosedPositionId: 139597294-139694249
                FieldGroups:
                  - ClosedPosition
              ContextId: '20221030064907102'
              Format: application/json
              ReferenceId: CP35618
              RefreshRate: 1000
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionsSubscriptionResponse'
              example:
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: CP50382
                RefreshRate: 1000
                Snapshot:
                  Data:
                    - ClosedPosition:
                        AccountId: 192134INET
                        Amount: 300000
                        AssetType: FxSpot
                        BuyOrSell: Buy
                        ClientId: '654321'
                        ClosedProfitLoss: 9597
                        ClosedProfitLossInBaseCurrency: 9597
                        ClosingMarketValue: 0
                        ClosingMarketValueInBaseCurrency: 0
                        ClosingMethod: Explicit
                        ClosingPositionId: '139694249'
                        ClosingPrice: 1.09139
                        ConversionRateInstrumentToBaseSettledClosing: false
                        ConversionRateInstrumentToBaseSettledOpening: true
                        ExecutionTimeClose: '2017-05-02T00:00:00Z'
                        ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                        OpeningPositionId: '139597294'
                        OpenPrice: 1.0594
                        Uic: 21
                      ClosedPositionUniqueId: 139597294-139694249
                      NetPositionId: EURUSD_FxSpot
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - SubscriptionExceedesPositionsLimit
                      - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                      SubscriptionExceedesPositionsLimit: Too many positions requested. Streaming updates are only allowed on a limited number of positions.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/ClosedPositionResponseArray'
  '/port/v1/closedpositions/{ClosedPositionId}/details':
    get:
      tags:
        - ClosedPositions
      summary: Get detailed information for a single position
      description: "Obsolete Gets detailed information about a single position as specified by the query parameters.\n            NOTE: This endpoint will be deprecated by November 2022. All functionality has been migrated to /port/v1/closedpositions/{ClosedPositionId}."
      operationId: ClosedPositionsV1GetPositionDetails
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the closed positions belongs.
          schema:
            title: The key of the account group to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the closed positions belongs.
          schema:
            title: The key of the account to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: query
          description: The key of the client to which the closesd positions belongs.
          required: true
          schema:
            title: The key of the client to which the closesd positions belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: ClosedPositionId
          in: path
          description: Unique id of the position.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionDetailedResponse'
              example:
                ClosedPosition:
                  AccountId: 192134INET
                  Amount: 300000
                  AssetType: FxSpot
                  BuyOrSell: Buy
                  ClientId: '654321'
                  ClosedProfitLoss: 9597
                  ClosedProfitLossInBaseCurrency: 9597
                  ClosingMarketValue: 0
                  ClosingMarketValueInBaseCurrency: 0
                  ClosingMethod: Explicit
                  ClosingPositionId: '139694249'
                  ClosingPrice: 1.09139
                  ConversionRateInstrumentToBaseSettledClosing: false
                  ConversionRateInstrumentToBaseSettledOpening: true
                  ExecutionTimeClose: '2017-05-02T00:00:00Z'
                  ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                  OpeningPositionId: '139597294'
                  OpenPrice: 1.0594
                  Uic: 21
                ClosedPositionDetails:
                  CurrencyConversionRateInstrumentToBaseClosing: 1
                  CurrencyConversionRateInstrumentToBaseOpening: 1
                  ValueDateClose: '2017-05-04T00:00:00Z'
                  ValueDateOpen: '2017-05-04T00:00:00Z'
                ClosedPositionUniqueId: 139597294-139694249
                DisplayAndFormat:
                  Currency: USD
                  Decimals: 4
                  Description: Euro/US Dollar
                  Format: AllowDecimalPips
                  Symbol: EURUSD
                Exchange:
                  Description: Inter Bank
                  ExchangeId: SBFX
                  IsOpen: true
                NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - PositionIdNotSpecified
                    type: string
                    example: None
                    x-enum-descriptions:
                      PositionIdNotSpecified: Position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/port/v1/closedpositions/{ClosedPositionId}':
    get:
      tags:
        - ClosedPositions
      summary: Get a single position
      description: Get a single position.
      operationId: ClosedPositionsV1GetClosedPosition
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the closed positions belongs.
          schema:
            title: The key of the account group to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the closed positions belongs.
          schema:
            title: The key of the account to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: query
          description: The key of the client to which the closesd positions belongs.
          required: true
          schema:
            title: The key of the client to which the closesd positions belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: ClosedPositionId
          in: path
          description: Unique id of the position.
          required: true
          schema:
            type: string
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [ClosedPosition]'
          schema:
            title: 'Specifies which data to return. Default is [ClosedPosition]'
            type: array
            items:
              $ref: '#/components/schemas/ClosedPositionFieldGroup'
          example:
            - DisplayAndFormat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponse'
              example:
                ClosedPosition:
                  AccountId: 192134INET
                  Amount: 300000
                  AssetType: FxSpot
                  BuyOrSell: Buy
                  ClientId: '654321'
                  ClosedProfitLoss: 9597
                  ClosedProfitLossInBaseCurrency: 9597
                  ClosingMarketValue: 0
                  ClosingMarketValueInBaseCurrency: 0
                  ClosingMethod: Explicit
                  ClosingPositionId: '139694249'
                  ClosingPrice: 1.09139
                  ConversionRateInstrumentToBaseSettledClosing: false
                  ConversionRateInstrumentToBaseSettledOpening: true
                  ExecutionTimeClose: '2017-05-02T00:00:00Z'
                  ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                  OpeningPositionId: '139597294'
                  OpenPrice: 1.0594
                  Uic: 21
                ClosedPositionUniqueId: 139597294-139694249
                NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - PositionIdNotSpecified
                    type: string
                    example: None
                    x-enum-descriptions:
                      PositionIdNotSpecified: Position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/closedpositions/me:
    get:
      tags:
        - ClosedPositions
      summary: 'Get closed positions for a client, to which the logged in user belongs'
      description: Returns a list of closed positions fulfilling the criteria specified by the query string parameters.
      operationId: GET_ClosedPositionsV1GetClosedPositions
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [ClosedPosition].'
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ClosedPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - ClosedPosition:
                      AccountId: 192134INET
                      Amount: 300000
                      AssetType: FxSpot
                      BuyOrSell: Buy
                      ClientId: '654321'
                      ClosedProfitLoss: 9597
                      ClosedProfitLossInBaseCurrency: 9597
                      ClosingMarketValue: 0
                      ClosingMarketValueInBaseCurrency: 0
                      ClosingMethod: Explicit
                      ClosingPositionId: '139694249'
                      ClosingPrice: 1.09139
                      ConversionRateInstrumentToBaseSettledClosing: false
                      ConversionRateInstrumentToBaseSettledOpening: true
                      ExecutionTimeClose: '2017-05-02T00:00:00Z'
                      ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                      OpeningPositionId: '139597294'
                      OpenPrice: 1.0594
                      Uic: 21
                    ClosedPositionUniqueId: 139597294-139694249
                    NetPositionId: EURUSD_FxSpot
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/closedpositions:
    get:
      tags:
        - ClosedPositions
      summary: 'Get closed positions for a client, accountGroup or account'
      description: Returns a list of closed positions fulfilling the criteria specified by the query string parameters.
      operationId: ClosedPositionsV1GetClosedPositions
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the closed positions belongs.
          schema:
            title: The key of the account group to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the closed positions belongs.
          schema:
            title: The key of the account to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: query
          description: The key of the client to which the closesd positions belongs.
          required: true
          schema:
            title: The key of the client to which the closesd positions belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: ClosedPositionId
          in: query
          description: The id of the closed position to which the closedposition belongs
          schema:
            title: The id of the closed position to which the closedposition belongs
            type: string
          example: stringValue
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [ClosedPosition]'
          schema:
            title: 'Specifies which data to return. Default is [ClosedPosition]'
            type: array
            items:
              $ref: '#/components/schemas/ClosedPositionFieldGroup'
          example:
            - DisplayAndFormat
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - ClosedPosition:
                      AccountId: 192134INET
                      Amount: 300000
                      AssetType: FxSpot
                      BuyOrSell: Buy
                      ClientId: '654321'
                      ClosedProfitLoss: 9597
                      ClosedProfitLossInBaseCurrency: 9597
                      ClosingMarketValue: 0
                      ClosingMarketValueInBaseCurrency: 0
                      ClosingMethod: Explicit
                      ClosingPositionId: '139694249'
                      ClosingPrice: 1.09139
                      ConversionRateInstrumentToBaseSettledClosing: false
                      ConversionRateInstrumentToBaseSettledOpening: true
                      ExecutionTimeClose: '2017-05-02T00:00:00Z'
                      ExecutionTimeOpen: '2017-04-12T00:00:00Z'
                      OpeningPositionId: '139597294'
                      OpenPrice: 1.0594
                      Uic: 21
                    ClosedPositionUniqueId: 139597294-139694249
                    NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClosedPositionNotAccessibleInEndOfDayNettingMode
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                      ClosedPositionNotAccessibleInEndOfDayNettingMode: ClosedPosition is not accessible in EndOfDay netting mode of the client
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/port/v1/netpositions/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - NetPositions
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id.
      operationId: NetPositionsV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique ID of the subscription
          required: true
          schema:
            type: string
          example: NP6783
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  '/port/v1/netpositions/subscriptions/{ContextId}':
    delete:
      tags:
        - NetPositions
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: NetPositionsV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: PAGE2
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /port/v1/netpositions/subscriptions:
    post:
      tags:
        - NetPositions
      summary: Create a subscription on a list of net positions and make it active
      description: Sets up a subscription and returns an initial snapshot of list of net positions specified by the parameters in the request.
      operationId: NetPositionsV1AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetPositionsSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                FieldGroups:
                  - NetPositionView
                  - NetPositionBase
                NetPositionId: EURUSD 41761NY 1.3765 C
                PriceMode: RegularTradingHours
              ContextId: '20221030064904217'
              Format: application/json
              ReferenceId: NP12768
              RefreshRate: 1000
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionsSubscriptionResponse'
              example:
                ContextId: stringValue
                Format: stringValue
                InactivityTimeout: 99
                ReferenceId: stringValue
                RefreshRate: 99
                Snapshot:
                  __next: /openapi/port/....../?$top=1&$skip=1
                  Data:
                    - NetPositionBase:
                        AccountId: 192134INET
                        Amount: 100000
                        AssetType: FxSpot
                        CanBeClosed: true
                        ClientId: '654321'
                        HasForceOpenPositions: false
                        IsMarketOpen: false
                        NonTradableReason: None
                        NumberOfRelatedOrders: 0
                        OpeningDirection: Buy
                        OpenIpoOrdersCount: 0
                        OpenOrdersCount: 0
                        OpenTriggerOrdersCount: 0
                        PositionsAccount: 192134INET
                        SinglePositionStatus: Open
                        Uic: 31
                        ValueDate: '2017-05-04T00:00:00Z'
                      NetPositionId: GPBUSD_FXSpot
                      NetPositionView:
                        AverageOpenPrice: 1.32167
                        AverageOpenPriceIncludingCosts: 1.32172
                        CalculationReliability: Ok
                        CurrentPrice: 1.29188
                        CurrentPriceDelayMinutes: 15
                        CurrentPriceType: Mid
                        Exposure: 100000
                        ExposureInBaseCurrency: 129205
                        InstrumentPriceDayPercentChange: 0.27
                        PositionCount: 1
                        PositionsNotClosedCount: 0
                        ProfitLossOnTrade: -2979
                        Status: Open
                        TradeCostsTotal: 0
                        TradeCostsTotalInBaseCurrency: 0
                State: Active
                Tag: stringValue
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/NetPositionResponseArray'
  /port/v1/netpositions:
    get:
      tags:
        - NetPositions
      summary: 'Get net positions for a client, account group or account'
      description: "Returns a list of net positions fulfilling the criteria specified by the query string parameters.\n            Each net position may include all related sub positions if fieldGroups includes SubPositions."
      operationId: GET_NetPositionsV1GetNetPositions
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: AssetType
          in: query
          description: Optional. The AssetType.
          schema:
            title: Optional. The AssetType.
            allOf:
              - $ref: '#/components/schemas/AssetType'
          example: StockIndexOption
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: ExpiryDate
          in: query
          description: Optional. The expiry date. Only used to distinguish FxOptions.
          schema:
            title: Optional. The expiry date. Only used to distinguish FxOptions.
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: '9999-12-31T23:59:59.9999990+00:00'
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
          schema:
            title: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
            type: array
            items:
              $ref: '#/components/schemas/NetPositionFieldGroup'
          example:
            - NetPositionView
        - name: LowerBarrier
          in: query
          description: Optional. The Lower Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: Optional. The Lower Barrier. Only used to distinguish Fx Barrier Options.
            type: number
          example: 2.55
        - name: NetPositionId
          in: query
          description: Optional. The id of the netposition
          schema:
            title: Optional. The id of the netposition
            type: string
          example: stringValue
        - name: PutCall
          in: query
          description: Optional. Put or Call. Only used to distinguish FxOptions.
          schema:
            title: Optional. Put or Call. Only used to distinguish FxOptions.
            allOf:
              - $ref: '#/components/schemas/PutCall'
          example: Put
        - name: Strike
          in: query
          description: Optional. The strike price of the option. Only used to distinguish FxOptions.
          schema:
            title: Optional. The strike price of the option. Only used to distinguish FxOptions.
            type: number
          example: 2.55
        - name: Uic
          in: query
          description: Optional. Unique id of the instrument.
          schema:
            title: Optional. Unique id of the instrument.
            type: integer
            format: int32
          example: 99
        - name: UpperBarrier
          in: query
          description: Optional. The Upper Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: Optional. The Upper Barrier. Only used to distinguish Fx Barrier Options.
            type: number
          example: 2.55
        - name: ValueDate
          in: query
          description: Optional. The value date. Only used to distinguish FxForwards.
          schema:
            title: Optional. The value date. Only used to distinguish FxForwards.
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: '9999-12-31T23:59:59.9999990+00:00'
        - name: WatchlistId
          in: query
          description: Optional. Watchlist Id.Filter on watchlist instruments
          schema:
            title: Optional. Watchlist Id.Filter on watchlist instruments
            type: string
          example: stringValue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - NetPositionBase:
                      AccountId: 192134INET
                      Amount: 100000
                      AssetType: FxSpot
                      CanBeClosed: true
                      ClientId: '654321'
                      HasForceOpenPositions: false
                      IsMarketOpen: false
                      NonTradableReason: None
                      NumberOfRelatedOrders: 0
                      OpeningDirection: Buy
                      OpenIpoOrdersCount: 0
                      OpenOrdersCount: 0
                      OpenTriggerOrdersCount: 0
                      PositionsAccount: 192134INET
                      SinglePositionStatus: Open
                      Uic: 31
                      ValueDate: '2017-05-04T00:00:00Z'
                    NetPositionId: GPBUSD_FXSpot
                    NetPositionView:
                      AverageOpenPrice: 1.32167
                      AverageOpenPriceIncludingCosts: 1.32172
                      CalculationReliability: Ok
                      CurrentPrice: 1.29188
                      CurrentPriceDelayMinutes: 15
                      CurrentPriceType: Mid
                      Exposure: 100000
                      ExposureInBaseCurrency: 129205
                      InstrumentPriceDayPercentChange: 0.27
                      PositionCount: 1
                      PositionsNotClosedCount: 0
                      ProfitLossOnTrade: -2979
                      Status: Open
                      TradeCostsTotal: 0
                      TradeCostsTotalInBaseCurrency: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NetPositionIdNotSpecified
                      - NoValidInput
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      NetPositionIdNotSpecified: Net position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/netpositions/me:
    get:
      tags:
        - NetPositions
      summary: Get net positions for the current user's client
      description: "Returns a list of net positions fulfilling the criteria specified by the query string parameters.\n            Each net position may include all related sub positions if fieldGroups includes SubPositions."
      operationId: NetPositionsV1GetNetPositions
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [NetPositionBase, NetPositionView].'
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NetPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - NetPositionBase:
                      AccountId: 192134INET
                      Amount: 100000
                      AssetType: FxSpot
                      CanBeClosed: true
                      ClientId: '654321'
                      HasForceOpenPositions: false
                      IsMarketOpen: false
                      NonTradableReason: None
                      NumberOfRelatedOrders: 0
                      OpeningDirection: Buy
                      OpenIpoOrdersCount: 0
                      OpenOrdersCount: 0
                      OpenTriggerOrdersCount: 0
                      PositionsAccount: 192134INET
                      SinglePositionStatus: Open
                      Uic: 31
                      ValueDate: '2017-05-04T00:00:00Z'
                    NetPositionId: GPBUSD_FXSpot
                    NetPositionView:
                      AverageOpenPrice: 1.32167
                      AverageOpenPriceIncludingCosts: 1.32172
                      CalculationReliability: Ok
                      CurrentPrice: 1.29188
                      CurrentPriceDelayMinutes: 15
                      CurrentPriceType: Mid
                      Exposure: 100000
                      ExposureInBaseCurrency: 129205
                      InstrumentPriceDayPercentChange: 0.27
                      PositionCount: 1
                      PositionsNotClosedCount: 0
                      ProfitLossOnTrade: -2979
                      Status: Open
                      TradeCostsTotal: 0
                      TradeCostsTotalInBaseCurrency: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/port/v1/netpositions/{NetPositionId}/details':
    get:
      tags:
        - NetPositions
      summary: Get detailed information for a single net position
      description: "Obsolete Gets detailed information about a single net position as specified by the query parameters.\n            NOTE: This endpoint will be deprecated by November 2022. All functionality has been migrated to /port/v1/netpositions/{NetpositionId}."
      operationId: NetPositionsV1GetNetPositionDetails
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: NetPositionId
          in: path
          description: Unique id of the net position.
          required: true
          schema:
            type: string
          example: 247__Share
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionDetailedResponse'
              example:
                NetPositionBase:
                  AccountId: 192134INET
                  Amount: 100000
                  AssetType: FxSpot
                  CanBeClosed: true
                  ClientId: '654321'
                  HasForceOpenPositions: false
                  IsMarketOpen: false
                  NonTradableReason: None
                  NumberOfRelatedOrders: 0
                  OpeningDirection: Buy
                  OpenIpoOrdersCount: 0
                  OpenOrdersCount: 0
                  OpenTriggerOrdersCount: 0
                  PositionsAccount: 192134INET
                  SinglePositionStatus: Open
                  Uic: 31
                  ValueDate: '2017-05-04T00:00:00Z'
                NetPositionDetails:
                  MarketValue: -2958
                  MarketValueInBaseCurrency: -2958
                  NonTradableReason: None
                NetPositionId: GPBUSD_FXSpot
                NetPositionView:
                  AverageOpenPrice: 1.32167
                  AverageOpenPriceIncludingCosts: 1.32172
                  CalculationReliability: Ok
                  CurrentPrice: 1.29188
                  CurrentPriceDelayMinutes: 15
                  CurrentPriceType: Mid
                  Exposure: 100000
                  ExposureInBaseCurrency: 129205
                  InstrumentPriceDayPercentChange: 0.27
                  PositionCount: 1
                  PositionsNotClosedCount: 0
                  ProfitLossOnTrade: -2979
                  SettlementInstruction:
                    ActualRolloverAmount: 0
                    ActualSettlementAmount: 10
                    Amount: 10
                    IsSettlementInstructionsAllowed: false
                    Month: 7
                    SettlementType: FullSettlement
                    Year: 2020
                  Status: Open
                  TradeCostsTotal: 0
                  TradeCostsTotalInBaseCurrency: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - NetPositionIdNotSpecified
                      - NoValidInput
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      NetPositionIdNotSpecified: Net position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/port/v1/netpositions/{NetPositionId}':
    get:
      tags:
        - NetPositions
      summary: Get a single net position
      description: "Gets a single net position calculated as specified by the query parameters. \n            The net position may include all related sub positions if fieldGroups includes SubPositions.\n            Note: the net position is fully identified by the supplied netPositionId, but accountId and clientId may be specified\n            to determine whether the netposition values should be calculated at client or account level."
      operationId: NetPositionsV1GetNetPosition
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: FieldGroups
          in: query
          description: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
          schema:
            title: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
            type: array
            items:
              $ref: '#/components/schemas/NetPositionFieldGroup'
          example:
            - NetPositionView
        - name: NetPositionId
          in: path
          description: Unique id of the net position.
          required: true
          schema:
            type: string
          example: 247__Share
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionResponse'
              example:
                NetPositionBase:
                  AccountId: 192134INET
                  Amount: 100000
                  AssetType: FxSpot
                  CanBeClosed: true
                  ClientId: '654321'
                  HasForceOpenPositions: false
                  IsMarketOpen: false
                  NonTradableReason: None
                  NumberOfRelatedOrders: 0
                  OpeningDirection: Buy
                  OpenIpoOrdersCount: 0
                  OpenOrdersCount: 0
                  OpenTriggerOrdersCount: 0
                  PositionsAccount: 192134INET
                  SinglePositionStatus: Open
                  Uic: 31
                  ValueDate: '2017-05-04T00:00:00Z'
                NetPositionId: GPBUSD_FXSpot
                NetPositionView:
                  AverageOpenPrice: 1.32167
                  AverageOpenPriceIncludingCosts: 1.32172
                  CalculationReliability: Ok
                  CurrentPrice: 1.29188
                  CurrentPriceDelayMinutes: 15
                  CurrentPriceType: Mid
                  Exposure: 100000
                  ExposureInBaseCurrency: 129205
                  InstrumentPriceDayPercentChange: 0.27
                  PositionCount: 1
                  PositionsNotClosedCount: 0
                  ProfitLossOnTrade: -2979
                  Status: Open
                  TradeCostsTotal: 0
                  TradeCostsTotalInBaseCurrency: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - NetPositionIdNotSpecified
                      - NoValidInput
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      NetPositionIdNotSpecified: Net position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/port/v2/exposure/currency/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Exposure
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ExposureV2DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique id of the subscription
          required: true
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  '/port/v2/exposure/currency/subscriptions/{ContextId}':
    delete:
      tags:
        - Exposure
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: ExposureV2DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /port/v2/exposure/currency/subscriptions:
    post:
      tags:
        - Exposure
      summary: Create a subscription on a list of instrument exposure and make it active
      description: Sets up a subscription and returns an initial snapshot of list of instrument exposure specified by the parameters in the request.
      operationId: ExposureV2AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyExposureSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: stringValue
                AccountKey: 01b64edf-da03-4145-bf33-ae21527d4c86
                ClientKey: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
                CurrencyCode: stringValue
                PriceMode: RegularTradingHours
              ContextId: '-'
              Format: stringValue
              ReferenceId: '-'
              RefreshRate: 106
              ReplaceReferenceId: '-'
              Tag: stringValue
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposureSubscriptionResponse'
              example:
                ContextId: stringValue
                Format: stringValue
                InactivityTimeout: 99
                ReferenceId: stringValue
                RefreshRate: 99
                Snapshot:
                  CurrencyExposures:
                    - AmountsInCurrency:
                        Cash: 10
                        Fx: 10
                        ProfitLoss: 10
                        Total: 10
                      AmountsInEntityCurrency:
                        Cash: 10
                        Fx: 10
                        ProfitLoss: 10
                        Total: 10
                      AmountsInRequestCurrency:
                        Cash: 10
                        Fx: 10
                        ProfitLoss: 10
                        Total: 10
                      Currency: stringValue
                      ExposureCurrencyCode: stringValue
                      ExposureLimit: 10
                      ExposureUtilization: 10
                      ValueDateCurrencyExposures:
                        Amounts:
                          - Exposures:
                              Cash: 10
                              Fx: 10
                              ProfitLoss: 10
                              Total: 10
                            ValueDate: '9999-12-31T23:59:59.999999Z'
                            ValueDateKey: stringValue
                        NonDatedExposure:
                          Cash: 10
                          Fx: 10
                          ProfitLoss: 10
                          Total: 10
                        Total:
                          Cash: 10
                          Fx: 10
                          ProfitLoss: 10
                          Total: 10
                  NetOpenPositionValue:
                    AmountInEntityCurrency: 10
                    AmountInRequestCurrency: 10
                    ExposureCurrencyCode: stringValue
                    ExposureLimit: 10
                    ExposureUtilization: 10
                State: Active
                Tag: stringValue
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/CurrencyExposureResponse'
  /port/v1/exposure/fxspot:
    get:
      tags:
        - Exposure
      summary: 'Get net FxSpot exposures list for a client, accountGroup or account'
      description: 'Returns a list of currency exposures from FxSpot positions for a requested client, account group or account.'
      operationId: ExposureV1GetFxSpotNetExposuresForLoggedInUser
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: 10
                    AmountInCalculationEntityCurrency: 10
                    Currency: stringValue
                MaxRows: 99
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/exposure/fxspot/me:
    get:
      tags:
        - Exposure
      summary: 'Get net FxSpot exposures for a client, to which the logged in user belongs'
      description: 'Returns a list of currency exposures from FxSpot positions for the client, to which the logged in user belongs.'
      operationId: ExposureV1GetFxSpotNetExposures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: 10
                    AmountInCalculationEntityCurrency: 10
                    Currency: stringValue
                MaxRows: 99
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/exposure/currency:
    get:
      tags:
        - Exposure
      summary: 'Get a currency exposures list for a client, accountGroup or account'
      description: Returns a list of currencies in which there is an exposure.
      operationId: ExposureV1GetCurrencyExposuresForLoggedInUser
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: 10
                    AmountInCalculationEntityCurrency: 10
                    Currency: stringValue
                MaxRows: 99
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/exposure/currency/me:
    get:
      tags:
        - Exposure
      summary: 'Get currency exposures for a client, to which the logged in user belongs'
      description: Returns a list of currencies and net exposures.
      operationId: ExposureV1GetCurrencyExposures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: 10
                    AmountInCalculationEntityCurrency: 10
                    Currency: stringValue
                MaxRows: 99
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/port/v1/exposure/instruments/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Exposure
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ExposureV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique id of the subscription
          required: true
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  '/port/v1/exposure/instruments/subscriptions/{ContextId}':
    delete:
      tags:
        - Exposure
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: ExposureV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /port/v1/exposure/instruments/subscriptions:
    post:
      tags:
        - Exposure
      summary: Create a subscription on a list of instrument exposure and make it active
      description: Sets up a subscription and returns an initial snapshot of list of instrument exposure specified by the parameters in the request.
      operationId: ExposureV1AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentExposureSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                AssetType: FxSpot
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                PriceMode: RegularTradingHours
                Uic: 21
              ContextId: '-'
              Format: stringValue
              ReferenceId: '-'
              RefreshRate: 104
              ReplaceReferenceId: '-'
              Tag: stringValue
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentExposureSubscriptionResponse'
              example:
                ContextId: '20221030064906529'
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: E68752
                RefreshRate: 1000
                Snapshot:
                  Data:
                    - Amount: 200000
                      AssetType: FxSpot
                      AverageOpenPrice: 1.08414
                      CalculationReliability: Ok
                      CanBeClosed: false
                      DisplayAndFormat:
                        Currency: USD
                        Decimals: 4
                        Description: Euro/US Dollar
                        Format: AllowDecimalPips
                        Symbol: EURUSD
                      NetPositionId: EURUSD_FxSpot
                      Uic: 21
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/InstrumentExposureResponseArray'
  /port/v1/exposure/instruments:
    get:
      tags:
        - Exposure
      summary: 'Get instrument net exposure list for a client, accountGroup or account'
      description: Returns a list of instruments in which there is an exposure fulfilling the criteria specified by the query string parameters.
      operationId: ExposureV1GetInstrumentsExposuresForLoggedInUser
      parameters:
        - name: AccountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
          example: stringValue
        - name: AccountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: AssetType
          in: query
          description: The AssetType.
          schema:
            title: The AssetType.
            allOf:
              - $ref: '#/components/schemas/AssetType'
          example: StockIndexOption
        - name: ClientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: 493b43a5-fe85-4d1f-9071-dd4a9d4e42a4
        - name: ExpiryDate
          in: query
          description: The expiry date. Only used to distinguish FxOptions.
          schema:
            title: The expiry date. Only used to distinguish FxOptions.
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: '9999-12-31T23:59:59.9999990+00:00'
        - name: LowerBarrier
          in: query
          description: The Lower Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: The Lower Barrier. Only used to distinguish Fx Barrier Options.
            type: number
          example: 2.55
        - name: PutCall
          in: query
          description: Put or Call. Only used to distinguish FxOptions.
          schema:
            title: Put or Call. Only used to distinguish FxOptions.
            allOf:
              - $ref: '#/components/schemas/PutCall'
          example: Put
        - name: Strike
          in: query
          description: The strike price of the option. Only used to distinguish FxOptions.
          schema:
            title: The strike price of the option. Only used to distinguish FxOptions.
            type: number
          example: 2.55
        - name: Uic
          in: query
          description: Unique id of the instrument.
          schema:
            title: Unique id of the instrument.
            type: integer
            format: int32
          example: 99
        - name: UpperBarrier
          in: query
          description: The Upper Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: The Upper Barrier. Only used to distinguish Fx Barrier Options.
            type: number
          example: 2.55
        - name: ValueDate
          in: query
          description: The value date. Only used to distinguish FxForwards.
          schema:
            title: The value date. Only used to distinguish FxForwards.
            type: string
            format: date-time
            x-type-name: UtcDateTime
          example: '9999-12-31T23:59:59.9999990+00:00'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentExposureResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - Amount: 200000
                    AssetType: FxSpot
                    AverageOpenPrice: 1.08414
                    CalculationReliability: Ok
                    CanBeClosed: false
                    DisplayAndFormat:
                      Currency: USD
                      Decimals: 4
                      Description: Euro/US Dollar
                      Format: AllowDecimalPips
                      Symbol: EURUSD
                    NetPositionId: EURUSD_FxSpot
                    Uic: 21
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  /port/v1/exposure/instruments/me:
    get:
      tags:
        - Exposure
      summary: 'Get the net instrument exposure for a client, to which the logged in user belongs'
      description: Returns a list instruments and net exposures.
      operationId: ExposureV1GetInstrumentsExposures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentExposureResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - Amount: 200000
                    AssetType: FxSpot
                    AverageOpenPrice: 1.08414
                    CalculationReliability: Ok
                    CanBeClosed: false
                    DisplayAndFormat:
                      Currency: USD
                      Decimals: 4
                      Description: Euro/US Dollar
                      Format: AllowDecimalPips
                      Symbol: EURUSD
                    NetPositionId: EURUSD_FxSpot
                    Uic: 21
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
        community: Read
  '/port/v1/balances/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Balances
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id.
      operationId: BalancesV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique ID of the subscription
          required: true
          schema:
            type: string
          example: B345356
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  '/port/v1/balances/subscriptions/{ContextId}':
    delete:
      tags:
        - Balances
      summary: Remove all subscriptions marked with a specific tag
      description: Removes multiple subscriptions for the current session on this resource and frees all resources on the server.
      operationId: BalancesV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: Tag
          in: query
          description: Tag that subscriptions are marked with.
          schema:
            type: string
          example: PAGE1
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
        community: Subscribe
  /port/v1/balances/subscriptions:
    post:
      tags:
        - Balances
      summary: Create a subscription on a balance
      description: Sets up a subscription and returns an initial snapshot of a balance.
      operationId: BalancesV1AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: 
                AccountKey: 
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
              ContextId: '20221030064906306'
              ReferenceId: B49083
              RefreshRate: 500
              Tag: MyBalancesRelatedSubscriptions
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceSubscriptionResponse'
              example:
[...]
