openapi: 3.0.1
info:
  title: Services.Portfolio
  description: 'The Portfolio service group provides services and end points that serves information about the clients current portfolio, such as account balance, open positions etc.'
  version: 2.2.428+3ac1850b34
  x-framework-version: 22.0.48+8229369ead
  x-machine: SATOAWEB43-DK2
servers:
  - url: https://gateway.saxobank.com/openapi
paths:
  '/port/v1/closedpositions/subscriptions/{contextId}':
    delete:
      tags:
        - ClosedPositions
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: ClosedPositionsV1DeleteSubscriptions
      parameters:
        - name: contextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/closedpositions/subscriptions/{contextId}/{referenceId}':
    delete:
      tags:
        - ClosedPositions
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ClosedPositionsV1DeleteSubscription
      parameters:
        - name: contextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: referenceId
          in: path
          description: Unique id of the subscription
          required: true
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
    patch:
      tags:
        - ClosedPositions
      summary: Change the closed positions subscription page size
      description: 'Extends or reduces the page size, number of positions shown, on a running closed positions subscription. When expanding the page size, the subsequent closed positions are streamed so to avoid race conditions.'
      operationId: ClosedPositionsV1UpdateClosedPositionSubscriptionPagesize
      parameters:
        - name: contextId
          in: path
          description: The context id part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: referenceId
          in: path
          description: Unique ID of the subscription
          required: true
          schema:
            type: string
          example: P54123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PositionPagingSubscriptionUpdateRequest'
            example:
              NewPageSize: 128
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription change will be processed and respose will be streamed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/closedpositions/subscriptions:
    post:
      tags:
        - ClosedPositions
      summary: Create a subscription on a list of closed positions and make it active
      description: Sets up a subscription and returns an initial snapshot of list of closed positions specified by the parameters in the request.
      operationId: ClosedPositionsV1AddActiveSubscription
      parameters:
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosedPositionsSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                ClosedPositionId: 139597294-139694249
                FieldGroups:
                  - ClosedPosition
              ContextId: '20220216014145413'
              Format: application/json
              ReferenceId: CP97489
              RefreshRate: 1000
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionsSubscriptionResponse'
              example:
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: CP33031
                RefreshRate: 1000
                Snapshot:
                  Data:
                    - ClosedPosition:
                        AccountId: 192134INET
                        Amount: 300000
                        AssetType: FxSpot
                        BuyOrSell: Buy
                        ClientId: '654321'
                        ClosedProfitLoss: 9597
                        ClosedProfitLossInBaseCurrency: 9597
                        ClosingMarketValue: 0
                        ClosingMarketValueInBaseCurrency: 0
                        ClosingMethod: Explicit
                        ClosingPositionId: '139694249'
                        ClosingPrice: 1.09139
                        ConversionRateInstrumentToBaseSettledClosing: false
                        ConversionRateInstrumentToBaseSettledOpening: true
                        ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                        ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                        OpeningPositionId: '139597294'
                        OpenPrice: 1.0594
                        Uic: 21
                      ClosedPositionUniqueId: 139597294-139694249
                      NetPositionId: EURUSD_FxSpot
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - SubscriptionExceedesPositionsLimit
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                      SubscriptionExceedesPositionsLimit: Too many positions requested. Streaming updates are only allowed on a limited number of positions.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: '#/components/schemas/ClosedPositionResponseArray'
  /port/v1/closedpositions/subscriptions/active:
    post:
      tags:
        - ClosedPositions
      summary: Obsolete Create a subscription on a list of closed positions and make it active
      description: Sets up a subscription and returns an initial snapshot of list of closed positions specified by the parameters in the request.
      operationId: ClosedPositionsV1AddActiveSubscriptionWithActive
      parameters:
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosedPositionsSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                ClosedPositionId: 139597294-139694249
                FieldGroups:
                  - ClosedPosition
              ContextId: '20220216014145413'
              Format: application/json
              ReferenceId: CP97489
              RefreshRate: 1000
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionsSubscriptionResponse'
              example:
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: CP33031
                RefreshRate: 1000
                Snapshot:
                  Data:
                    - ClosedPosition:
                        AccountId: 192134INET
                        Amount: 300000
                        AssetType: FxSpot
                        BuyOrSell: Buy
                        ClientId: '654321'
                        ClosedProfitLoss: 9597
                        ClosedProfitLossInBaseCurrency: 9597
                        ClosingMarketValue: 0
                        ClosingMarketValueInBaseCurrency: 0
                        ClosingMethod: Explicit
                        ClosingPositionId: '139694249'
                        ClosingPrice: 1.09139
                        ConversionRateInstrumentToBaseSettledClosing: false
                        ConversionRateInstrumentToBaseSettledOpening: true
                        ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                        ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                        OpeningPositionId: '139597294'
                        OpenPrice: 1.0594
                        Uic: 21
                      ClosedPositionUniqueId: 139597294-139694249
                      NetPositionId: EURUSD_FxSpot
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - SubscriptionExceedesPositionsLimit
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      SubscriptionExceedesPositionsLimit: Too many positions requested. Streaming updates are only allowed on a limited number of positions.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: '#/components/schemas/ClosedPositionResponseArray'
  '/port/v1/closedpositions/{closedPositionId}/details':
    get:
      tags:
        - ClosedPositions
      summary: Get detailed information for a single position
      description: Gets detailed information about a single position as specified by the query parameters.
      operationId: ClosedPositionsV1GetPositionDetails
      parameters:
        - name: accountGroupKey
          in: query
          description: The key of the account group to which the closed positions belongs.
          schema:
            title: The key of the account group to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: accountKey
          in: query
          description: The key of the account to which the closed positions belongs.
          schema:
            title: The key of the account to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: clientKey
          in: query
          description: The key of the client to which the closesd positions belongs.
          required: true
          schema:
            title: The key of the client to which the closesd positions belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: closedPositionId
          in: path
          description: Unique id of the position.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionDetailedResponse'
              example:
                ClosedPosition:
                  AccountId: 192134INET
                  Amount: 300000
                  AssetType: FxSpot
                  BuyOrSell: Buy
                  ClientId: '654321'
                  ClosedProfitLoss: 9597
                  ClosedProfitLossInBaseCurrency: 9597
                  ClosingMarketValue: 0
                  ClosingMarketValueInBaseCurrency: 0
                  ClosingMethod: Explicit
                  ClosingPositionId: '139694249'
                  ClosingPrice: 1.09139
                  ConversionRateInstrumentToBaseSettledClosing: false
                  ConversionRateInstrumentToBaseSettledOpening: true
                  ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                  ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                  OpeningPositionId: '139597294'
                  OpenPrice: 1.0594
                  Uic: 21
                ClosedPositionDetails:
                  CurrencyConversionRateInstrumentToBaseClosing: 1
                  CurrencyConversionRateInstrumentToBaseOpening: 1
                  ValueDateClose: '2017-05-04T00:00:00.0000000+00:00'
                  ValueDateOpen: '2017-05-04T00:00:00.0000000+00:00'
                ClosedPositionUniqueId: 139597294-139694249
                DisplayAndFormat:
                  Currency: USD
                  Decimals: 4
                  Description: Euro/US Dollar
                  Format: AllowDecimalPips
                  Symbol: EURUSD
                Exchange:
                  Description: Inter Bank
                  ExchangeId: SBFX
                  IsOpen: true
                NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - PositionIdNotSpecified
                    type: string
                    x-enum-descriptions:
                      PositionIdNotSpecified: Position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/closedpositions/{closedPositionId}':
    get:
      tags:
        - ClosedPositions
      summary: Get a single position
      description: Get a single position.
      operationId: ClosedPositionsV1GetClosedPosition
      parameters:
        - name: accountGroupKey
          in: query
          description: The key of the account group to which the closed positions belongs.
          schema:
            title: The key of the account group to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: accountKey
          in: query
          description: The key of the account to which the closed positions belongs.
          schema:
            title: The key of the account to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: clientKey
          in: query
          description: The key of the client to which the closesd positions belongs.
          required: true
          schema:
            title: The key of the client to which the closesd positions belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: closedPositionId
          in: path
          description: Unique id of the position.
          required: true
          schema:
            type: string
        - name: fieldGroups
          in: query
          description: 'Specifies which data to return. Default is [ClosedPosition]'
          schema:
            title: 'Specifies which data to return. Default is [ClosedPosition]'
            type: array
            items:
              $ref: '#/components/schemas/ClosedPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponse'
              example:
                ClosedPosition:
                  AccountId: 192134INET
                  Amount: 300000
                  AssetType: FxSpot
                  BuyOrSell: Buy
                  ClientId: '654321'
                  ClosedProfitLoss: 9597
                  ClosedProfitLossInBaseCurrency: 9597
                  ClosingMarketValue: 0
                  ClosingMarketValueInBaseCurrency: 0
                  ClosingMethod: Explicit
                  ClosingPositionId: '139694249'
                  ClosingPrice: 1.09139
                  ConversionRateInstrumentToBaseSettledClosing: false
                  ConversionRateInstrumentToBaseSettledOpening: true
                  ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                  ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                  OpeningPositionId: '139597294'
                  OpenPrice: 1.0594
                  Uic: 21
                ClosedPositionUniqueId: 139597294-139694249
                NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - PositionIdNotSpecified
                    type: string
                    x-enum-descriptions:
                      PositionIdNotSpecified: Position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/closedpositions/me:
    get:
      tags:
        - ClosedPositions
      summary: 'Get closed positions for a client, to which the logged in user belongs'
      description: Returns a list of closed positions fulfilling the criteria specified by the query string parameters.
      operationId: GET_ClosedPositionsV1GetClosedPositions
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: fieldGroups
          in: query
          description: 'Specifies which data to return. Default is [ClosedPosition].'
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ClosedPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - ClosedPosition:
                      AccountId: 192134INET
                      Amount: 300000
                      AssetType: FxSpot
                      BuyOrSell: Buy
                      ClientId: '654321'
                      ClosedProfitLoss: 9597
                      ClosedProfitLossInBaseCurrency: 9597
                      ClosingMarketValue: 0
                      ClosingMarketValueInBaseCurrency: 0
                      ClosingMethod: Explicit
                      ClosingPositionId: '139694249'
                      ClosingPrice: 1.09139
                      ConversionRateInstrumentToBaseSettledClosing: false
                      ConversionRateInstrumentToBaseSettledOpening: true
                      ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                      ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                      OpeningPositionId: '139597294'
                      OpenPrice: 1.0594
                      Uic: 21
                    ClosedPositionUniqueId: 139597294-139694249
                    NetPositionId: EURUSD_FxSpot
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/closedpositions:
    get:
      tags:
        - ClosedPositions
      summary: 'Get closed positions for a client, accountGroup or account'
      description: Returns a list of closed positions fulfilling the criteria specified by the query string parameters.
      operationId: ClosedPositionsV1GetClosedPositions
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: accountGroupKey
          in: query
          description: The key of the account group to which the closed positions belongs.
          schema:
            title: The key of the account group to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: accountKey
          in: query
          description: The key of the account to which the closed positions belongs.
          schema:
            title: The key of the account to which the closed positions belongs.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: clientKey
          in: query
          description: The key of the client to which the closesd positions belongs.
          required: true
          schema:
            title: The key of the client to which the closesd positions belongs.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: closedPositionId
          in: query
          description: The id of the closed position to which the closedposition belongs
          schema:
            title: The id of the closed position to which the closedposition belongs
            type: string
        - name: fieldGroups
          in: query
          description: 'Specifies which data to return. Default is [ClosedPosition]'
          schema:
            title: 'Specifies which data to return. Default is [ClosedPosition]'
            type: array
            items:
              $ref: '#/components/schemas/ClosedPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - ClosedPosition:
                      AccountId: 192134INET
                      Amount: 300000
                      AssetType: FxSpot
                      BuyOrSell: Buy
                      ClientId: '654321'
                      ClosedProfitLoss: 9597
                      ClosedProfitLossInBaseCurrency: 9597
                      ClosingMarketValue: 0
                      ClosingMarketValueInBaseCurrency: 0
                      ClosingMethod: Explicit
                      ClosingPositionId: '139694249'
                      ClosingPrice: 1.09139
                      ConversionRateInstrumentToBaseSettledClosing: false
                      ConversionRateInstrumentToBaseSettledOpening: true
                      ExecutionTimeClose: '2017-05-02T00:00:00.0000000+00:00'
                      ExecutionTimeOpen: '2017-04-12T00:00:00.0000000+00:00'
                      OpeningPositionId: '139597294'
                      OpenPrice: 1.0594
                      Uic: 21
                    ClosedPositionUniqueId: 139597294-139694249
                    NetPositionId: EURUSD_FxSpot
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ClosedPositionNotAccessibleInEndOfDayNettingMode
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                      ClosedPositionNotAccessibleInEndOfDayNettingMode: ClosedPosition is not accessible in EndOfDay netting mode of the client
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/netpositions/subscriptions/{contextId}/{referenceId}':
    delete:
      tags:
        - NetPositions
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id.
      operationId: NetPositionsV1DeleteSubscription
      parameters:
        - name: contextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '29931122'
        - name: referenceId
          in: path
          description: Unique ID of the subscription
          required: true
          schema:
            type: string
          example: NP6783
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/netpositions/subscriptions/{contextId}':
    delete:
      tags:
        - NetPositions
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: NetPositionsV1DeleteSubscriptions
      parameters:
        - name: contextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: PAGE2
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/netpositions/subscriptions:
    post:
      tags:
        - NetPositions
      summary: Create a subscription on a list of net positions and make it active
      description: Sets up a subscription and returns an initial snapshot of list of net positions specified by the parameters in the request.
      operationId: NetPositionsV1AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetPositionsSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                FieldGroups:
                  - NetPositionView
                  - NetPositionBase
                NetPositionId: EURUSD 41761NY 1.3765 C
              ContextId: '20220216014143159'
              Format: application/json
              ReferenceId: NP87064
              RefreshRate: 1000
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionsSubscriptionResponse'
              example:
                ContextId: ContextIdbe057350-5a5a-47e5-849e-09bc266fa53b
                Format: Formatfd209d6d-1d9d-4b96-8c62-4b9ac93eb818
                InactivityTimeout: 13996
                ReferenceId: ReferenceId2937442f-b758-492c-8e91-26726eff4903
                RefreshRate: 28564
                Schema: Schema6b028d4d-85f6-4af4-8288-7e22821f8af3
                SchemaName: SchemaNamef8bc0f59-c62a-4e5b-9463-4aae1b0b0a20
                Snapshot:
                  __next: /openapi/port/....../?$top=1&$skip=1
                  Data:
                    - NetPositionBase:
                        AccountId: 192134INET
                        Amount: 100000
                        AssetType: FxSpot
                        CanBeClosed: true
                        ClientId: '654321'
                        HasForceOpenPositions: false
                        IsMarketOpen: false
                        NonTradableReason: None
                        NumberOfRelatedOrders: 0
                        OpeningDirection: Buy
                        OpenIpoOrdersCount: 0
                        OpenOrdersCount: 0
                        OpenTriggerOrdersCount: 0
                        PositionsAccount: 192134INET
                        SinglePositionStatus: Open
                        Uic: 31
                        ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                      NetPositionId: GPBUSD_FXSpot
                      NetPositionView:
                        AverageOpenPrice: 1.32167
                        AverageOpenPriceIncludingCosts: 1.32172
                        CalculationReliability: Ok
                        CurrentPrice: 1.29188
                        CurrentPriceDelayMinutes: 15
                        CurrentPriceType: Mid
                        Exposure: 100000
                        ExposureInBaseCurrency: 129205
                        InstrumentPriceDayPercentChange: 0.27
                        PositionCount: 1
                        PositionsNotClosedCount: 0
                        ProfitLossOnTrade: -2979
                        Status: Open
                        TradeCostsTotal: 0
                        TradeCostsTotalInBaseCurrency: 0
                State: Active
                Tag: Tag9ba85067-ac8f-49b8-82e3-4c3e51df74af
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: '#/components/schemas/NetPositionResponseArray'
  /port/v1/netpositions/subscriptions/active:
    post:
      tags:
        - NetPositions
      summary: Obsolete Create a subscription on a list of net positions and make it active
      description: Sets up a subscription and returns an initial snapshot of list of net positions specified by the parameters in the request.
      operationId: NetPositionsV1AddActiveSubscriptionWithActive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetPositionsSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                FieldGroups:
                  - NetPositionView
                  - NetPositionBase
                NetPositionId: EURUSD 41761NY 1.3765 C
              ContextId: '20220216014143159'
              Format: application/json
              ReferenceId: NP87064
              RefreshRate: 1000
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionsSubscriptionResponse'
              example:
                ContextId: ContextIdbe057350-5a5a-47e5-849e-09bc266fa53b
                Format: Formatfd209d6d-1d9d-4b96-8c62-4b9ac93eb818
                InactivityTimeout: 13996
                ReferenceId: ReferenceId2937442f-b758-492c-8e91-26726eff4903
                RefreshRate: 28564
                Schema: Schema6b028d4d-85f6-4af4-8288-7e22821f8af3
                SchemaName: SchemaNamef8bc0f59-c62a-4e5b-9463-4aae1b0b0a20
                Snapshot:
                  __next: /openapi/port/....../?$top=1&$skip=1
                  Data:
                    - NetPositionBase:
                        AccountId: 192134INET
                        Amount: 100000
                        AssetType: FxSpot
                        CanBeClosed: true
                        ClientId: '654321'
                        HasForceOpenPositions: false
                        IsMarketOpen: false
                        NonTradableReason: None
                        NumberOfRelatedOrders: 0
                        OpeningDirection: Buy
                        OpenIpoOrdersCount: 0
                        OpenOrdersCount: 0
                        OpenTriggerOrdersCount: 0
                        PositionsAccount: 192134INET
                        SinglePositionStatus: Open
                        Uic: 31
                        ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                      NetPositionId: GPBUSD_FXSpot
                      NetPositionView:
                        AverageOpenPrice: 1.32167
                        AverageOpenPriceIncludingCosts: 1.32172
                        CalculationReliability: Ok
                        CurrentPrice: 1.29188
                        CurrentPriceDelayMinutes: 15
                        CurrentPriceType: Mid
                        Exposure: 100000
                        ExposureInBaseCurrency: 129205
                        InstrumentPriceDayPercentChange: 0.27
                        PositionCount: 1
                        PositionsNotClosedCount: 0
                        ProfitLossOnTrade: -2979
                        Status: Open
                        TradeCostsTotal: 0
                        TradeCostsTotalInBaseCurrency: 0
                State: Active
                Tag: Tag9ba85067-ac8f-49b8-82e3-4c3e51df74af
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: '#/components/schemas/NetPositionResponseArray'
  /port/v1/netpositions:
    get:
      tags:
        - NetPositions
      summary: 'Get net positions for a client, account group or account'
      description: "Returns a list of net positions fulfilling the criteria specified by the query string parameters.\r\n            Each net position may include all related sub positions if fieldGroups includes SubPositions."
      operationId: GET_NetPositionsV1GetNetPositions
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: accountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: accountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: assetType
          in: query
          description: Optional. The AssetType.
          schema:
            title: Optional. The AssetType.
            allOf:
              - $ref: '#/components/schemas/AssetTypeNullable'
        - name: clientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: expiryDate
          in: query
          description: Optional. The expiry date. Only used to distinguish FxOptions.
          schema:
            title: Optional. The expiry date. Only used to distinguish FxOptions.
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: fieldGroups
          in: query
          description: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
          schema:
            title: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
            type: array
            items:
              $ref: '#/components/schemas/NetPositionFieldGroup'
        - name: lowerBarrier
          in: query
          description: Optional. The Lower Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: Optional. The Lower Barrier. Only used to distinguish Fx Barrier Options.
            allOf:
              - type: number
        - name: netPositionId
          in: query
          description: Optional. The id of the netposition
          schema:
            title: Optional. The id of the netposition
            type: string
        - name: putCall
          in: query
          description: Optional. Put or Call. Only used to distinguish FxOptions.
          schema:
            title: Optional. Put or Call. Only used to distinguish FxOptions.
            allOf:
              - $ref: '#/components/schemas/PutCallNullable'
        - name: strike
          in: query
          description: Optional. The strike price of the option. Only used to distinguish FxOptions.
          schema:
            title: Optional. The strike price of the option. Only used to distinguish FxOptions.
            allOf:
              - type: number
        - name: uic
          in: query
          description: Optional. Unique id of the instrument.
          schema:
            title: Optional. Unique id of the instrument.
            allOf:
              - type: integer
                format: int32
        - name: upperBarrier
          in: query
          description: Optional. The Upper Barrier. Only used to distinguish Fx Barrier Options.
          schema:
            title: Optional. The Upper Barrier. Only used to distinguish Fx Barrier Options.
            allOf:
              - type: number
        - name: valueDate
          in: query
          description: Optional. The value date. Only used to distinguish FxForwards.
          schema:
            title: Optional. The value date. Only used to distinguish FxForwards.
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: watchlistId
          in: query
          description: Optional. Watchlist Id.Filter on watchlist instruments
          schema:
            title: Optional. Watchlist Id.Filter on watchlist instruments
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - NetPositionBase:
                      AccountId: 192134INET
                      Amount: 100000
                      AssetType: FxSpot
                      CanBeClosed: true
                      ClientId: '654321'
                      HasForceOpenPositions: false
                      IsMarketOpen: false
                      NonTradableReason: None
                      NumberOfRelatedOrders: 0
                      OpeningDirection: Buy
                      OpenIpoOrdersCount: 0
                      OpenOrdersCount: 0
                      OpenTriggerOrdersCount: 0
                      PositionsAccount: 192134INET
                      SinglePositionStatus: Open
                      Uic: 31
                      ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                    NetPositionId: GPBUSD_FXSpot
                    NetPositionView:
                      AverageOpenPrice: 1.32167
                      AverageOpenPriceIncludingCosts: 1.32172
                      CalculationReliability: Ok
                      CurrentPrice: 1.29188
                      CurrentPriceDelayMinutes: 15
                      CurrentPriceType: Mid
                      Exposure: 100000
                      ExposureInBaseCurrency: 129205
                      InstrumentPriceDayPercentChange: 0.27
                      PositionCount: 1
                      PositionsNotClosedCount: 0
                      ProfitLossOnTrade: -2979
                      Status: Open
                      TradeCostsTotal: 0
                      TradeCostsTotalInBaseCurrency: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NetPositionIdNotSpecified
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      NetPositionIdNotSpecified: Net position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/netpositions/me:
    get:
      tags:
        - NetPositions
      summary: Get net positions for the current user's client
      description: "Returns a list of net positions fulfilling the criteria specified by the query string parameters.\r\n            Each net position may include all related sub positions if fieldGroups includes SubPositions."
      operationId: NetPositionsV1GetNetPositions
      parameters:
        - name: $skip
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: $top
          in: query
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: fieldGroups
          in: query
          description: 'Specifies which data to return. Default is [NetPositionBase, NetPositionView].'
          required: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NetPositionFieldGroup'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionResponseListResult'
              example:
                __next: /openapi/port/....../?$top=1&$skip=1
                Data:
                  - NetPositionBase:
                      AccountId: 192134INET
                      Amount: 100000
                      AssetType: FxSpot
                      CanBeClosed: true
                      ClientId: '654321'
                      HasForceOpenPositions: false
                      IsMarketOpen: false
                      NonTradableReason: None
                      NumberOfRelatedOrders: 0
                      OpeningDirection: Buy
                      OpenIpoOrdersCount: 0
                      OpenOrdersCount: 0
                      OpenTriggerOrdersCount: 0
                      PositionsAccount: 192134INET
                      SinglePositionStatus: Open
                      Uic: 31
                      ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                    NetPositionId: GPBUSD_FXSpot
                    NetPositionView:
                      AverageOpenPrice: 1.32167
                      AverageOpenPriceIncludingCosts: 1.32172
                      CalculationReliability: Ok
                      CurrentPrice: 1.29188
                      CurrentPriceDelayMinutes: 15
                      CurrentPriceType: Mid
                      Exposure: 100000
                      ExposureInBaseCurrency: 129205
                      InstrumentPriceDayPercentChange: 0.27
                      PositionCount: 1
                      PositionsNotClosedCount: 0
                      ProfitLossOnTrade: -2979
                      Status: Open
                      TradeCostsTotal: 0
                      TradeCostsTotalInBaseCurrency: 0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/netpositions/{netPositionId}/details':
    get:
      tags:
        - NetPositions
      summary: Get detailed information for a single net position
      description: "Gets detailed information about a single net position as specified by the query parameters.\r\n            Note: the net position is fully identified by the supplied netPositionId, but accountId and clientId may be specified\r\n            to determine whether the netposition values should be calculated at client or account level."
      operationId: NetPositionsV1GetNetPositionDetails
      parameters:
        - name: accountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: accountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: clientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: netPositionId
          in: path
          description: Unique id of the net position.
          required: true
          schema:
            type: string
          example: EURUSD_41761NY_1.3765 C
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionDetailedResponse'
              example:
                NetPositionBase:
                  AccountId: 192134INET
                  Amount: 100000
                  AssetType: FxSpot
                  CanBeClosed: true
                  ClientId: '654321'
                  HasForceOpenPositions: false
                  IsMarketOpen: false
                  NonTradableReason: None
                  NumberOfRelatedOrders: 0
                  OpeningDirection: Buy
                  OpenIpoOrdersCount: 0
                  OpenOrdersCount: 0
                  OpenTriggerOrdersCount: 0
                  PositionsAccount: 192134INET
                  SinglePositionStatus: Open
                  Uic: 31
                  ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                NetPositionDetails:
                  MarketValue: -2958
                  MarketValueInBaseCurrency: -2958
                  NonTradableReason: None
                NetPositionId: GPBUSD_FXSpot
                NetPositionView:
                  AverageOpenPrice: 1.32167
                  AverageOpenPriceIncludingCosts: 1.32172
                  CalculationReliability: Ok
                  CurrentPrice: 1.29188
                  CurrentPriceDelayMinutes: 15
                  CurrentPriceType: Mid
                  Exposure: 100000
                  ExposureInBaseCurrency: 129205
                  InstrumentPriceDayPercentChange: 0.27
                  PositionCount: 1
                  PositionsNotClosedCount: 0
                  ProfitLossOnTrade: -2979
                  SettlementInstruction:
                    ActualRolloverAmount: 0
                    ActualSettlementAmount: 10
                    Amount: 10
                    IsSettlementInstructionsAllowed: false
                    Month: 7
                    SettlementType: FullSettlement
                    Year: 2020
                  Status: Open
                  TradeCostsTotal: 0
                  TradeCostsTotalInBaseCurrency: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - NetPositionIdNotSpecified
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      NetPositionIdNotSpecified: Net position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/netpositions/{netPositionId}':
    get:
      tags:
        - NetPositions
      summary: Get a single net position
      description: "Gets a single net position calculated as specified by the query parameters. \r\n            The net position may include all related sub positions if fieldGroups includes SubPositions.\r\n            Note: the net position is fully identified by the supplied netPositionId, but accountId and clientId may be specified\r\n            to determine whether the netposition values should be calculated at client or account level."
      operationId: NetPositionsV1GetNetPosition
      parameters:
        - name: accountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: accountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: clientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: fieldGroups
          in: query
          description: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
          schema:
            title: 'Specifies which data to return. Default is [NetPositionBase,NetPositionView]'
            type: array
            items:
              $ref: '#/components/schemas/NetPositionFieldGroup'
        - name: netPositionId
          in: path
          description: Unique id of the net position.
          required: true
          schema:
            type: string
          example: EURUSD 41761NY 1.3765 C
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetPositionResponse'
              example:
                NetPositionBase:
                  AccountId: 192134INET
                  Amount: 100000
                  AssetType: FxSpot
                  CanBeClosed: true
                  ClientId: '654321'
                  HasForceOpenPositions: false
                  IsMarketOpen: false
                  NonTradableReason: None
                  NumberOfRelatedOrders: 0
                  OpeningDirection: Buy
                  OpenIpoOrdersCount: 0
                  OpenOrdersCount: 0
                  OpenTriggerOrdersCount: 0
                  PositionsAccount: 192134INET
                  SinglePositionStatus: Open
                  Uic: 31
                  ValueDate: '2017-05-04T00:00:00.0000000+00:00'
                NetPositionId: GPBUSD_FXSpot
                NetPositionView:
                  AverageOpenPrice: 1.32167
                  AverageOpenPriceIncludingCosts: 1.32172
                  CalculationReliability: Ok
                  CurrentPrice: 1.29188
                  CurrentPriceDelayMinutes: 15
                  CurrentPriceType: Mid
                  Exposure: 100000
                  ExposureInBaseCurrency: 129205
                  InstrumentPriceDayPercentChange: 0.27
                  PositionCount: 1
                  PositionsNotClosedCount: 0
                  ProfitLossOnTrade: -2979
                  Status: Open
                  TradeCostsTotal: 0
                  TradeCostsTotalInBaseCurrency: 0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - NetPositionIdNotSpecified
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      NetPositionIdNotSpecified: Net position not specified.
                      InvalidClientId: Indicates that the requested client id was invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v2/exposure/currency/subscriptions/{contextId}/{referenceId}':
    delete:
      tags:
        - Exposure
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ExposureV2DeleteSubscription
      parameters:
        - name: contextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: referenceId
          in: path
          description: Unique id of the subscription
          required: true
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v2/exposure/currency/subscriptions/{contextId}':
    delete:
      tags:
        - Exposure
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: ExposureV2DeleteSubscriptions
      parameters:
        - name: contextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v2/exposure/currency/subscriptions:
    post:
      tags:
        - Exposure
      summary: Create a subscription on a list of instrument exposure and make it active
      description: Sets up a subscription and returns an initial snapshot of list of instrument exposure specified by the parameters in the request.
      operationId: ExposureV2AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyExposureSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: valuef09fee68-f79d-4c6f-8d5a-0f694f8ec901
                AccountKey: 6989c824-c853-4018-b501-5978efe096c8
                ClientKey: b0c29196-d7fb-4200-a141-a7ac9fc6a6d0
                CurrencyCode: CurrencyCode4085425d-842f-498f-b3dd-9d9b5a90ffab
              ContextId: '-'
              Format: Format72a25c5f-5667-4229-bac4-3a9c4e7f2edb
              KnownSchemas:
                - ddbc02b4-905e-44ae-bc24-10d23828274f
              ReferenceId: '-'
              RefreshRate: 239
              ReplaceReferenceId: '-'
              Tag: Taga5d75b24-a8e7-4ac2-ba6e-11fdeb06628c
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposureSubscriptionResponse'
              example:
                ContextId: ContextId4aa419ab-fcb3-4a10-9399-c78dd65cb0a7
                Format: Format0de5a8cf-41d1-4b09-94ce-6953c27e47f8
                InactivityTimeout: 26491
                ReferenceId: ReferenceId43e9eac3-f590-4fa8-bf49-67d8ec63cd9c
                RefreshRate: 32161
                Schema: Schema8f172631-dbf5-4ef4-b9fe-1b886869cfa8
                SchemaName: SchemaName9bb74f5b-9699-44ab-bca2-b69a43c11513
                Snapshot:
                  CurrencyExposures:
                    - AmountsInCurrency:
                        Cash: 696004971.3046082
                        Fx: 318106.5158945559
                        ProfitLoss: -54715402.22093527
                        Total: -2.0610347411893142E+17
                      AmountsInEntityCurrency:
                        Cash: 7.27476353088833E+23
                        Fx: 65.02652324867324
                        ProfitLoss: -2.49013116191883E+25
                        Total: 297639694465.8893
                      AmountsInRequestCurrency:
                        Cash: -1.8109535564084512E+24
                        Fx: 3.049613703260709
                        ProfitLoss: 6534953856263661
                        Total: 4.867568134913089E+28
                      Currency: Currency2fb59869-a9c5-442a-9087-06f33f9821c4
                      ExposureCurrencyCode: ExposureCurrencyCode4a5cfe58-d745-4e93-a150-11bff81d679a
                      ExposureLimit: -7.628172044701653E+25
                      ExposureUtilization: -9486479542122.957
                      ValueDateCurrencyExposures:
                        Amounts:
                          - Exposures:
                              Cash: 3115547239707682
                              Fx: 1215113407821404
                              ProfitLoss: 70058370214835630
                              Total: 2.386495070983477E+24
                            ValueDate: '2023-11-22T02:27:42.9935760+00:00'
                            ValueDateKey: ValueDateKeycf8a79db-bc59-48d7-a5ac-2eed2472681a
                        NonDatedExposure:
                          Cash: 46978992929744.69
                          Fx: 12752987999088.32
                          ProfitLoss: 2.1550208640973033E+19
                          Total: 2882455188712847.5
                        Total:
                          Cash: -31942529.872453824
                          Fx: 77766841.3584497
                          ProfitLoss: -23827084.477260135
                          Total: 7.4475450235327645E+25
                  NetOpenPositionValue:
                    AmountInEntityCurrency: -4.951015012403958E+26
                    AmountInRequestCurrency: 41356265533535624
                    ExposureCurrencyCode: ExposureCurrencyCodefd361a90-b239-4f11-b1b8-3623e2d75239
                    ExposureLimit: -4.160820006389854E+19
                    ExposureUtilization: 1.464379274245699E+21
                State: Active
                Tag: Tag3551c099-c64b-4d67-96d7-33759b869761
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: '#/components/schemas/CurrencyExposureResponse'
  /port/v1/exposure/fxspot:
    get:
      tags:
        - Exposure
      summary: 'Get net FxSpot exposures list for a client, accountGroup or account'
      description: 'Returns a list of currency exposures from FxSpot positions for a requested client, account group or account.'
      operationId: ExposureV1GetFxSpotNetExposuresForLoggedInUser
      parameters:
        - name: accountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: accountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: clientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: -5734378073.694225
                    AmountInCalculationEntityCurrency: -2307.8455690973797
                    Currency: Currency60711dfc-9578-461e-972c-71094ce566c0
                MaxRows: 21880
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/exposure/fxspot/me:
    get:
      tags:
        - Exposure
      summary: 'Get net FxSpot exposures for a client, to which the logged in user belongs'
      description: 'Returns a list of currency exposures from FxSpot positions for the client, to which the logged in user belongs.'
      operationId: ExposureV1GetFxSpotNetExposures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: -5734378073.694225
                    AmountInCalculationEntityCurrency: -2307.8455690973797
                    Currency: Currency60711dfc-9578-461e-972c-71094ce566c0
                MaxRows: 21880
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/exposure/currency:
    get:
      tags:
        - Exposure
      summary: 'Get a currency exposures list for a client, accountGroup or account'
      description: Returns a list of currencies in which there is an exposure.
      operationId: ExposureV1GetCurrencyExposuresForLoggedInUser
      parameters:
        - name: accountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: accountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: clientKey
          in: query
          description: The key of the client to which the positions belong.
          required: true
          schema:
            title: The key of the client to which the positions belong.
            minLength: 1
            type: string
            x-type-name: ClientKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: -5734378073.694225
                    AmountInCalculationEntityCurrency: -2307.8455690973797
                    Currency: Currency60711dfc-9578-461e-972c-71094ce566c0
                MaxRows: 21880
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidExchangeId
                      - NoValidInput
                    type: string
                    x-enum-descriptions:
                      NoValidInput: No valid input values passed.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidExchangeId: The provided exchange id is invalid.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/exposure/currency/me:
    get:
      tags:
        - Exposure
      summary: 'Get currency exposures for a client, to which the logged in user belongs'
      description: Returns a list of currencies and net exposures.
      operationId: ExposureV1GetCurrencyExposures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExposuresResponseListResult'
              example:
                Data:
                  - Amount: -5734378073.694225
                    AmountInCalculationEntityCurrency: -2307.8455690973797
                    Currency: Currency60711dfc-9578-461e-972c-71094ce566c0
                MaxRows: 21880
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/exposure/instruments/subscriptions/{contextId}/{referenceId}':
    delete:
      tags:
        - Exposure
      summary: Remove subscription
      description: Removes subscription for the current session identified by subscription id..
      operationId: ExposureV1DeleteSubscription
      parameters:
        - name: contextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: referenceId
          in: path
          description: Unique id of the subscription
          required: true
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/port/v1/exposure/instruments/subscriptions/{contextId}':
    delete:
      tags:
        - Exposure
      summary: Remove multiple subscriptions
      description: 'Removes multiple all subscriptions for the current session on this resource, and frees all resources on the server.'
      operationId: ExposureV1DeleteSubscriptions
      parameters:
        - name: contextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '29931122'
        - name: tag
          in: query
          description: Optional. Remove only subscriptions that are marked with specified tag.
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /port/v1/exposure/instruments/subscriptions:
    post:
      tags:
        - Exposure
      summary: Create a subscription on a list of instrument exposure and make it active
      description: Sets up a subscription and returns an initial snapshot of list of instrument exposure specified by the parameters in the request.
      operationId: ExposureV1AddActiveSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentExposureSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                AssetType: FxSpot
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                Uic: 21
              ContextId: '-'
              Format: Format0bff8036-311e-4cc1-97b8-311a3de9163f
              KnownSchemas:
                - c5f5f917-2e05-4103-b9e8-39f69605eff4
              ReferenceId: '-'
              RefreshRate: 237
              ReplaceReferenceId: '-'
              Tag: Tag6272a539-d6dd-4d6a-99e0-0194f1ee2f60
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentExposureSubscriptionResponse'
              example:
                ContextId: '20220216014145060'
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: E06182
                RefreshRate: 1000
                Snapshot:
                  Data:
                    - Amount: 200000
                      AssetType: FxSpot
                      AverageOpenPrice: 1.08414
                      CalculationReliability: Ok
                      CanBeClosed: false
                      DisplayAndFormat:
                        Currency: USD
                        Decimals: 4
                        Description: Euro/US Dollar
                        Format: AllowDecimalPips
                        Symbol: EURUSD
                      NetPositionId: EURUSD_FxSpot
                      Uic: 21
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: '#/components/schemas/InstrumentExposureResponseArray'
  /port/v1/exposure/instruments/subscriptions/active:
    post:
      tags:
        - Exposure
      summary: Obsolete Create a subscription on a list of instrument exposure and make it active
      description: Sets up a subscription and returns an initial snapshot of list of instrument exposure specified by the parameters in the request.
      operationId: ExposureV1AddActiveSubscriptionWithActive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentExposureSubscriptionRequest'
            example:
              Arguments:
                AccountGroupKey: LZTc7DdejXODf-WSl2aCyQ==
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                AssetType: FxSpot
                ClientKey: 7m4I|vtYLUnEGg77o9uQhw==
                Uic: 21
              ContextId: '-'
              Format: Format0bff8036-311e-4cc1-97b8-311a3de9163f
              KnownSchemas:
                - c5f5f917-2e05-4103-b9e8-39f69605eff4
              ReferenceId: '-'
              RefreshRate: 237
              ReplaceReferenceId: '-'
              Tag: Tag6272a539-d6dd-4d6a-99e0-0194f1ee2f60
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentExposureSubscriptionResponse'
              example:
                ContextId: '20220216014145060'
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: E06182
                RefreshRate: 1000
                Snapshot:
                  Data:
                    - Amount: 200000
                      AssetType: FxSpot
                      AverageOpenPrice: 1.08414
                      CalculationReliability: Ok
                      CanBeClosed: false
                      DisplayAndFormat:
                        Currency: USD
                        Decimals: 4
                        Description: Euro/US Dollar
                        Format: AllowDecimalPips
                        Symbol: EURUSD
                      NetPositionId: EURUSD_FxSpot
                      Uic: 21
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidClientId
                      - InvalidInput
                      - InvalidModelState
                      - NoValidInput
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InvalidClientId: Indicates that the requested client id was invalid.
                      InvalidInput: An error was encountered when processing given input parameters.
                      NoValidInput: No valid input values passed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type: '#/components/schemas/InstrumentExposureResponseArray'
  /port/v1/exposure/instruments:
    get:
      tags:
        - Exposure
      summary: 'Get instrument net exposure list for a client, accountGroup or account'
      description: Returns a list of instruments in which there is an exposure fulfilling the criteria specified by the query string parameters.
      operationId: ExposureV1GetInstrumentsExposuresForLoggedInUser
      parameters:
        - name: accountGroupKey
          in: query
          description: The key of the account group to which the positions belong.
          schema:
            title: The key of the account group to which the positions belong.
            minLength: 1
            type: string
            x-type-name: AccountGroupKey
        - name: accountKey
          in: query
          description: The key of the account to which the positions belong.
          schema:
            title: The key of the account to which the positions belong.
            minLength: 1
            type: string
[...]
