openapi: 3.0.1
info:
  title: Services.ReferenceData
  description: 'The Reference Data service group provides reference data, such as instrument details, exchange info etc..'
  version: 2.3.361+88ada090e4
  x-framework-version: 43.0.9+b005aba300
  x-machine: SIMOAWEB8-DK2
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  /ref/v1/timezones:
    get:
      tags:
        - TimeZones
      summary: Get a list of all timezones
      description: Use this GET operation to retrieve a list all the time zones supported by Saxo Bank.
      operationId: TimeZonesGetTimeZones
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeZoneDetailsListResult'
              example:
                Data:
                  - DisplayName: GMT a.k.a. UTC
                    TimeZoneId: '0'
                    TimeZoneOffset: '00:00:00'
                    ZoneName: Etc/UTC
                  - DisplayName: British Time
                    TimeZoneId: '1'
                    TimeZoneOffset: '00:00:00'
                    ZoneName: Europe/London
                  - DisplayName: Singapore Time
                    TimeZoneId: '2'
                    TimeZoneOffset: '00:00:00'
                    ZoneName: Asia/Singapore
                  - DisplayName: US Eastern Time
                    TimeZoneId: '3'
                    TimeZoneOffset: '00:00:00'
                    ZoneName: America/New_York
                  - DisplayName: Central European Time
                    TimeZoneId: '4'
                    TimeZoneOffset: '00:00:00'
                    ZoneName: Europe/Paris
                  - DisplayName: US Central Time
                    TimeZoneId: '5'
                    TimeZoneOffset: '00:00:00'
                    ZoneName: America/Chicago
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  /ref/v1/cultures:
    get:
      tags:
        - Cultures
      summary: Get all supported cultures for user preference localization
      description: Get a list all the cultures for user preference localization supported by Saxo Bank.
      operationId: CulturesGetCultures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CultureDetailsListResult'
              example:
                Data:
                  - CultureCode: nl-NL
                    Name: Dutch (Netherlands)
                MaxRows: 99
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  /ref/v1/countries:
    get:
      tags:
        - Countries
      summary: Get all supported countries
      description: Use this GET operation to retrieve a list all the countries supported by Saxo Bank.
      operationId: CountriesGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryDetailsListResult'
              example:
                Data:
                  - A3: BOL
                    CountryCode: BO
                    Name: Bolivia
                    Numeric: 68
                  - A3: BDI
                    CountryCode: BI
                    Name: Burundi
                    Numeric: 108
                  - A3: COG
                    CountryCode: CG
                    Name: Congo
                    Numeric: 178
                  - A3: DNK
                    CountryCode: DK
                    Name: Denmark
                    Numeric: 208
                  - A3: SLV
                    CountryCode: SV
                    Name: El Salvador
                    Numeric: 222
                  - A3: GNQ
                    CountryCode: GQ
                    Name: Equatorial Guinea
                    Numeric: 226
                  - A3: ERI
                    CountryCode: ER
                    Name: Eritrea
                    Numeric: 232
                  - A3: EST
                    CountryCode: EE
                    Name: Estonia
                    Numeric: 233
                  - A3: ETH
                    CountryCode: ET
                    Name: Ethiopia
                    Numeric: 231
                  - A3: DEU
                    CountryCode: DE
                    Name: Germany
                    Numeric: 276
                  - A3: GRD
                    CountryCode: GD
                    Name: Grenada
                    Numeric: 308
                  - A3: GLP
                    CountryCode: GP
                    Name: Guadeloupe
                    Numeric: 312
                  - A3: HND
                    CountryCode: HN
                    Name: Honduras
                    Numeric: 340
                  - A3: HKG
                    CountryCode: HK
                    Name: Hong Kong
                    Numeric: 344
                  - A3: HUN
                    CountryCode: HU
                    Name: Hungary
                    Numeric: 348
                  - A3: ISL
                    CountryCode: IS
                    Name: Iceland
                    Numeric: 352
                  - A3: MNP
                    CountryCode: MP
                    Name: Northern Mariana Islands
                    Numeric: 580
                  - A3: NOR
                    CountryCode: NO
                    Name: Norway
                    Numeric: 578
                  - A3: THA
                    CountryCode: TH
                    Name: Thailand
                    Numeric: 764
                  - A3: TGO
                    CountryCode: TG
                    Name: Togo
                    Numeric: 768
                  - A3: TKL
                    CountryCode: TK
                    Name: Tokelau
                    Numeric: 772
                  - A3: UZB
                    CountryCode: UZ
                    Name: Uzbekistan
                    Numeric: 860
                  - A3: VUT
                    CountryCode: VU
                    Name: Vanuatu
                    Numeric: 548
                  - A3: VEN
                    CountryCode: VE
                    Name: Venezuela
                    Numeric: 862
                  - A3: ZWE
                    CountryCode: ZW
                    Name: Zimbabwe
                    Numeric: 716
                MaxRows: 99
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  '/ref/v1/exchanges/{ExchangeId}':
    get:
      tags:
        - Exchanges
      summary: Get details about a specific exchange
      description: This operation retrieves detailed information about a specific exchange. The exchange is specified by the 'exchangeId' parameter in the URI.
      operationId: ExchangesV1GetExchange
      parameters:
        - name: ExchangeId
          in: path
          description: The ID of the exchange.
          required: true
          style: simple
          schema:
            type: string
          example: LME
      responses:
        '200':
          description: Indicates the information was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeDetails'
              example:
                CountryCode: GB
                Currency: GBP
                ExchangeId: LME
                Mic: XLME
                Name: London Metal Exchange
                TimeZone: 1
                TimeZoneOffset: '00:00:00'
        '204':
          description: Indicates no information about the exchange is available with the service.
        '400':
          description: Indicates that the exchangeId is malformed.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          description: Indicates request was disallowed because either the 'Authorization' header was missing or contained an invalid Open API token.
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  /ref/v1/exchanges:
    get:
      tags:
        - Exchanges
      summary: Get all exchanges
      description: "This operation retrieves a list of exchanges with detailed information about each.\n            The response also contains links to other relevant data, such as their trade statuses."
      operationId: ExchangesV1GetAllExchanges
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
      responses:
        '200':
          description: Indicates the list was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeDetailsListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                  - CountryCode: GB
                    Currency: GBP
                    ExchangeId: LME
                    Mic: XLME
                    Name: London Metal Exchange
                    TimeZone: 1
                    TimeZoneOffset: '00:00:00'
        '204':
          description: Indicates no information about exchanges is available with the service.
        '401':
          description: Indicates request was disallowed because either the 'Authorization' header was missing or contained an invalid Open API token.
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  /ref/v1/languages:
    get:
      tags:
        - Languages
      summary: Get all supported languages
      description: Returns a list containing all the languages supported by Saxo Bank.
      operationId: LanguagesGet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageDetailsListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                  - LanguageCode: en
                    LanguageName: English
                    NativeName: English
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  '/ref/v1/algostrategies/{Name}':
    get:
      tags:
        - AlgoStrategies
      summary: Get details about a specific strategy.
      description: This operation retrieves detailed information about a specific Strategy. The Strategy is specified by the 'name' parameter in the URI.
      operationId: StrategiesV1GetStrategyByName
      parameters:
        - name: Name
          in: path
          description: The name of the Strategy.
          required: true
          style: simple
          schema:
            type: string
          example: LME
      responses:
        '200':
          description: Indicates the information was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Strategy'
              example:
                Description: stringValue
                MinAmountUSD: 10
                Name: stringValue
                Parameters:
                  - DataType: 0
                    IsEditable: false
                    IsMandatory: false
                    UiDefaultValue: stringValue
                    UiOrderingIndex: 0
                    UiStepSize: 1.3
                SupportedDurationTypes:
                  - GoodTillCancel
                SupportedOrderTypes:
                  - None
                TradableInstrumentTypes:
                  - CertificateUncappedCapitalProtection
        '204':
          description: Indicates no information about the Strategy is available with the service.
        '400':
          description: Indicates that the name is malformed.
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Default error code returned when it cannot be determined which part of the request is malformed.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          description: Indicates request was disallowed because either the 'Authorization' header was missing or contained an invalid Open API token.
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  /ref/v1/algostrategies:
    get:
      tags:
        - AlgoStrategies
      summary: Get all strategies supported by Saxo Bank.
      description: "This operation retrieves a list of strategies with detailed information about each strategy.\n            The response also contains links to other relevant data, such as their parameters."
      operationId: StrategiesV1GetAllStrategies
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
          example: 1
      responses:
        '200':
          description: Indicates the list was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyListResult'
              example:
                Data:
                  - Description: stringValue
                    MinAmountUSD: 10
                    Name: stringValue
                    Parameters:
                      - DataType: 0
                        IsEditable: false
                        IsMandatory: false
                        UiDefaultValue: stringValue
                        UiOrderingIndex: 0
                        UiStepSize: 1.3
                    SupportedDurationTypes:
                      - ImmediateOrCancel
                    SupportedOrderTypes:
                      - StopIfTraded
                    TradableInstrumentTypes:
                      - CertificateDiscount
                MaxRows: 99
        '204':
          description: Indicates no information about Strategys is available with the service.
        '401':
          description: Indicates request was disallowed because either the 'Authorization' header was missing or contained an invalid Open API token.
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  /ref/v1/currencypairs:
    get:
      tags:
        - CurrencyPairs
      summary: Get all supported currency pairs
      description: Returns a list of all supported currency pairs.
      operationId: CurrencyPairsGetAllCurrencyPairs
      parameters:
        - name: AccountKey
          in: query
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: ClientKey
          in: query
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyPairDetailsListResult'
              example:
                Data:
                  - CurrencyCode: EUR
                    RelatedCurrencies:
                      - CurrencyCode: AUD
                        Uic: 12
                      - CurrencyCode: CAD
                        Uic: 13
                      - CurrencyCode: DKK
                        Uic: 16
                      - CurrencyCode: GBP
                        Uic: 17
                      - CurrencyCode: JPY
                        Uic: 18
                  - CurrencyCode: NOK
                    RelatedCurrencies:
                      - CurrencyCode: CZK
                        Uic: 41943
                      - CurrencyCode: DKK
                        Uic: 2046
                      - CurrencyCode: EUR
                        Uic: 17763
                      - CurrencyCode: SEK
                        Uic: 32
                      - CurrencyCode: USD
                        Uic: 17764
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  '/ref/v1/standarddates/fxoptionexpiry/{Uic}':
    get:
      tags:
        - StandardDates
      summary: Get a list of FX option expiry dates
      description: Use this GET operation to retrieve a list of FX option expiry dates for an UIC.
      operationId: StandardDatesGetFxOptionExpiryDates
      parameters:
        - name: Uic
          in: path
          description: The Universal Instrument Code (UIC) of the instrument to get.
          required: true
          style: simple
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
          example: 22
      responses:
        '200':
          description: Indicates the list was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardDateListResult'
              example:
                Data:
                  - Date: '0001-01-01'
                    Unit: Months
                    Value: 99
                MaxRows: 99
        '404':
          description: Indicates FX option expiry dates were not found for the given UIC.
        '401':
          description: Indicates request was disallowed because either the 'Authorization' header was missing or contained an invalid Open API token.
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  '/ref/v1/standarddates/forwardtenor/{Uic}':
    get:
      tags:
        - StandardDates
      summary: Get a list of forward tenor dates
      description: Use this GET operation to retrieve a list of forward tenor dates for an UIC.
      operationId: StandardDatesGetForwardTenorDates
      parameters:
        - name: AccountKey
          in: query
          description: Account to which short tenor permissions are checked against. Short tenors are not returned if no account is specified.
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: Uic
          in: path
          description: The Universal Instrument Code (UIC) of the instrument to get.
          required: true
          style: simple
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
          example: 22
      responses:
        '200':
          description: Indicates the list was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardDateListResult'
              example:
                Data:
                  - Date: '0001-01-01'
                    Unit: Months
                    Value: 99
                MaxRows: 99
        '404':
          description: Indicates forward tenor dates were not found for the given UIC.
        '401':
          description: Indicates request was disallowed because either the 'Authorization' header was missing or contained an invalid Open API token.
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  /ref/v1/currencies:
    get:
      tags:
        - Currencies
      summary: Get all supported currencies
      description: Returns a list of all supported currencies.
      operationId: CurrenciesGetCurrencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyDetailsListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                  - CurrencyCode: EUR
                    Decimals: 2
                    Name: Euro
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  '/ref/v1/instruments/tradingschedule/{Uic}/{AssetType}':
    get:
      tags:
        - Instruments
      summary: Trading schedules
      description: Returns trading schedule for a given uic and asset type.
      operationId: InstrumentsV1GetTradingSchedule
      parameters:
        - name: AssetType
          in: path
          description: The  of the instrument to get.
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/AssetType'
          example: FxSpot
        - name: Uic
          in: path
          description: The Universal Instrument Code (UIC) of the instrument to get.
          required: true
          style: simple
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
          example: 22
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentTradeSessions'
              example:
                Sessions:
                  - EndTime: '9999-12-31T23:59:59.999999Z'
                    StartTime: '9999-12-31T23:59:59.999999Z'
                    State: Undefined
                TimeZone: 99
                TimeZoneAbbreviation: stringValue
                TimeZoneOffset: '00:00:00.0000061'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidAssetType
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidAssetType: Invalid AssetType specified.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  '/ref/v1/instruments/futuresspaces/{ContinuousFuturesUic}':
    get:
      tags:
        - Instruments
      summary: Get contract futures space
      description: 'Provides an overview of a contract futures space, with key futures-related properties for all instances in the futures space.'
      operationId: InstrumentsV1GetFuturesSpace
      parameters:
        - name: ContinuousFuturesUic
          in: path
          description: The UIC of the continuous futures instrument of the space.
          required: true
          style: simple
          schema:
            type: integer
            format: int32
          example: 28016
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuturesSpace'
              example:
                BaseIdentifier: W
                Elements:
                  - DaysToExpiry: 64
                    ExpiryDate: '2017-07-14'
                    Symbol: WQ7
                    Uic: 3406797
                  - DaysToExpiry: 127
                    ExpiryDate: '2017-09-15'
                    Symbol: WV7
                    Uic: 3844782
                  - DaysToExpiry: 188
                    ExpiryDate: '2017-11-15'
                    Symbol: WZ7
                    Uic: 4239352
                  - DaysToExpiry: 278
                    ExpiryDate: '2018-02-13'
                    Symbol: WH8
                    Uic: 4895721
                  - DaysToExpiry: 337
                    ExpiryDate: '2018-04-13'
                    Symbol: WK8
                    Uic: 5352847
                  - DaysToExpiry: 431
                    ExpiryDate: '2018-07-16'
                    Symbol: WQ8
                    Uic: 6112156
                  - DaysToExpiry: 491
                    ExpiryDate: '2018-09-14'
                    Symbol: WV8
                    Uic: 6609171
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidContinuousFuturesUic
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidContinuousFuturesUic: Invalid continuous futures UIC specified.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  '/ref/v1/instruments/contractoptionspaces/{OptionRootId}':
    get:
      tags:
        - Instruments
      summary: Get option details and options space for specified option root
      description: "Using the optionRoot as the \"key\" this resource lists common details about all contract options based on the same option root.\n            It further returns a subset, or the complete list, of all available expiration and strike prices which can be derived\n            from this root along with the uic needed to trade the specific Option."
      operationId: InstrumentsV1GetContractOptionSpace
      parameters:
        - name: CanParticipateInMultiLegOrder
          in: query
          description: 'Should the result only include option roots that allow/disallow exchange traded option strategies, also know as multi-leg or combination orders. This is an optional parameter, all roots are returned regardless if omitted.'
          style: form
          explode: false
          schema:
            type: boolean
        - name: ClientKey
          in: query
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: ExpiryDates
          in: query
          description: Return specific information for the ExpiryDates in this array (if OptionSpaceSegment is set to 'SpecificDates').
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              example: stringValue
          example: '2107-06-16T00:00:00.0000000+00:00'
        - name: OptionRootId
          in: path
          description: ID of the contract option root.
          required: true
          style: simple
          schema:
            type: integer
            format: int32
          example: 6
        - name: OptionSpaceSegment
          in: query
          description: 'How large a segment of the option space should return full contract option details (in the OptionsSpace[].SpecificOptions property). Default is None.'
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/OptionSpaceSegment'
          example: SpecificDates
        - name: TradingStatus
          in: query
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/TradingStatus'
        - name: UnderlyingUic
          in: query
          description: The uic of the underlying instrument. This is an optional parameter (if OptionSpaceSegment is set to 'UnderlyingUic').
          style: form
          explode: false
          schema:
            type: integer
            format: int32
          example: 1907570
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOptionSpace'
              example:
                AmountDecimals: 0
                AssetType: StockIndexOption
                CanParticipateInMultiLegOrder: true
                ContractSize: 5
                CurrencyCode: EUR
                DefaultAmount: 1
                Description: DAX Index
                Exchange:
                  CountryCode: DE
                  ExchangeId: EUREX
                  Name: Eurex
                  PriceSourceName: Eurex
                ExerciseStyle: European
                Format:
                  Decimals: 2
                  OrderDecimals: 2
                  StrikeDecimals: 2
                GroupId: 0
                IncrementSize: 1
                IsTradable: true
                LotSize: 1
                LotSizeType: OddLotsNotAllowed
                OptionRootId: 6
                OptionSpace:
                  - DisplayDaysToExpiry: 3
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2017-05-01'
                    Expiry: '2017-05-19'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                  - DisplayDaysToExpiry: 34
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2017-06-01'
                    Expiry: '2017-06-16'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                    SpecificOptions:
                      - PutCall: Call
                        StrikePrice: 13500
                        TradingStatus: NotDefined
                        Uic: 6608098
                        UnderlyingUic: 1907570
                      - PutCall: Put
                        StrikePrice: 13500
                        TradingStatus: NotDefined
                        Uic: 6608101
                        UnderlyingUic: 1907570
                      - PutCall: Call
                        StrikePrice: 12750
                        TradingStatus: NotDefined
                        Uic: 6507156
                        UnderlyingUic: 1907570
                      - PutCall: Call
                        StrikePrice: 12900
                        TradingStatus: NotDefined
                        Uic: 6507157
                        UnderlyingUic: 1907570
                      - PutCall: Call
                        StrikePrice: 12950
                        TradingStatus: NotDefined
                        Uic: 6507158
                        UnderlyingUic: 1907570
                  - DisplayDaysToExpiry: 126
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2017-09-01'
                    Expiry: '2017-09-15'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                  - DisplayDaysToExpiry: 217
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2017-12-01'
                    Expiry: '2017-12-15'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                  - DisplayDaysToExpiry: 307
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2018-03-01'
                    Expiry: '2018-03-16'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                  - DisplayDaysToExpiry: 399
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2018-06-01'
                    Expiry: '2018-06-15'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                  - DisplayDaysToExpiry: 582
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2018-12-01'
                    Expiry: '2018-12-21'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                  - DisplayDaysToExpiry: 764
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2019-06-01'
                    Expiry: '2019-06-21'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                  - DisplayDaysToExpiry: 947
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2019-12-01'
                    Expiry: '2019-12-20'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                  - DisplayDaysToExpiry: 1313
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2020-12-01'
                    Expiry: '2020-12-18'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                  - DisplayDaysToExpiry: 1678
                    DisplayDaysToLastTradeDate: 0
                    DisplayExpiry: '2021-12-01'
                    Expiry: '2021-12-17'
                    LastTradeDate: '0001-01-01T00:00:00Z'
                OrderDistances:
                  EntryDefaultDistance: 0
                  EntryDefaultDistanceType: Percentage
                  LimitDefaultDistance: 0
                  LimitDefaultDistanceType: Percentage
                  StopLimitDefaultDistance: 5
                  StopLimitDefaultDistanceType: Pips
                  StopLossDefaultDistance: 0.5
                  StopLossDefaultDistanceType: Percentage
                  StopLossDefaultEnabled: false
                  StopLossDefaultOrderType: Stop
                  TakeProfitDefaultDistance: 0.5
                  TakeProfitDefaultDistanceType: Percentage
                  TakeProfitDefaultEnabled: false
                PriceToContractFactor: 5
                RelatedInstruments:
                  - AssetType: StockIndex
                    Uic: 1907570
                RelatedOptionRootsEnhanced:
                  - AssetType: StockIndexOption
                    OptionRootId: 110
                  - AssetType: StockOption
                    OptionRootId: 111
                  - AssetType: StockOption
                    OptionRootId: 112
                SettlementStyle: CashDelivery
                StandardAmounts:
                  - 1
                  - 5
                  - 10
                  - 25
                  - 50
                  - 100
                  - 500
                  - 1000
                SupportedOrderTypes:
                  - Limit
                Symbol: ODAX:xeur
                TickSize: 0.1
                TradableOn:
                  - 76940INET
                  - 76940INET1
                  - 76940INET2
                UnderlyingAssetType: StockIndex
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ExpiryDatesMustBeSet
                      - InvalidOptionRootId
                      - UnderlyingUICMustBeSet
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidOptionRootId: Invalid option root id specified.
                      ExpiryDatesMustBeSet: ExpiryDates must be set if SpecificDates is chosen in OptionSpaceSegment.
                      UnderlyingUICMustBeSet: UnderlyingUic must be set if UnderlyingUic is chosen in OptionSpaceSegment.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  '/ref/v1/instruments/details/{Uic}/{AssetType}':
    get:
      tags:
        - Instruments
      summary: Get detailed information for a specific instrument
      description: Use this operation to retrieve details for a specific instrument.
      operationId: InstrumentsV1GetDetailsForOneInstrument
      parameters:
        - name: AccountKey
          in: query
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: AssetType
          in: path
          description: The  of the instrument to get.
          required: true
          style: simple
          schema:
            $ref: '#/components/schemas/AssetType'
          example: FxSpot
        - name: ClientKey
          in: query
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
        - name: FieldGroups
          in: query
          description: Specifies comma-separated list of additional fields to receive.
          style: form
          explode: false
          schema:
            title: Specifies comma-separated list of additional fields to receive.
            type: array
            items:
              $ref: '#/components/schemas/InstrumentFieldGroup'
          example:
            - Popularity
        - name: Uic
          in: path
          description: The Universal Instrument Code (UIC) of the instrument to get.
          required: true
          style: simple
          schema:
            minimum: 1
            type: integer
            format: int32
            x-type-name: Uic
          example: 22
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentDetails'
              example:
                AmountDecimals: 0
                AssetType: FxSpot
                CurrencyCode: AUD
                DefaultAmount: 100000
                DefaultSlippage: 0.01
                DefaultSlippageType: Percentage
                Description: British Pound/Australian Dollar
                Exchange:
                  CountryCode: DK
                  ExchangeId: SBFX
                  Name: Inter Bank
                ExerciseCutOffTime: '00:00:00'
                Format:
                  Decimals: 4
                  Format: AllowDecimalPips
                  OrderDecimals: 4
                FxForwardMaxForwardDate: '2018-05-08T00:00:00Z'
                FxForwardMinForwardDate: '2017-05-03T00:00:00Z'
                GroupId: 0
                IncrementSize: 5000
                IpoDetails:
                  Denominations:
                    - 100
                    - 200
                    - 500
                IsTradable: true
                MinimumTradeSize: 1000
                NonTradableReason: None
                OrderDistances:
                  EntryDefaultDistance: 0
                  EntryDefaultDistanceType: Percentage
                  LimitDefaultDistance: 0
                  LimitDefaultDistanceType: Percentage
                  StopLimitDefaultDistance: 5
                  StopLimitDefaultDistanceType: Pips
                  StopLossDefaultDistance: 0.5
                  StopLossDefaultDistanceType: Percentage
                  StopLossDefaultEnabled: false
                  StopLossDefaultOrderType: Stop
                  TakeProfitDefaultDistance: 0.5
                  TakeProfitDefaultDistanceType: Percentage
                  TakeProfitDefaultEnabled: false
                SettlementStyle: PhysicalDelivery
                ShortTradeDisabled: true
                StandardAmounts:
                  - 10000
                  - 50000
                  - 100000
                  - 250000
                  - 500000
                  - 1000000
                  - 2000000
                  - 5000000
                  - 10000000
                  - 20000000
                SupportedOrderTypes:
                  - Market
                  - Limit
                  - Stop
                  - TrailingStop
                  - StopLimit
                Symbol: GBPAUD
                TickSize: 5E-05
                TradableAs:
                  - FxSpot
                  - FxForwards
                  - FxVanillaOption
                  - FxKnockInOption
                  - FxKnockOutOption
                TradableOn:
                  - 76940INET
                  - 76940INET1
                  - 76940INET2
                  - SAMGS*585220
                TradingStatus: NotDefined
                Uic: 22
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidAssetType
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidAssetType: Invalid AssetType specified.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  /ref/v1/instruments/details:
    get:
      tags:
        - Instruments
      summary: Get detailed information for list of instruments
      description: Use this operation to retrieve detailed information a list of instruments.
      operationId: InstrumentsV1GetDetailsForManyInstruments
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          style: form
          explode: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int32
            default: 50
          example: 1
        - name: AccountKey
          in: query
          description: 'If specified, access permissions to instruments for the specified account will be evaluated. Optional.'
          style: form
          explode: false
          schema:
            title: 'If specified, access permissions to instruments for the specified account will be evaluated. Optional.'
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: AssetTypes
          in: query
          description: 'Comma separated list of one or more asset types to search for. E.g. AssetTypes=FxSpot,Stock'
          style: form
          explode: false
          schema:
            title: 'Comma separated list of one or more asset types to search for. E.g. AssetTypes=FxSpot,Stock'
            type: array
            items:
              $ref: '#/components/schemas/AssetType'
          example:
            - FxKnockInOption
        - name: FieldGroups
          in: query
          description: Specifies comma-separated list of additional fields to receive.
          style: form
          explode: false
          schema:
            title: Specifies comma-separated list of additional fields to receive.
            type: array
            items:
              $ref: '#/components/schemas/InstrumentFieldGroup'
          example:
            - Popularity
        - name: Tags
          in: query
          description: "Allows filtering by display hint, on Stocks, ETFs and ETCs are currently supported.\n            Use null to indicate Tag should not be included in search criteria.\n            Currently only one tag is supported."
          style: form
          explode: false
          schema:
            title: "Allows filtering by display hint, on Stocks, ETFs and ETCs are currently supported.\n            Use null to indicate Tag should not be included in search criteria.\n            Currently only one tag is supported."
            type: array
            items:
              type: string
              example: stringValue
          example:
            - stringValue
        - name: Uics
          in: query
          description: Limit list to return information for the following Uics
          style: form
          explode: false
          schema:
            title: Limit list to return information for the following Uics
            type: array
            items:
              type: integer
              format: int32
              example: 99
          example:
            - 99
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentDetailsListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                  - AmountDecimals: 0
                    AssetType: FxSpot
                    CurrencyCode: AUD
                    DefaultAmount: 100000
                    DefaultSlippage: 0.01
                    DefaultSlippageType: Percentage
                    Description: British Pound/Australian Dollar
                    Exchange:
                      CountryCode: DK
                      ExchangeId: SBFX
                      Name: Inter Bank
                    Format:
                      Decimals: 4
                      Format: AllowDecimalPips
                      OrderDecimals: 4
                    FxForwardMaxForwardDate: '2018-05-08T00:00:00Z'
                    FxForwardMinForwardDate: '2017-05-03T00:00:00Z'
                    GroupId: 0
                    IncrementSize: 5000
                    IsTradable: true
                    NonTradableReason: None
                    OrderDistances:
                      EntryDefaultDistance: 0
                      EntryDefaultDistanceType: Percentage
                      LimitDefaultDistance: 0
                      LimitDefaultDistanceType: Percentage
                      StopLimitDefaultDistance: 5
                      StopLimitDefaultDistanceType: Pips
                      StopLossDefaultDistance: 0.5
                      StopLossDefaultDistanceType: Percentage
                      StopLossDefaultEnabled: false
                      StopLossDefaultOrderType: Stop
                      TakeProfitDefaultDistance: 0.5
                      TakeProfitDefaultDistanceType: Percentage
                      TakeProfitDefaultEnabled: false
                    StandardAmounts:
                      - 10000
                      - 50000
                      - 100000
                      - 250000
                      - 500000
                      - 1000000
                      - 2000000
                      - 5000000
                      - 10000000
                      - 20000000
                    SupportedOrderTypes:
                      - Market
                      - Limit
                      - Stop
                      - TrailingStop
                      - StopLimit
                    Symbol: GBPAUD
                    TickSize: 5E-05
                    TradableAs:
                      - FxSpot
                      - FxForwards
                      - FxVanillaOption
                      - FxKnockInOption
                      - FxKnockOutOption
                    TradableOn:
                      - 76940INET
                      - 76940INET1
                      - 76940INET2
                      - SAMGS*585220
                    TradingStatus: NotDefined
                    Uic: 22
                  - AmountDecimals: 0
                    AssetType: FxSpot
                    CurrencyCode: CAD
                    DefaultAmount: 100000
                    DefaultSlippage: 0.01
                    DefaultSlippageType: Percentage
                    Description: British Pound/Canadian Dollar
                    Exchange:
                      CountryCode: DK
                      ExchangeId: SBFX
                      Name: Inter Bank
                    Format:
                      Decimals: 4
                      Format: AllowDecimalPips
                      OrderDecimals: 4
                    FxForwardMaxForwardDate: '2018-05-07T00:00:00Z'
                    FxForwardMinForwardDate: '2017-05-02T00:00:00Z'
                    GroupId: 0
                    IncrementSize: 5000
                    IsTradable: true
                    NonTradableReason: None
                    OrderDistances:
                      EntryDefaultDistance: 0
                      EntryDefaultDistanceType: Percentage
                      LimitDefaultDistance: 0
                      LimitDefaultDistanceType: Percentage
                      StopLimitDefaultDistance: 5
                      StopLimitDefaultDistanceType: Pips
                      StopLossDefaultDistance: 0.5
                      StopLossDefaultDistanceType: Percentage
                      StopLossDefaultEnabled: false
                      StopLossDefaultOrderType: Stop
                      TakeProfitDefaultDistance: 0.5
                      TakeProfitDefaultDistanceType: Percentage
                      TakeProfitDefaultEnabled: false
                    StandardAmounts:
                      - 10000
                      - 50000
                      - 100000
                      - 250000
                      - 500000
                      - 1000000
                      - 2000000
                      - 5000000
                      - 10000000
                      - 20000000
                    SupportedOrderTypes:
                      - Market
                      - Limit
                      - Stop
                      - TrailingStop
                      - StopLimit
                    Symbol: GBPCAD
                    TickSize: 5E-05
                    TradableAs:
                      - FxSpot
                      - FxForwards
                      - FxVanillaOption
                      - FxKnockInOption
                      - FxKnockOutOption
                    TradableOn:
                      - 76940INET
                      - 76940INET1
                      - 76940INET2
                      - SAMGS*585220
                    TradingStatus: NotDefined
                    Uic: 23
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidSearchCriteriaProvided
                      - NoSearchCriteriaProvided
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoSearchCriteriaProvided: No search criteria provided.
                      InvalidSearchCriteriaProvided: Invalid instrument search criteria provided.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
  /ref/v1/instruments:
    get:
      tags:
        - Instruments
      summary: Search for instruments or contract option roots
      description: "Returns a list of summary information for all instruments and options on the Saxo Trading platform restricted by the access rights of the user.\n            \n\n            The resource serves as the starting point for an application/user who wants to navigate the available universe of instruments and options.\n            Each entry therefore contains further references to instrument details or option roots, where the application can get further information about these entities.\n\nThis endpoint supports OData query operators: $top and $skip."
      operationId: InstrumentsV1GetSummaries
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          style: form
          explode: false
          schema:
            maximum: 1000
            minimum: 0
            type: integer
            format: int32
            default: 50
          example: 1
        - name: AccountKey
          in: query
          description: 'If specified, access permissions to instruments for the specified account will be evaluated. Optional.'
          style: form
          explode: false
          schema:
            title: 'If specified, access permissions to instruments for the specified account will be evaluated. Optional.'
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: 01b64edf-da03-4145-bf33-ae21527d4c86
        - name: AssetTypes
          in: query
          description: 'Comma separated list of one or more asset types to search for. E.g. AssetTypes=FxSpot,Stock'
          style: form
          explode: false
          schema:
            title: 'Comma separated list of one or more asset types to search for. E.g. AssetTypes=FxSpot,Stock'
            type: array
            items:
              $ref: '#/components/schemas/AssetType'
          example:
            - FxKnockInOption
        - name: CanParticipateInMultiLegOrder
          in: query
          description: 'Should the result only include option roots that allow/disallow exchange traded option strategies, also know as multi-leg or combination orders. All roots are returned regardless if omitted.'
          style: form
          explode: false
          schema:
            title: 'Should the result only include option roots that allow/disallow exchange traded option strategies, also know as multi-leg or combination orders. All roots are returned regardless if omitted.'
            type: boolean
          example: true
        - name: Class
          in: query
          description: The class of the instruments to include in the search.
          style: form
          explode: false
          schema:
            title: The class of the instruments to include in the search.
            type: array
            items:
              $ref: '#/components/schemas/Class'
          example:
            - Complex
        - name: ExchangeId
          in: query
          description: ID of the exchange that the instruments must match.
          style: form
          explode: false
          schema:
            title: ID of the exchange that the instruments must match.
            type: string
          example: stringValue
        - name: IncludeNonTradable
          in: query
          description: 'Should the search include instruments, which are not online client tradable?'
          style: form
          explode: false
          schema:
            title: 'Should the search include instruments, which are not online client tradable?'
            type: boolean
          example: true
        - name: Keywords
          in: query
          description: Search for matching keywords in the instruments. Separate keywords with spaces.
          style: form
          explode: false
          schema:
            title: Search for matching keywords in the instruments. Separate keywords with spaces.
            type: string
          example: stringValue
        - name: OneMonthTotalValueChangesFrom
          in: query
          description: "Subject to data license agreements.\n             Upper filter boundary for one month total value changes that the instruments must match."
          style: form
          explode: false
          schema:
            title: "Subject to data license agreements.\n             Upper filter boundary for one month total value changes that the instruments must match."
            type: number
          example: 10
        - name: OneMonthTotalValueChangesTo
          in: query
          description: "Subject to data license agreements.\n             Lower filter boundary for one month total value changes that the instruments must match."
          style: form
          explode: false
          schema:
            title: "Subject to data license agreements.\n             Lower filter boundary for one month total value changes that the instruments must match."
            type: number
          example: 10
        - name: OneWeekTotalValueChangesFrom
          in: query
          description: "Subject to data license agreements.\n             Upper filter boundary for one week total value changes that the instruments must match."
          style: form
          explode: false
          schema:
            title: "Subject to data license agreements.\n             Upper filter boundary for one week total value changes that the instruments must match."
            type: number
          example: 10
        - name: OneWeekTotalValueChangesTo
          in: query
          description: "Subject to data license agreements.\n             Lower filter boundary for one week total value changes that the instruments must match."
          style: form
          explode: false
          schema:
            title: "Subject to data license agreements.\n             Lower filter boundary for one week total value changes that the instruments must match."
            type: number
          example: 10
        - name: OneYearTotalValueChangesFrom
          in: query
          description: "Subject to data license agreements.\n             Upper filter boundary for one year total value changes that the instruments must match."
          style: form
          explode: false
          schema:
            title: "Subject to data license agreements.\n             Upper filter boundary for one year total value changes that the instruments must match."
            type: number
          example: 10
        - name: OneYearTotalValueChangesTo
          in: query
          description: "Subject to data license agreements.\n             Lower filter boundary for one year total value changes that the instruments must match."
          style: form
          explode: false
          schema:
            title: "Subject to data license agreements.\n             Lower filter boundary for one year total value changes that the instruments must match."
            type: number
          example: 10
        - name: Tags
          in: query
          description: "Allows filtering by display hint, on Stocks, ETFs and ETCs are currently supported.\n            Use null to indicate Tag should not be included in search criteria.\n            Currently only one tag is supported."
          style: form
          explode: false
          schema:
            title: "Allows filtering by display hint, on Stocks, ETFs and ETCs are currently supported.\n            Use null to indicate Tag should not be included in search criteria.\n            Currently only one tag is supported."
            type: array
            items:
              type: string
              example: stringValue
          example:
            - stringValue
        - name: Uics
          in: query
          description: Limit list to return information for the following Uics
          style: form
          explode: false
          schema:
            title: Limit list to return information for the following Uics
            type: array
            items:
              type: integer
              format: int32
              example: 99
          example:
            - 99
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryInfoListResult'
              example:
                __next: /openapi/....../?$top=1&$skip=1
                Data:
                  - AssetType: CfdOnFutures
                    Description: US Crude June 2017
                    ExchangeId: ''
                    GroupId: 0
                    Identifier: 6456061
                    IsKeywordMatch: true
                    PrimaryListing: 6456061
                    SummaryType: Instrument
                    Symbol: OILUSJUN17
                    TradableAs:
                      - CfdOnFutures
                  - AssetType: CfdOnFutures
                    Description: US Crude July 2017
                    ExchangeId: ''
                    GroupId: 0
                    Identifier: 6665418
                    IsKeywordMatch: true
                    PrimaryListing: 6456061
                    SummaryType: Instrument
                    Symbol: OILUSJUL17
                    TradableAs:
                      - CfdOnFutures
                  - AssetType: CfdOnFutures
                    Description: Heating Oil June 2017
                    ExchangeId: ''
                    GroupId: 0
                    Identifier: 6559778
                    IsKeywordMatch: true
                    PrimaryListing: 6559778
                    SummaryType: Instrument
                    Symbol: HEATINGOILJUN17
                    TradableAs:
                      - CfdOnFutures
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AssetTypesParseFailed
                      - InvalidSearchCriteriaProvided
                      - NoSearchCriteriaProvided
                    type: string
                    example: None
                    x-enum-descriptions:
                      NoSearchCriteriaProvided: No search criteria provided.
                      InvalidSearchCriteriaProvided: Invalid instrument search criteria provided.
                      AssetTypesParseFailed: Failed to parse AssetTypes.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        restricted: Read
components:
  schemas:
    AssetType:
      title: The possible AssetTypes for which you can get a quote or place an order or a trade.
      enum:
        - Bond
        - Cash
        - CertificateBonus
        - CertificateCappedBonus
        - CertificateCappedCapitalProtected
        - CertificateCappedOutperformance
        - CertificateConstantLeverage
        - CertificateDiscount
        - CertificateExpress
        - CertificateTracker
        - CertificateUncappedCapitalProtection
        - CertificateUncappedOutperformance
        - CfdIndexOption
        - CfdOnCompanyWarrant
        - CfdOnEtc
        - CfdOnEtf
        - CfdOnEtn
        - CfdOnFund
        - CfdOnFutures
        - CfdOnIndex
        - CfdOnRights
        - CfdOnStock
        - CompanyWarrant
        - ContractFutures
        - Etc
        - Etf
        - Etn
        - Fund
        - FuturesOption
        - FuturesStrategy
        - FxBinaryOption
        - FxForwards
        - FxKnockInOption
        - FxKnockOutOption
        - FxNoTouchOption
        - FxOneTouchOption
        - FxSpot
        - FxVanillaOption
        - GuaranteeNote
        - IpoOnStock
        - ManagedFund
        - MiniFuture
        - MutualFund
        - PortfolioNote
        - Rights
        - SrdOnEtf
        - SrdOnStock
        - Stock
        - StockIndex
        - StockIndexOption
        - StockOption
        - Warrant
        - WarrantDoubleKnockOut
        - WarrantKnockOut
        - WarrantOpenEndKnockOut
        - WarrantSpread
      type: string
      example: FxForwards
      x-enum-descriptions:
        FxSpot: Forex Spot.
        FxForwards: Forex Forward.
        FxVanillaOption: Forex Vanilla Option.
        FxKnockInOption: Forex Knock In Option.
        FxKnockOutOption: Forex Knock Out Option.
        FxBinaryOption: Forex Binary Option.
        FxOneTouchOption: Forex One Touch Option.
        FxNoTouchOption: Forex No Touch Option.
        ContractFutures: Contract Futures.
        FuturesStrategy: Futures Strategy.
        Stock: Stock.
        StockOption: Stock Option.
        Bond: Bond.
        FuturesOption: Futures Option.
        StockIndexOption: Stock Index Option.
        ManagedFund: 'Obsolete: Managed Fund.'
        Cash: Cash. Not tradeable!
        CfdOnStock: Cfd on Stock.
        CfdOnIndex: Cfd on Stock Index.
        CfdOnFutures: Cfd on Futures.
        StockIndex: Stock Index.
        MutualFund: Mutual Fund.
        CfdIndexOption: Cfd Index Option.
        CfdOnEtf: Cfd on Etf
        CfdOnEtc: Cfd on Etc
        CfdOnEtn: Cfd on Etn
        CfdOnFund: Cfd on Fund
        CfdOnRights: Cfd on Rights
        CfdOnCompanyWarrant: Cfd on unlisted warrant issued by a corporation.
        Etf: Exchange traded fund.
        Etc: Etc
        Etn: Etn
        Fund: Fund
        Rights: Rights
        Warrant: Warrant
        MiniFuture: MiniFuture.
        WarrantSpread: Warrant with built-in spread.
        WarrantKnockOut: Warrant with a knock-out barrier.
        WarrantOpenEndKnockOut: Knock-out Warrant with no expiry.
        WarrantDoubleKnockOut: Warrant with two knock-out barriers.
        CertificateUncappedCapitalProtection: Guarantees a percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateCappedCapitalProtected: Guarantees a capped percentage increase of the underlying asset's value above the issue price at expiry/maturity. Max loss is the amount invested multiplied by the CapitalProtection percentage.
        CertificateDiscount: 'Yields a capped return if the underlying asset''s value is above the specified cap level at expiry. If the underlying''s value is below the strike at expiry, the investor received the underlying or equivalent value. Offers direct exposure in underlying at a lower price (discount) with a capped potential profit and limited loss.'
        CertificateCappedOutperformance: Capped Outperformance Certificate.
        CertificateCappedBonus: Certificate Capped Bonus.
        CertificateExpress: Certificate Express kick out.
        CertificateTracker: A certificate that mirrors the price movement of the underlying instrument. Often used to trade movements in indicies. Movements can be a fixed ratio of the underlying and can be inverted for bearish/short speculation. Risk is equivalent to owning the underlying.
        CertificateUncappedOutperformance: 'Provides leveraged returns when the underlying price exceeds the threshold strike price. The amount leverage is defined by the Participation %. When the underlying is below the strike price, the certificate mirrors the underlying price 1:1.'
        CertificateBonus: 'Mirrors the price movement of the underlying only if and when the underlying price exceeds the defined barrier. If the certificate expires below the barrier, it offers partial protection/return of investment.'
        CertificateConstantLeverage: Certificate Constant Leverage.
        SrdOnStock: SRD. (Service de Règlement Différé) on Stock.
        SrdOnEtf: SRD. (Service de Règlement Différé) on Etf.
        IpoOnStock: IPO on Stock
        CompanyWarrant: 'Unlisted warrant issued by a corporation, often physically settled.'
        PortfolioNote: Danish pooled investment scheme (“Pulje”). Not online tradeable.
        GuaranteeNote: Danish investment scheme (“Grantbevis”). Not online tradeable.
    BondType:
      title: Enum to identify the type of bond
      enum:
        - Convertible
        - DualCurrency
        - FloatingRateNote
        - InflationLinked
        - NonInflationLinked
        - Perpetual
      type: string
      example: NonInflationLinked
      x-enum-descriptions:
        NonInflationLinked: Non Inflation Linked Bond
        InflationLinked: Inflation Linked Bond
        Convertible: Convertible Bond
        Perpetual: Perpetual Bond
        FloatingRateNote: FloatingRateNote Bond
        DualCurrency: DualCurrency Bond
    BondsCouponType:
      title: The possible coupon types of a bond.
      enum:
        - Fixed
        - None
        - Other
        - Variable
      type: string
      example: None
      x-enum-descriptions:
        None: None.
        Fixed: Fixed.
        Variable: Variable.
        Other: Other.
    BuySell:
      title: "BuySell indicator \n            Note: Values are *NOT* identical to the values of the _BuySellTypes defined in ClmTradeEnums.idl\n            If we should align this then we should coordinate with web trader which have taken a dependency on the \n            actual values of this enum."
      enum:
        - Buy
        - Sell
      type: string
      example: Sell
      x-enum-descriptions:
        Buy: Buy
        Sell: Sell
    Class:
      title: Contains instrument class filter flags
      enum:
        - Complex
        - NonComplex
      type: string
      example: NonComplex
      x-enum-descriptions:
        NonComplex: Non-complex
        Complex: Complex
    ContractOption:
      title: 'Information about a specific option entry, where the expiration date is given by the enclosing ContractOptionEntry'
      type: object
      properties:
        PutCall:
          title: Put or Call option
          allOf:
            - $ref: '#/components/schemas/Public.PutCall'
        StrikePrice:
          title: The strike price
          type: number
          example: 10
        TradingStatus:
          title: The trading status of the Contract option
          allOf:
            - $ref: '#/components/schemas/TradingStatus'
        Uic:
          title: 'The uic of this particular Option with expiry determined by parent structure, and strike and put/call as specified by the entry'
          type: integer
          format: int32
          example: 99
        UnderlyingUic:
          title: Uic of the underlying instrument for this particular option
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        PutCall: Call
        StrikePrice: 12750
        TradingStatus: NotDefined
        Uic: 6507156
        UnderlyingUic: 1907570
    ContractOptionEntry:
      title: Describes one specific option related to an option root.
      type: object
      properties:
        DisplayDaysToExpiry:
          title: The days to expiry to use for display purposes.
          type: integer
          format: int32
          example: 99
        DisplayDaysToLastTradeDate:
          title: The days to Last Trade to use for display purposes.
          type: integer
          format: int32
          example: 99
        DisplayExpiry:
          title: The expiry date to use for display purposes.
          type: string
          format: date
          x-type-name: Date
        Expiry:
          title: The Expiry Date
          type: string
          format: date
          x-type-name: Date
        LastTradeDate:
          title: The Last Trade Date
          type: string
          format: date-time
          x-type-name: UtcDateTime
        SpecificOptions:
          title: "List of specific options for the specified expiry date.\n            This array will only be available for the dates specified in the request (OptionSpace, ExpiryDates)"
          type: array
          items:
            $ref: '#/components/schemas/ContractOption'
          example:
            - PutCall: Call
              StrikePrice: 12750
              TradingStatus: NotDefined
              Uic: 6507156
              UnderlyingUic: 1907570
        TickSizeScheme:
          title: The current tick size scheme of the expiry group.
          allOf:
            - $ref: '#/components/schemas/TickSizeScheme'
      additionalProperties: false
      example:
        DisplayDaysToExpiry: 34
        DisplayDaysToLastTradeDate: 0
        DisplayExpiry: '2017-06-01'
        Expiry: '2017-06-16'
        LastTradeDate: '0001-01-01T00:00:00.0000000+00:00'
        SpecificOptions:
          - PutCall: Call
            StrikePrice: 13500
            TradingStatus: NotDefined
            Uic: 6608098
            UnderlyingUic: 1907570
          - PutCall: Put
            StrikePrice: 13500
            TradingStatus: NotDefined
            Uic: 6608101
            UnderlyingUic: 1907570
    ContractOptionSpace:
      title: Detailed information of all options related to a specific option root
      type: object
      properties:
        AmountDecimals:
          title: The trading amount supported decimals.
          type: integer
          format: int32
          example: 99
        AssetType:
          title: 'AssetType (Note: OptionRoots also have an asset type (FuturesOption, StockOption, StockIndexOption).'
          allOf:
            - $ref: '#/components/schemas/AssetType'
        CanParticipateInMultiLegOrder:
          title: 'True if this option root supports exchange traded option strategies, also know as multi-leg or combination orders.'
          type: boolean
          example: false
        ContractSize:
          title: No of units of the underlying instrument covered by one contract.
          type: number
          example: 10
        CurrencyCode:
          title: The ISO currency code of the instrument/symbol.
          type: string
          example: stringValue
        DefaultAmount:
          title: Default amount suggested for trading this Instrument
          type: number
          example: 10
        DefaultExpiry:
          title: OBSOLETE - The expiry date of the default option for this option space. DefaultExpiry will not be available from May-2019.
          type: string
          example: stringValue
          deprecated: true
        DefaultOption:
          title: OBSOLETE - The default option for this option space. DefaultOption will not be available from May-2019.
          allOf:
            - $ref: '#/components/schemas/ContractOption'
          deprecated: true
        Description:
          title: 'Description of Instrument (DAX Index - Nov 2013), in English.'
          type: string
          example: stringValue
        DisplayHint:
          title: Hint to the client application about how it should display the instrument.
          allOf:
            - $ref: '#/components/schemas/DisplayHintType'
        Exchange:
          title: "Information about the exchange where this instrument or the underlying instrument is traded.\n            \n\n*   For most instruments this is the exchange where this instrument is traded.\n*   For CFDs on stocks and futures, it is the exchange where the underlying instrument is traded.\n*   For CFDs on stock indices, it is the exchange of the underlying ticker."
          allOf:
            - $ref: '#/components/schemas/ExchangeSummary'
        ExerciseStyle:
          title: 'The style of exercise, can be either American or European.'
          allOf:
            - $ref: '#/components/schemas/ExerciseStyle'
        ExpiryDate:
          title: 'Expiry date of the instrument. Applicable for Types: Futures, CfdOnFutures, ContractOptions'
          type: string
          description: 'Applicable for Types: Futures, CfdOnFutures, ContractOptions'
          format: date
          x-type-name: Date
        Format:
          title: Price formatting information
          allOf:
            - $ref: '#/components/schemas/PriceDisplayFormat'
        GroupId:
          title: The GroupId value is used to group and structure instruments list. 0 is being used for ungrouped data.
          type: integer
          format: int32
          example: 99
        IncrementSize:
          title: The rate at which price should be incremented when done in steps.
          type: number
          example: 10
        IsComplex:
          title: Is the instrument (complex)?
          type: boolean
          example: false
        IsTradable:
          title: Is the instrument (currently) tradable by the user represented in the API token?
          type: boolean
          example: false
        LotSize:
          title: 'The LotSize, how many contracts in a lot traded?.'
          type: number
          example: 10
        LotSizeType:
          title: Lotsize Type.
          allOf:
            - $ref: '#/components/schemas/LotSizeType'
          description: 'Applicable for Types: Shares, CfdOnFutures, ContractOptions'
        MinimumLotSize:
          title: The minimum number of items of the instrument to buy. Stock and CFDs only.
          type: number
          description: 'Since this is only pertinent to CFDs and stocks, it should be moved to those subclasses, even though the value is defined for all instrument types. Or is it?'
          example: 10
        MinimumOrderValue:
          title: 'Minimum value for each order. Applicable for Types: Shares, CfdOnFutures'
          type: number
          description: Value of trade (Amount * Price) must be greater than or equal to
          example: 10
        NoticeDate:
          title: Notice date of the instrument. Futures only.
          type: string
          description: 'Applicable for Types: Futures'
          format: date
          x-type-name: Date
        OptionRootId:
          title: Id of OptionRoot
          type: integer
          format: int32
          example: 99
        OptionSpace:
          title: List containing entries for each individual option.
          type: array
          items:
            $ref: '#/components/schemas/ContractOptionEntry'
          example:
            - DisplayDaysToExpiry: 34
              DisplayDaysToLastTradeDate: 0
              DisplayExpiry: '2017-06-01'
              Expiry: '2017-06-16'
              LastTradeDate: '0001-01-01T00:00:00Z'
              SpecificOptions:
                - PutCall: Call
                  StrikePrice: 13500
                  TradingStatus: NotDefined
                  Uic: 6608098
                  UnderlyingUic: 1907570
                - PutCall: Put
                  StrikePrice: 13500
                  TradingStatus: NotDefined
                  Uic: 6608101
                  UnderlyingUic: 1907570
        OrderDistances:
          title: Minimal order distances for each order type.
          allOf:
            - $ref: '#/components/schemas/OrderDistances'
        PriceCurrency:
          title: Price currency of the instrument.
          type: string
          example: stringValue
        PriceToContractFactor:
          title: 'Price to contract factor. Applicable for Types: Futures, CfdOnFutures, ContractOptions, CfdIndices.'
          type: number
          description: 'Applicable for Types: Futures, CfdOnFutures, ContractOptions, CfdIndices'
          example: 10
        PrimaryListing:
          title: "The uic of the primary listing of this instrument.\n            For stocks and CFDs, this is the instrument traded on the exchange of the same country as issuer country.\n            For expiring instruments, this is the next expiring instance."
          type: integer
          format: int32
          example: 99
        RelatedInstruments:
          title: List of related UICs and asset types.
          type: array
          items:
            $ref: '#/components/schemas/InstrumentKey'
          example:
            - AssetType: MutualFund
              Uic: 99
        RelatedOptionRoots:
          title: OBSOLETE. Please use RelatedOptionRootsEnhanced instead. This field will be removed from December 2020.
          type: array
          items:
            type: integer
            format: int32
            example: 99
          example:
            - 99
          deprecated: true
        RelatedOptionRootsEnhanced:
          title: List of related Option root id's combined with asset type.
          type: array
          items:
            $ref: '#/components/schemas/RelatedOptionRoot'
          example:
            - AssetType: CfdOnEtf
              OptionRootId: 99
              SupportedStrategies:
                - Diagonal
        SettlementStyle:
          title: 'The style of settlement, e.g. cash or physical delivery.'
          allOf:
            - $ref: '#/components/schemas/SettlementStyle'
        StandardAmounts:
          title: Standard amounts. Used for drop downs in trade tickets.
          type: array
          items:
            type: number
            example: 10
          example:
            - 10
        SupportedOrderTypes:
          title: What types of orders can be placed on this instrument ( or option)
          type: array
          items:
            $ref: '#/components/schemas/PlaceableOrderType'
          example:
            - TrailingStopIfTraded
        SupportedStrategies:
          title: Supported strategies for option root.
          type: array
          items:
            $ref: '#/components/schemas/OptionsStrategyType'
          example:
            - BackRatio
        Symbol:
          title: Symbol- A combination of letters used to uniquely identify a traded instrument. e.g. ODAX/X13C8950:xeur or EURUSD.
          type: string
          example: stringValue
        TickSize:
          title: Minimum price movement of an instrument.
          type: number
          example: 10
        TradableOn:
          title: Specifies what accounts the calling client can trade this instrument or option space on.
          type: array
          items:
            type: string
            example: stringValue
          example:
            - stringValue
        UnderlyingAssetType:
          title: The asset type of the underlying instrument.
          allOf:
            - $ref: '#/components/schemas/AssetType'
      additionalProperties: false
      example:
        AmountDecimals: 0
        AssetType: StockIndexOption
        CanParticipateInMultiLegOrder: true
        ContractSize: 5
        CurrencyCode: EUR
        DefaultAmount: 1
        Description: DAX Index
        Exchange:
          CountryCode: DE
          ExchangeId: EUREX
          Name: Eurex
          PriceSourceName: Eurex
        ExerciseStyle: European
        Format:
          Decimals: 2
          OrderDecimals: 2
          StrikeDecimals: 2
        GroupId: 0
        IncrementSize: 1
        IsTradable: true
        LotSize: 1
        LotSizeType: OddLotsNotAllowed
        OptionRootId: 6
        OptionSpace:
          - DisplayDaysToExpiry: 3
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2017-05-01'
            Expiry: '2017-05-19'
            LastTradeDate: '0001-01-01T00:00:00Z'
          - DisplayDaysToExpiry: 34
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2017-06-01'
            Expiry: '2017-06-16'
            LastTradeDate: '0001-01-01T00:00:00Z'
            SpecificOptions:
              - PutCall: Call
                StrikePrice: 13500
                TradingStatus: NotDefined
                Uic: 6608098
                UnderlyingUic: 1907570
              - PutCall: Put
                StrikePrice: 13500
                TradingStatus: NotDefined
                Uic: 6608101
                UnderlyingUic: 1907570
              - PutCall: Call
                StrikePrice: 12750
                TradingStatus: NotDefined
                Uic: 6507156
                UnderlyingUic: 1907570
              - PutCall: Call
                StrikePrice: 12900
                TradingStatus: NotDefined
                Uic: 6507157
                UnderlyingUic: 1907570
              - PutCall: Call
                StrikePrice: 12950
                TradingStatus: NotDefined
                Uic: 6507158
                UnderlyingUic: 1907570
          - DisplayDaysToExpiry: 126
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2017-09-01'
            Expiry: '2017-09-15'
            LastTradeDate: '0001-01-01T00:00:00Z'
          - DisplayDaysToExpiry: 217
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2017-12-01'
            Expiry: '2017-12-15'
            LastTradeDate: '0001-01-01T00:00:00Z'
          - DisplayDaysToExpiry: 307
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2018-03-01'
            Expiry: '2018-03-16'
            LastTradeDate: '0001-01-01T00:00:00Z'
          - DisplayDaysToExpiry: 399
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2018-06-01'
            Expiry: '2018-06-15'
            LastTradeDate: '0001-01-01T00:00:00Z'
          - DisplayDaysToExpiry: 582
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2018-12-01'
            Expiry: '2018-12-21'
            LastTradeDate: '0001-01-01T00:00:00Z'
          - DisplayDaysToExpiry: 764
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2019-06-01'
            Expiry: '2019-06-21'
            LastTradeDate: '0001-01-01T00:00:00Z'
          - DisplayDaysToExpiry: 947
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2019-12-01'
            Expiry: '2019-12-20'
            LastTradeDate: '0001-01-01T00:00:00Z'
          - DisplayDaysToExpiry: 1313
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2020-12-01'
            Expiry: '2020-12-18'
            LastTradeDate: '0001-01-01T00:00:00Z'
          - DisplayDaysToExpiry: 1678
            DisplayDaysToLastTradeDate: 0
            DisplayExpiry: '2021-12-01'
            Expiry: '2021-12-17'
            LastTradeDate: '0001-01-01T00:00:00Z'
        OrderDistances:
          EntryDefaultDistance: 0
          EntryDefaultDistanceType: Percentage
          LimitDefaultDistance: 0
          LimitDefaultDistanceType: Percentage
          StopLimitDefaultDistance: 5
          StopLimitDefaultDistanceType: Pips
          StopLossDefaultDistance: 0.5
          StopLossDefaultDistanceType: Percentage
          StopLossDefaultEnabled: false
          StopLossDefaultOrderType: Stop
          TakeProfitDefaultDistance: 0.5
          TakeProfitDefaultDistanceType: Percentage
          TakeProfitDefaultEnabled: false
        PriceToContractFactor: 5
        RelatedInstruments:
          - AssetType: StockIndex
            Uic: 1907570
        RelatedOptionRootsEnhanced:
          - AssetType: StockIndexOption
            OptionRootId: 110
          - AssetType: StockOption
            OptionRootId: 111
          - AssetType: StockOption
            OptionRootId: 112
        SettlementStyle: CashDelivery
        StandardAmounts:
          - 1
          - 5
          - 10
          - 25
          - 50
          - 100
          - 500
          - 1000
        SupportedOrderTypes:
          - Limit
        Symbol: ODAX:xeur
        TickSize: 0.1
        TradableOn:
          - 76940INET
          - 76940INET1
          - 76940INET2
        UnderlyingAssetType: StockIndex
    CountryDetails:
      title: Represents a country.
      type: object
      properties:
        A3:
          title: 3-letter ISO-3166 country code.
          type: string
          example: stringValue
        CountryCode:
          title: 2-letter ISO-3166 country code. (Also called A2 in ISO 3166 standard).
          type: string
          example: stringValue
        DisplayName:
          title: Name of the country in the language selected by the user.
          type: string
          example: stringValue
        Name:
          title: Name of the country in English.
          type: string
          example: stringValue
        Numeric:
          title: Numeric country code.
          type: integer
          format: int32
          example: 99
      additionalProperties: false
      example:
        A3: stringValue
        CountryCode: stringValue
        DisplayName: stringValue
        Name: stringValue
        Numeric: 99
    CountryDetailsListResult:
      type: object
      properties:
        Data:
          type: array
          items:
            $ref: '#/components/schemas/CountryDetails'
          description: The collection of entities for this feed.
        MaxRows:
          type: number
          description: The maximum number of rows that can be returned (if applicable).
        __count:
          type: number
          description: The total count of items in the feed.
        __next:
          type: string
          description: The link for the next page of items in the feed.
      additionalProperties: false
      example:
        Data:
          - A3: BOL
            CountryCode: BO
            Name: Bolivia
            Numeric: 68
          - A3: BDI
            CountryCode: BI
            Name: Burundi
            Numeric: 108
          - A3: COG
            CountryCode: CG
            Name: Congo
            Numeric: 178
          - A3: DNK
            CountryCode: DK
            Name: Denmark
            Numeric: 208
          - A3: SLV
            CountryCode: SV
            Name: El Salvador
            Numeric: 222
          - A3: GNQ
            CountryCode: GQ
            Name: Equatorial Guinea
            Numeric: 226
          - A3: ERI
            CountryCode: ER
            Name: Eritrea
            Numeric: 232
          - A3: EST
            CountryCode: EE
            Name: Estonia
            Numeric: 233
          - A3: ETH
            CountryCode: ET
            Name: Ethiopia
            Numeric: 231
          - A3: DEU
            CountryCode: DE
            Name: Germany
            Numeric: 276
          - A3: GRD
            CountryCode: GD
            Name: Grenada
            Numeric: 308
          - A3: GLP
            CountryCode: GP
            Name: Guadeloupe
[...]
