openapi: 3.0.1
info:
  contact:
    email: openapisupport@saxobank.com  
  title: Services.Trading
  description: 'The Trading service group provides end points for setting up price and quote subscriptions, polling prices and placing orders and trades (positions).'
  version: 3.3.571+cf73bb0083
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  /trade/v1/infoprices:
    get:
      tags:
        - Info Prices
      summary: Get an info price for a specific instrument
      description: Gets an info price for an instrument using the specified parameters.
      operationId: InfoPricesV1GetInfoPriceAsync
      parameters:
        - name: AccountKey
          in: query
          description: "Unique key identifying the account used in retrieving the price.\r\n                Only required when calling context represents an authenticated user."
          schema:
            title: "Unique key identifying the account used in retrieving the price.\r\n                Only required when calling context represents an authenticated user."
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountKey
        - name: Amount
          in: query
          description: 'Order size, defaults to minimal order size for given instrument.'
          schema:
            title: 'Order size, defaults to minimal order size for given instrument.'
            allOf:
              - type: number
        - name: AmountType
          in: query
          schema:
            allOf:
              - $ref: '#/components/schemas/OrderAmountTypeNullable'
        - name: AssetType
          in: query
          description: The instrument's asset type
          required: true
          schema:
            title: The instrument's asset type
            allOf:
              - $ref: '#/components/schemas/AssetType'
        - name: ExpiryDate
          in: query
          description: Optional expiry date - only relevant for options
          schema:
            title: Optional expiry date - only relevant for options
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: FieldGroups
          in: query
          description: Specification of fields to return in results
          schema:
            title: Specification of fields to return in results
            type: array
            items:
              $ref: '#/components/schemas/InfoPriceGroupSpec'
        - name: ForwardDate
          in: query
          description: Forward date
          schema:
            title: Forward date
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: LowerBarrier
          in: query
          description: Lower barrier
          schema:
            title: Lower barrier
            allOf:
              - type: number
        - name: OrderAskPrice
          in: query
          description: Price when buying. Used when subscribing on a price to get a corresponsing cost of buying.
          schema:
            title: Price when buying. Used when subscribing on a price to get a corresponsing cost of buying.
            allOf:
              - type: number
        - name: OrderBidPrice
          in: query
          description: Price when selling. Used when subscribing on a price to get a corresponsing cost of buying.
          schema:
            title: Price when selling. Used when subscribing on a price to get a corresponsing cost of buying.
            allOf:
              - type: number
        - name: PutCall
          in: query
          description: Put/call of an Option.
          schema:
            title: Put/call of an Option.
            allOf:
              - $ref: '#/components/schemas/PutCallNullable'
        - name: QuoteCurrency
          in: query
          schema:
            allOf:
              - type: boolean
        - name: StrikePrice
          in: query
          description: Strike price
          schema:
            title: Strike price
            allOf:
              - type: number
        - name: ToOpenClose
          in: query
          schema:
            allOf:
              - $ref: '#/components/schemas/ToOpenCloseNullable'
        - name: Uic
          in: query
          description: Unique id of the instrument
          required: true
          schema:
            title: Unique id of the instrument
            type: integer
            format: int32
        - name: UpperBarrier
          in: query
          description: Upper barrier
          schema:
            title: Upper barrier
            allOf:
              - type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoPriceResponse'
              example:
                AssetType: FxSpot
                DisplayAndFormat:
                  Currency: AUD
                  Decimals: 4
                  Description: British Pound/Australian Dollar
                  Format: AllowDecimalPips
                  OrderDecimals: 4
                  Symbol: GBPAUD
                HistoricalChanges:
                  PercentChange1Month: 1.21
                  PercentChange2Months: 2.95
                  PercentChange3Months: 1.85
                  PercentChange6Months: -1.83
                  PercentChangeDaily: 0.22
                  PercentChangeWeekly: 1.67
                InstrumentPriceDetails:
                  IsMarketOpen: true
                  ShortTradeDisabled: false
                  ValueDate: '2016-09-06'
                LastUpdated: '0001-01-01T00:00:00.0000000+00:00'
                PriceInfo:
                  High: 1.09117
                  Low: 1.08853
                  NetChange: 0.00048
                  PercentChange: 0.04
                PriceInfoDetails:
                  AskSize: 1000000
                  BidSize: 1000000
                  LastClose: 1.08932
                  LastTraded: 0
                  LastTradedSize: 0
                  Open: 0
                  Volume: 0
                Quote:
                  Amount: 100000
                  Ask: 1.74948
                  Bid: 1.74858
                  DelayedByMinutes: 15
                  ErrorCode: None
                  Mid: 1.74903
                  PriceTypeAsk: Indicative
                  PriceTypeBid: Indicative
                Uic: 22
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotAllowed
                      - InstrumentTypeNotSupportedException
                      - InvalidPriceRequest
                      - InvalidUic
                      - Unknown
                    type: string
                    x-enum-descriptions:
                      Unknown: One or more of the provided parameters are invalid.
                      InstrumentNotAllowed: 'The account is not allowed to trade in or receive prices for the specified [AssetType]'
                      InstrumentTypeNotSupportedException: Unsupported instrument type.
                      InvalidUic: UIC is either invalid or not specified at all.
                      InvalidPriceRequest: Invalid price request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IllegalInstrumentId
                    type: string
                    x-enum-descriptions:
                      IllegalInstrumentId: Unknown instrument name
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /trade/v1/infoprices/list:
    get:
      tags:
        - Info Prices
      summary: Get info prices for a list of instruments
      description: Get a list of info prices for a list of instruments using the specified parameters.
      operationId: InfoPricesV1GetInfoPriceListAsync
      parameters:
        - name: AccountKey
          in: query
          description: "Unique key identifying the account used in retrieving the infoprice.\r\n                Only required when calling context represents an authenticated user.\r\n                If not supplied a default account is assumed."
          schema:
            title: "Unique key identifying the account used in retrieving the infoprice.\r\n                Only required when calling context represents an authenticated user.\r\n                If not supplied a default account is assumed."
            allOf:
              - minLength: 1
                type: string
                x-type-name: AccountKey
        - name: Amount
          in: query
          description: 'Order size, defaults to minimal order size for given instrument.'
          schema:
            title: 'Order size, defaults to minimal order size for given instrument.'
            allOf:
              - type: number
        - name: AmountType
          in: query
          schema:
            allOf:
              - $ref: '#/components/schemas/OrderAmountTypeNullable'
        - name: AssetType
          in: query
          description: The instrument's asset type
          required: true
          schema:
            title: The instrument's asset type
            allOf:
              - $ref: '#/components/schemas/AssetType'
        - name: ExpiryDate
          in: query
          description: Optional expiry date - only relevant for options
          schema:
            title: Optional expiry date - only relevant for options
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: FieldGroups
          in: query
          description: Specification of field groups to return in results. Default is "Quote"
          schema:
            title: Specification of field groups to return in results. Default is "Quote"
            type: array
            items:
              $ref: '#/components/schemas/InfoPriceGroupSpec'
        - name: ForwardDate
          in: query
          description: Forward date
          schema:
            title: Forward date
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: ForwardDateFarLeg
          in: query
          description: Forward date for far leg
          schema:
            title: Forward date for far leg
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: ForwardDateNearLeg
          in: query
          description: Forward date for near leg
          schema:
            title: Forward date for near leg
            allOf:
              - type: string
                format: date-time
                x-type-name: UtcDateTime
        - name: LowerBarrier
          in: query
          description: Lower barrier
          schema:
            title: Lower barrier
            allOf:
              - type: number
        - name: OrderAskPrice
          in: query
          description: 'Order ask price. When specified, a corresponding cost of buying will be calculated for that price; otherwise the current market ask price will be used.'
          schema:
            title: 'Order ask price. When specified, a corresponding cost of buying will be calculated for that price; otherwise the current market ask price will be used.'
            allOf:
              - type: number
        - name: OrderBidPrice
          in: query
          description: 'Order bid price. When specified, a corresponding cost of selling will be calculated for that price; otherwise the current market bid price will be used.'
          schema:
            title: 'Order bid price. When specified, a corresponding cost of selling will be calculated for that price; otherwise the current market bid price will be used.'
            allOf:
              - type: number
        - name: PutCall
          in: query
          description: Put/call
          schema:
            title: Put/call
            allOf:
              - $ref: '#/components/schemas/PutCallNullable'
        - name: QuoteCurrency
          in: query
          schema:
            allOf:
              - type: boolean
        - name: StrikePrice
          in: query
          description: Strike price
          schema:
            title: Strike price
            allOf:
              - type: number
        - name: ToOpenClose
          in: query
          schema:
            allOf:
              - $ref: '#/components/schemas/ToOpenCloseNullable'
        - name: Uics
          in: query
          description: A comma separated list of Uics.
          required: true
          schema:
            title: A comma separated list of Uics.
            type: string
        - name: UpperBarrier
          in: query
          description: Upper barrier
          schema:
            title: Upper barrier
            allOf:
              - type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoPriceResponseListResult'
              example:
                Data:
                  - AssetType: FxSpot
                    DisplayAndFormat:
                      Currency: AUD
                      Decimals: 4
                      Description: British Pound/Australian Dollar
                      Format: AllowDecimalPips
                      OrderDecimals: 4
                      Symbol: GBPAUD
                    HistoricalChanges:
                      PercentChange1Month: 1.21
                      PercentChange2Months: 2.95
                      PercentChange3Months: 1.85
                      PercentChange6Months: -1.83
                      PercentChangeDaily: 0.22
                      PercentChangeWeekly: 1.67
                    InstrumentPriceDetails:
                      IsMarketOpen: true
                      ShortTradeDisabled: false
                      ValueDate: '2016-09-06'
                    LastUpdated: '0001-01-01T00:00:00.0000000+00:00'
                    PriceInfo:
                      High: 1.09117
                      Low: 1.08853
                      NetChange: 0.00048
                      PercentChange: 0.04
                    PriceInfoDetails:
                      AskSize: 1000000
                      BidSize: 1000000
                      LastClose: 1.08932
                      LastTraded: 0
                      LastTradedSize: 0
                      Open: 0
                      Volume: 0
                    Quote:
                      Amount: 100000
                      Ask: 1.74948
                      Bid: 1.74858
                      DelayedByMinutes: 15
                      ErrorCode: None
                      Mid: 1.74903
                      PriceTypeAsk: Indicative
                      PriceTypeBid: Indicative
                    Uic: 22
                  - AssetType: FxSpot
                    DisplayAndFormat:
                      Currency: CAD
                      Decimals: 4
                      Description: British Pound/Canadian Dollar
                      Format: AllowDecimalPips
                      OrderDecimals: 4
                      Symbol: GBPCAD
                    InstrumentPriceDetails:
                      IsMarketOpen: true
                      ShortTradeDisabled: false
                      ValueDate: '2016-09-06'
                    LastUpdated: '0001-01-01T00:00:00.0000000+00:00'
                    Quote:
                      Amount: 100000
                      Ask: 1.76278
                      Bid: 1.76198
                      DelayedByMinutes: 15
                      ErrorCode: None
                      Mid: 1.76238
                      PriceTypeAsk: Indicative
                      PriceTypeBid: Indicative
                    Uic: 23
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotAllowed
                      - InstrumentTypeNotSupportedException
                      - InvalidRequest
                      - InvalidUic
                      - UicsInListNotUnique
                      - Unknown
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      Unknown: One or more of the provided parameters are invalid.
                      InstrumentNotAllowed: 'The account is not allowed to trade in or receive prices for the specified [AssetType]'
                      InstrumentTypeNotSupportedException: Unsupported instrument type.
                      InvalidUic: UIC is either invalid or not specified at all.
                      UicsInListNotUnique: The UICs in the list must be unique.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IllegalInstrumentId
                      - InvalidPriceRequest
                    type: string
                    x-enum-descriptions:
                      IllegalInstrumentId: Unknown instrument name
                      InvalidPriceRequest: Invalid price request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /trade/v1/infoprices/subscriptions:
    post:
      tags:
        - Info Prices
      summary: Create an active info price subscription on an list of instruments
      description: Sets up a subscription and returns an initial snapshot of an info  price list specified by the parameters in the request.
      operationId: InfoPricesV1AddSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfoPriceListSubscriptionRequest'
            example:
              Arguments:
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                AssetType: FxSpot
                FieldGroups:
                  - DisplayAndFormat
                  - HistoricalChanges
                  - InstrumentPriceDetails
                  - PriceInfo
                  - PriceInfoDetails
                  - Quote
                Uics: '22,23'
              ContextId: '20220127044339486'
              ReferenceId: IP68223
              RefreshRate: 1000
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoPriceListSubscriptionResponse'
              example:
                ContextId: '20220127044339486'
                Format: application/json
                InactivityTimeout: 60
                ReferenceId: IP68223
                RefreshRate: 1000
                Snapshot:
                  Data:
                    - AssetType: FxSpot
                      DisplayAndFormat:
                        Currency: AUD
                        Decimals: 4
                        Description: British Pound/Australian Dollar
                        Format: AllowDecimalPips
                        OrderDecimals: 4
                        Symbol: GBPAUD
                      HistoricalChanges:
                        PercentChange1Month: 1.21
                        PercentChange2Months: 2.95
                        PercentChange3Months: 1.85
                        PercentChange6Months: -1.83
                        PercentChangeDaily: 0.22
                        PercentChangeWeekly: 1.67
                      InstrumentPriceDetails:
                        IsMarketOpen: true
                        ShortTradeDisabled: false
                        ValueDate: '2016-09-06'
                      LastUpdated: '0001-01-01T00:00:00.0000000+00:00'
                      PriceInfo:
                        High: 1.09117
                        Low: 1.08853
                        NetChange: 0.00048
                        PercentChange: 0.04
                      PriceInfoDetails:
                        AskSize: 1000000
                        BidSize: 1000000
                        LastClose: 1.08932
                        LastTraded: 0
                        LastTradedSize: 0
                        Open: 0
                        Volume: 0
                      Quote:
                        Amount: 100000
                        Ask: 1.74948
                        Bid: 1.74858
                        DelayedByMinutes: 15
                        ErrorCode: None
                        Mid: 1.74903
                        PriceTypeAsk: Indicative
                        PriceTypeBid: Indicative
                      Uic: 22
                    - AssetType: FxSpot
                      DisplayAndFormat:
                        Currency: CAD
                        Decimals: 4
                        Description: British Pound/Canadian Dollar
                        Format: AllowDecimalPips
                        OrderDecimals: 4
                        Symbol: GBPCAD
                      InstrumentPriceDetails:
                        IsMarketOpen: true
                        ShortTradeDisabled: false
                        ValueDate: '2016-09-06'
                      LastUpdated: '0001-01-01T00:00:00.0000000+00:00'
                      Quote:
                        Amount: 100000
                        Ask: 1.76278
                        Bid: 1.76198
                        DelayedByMinutes: 15
                        ErrorCode: None
                        Mid: 1.76238
                        PriceTypeAsk: Indicative
                        PriceTypeBid: Indicative
                      Uic: 23
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotAllowed
                      - InstrumentTypeNotSupportedException
                      - InvalidModelState
                      - InvalidRequest
                      - InvalidUic
                      - UicsInListNotUnique
                      - Unknown
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      Unknown: One or more of the provided parameters are invalid.
                      InstrumentNotAllowed: 'The account is not allowed to trade in or receive prices for the specified [AssetType]'
                      InstrumentTypeNotSupportedException: Unsupported instrument type.
                      InvalidUic: UIC is either invalid or not specified at all.
                      UicsInListNotUnique: The UICs in the list must be unique.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IllegalInstrumentId
                    type: string
                    x-enum-descriptions:
                      IllegalInstrumentId: Unknown instrument name
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type:
        $ref: '#/components/schemas/InfoPriceResponseArrayDomainEvent'
  '/trade/v1/infoprices/subscriptions/{ContextId}':
    delete:
      tags:
        - Info Prices
      summary: Remove info price subscriptions on instruments
      description: Removes info price subscriptions on one or more instruments for the current session.
      operationId: InfoPricesV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '20160204125301453'
        - name: Tag
          in: query
          description: Tag that subscriptions are marked with
          schema:
            type: string
          example: IP
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/trade/v1/infoprices/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Info Prices
      summary: Remove info price subscription on an instrument
      description: Removes an info price subscription on a single instrument.
      operationId: InfoPricesV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          schema:
            type: string
          example: '20160204125301453'
        - name: ReferenceId
          in: path
          description: Unique reference ID of the subscription to remove.
          required: true
          schema:
            type: string
          example: IP24
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /trade/v1/messages:
    get:
      tags:
        - Messages
      summary: Get trade messages for the current user
      description: Only messages that haven't been marked as 'seen' are returned.
      operationId: TradeMessagesV1GetMessagesAsync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeMessageResponseListResult'
              example:
                Data:
                  - DateTime: '2014-12-12T09:17:12.0000000+00:00'
                    DisplayType: Default
                    MessageBody: Price alert was triggered on EURUSD
                    MessageHeader: Price Alert
                    MessageId: '345322'
                    MessageType: PriceAlert
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/trade/v1/messages/seen/{MessageId}':
    put:
      tags:
        - Messages
      summary: Mark trade message as 'seen'
      description: Logically this is done by moving the message to the 'seen' collection.
      operationId: TradeMessagesV1MarkMessageAsSeen
      parameters:
        - name: MessageId
          in: path
          description: Unique id of the message.
          required: true
          schema:
            type: string
          example: '345322'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidMessageId
                    type: string
                    x-enum-descriptions:
                      InvalidMessageId: The provided message id is either invalid or not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /trade/v1/messages/seen:
    put:
      tags:
        - Messages
      summary: Mark trade message as 'seen'
      description: Logically this is done by moving the message to the 'seen' collection.
      operationId: TradeMessagesV1MarkMessagesAsSeen
      parameters:
        - name: MessageIds
          in: query
          description: Unique ids of the message.
          required: true
          schema:
            type: array
            items:
              type: string
          example: ['345322']
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidMessageId
                    type: string
                    x-enum-descriptions:
                      InvalidMessageId: The provided message id is either invalid or not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /trade/v1/messages/subscriptions:
    post:
      tags:
        - Messages
      summary: Create a subscription on trade messages
      description: 'Sets up a subscription, and returns an initial snapshot containing a list of trade messages.'
      operationId: TradeMessagesV1AddSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeMessageSubscriptionRequest'
            example:
              ContextId: '20220127044339538'
              Format: application/json
              ReferenceId: TM81573
              RefreshRate: 5
              Tag: PAGE1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeMessageSubscriptionResponse'
              example:
                ContextId: '20220127044339538'
                Format: application/json
                InactivityTimeout: 120
                ReferenceId: TM81573
                RefreshRate: 800
                Snapshot:
                  Data:
                    - DateTime: '2014-12-12T09:17:12.0000000+00:00'
                      DisplayType: Default
                      MessageBody: Price alert was triggered on EURUSD
                      MessageHeader: Price Alert
                      MessageId: '345322'
                      MessageType: PriceAlert
                State: Active
                Tag: PAGE1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                      - InvalidRequest
                      - UnsupportedSubscriptionFormat
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-streaming-type:
        $ref: '#/components/schemas/TradeMessageResponseDomainEvent'
  '/trade/v1/messages/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Messages
      summary: Remove a trade message subscription
      description: Removes a trade message subscription for the current session.
      operationId: TradeMessagesV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '20160204125301453'
        - name: ReferenceId
          in: path
          description: Unique reference ID of the subscription to remove.
          required: true
          schema:
            type: string
          example: M452
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/trade/v1/messages/subscriptions/{ContextId}':
    delete:
      tags:
        - Messages
      summary: Remove multiple trade message subscriptions
      description: Removes multiple trade message subscriptions for the current session.
      operationId: TradeMessagesV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          schema:
            type: string
          example: '20160204125301453'
        - name: Tag
          in: query
          description: The tag which the subscriptions are grouped under.
          schema:
            type: string
          example: CORE
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /trade/v2/orders:
    post:
      tags:
        - Orders
      summary: Place a new order
      description: "The order can contain optional limit and stop orders, by adding them as child orders.\r\n\r\n\r\nIt is also possible to place an order on behalf of another client (for IBs).\r\n\r\n\r\nThe account key property of the order determines the client account on which the order is placed."
      operationId: OrdersV2PlaceOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderRequest'
            example:
              AlgoOrderData:
                Arguments:
                  - Key: DisplayQuantity
                    Value: '100'
                StrategyName: Iceberg
              Orders:
                - AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                  Amount: 100000
                  AssetType: FxSpot
                  BuySell: Sell
                  OrderDuration:
                    DurationType: GoodTillCancel
                  OrderPrice: 1.13
                  OrderType: Limit
                  Uic: 21
                - AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                  Amount: 100000
                  AssetType: FxSpot
                  BuySell: Sell
                  OrderDuration:
                    DurationType: GoodTillCancel
                  OrderPrice: 1.03
                  OrderType: Stop
                  Uic: 21
      responses:
        '201':
          description: Not used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericOrderResponse'
              example:
                OrderId: '67762872'
                Orders:
                  - OrderId: '67762872'
        '200':
          description: Check response for OrderId and ErrorInfo fields to determine success or failure to place order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ActiveFollowerCannotDoManualTrade
                      - AlgoOrderTimeBeforeExchangeOpen
                      - AmountBelowMinimumLotSize
                      - AmountCannotBeLessThanFilledAmount
                      - AmountNotInLotSize
                      - BlocksExistForOwnedContracts
                      - BreakoutUpPriceCannotBeLessThanDownPrice
                      - BrokerOption
                      - CashAmountLessThanMinInitialInvestmentAmount
                      - ClientExposureLimitation
                      - ConditionDurationNotSupported
                      - ConditionOnWrongSideOfMarket
                      - ConditionPriceExceedsAggressiveTolerance
                      - ConditionTooFarFromMarket
                      - CouldNotCompleteRequest
                      - CrossCurrencyOrderOnMarginLendingAccountNotAllowed
                      - DealCaptureAllocationKeyNotCorrect
                      - DealCaptureInformationNotCorrect
                      - DurationNotSupported
                      - ExpirationDateInPast
                      - ExpirationDateRequired
                      - ForceOpenNotAllowed
                      - ForcedExposureReductionViolation
                      - ForwardDateInPast
                      - ForwardDateRequired
                      - GtdOrderCannotBeLaterThanExpiry
                      - IllegalAccount
                      - IllegalAmount
                      - IllegalAssetType
                      - IllegalDate
                      - IllegalInstrumentId
                      - IllegalRequest
                      - IllegalStrike
                      - InstrumentDisabledForTrading
                      - InstrumentForcedExposureReductionViolation
                      - InstrumentHasExpired
                      - InstrumentNotAllowed
                      - InsufficientCash
                      - InvalidAllocationKeyUsed
                      - InvalidModelState
                      - InvalidRequest
                      - InvalidUic
                      - InvalidValueDate
                      - LimitTooFarFromStop
                      - MarketClosed
                      - NotOwned
                      - NotTradableAtPresent
                      - OnWrongSideOfMarket
                      - OnlySidedReductionAllowed
                      - OptionExerciseAfterCutoff
                      - OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument
                      - OrderCommandPending
                      - OrderCommandTimeout
                      - OrderIsRestrictedForAccountManagementType
                      - OrderNotFound
                      - OrderNotPlaced
                      - OrderNotSupportedForAccountType
                      - OrderPriceOutsideLimit
                      - OrderRejectedByBroker
                      - OrderRelatedPositionIsClosed
                      - OrderRelatedPositionMissMatch
                      - OrderRequestAfterLastTradingDate
                      - OrderSizeGreaterThanMaximumAllowed
                      - OrderTypeNotSupported
                      - OrderValueToSmall
                      - OrderValueTooLarge
                      - OtherError
                      - PriceExceedsAggressiveTolerance
                      - PriceHasMoved
                      - PriceNotInTickSizeIncrements
                      - RelatedOrClosingOrderNotAllowedForIntradayNettingClients
                      - RelatedPositionNotFound
                      - RepeatTradeOnAutoQuote
                      - SellExceedsSettledExposure
                      - SellOrdersAlreadyExistForOwnedContracts
                      - ShortTradeDisabled
                      - ToOpenNotAllowedOnInstrument
                      - TooCloseToMarket
                      - TooCloseToOcoRelatedOrderPrice
                      - TooFarFromEntryOrder
                      - TooFarFromMarket
                      - TradingDisabled
                      - WouldExceedAccountValueProtectionLimit
                      - WouldExceedMargin
                      - WouldExceedMarginCeiling
                      - WouldExceedMaxCreditLine
                      - WouldExceedMaxCreditLineLimit
                      - WouldExceedTradingLine
                      - WrongSideOfRelatedOrder
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      ForwardDateRequired: Forward date is mandatory.
                      ForwardDateInPast: Forward date is in the past.
                      ExpirationDateInPast: Expiration date is in the past.
                      InvalidUic: UIC is either invalid or not specified at all.
                      OrderNotPlaced: Order not placed as other order in request was rejected.
                      OrderNotFound: Requested order id not found
                      OnWrongSideOfMarket: Order price is on wrong side of market
                      TooFarFromMarket: Limit price is too far from market
                      WouldExceedMargin: Trade would exceed margin limits
                      NotTradableAtPresent: Not tradable at present
                      DurationNotSupported: The supplied duration is not supported for the current order.
                      AmountBelowMinimumLotSize: Order size is below the minimum exchange lot size.
                      AmountNotInLotSize: Order size is not a valid exchange lot order size.
                      OrderRelatedPositionMissMatch: Order does not match related position
                      PriceExceedsAggressiveTolerance: Price exceeds aggressive tolerance
                      OrderValueToSmall: Order value must be above the minimum order value for this exchange
                      IllegalAccount: Illegal Account
                      AlgoOrderTimeBeforeExchangeOpen: Algo order parameter has time before exchange open.
                      CashAmountLessThanMinInitialInvestmentAmount: Cash amount should be more than or equal to minimum investment amount.
                      SellExceedsSettledExposure: Selling on T day is limited to end of day position on T-1 day.
                      TradingDisabled: Trading is disabled for the client.
                      ActiveFollowerCannotDoManualTrade: You are not allowed to open or close a position on an active strategy account
                      ClientExposureLimitation: Trade would exceed client exposure limitation
                      ForcedExposureReductionViolation: Forced exposure reduction violation
                      GtdOrderCannotBeLaterThanExpiry: GTD order cannot be later than expiry
                      InstrumentDisabledForTrading: Trading is disabled for the instrument
                      InstrumentHasExpired: Instrument has expired
                      InstrumentNotAllowed: Not allowed to trade in this instrument
                      MarketClosed: Market is closed
                      IllegalRequest: Request type not supported
                      NotOwned: Selling contracts not owned
                      PriceNotInTickSizeIncrements: Order price is not in tick size increments
                      RelatedPositionNotFound: Related position not found
                      OrderRelatedPositionIsClosed: Related position already closed
                      SellOrdersAlreadyExistForOwnedContracts: 'Contracts owned, but sell orders already exist'
                      OrderPriceOutsideLimit: Price too far from market
                      TooFarFromEntryOrder: Order price is too far from the entry order
                      LimitTooFarFromStop: Limit price is too far away from stop price
                      OrderTypeNotSupported: Order type not supported
                      WouldExceedAccountValueProtectionLimit: Trade would exceed the account value protection limit.
                      WouldExceedTradingLine: Trade would exceed trading line limits
                      OrderRejectedByBroker: Order Rejected by Broker.
                      OrderSizeGreaterThanMaximumAllowed: Order Size is greater than the maximum allowed order size.
                      RelatedOrClosingOrderNotAllowedForIntradayNettingClients: Position-related orders are not allowed when real-time netting is enabled.
                      ToOpenNotAllowedOnInstrument: 'Adjusted Option Class: Not allowed to increase exposure.'
                      PriceHasMoved: Price has moved. Please review Price Tolerance to increase the chances of a fill
                      InsufficientCash: Insufficient cash for trade
                      BrokerOption: Broker Option
                      IllegalAssetType: Illegal asset type
                      OnlySidedReductionAllowed: Only sided exposure reduction is allowed.
                      OrderValueTooLarge: Order value is too large
                      ShortTradeDisabled: Trading Short for selected instrument disabled
                      TooCloseToOcoRelatedOrderPrice: Order price is too close to OCO related order price
                      WouldExceedMarginCeiling: Would exceed margin ceiling
                      IllegalAmount: Illegal amount
                      IllegalInstrumentId: Unknown instrument name
                      InvalidAllocationKeyUsed: Order or trade placed with an allocationkey thats marked as inactive or deleted
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      RepeatTradeOnAutoQuote: Repeated trade on auto quote
                      WrongSideOfRelatedOrder: Order price is on wrong side of related order.
                      AmountCannotBeLessThanFilledAmount: Amount cannot be less than filled amount.
                      IllegalDate: Illegal Date
                      IllegalStrike: Illegal strike price
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later
                      TooCloseToMarket: Guaranteed stop is too close to market
                      ExpirationDateRequired: Expiration date is mandatory for this type of order request.
                      InstrumentForcedExposureReductionViolation: Exposure cannot be increased due to instrument configuration.
                      OrderNotSupportedForAccountType: Order is not supported for MarginLending Account
                      CrossCurrencyOrderOnMarginLendingAccountNotAllowed: Cross Currency order not supported for MarginLending Account
                      WouldExceedMaxCreditLine: Trade would exceed available max credit (collateral) line utilization.
                      WouldExceedMaxCreditLineLimit: Trade would exceed available max credit (collateral) line limit.
                      InvalidValueDate: Invalid value date
                      ForceOpenNotAllowed: Force Open is not allowed
                      OrderRequestAfterLastTradingDate: The instruments's last trading date has passed.
                      BlocksExistForOwnedContracts: The block exists for the owned contract.
                      BreakoutUpPriceCannotBeLessThanDownPrice: Breakout up price cannot be less than down price.
                      DealCaptureInformationNotCorrect: Deal capture information is not correct.
                      DealCaptureAllocationKeyNotCorrect: Deal capture allocation key not correct.
                      OrderCommandTimeout: Your order request timed out. Please try again.
                      OrderCommandPending: Your order request is pending broker confirmation. Confirmation is still possible.
                      ConditionDurationNotSupported: Condition duration not supported for this asset type
                      ConditionOnWrongSideOfMarket: Condition price is on wrong side of market
                      ConditionPriceExceedsAggressiveTolerance: Condition price exceeds aggressive tolerance
                      ConditionTooFarFromMarket: Condition limit price is too far from market
                      OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument: Option exercise not allowed day before expiry date of upcoming corporate action on this instrument.
                      OrderIsRestrictedForAccountManagementType: Order is restricted for this account management type
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
    delete:
      tags:
        - Orders
      summary: Cancels all orders for requested instrument and account
      description: Cancels all orders for requested instrument and account.
      operationId: OrdersV2CancelAllOrder
      parameters:
        - name: AccountKey
          in: query
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
        - name: AssetType
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: Uic
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Not used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelAllOrderResponse'
              example:
                ErrorInfo:
                  ErrorCode: ErrorCode436336f3-5fb2-4713-86da-2fea641a9658
                  Message: Message174a45e4-7660-44bb-bafa-7467018edd3e
        '200':
          description: Check response for errorInfo fields to determine success or failure to cancel all order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ActiveFollowerCannotCancelOrderManually
                      - AlreadyPendingCancelReplace
                      - BrokerOption
                      - ClientCannotChangeAllocatedOrder
                      - CouldNotCompleteRequest
                      - ForceOpenNotAllowed
                      - IllegalAccount
                      - InvalidRequest
                      - OrderCannotBeCancelledAtThisTime
                      - OrderNotFound
                      - OtherError
                      - TooLateToCancelOrder
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      IllegalAccount: Illegal Account
                      ActiveFollowerCannotCancelOrderManually: An active trade follower is not allowed to cancel order manually.
                      AlreadyPendingCancelReplace: Request to Cancel or Replace order already send
                      ClientCannotChangeAllocatedOrder: Cannot change order – part of an allocation.
                      OrderCannotBeCancelledAtThisTime: Order cannot be canceled at this time
                      BrokerOption: Broker Option
                      OrderNotFound: Requested order id not found
                      TooLateToCancelOrder: Too late to cancel order
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      ForceOpenNotAllowed: Force Open is not allowed
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
    patch:
      tags:
        - Orders
      summary: Change one or more existing orders
      description: Changes one or more existing orders.&gt;
      operationId: OrdersV2ChangeOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeOrderRequest'
            example:
              AccountKey: LZTc7DdejXODf-WSl2aCyQ==
              Amount: 100000
              AssetType: FxSpot
              OrderType: Limit
      responses:
        '204':
          description: Not used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericOrderResponse'
              example:
                OrderId: '67762872'
                Orders:
                  - OrderId: '67762872'
        '200':
          description: Check response for OrderId and ErrorInfo fields to determine success or failure to change order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ActiveFollowerCannotChangeOrderManually
                      - AlreadyPendingCancelReplace
                      - AmendmentsNotSupportedInBreakSession
                      - AmountBelowMinimumLotSize
                      - AmountCannotBeLessThanFilledAmount
                      - AmountNotInLotSize
                      - BlocksExistForOwnedContracts
                      - BreakoutUpPriceCannotBeLessThanDownPrice
                      - BrokerOption
                      - ClientExposureLimitation
                      - ConditionDurationNotSupported
                      - ConditionOnWrongSideOfMarket
                      - ConditionPriceExceedsAggressiveTolerance
                      - ConditionTooFarFromMarket
                      - CouldNotCompleteRequest
                      - CrossCurrencyOrderOnMarginLendingAccountNotAllowed
                      - ForceOpenNotAllowed
                      - IllegalAccount
                      - IllegalAmount
                      - IllegalDate
                      - IllegalOrderTypeChange
                      - IllegalStrike
                      - InstrumentDisabledForTrading
                      - InstrumentForcedExposureReductionViolation
                      - InsufficientCash
                      - InvalidAllocationKeyUsed
                      - InvalidModelState
                      - InvalidRequest
                      - InvalidValueDate
                      - LimitOrderHigherStopOnSell
                      - LimitOrderLowerThenStopOnBuy
                      - LimitTooFarFromStop
                      - MarketClosed
                      - NotTradableAtPresent
                      - OnWrongSideOfMarket
                      - OptionExerciseAfterCutoff
                      - OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument
                      - OrderCannotBeChangedAtThisTime
                      - OrderCommandPending
                      - OrderCommandTimeout
                      - OrderNotFound
                      - OrderNotSupportedForAccountType
                      - OrderRelatedPositionMissMatch
                      - OrderSizeGreaterThanMaximumAllowed
                      - OrderValueToSmall
                      - OrderValueTooLarge
                      - OtherError
                      - PriceExceedsAggressiveTolerance
                      - PriceNotInTickSizeIncrements
                      - ShortTradeDisabled
                      - StopOrderLowerLimitOnSell
                      - TooCloseToMarket
                      - TooCloseToOcoRelatedOrderPrice
                      - TooFarFromMarket
                      - TooLateToChangeOrder
                      - WouldExceedMargin
                      - WouldExceedMarginCeiling
                      - WouldExceedMaxCreditLine
                      - WouldExceedMaxCreditLineLimit
                      - WrongSideOfRelatedOrder
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      IllegalAccount: Illegal Account
                      ActiveFollowerCannotChangeOrderManually: An active trade follower is not allowed to change order manually.
                      AmendmentsNotSupportedInBreakSession: Amendments not supported in break session
                      ClientExposureLimitation: Trade would exceed client exposure limitation
                      IllegalAmount: Illegal amount
                      IllegalOrderTypeChange: Illegal order type change
                      InstrumentForcedExposureReductionViolation: Exposure cannot be increased due to instrument configuration.
                      MarketClosed: Market is closed
                      TooLateToChangeOrder: Too late to change order
                      PriceNotInTickSizeIncrements: Order price is not in tick size increments
                      LimitTooFarFromStop: Limit price is too far away from stop price
                      LimitOrderLowerThenStopOnBuy: Not allowed to change price of limit order lower than price of related stop order
                      StopOrderLowerLimitOnSell: Not allowed to change price of stop order lower than price of related limit order
                      OrderCannotBeChangedAtThisTime: Order cannot be changed at this time
                      OrderSizeGreaterThanMaximumAllowed: Order Size is greater than the maximum allowed order size.
                      InsufficientCash: Insufficient cash for trade
                      AlreadyPendingCancelReplace: Request to Cancel or Replace order already send
                      AmountBelowMinimumLotSize: Order size is below the minimum exchange lot size.
                      AmountNotInLotSize: Order size is not a valid exchange lot order size.
                      BrokerOption: Broker Option
                      OnWrongSideOfMarket: Order price is on wrong side of market
                      OrderNotFound: Requested order id not found
                      OrderValueTooLarge: Order value is too large
                      OrderValueToSmall: Order value must be above the minimum order value for this exchange
                      PriceExceedsAggressiveTolerance: Price exceeds aggressive tolerance
                      ShortTradeDisabled: Trading Short for selected instrument disabled
                      TooCloseToOcoRelatedOrderPrice: Order price is too close to OCO related order price
                      TooFarFromMarket: Limit price is too far from market
                      WouldExceedMargin: Trade would exceed margin limits
                      WouldExceedMarginCeiling: Would exceed margin ceiling
                      CouldNotCompleteRequest: Could not complete request.
                      WrongSideOfRelatedOrder: Order price is on wrong side of related order.
                      AmountCannotBeLessThanFilledAmount: Amount cannot be less than filled amount.
                      OtherError: OtherError.
                      IllegalDate: Illegal Date
                      IllegalStrike: Illegal strike price
                      InstrumentDisabledForTrading: Trading is disabled for the instrument
                      LimitOrderHigherStopOnSell: Not allowed to change price of limit order higher than price of related stop order
                      NotTradableAtPresent: Not tradable at present
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later
                      OrderRelatedPositionMissMatch: Order does not match related position
                      TooCloseToMarket: Guaranteed stop is too close to market
                      InvalidAllocationKeyUsed: Order or trade placed with an allocationkey thats marked as inactive or deleted
                      OrderNotSupportedForAccountType: Order is not supported for MarginLending Account
                      CrossCurrencyOrderOnMarginLendingAccountNotAllowed: Cross Currency order not supported for MarginLending Account
                      WouldExceedMaxCreditLine: Trade would exceed available max credit (collateral) line utilization.
                      WouldExceedMaxCreditLineLimit: Trade would exceed available max credit (collateral) line limit.
                      InvalidValueDate: Invalid value date
                      ForceOpenNotAllowed: Force Open is not allowed
                      BlocksExistForOwnedContracts: The block exists for the owned contract.
                      BreakoutUpPriceCannotBeLessThanDownPrice: Breakout up price cannot be less than down price.
                      OrderCommandTimeout: Your order request timed out. Please try again.
                      OrderCommandPending: Your order request is pending broker confirmation. Confirmation is still possible.
                      ConditionDurationNotSupported: Condition duration not supported for this asset type
                      ConditionOnWrongSideOfMarket: Condition price is on wrong side of market
                      ConditionPriceExceedsAggressiveTolerance: Condition price exceeds aggressive tolerance
                      ConditionTooFarFromMarket: Condition limit price is too far from market
                      OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument: Option exercise not allowed day before expiry date of upcoming corporate action on this instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '201':
          description: Created
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  '/trade/v2/orders/{OrderIds}':
    delete:
      tags:
        - Orders
      summary: Cancel one or more orders
      description: Cancels one or more orders.
      operationId: OrdersV2CancelOrder
      parameters:
        - name: AccountKey
          in: query
          description: Unique key identifying the account.
          required: true
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: LZTc7DdejXODf-WSl2aCyQ==
        - name: OrderIds
          in: path
          description: Comma-delimited string of order ids to cancel.
          required: true
          schema:
            type: string
          example: '67762872'
      responses:
        '204':
          description: Not used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
              example:
                Orders:
                  - ErrorInfo:
                      ErrorCode: Unknown
                      Message: Order request rejected
        '200':
          description: Check response for OrderId and ErrorInfo fields to determine success or failure to cancel order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ActiveFollowerCannotCancelOrderManually
                      - AlreadyPendingCancelReplace
                      - BrokerOption
                      - ClientCannotCancelStopOutOrder
                      - ClientCannotChangeAllocatedOrder
                      - CouldNotCompleteRequest
                      - ForceOpenNotAllowed
                      - IllegalAccount
                      - InvalidModelState
                      - InvalidRequest
                      - OrderCannotBeCancelledAtThisTime
                      - OrderCommandPending
                      - OrderCommandTimeout
                      - OrderNotFound
                      - OtherError
                      - TooLateToCancelOrder
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      IllegalAccount: Illegal Account
                      ClientCannotCancelStopOutOrder: Client can not cancel a market stop-out order.
                      ActiveFollowerCannotCancelOrderManually: An active trade follower is not allowed to cancel order manually.
                      AlreadyPendingCancelReplace: Request to Cancel or Replace order already send
                      ClientCannotChangeAllocatedOrder: Cannot change order – part of an allocation.
                      OrderCannotBeCancelledAtThisTime: Order cannot be canceled at this time
                      BrokerOption: Broker Option
                      OrderNotFound: Requested order id not found
                      TooLateToCancelOrder: Too late to cancel order
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      ForceOpenNotAllowed: Force Open is not allowed
                      OrderCommandTimeout: Your order request timed out. Please try again.
                      OrderCommandPending: Your order request is pending broker confirmation. Confirmation is still possible.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '201':
          description: Created
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /trade/v2/orders/precheck:
    post:
      tags:
        - Orders
      summary: Pre-check orders
      description: 'Performs pre-check of a stand-alone order, a 3-way order or an OcO order pair.'
      operationId: OrdersV2PreCheckOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreCheckOrderRequest'
            example:
              AccountKey: LZTc7DdejXODf-WSl2aCyQ==
              Amount: 10000
              AssetType: CfdOnStock
              BuySell: Buy
              FieldGroups:
                - MarginImpactBuySell
                - Costs
              OrderDuration:
                DurationType: GoodTillDate
                ExpirationDateContainsTime: true
                ExpirationDateTime: '2022-02-06T14:00:00.0000000+00:00'
              OrderType: Market
              Uic: 15521
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreCheckOrderResponse'
              example:
                Cost:
                  Commission: 1000
                  ExchangeFee: 0
                  GuaranteedStopFee: 0
                  StampDuty: 0
                EstimatedCashRequired: 1500000
                EstimatedCashRequiredCurrency: EUR
                EstimatedTotalCost: 1500000
                EstimatedTotalCostInAccountCurrency: 1500000
                InstrumentToAccountConversionRate: 1
                MarginImpactBuySell:
                  Currency: USD
                  InitialMarginAvailableBuy: 10447
                  InitialMarginAvailableCurrent: 10470
                  InitialMarginBuy: 12
                  MaintenanceMarginBuy: 11
                PreCheckResult: Ok
        '200':
          description: Check response for ErrorInfo fields to determine success or failure to pre-check order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ActiveFollowerCannotDoManualTrade
                      - AlgoOrderTimeBeforeExchangeOpen
                      - AllocationKeyDoesNotMatchAccount
                      - AmountBelowMinimumLotSize
                      - AmountNotInLotSize
                      - BlocksExistForOwnedContracts
                      - BreakoutUpPriceCannotBeLessThanDownPrice
                      - BrokerOption
                      - CashAmountLessThanMinInitialInvestmentAmount
                      - ClientExposureLimitation
                      - CouldNotCompleteRequest
                      - CrossCurrencyOrderOnMarginLendingAccountNotAllowed
                      - DealCaptureAllocationKeyNotCorrect
                      - DealCaptureInformationNotCorrect
                      - DurationNotSupported
                      - ExpirationDateRequired
                      - ForceOpenNotAllowed
                      - ForcedExposureReductionViolation
                      - ForwardDateInPast
                      - ForwardDateRequired
                      - GtdOrderCannotBeLaterThanExpiry
                      - IllegalAccount
                      - IllegalAmount
                      - IllegalAssetType
                      - IllegalDate
                      - IllegalInstrumentId
                      - IllegalRequest
                      - IllegalStrike
                      - InstrumentDisabledForTrading
                      - InstrumentForcedExposureReductionViolation
                      - InstrumentHasExpired
                      - InstrumentNotAllowed
                      - InvalidAllocationKeyUsed
                      - InvalidModelState
                      - InvalidRequest
                      - InvalidUic
                      - InvalidValueDate
                      - LimitTooFarFromStop
                      - MarketClosed
                      - NotOwned
                      - NotTradableAtPresent
                      - OnWrongSideOfMarket
                      - OnlySidedReductionAllowed
                      - OptionExerciseAfterCutoff
                      - OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument
                      - OrderNotFound
                      - OrderNotPlaced
                      - OrderNotSupportedForAccountType
                      - OrderPriceOutsideLimit
                      - OrderRequestAfterLastTradingDate
                      - OrderSizeGreaterThanMaximumAllowed
                      - OrderTypeNotSupported
                      - OrderValueToSmall
                      - OrderValueTooLarge
                      - OtherError
                      - PriceExceedsAggressiveTolerance
                      - PriceHasMoved
                      - PriceNotInTickSizeIncrements
                      - RelatedOrClosingOrderNotAllowedForIntradayNettingClients
                      - RelatedPositionNotFound
                      - SellExceedsSettledExposure
                      - SellOrdersAlreadyExistForOwnedContracts
                      - ShortTradeDisabled
                      - ToOpenNotAllowedOnInstrument
                      - TooCloseToMarket
                      - TooFarFromMarket
                      - TradingDisabled
                      - WouldExceedAccountValueProtectionLimit
                      - WouldExceedMarginCeiling
                      - WouldExceedMaxCreditLine
                      - WouldExceedMaxCreditLineLimit
                      - WouldExceedTradingLine
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      InvalidUic: UIC is either invalid or not specified at all.
                      IllegalAmount: Illegal amount.
                      ForwardDateRequired: Forward date is mandatory.
                      ForwardDateInPast: Forward date is in the past.
                      OrderNotPlaced: Order not placed as other order in request was rejected.
                      OrderNotFound: Requested order id not found
                      OnWrongSideOfMarket: Order price is on wrong side of market
                      TooFarFromMarket: Limit price is too far from market
                      NotTradableAtPresent: Not tradable at present
                      DurationNotSupported: The supplied duration is not supported for the current order.
                      AmountBelowMinimumLotSize: Order size is below the minimum exchange lot size.
                      AmountNotInLotSize: Order size is not a valid exchange lot order size.
                      PriceExceedsAggressiveTolerance: Price exceeds aggressive tolerance
                      OrderValueToSmall: Order value must be above the minimum order value for this exchange
                      IllegalAccount: Illegal Account
                      AlgoOrderTimeBeforeExchangeOpen: Algo order parameter has time before exchange open.
                      CashAmountLessThanMinInitialInvestmentAmount: Cash amount should be more than or equal to minimum investment amount.
                      SellExceedsSettledExposure: Selling on T day is limited to end of day position on T-1 day.
                      TradingDisabled: Trading is disabled for the client.
                      ActiveFollowerCannotDoManualTrade: You are not allowed to open or close a position on an active strategy account
                      ClientExposureLimitation: Trade would exceed client exposure limitation
                      ForcedExposureReductionViolation: Forced exposure reduction violation
                      GtdOrderCannotBeLaterThanExpiry: GTD order cannot be later than expiry
                      InstrumentDisabledForTrading: Trading is disabled for the instrument
                      InstrumentHasExpired: Instrument has expired
                      InstrumentNotAllowed: Not allowed to trade in this instrument
                      MarketClosed: Market is closed
                      IllegalRequest: Request type not supported
                      NotOwned: Selling contracts not owned
                      PriceNotInTickSizeIncrements: Order price is not in tick size increments
                      RelatedPositionNotFound: Related position not found
                      SellOrdersAlreadyExistForOwnedContracts: 'Contracts owned, but sell orders already exist'
                      OrderPriceOutsideLimit: Price too far from market
                      LimitTooFarFromStop: Limit price is too far away from stop price
                      OrderTypeNotSupported: Order type not supported
                      WouldExceedAccountValueProtectionLimit: Trade would exceed the account value protection limit.
                      WouldExceedTradingLine: Trade would exceed trading line limits
                      OrderSizeGreaterThanMaximumAllowed: Order Size is greater than the maximum allowed order size.
                      RelatedOrClosingOrderNotAllowedForIntradayNettingClients: Position-related orders are not allowed when real-time netting is enabled.
                      ToOpenNotAllowedOnInstrument: 'Adjusted Option Class: Not allowed to increase exposure.'
                      PriceHasMoved: Price has moved. Please review Price Tolerance to increase the chances of a fill
                      BrokerOption: Broker Option
                      IllegalAssetType: Illegal asset type
                      OnlySidedReductionAllowed: Only sided exposure reduction is allowed.
                      OrderValueTooLarge: Order value is too large
                      ShortTradeDisabled: Trading Short for selected instrument disabled
                      WouldExceedMarginCeiling: Would exceed margin ceiling
                      IllegalInstrumentId: Unknown instrument name
                      InvalidAllocationKeyUsed: Order or trade placed with an allocationkey thats marked as inactive or deleted
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      IllegalDate: Illegal Date
                      IllegalStrike: Illegal strike price
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later
                      TooCloseToMarket: Guaranteed stop is too close to market
                      ExpirationDateRequired: Expiration date is mandatory for this type of order request.
                      InstrumentForcedExposureReductionViolation: Exposure cannot be increased due to instrument configuration.
                      OrderNotSupportedForAccountType: Order is not supported for MarginLending Account
                      CrossCurrencyOrderOnMarginLendingAccountNotAllowed: Cross Currency order not supported for MarginLending Account
                      WouldExceedMaxCreditLine: Trade would exceed available max credit (collateral) line utilization.
                      WouldExceedMaxCreditLineLimit: Trade would exceed available max credit (collateral) line limit.
                      InvalidValueDate: Invalid value date
                      ForceOpenNotAllowed: Force Open is not allowed
                      AllocationKeyDoesNotMatchAccount: Account used for trade registration does not match account owner of trade allocation key used
                      OrderRequestAfterLastTradingDate: The instruments's last trading date has passed.
                      BlocksExistForOwnedContracts: The block exists for the owned contract.
                      BreakoutUpPriceCannotBeLessThanDownPrice: Breakout up price cannot be less than down price.
                      DealCaptureInformationNotCorrect: Deal capture information is not correct.
                      DealCaptureAllocationKeyNotCorrect: Deal capture allocation key not correct.
                      OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument: Option exercise not allowed day before expiry date of upcoming corporate action on this instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /trade/v2/orders/multileg/precheck:
    post:
      tags:
        - Orders
      summary: Pre-check a multileg options strategy order.
      description: Preforms a pre-check on a single options strategy order.
      operationId: OrdersV2PreCheckMultilegOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreCheckMultiLegOrderRequest'
            example:
              AccountKey: fa1726a8-50ed-4aae-8a4d-dc5e5b76a761
              ExternalReference: ExternalReferencec9583873-1149-4d25-ab99-ec5dbe4ef89e
              FieldGroups:
                - MarginImpact
              Legs:
                - Amount: 690781776495804.5
                  AssetType: FxBinaryOption
                  BuySell: Buy
                  ToOpenClose: Undefined
                  Uic: 119
              ManualOrder: false
              OrderDuration:
                DurationType: GoodTillDate
                ExpirationDateContainsTime: true
                ExpirationDateTime: '2022-02-06T14:00:00.0000000+00:00'
              OrderPrice: 6.19073077853879E+28
              OrderType: Market
              TraderId: TraderId3ca64231-5a68-4604-bd18-46eb099beaef
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreCheckOrderResponse'
              example:
                Cost:
                  Commission: 1000
                  ExchangeFee: 0
                  GuaranteedStopFee: 0
                  StampDuty: 0
                EstimatedCashRequired: 1500000
                EstimatedCashRequiredCurrency: EUR
                EstimatedTotalCost: 1500000
                EstimatedTotalCostInAccountCurrency: 1500000
                InstrumentToAccountConversionRate: 1
                MarginImpactBuySell:
                  Currency: USD
                  InitialMarginAvailableBuy: 10447
                  InitialMarginAvailableCurrent: 10470
                  InitialMarginBuy: 12
                  MaintenanceMarginBuy: 11
                PreCheckResult: Ok
        '200':
          description: Check response for ErrorInfo fields to determine success or failure to pre-check order
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - ActiveFollowerCannotDoManualTrade
                      - AmountBelowMinimumLotSize
                      - AmountNotInLotSize
                      - BlocksExistForOwnedContracts
                      - BreakoutUpPriceCannotBeLessThanDownPrice
                      - BrokerOption
                      - CashAmountLessThanMinInitialInvestmentAmount
                      - ClientExposureLimitation
                      - CouldNotCompleteRequest
                      - CrossCurrencyOrderOnMarginLendingAccountNotAllowed
                      - DurationNotSupported
                      - ExpirationDateRequired
                      - ForceOpenNotAllowed
                      - ForcedExposureReductionViolation
                      - GtdOrderCannotBeLaterThanExpiry
                      - IllegalAccount
                      - IllegalAmount
                      - IllegalAssetType
                      - IllegalDate
                      - IllegalInstrumentId
                      - IllegalRequest
                      - IllegalStrike
                      - InSufficientOrderLegsSpecified
                      - InstrumentDisabledForTrading
                      - InstrumentForcedExposureReductionViolation
                      - InstrumentHasExpired
                      - InstrumentNotAllowed
                      - InsufficientCash
                      - InvalidAllocationKeyUsed
                      - InvalidModelState
                      - InvalidRequest
                      - InvalidUic
                      - InvalidValueDate
                      - LimitTooFarFromStop
                      - MarketClosed
                      - NotOwned
                      - NotTradableAtPresent
                      - OnWrongSideOfMarket
                      - OnlySidedReductionAllowed
                      - OptionExerciseAfterCutoff
                      - OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument
                      - OrderNotFound
                      - OrderNotPlaced
                      - OrderNotSupportedForAccountType
                      - OrderPriceOutsideLimit
                      - OrderSizeGreaterThanMaximumAllowed
                      - OrderTypeNotSupported
                      - OrderValueToSmall
                      - OrderValueTooLarge
                      - OtherError
                      - PriceExceedsAggressiveTolerance
                      - PriceHasMoved
                      - PriceNotInTickSizeIncrements
                      - RelatedOrClosingOrderNotAllowedForIntradayNettingClients
                      - SellExceedsSettledExposure
                      - SellOrdersAlreadyExistForOwnedContracts
                      - ShortTradeDisabled
                      - ToOpenNotAllowedOnInstrument
                      - TooCloseToMarket
                      - TooFarFromMarket
                      - TradingDisabled
                      - WouldExceedAccountValueProtectionLimit
                      - WouldExceedMargin
                      - WouldExceedMarginCeiling
                      - WouldExceedMaxCreditLine
                      - WouldExceedMaxCreditLineLimit
                      - WouldExceedTradingLine
                    type: string
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: One or more properties of the request are invalid!
                      InvalidUic: UIC is either invalid or not specified at all.
                      IllegalAmount: Illegal amount.
                      OrderNotPlaced: Order not placed as other order in request was rejected.
                      OrderNotFound: Requested order id not found
                      OnWrongSideOfMarket: Order price is on wrong side of market
                      TooFarFromMarket: Limit price is too far from market
                      WouldExceedMargin: Trade would exceed margin limits
                      NotTradableAtPresent: Not tradable at present
                      DurationNotSupported: The supplied duration is not supported for the current order.
                      AmountBelowMinimumLotSize: Order size is below the minimum exchange lot size.
                      AmountNotInLotSize: Order size is not a valid exchange lot order size.
                      PriceExceedsAggressiveTolerance: Price exceeds aggressive tolerance
                      OrderValueToSmall: Order value must be above the minimum order value for this exchange
                      IllegalAccount: Illegal Account
                      CashAmountLessThanMinInitialInvestmentAmount: Cash amount should be more than or equal to minimum investment amount.
                      SellExceedsSettledExposure: Selling on T day is limited to end of day position on T-1 day.
                      TradingDisabled: Trading is disabled for the client.
                      ActiveFollowerCannotDoManualTrade: You are not allowed to open or close a position on an active strategy account
                      ClientExposureLimitation: Trade would exceed client exposure limitation
                      ForcedExposureReductionViolation: Forced exposure reduction violation
                      GtdOrderCannotBeLaterThanExpiry: GTD order cannot be later than expiry
                      InstrumentDisabledForTrading: Trading is disabled for the instrument
                      InstrumentHasExpired: Instrument has expired
                      InstrumentNotAllowed: Not allowed to trade in this instrument
                      MarketClosed: Market is closed
                      IllegalRequest: Request type not supported
                      NotOwned: Selling contracts not owned
                      PriceNotInTickSizeIncrements: Order price is not in tick size increments
                      SellOrdersAlreadyExistForOwnedContracts: 'Contracts owned, but sell orders already exist'
                      OrderPriceOutsideLimit: Price too far from market
                      LimitTooFarFromStop: Limit price is too far away from stop price
                      OrderTypeNotSupported: Order type not supported
                      WouldExceedAccountValueProtectionLimit: Trade would exceed the account value protection limit.
                      WouldExceedTradingLine: Trade would exceed trading line limits
                      OrderSizeGreaterThanMaximumAllowed: Order Size is greater than the maximum allowed order size.
                      RelatedOrClosingOrderNotAllowedForIntradayNettingClients: Position-related orders are not allowed when real-time netting is enabled.
                      ToOpenNotAllowedOnInstrument: 'Adjusted Option Class: Not allowed to increase exposure.'
                      PriceHasMoved: Price has moved. Please review Price Tolerance to increase the chances of a fill
                      InsufficientCash: Insufficient cash for trade
                      BrokerOption: Broker Option
                      IllegalAssetType: Illegal asset type
                      OnlySidedReductionAllowed: Only sided exposure reduction is allowed.
                      OrderValueTooLarge: Order value is too large
                      ShortTradeDisabled: Trading Short for selected instrument disabled
                      WouldExceedMarginCeiling: Would exceed margin ceiling
                      IllegalInstrumentId: Unknown instrument name
                      InvalidAllocationKeyUsed: Order or trade placed with an allocationkey thats marked as inactive or deleted
                      CouldNotCompleteRequest: Could not complete request.
                      OtherError: OtherError.
                      IllegalDate: Illegal Date
                      IllegalStrike: Illegal strike price
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later
                      TooCloseToMarket: Guaranteed stop is too close to market
                      ExpirationDateRequired: Expiration date is mandatory for this type of order request.
                      InstrumentForcedExposureReductionViolation: Exposure cannot be increased due to instrument configuration.
                      OrderNotSupportedForAccountType: Order is not supported for MarginLending Account
                      CrossCurrencyOrderOnMarginLendingAccountNotAllowed: Cross Currency order not supported for MarginLending Account
                      WouldExceedMaxCreditLine: Trade would exceed available max credit (collateral) line utilization.
                      WouldExceedMaxCreditLineLimit: Trade would exceed available max credit (collateral) line limit.
                      InvalidValueDate: Invalid value date
                      InSufficientOrderLegsSpecified: Insufficient order legs provided for a multi-leg strategy order.
                      ForceOpenNotAllowed: Force Open is not allowed
                      BlocksExistForOwnedContracts: The block exists for the owned contract.
                      BreakoutUpPriceCannotBeLessThanDownPrice: Breakout up price cannot be less than down price.
                      OptionExerciseNotAllowedDueExDateOfUpcomingCorporateActionOnInstrument: Option exercise not allowed day before expiry date of upcoming corporate action on this instrument.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
  /trade/v2/orders/multileg:
    post:
      tags:
        - Orders
      summary: Place a new multi-leg option strategy order
[...]
