openapi: 3.0.1
info:
  title: Services.Trading
  description: 'The Trading service group provides end points for setting up price and quote subscriptions, polling prices and placing orders and trades (positions).'
  version: 3.3.757+d552fc98fe
  x-framework-version: 43.0.9+b005aba300
  x-machine: SIMOAWEB8-DK2
servers:
  - url: https://gateway.saxobank.com/sim/openapi
paths:
  '/trade/v1/prices/multileg/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Prices
      summary: Remove a multi-leg price subscription
      description: Removes an multi-leg price subscription for the current session.
      operationId: PricesV1DeleteMultiLegPricesSubscription
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          style: simple
          schema:
            type: string
          example: '20160204125301453'
        - name: ReferenceId
          in: path
          description: Unique reference ID of the subscription.
          required: true
          style: simple
          schema:
            type: string
          example: TP340
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
  '/trade/v1/prices/multileg/subscriptions/{ContextId}':
    delete:
      tags:
        - Prices
      summary: Remove a multi-leg price subscriptions
      description: "Removes a multi-leg price subscriptions for the current session. \n            If the optional tag argument is supplied then only subscriptions with given tag will be removed."
      operationId: PricesV1DeleteMultiLegPricesSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          style: simple
          schema:
            type: string
          example: '20160204125301453'
        - name: Tag
          in: query
          description: Optional.Tag that subscriptions are marked with.
          style: form
          explode: false
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
  /trade/v1/prices/multileg/subscriptions:
    post:
      tags:
        - Prices
      summary: Create a price subscription on a multi-leg strategy
      description: Sets up an active price subscription on a multi-leg strategy and returns an initial snapshot of the most recent price.
      operationId: PricesV1AddMultiLegPricesSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiLegPriceSubscriptionRequest'
            example:
              Arguments:
                AccountKey: 01b64edf-da03-4145-bf33-ae21527d4c86
                FieldGroups:
                  - MarginImpactBuySell
                Legs:
                  - Amount: 10
                    AssetType: CertificateCappedCapitalProtected
                    BuySell: Sell
                    OrderContext: { }
                    ToOpenClose: ToClose
                    Uic: 99
              ContextId: '-'
              Format: stringValue
              ReferenceId: '-'
              RefreshRate: 117
              ReplaceReferenceId: '-'
              Tag: stringValue
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiLegPriceSubscriptionResponse'
              example:
                ContextId: stringValue
                Format: stringValue
                InactivityTimeout: 99
                ReferenceId: stringValue
                RefreshRate: 99
                Snapshot:
                  BuySell: Sell
                  Commissions:
                    CostBuy: 0
                    CostIpoCashSubscription: 0
                    CostIpoSubscription: 0
                    CostSell: 0
                  Greeks:
                    Delta: 1
                    Gamma: 0
                    MidVol: 0
                    Phi: 0
                    Rho: 0
                    Theta: -0.0375
                    Vega: 0
                  InstrumentPriceDetails:
                    AverageVolume: 12345000
                    Barrier: 1
                    ExpiryDate: '2017-06-01'
                    IsMarketOpen: true
                    LowerBarrier: -2
                    MidForwardPrice: 1.71992423552514
                    ShortTradeDisabled: false
                    SpotAsk: 1.71782
                    SpotBid: 1.71692
                    SpotDate: '2017-06-03'
                    SpreadStrikePriceLower: 11
                    SpreadStrikePriceUpper: 12
                    StrikePrice: 1.7175
                    UpperBarrier: 4
                    ValueDate: '2017-06-05'
                  LastUpdated: '9999-12-31T23:59:59.999999Z'
                  Legs:
                    - Amount: 10
                      AssetType: CertificateCappedOutperformance
                      BuySell: Buy
                      Greeks:
                        Delta: 1
                        Gamma: 0
                        MidVol: 0
                        Phi: 0
                        Rho: 0
                        Theta: -0.0375
                        Vega: 0
                      InstrumentPriceDetails:
                        AverageVolume: 12345000
                        Barrier: 1
                        ExpiryDate: '2017-06-01'
                        IsMarketOpen: true
                        LowerBarrier: -2
                        MidForwardPrice: 1.71992423552514
                        ShortTradeDisabled: false
                        SpotAsk: 1.71782
                        SpotBid: 1.71692
                        SpotDate: '2017-06-03'
                        SpreadStrikePriceLower: 11
                        SpreadStrikePriceUpper: 12
                        StrikePrice: 1.7175
                        UpperBarrier: 4
                        ValueDate: '2017-06-05'
                      LegId: stringValue
                      Quote:
                        Amount: 100000
                        Ask: 1.0899
                        Bid: 1.0897
                        DelayedByMinutes: 15
                        ErrorCode: None
                        Mid: 1.0898
                        PriceTypeAsk: Indicative
                        PriceTypeBid: Indicative
                      ToOpenClose: ToOpen
                      Uic: 99
                  MarginImpactBuySell:
                    Currency: USD
                    InitialMarginAvailableBuy: 10447
                    InitialMarginAvailableCurrent: 10470
                    InitialMarginBuy: 12
                    MaintenanceMarginBuy: 11
                  MarketState: Open
                  PriceSource: stringValue
                  Quote:
                    Amount: 100000
                    Ask: 1.0899
                    Bid: 1.0897
                    DelayedByMinutes: 15
                    ErrorCode: None
                    Mid: 1.0898
                    PriceTypeAsk: Indicative
                    PriceTypeBid: Indicative
                  StrategyType: Condor
                State: Active
                Tag: stringValue
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotAllowed
                      - InvalidModelState
                      - InvalidRequest
                      - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InstrumentNotAllowed: 'The account is not allowed to trade in or receive prices for the specified [AssetType]'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IllegalInstrumentId
                    type: string
                    example: None
                    x-enum-descriptions:
                      IllegalInstrumentId: Unknown instrument name
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/MultiLegPriceResponseDomainEvent'
  /trade/v1/prices/multileg:
    post:
      tags:
        - Prices
      summary: Get a price snapshot for a multi-leg strategy
      description: Gets a single price snapshot for a multi-leg strategy using the specified parameters.
      operationId: PricesV1GetMultiLegPriceAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiLegPriceRequest'
            example:
              AccountKey: 01b64edf-da03-4145-bf33-ae21527d4c86
              FieldGroups:
                - Quote
              Legs:
                - Amount: 10
                  AssetType: Warrant
                  BuySell: Sell
                  OrderContext: { }
                  ToOpenClose: Undefined
                  Uic: 99
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiLegPriceResponse'
              example:
                BuySell: Sell
                Commissions:
                  CostBuy: 0
                  CostIpoCashSubscription: 0
                  CostIpoSubscription: 0
                  CostSell: 0
                Greeks:
                  Delta: 1
                  Gamma: 0
                  MidVol: 0
                  Phi: 0
                  Rho: 0
                  Theta: -0.0375
                  Vega: 0
                InstrumentPriceDetails:
                  AverageVolume: 12345000
                  Barrier: 1
                  ExpiryDate: '2017-06-01'
                  IsMarketOpen: true
                  LowerBarrier: -2
                  MidForwardPrice: 1.71992423552514
                  ShortTradeDisabled: false
                  SpotAsk: 1.71782
                  SpotBid: 1.71692
                  SpotDate: '2017-06-03'
                  SpreadStrikePriceLower: 11
                  SpreadStrikePriceUpper: 12
                  StrikePrice: 1.7175
                  UpperBarrier: 4
                  ValueDate: '2017-06-05'
                LastUpdated: '9999-12-31T23:59:59.999999Z'
                Legs:
                  - Amount: 10
                    AssetType: WarrantKnockOut
                    BuySell: Buy
                    Greeks:
                      Delta: 1
                      Gamma: 0
                      MidVol: 0
                      Phi: 0
                      Rho: 0
                      Theta: -0.0375
                      Vega: 0
                    InstrumentPriceDetails:
                      AverageVolume: 12345000
                      Barrier: 1
                      ExpiryDate: '2017-06-01'
                      IsMarketOpen: true
                      LowerBarrier: -2
                      MidForwardPrice: 1.71992423552514
                      ShortTradeDisabled: false
                      SpotAsk: 1.71782
                      SpotBid: 1.71692
                      SpotDate: '2017-06-03'
                      SpreadStrikePriceLower: 11
                      SpreadStrikePriceUpper: 12
                      StrikePrice: 1.7175
                      UpperBarrier: 4
                      ValueDate: '2017-06-05'
                    LegId: stringValue
                    Quote:
                      Amount: 100000
                      Ask: 1.0899
                      Bid: 1.0897
                      DelayedByMinutes: 15
                      ErrorCode: None
                      Mid: 1.0898
                      PriceTypeAsk: Indicative
                      PriceTypeBid: Indicative
                    ToOpenClose: ToOpen
                    Uic: 99
                MarginImpactBuySell:
                  Currency: USD
                  InitialMarginAvailableBuy: 10447
                  InitialMarginAvailableCurrent: 10470
                  InitialMarginBuy: 12
                  MaintenanceMarginBuy: 11
                MarketState: TradingAtLast
                PriceSource: stringValue
                Quote:
                  Amount: 100000
                  Ask: 1.0899
                  Bid: 1.0897
                  DelayedByMinutes: 15
                  ErrorCode: None
                  Mid: 1.0898
                  PriceTypeAsk: Indicative
                  PriceTypeBid: Indicative
                StrategyType: BackRatio
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotAllowed
                      - InstrumentTypeNotSupportedException
                      - InvalidPriceRequest
                      - InvalidUic
                      - Unknown
                    type: string
                    example: None
                    x-enum-descriptions:
                      Unknown: One or more of the provided parameters are invalid.
                      InstrumentNotAllowed: 'The account is not allowed to trade in or receive prices for the specified [AssetType]'
                      InstrumentTypeNotSupportedException: Unsupported instrument type.
                      InvalidUic: UIC is either invalid or not specified at all.
                      InvalidPriceRequest: Invalid price request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IllegalInstrumentId
                    type: string
                    example: None
                    x-enum-descriptions:
                      IllegalInstrumentId: Unknown instrument name
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/trade/v1/prices/subscriptions/{ContextId}':
    delete:
      tags:
        - Prices
      summary: Remove multiple instrument price subscriptions
      description: "Removes multiple instrument price subscriptions for the current session. \n            If the optional tag argument is supplied then only subscriptions with given tag will be removed."
      operationId: PricesV1DeleteSubscriptions
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          style: simple
          schema:
            type: string
          example: '20160204125301453'
        - name: Tag
          in: query
          description: Optional.Tag that subscriptions are marked with.
          style: form
          explode: false
          schema:
            type: string
          example: '2345223'
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
  '/trade/v1/prices/subscriptions/{ContextId}/{ReferenceId}/MarginImpact':
    put:
      tags:
        - Prices
      summary: Request margin impact on one price update
      description: "Request margin impact to come on one of the next following price updates.\n\n\nThis will make a margin impact calculation, and send the result in the next possible price update, however only one impact calculation will be done per call."
      operationId: PricesV1RequestMarginImpactOnSubscription
      parameters:
        - name: ContextId
          in: path
          description: Context for the streaming connection.
          required: true
          style: simple
          schema:
            type: string
          example: '20160204125301453'
        - name: ReferenceId
          in: path
          description: Unique id of the subscription.
          required: true
          style: simple
          schema:
            type: string
          example: TP340
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - RequestMarginImpactOnNextPriceFailed
                    type: string
                    example: None
                    x-enum-descriptions:
                      RequestMarginImpactOnNextPriceFailed: Price subscription cannot add margin impact.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/PriceResponseDomainEvent'
  '/trade/v1/prices/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Prices
      summary: Remove an instrument price subscription
      description: Removes an instrument price subscription for the current session.
      operationId: PricesV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: Unique streaming context ID part of the streaming session.
          required: true
          style: simple
          schema:
            type: string
          example: '20160204125301453'
        - name: ReferenceId
          in: path
          description: Unique reference ID of the subscription.
          required: true
          style: simple
          schema:
            type: string
          example: TP340
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
  /trade/v1/prices/subscriptions:
    post:
      tags:
        - Prices
      summary: Create a price subscription on an instrument
      description: Sets up an active price subscription on an instrument and returns an initial snapshot of the most recent price.
      operationId: PricesV1AddSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceSubscriptionRequest'
            example:
              Arguments:
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                Amount: 100000
                AssetType: FxVanillaOption
                ExpiryDate: '2017-06-01T00:00:00Z'
                FieldGroups:
                  - DisplayAndFormat
                  - HistoricalChanges
                  - InstrumentPriceDetails
                  - Quote
                PutCall: Call
                Uic: 22
              ContextId: '20221030063404744'
              Format: application/json
              ReferenceId: IP72733
              RefreshRate: 1000
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceSubscriptionResponse'
              example:
                ContextId: '20221030063404744'
                Format: application/json
                InactivityTimeout: 30
                ReferenceId: IP72733
                RefreshRate: 1000
                Snapshot:
                  AssetType: FxSpot
                  DisplayAndFormat:
                    Currency: AUD
                    Decimals: 4
                    Description: British Pound/Australian Dollar
                    Format: AllowDecimalPips
                    StrikeDecimals: 4
                    StrikeFormat: Normal
                    Symbol: GBPAUD
                  HistoricalChanges:
                    PercentChange1Month: 5.57
                    PercentChange2Months: 5.83
                    PercentChange3Months: 3.73
                    PercentChange6Months: 6.49
                    PercentChangeDaily: 0.2
                    PercentChangeWeekly: 0.88
                  InstrumentPriceDetails:
                    AverageVolume: 12345000
                    Barrier: 1
                    ExpiryDate: '2017-06-01'
                    IsMarketOpen: true
                    LowerBarrier: -2
                    MidForwardPrice: 1.71992423552514
                    ShortTradeDisabled: false
                    SpotAsk: 1.71782
                    SpotBid: 1.71692
                    SpotDate: '2017-06-03'
                    SpreadStrikePriceLower: 11
                    SpreadStrikePriceUpper: 12
                    StrikePrice: 1.7175
                    UpperBarrier: 4
                    ValueDate: '2017-06-05'
                  LastUpdated: '2017-05-01T00:00:00Z'
                  Quote:
                    Amount: 100000
                    Ask: 0.02257
                    Bid: 0.01962
                    DelayedByMinutes: 15
                    ErrorCode: None
                    Mid: 0.0210958157864443
                    PriceTypeAsk: Indicative
                    PriceTypeBid: Indicative
                    RFQState: None
                  Uic: 22
                State: Active
                Tag: PAGE1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotAllowed
                      - InvalidModelState
                      - InvalidRequest
                      - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InstrumentNotAllowed: 'The account is not allowed to trade in or receive prices for the specified [AssetType]'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IllegalInstrumentId
                    type: string
                    example: None
                    x-enum-descriptions:
                      IllegalInstrumentId: Unknown instrument name
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/PriceResponseDomainEvent'
  /trade/v1/prices/subscriptions/active:
    post:
      tags:
        - Prices
      summary: OBSOLETE Create an active price subscription on an instrument
      description: Sets up an active price subscription on an instrument and returns an initial snapshot of the most recent price.
      operationId: PricesV1AddActiveSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceSubscriptionRequest'
            example:
              Arguments:
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                Amount: 100000
                AssetType: FxVanillaOption
                ExpiryDate: '2017-06-01T00:00:00Z'
                FieldGroups:
                  - DisplayAndFormat
                  - HistoricalChanges
                  - InstrumentPriceDetails
                  - Quote
                PutCall: Call
                Uic: 22
              ContextId: '20221030063404744'
              Format: application/json
              ReferenceId: IP72733
              RefreshRate: 1000
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceSubscriptionResponse'
              example:
                ContextId: '20221030063404744'
                Format: application/json
                InactivityTimeout: 30
                ReferenceId: IP72733
                RefreshRate: 1000
                Snapshot:
                  AssetType: FxSpot
                  DisplayAndFormat:
                    Currency: AUD
                    Decimals: 4
                    Description: British Pound/Australian Dollar
                    Format: AllowDecimalPips
                    StrikeDecimals: 4
                    StrikeFormat: Normal
                    Symbol: GBPAUD
                  HistoricalChanges:
                    PercentChange1Month: 5.57
                    PercentChange2Months: 5.83
                    PercentChange3Months: 3.73
                    PercentChange6Months: 6.49
                    PercentChangeDaily: 0.2
                    PercentChangeWeekly: 0.88
                  InstrumentPriceDetails:
                    AverageVolume: 12345000
                    Barrier: 1
                    ExpiryDate: '2017-06-01'
                    IsMarketOpen: true
                    LowerBarrier: -2
                    MidForwardPrice: 1.71992423552514
                    ShortTradeDisabled: false
                    SpotAsk: 1.71782
                    SpotBid: 1.71692
                    SpotDate: '2017-06-03'
                    SpreadStrikePriceLower: 11
                    SpreadStrikePriceUpper: 12
                    StrikePrice: 1.7175
                    UpperBarrier: 4
                    ValueDate: '2017-06-05'
                  LastUpdated: '2017-05-01T00:00:00Z'
                  Quote:
                    Amount: 100000
                    Ask: 0.02257
                    Bid: 0.01962
                    DelayedByMinutes: 15
                    ErrorCode: None
                    Mid: 0.0210958157864443
                    PriceTypeAsk: Indicative
                    PriceTypeBid: Indicative
                    RFQState: None
                  Uic: 22
                State: Active
                Tag: PAGE1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InstrumentNotAllowed
                      - InvalidModelState
                      - InvalidRequest
                      - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                      InstrumentNotAllowed: 'The account is not allowed to trade in or receive prices for the specified [AssetType]'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IllegalInstrumentId
                    type: string
                    example: None
                    x-enum-descriptions:
                      IllegalInstrumentId: Unknown instrument name
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/PriceResponseDomainEvent'
  '/trade/v1/allocationkeys/distributions/{AllocationKeyId}':
    get:
      tags:
        - Allocation Keys
      summary: Get distributed amount for a given allocation key
      description: Retrieve distributed amount for the given allocation key.
      operationId: AllocationKeysDistributeAmountAccordingToAllocationKey
      parameters:
        - name: AllocationKeyId
          in: path
          description: Allocation key id
          required: true
          style: simple
          schema:
            type: string
          example: '227'
        - name: AssetType
          in: query
          description: 'Asset type. Optional, must be used in conjunction with'
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/AssetType'
        - name: Totalamount
          in: query
          description: Total amount to distribute between accounts associated with the allocationKey
          required: true
          style: form
          explode: false
          schema:
            type: number
          example: 22
        - name: Uic
          in: query
          description: 'Unique instrument identification. Optional, must be used in conjunction with'
          style: form
          explode: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Indicates the information was retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributedAmountResponse'
              example:
                Remainder: 0.1
                SubClientsInfo:
                  - AccountId: 324b0298-8ec2-4c13-9518-ee4f01244113
                    Amount: 10.3
                    MultiLegAmount: 0
                  - AccountId: 324b0298-8ec2-4c13-9518-ee4f01244114
                    Amount: 20.3
                    MultiLegAmount: 0
                  - AccountId: 324b0298-8ec2-4c13-9518-ee4f01244115
                    Amount: 70.3
                    MultiLegAmount: 0
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AllocationKeyNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      AllocationKeyNotFound: Requested allocation key is not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - DomainValidationError
                    type: string
                    example: None
                    x-enum-descriptions:
                      DomainValidationError: Domain Validation Failed!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/trade/v1/allocationkeys/{AllocationKeyId}':
    get:
      tags:
        - Allocation Keys
      summary: Get detailed information about an allocation key
      description: Get detailed information about an allocation key.
      operationId: AllocationKeysGetAllocationKey
      parameters:
        - name: AllocationKeyId
          in: path
          description: allocation key ID
          required: true
          style: simple
          schema:
            type: string
          example: '227'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationKeyDetails'
              example:
                AllocationKeyId: '227'
                AllocationKeyName: MyAllocation_Key
                AllocationUnitType: Percentage
                AssetType: CfdOnStock
                BuySell: Buy
                CreationTime: '0001-01-01T00:00:00Z'
                ExternalReference: Order123
                MarginHandling: Reduce
                OwnerAccountKey: LZTc7DdejXODf-WSl2aCyQ==
                Participants: 0
                ParticipatingAccountsInfo:
                  - AcceptRemainderAmount: true
                    AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                    ClientKey: 
                    Priority: 1
                    UnitValue: 10
                  - AcceptRemainderAmount: false
                    AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                    ClientKey: 
                    Priority: 1
                    UnitValue: 90
                PredefinedQuantity: 0
                Status: Active
                TotalUnitValues: 0
                Uic: 4361
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AllocationKeyNotFound
                    type: string
                    example: None
                    x-enum-descriptions:
                      AllocationKeyNotFound: Requested allocation key is not found.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
    delete:
      tags:
        - Allocation Keys
      summary: Delete allocation key
      description: Deletes an allocation key.
      operationId: AllocationKeysDeleteAllocationKey
      parameters:
        - name: AllocationKeyId
          in: path
          description: allocation key ID
          required: true
          style: simple
          schema:
            type: string
          example: '227'
      responses:
        '204':
          description: Allocation key has been deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  /trade/v1/allocationkeys:
    get:
      tags:
        - Allocation Keys
      summary: Get a list of existing allocation keys
      description: Get a list of existing allocation keys. By default only Active allocation keys for current client are returned.
      operationId: AllocationKeysGetAllocationKeys
      parameters:
        - name: $skip
          in: query
          description: The number of entries to skip from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
          example: 1
        - name: $top
          in: query
          description: The number of entries to return from the beginning of the collection
          style: form
          explode: false
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 1000
          example: 1
        - name: AccountKey
          in: query
          description: Optional account key to filter out allocation keys.
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: AccountKey
          example: ValidAccountKey
        - name: ClientKey
          in: query
          description: Client key for which allocation keys are to be returned.
          style: form
          explode: false
          schema:
            minLength: 1
            type: string
            x-type-name: ClientKey
          example: ValidClientKey
        - name: IncludeSubClients
          in: query
          description: To indicate whether to include allocation keys for sub clients. Default is true.
          style: form
          explode: false
          schema:
            type: boolean
          example: true
        - name: Statuses
          in: query
          description: Comma separated list of statuses for keys to include. Default is "Active".
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/AllocationKeyStatus'
          example: 'Active,OneTime'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationKeySummaryListResult'
              example:
                Data:
                  - AllocationKeyId: '227'
                    AllocationKeyName: MyAllocation_Key
                    AssetType: CfdOnStock
                    BuySell: Buy
                    CreationTime: '0001-01-01T00:00:00Z'
                    ExternalReference: Order123
                    OwnerAccountKey: LZTc7DdejXODf-WSl2aCyQ==
                    Participants: 0
                    PredefinedQuantity: 0
                    Status: Active
                    TotalUnitValues: 100
                    Uic: 4361
                  - AllocationKeyId: 227_2
                    AllocationKeyName: MyAllocation_Key_2
                    CreationTime: '0001-01-01T00:00:00Z'
                    OwnerAccountKey: LZTc7DdejXODf-WSl2aCyQ==
                    Participants: 0
                    PredefinedQuantity: 0
                    Status: OneTime
                    TotalUnitValues: 100
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
    post:
      tags:
        - Allocation Keys
      summary: Create an allocation key
      description: Create an allocation key.
      operationId: AllocationKeysAddAllocationKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocationKeyCreateRequest'
            example:
              AllocationKeyName: MyAllocation_Key
              AllocationUnitType: Percentage
              MarginHandling: Reduce
              OneTime: true
              OwnerAccountKey: LZTc7DdejXODf-WSl2aCyQ==
              ParticipatingAccountsInfo:
                - AcceptRemainderAmount: true
                  AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                  Priority: 1
                  UnitValue: 10
                - AcceptRemainderAmount: false
                  AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                  Priority: 1
                  UnitValue: 90
      responses:
        '201':
          description: Allocation key added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationKeyCreatedResponse'
              example:
                AllocationKeyId: '227'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - DomainValidationError
                      - InvalidModelState
                      - InvalidRequest
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: The request is invalid!
                      InvalidModelState: One or more properties of the request are invalid!
                      DomainValidationError: Domain Validation Failed!
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Read
  '/trade/v1/optionschain/subscriptions/{ContextId}/{ReferenceId}/ResetATM':
    put:
      tags:
        - Options Chain
      summary: Reset an options chain subscription "At The Money"
      description: "Resets subscription for the current session identified by contextId and referenceId, to show strikes \"at the money\" for \n            all the previously configured expiries. This method will not change the number of strikes, or which expires are subscribed to."
      operationId: OptionsChainsV1ResetSubscriptionAtTheMoney
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          style: simple
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique id of the subscription
          required: true
          style: simple
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
  '/trade/v1/optionschain/subscriptions/{ContextId}/{ReferenceId}':
    delete:
      tags:
        - Options Chain
      summary: Remove an options chain subscription
      description: Removes subscription for the current session identified by contextId and referenceId.
      operationId: OptionsChainsV1DeleteSubscription
      parameters:
        - name: ContextId
          in: path
          description: The context id part of the streaming session (used to identify the subscription within a streaming session).
          required: true
          style: simple
          schema:
            type: string
          example: '29931122'
        - name: ReferenceId
          in: path
          description: Unique id of the subscription
          required: true
          style: simple
          schema:
            type: string
          example: 0f8fad5b-d9cb-469f-a165-70867728950e
      responses:
        '204':
          description: No Content
        '202':
          description: Subscription delete request will be processed eventually.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
    patch:
      tags:
        - Options Chain
      summary: 'Modify an existing options chain subscription. This replaces the obsolete version subscriptions/active/{contextId}/{referenceId}'
      description: "Modifies an existing subscription. This is used for scrolling the options board, by providing either another set of expiries, \n            or specifying another set of strikes to subscribe to. \n            For changing to another instrument, it is recommended to create a new subscription and discard the old."
      operationId: OptionsChainsV1ModifySubscription
      parameters:
        - name: ContextId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: ReferenceId
          in: path
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOptionsChainSubscriptionRequest'
            example:
              Expiries:
                - Index: 99
                  StrikeStartIndex: 99
              MaxStrikesPerExpiry: 99
      responses:
        '204':
          description: No Content
        '404':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
  '/trade/v1/optionschain/subscriptions/active/{ContextId}/{ReferenceId}':
    patch:
      tags:
        - Options Chain
      summary: 'OBSOLETE Modify an existing options chain subscription. This endpoint is obsolete. Use subscriptions/{contextId}/{referenceId}.'
      description: "Modifies an existing subscription. This is used for scrolling the options board, by providing either another set of expiries, \n            or specifying another set of strikes to subscribe to. \n            For changing to another instrument, it is recommended to create a new subscription and discard the old."
      operationId: OptionsChainsV1ModifyActiveSubscription
      parameters:
        - name: ContextId
          in: path
          required: true
          style: simple
          schema:
            type: string
        - name: ReferenceId
          in: path
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOptionsChainSubscriptionRequest'
            example:
              Expiries:
                - Index: 99
                  StrikeStartIndex: 99
              MaxStrikesPerExpiry: 99
      responses:
        '204':
          description: No Content
        '404':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidRequest
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
  /trade/v1/optionschain/subscriptions:
    post:
      tags:
        - Options Chain
      summary: Create an active options chain subscription
      description: Sets up a subscription and returns an initial snapshot of the options chain specified by the parameters in the request.
      operationId: OptionsChainsV1AddSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptionsChainSubscriptionRequest'
            example:
              Arguments:
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                AssetType: StockIndexOption
                Expiries:
                  - Index: 1
                    StrikeStartIndex: 0
                Identifier: 18
                MaxStrikesPerExpiry: 3
              ContextId: '20221030063404760'
              ReferenceId: C0142897
              RefreshRate: 1000
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsChainSubscriptionResponse'
              example:
                ContextId: '20221030063404760'
                InactivityTimeout: 60
                ReferenceId: C0142897
                RefreshRate: 1000
                Snapshot:
                  AssetType: StockIndexOption
                  Expiries:
                    - DisplayDate: '0001-01-01'
                      DisplayDaysToExpiry: 30
                      Expiry: '2017-05-31T11:10:00Z'
                      Index: 0
                      LastTradeDate: '0201-05-31T21:00:00Z'
                      MidStrikePrice: 0
                      StrikeCount: 50
                      Strikes:
                        - Index: 0
                          Strike: 97.25
                        - Index: 1
                          Strike: 97.375
                        - Index: 2
                          Strike: 97.5
                        - Index: 3
                          Strike: 97.625
                        - Index: 4
                          Strike: 97.75
                        - Index: 5
                          Strike: 97.8125
                        - Index: 6
                          Strike: 97.875
                        - Index: 7
                          Strike: 97.9375
                        - Index: 8
                          Strike: 98
                        - Index: 9
                          Strike: 98.0625
                        - Index: 10
                          Strike: 98.125
                        - Index: 11
                          Strike: 98.1875
                        - Index: 12
                          Strike: 98.25
                        - Index: 13
                          Strike: 98.3125
                        - Index: 14
                          Strike: 98.375
                        - Index: 15
                          Strike: 98.4375
                        - Index: 16
                          Strike: 98.5
                        - Index: 17
                          Strike: 98.5625
                        - Index: 18
                          Strike: 98.625
                        - Index: 19
                          Strike: 98.6875
                        - Index: 20
                          Strike: 98.75
                        - Index: 21
                          Strike: 98.8125
                        - Index: 22
                          Strike: 98.875
                        - Index: 23
                          Strike: 98.9375
                        - Call:
                            High: 0
                            LastClose: 0.095
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.095
                            Open: 0
                            OpenInterest: 0
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485090
                            Volume: 0
                          Index: 24
                          Put:
                            High: 0
                            LastClose: 0
                            LastTraded: 0
                            Low: 0
                            NetChange: 0
                            Open: 0
                            OpenInterest: 0
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485130
                            Volume: 0
                          Strike: 99
                        - Call:
                            High: 0
                            LastClose: 0.035
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.035
                            Open: 0
                            OpenInterest: 0
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485091
                            Volume: 0
                          Index: 25
                          Put:
                            High: 0
                            LastClose: 0.0025
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.0025
                            Open: 0
                            OpenInterest: 250
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485131
                            Volume: 0
                          Strike: 99.0625
                        - Call:
                            High: 0
                            LastClose: 0.0025
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.0025
                            Open: 0
                            OpenInterest: 0
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485092
                            Volume: 0
                          Index: 26
                          Put:
                            High: 0
                            LastClose: 0.0325
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.0325
                            Open: 0
                            OpenInterest: 250
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485132
                            Volume: 0
                          Strike: 99.125
                        - Index: 27
                          Strike: 99.1875
                        - Index: 28
                          Strike: 99.25
                        - Index: 29
                          Strike: 99.3125
                        - Index: 30
                          Strike: 99.375
                        - Index: 31
                          Strike: 99.4375
                        - Index: 32
                          Strike: 99.5
                        - Index: 33
                          Strike: 99.5625
                        - Index: 34
                          Strike: 99.625
                        - Index: 35
                          Strike: 99.6875
                        - Index: 36
                          Strike: 99.75
                        - Index: 37
                          Strike: 99.8125
                        - Index: 38
                          Strike: 99.875
                        - Index: 39
                          Strike: 99.9375
                        - Index: 40
                          Strike: 100
                        - Index: 41
                          Strike: 100.0625
                        - Index: 42
                          Strike: 100.125
                        - Index: 43
                          Strike: 100.1875
                        - Index: 44
                          Strike: 100.25
                        - Index: 45
                          Strike: 100.375
                        - Index: 46
                          Strike: 100.5
                        - Index: 47
                          Strike: 100.625
                        - Index: 48
                          Strike: 100.75
                        - Index: 49
                          Strike: 100.875
                      StrikeWindowStartIndex: 24
                      UnderlyingUic: 2456777
                  ExpiryCount: 0
                  LastUpdated: '0001-01-01T00:00:00Z'
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                      - InvalidRequest
                      - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IllegalInstrumentId
                    type: string
                    example: None
                    x-enum-descriptions:
                      IllegalInstrumentId: Unknown instrument name
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/OptionsChainResponseDomainEvent'
  /trade/v1/optionschain/subscriptions/active:
    post:
      tags:
        - Options Chain
      summary: OBSOLETE Create an active options chain subscription
      description: Sets up a subscription and returns an initial snapshot of the options chain specified by the parameters in the request.
      operationId: OptionsChainsV1AddActiveSubscriptionAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptionsChainSubscriptionRequest'
            example:
              Arguments:
                AccountKey: LZTc7DdejXODf-WSl2aCyQ==
                AssetType: StockIndexOption
                Expiries:
                  - Index: 1
                    StrikeStartIndex: 0
                Identifier: 18
                MaxStrikesPerExpiry: 3
              ContextId: '20221030063404760'
              ReferenceId: C0142897
              RefreshRate: 1000
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsChainSubscriptionResponse'
              example:
                ContextId: '20221030063404760'
                InactivityTimeout: 60
                ReferenceId: C0142897
                RefreshRate: 1000
                Snapshot:
                  AssetType: StockIndexOption
                  Expiries:
                    - DisplayDate: '0001-01-01'
                      DisplayDaysToExpiry: 30
                      Expiry: '2017-05-31T11:10:00Z'
                      Index: 0
                      LastTradeDate: '0201-05-31T21:00:00Z'
                      MidStrikePrice: 0
                      StrikeCount: 50
                      Strikes:
                        - Index: 0
                          Strike: 97.25
                        - Index: 1
                          Strike: 97.375
                        - Index: 2
                          Strike: 97.5
                        - Index: 3
                          Strike: 97.625
                        - Index: 4
                          Strike: 97.75
                        - Index: 5
                          Strike: 97.8125
                        - Index: 6
                          Strike: 97.875
                        - Index: 7
                          Strike: 97.9375
                        - Index: 8
                          Strike: 98
                        - Index: 9
                          Strike: 98.0625
                        - Index: 10
                          Strike: 98.125
                        - Index: 11
                          Strike: 98.1875
                        - Index: 12
                          Strike: 98.25
                        - Index: 13
                          Strike: 98.3125
                        - Index: 14
                          Strike: 98.375
                        - Index: 15
                          Strike: 98.4375
                        - Index: 16
                          Strike: 98.5
                        - Index: 17
                          Strike: 98.5625
                        - Index: 18
                          Strike: 98.625
                        - Index: 19
                          Strike: 98.6875
                        - Index: 20
                          Strike: 98.75
                        - Index: 21
                          Strike: 98.8125
                        - Index: 22
                          Strike: 98.875
                        - Index: 23
                          Strike: 98.9375
                        - Call:
                            High: 0
                            LastClose: 0.095
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.095
                            Open: 0
                            OpenInterest: 0
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485090
                            Volume: 0
                          Index: 24
                          Put:
                            High: 0
                            LastClose: 0
                            LastTraded: 0
                            Low: 0
                            NetChange: 0
                            Open: 0
                            OpenInterest: 0
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485130
                            Volume: 0
                          Strike: 99
                        - Call:
                            High: 0
                            LastClose: 0.035
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.035
                            Open: 0
                            OpenInterest: 0
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485091
                            Volume: 0
                          Index: 25
                          Put:
                            High: 0
                            LastClose: 0.0025
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.0025
                            Open: 0
                            OpenInterest: 250
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485131
                            Volume: 0
                          Strike: 99.0625
                        - Call:
                            High: 0
                            LastClose: 0.0025
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.0025
                            Open: 0
                            OpenInterest: 0
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485092
                            Volume: 0
                          Index: 26
                          Put:
                            High: 0
                            LastClose: 0.0325
                            LastTraded: 0
                            Low: 0
                            NetChange: -0.0325
                            Open: 0
                            OpenInterest: 250
                            PriceTypeAsk: NoMarket
                            PriceTypeBid: NoMarket
                            Uic: 2485132
                            Volume: 0
                          Strike: 99.125
                        - Index: 27
                          Strike: 99.1875
                        - Index: 28
                          Strike: 99.25
                        - Index: 29
                          Strike: 99.3125
                        - Index: 30
                          Strike: 99.375
                        - Index: 31
                          Strike: 99.4375
                        - Index: 32
                          Strike: 99.5
                        - Index: 33
                          Strike: 99.5625
                        - Index: 34
                          Strike: 99.625
                        - Index: 35
                          Strike: 99.6875
                        - Index: 36
                          Strike: 99.75
                        - Index: 37
                          Strike: 99.8125
                        - Index: 38
                          Strike: 99.875
                        - Index: 39
                          Strike: 99.9375
                        - Index: 40
                          Strike: 100
                        - Index: 41
                          Strike: 100.0625
                        - Index: 42
                          Strike: 100.125
                        - Index: 43
                          Strike: 100.1875
                        - Index: 44
                          Strike: 100.25
                        - Index: 45
                          Strike: 100.375
                        - Index: 46
                          Strike: 100.5
                        - Index: 47
                          Strike: 100.625
                        - Index: 48
                          Strike: 100.75
                        - Index: 49
                          Strike: 100.875
                      StrikeWindowStartIndex: 24
                      UnderlyingUic: 2456777
                  ExpiryCount: 0
                  LastUpdated: '0001-01-01T00:00:00Z'
                State: Active
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - InvalidModelState
                      - InvalidRequest
                      - UnsupportedSubscriptionFormat
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidModelState: Error code returned when model state is invalid.
                      UnsupportedSubscriptionFormat: Error code returned when a subscription format that isn't supported by the publisher is requested.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - IllegalInstrumentId
                    type: string
                    example: None
                    x-enum-descriptions:
                      IllegalInstrumentId: Unknown instrument name
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - SubscriptionLimitExceeded
                    type: string
                    example: None
                    x-enum-descriptions:
                      SubscriptionLimitExceeded: 'Error code returned when more than the maximum allowed number of subscriptions for a specified type, is exceeded.'
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      deprecated: true
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Subscribe
      x-streaming-type:
        $ref: '#/components/schemas/OptionsChainResponseDomainEvent'
  /trade/v1/positions/exercise:
    put:
      tags:
        - Positions
      summary: Exercise an amount
      description: 'Forces exercise of an amount across all positions for the specified UIC. This is relevant for Futures Options, Stock Options, Stock Index Options.'
      operationId: PositionsV1ExerciseAmountAsync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExercisePositionRequest'
            example:
              AccountKey: LZTc7DdejXODf-WSl2aCyQ==
              Amount: 100
              AssetType: StockOption
              Uic: 5455848
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionSyncResponse'
              example:
                PositionId: '1019942426'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AmountNotInLotSize
                      - IllegalAmount
                      - IllegalInstrumentId
                      - InstrumentTypeNotSupportedException
                      - InvalidRequest
                      - InvalidUic
                      - MarketClosed
                      - NotTradableAtPresent
                      - OptionExerciseAfterCutoff
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      IllegalInstrumentId: Unknown instrument name
                      IllegalAmount: Illegal amount.
                      AmountNotInLotSize: Order size is not valid for the exchange.
                      InvalidUic: UIC is either invalid or not specified at all.
                      InstrumentTypeNotSupportedException: Unsupported instrument type.
                      MarketClosed: Market is closed.
                      NotTradableAtPresent: Not tradable at present.
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later.
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: ''
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Write
  '/trade/v1/positions/{PositionId}/exercise':
    put:
      tags:
        - Positions
      summary: Exercise a position
      description: 'Forces exercise of a position. This is relevant for Futures Options, Stock Options, Stock Index Options.'
      operationId: PositionsV1ExercisePositionAsync
      parameters:
        - name: PositionId
          in: path
          description: The position identifier.
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExercisePositionRequest'
            example:
              AccountKey: LZTc7DdejXODf-WSl2aCyQ==
              Amount: 100
              AssetType: StockOption
              Uic: 5455848
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionSyncResponse'
              example:
                PositionId: '1019942426'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountIsTradeRestricted
                      - AmountNotInLotSize
                      - ClientExposureLimitation
                      - FXOptionSpotSettlementModeNotAllowed
                      - IllegalAmount
                      - IllegalInstrumentId
                      - InstrumentHasExpired
                      - InstrumentSuspended
                      - InstrumentTypeNotSupportedException
                      - InsufficentCash
                      - InvalidRequest
                      - InvalidUic
                      - MarginBorderline
                      - MarketClosed
                      - NotTradableAtPresent
                      - OptionExerciseAfterCutoff
                      - PendingTradeRequests
                      - WouldExceedEquityConcentrationLimit
                      - WouldExceedMargin
                      - WouldExceedMarginCeiling
                      - WouldExceedTradingLine
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      IllegalInstrumentId: Unknown instrument name
                      IllegalAmount: Illegal amount.
                      AmountNotInLotSize: Order size is not valid for the exchange.
                      InvalidUic: UIC is either invalid or not specified at all.
                      InstrumentTypeNotSupportedException: Unsupported instrument type.
                      NotTradableAtPresent: Not tradable at present.
                      OptionExerciseAfterCutoff: Exercise not allowed after exercise cut-off time or on last trading day or later.
                      ClientExposureLimitation: Trade would exceed client exposure limitation.
                      MarginBorderline: Trade would result in borderline margin
                      MarketClosed: Market is closed.
                      InsufficentCash: Insufficient cash for trade.
                      PendingTradeRequests: Limit of pending trade requests is exceeded
                      InstrumentHasExpired: Instrument has expired
                      AccountIsTradeRestricted: Account is trade restricted.
                      InstrumentSuspended: Trading in instrument is suspended
                      WouldExceedMargin: Trade would exceed margin limits.
                      WouldExceedMarginCeiling: Would exceed margin ceiling.
                      WouldExceedEquityConcentrationLimit: Would exceed equity concentration limit.
                      WouldExceedTradingLine: Trade would exceed trading line limits.
                      FXOptionSpotSettlementModeNotAllowed: Spot settlement mode is not allowed
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '409':
          description: ''
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Write
  '/trade/v1/positions/{PositionId}':
    patch:
      tags:
        - Positions
      summary: Update a position
      description: Updates properties of an existing position.
      operationId: PositionsV1UpdatePosition
      parameters:
        - name: PositionId
          in: path
          description: The position identifier.
          required: true
          style: simple
          schema:
            type: string
          example: '1019942425'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePositionRequest'
            example:
              AccountKey: LZTc7DdejXODf-WSl2aCyQ==
              ExerciseMethod: Spot
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionSyncResponse'
              example:
                PositionId: '1019942426'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountIsTradeRestricted
                      - InvalidRequest
                      - MarginBorderline
                      - PendingTradeRequests
                      - TooLateToSwitchCashSettled
                      - WouldExceedEquityConcentrationLimit
                      - WouldExceedMargin
                      - WouldExceedMarginCeiling
                      - WouldExceedTradingLine
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      AccountIsTradeRestricted: Account is trade restricted.
                      WouldExceedMargin: Trade would exceed margin limits.
                      WouldExceedMarginCeiling: Would exceed margin ceiling.
                      WouldExceedEquityConcentrationLimit: Would exceed equity concentration limit.
                      WouldExceedTradingLine: Trade would exceed trading line limits.
                      MarginBorderline: Trade would result in borderline margin
                      PendingTradeRequests: Limit of pending trade requests is exceeded
                      TooLateToSwitchCashSettled: Too Late To Switch CashSettled
                  Message:
                    type: string
                  ModelState:
                    $ref: '#/components/schemas/ModelStateDictionary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - OpenApiOAuthSecurityScheme: [ ]
        - OpenApiJWTSecurityScheme: [ ]
      x-required-permissions:
        personal: Write
  /trade/v1/positions:
    post:
      tags:
        - Positions
      summary: Create a new position by accepting a quote
      description: "Creates a new position by accepting a quote.\n\n\nThe quote must be the most recent one and it must be tradable (Quote.PriceType=PriceType.Tradable)."
      operationId: PositionsV1CreatePosition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacePositionRequest'
            example:
              AppHint: 12
              BuySell: Buy
              PriceReferenceId: P72733
              QuoteId: '1232145'
              UserPrice: 234.1
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionSyncResponse'
              example:
                PositionId: '1019942426'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                required:
                  - ErrorCode
                  - Message
                type: object
                properties:
                  ErrorCode:
                    enum:
                      - AccountIsTradeRestricted
                      - AmountLowerThanAllocationKeyUnits
                      - BarrierTooCloseToSpot
                      - BrokerOption
                      - ClientCancelsExecute
                      - ClientExposureLimitation
                      - CloseAllPositionsAlreadyBeingClosed
                      - CouldNotCompleteRequest
                      - DirectAccessNotAllowed
                      - IllegalRequest
                      - InstrumentHasExpired
                      - InstrumentNotAllowed
                      - InstrumentSuspended
                      - InsufficentCash
                      - InvalidAllocationKeyUsed
                      - InvalidRequest
                      - MarginBorderline
                      - MarketClosed
                      - NoValidQuote
                      - NotTradableAtPresent
                      - OpeningShortFXOptionPositionsNotAllowed
                      - PendingTradeRequests
                      - PositionBuildupNotValidForInstrument
                      - PriceNotFound
                      - QuoteHasTimedOut
                      - RequoteRequired
                      - ShortTradeDisabled
                      - TooSmallTrade
                      - TradeNotCompleted
                      - WouldExceedEquityConcentrationLimit
                      - WouldExceedMargin
                      - WouldExceedMarginCeiling
                      - WouldExceedTradingLine
                    type: string
                    example: None
                    x-enum-descriptions:
                      InvalidRequest: Invalid request.
                      InvalidAllocationKeyUsed: Order or trade placed with an allocationkey thats invalid marked as inactive or deleted.
                      PriceNotFound: Price from client trade request was not found in price history.
                      NoValidQuote: No valid quote to buy or sell on.
                      MarketClosed: Market is closed.
                      InsufficentCash: Insufficient cash for trade.
                      QuoteHasTimedOut: Quote has timed out.
                      RequoteRequired: 'Price has changed to much, requote required.'
                      BrokerOption: Request rejected by broker.
                      ShortTradeDisabled: Trading Short for selected instrument disabled.
                      NotTradableAtPresent: Not tradable at present.
                      ClientExposureLimitation: Trade would exceed client exposure limitation.
                      MarginBorderline: Trade would result in borderline margin
                      TooSmallTrade: Trade contract size is to small
                      InstrumentSuspended: Trading in instrument is suspended
                      DirectAccessNotAllowed: Instrument invalid for Direct Access trading
                      PendingTradeRequests: Limit of pending trade requests is exceeded
                      InstrumentHasExpired: Instrument has expired
                      AmountLowerThanAllocationKeyUnits: Order or trade placed or changed to amount lower than sum of units in allocation key.
                      CloseAllPositionsAlreadyBeingClosed: The specified closeAll key covers positions already closed by a closeAll key.
[...]
